﻿<div>
    <span style='font-size: 10px;'>
        Pour plus d'informations, veuillez accéder à la version interactive de ce document sur <a href="[#FrontEndUrl]/calendar">[#FrontEndUrl]/calendar</a>.
    </span>
</div>