.ac_holder {
    position: relative;
}

div.autocomplete {
    position: absolute;
    padding: 0;
    border: solid 1px;
    z-index: 50;
}

    div.autocomplete ul {
        list-style: none;
        margin: 0;
        padding: 0;
        overflow: auto;
        position: relative;
        line-height: 14px;
    }

        div.autocomplete ul li {
            background-color: #E7EFF4;
            color: #005596;
            padding: 4px 10px;
            margin: 0;
            text-align: left;
        }

            div.autocomplete ul li.categoryFirst {
                padding: 0 5px;
                vertical-align: middle;
                background-color: #E7EFF4 !important;
                display: none;
            }

                div.autocomplete ul li.categoryFirst h3 img {
                    padding-top: 3px;
                    padding-right: 5px
                }

            div.autocomplete ul li.category {
                border-top: solid 1px;
                padding: 0 5px;
                background-color: #E7EFF4 !important;
            }

            div.autocomplete ul li.last {
                text-align: right;
                padding: 2px 5px;
                border-top: solid 1px;
            }

            div.autocomplete ul li h4 {
                font-size: 12px;
                color: #000;
                margin: 0;
                padding: 3px 0;
            }

                div.autocomplete ul li h4 img {
                    margin-top: 1px !important;
                    padding-top: 0 !important;
                }

            div.autocomplete ul li a,
            div.autocomplete ul li a:link,
            div.autocomplete ul li a:visited {
                text-decoration: none;
                position: relative;
                padding: 2px 0;
                color: #005596;
            }

                div.autocomplete ul li a:hover {
                    font-weight: bold;
                }

            div.autocomplete ul li.ac_highlight {
                background-color: #c1d7e4;
            }

                div.autocomplete ul li.ac_highlight a:hover {
                    color: #005596;
                    background-color: Transparent;
                    font-weight: bold;
                }

            div.autocomplete ul li.ac_warning,
            div.autocomplete ul li.ac_message {
                padding: 0;
            }
