﻿#FeatureOnRootDiv {
    width: 100%;
    margin: 20px 0 0 0px;
}

    #FeatureOnRootDiv h2 {
        margin: 0 0 0 15px;
        font-size: 14px;
    }

#ContentItemDiv {
    width: 95%;
    margin: 10px 0 0 15px;
    background-color: #EEE;
}

#ContentItemInsideDiv {
    padding: 5px;
    border: solid 1px #666;
}

#EditItemDiv {
    width: 100%;
    height: 30px;
    text-align: right;
}

.ContentItemTitleDiv {
    width: 100%;
    margin: -30px 0 0 0;
    font-size: 18px;
}

.ContentItemDescriptionDiv {
    width: 100%;
    margin: 2px 0 0 0;
}

.ContentItemModifiedDateDiv {
    width: 100%;
    margin: 2px 0 0 0;
    color: #999;
}

#FeatureOnTabsDiv {
    width: 95%;
    margin: 10px 0 0 15px;
}

.PageRowDiv {
    position: relative;
    width: 100%;
    margin: 5px 0 0 0;
}

#FeatureOnRootDiv .PageRowDiv h2 {
    display: block;
    float: left;
    width: 150px;
    font-size: 12px;
}

#FeatureOnRootDiv .PageRowDiv input[type=text] {
    width: 400px;
}

#FeatureOnRootDiv .PageRowDiv textarea {
    width: 398px;
    height: 90px;
}

#FeatureOnRootDiv .PageRowDiv .FeatureTextFieldError {
    position: absolute;
    left: 580px;
    top: 0;
    width: 120px;
}

#UseContentItemTitleDiv {
    width: 100%;
    height: 30px;
}

    #UseContentItemTitleDiv input {
        float: left;
        margin: 0px 0 0 0;
    }

    #UseContentItemTitleDiv label {
        float: left;
        margin: -13px 0 0 23px;
    }

#SeeMoreTagsDiv {
    display: block;
    width: 100%;
    padding: 12px 0 0 0;
}

#SeeMoreTagsListDiv {
    clear: both;
    width: 90%;
    padding: 7px 0 0 15px;
}

.SeeMoreTagsListItemDiv {
    float: left;
    width: 260px;
    margin: 0 12px 10px 0;
}

    .SeeMoreTagsListItemDiv input {
        float: left;
    }

    .SeeMoreTagsListItemDiv label {
        display: block;
        float: left;
        margin: -16px 0 0 28px;
    }

#SeeMoreTagsListDiv em {
    display: block;
    clear: both;
    height: 30px;
    padding: 5px 0 0 0px;
}

#LandingPagesDiv {
    display: block;
    clear: both;
    padding: 12px 0 0 0;
}

#LandingPagesListDiv {
    clear: both;
    width: 90%;
    padding: 10px 0 0 15px;
}

#LandingPagesListItemDiv {
    float: left;
    width: 260px;
    margin: 0 12px 10px 0;
}

    #LandingPagesListItemDiv input {
        display: block;
        float: left;
    }

    #LandingPagesListItemDiv select {
        display: block;
        float: left;
        margin: 0px 0 0 4px;
    }

    #LandingPagesListItemDiv label {
        display: block;
        float: left;
        width: 170px;
        margin: 2px 0 0 5px;
    }

#LandingPagesListDiv em {
    display: block;
    clear: both;
    height: 30px;
    padding: 5px 0 0 0px;
}

.FormButtonsDiv {
    clear: both;
    padding: 12px 0 0 12px;
}

#FeatureOnTagsListDiv {
    clear: both;
    width: 90%;
    padding: 10px 0 0 15px;
}

.FeatureOnTagsListItemDiv {
    float: left;
    width: 260px;
    height: 35px;
    margin: 0 12px 10px 0;
}

    .FeatureOnTagsListItemDiv input {
        display: block;
        float: left;
    }

    .FeatureOnTagsListItemDiv select {
        display: block;
        float: left;
        margin: 0px 0 0 4px;
    }

    .FeatureOnTagsListItemDiv label {
        display: block;
        float: left;
        width: 170px;
        margin: 2px 0 0 5px;
    }

#FeatureOnTagsListDiv em {
    display: block;
    clear: both;
    height: 30px;
    padding: 5px 0 0 0px;
}
