.div_redcontent_new {
    float: left;
    width: 380px;
    height: auto;
    margin: 15px 0px 0px 0px !important;
    padding: 0px !important;
}

.sf_items_center img {
    margin-right: 0;
}

.width300 {
    width: 290px !important;
}

.level_right_new {
    float: left;
    margin-left: 10px;
    width: 540px;
}

.submit_bg_btn_left {
    background: #ffffff !important;
}

    .submit_bg_btn_left input {
        height: 25px !important;
        padding-right: 5px;
        width: 72px !important;
    }

        .submit_bg_btn_left input.submit_bg_btn1 {
            background: transparent url(../images/login_btn_bg.gif) no-repeat scroll left top !important;
            color: #FFFFFF !important;
            float: left;
            height: 25px !important;
            width: 75px !important;
            text-transform: uppercase;
            font: bold 10px/16px Verdana, Arial, Helvetica, sans-serif !important;
            cursor: pointer;
            border: none;
        }

    .submit_bg_btn_left a {
        background: url("../images/login_btn_bg.gif") no-repeat scroll left top transparent;
        height: 25px;
        width: 72px;
    }

.btn_left {
    background: #ee3724 url(../images/button_l.gif) left top no-repeat;
    padding: 4px 0 6px 8px;
    margin-top: 9px;
}

.btn_right {
    background: #ee3724 url(../images/button_r.gif) right top no-repeat;
    padding: 5px 12px 6px 0;
    color: #ffffff;
    text-transform: none;
    font: bold 10px Verdana,Arial,Helvetica,sans-serif !important;
}

.col_right .bg_btn_left input {
    height: 25px !important;
    text-transform: uppercase;
    width: 100px !important;
    font: bold 10px/16px Verdana,Arial,Helvetica,sans-serif !important;
}

div#fixme {
    /* IE5.5+/Win - this is more specific than the IE 5.0 version */
    position: absolute;
    top: expression( ( -90 - fixme.offsetHeight + ( document.documentElement.clientHeight ? document.documentElement.clientHeight : document.body.clientHeight ) + ( ignoreMe = document.documentElement.scrollTop ? document.documentElement.scrollTop : document.body.scrollTop ) ) + 'px' ) !important;
}

.div_modal input.submit_bg_btn {
    width: 75px !important;
    height: 25px !important;
    padding-right: 8px;
}

.div_modal .float_right {
    float: right;
    margin-right: 70px;
    padding-right: 0;
}

.row_buttons .cart_requried {
    width: 440px !important;
}

.row_buttons .submit_bg_btn {
    padding-left: 15px;
}

.row_buttons .submit_bg_btn_left a {
    width: 60px;
}

.contact_heading_bg .contactoptions input {
    border: medium none;
    margin: 3px 3px 0 0;
    padding: 0;
    vertical-align: middle;
    width: 16px;
    float: left;
}

.contact_heading_bg .contactoptions label {
    width: 128px;
}

.related_resources p {
    padding-bottom: 5px;
    padding-right: 5px;
    padding-top: 5px;
}

.navigation .nav_btm {
    float: right;
}

div.featured_block div.info {
    width: 175px;
}

div.level1 div.info {
    width: 445px !important;
}

.row_buttons .fix_pad a {
    padding-left: 20px;
}

.div_modal .top_row .btn_close a {
    background: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/portal/inc/images/close_button.png', sizingMethod='scale');
}

.level_right_new .item .info {
    float: left;
    padding-left: 20px;
    width: 410px !important;
}

div.faqs_container div.faq_block div.info {
    float: left;
    padding-left: 10px;
    width: 440px;
}

div.faq_answer div.answer {
    width: 440px;
}

div.faq_question div.question {
    width: 440px;
}

div.faq_question {
    width: 540px;
}

div.faq_answer {
    float: left;
    width: 540px;
}

.center_col_left .six_cards li {
    width: 50px !important;
}

    .center_col_left .six_cards li.first {
        width: 0px !important;
    }

#roto_wrapper {
    padding-top: 8px !important;
}

    #roto_wrapper .slide {
        margin-bottom: 0px;
    }

    #roto_wrapper h2, #roto_wrapper .roto_right .q4 {
        margin-top: -15px;
    }

    #roto_wrapper .roto_right .roto_right_bottom p.roto_instruction {
        position: absolute;
        bottom: 15px;
        left: 0px;
    }

#roto_bottom {
    position: relative;
    top: -10px;
    left: 0px;
}

#roto_wrapper .roto_right .roto_bottom_link {
    position: absolute;
    top: 150px;
    WIDTH: 164px;
    BORDER-TOP: #cbcdcf 1px dotted;
    PADDING-TOP: 5px;
}

.roto_lp_wrapper .slide .roto_left {
    margin-left: 9px;
}

.roto_lp_wrapper .slide .roto_learnmore_button {
    background: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/portal/inc/images/roto_learnmore.png', sizingMethod='scale')
}

.current_promotions .promo_box {
    margin-right: 54px;
}

.home_marketing_center {
    zoom: 1;
    margin-top: -6px;
}

.center_col_left .row_top_right {
    float: left;
}
