.navigation .nav_btm { float: right; }
.div_redcontent_new{float:left; width:380px; height:auto; margin:15px 0px 0px 0px !important; padding:0px !important;}

.sf_items_center img {margin-right: 0;}

.width300 { width:290px !important;}

.level_right_new { float:left; margin-left:10px; width:540px; }            
       
.div_modal .top_row { padding: 5px 0 30px 10px; background:url(../images/dotted.gif) left bottom no-repeat; margin: 0 2px 0px 1px; }
.div_modal label { font-weight: normal; display:block; float: left; width: 145px; margin-left: 0px; padding-left: 12px; }

.btn_left { background: #ee3724 url(../images/button_l.gif) left top no-repeat; padding: 4px 0 6px 8px; margin-top: 9px; }
.btn_right { background: #ee3724 url(../images/button_r.gif) right top no-repeat; padding: 5px 12px 6px 0; color: #ffffff; text-transform:none; font:bold 10px Verdana,Arial,Helvetica,sans-serif !important;}

.col_right .btn_AddToCart{ float:left; background:url(../images/btn_bg1.gif) left top no-repeat; height:25px; width: 90px; padding: 0; margin: 0 0 0 10px; font: bold 10px/16px Verdana, Arial, Helvetica, sans-serif !important;}
.col_right .btn_AddToCart input { background:transparent url(../images/btn_bg1.gif) no-repeat scroll left top !important; color:#FFFFFF !important; float:left; height:22px !important; width: 85px !important; text-transform: uppercase; font: bold 10px/16px Verdana, Arial, Helvetica, sans-serif !important; cursor: pointer; border: none; }

div.level1 div.info { width:460px; }

.level_right_new .item .info { float:left; padding-left:20px; width: 410px !important; }

.landing_page_body_html_container div.promotions-title { padding: 40px 0 0 0; margin: 0 0 -20px 0; display: block;}

.promotions { float:left; width:248px; }

.InsertsBundlePackageDiv .promo img { float: left; }

.BundleBoxMiddleDiv .last .left { padding-bottom: 9px; }
.BundleBoxMiddleDiv .last .right { padding-bottom: 9px; }

.EnrollmentDiv .BundleBoxBottomDiv { margin-top: -1px;}

