
.col_right .btn_AddToCart{ float:left; background:url(../images/btn_bg1.gif) left top no-repeat; height:25px; width: 90px; padding: 0; margin: 0 0 0 10px; font: bold 10px/16px Verdana, Arial, Helvetica, sans-serif !important;}
.col_right .btn_AddToCart input { background:transparent url(../images/btn_bg1.gif) no-repeat scroll left top !important; color:#FFFFFF !important; float:left; height:22px !important; width: 85px !important; text-transform: uppercase; font: bold 10px/16px Verdana, Arial, Helvetica, sans-serif !important; cursor: pointer; border: none; }
