﻿body { margin:0px; padding:0px; font:11px Verdana, Arial, Helvetica, sans-serif; color:#666666; }
.main_container{ margin:auto; width:958px; }
h1 { font-size: 2.1em; font-weight: normal; }
h2 { font-size: 1.5em; font-weight: normal; }
h3 { font-size: 1.3em; font-weight: normal; }
a { color:#446E95; text-decoration: none; }

/*Sales force*/  
      .center_col_left .marketing { margin-left: 10px; margin-top: 12px; }
	  .center_col_left .marketing .header { background: #88b2d8; height: 55px; color: #ffffff; }
		.center_col_left .marketing .header .left { float: left; padding: 10px; font-weight: bold; }
		.center_col_left .marketing .header .left .name { font-size: 1.2em;}
		.center_col_left .marketing .header .left .region { font-size: 1.4em;}
      .center_col_left .marketing .col_left { float: left; width: 485px; }
      .center_col_left .marketing .col_right { float: left; width: 260px; padding-left: 20px; }
			.marketing dl { margin-top: 10px; }
            .marketing dl dt { font-weight: bold; color: #ffffff; padding: 3px 10px 4px 10px;}
            .marketing dl dd {margin: 0; padding: 10px 0; }
                .marketing dl dd div.left {float: left; width: 235px; }
				.marketing dl dd img { float: left; border:none; }
                    .marketing dl dd .grey_header { background: transparent url(../images/salesforce/grey_box.png) no-repeat right top; width: 206px; height: 68px; padding: 5px 10px 10px 10px; margin-bottom: 5px; }
                        .marketing dl dd .grey_header p { float: right; width: 130px; color: #455560; font-weight: bold; font-size: 12px; padding-top: 10px; }
                .marketing dl dd div.right {float: right; margin-left: 15px; width: 235px;}
                    .marketing dl dd p { margin: 0 !important; }
                    .marketing dl dd p.title { font-size: 14px; line-height: 1.2em; padding-bottom: 8px; margin: 0;  }
                    .marketing dl dd .promo-info { float: right; width: 155px; }
                        .marketing dl dd .promo-info .title { font-size: 14px; line-height: 1.2em; padding-bottom: 10px !important; margin: 0; }
                        .marketing dl dd .promo-info .greyhead { color:#939598; font-size:10px; text-transform:uppercase; }
                        .marketing dl dd .promo-info .dates { color: #58585a; font-size:10px; font-weight: bold;}
                .marketing dl dd div.marketing_footer { border-top: 1px solid #6d6e71; padding-top: 5px; margin-top: 10px; margin-bottom: 5px; }
                    .marketing dl dd div.marketing_footer .left { float: left; width: 215px; }
                    .marketing dl dd div.marketing_footer .right {float: right; margin-left: 15px; }
                        .marketing dl dd div.marketing_footer .bullet { background: transparent url(../images/blue_arrow.gif) no-repeat 0 2px; padding-left: 8px;}
            .center_col_left .marketing .col_right .right { float: right; width: 180px; font-size: 11px;}
                    .marketing .col_right dl dd div.marketing_footer .left { float: left; width: 120px; }
						.marketing .col_right dl dd div.marketing_footer .left p.larger { font-size:12px; }
                    .marketing .col_right dl dd div.marketing_footer .right { float: right; width: 120px; }
						.marketing .col_right dl dd div.marketing_footer .right .cal-link { background:url(/portal/inc/images/icons/cal-icon.gif) left center no-repeat; line-height:24px; padding:2px 0 2px 20px; }