﻿<%@ Page Language="C#" AutoEventWireup="true" MasterPageFile="~/WebForms/WebForms.Master" %>

<%@ Register Src="~/WebForms/UserControls/InsertsBundleReportControl.ascx" TagName="InsertsBundleReport" TagPrefix="uc1" %>

<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" runat="Server">

    <uc1:InsertsBundleReport runat="server" id="InsertsBundleReport" />  

</asp:Content>
