﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="UserProfile.aspx.cs" Inherits="Mastercard.MarketingCenter.Cms.WebForms.UserProfile" MasterPageFile="~/WebForms/WebForms.Master" %>

<%@ Register Src="~/WebForms/UserControls/UserProfile.ascx" TagName="UserProfile" TagPrefix="uc1" %>

<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" runat="Server">

    <uc1:UserProfile ID="UserProfile1" runat="server" />

</asp:Content>
