﻿body {
    margin: 0px;
    padding: 0px;
    font: 11px Verdana, Arial, Helvetica, sans-serif;
    color: #666666;
}

.main_container {
    margin: auto;
    width: 958px;
}
/*.main_container{margin:auto; width:958px; height:500px; margin-top:22px;}*/
.under_construction {
    font: 12px Verdana, Arial, Helvetica, sans-serif;
    color: #666666;
    text-align: left;
    padding-left: 10px;
}
/* header_part*/

.logo_container {
    width: 958px;
    margin: 0px;
    padding: 0px;
}

    .logo_container .leftheader {
        width: 10px;
        height: 88px;
        background: url(../images/left_header.gif) no-repeat;
        float: left;
    }

    .logo_container .rightheader {
        width: 10px;
        height: 88px;
        background: url(../images/right_header.gif) no-repeat;
        float: left;
    }

    .logo_container .centerheader {
        width: 938px;
        height: 88px;
        background: url(../images/center_header_bg.gif) repeat-x;
        float: left;
    }

        .logo_container .centerheader .logo_div {
            float: left;
            width: auto;
            margin: 11px 0px 0px 8px;
        }

        * html .logo_container .centerheader .logo_div {
            float: left;
            width: auto;
            margin: 11px 0px 0px 4px;
        }

        .logo_container .centerheader .logo_processor {
            float: right;
            width: auto;
            width: 236px;
            height: 56px;
            margin: 13px 10px 0px 10px;
        }

        * html .logo_container .centerheader .logo_processor {
            float: right;
            width: 236px;
            height: 56px;
            margin: 13px 5px 0px 8px;
        }

        .logo_container .centerheader .navigation {
            width: 420px;
            float: left;
            height: 20px;
            margin-top: 50px;
            margin-left: 50px;
        }

            .logo_container .centerheader .navigation ul {
                margin: 0px;
                padding: 0px;
                list-style-type: none;
            }

                .logo_container .centerheader .navigation ul li {
                    display: inline;
                    margin-left: 13px;
                }

                    .logo_container .centerheader .navigation ul li a {
                        font: bold 11px Tahoma, sans-serif;
                        color: #666666;
                        text-decoration: none;
                    }

                        .logo_container .centerheader .navigation ul li a:hover {
                            color: #7B0000;
                        }

.navigationonstate {
    color: #7B0000 !important;
}
/*header_end*/
/*center part*/
.print_navigation {
    float: right;
    margin: 7px 5px 19px 0px;
}

* html .print_navigation {
    float: right;
    margin: 3px 3px 19px 0px;
}

    .print_navigation ul {
        list-style-type: none;
        margin: 0px;
        padding: 0px;
    }

        .print_navigation ul li {
            display: inline;
            float: left;
            margin-left: 16px;
        }

            .print_navigation ul li a img {
                margin-right: 5px;
                padding: 0px;
            }

            .print_navigation ul li a {
                font: bold 11px Verdana, Arial, Helvetica, sans-serif;
                color: #666666;
                text-decoration: none;
            }

                .print_navigation ul li a:hover {
                    color: #666666;
                    cursor: pointer;
                }
/*center part end*/
/*main center part*/
.center_container {
    width: 100%;
    float: left;
}

    .center_container .left_part {
        float: left;
        width: 628px;
    }

        .center_container .left_part .ads_top {
            background: url(../images/ads_top.gif) no-repeat;
            height: 11px;
            width: 627px;
            overflow: hidden;
        }

        .center_container .left_part .ads_bootom {
            background: url(../images/ads_bottom.gif) no-repeat;
            height: 11px;
            width: 627px;
            overflow: hidden;
        }

        .center_container .left_part .ads_center {
            background: url(../images/ads_bg.gif) repeat-y;
            width: 618px;
            padding-left: 9px;
        }

        .center_container .left_part p {
            font: 12px/17px Verdana, Arial, Helvetica, sans-serif;
            color: #666666;
            margin: 10px;
        }

    .center_container .right_part {
        float: right;
        width: 311px;
    }

.sharepoint_h3 {
    height: 30px;
    float: left;
    width: 100%;
    margin: 0px;
    padding: 0px;
    font: bold 12px Verdana, Arial, Helvetica, sans-serif;
    color: #666666;
}

    .sharepoint_h3 span {
        margin-left: 12px;
        display: block;
        height: 25px;
        padding-top: 5px;
    }

.main_bottom {
    background: url(../images/bottom_bg.gif) no-repeat left top;
    height: 6px;
    float: left;
    width: 311px;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
}

.center_main_bg {
    background: url(../images/center_main_bg.gif) repeat-y;
    width: 311px;
    float: left;
}

.main_pannel {
    width: 100%;
    float: left;
}

.main_content {
    width: 286px;
    float: left;
    margin-top: 10px;
    margin-left: 12px;
}

* html .main_content {
    width: 286px;
    float: left;
    margin-top: 10px;
    margin-left: 6px;
}

    .main_content img {
        width: auto;
        float: left;
        margin-right: 10px;
    }

    .main_content p {
        margin: 0px 15px 0px 10px;
        font: 11px/15px Verdana, Arial, Helvetica, sans-serif;
        color: #666666;
    }

        .main_content p .heading {
            font: bold 12px/15px Verdana, Arial, Helvetica, sans-serif;
            color: #666666;
            display: block;
        }

.bottom_head {
    color: #093678;
    font: bold 12px/22px Verdana, Arial, Helvetica, sans-serif;
    border-top: 1px dotted #666666;
    float: left;
    width: 92%;
    margin-top: 10px;
    margin-left: 12px;
}

    .bottom_head a {
        color: #093678;
        font: 12px/22px Verdana, Arial, Helvetica, sans-serif;
        text-decoration: none;
    }

* html .bottom_head {
    color: #093678;
    font: 12px/22px Verdana, Arial, Helvetica, sans-serif;
    border-top: 1px dotted #666666;
    float: left;
    width: 92%;
    margin-top: 10px;
    margin-left: 6px;
}

.mrt20 {
    margin-top: 20px;
    float: left;
    width: 100%;
}

* html .mrt20 {
    width: 100%;
}

.level_top {
    background: url(../images/top_level.gif) no-repeat;
    height: 10px;
    width: 733px;
    overflow: hidden;
}

.level_bootom {
    background: url(../images/bottom_level.gif) no-repeat;
    height: 10px;
    width: 733px;
    overflow: hidden;
}

.level_center {
    background: url(../images/bg_level.gif) repeat-y;
    width: 723px;
    padding-left: 10px;
    float: left;
}

    .level_center img {
        margin-right: 15px;
        float: left;
    }

    .level_center p {
        font: 12px/17px Verdana, Arial, Helvetica, sans-serif;
        color: #666666;
        margin: 0px 10px 0px 0px;
        padding: 0px;
    }

.level_left {
    width: 200px;
    float: left;
}

.level_right {
    width: 723px;
    float: left;
    margin-left: 20px;
}

.level_right_new {
    width: 552px;
    float: left;
    margin-left: 20px;
}

    .level_right_new h3 {
        width: 100%;
        float: left;
        margin-top: 20px;
        font: bold 12px Verdana, Arial, Helvetica, sans-serif !important;
        color: #093678 !important;
        background: none !Important;
        background: url(../images/sep_border.gif) left bottom repeat-x !important;
        padding-bottom: 5px;
        height: auto !important;
    }

        .level_right_new h3 a {
            font: 12px Verdana, Arial, Helvetica, sans-serif !important;
            color: #093678 !important;
            text-decoration: none;
            height: auto;
        }

        .level_right_new h3 span {
            font: 12px Verdana, Arial, Helvetica, sans-serif;
            color: #ff6600 !important;
            background: none !Important;
            height: 20px !important;
            margin: 0px !important;
            padding: 0px 0px 0px 5px;
            display: inline;
        }

.no_margin {
    font: 14px Verdana, Arial, Helvetica, sans-serif !important;
    color: #ff6600 !important;
    padding-left: 0px !important;
    margin: 0px !important;
}

.level_right_new p {
    font: 12px/17px Verdana, Arial, Helvetica, sans-serif;
    color: #666666;
    margin: 0px 10px 0px 0px;
    padding: 0px;
}

.level_right_new .heading_paragraph {
    font: 14px/17px Verdana, Arial, Helvetica, sans-serif !important;
    color: #666666 !important;
    margin: 0px;
    padding: 0px;
}

.level_right_new .paragraph {
    font: 11px/17px Verdana, Arial, Helvetica, sans-serif;
    color: #666666;
    margin: 0px;
    padding: 0px;
}

    .level_right_new .paragraph a {
        font: 11px/17px Verdana, Arial, Helvetica, sans-serif;
        color: #093678;
        text-decoration: none;
    }

.level_right_new .adsparagraph {
    font: 11px/17px Verdana, Arial, Helvetica, sans-serif;
    color: #666666;
    margin: 0px;
    padding: 0px;
    float: none;
}

    .level_right_new .adsparagraph a {
        font: 11px/17px Verdana, Arial, Helvetica, sans-serif;
        color: #093678;
        text-decoration: none;
        display: inline;
    }

        .level_right_new .adsparagraph a:hover {
            text-decoration: underline;
        }

.level_right_new .paragraph a:hover {
    text-decoration: underline;
}

.orange_head {
    font: 23px/20px Verdana, Arial, Helvetica, sans-serif;
    color: #ff6600;
    display: block;
    letter-spacing: 1px;
}

.mrtb {
    margin-bottom: 20px;
}

.borbottom {
    padding-bottom: 10px;
    background: url(../images/sep_border.gif) left bottom repeat-x;
}

.borbottom_nav {
    background: url(../images/sep_border.gif) left bottom repeat-x;
    height: 25px;
}

.width_level {
    background: url(../images/sep_border.gif) left bottom repeat-x;
    padding-bottom: 18px;
    width: 733px;
}
/*maincenter part end*/
/*footer class*/
.footer {
    width: 958px;
    float: left;
    border-top: 1px solid #999999;
    margin-top: 15px;
    height: 35px;
}

    .footer .footer_navigation {
        width: auto;
        float: left;
        margin-top: 10px;
        font: 10px Verdana, Arial, Helvetica, sans-serif;
        color: #666666;
        margin-right: 5px;
    }

        .footer .footer_navigation ul {
            margin: 0px;
            padding: 0px;
            list-style-type: none;
            width: 400px;
        }

            .footer .footer_navigation ul li {
                display: inline;
            }

                .footer .footer_navigation ul li a {
                    font: 10px Verdana, Arial, Helvetica, sans-serif;
                    color: #666666;
                    text-decoration: none;
                    margin: 0px 5px 0px 5px;
                }

                    .footer .footer_navigation ul li a:hover {
                        color: #7B0000;
                    }

    .footer .copy_right {
        width: auto;
        float: right;
        margin-top: 10px;
        font: 10px Verdana, Arial, Helvetica, sans-serif;
        color: #666666;
        margin-right: 5px;
    }

    * html .footer .copy_right {
        width: auto;
        float: right;
        margin-top: 10px;
        font: 10px Verdana, Arial, Helvetica, sans-serif;
        color: #666666;
        margin-right: 2px;
    }
/*end footer*/
/* common class's*/
.clr {
    clear: both;
}

.category_option {
    margin: 20px 41px 0px 0px;
    padding: 0px;
    width: 150px;
    float: left;
}

* html .category_option {
    margin: 20px 10px 0px 0px;
    padding: 0px;
    width: 145px;
    float: left;
}

    .category_option ul {
        margin: 0px;
        padding: 0px;
        list-style-type: none;
    }

        .category_option ul li {
            float: left;
            width: 150px;
            margin: 5px 0px 0px 0px !important;
            padding: 0px !important;
            line-height: 0px;
            white-space: nowrap;
        }

            .category_option ul li a {
                color: #093678 !important;
                font: 11px Verdana, Arial, Helvetica, sans-serif !important;
                text-decoration: none !important;
                line-height: 15px !important;
            }

            .category_option ul li span {
                color: #666666 !important;
                font: 11px Verdana, Arial, Helvetica, sans-serif !important;
                margin: 0px;
                padding: 0px 0px 0px 5px;
            }

.main_right {
    margin-right: 0px !important;
}

.nav_heading {
    float: left;
    background: url(../images/sep_border.gif) left bottom repeat-x;
    width: 150px;
    font-size: 12px;
    font-family: Tahoma, sans-serif;
    line-height: 28px;
    color: #FF6600 !important;
    text-decoration: none;
    font-weight: bold !important;
    margin-bottom: 5px;
}

.grey_head {
    font: 23px/20px Verdana, Arial, Helvetica, sans-serif;
    color: #666666;
    display: block;
    letter-spacing: 1px;
}

.red_top {
    background: url(../images/red_head.gif) no-repeat;
    width: 537px;
    height: 30px;
    float: left;
    margin-top: 12px;
    color: #ffffff;
    font: bold 14px/30px Verdana, Arial, Helvetica, sans-serif;
    padding-left: 15px;
}

.red_center {
    background: url(../images/red_center.gif) repeat-y;
    width: 552px;
    float: left;
    padding-bottom: 10px;
}

.featured_img {
    border: 1px solid gray !important;
}

.red_center span img {
    margin: 15px 10px 0px 15px;
    float: left;
    height: 100%;
    width: auto;
    border: 1px solid gray;
}

* html .red_center span img {
    margin: 15px 10px 0px 15px;
    float: left;
    height: 100%;
    width: auto;
}

.red_bottom {
    background: url(../images/red_bottom.gif) no-repeat;
    width: 552px;
    float: left;
    height: 7px;
    overflow: hidden;
}

* {
    outline: none;
}

.level_blue_head {
    margin: 0px 0px 5px 0px !important;
    margin-bottom: 5px;
    font: 12px Verdana, Arial, Helvetica, sans-serif !important;
    color: #093678 !important;
    padding: 0px;
    width: 370px;
}

    .level_blue_head a {
        font: 12px Verdana, Arial, Helvetica, sans-serif !important;
        color: #093678 !important;
        text-decoration: none !important;
    }

    .level_blue_head .span {
        font: 12px Verdana, Arial, Helvetica, sans-serif !important;
        color: #ff6600 !important;
        margin: 0 !important;
        float: none !important;
    }
/* pagenation class*/
.pagenation {
    font: bold 11px/50px Verdana, Arial, Helvetica, sans-serif;
    color: #666666;
    text-decoration: none;
}

    .pagenation a {
        color: #093678;
        text-decoration: none;
    }

        .pagenation a:hover {
            text-decoration: underline;
        }
/*end*/
.inner_top {
    background: url(../images/inner_top.gif) no-repeat;
    width: 190px;
    height: 25px;
    font: bold 12px/25px Verdana, Arial, Helvetica, sans-serif;
    color: #ff6600;
    padding-left: 10px;
}

.inner_bottom {
    background: url(../images/inner_bottom.gif) no-repeat;
    width: 200px;
    height: 7px;
    float: left;
    overflow: hidden;
}

.inner_center {
    background: url(../images/inner_bg.gif) repeat-y;
    width: 200px;
    float: left;
}

    .inner_center .link_blue {
        font: 11px/18px Verdana, Arial, Helvetica, sans-serif;
        color: #093678;
        margin-left: 10px;
        text-decoration: none;
    }

    .inner_center p {
        margin: 0px;
        padding: 0px;
    }

        .inner_center p span {
            display: block;
        }

    .inner_center .grey_text {
        font: 11px/18px Verdana, Arial, Helvetica, sans-serif;
        color: #666666;
        display: inline !important;
    }

    .inner_center .grey {
        font: normal 11px Verdana, Arial, Helvetica, sans-serif;
        color: #666666;
        margin: 7px 0px 0px 10px;
        float: left;
        width: 80%;
    }

        .inner_center .grey a {
            font: normal 11px Verdana, Arial, Helvetica, sans-serif;
            color: #093678;
            text-decoration: none;
            float: none !important;
            margin: 0px;
        }

    .inner_center .heading_grey {
        width: 190px;
        margin-top: 5px;
        margin-bottom: 5px;
        font: bold 13px Verdana, Arial, Helvetica, sans-serif !important;
        color: #666666 !important;
        background: url(../images/sep_border.gif) left bottom repeat-x;
        height: 20px !important;
        padding-left: 10px;
        display: block;
    }

.mar_none {
    margin-top: 0px !important;
}

.blue_link {
    font: bold 11px Verdana, Arial, Helvetica, sans-serif;
    float: left;
    margin: 10px 0px 0px 0px;
    text-decoration: none;
    color: #093678;
}

    .blue_link:hover {
        text-decoration: underline;
    }

.blue_link_small {
    font: 10px Verdana, Arial, Helvetica, sans-serif;
    float: left;
    margin: 10px 0px 0px 0px;
    text-decoration: none;
    color: #093678;
}

    .blue_link_small:hover {
        text-decoration: underline;
    }

.grey_small {
    font: bold 11px/13px Verdana, Arial, Helvetica, sans-serif;
    color: #666666;
    width: 100%;
    margin-top: 10px;
    float: left;
}

.grey_small_content {
    font: 11px/12px Verdana, Arial, Helvetica, sans-serif;
    color: #666666;
    width: 100%;
    margin-top: 1px;
    float: left;
}

.orange_heading {
    font: bold 16px Arial, Helvetica, sans-serif;
    color: #ff6600;
}

.grey_head_small {
    font: 10px Verdana, Arial, Helvetica, sans-serif;
    color: #666666;
}

.img-pdf {
    float: left;
    margin-right: 10px;
}

.input_small {
    width: 50px !important;
    border: 1px solid #666666;
    font: 11px Arial, Helvetica, sans-serif;
    color: #666666;
    margin-left: 5px;
}

.input_small_1 {
    width: 84px !important;
    border: 1px solid #666666;
    font: 11px Arial, Helvetica, sans-serif;
    color: #666666;
    margin-left: 0px;
}

label {
    font: bold 11px/13px Verdana, Arial, Helvetica, sans-serif;
    color: #666666;
    width: 100%;
    margin-top: 10px;
    margin-left: 5px;
}

.forget_label {
    font: bold 11px/13px Verdana, Arial, Helvetica, sans-serif;
    color: #666666;
    margin-top: 10px;
    margin-left: 5px;
    padding-right: 25px;
}

.btn {
    margin-left: 10px;
    vertical-align: middle;
}

.grid_top {
    background: url(../images/grid_1.gif) no-repeat;
    width: 395px;
    float: left;
    height: 25px;
    font: bold 12px/25px Verdana, Arial, Helvetica, sans-serif;
    color: #ff6600;
    padding-left: 10px;
}

.grid_center {
    background: url(../images/grid_bg.gif) repeat-y;
    width: 405px;
    float: left;
}

.grid_bottom {
    background: url(../images/grd_3.gif) no-repeat;
    width: 405px;
    overflow: hidden;
    height: 5px;
}

.grid-main {
    width: 99%;
    float: left;
    background: #EEEFEF;
    height: 25px;
    margin: 0px 2px 0px 2px;
}

* html .grid-main {
    width: 99%;
    float: left;
    background: #EEEFEF;
    height: 25px;
    margin: 0px 1px 0px 1px;
}

    .grid-main .left_grid {
        float: left;
        width: 35%;
        font: 11px/20px Verdana, Arial, Helvetica, sans-serif;
        color: #666666;
        margin-left: 15px;
    }

    .grid-main .right_grid {
        float: right;
        width: 35%;
        font: 11px/20px Verdana, Arial, Helvetica, sans-serif;
        color: #666666;
        margin-left: 15px;
    }

    * html .grid-main .left_grid {
        float: left;
        width: 43%;
        font: 11px/20px Verdana, Arial, Helvetica, sans-serif;
        color: #666666;
        margin-left: 7px;
    }

    * html .grid-main .right_grid {
        float: right;
        width: 43%;
        font: 11px/20px Verdana, Arial, Helvetica, sans-serif;
        color: #666666;
    }

    .grid-main a {
        font: bold 10px/20px Verdana, Arial, Helvetica, sans-serif;
        text-decoration: none;
        color: #093678;
    }

.grid-main-nav {
    width: 99%;
    float: left;
    background: #ffffff;
    height: 25px;
    margin: 0px 2px 0px 2px;
}

* html .grid-main-nav {
    width: 99%;
    float: left;
    background: #ffffff;
    height: 25px;
    margin: 0px 1px 0px 1px;
}

    .grid-main-nav .left_grid {
        float: left;
        width: 40%;
        font: 11px/20px Verdana, Arial, Helvetica, sans-serif;
        color: #666666;
        margin-left: 15px;
    }

    .grid-main-nav .right_grid {
        float: right;
        width: 35%;
        font: 11px/20px Verdana, Arial, Helvetica, sans-serif;
        color: #666666;
        margin-left: 15px;
    }

    * html .grid-main-nav .left_grid {
        float: left;
        width: 43%;
        font: 11px/20px Verdana, Arial, Helvetica, sans-serif;
        color: #666666;
        margin-left: 7px;
    }

    * html .grid-main-nav .right_grid {
        float: right;
        width: 43%;
        font: 11px/20px Verdana, Arial, Helvetica, sans-serif;
        color: #666666;
        margin-left: 7px;
    }

.third_lab {
    width: 405px;
    float: right;
}

.third_left_lab {
    width: 135px;
    float: left;
}

.roundcont {
    width: 270px !important;
    background-color: #ff6600;
}

    .roundcont p {
        margin: 0 10px;
        color: #ffffff !important;
        font: 12px/15px Verdana, Arial, Helvetica, sans-serif !important;
    }

.roundtop {
    background: url(../images/tr.gif) no-repeat top right;
}

.roundbottom {
    background: url(../images/br.gif) no-repeat top right;
}

img.corner {
    width: 15px;
    height: 15px;
    border: none;
    display: block !important;
}
/*devloper end**/
.nooption {
    font-style: italic;
    margin: 0px 0px 0px 15px;
    padding: 0px;
    float: left;
}

.div_redcontent_new {
    float: left;
    width: 380px;
    height: auto;
    margin: 15px 0px 0px 0px !important;
    padding: 0px !important;
}

.flt_mot {
    float: left;
}

.new_top {
    float: left;
    margin: 15px 0px 0px 15px;
}

.ms-error {
    padding: 5px 10px 10px 14px;
    font: 11px/16px Verdana, Arial, Helvetica, sans-serif;
    color: Red;
}

    .ms-error a {
        color: #093678;
        font: 11px/16px Verdana, Arial, Helvetica, sans-serif !important;
        font-weight: normal;
        text-decoration: none;
    }

.pad_left {
    padding-left: 10px;
}

/*new_css 6jan 09 */
.sign_ads_top {
    background: url(../images/sign_up_top.gif) no-repeat;
    width: 515px;
    height: 11px;
    font-size: 2px;
    float: left;
}

.sign_ads_bot {
    background: url(../images/sign_up_bot.gif) no-repeat;
    width: 515px;
    height: 11px;
    overflow: hidden;
    float: left;
}

.sign_ads_bg {
    background: url(../images/sign_up_bg.gif) repeat-y;
    width: 515px;
    padding-left: 10px;
    float: left;
}

.left_short_container {
    float: left;
    width: 515px;
}

    .left_short_container div p {
        font: 12px/17px Verdana, Arial, Helvetica, sans-serif;
        color: #666666;
        margin: 10px;
    }

.sign_right_part {
    float: right;
    width: 411px;
}

.login_bg {
    background: transparent url(../images/login_bg.gif) repeat-y;
    float: left;
    width: 411px;
    padding-bottom: 6px;
}

.login_bottom {
    background: transparent url(../images/login_bot.gif) no-repeat;
    float: left;
    height: 9px;
    margin: 0;
    overflow: hidden;
    padding: 0;
    width: 411px;
}

.login_bg p {
    font: 11px/16px Verdana, Arial, Helvetica, sans-serif;
    color: #666666;
    width: 90%;
    float: left;
    margin: 12px 14px 0px 14px;
    padding: 0px;
}

* html .login_bg p {
    font: 11px/16px Verdana, Arial, Helvetica, sans-serif;
    color: #666666;
    width: 90%;
    float: left;
    margin: 12px 14px 0px 7px;
    padding: 0px;
}

.submit_bg_btn {
    background: url(../images/btn_bg_right.gif) right top no-repeat;
    padding-right: 10px;
    font: bold 11px/20px Arial, Helvetica, sans-serif !important;
    color: #ffffff !important;
    height: 20px;
    float: left;
    text-decoration: none;
}

.submit_bg_btn_left {
    background: url(../images/btn_bg_left.gif) left top no-repeat;
    margin: 9px 0px 0px 14px;
    height: 20px;
    float: left;
    padding-left: 8px;
}

* html .submit_bg_btn_left {
    background: url(../images/btn_bg_left.gif) left top no-repeat;
    margin: 9px 0px 0px 7px;
    height: 20px;
    float: left;
    padding-left: 8px;
}


.login_bg p label {
    width: 75px;
    font: bold 11px/20px Verdana, Arial, Helvetica, sans-serif;
    color: #666666;
    margin: 0px;
    padding: 0px;
    float: left;
}

.login_bg p input {
    width: 198px;
    border: 1px solid #818386;
    font: 12px Arial, Helvetica, sans-serif;
    color: #666666;
    padding: 3px 2px 3px 2px;
    margin: 0px;
}

.block_display {
    display: block;
}

.mrtop_14px {
    margin-top: 14px;
    float: left;
}

.mrleft_15px {
    margin-left: 15px !important;
    float: left;
}

.frmr90px {
    float: right;
    margin-right: 90px;
}

* html .frmr90px {
    float: right;
    margin-right: 88px;
}

.forget_bluelink {
    font: 11px Verdana, Arial, Helvetica, sans-serif;
    float: left;
    text-decoration: none;
    color: #093678;
    margin-top: 13px;
}

    .forget_bluelink:hover {
        text-decoration: underline;
    }

/* today update*/


.breadcurm {
    font: 9px/35px Verdana, Arial, Helvetica, sans-serif;
    color: #666666;
    float: left;
}

    .breadcurm a {
        font: 9px/35px Verdana, Arial, Helvetica, sans-serif;
        color: #666666;
        text-decoration: none;
    }


.bg_btn_red {
    background: url(../images/btn_bg_left.gif) left top no-repeat;
    margin: 9px 0px 0px 0px;
    height: 20px;
    float: left;
    padding-left: 8px;
}

    .bg_btn_red input {
        background: url(../images/btn_bg_right.gif) right top no-repeat;
        padding: 0px 20px 1px 10px !important;
        font: bold 11px Arial, Helvetica, sans-serif !important;
        color: #ffffff !important;
        height: 20px;
        float: left;
        text-decoration: none;
        width: auto !important;
    }

.bg_grey_disable {
    background: url(../images/grey_left.gif) left top no-repeat;
    margin: 9px 0px 0px 0px;
    height: 20px;
    float: left;
    padding-left: 8px;
}

    .bg_grey_disable input {
        background: url(../images/grey_right.gif) right top no-repeat;
        padding: 0px 20px 0px 15px !important;
        font: bold 11px Arial, Helvetica, sans-serif !important;
        color: #333333 !important;
        height: 20px;
        float: left;
        text-decoration: none;
        width: auto !important;
    }

.grey_bg_disable {
    background: url(../images/grey_right.gif) right top no-repeat;
    padding-right: 10px;
    font: bold 11px/20px Arial, Helvetica, sans-serif !important;
    color: #333333 !important;
    height: 20px;
    float: left;
    text-decoration: none;
}



.roundcont_error {
    width: 100% !important;
    background-color: #EEEEEE;
}

    .roundcont_error p {
        margin: 0 14px !important;
        color: #ffffff !important;
        font: 12px/15px Verdansa, Arial, Helvetica, sans-serif !important;
        padding: 0px 0px 10px 0px !important;
    }

        .roundcont_error p a {
            text-decoration: underline;
            color: #ffffff;
        }


.roundcont_pop {
    width: 100% !important;
    background-color: #EEEEEE;
}

    .roundcont_pop p {
        margin: 0 14px;
        color: #666666 !important;
        font: 12px/15px Verdana, Arial, Helvetica, sans-serif !important;
    }

        .roundcont_pop p a {
            margin: 12px 0px 5px 0px;
            display: block;
        }

.form_container {
    float: left;
    margin-bottom: 20px;
    width: 100%;
    padding-left: 15px;
    padding-top: 15px;
}

.orange_heading_profile {
    font: 23px/20px Verdana, Arial, Helvetica, sans-serif;
    color: #ff6600;
    margin-bottom: 20px;
}

.form_container p {
    font: 11px/14px Verdana, Arial, Helvetica, sans-serif;
    color: #666666;
    margin: 18px 0px 0px 0px;
    padding: 0px 0px 18px 0px;
}

.form_container .left_form {
    width: 477px;
    float: left;
    background: url(../images/right_sep.gif) right top repeat-y;
}

    .form_container .left_form label {
        width: 123px;
        font: bold 11px/20px Verdana, Arial, Helvetica, sans-serif;
        color: #666666;
        float: left;
        margin: 0px;
        padding: 0px;
    }

        .form_container .left_form label span {
            font: normal 11px/14px Verdana, Arial, Helvetica, sans-serif !important;
            color: #666666 !important;
            width: 113px !important;
            float: left;
            margin-top: 10px;
        }

    .form_container .left_form input {
        width: 322px;
        border: 1px solid #666666;
        font: 12px Verdana, Arial, Helvetica, sans-serif;
        color: #666666;
        padding: 3px 2px 3px 2px;
        margin: 0px;
    }

    .form_container .left_form select {
        width: 327px;
        border: 1px solid #666666;
        font: 12px/18px Verdana, Arial, Helvetica, sans-serif;
        color: #666666;
        height: 22px;
        margin: 0px;
        padding: 0px;
    }

.form_container .label_margin {
    width: 100%;
    margin-top: 12px;
    display: block;
}

.form_container .label_margin_less {
    margin-top: 7px;
    display: block;
}

.form_container .left_form .short_width {
    width: 102px !important;
}

.form_container .right_form {
    width: 450px;
    float: right;
}

    .form_container .right_form .right_form_container select {
        width: 320px;
        border: 1px solid #666666;
        font: 12px/18px Verdana, Arial, Helvetica, sans-serif;
        color: #666666;
        height: 22px;
        margin: 0px;
        padding: 0px;
    }

    .form_container .right_form .right_form_container .short_width {
        width: 102px !important;
    }

    .form_container .right_form .right_form_container {
        width: 450px;
        padding-bottom: 25px;
    }

        .form_container .right_form .right_form_container label {
            width: 120px;
            font: bold 11px/20px Verdana, Arial, Helvetica, sans-serif;
            color: #666666;
            float: left;
            margin: 0px;
            padding: 0px;
        }

        .form_container .right_form .right_form_container input {
            width: 320px;
            border: 1px solid #666666;
            font: 12px Verdana, Arial, Helvetica, sans-serif;
            color: #666666;
            padding: 3px 2px 3px 2px;
            margin: 0px;
        }

        * html .form_container .right_form .right_form_container input {
            width: 318px;
            border: 1px solid #666666;
            font: 12px Verdana, Arial, Helvetica, sans-serif;
            color: #666666;
            padding: 3px 2px 3px 2px;
            margin: 0px;
        }

    .form_container .right_form .check_box {
        display: block;
    }

        .form_container .right_form .check_box label {
            font: 11px Verdana, Arial, Helvetica, sans-serif;
            color: #666666;
            padding-left: 5px;
        }

    .form_container .right_form p {
        font: 11px/14px Verdana, Arial, Helvetica, sans-serif;
        color: #666666;
        margin: 18px 0px 0px 0px;
        padding: 0px 0px 10px 0px;
        display: block;
    }

.fl {
    float: left;
}

.submit_bg_btn_left input {
    background: url(../images/btn_bg_right.gif) right top no-repeat;
    padding: 0px 8px 0px 0px !important;
    font: bold 11px Arial, Helvetica, sans-serif !important;
    color: #ffffff !important;
    height: 20px;
    float: left;
    text-decoration: none;
    width: auto !important;
}

.bg_btn_left {
    background: url(../images/btn_bg_left.gif) left top no-repeat;
    margin: 9px 0px 0px 0px;
    height: 20px;
    float: left;
    padding-left: 8px;
}

.bg_btn_leftVDP {
    background: url(../images/btn_bg_left.gif) left top no-repeat;
    margin: 9px 0px 0px 0px;
    height: 20px;
    float: left;
    padding-left: 8px;
}

.bg_btn_left a:hover {
    text-decoration: none;
}

.bg_btn_left input {
    background: url(../images/btn_bg_right.gif) right top no-repeat;
    padding-right: 10px;
    font: bold 11px Arial, Helvetica, sans-serif !important;
    color: #ffffff !important;
    height: 20px;
    float: left;
    text-decoration: none;
    width: auto !important;
}

.bg_btn_leftVDP input {
    background: url(../images/btn_bg_right.gif) right top no-repeat;
    padding-right: 10px;
    font: bold 11px Arial, Helvetica, sans-serif !important;
    color: #ffffff !important;
    height: 20px;
    float: left;
    text-decoration: none;
    width: auto !important;
}


.m-left {
    margin-left: 15px;
}

.requried {
    font: 11px/14px Verdana, Arial, Helvetica, sans-serif;
    color: #666666;
    margin: 18px 0px 0px 0px;
    float: left;
}

.main_orng_heading {
    font: 14px/20px Verdana, Arial, Helvetica, sans-serif;
    color: #ff6600;
    float: left;
    width: 100%;
    margin-top: 40px;
}

.grid_container {
    width: 958px;
    float: left;
    margin-top: 12px;
}

.grid_top_head {
    background: url(../images/grifd_top.gif) no-repeat;
    height: 27px;
    width: 958px;
}

.grid_top_bg {
    background: url(../images/grid_main_bg.gif) repeat-y;
    width: 958px;
    float: left;
}

.grid_top_head_bot {
    background: url(../images/main_top_bg_1.gif) no-repeat;
    height: 8px;
    width: 958px;
    float: left;
}

.grid_top_bot {
    background: url(../images/top_pop_bot.gif) no-repeat;
    height: 8px;
    width: 958px;
    float: left;
}

.grid_top_head .grid_heading {
    font: bold 12px/25px Verdana, Arial, Helvetica, sans-serif;
    color: #ff6600;
    padding-left: 10px;
    float: left;
    width: 150px;
}

* html .grid_container .white_row {
    background: #ffffff;
    width: 950px;
    float: left;
    padding: 5px 0px 8px 0px;
    margin-left: 1px;
}

* html .grid_billing_container .white_row {
    background: #ffffff;
    width: 676px;
    float: left;
    padding: 5px 0px 8px 0px;
    margin-left: 1px;
}

.grid_container .white_row {
    background: #ffffff;
    width: 950px;
    float: left;
    padding: 5px 0px 8px 0px;
    margin-left: 2px;
}

    .grid_container .white_row .data {
        font: 11px/14px Verdana, Arial, Helvetica, sans-serif;
        float: left;
        padding-left: 10px !important;
        width: 150px;
        color: #666666;
    }

    .grid_container .white_row .databold {
        font: 11px/14px Verdana, Arial, Helvetica, sans-serif;
        float: left;
        padding-left: 10px !important;
        width: 150px;
        color: #666666;
        font-weight: bold;
    }

.dotted_border {
    border-bottom: dotted 1px #666666;
    border-top: dotted 1px #666666;
}

.grid_container .white_row .totalbold {
    font: bold 11px/14px Verdana, Arial, Helvetica, sans-serif;
    float: left;
    width: 150px;
    color: #666666;
    font-weight: bold !important;
}

.main_heading .grid_heading {
    font: bold 12px/25px Verdana, Arial, Helvetica, sans-serif;
    color: #ff6600;
    padding-left: 10px;
    float: left;
    width: 150px;
}

.grid_billing_container {
    width: 682px;
    float: left;
    margin-top: 12px;
}

    .grid_billing_container .white_row {
        background: #ffffff;
        width: 676px;
        float: left;
        padding: 5px 0px 8px 0px;
        margin-left: 2px;
    }

        .grid_billing_container .white_row .data {
            font: 11px/14px Verdana, Arial, Helvetica, sans-serif;
            float: left;
            padding-left: 10px !important;
            width: 150px;
            color: #666666;
        }

        .grid_billing_container .white_row .databold {
            font: 11px/14px Verdana, Arial, Helvetica, sans-serif;
            float: left;
            padding-left: 10px !important;
            width: 150px;
            color: #666666;
            font-weight: bold;
        }

        .grid_billing_container .white_row .totalbold {
            font: bold 11px/14px Verdana, Arial, Helvetica, sans-serif;
            float: left;
            width: 150px;
            color: #666666;
            font-weight: bold !important;
        }

.width150 {
    width: 150px !important;
}

.width195 {
    width: 200px !important;
}

.width178 {
    width: 178px !important;
}

.width260px {
    width: 260px;
}

.wida80px {
    width: 200px !important;
}

.width120px {
    width: 120px !important;
}

.width148px {
    width: 145px !important;
}

.width165 {
    width: 165px !important;
}

.width180px {
    width: 180px !important;
}

.width190 {
    width: 190px !important;
}

.width200 {
    width: 200px !important;
}

.width205 {
    width: 205px !important;
}

.width175 {
    width: 175px !important;
}

.width210 {
    width: 210px !important;
}

.width192 {
    width: 192px !important;
}

.width300 {
    width: 300px !important;
}

* html .width300 {
    width: 314px !important;
}

.width801px {
    width: 80px !important;
}

.width96px {
    width: 96% !important;
}

.width135px {
    width: 135px !important;
}

.width90 {
    width: 90px !important;
}

.width93 {
    width: 93px !important;
}

.width95 {
    width: 95px !important;
}

.width60 {
    width: 60px !important;
}

.width100 {
    width: 100px !important;
}

.width108 {
    width: 108px !important;
}

.width110 {
    width: 110px !important;
}

.width75 {
    width: 75px !important;
    padding-right: 5px;
}

.white_row .wida80px {
    width: 175px !important;
}

.white_row .width180px {
    width: 130px !important;
}

.price {
    color: #093678 !important;
    text-decoration: none;
    font: 12px Verdana, Arial, Helvetica, sans-serif;
}

.pdleft40px {
    padding-left: 40px !important;
}

.gray_backgrnd {
    background: #efefef !important;
}

.top_navigation_user {
    margin: 0px;
    padding: 0px;
    height: 22px;
    width: 958px;
    display: block;
}

.navigation_top_bg {
    background: url(../images/top_bg_cor.gif) repeat-x;
    height: 18px;
}
/* change bye me*/
.user_navigation {
    margin: 0px;
    padding: 0px;
    height: 22px;
    float: right !important;
    background: url(../images/top_left_cor.gif) no-repeat 0 0;
    padding-left: 13px;
}

    .user_navigation ul {
        list-style: none;
        margin: 0px;
        padding: 0px;
        float: left;
        background: url(../images/top_right_cor.gif) no-repeat right 0;
        padding-right: 13px;
        height: 18px;
    }

        .user_navigation ul li {
            display: inline;
            font: 11px Verdana, Arial, Helvetica, sans-serif;
            color: #666666;
            padding: 0px 2px 0px 2px;
            margin: 0px;
            float: left;
            background: url(../images/top_bg_cor.gif) repeat-x 0 0;
            line-height: 18px !important;
        }

            .user_navigation ul li a {
                text-decoration: none;
                font: 11px Verdana, Arial, Helvetica, sans-serif;
                color: #666666;
                line-height: 18px !important;
            }

                .user_navigation ul li a:hover, a:active, .navigationonstate {
                    text-decoration: none;
                    color: #666666 !important;
                }

.orange_color {
    color: #ff6600 !important;
}
/* today class*/
.sml_orng_head {
    font: bold 11px/14px Verdana, Arial, Helvetica, sans-serif !important;
    color: #ff6600;
    display: block;
}

.none_padding {
    padding-bottom: 0px !important;
}

.faq_blog {
    width: 682px;
    float: left;
    margin-bottom: 22px;
}

.main_heading {
    background: url(../images/main_heading.gif) no-repeat;
    width: 682px;
    height: 25px;
    float: left;
}

.main_heading_bg {
    background: url(../images/main_heading_bg.gif) repeat-y;
    width: 682px;
    float: left;
}

.main_heading_bot {
    background: url(../images/main_heading_bot.gif) no-repeat;
    width: 682px;
    height: 7px;
    float: left;
    overflow: hidden;
}

.meaning_bot {
    background: url(../images/meaing_botton.gif) no-repeat;
    width: 682px;
    height: 7px;
    float: left;
    overflow: hidden;
}

.orange_heading_main {
    font: bold 12px/24px Verdana, Arial, Helvetica, sans-serif;
    color: #ff6600;
    margin-left: 14px;
}
/* repalce this class with latest one
.main_container{margin:auto; width:958px; height:500px;}*/
.chk_outgrid {
    width: 678px;
    padding: 12px 0px 12px 0px;
    margin-left: 2px;
    float: left;
}

* html .chk_outgrid {
    width: 678px;
    padding: 12px 0px 12px 0px;
    margin-left: 1px;
    float: left;
}

.heading_span {
    width: 128px;
    margin-left: 12px;
    font: bold 11px Verdana, Arial, Helvetica, sans-serif;
    color: #666666;
    float: left;
}

* html .heading_span {
    width: 128px;
    margin-left: 6px;
    font: bold 11px Verdana, Arial, Helvetica, sans-serif;
    color: #666666;
    float: left;
}

.heading_span_new {
    width: 90%;
    margin-left: 12px;
    font: bold 11px Verdana, Arial, Helvetica, sans-serif;
    color: #666666;
    float: left;
    display: block;
}

* html .heading_span_new {
    width: 90%;
    margin-left: 6px;
    font: bold 11px Verdana, Arial, Helvetica, sans-serif;
    color: #666666;
    float: left;
    display: block;
}

    .heading_span_new .instruction {
        font: 10px Verdana, Arial, Helvetica, sans-serif;
        color: #666666;
    }

.instruction_paragraph {
    float: left;
    margin: 0px;
    margin-left: 14px !important;
    margin-top: 14px;
    padding-bottom: 10px !important;
}

* html .instruction_paragraph {
    float: left;
    margin: 14px 0px 0px 7px !important;
    padding-bottom: 10px !important;
    width: 640px;
}

.right_grid {
    width: 530px;
    float: right;
    margin-right: 5px;
    font: 11px/14px Verdana, Arial, Helvetica, sans-serif !important;
    color: #666666 !important;
}

    .right_grid img {
        float: left;
        margin-right: 10px;
    }

    .right_grid a {
        font: 11px/20px Verdana, Arial, Helvetica, sans-serif !important;
        color: #093678;
        text-decoration: none;
    }

* html .right_grid {
    width: 530px;
    float: right;
    margin-right: 2px;
}

    .right_grid p {
        font: 11px/14px Verdana, Arial, Helvetica, sans-serif !important;
        color: #666666 !important;
        padding: 10px 0px 0px 0px !important;
        margin: 0px;
        float: left;
        display: block;
    }

    .right_grid .input_area {
        width: 311px;
        border: 1px solid #666666;
        font: 11px Verdana, Arial, Helvetica, sans-serif;
        color: #000000;
        padding: 2px;
    }

.faq_right_container {
    width: 249px;
    float: right;
}

.right_tab_top {
    background: url(../images/right_tab_top.gif) no-repeat;
    width: 249px;
    height: 25px;
    float: left;
}

.right_tab_bg {
    background: url(../images/right_tab_bg.gif) repeat-y;
    width: 249px;
    float: left;
}

.right_tab_bot {
    background: url(../images/right_tab_bot.gif) no-repeat;
    width: 249px;
    height: 7px;
    float: left;
    overflow: hidden;
}

.right_tab_bg p {
    font: 11px/14px Verdana, Arial, Helvetica, sans-serif !important;
    color: #666666 !important;
    padding: 0px 0px 0px 0px !important;
    margin: 10px 10px 18px 14px;
    float: left;
    display: block;
}

* html .right_tab_bg p {
    font: 11px/14px Verdana, Arial, Helvetica, sans-serif !important;
    color: #666666 !important;
    padding: 0px 0px 0px 0px !important;
    margin: 10px 10px 18px 7px;
    float: left;
    display: block;
}

.link_img {
    margin: 0px 0px 0px 14px;
    padding: 0px;
    float: left;
    width: 235px;
    padding-bottom: 20px;
}

* html .link_img {
    margin: 0px 0px 0px 7px;
    padding: 0px;
    float: left;
    width: 235px;
    padding-bottom: 20px;
}

    .link_img .image_span {
        width: 25px;
        float: left;
    }

    .link_img .content_span {
        width: 200px;
        float: right;
        text-align: left;
    }

        .link_img .content_span a {
            font: 11px/14px Verdana, Arial, Helvetica, sans-serif;
            color: #093678;
            text-decoration: none;
        }

.fr {
    float: right !important;
}

.mr11 {
    margin-right: 11px !important;
}

.ml11 {
    margin-left: 11px !important;
}

.mb11 {
    margin-bottom: 11px !important;
}

* html .mr11 {
    margin-right: 6px !important;
}

.contact_container {
    width: 508px;
    float: left;
}

.contact_heading {
    background: url(../images/conatct_top.gif) no-repeat;
    width: 508px;
    height: 25px;
    float: left;
}

.contact_heading_relative {
    background: url(../images/conatct_top.gif) no-repeat;
    width: 508px;
    height: 25px;
    position: relative;
}

.contact_heading_bg {
    background: url(../images/conatct_bg.gif) repeat-y;
    width: 508px;
    float: left;
    padding-bottom: 15px;
}

.contact_heading_bg_relative {
    background: url(../images/conatct_bg.gif) repeat-y;
    margin: 0px;
    padding: 0px 0px 15px 0px;
    position: relative;
    width: 508px;
    min-height: 230px;
    height: auto;
}

.contact_heading_bot {
    background: url(../images/conatact_bot.gif) no-repeat;
    width: 508px;
    height: 8px;
    float: left;
    overflow: hidden;
}

.contact_heading_bot_relative {
    background: url(../images/conatact_bot.gif) no-repeat;
    width: 508px;
    height: 8px;
    position: relative;
    overflow: hidden;
}

.contact_heading_bg label {
    width: 80px;
    font: bold 11px/20px Verdana, Arial, Helvetica, sans-serif;
    float: left;
    padding: 0px;
    margin: 0px;
}

.contact_heading_bg p {
    margin: 15px 0px 0px 14px;
    padding: 0px;
    float: left;
}

.contact_heading_bg_relative .role_label {
    height: 40px;
    margin: 0px;
    left: 14px;
    padding: 16px 0px 0px 0px;
    position: absolute;
    width: 150px;
}

    .contact_heading_bg_relative .role_label label {
        padding: 0px;
        margin: 0px;
    }

.role_actions {
    background: transparent url(../images/conatct_bg.gif) repeat-y scroll 0 0;
    width: 508px;
    padding: 0px;
    position: relative;
}

.role_errors {
    background: transparent url(../images/conatct_bg.gif) repeat-y scroll 0 0;
    width: 508px;
    height: 25px;
    color: Red;
    text-align: right;
    padding: 0px;
    position: relative;
}

    .role_errors span {
        display: block;
        padding-right: 20px;
    }

.role_actions .left_buttons {
    margin: 0px 0px 0px 368px;
    padding: 0px 0px 10px 0px;
}

.contact_heading_bg p.end {
    margin: 15px 0px 0px 14px;
    padding: 0px;
    float: right;
}

.contact_heading_bg_relative .role_options {
    left: 0px;
    margin: 0px 0 0 14px;
    padding: 15px 0px 0px 0px;
    position: relative;
    top: 0;
    width: 473px;
}

    .contact_heading_bg_relative .role_options li {
        list-style-type: none;
        display: block;
        padding: 3px;
    }

    .contact_heading_bg_relative .role_options .role_sub_options ul {
        padding-left: 15px;
    }

    .contact_heading_bg_relative .role_options .role_sub_options li {
        list-style-type: none;
        display: inline-block;
    }

* html .contact_heading_bg p {
    margin: 15px 0px 0px 7px;
    padding: 0px;
    float: left;
}

* html .contact_heading_bg_relative .role_label {
    height: 40px;
    margin: 0 0 0 7px;
    padding: 15px 0px 0px 0px;
    position: relative;
    width: 150px;
}

.contact_heading_bg input, .contact_heading_bg textarea {
    width: 250px;
    float: left;
    border: 1px solid #666666;
    font: 11px Verdana, Arial, Helvetica, sans-serif;
    color: #000000;
    padding: 3px 2px 3px 2px;
}

.contact_heading_bg_relative table {
    width: 155px;
}

    .contact_heading_bg_relative table input, .contact_heading_bg_relative table textarea {
        width: 15px;
        display: inline;
        border: none;
        font: 11px Verdana, Arial, Helvetica, sans-serif;
        color: #000000;
        padding: 0px 2px;
    }

    .contact_heading_bg_relative table label {
        width: 120px;
        font: bold 11px/20px Verdana, Arial, Helvetica, sans-serif;
        display: inline;
        padding: 0px;
        margin: 0px;
    }

.contact_heading_bg textarea {
    height: 100px;
}

.contact_heading_bg select {
    width: 256px;
    border: 1px solid #666666;
    font: 11px Verdana, Arial, Helvetica, sans-serif;
    color: #000000;
    height: 20px;
    padding: 0px 0px 0px 2px;
}

.contact_heading_bg_relative .role_options .options_bottom {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 145px;
}

.contact_heading_bg_relative .role_options select {
    width: 140px;
    position: absolute;
    bottom: 0;
    right: 0;
}

.none_height {
    line-height: 8px !important;
}

.order_detail {
    float: left;
    margin-top: 20px;
}

    .order_detail span {
        display: block;
        font: bold 16px/26px Arial, Helvetica, sans-serif;
        color: #666666;
    }

.roundcont_order {
    width: 100% !important;
    background-color: #ff6600;
}

    .roundcont_order p {
        margin: 0px 25px 0px 14px;
        color: #ffffff !important;
        font: 12px/15px Verdana, Arial, Helvetica, sans-serif !important;
        padding: 0px !important;
    }

.mrt_25 {
    margin-top: 25px;
}

.mrb_25 {
    margin-bottom: 25px;
}

.left_block {
    width: 290px;
    background: url(../images/right_sep.gif) right top repeat-y;
    float: left;
}

    .left_block p {
        padding: 15px 0px 15px 14px !important;
        margin: 0px 0px 0px 0px !important;
        width: 315px;
    }

    .left_block label {
        width: 150px;
        font: bold 11px Verdana, Arial, Helvetica, sans-serif;
        color: #666666;
        margin: 0px;
        padding: 0px;
        float: left;
    }

.right_block {
    width: 365px;
    float: right;
}

    .right_block p {
        padding: 15px 0px 15px 0px !important;
        margin: 0px 0px 0px 0px !important;
        width: 300px;
    }

    .right_block label {
        width: 128px !important;
        font: bold 11px Verdana, Arial, Helvetica, sans-serif;
        color: #666666;
        margin: 0px;
        padding: 0px;
        float: left;
    }

    .right_block p .address {
        font: 11px Verdana, Arial, Helvetica, sans-serif;
        color: #666666;
        float: left;
        width: 170px;
    }

.left_block_alt {
    width: 290px;
    float: left;
}

    .left_block_alt p {
        padding: 15px 0px 15px 14px !important;
        margin: 0px 0px 0px 0px !important;
        width: 315px;
    }

    .left_block_alt label {
        width: 150px;
        font: bold 11px Verdana, Arial, Helvetica, sans-serif;
        color: #666666;
        margin: 0px;
        padding: 0px;
        float: left;
    }

.right_block_alt {
    width: 365px;
    float: right;
    padding-left: 20px;
    background: url(../images/right_sep.gif) left top repeat-y;
}

    .right_block_alt p {
        padding: 15px 0px 15px 0px !important;
        margin: 0px 0px 0px 0px !important;
        width: 300px;
    }

    .right_block_alt label {
        width: 128px !important;
        font: bold 11px Verdana, Arial, Helvetica, sans-serif;
        color: #666666;
        margin: 0px;
        padding: 0px;
        float: left;
    }

    .right_block_alt p .address {
        font: 11px Verdana, Arial, Helvetica, sans-serif;
        color: #666666;
        float: left;
        width: 170px;
    }

    .right_block_alt a {
        margin: 0px;
    }

* html .right_block_alt {
    width: 385px;
    float: right;
    padding-left: 20px;
    background: url(../images/right_sep.gif) left top repeat-y;
}

.pd_bot {
    padding-bottom: 30px;
}

.pd_bot10 {
    padding-bottom: 10px;
}

.order_heading {
    font: bold 12px/25px Verdana, Arial, Helvetica, sans-serif;
    color: #ff6600;
    float: left;
    width: 82px;
}

.widthauto {
    width: auto !important;
}

.pdl_15px {
    padding-left: 15px !important;
}

.pdl_25px {
    padding-left: 25px !important;
}

.pdl_27px {
    padding-left: 27px !important;
}

.pdr_15px {
    padding-right: 15px !important;
}

.order_heading_data_alt {
    font: 11px Verdana, Arial, Helvetica, sans-serif;
    color: #666666;
    float: left;
    width: 82px;
    padding-left: 0px;
}

.order_heading_data {
    font: 11px Verdana, Arial, Helvetica, sans-serif;
    color: #666666;
    float: left;
    width: 82px;
    padding-left: 0px;
    overflow: hidden;
}

    .order_heading_data a {
        font: 11px/14px Verdana, Arial, Helvetica, sans-serif;
        color: #093678;
        text-decoration: none;
        margin-left: 10px;
    }

    .order_heading_data input {
        width: 60px !important;
        border: 1px solid #666666;
        font: 11px Verdana, Arial, Helvetica, sans-serif;
        color: #000000;
        padding: 3px 2px 3px 2px;
    }

.order_heading_data_upload {
    float: left;
    width: 150px;
    padding-left: 0px;
    overflow: hidden;
}

    .order_heading_data_upload div {
        font: 11px Verdana, Arial, Helvetica, sans-serif;
        color: #666666;
        line-height: 14px !important;
    }

    .order_heading_data_upload input[type=text] {
        height: 25px;
    }

    .order_heading_data_upload input[type=file] {
        position: absolute;
        visibility: hidden;
        top: -1000em;
    }

        .order_heading_data_upload input[type=file] ~ label {
            display: block !important;
            font-size: 0;
            height: 24px;
            width: 100%;
            margin-top: 0;
            background: -webkit-linear-gradient(left,#ff4511,#ff8111); /*Safari 5.1-6*/
            background: -o-linear-gradient(right,#ff4511,#ff8111); /*Opera 11.1-12*/
            background: -moz-linear-gradient(right,#ff4511,#ff8111); /*Fx 3.6-15*/
            background: linear-gradient(to right, #ff4511, #ff8111);
            background-color: #ff6c15;
            border-color: #ff6c15;
            color: #fff;
            text-align: center;
            line-height: 24px;
            padding-left: 12px;
            padding-right: 12px;
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
            cursor: pointer;
        }

            .order_heading_data_upload input[type=file] ~ label::before {
                content: 'Attach file...';
                display: block;
                font-size: 12px;
                vertical-align: top;
                width: 100%;
                height: 24px;
                line-height: 24px;
                text-align: center;
            }

.total_span {
    margin-right: 40px;
    font: bold 11px Verdana, Arial, Helvetica, sans-serif;
    color: #666666;
    float: right;
}

.mrt_10 {
    margin-top: 10px !important;
}

.cart_requried {
    font: 11px/14px Verdana, Arial, Helvetica, sans-serif;
    color: #666666;
    margin: 10px 0px 0px 0px;
    float: left;
    padding-bottom: 20px !important;
    width: 260px !important;
}

.width493px {
    width: 493px !important;
}

.grid_top_bg .right_form {
    width: 426px !important;
    margin-top: 10px;
}

    .grid_top_bg .right_form span {
        display: block;
    }

    .grid_top_bg .right_form div {
        width: 265px !important;
        margin: 0px;
        padding: 0px;
        float: left;
    }

        .grid_top_bg .right_form div label {
            font: 10px Verdana, Arial, Helvetica, sans-serif;
            font-style: italic;
            float: none;
        }

    .grid_top_bg .right_form label {
        width: 140px !important;
        margin: 0px;
        padding: 0px;
        float: left;
    }

    .grid_top_bg .right_form textarea {
        width: 265px;
        height: 250px;
        font: 11px Verdana, Arial, Helvetica, sans-serif;
        color: #666666;
        padding: 2px;
    }

    .grid_top_bg .right_form label span {
        font: normal 11px/14px Verdana, Arial, Helvetica, sans-serif !important;
        color: #666666 !important;
        width: 100px !important;
        float: left;
        margin-top: 15px;
        display: inline;
    }

    .grid_top_bg .right_form .roundcont {
        width: 265px !important;
        background-color: #ff6600;
    }

.margint_10px {
    margin-top: 10px !important;
}

.none_mlt {
    margin-left: 0px !important;
    white-space: nowrap;
}

.grid_rows_order {
    margin: 25px 0px 0px 14px;
    float: left;
    width: 650px;
    padding: 0px;
    padding-bottom: 20px;
}

* html .grid_rows_order {
    margin: 25px 0px 0px 7px;
    float: left;
    width: 650px;
    padding: 0px;
    padding-bottom: 20px;
}

.grid_detail {
    background: url(../images/sep_border.gif) left bottom repeat-x !important;
    padding: 5px 0px 10px 0px;
    width: 100%;
    float: left;
}

.width_340px {
    width: 340px;
}

.h_auto {
    height: auto !important;
}

.none_border {
    border: none !important;
    background: none !important;
}

.orange_heading_order {
    font: bold 12px/24px Verdana, Arial, Helvetica, sans-serif;
    color: #ff6600;
    margin-left: 14px;
    width: 330px;
    float: left;
}

* html .orange_heading_order {
    font: bold 12px/24px Verdana, Arial, Helvetica, sans-serif;
    color: #ff6600;
    margin-left: 9px;
    width: 330px;
    float: left;
}

.left_block_order {
    width: 300px;
    background: url(../images/right_sep.gif) right top repeat-y;
    float: left;
    margin-left: 14px;
}

* html .left_block_order {
    width: 330px;
    background: url(../images/right_sep.gif) right top repeat-y;
    float: left;
    margin-left: 7px;
}

    .left_block_order p {
        padding: 5px 0px 7px 0px !important;
        margin: 0px 0px 0px 0px !important;
        width: 100%;
    }

    .left_block_order label {
        width: 110px !important;
        font: bold 11px Verdana, Arial, Helvetica, sans-serif;
        color: #666666;
        margin: 0px;
        padding: 0px;
        float: left;
    }

.right_block_order {
    width: 320px;
    float: left;
    margin-left: 14px;
}

    .right_block_order p {
        padding: 5px 0px 7px 0px !important;
        margin: 0px 0px 0px 0px !important;
        width: 100%;
    }

    .right_block_order label {
        width: 110px !important;
        font: bold 11px Verdana, Arial, Helvetica, sans-serif;
        color: #666666;
        margin: 0px;
        padding: 0px;
        float: left;
    }

    .right_block_order p .address {
        font: 11px Verdana, Arial, Helvetica, sans-serif;
        color: #666666;
        float: left;
        width: 170px;
    }

.width_auto {
    width: auto !important;
}

.order_conformation {
    width: 682px;
    float: left;
}

.order_detail_right {
    float: right;
    margin-top: 20px;
}

    .order_detail_right .blue_linked {
        font: 11px Verdana, Arial, Helvetica, sans-serif;
        text-decoration: none;
        color: #093678;
        text-align: right;
        display: block;
    }

.red_btn {
    background: #AB000E;
    font: bold 15px Verdana, Arial, Helvetica, sans-serif;
    color: #ffffff !important;
    text-decoration: none !important;
    padding: 6px 10px 6px 10px;
    float: left;
    margin-top: 10px;
}

.data_costs_left {
    width: 270px;
    float: left;
    margin-left: 14px;
}

* html .data_costs_left {
    width: 270px;
    float: left;
    margin-left: 7px;
}

    .data_costs_left span {
        padding: 0px 10px 0px 5px;
        font: bold 11px/18px Verdana, Arial, Helvetica, sans-serif;
        width: auto;
        color: #666666;
        float: left;
    }

    .data_costs_left input {
        width: 104px;
        border: 1px solid #666666;
        padding: 3px;
        font: 11px Verdana, Arial, Helvetica, sans-serif;
        color: #000000;
        margin: 0px;
        float: left;
    }

    .data_costs_left label {
        font: 11px/18px Verdana, Arial, Helvetica, sans-serif !important;
        color: #666666;
        width: 110px;
        margin: 0px;
        padding: 0px;
        float: left;
    }

.pd_5px {
    padding-left: 5px;
}

.data_costs_right {
    width: 370px;
    float: left;
    margin-left: 14px;
}

* html .data_costs_right {
    width: 385px;
    float: left;
    margin-left: 7px;
}

    .data_costs_right input {
        width: 280px;
        border: 1px solid #666666;
        padding: 3px;
        font: 11px Verdana, Arial, Helvetica, sans-serif;
        color: #000000;
        margin: 0px;
        float: left;
    }

    * html .data_costs_right input {
        width: 285px;
        border: 1px solid #666666;
        padding: 3px;
        font: 11px Verdana, Arial, Helvetica, sans-serif;
        color: #000000;
        margin: 0px;
        float: left;
    }

    .data_costs_right label {
        font: 11px/18px Verdana, Arial, Helvetica, sans-serif !important;
        color: #666666;
        width: 80px;
        margin: 0px;
        padding: 0px;
        float: left;
    }

.no_padding {
    padding: 0px 0px 10px 0px !important;
}




.bg_grey_left {
    background: url(../images/grey_left.gif) left top no-repeat;
    margin: 9px 0px 0px 0px;
    height: 20px;
    float: left;
    padding-left: 8px;
}

.bg_grey_leftVDP {
    background: url(../images/grey_left.gif) left top no-repeat;
    margin: 9px 0px 0px 0px;
    height: 20px;
    float: left;
    padding-left: 8px;
}

.grey_bg_btn {
    background: url(../images/grey_right.gif) right top no-repeat;
    padding-right: 10px;
    font: bold 11px/20px Arial, Helvetica, sans-serif !important;
    color: #5E5E60 !important;
    height: 20px;
    float: left;
    text-decoration: none;
    cursor: default;
}

.grey_bg_btn_left {
    background: url(../images/grey_left.gif) left top no-repeat;
    padding-right: 10px;
    font: bold 11px/20px Arial, Helvetica, sans-serif !important;
    color: #5E5E60 !important;
    height: 20px;
    float: left;
    text-decoration: none;
    cursor: default;
}

.img_left {
    width: auto;
    padding: 10px 0px 0px 0px;
}

.paragraph-static p {
    font: 11px/17px Verdana, Arial, Helvetica, sans-serif;
    color: #666666;
    margin: 0px;
    padding: 0px;
}

.paragraph-static span {
    font-weight: bold;
}

.mart_5px {
    margin: 10px 0px 0px 0px !important;
}

p {
    font: 11px/14px Verdana, Arial, Helvetica, sans-serif;
    color: #666666;
}

.mrt_0px {
    margin-top: 0px !important;
}

.bg_btn_nomar {
    margin: 0px 0px 0px 10px !Important;
}

.new_width {
    width: 100px !important;
}

.new_chk input {
    width: 25px !important;
    border: none !important;
}


.custmize_span {
    width: 250px !important;
    margin-left: 12px;
    font: bold 11px Verdana, Arial, Helvetica, sans-serif;
    color: #666666;
    float: left;
}

* html .custmize_span {
    width: 250px;
    margin-left: 6px;
    font: bold 11px Verdana, Arial, Helvetica, sans-serif;
    color: #666666;
    float: left;
}

.right_grid_custmize {
    width: 400px;
    float: right;
    margin-right: 5px;
    font: 11px/14px Verdana, Arial, Helvetica, sans-serif !important;
    color: #666666 !important;
}

.padding-grid {
    padding-left: 15px !important;
}

.mr-lef15 {
    margin-left: 15px;
}

.mr-top15 {
    margin-top: 15px;
}

.text_nab textarea {
    width: 650px !Important;
    height: 100px !important;
}

.upload input {
    width: 100px !important;
}

.nav_textarea_nav {
    width: 645px !important;
    height: 80px !important;
    margin-top: 15px;
    margin-left: 20px !important;
}

.grey_heading_bld {
    font: 16px/14px Verdana, Arial, Helvetica, sans-serif !important;
    color: #666666 !important;
}

.none_input {
    border: 0px none !important;
    width: 30px !important;
}

.float_left {
    float: left;
}

.mrt_10px {
    margin: 15px !important;
}

.width958 {
    width: 958px !important;
}

.email {
    margin: 3px;
    float: left;
}

.error {
    color: red;
}

.marleft_none {
    margin-left: 0px !important;
}

.pad_left15 {
    padding-left: 15px;
}

.joti {
    width: 650px;
    padding: 14px !important;
}

* html .joti {
    width: 650px;
    padding: 14px 14px 14px 14px !important;
}

.ruInputs {
    margin: 0px;
    padding: 0px;
    list-style-type: none;
}

/* change image*/
.pad_leftpx {
    padding-left: 0px;
}

.border_rotbot {
    background: url(../images/sep_border.gif) left bottom repeat-x !important;
}

.data_lost_right input[type=text] {
    width: 140px;
    border: 1px solid #666666;
    padding: 2px 0px 0px 0px !important;
    height: 20px;
    font: 11px Verdana, Arial, Helvetica, sans-serif;
    color: #000000;
    margin: 0px;
}

.data_rtf_left {
    width: 350px;
    float: left;
    margin-left: 14px;
}

* html .data_rtf_left {
    width: 350px;
    float: left;
    margin-left: 7px;
}

    .data_rtf_left label {
        font-weight: normal !important;
        margin-top: 0px !important;
    }

    .data_rtf_left textarea {
        width: 340px !important;
        height: 30px !Important;
        float: none !important;
        margin: 0px;
        padding: 0px;
    }

    .data_rtf_left .text_rate {
        width: 180px !important;
        height: 20px !Important;
        float: none !important;
        margin: 0px;
        padding: 0px !important;
        border: 1px solid #666666;
    }

.data_lost_right {
    width: 305px !important;
    float: right;
}

.minase_top {
    float: left;
    width: 130px !important;
}

.font_bold {
    font-weight: bold !important;
}

.heading_font_bold {
    font: bold 11px Verdana, Arial, Helvetica, sans-serif !important;
    color: #666666;
}

.normal_orgfont {
    font: 11px Verdana, Arial, Helvetica, sans-serif;
    color: #ff6600;
}

.navright_form_container {
    width: 100%;
    background: url(../images/sep_border.gif) left top repeat-x;
    padding-bottom: 10px;
    height: 50px;
    margin-top: 10px;
}

.form_container .right_form .right_form_containeragenda select {
    width: 320px;
    border: 1px solid #666666;
    font: 12px/18px Verdana, Arial, Helvetica, sans-serif;
    color: #666666;
    height: 22px;
    margin: 0px;
    padding: 0px;
}

.form_container .right_form .right_form_containeragenda .short_width {
    width: 102px !important;
}

.form_container .right_form .right_form_containeragenda {
    width: 450px;
    padding-bottom: 25px;
    background: url(../images/sep_border.gif) left bottom repeat-x !important;
}

    .form_container .right_form .right_form_containeragenda label {
        width: 120px;
        font: bold 11px/20px Verdana, Arial, Helvetica, sans-serif;
        color: #666666;
        float: left;
        margin: 0px;
        padding: 0px;
    }

    .form_container .right_form .right_form_containeragenda input {
        width: 320px;
        border: 1px solid #666666;
        font: 12px Verdana, Arial, Helvetica, sans-serif;
        color: #666666;
        padding: 3px 2px 3px 2px;
        margin: 0px;
    }

    * html .form_container .right_form .right_form_containeragenda input {
        width: 318px;
        border: 1px solid #666666;
        font: 12px Verdana, Arial, Helvetica, sans-serif;
        color: #666666;
        padding: 3px 2px 3px 2px;
        margin: 0px;
    }

.form_container .left_formnew {
    width: 477px;
    height: 415px;
    padding-right: 15px;
    float: left;
    background: url(../images/right_sep.gif) right top repeat-y;
}

    .form_container .left_formnew label {
        width: 145px;
        font: bold 11px/20px Verdana, Arial, Helvetica, sans-serif;
        color: #666666;
        float: left;
        margin: 0px;
        padding: 0px;
    }

    .form_container .left_formnew input {
        width: 322px;
        border: 1px solid #666666;
        font: 12px Verdana, Arial, Helvetica, sans-serif;
        color: #666666;
        padding: 3px 2px 3px 2px !important;
        margin: 0px;
        height: 20px !important;
    }

    .form_container .left_formnew select {
        width: 327px;
        border: 1px solid #666666;
        font: 12px/18px Verdana, Arial, Helvetica, sans-serif;
        color: #666666;
        height: 22px;
        margin: 0px;
        padding: 0px;
    }





.pricedetails {
    width: 76px !important;
    text-align: right;
    display: block;
    padding-right: 5px;
}

.data_lost_right .label {
    float: left;
    margin: 0px !important;
    padding: 0px 20px 0px 0px !important;
    text-align: right !important;
}

*:first-child + html .navright_form_container {
    width: 100%;
    background: url(../images/sep_border.gif) left top repeat-x;
    padding-bottom: 10px;
    height: 50px;
    float: left;
    margin-top: -10px;
}

* html .navright_form_container {
    width: 100%;
    background: url(../images/sep_border.gif) left top repeat-x;
    padding-bottom: 10px;
    height: 50px;
    float: left;
    margin-top: -10px;
}

.pdleft5 {
    padding-right: 5px !important;
    text-align: right !important;
}

.pd_left20 {
    padding-left: 20px !important;
}

.width_rauto {
    width: auto !important;
}

.text_center {
    text-align: center !important;
}

.text_right {
    text-align: right !important;
}

*:first-child + html .rightwidth {
    width: 100px !important;
}

.left {
    float: left;
}

.right {
    float: right;
}

.pagination {
    padding: 5px;
}

.grid_container .buttonsContainer {
    margin-bottom: 15px;
}

    .grid_container .buttonsContainer .submit_bg_btn {
        padding: 0 20px 0 15px;
    }

    .grid_container .buttonsContainer .right input {
        float: left;
    }

.processorFilter .contact_heading_bg {
    padding: 15px;
}

.grid_separator {
    background: url(../images/sep_border.gif) left center repeat-x !important;
    height: 7px;
    width: 360px;
}

.completed-sub-order {
    line-height: 23px;
    color: #FF6600;
    font-weight: bold;
}

.blockPage {
    padding: 0px;
    margin: -243px 0px 0px -240px;
    top: 50%;
    left: 50%;
    text-align: left;
    background-color: transparent;
    cursor: default;
    width: 485px;
    border-width: 1px;
    border-style: solid;
    border-color: #685C53;
}

.clear {
    clear: both;
}

.modal_heading {
    font: bold 12px/25px Verdana, Arial, Helvetica, sans-serif;
    color: #000;
    float: left;
    width: 485px;
}

.modal_main_heading {
    background: url(../images/main_heading_modal.gif) no-repeat;
    width: 485px;
    height: 25px;
    float: left;
    margin-bottom: 0px;
}

.modal_main_heading_bg {
    background: url(../images/main_heading_bg_modal.gif) repeat-y;
    width: 485px;
    float: left;
}

.modal_main_heading_bot {
    background: url(../images/main_heading_bot_modal.gif) no-repeat;
    width: 485px;
    height: 7px;
    float: left;
    overflow: hidden;
}

.modal_section {
    width: 481px;
    padding: 12px 0px 12px 0px;
    margin: 0px 2px 0px 2px;
    float: left;
}

.splitcheck input {
    margin-top: 0px;
    margin-left: 0px;
    padding-top: 0px;
}

.splitcheck label {
    vertical-align: top;
    margin-top: 3px;
    font-weight: normal;
    width: 130px !important;
}

.ajax__tab_xp .ajax__tab_header span {
    height: 21px;
}

.order_heading_data_alt .complete_suborder input {
    width: 70px !important;
}

* html .order_heading_data_alt .bg_btn_left {
    float: none;
}

    * html .order_heading_data_alt .bg_btn_left input {
        float: none;
    }



table.grid_container {
    width: 958px;
    float: left;
    margin: 0px;
    background: transparent url(../images/grifd_top.gif) no-repeat scroll 0 0;
    border-left: solid 1px #D4D6D6;
    border-right: solid 1px #D4D6D6;
}

    table.grid_container tr.grid_top_head th.grid_heading {
        font: bold 12px/25px Verdana, Arial, Helvetica, sans-serif;
        color: #ff6600;
        padding-left: 10px;
        float: left;
        width: 130px;
        text-align: left;
    }

    table.grid_container tr.grid_top_head th a,
    table.grid_container tr.grid_top_head th a:visited,
    table.grid_container tr.grid_top_head th a:hover {
        color: #ff6600;
    }

    table.grid_container tr.white_row {
        background: #ffffff;
        width: 954px;
        float: left;
        padding: 0;
        margin-left: 2px;
    }

        table.grid_container tr.white_row td.data {
            font: 11px/14px Verdana, Arial, Helvetica, sans-serif;
            float: left;
            padding-left: 10px !important;
            width: 130px;
            color: #666666;
            height: 24px;
        }

        table.grid_container tr.white_row td.new_width {
            width: 100px !important;
        }

    table.grid_container tr.gray_backgrnd {
        background: #efefef !important;
    }

    table.grid_container tr.grid_top_head_new {
        background: transparent !important;
    }

.main_orng_heading span {
    font-size: 11px;
    margin-left: 10px;
}

.white_row_new {
    margin-left: 0px;
}

.white_row_new_right {
    margin-left: 0px;
}

.grid_pager {
    padding-left: 5px;
}

    .grid_pager td {
        height: 20px;
        border-top: solid 1px #D4D6D6;
    }

        .grid_pager td table td {
            border-top-width: 0px;
        }

.grid_top_thin_border {
    background: url(../images/main_top_bg_2.gif) no-repeat;
    height: 4px;
    width: 958px;
    float: left;
}

.separator {
    margin-top: 20px;
    background: transparent url(../images/sep_border.gif) repeat-x scroll left bottom !important;
    height: 1px;
    clear: both;
}

.fulfillment .left {
    float: left;
    padding-left: 15px;
    width: 180px;
    background: url("../images/right_sep.gif") right top repeat-y;
}

.fulfillment .right {
    float: right;
    width: 480px;
}

.fulfillment-item-col,
.fulfillment-item-col-wide {
    float: left;
    font-size: 12px;
    color: #666666;
}

.fulfillment .left .fulfillment-item-col {
    width: 160px;
    padding: 0 2px;
    margin-bottom: 10px;
}

.fulfillment .right .fulfillment-item-col {
    width: 90px;
    padding: 0 2px;
}

.fulfillment-item-col-wide {
    width: 195px;
    padding: 0 2px;
    padding-left: 5px !important;
}

.fulfillment-col {
    width: 175px;
    padding-left: 15px;
}

.fulfillment .right-align {
    text-align: right;
    display: block;
}

.main_heading .fulfillment-item-col {
    width: 90px !important;
    color: #ff6600;
}

.main_heading .fulfillment-item-col-wide {
    color: #ff6600;
}

.promotion {
    padding: 12px 5px 12px 15px;
    font-size: 11px;
}

    .promotion .chk_outgrid {
        width: 623px;
    }

    .promotion .error {
        display: block;
        margin: 10px 0;
        color: red;
    }

    .promotion .promo-description {
        float: left;
        color: red;
        width: 520px;
    }

    .promotion .promo-amount {
        float: right;
        color: red;
        font-weight: bold;
    }

.ed-info {
    padding: 20px;
}

.tbl-links {
    width: 640px;
    margin: 10px 0;
    word-break: break-word;
}

    .tbl-links th {
        text-align: left;
    }

        .tbl-links th.link {
            width: 80%;
        }

    .tbl-links td {
        padding: 5px;
        text-align: left;
        border: 1px solid #ccc;
    }

.ms-WPTitle {
    font-size: 23px;
    color: #ff6600;
    line-height: 20px;
    margin-bottom: 5px;
}

.s4-ba {
    padding: 10px 0 5px 10px;
}

span.data {
    line-height: 18px;
}


#search-orders-by--end-date {
    text-align: right;
    padding-right: 6px;
    width: 68px;
}

.ie8 #search-orders-by--end-date,
.ie9 #search-orders-by--end-date {
    width: 62px;
}

#search-orders-by--state .dd-list {
    width: 250px;
}

.ie8 #search-orders-by--state .dd-list,
.ie9 #search-orders-by--state .dd-list {
    width: 256px;
}

.RadPicker {
    float: left;
}

.div_reset_password {
    width: 320px;
    float: left;
    word-break: break-word;
}
