﻿@using Mastercard.MarketingCenter.Services;
@using Mastercard.MarketingCenter.Services.Interfaces;
@using System.Web.Mvc;
@{
    var urlService = DependencyResolver.Current.GetService<IUrlService>();
    string languageCode = DependencyResolver.Current.GetService<UserContext>().GetSelectedLanguageCode();
    string ieMeta = "IE=Edge";
    if (Request.Browser.Browser == "IE")
    {
        if (Request.Browser.MajorVersion == 10) { ieMeta = "IE=9"; }
    }
}
<!DOCTYPE html>
<!--[if IE 8 ]><html lang="@languageCode" class="ie8"><![endif]-->
<!--[if IE 9 ]><html lang="@languageCode" class="ie9"><![endif]-->
<!--[if IE 10 ]><html lang="@languageCode" class="ie10"><![endif]-->
<!---[if !(IE)]><!-->
<html lang="@languageCode">
<!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        @{
            if (!string.IsNullOrWhiteSpace(ViewBag.PageTitle))
            {
                @Html.Raw(ViewBag.PageTitle);
            }
        } Business Owner Content Expiration
    </title>
    <meta http-equiv="x-ua-compatible" content="@ieMeta" />
    <link rel="apple-touch-icon" sizes="180x180" href="@Url.Content("~/Content/img/favicons/apple-touch-icon.png")">
    <link rel="icon" type="image/png" href="@Url.Content("~/Content/img/favicons/favicon-32x32.png")" sizes="32x32">
    <link rel="icon" type="image/png" href="@Url.Content("~/Content/img/favicons/favicon-16x16.png")" sizes="16x16">
    <link rel="manifest" href="@Url.Content("~/Content/img/favicons/manifest.json")">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="@Url.Content("~/Content/img/favicons/mstile-150x150.png")">
    <meta name="theme-color" content="#ffffff">
    @System.Web.Optimization.Styles.Render(urlService.GetStaticContentCss())
    <!--[if lt IE 9]>
        <script>!function(a,b){function c(a,b){var c=a.createElement("p"),d=a.getElementsByTagName("head")[0]||a.documentElement;return c.innerHTML="x<style>"+b+"</style>",d.insertBefore(c.lastChild,d.firstChild)}function d(){var a=t.elements;return"string"==typeof a?a.split(" "):a}function e(a,b){var c=t.elements;"string"!=typeof c&&(c=c.join(" ")),"string"!=typeof a&&(a=a.join(" ")),t.elements=c+" "+a,j(b)}function f(a){var b=s[a[q]];return b||(b={},r++,a[q]=r,s[r]=b),b}function g(a,c,d){if(c||(c=b),l)return c.createElement(a);d||(d=f(c));var e;return e=d.cache[a]?d.cache[a].cloneNode():p.test(a)?(d.cache[a]=d.createElem(a)).cloneNode():d.createElem(a),!e.canHaveChildren||o.test(a)||e.tagUrn?e:d.frag.appendChild(e)}function h(a,c){if(a||(a=b),l)return a.createDocumentFragment();c=c||f(a);for(var e=c.frag.cloneNode(),g=0,h=d(),i=h.length;i>g;g++)e.createElement(h[g]);return e}function i(a,b){b.cache||(b.cache={},b.createElem=a.createElement,b.createFrag=a.createDocumentFragment,b.frag=b.createFrag()),a.createElement=function(c){return t.shivMethods?g(c,a,b):b.createElem(c)},a.createDocumentFragment=Function("h,f","return function(){var n=f.cloneNode(),c=n.createElement;h.shivMethods&&("+d().join().replace(/[\w\-:]+/g,function(a){return b.createElem(a),b.frag.createElement(a),'c("'+a+'")'})+");return n}")(t,b.frag)}function j(a){a||(a=b);var d=f(a);return!t.shivCSS||k||d.hasCSS||(d.hasCSS=!!c(a,"article,aside,dialog,figcaption,figure,footer,header,hgroup,main,nav,section{display:block}mark{background:#FF0;color:#000}template{display:none}")),l||i(a,d),a}var k,l,m="3.7.3",n=a.html5||{},o=/^<|^(?:button|map|select|textarea|object|iframe|option|optgroup)$/i,p=/^(?:a|b|code|div|fieldset|h1|h2|h3|h4|h5|h6|i|label|li|ol|p|q|span|strong|style|table|tbody|td|th|tr|ul)$/i,q="_html5shiv",r=0,s={};!function(){try{var a=b.createElement("a");a.innerHTML="<xyz></xyz>",k="hidden"in a,l=1==a.childNodes.length||function(){b.createElement("a");var a=b.createDocumentFragment();return"undefined"==typeof a.cloneNode||"undefined"==typeof a.createDocumentFragment||"undefined"==typeof a.createElement}()}catch(c){k=!0,l=!0}}();var t={elements:n.elements||"abbr article aside audio bdi canvas data datalist details dialog figcaption figure footer header hgroup main mark meter nav output picture progress section summary template time video",version:m,shivCSS:n.shivCSS!==!1,supportsUnknownElements:l,shivMethods:n.shivMethods!==!1,type:"default",shivDocument:j,createElement:g,createDocumentFragment:h,addElements:e};a.html5=t,j(b),"object"==typeof module&&module.exports&&(module.exports=t)}("undefined"!=typeof window?window:this,document);</script>
        <script src="@Url.Content("~/Content/js/ie8/respond.min.js")"></script>
        <script src="@Url.Content("~/Content/js/ie8/selectivizr-min.js")"></script>
        <link rel="stylesheet" href="@Url.Content("~/Content/themes/orange/css/ie.css")" />
        <![endif]-->
    <link href="@Url.Content("~/Content/css/ContentComments/styles.css")" rel="stylesheet">
    <link href="@Url.Content("~/Content/css/BusinessOwner/common/fonts.css")" rel="stylesheet">
    <link href="@Url.Content("~/Content/css/BusinessOwner/common/expiration-workflow.css")" rel="stylesheet">
    @System.Web.Optimization.Styles.Render("~/Content/css/ContentComments/comments_log_styles.css")
    @System.Web.Optimization.Scripts.Render("~/bundles/main")
    @System.Web.Optimization.Scripts.Render(urlService.GetStaticContentJs())
    @RenderSection("head", required: false)
</head>
<body>
    <div class="page-wrapper">
        <div class="header-wrapper">
            <div class="mobile mobile-nav">
                <nav class="main-nav" aria-label="">
                    <ul class="reset">
                        <li class="item"><a href="@Slam.Cms.Configuration.ConfigurationManager.Environment.FrontEndUrl" data-title="Home">@Resources.BusinessOwnerPages.Home</a></li>
                    </ul>
                </nav>
                <nav class="user-nav" aria-label="">
                    <a class="item" href="/portal/page/about-us" tracking-type="navigation">@Resources.BusinessOwnerPages.AboutUs</a>
                    <a class="item" href="/portal/contact" tracking-type="navigation">@Resources.BusinessOwnerPages.ContactUs</a>
                </nav>
                @{Html.RenderAction("_BusinessOwnerLayoutFooterNav", "BusinessOwner");}
            </div>
            <header class="page-header">
                <div class="utility-nav-bar clearfix grid-spaces-out">
                    <nav class="faq-nav" aria-label="">
                        <a class="item" href="#" data-old="/portal/page/about-us" tracking-type="navigation">@Resources.BusinessOwnerPages.AboutUs</a>
                        <a class="item" href="#" data-old="/portal/contact" tracking-type="navigation">@Resources.BusinessOwnerPages.ContactUs</a>
                    </nav>
                </div>
                <nav class="main-nav-bar clearfix" aria-label="">
                    <div class="search-nav-wrapper">
                        <ul class="search-nav">
                            <li class="item hamburger-item mobile" style="height: 45px;">
                                <span class="mobile hamburger-trigger"></span>
                            </li>
                        </ul>
                    </div>
                    <ul class="main-nav" style="width:30%;">
                        <li class="item logo-item">
                            <a href="@Slam.Cms.Configuration.ConfigurationManager.Environment.FrontEndUrl">
                                <img src="@urlService.GetStaticImageURL("mc-logo-1x-no-name.png")" srcset="@urlService.GetStaticImageURL("mc-logo-2x-no-name.png") 2x" width="32" height="45" alt="mastercard" />
                            </a>
                        </li>
                        <li class="item"><a href="@Slam.Cms.Configuration.ConfigurationManager.Environment.FrontEndUrl" data-title="Home">@Resources.BusinessOwnerPages.Home</a></li>
                    </ul>
                    <a href="@Slam.Cms.Configuration.ConfigurationManager.Environment.FrontEndUrl" class="mobile main-logo">
                        <img src="@urlService.GetStaticImageURL("mc-mobile-logo-1x-no-name.png")" srcset="@urlService.GetStaticImageURL("mc-mobile-logo-2x-no-name.png") 2x" width="51" height="45" alt="mastercard" />
                    </a>
                </nav>
            </header>
        </div>

        @if (IsSectionDefined("Breadcrumb"))
        {
            @RenderSection("Breadcrumb", false);
        }
        else
        {
            <nav class="breadcrumbs grid-spaces-in" aria-label="">
                <a href="/portal" class="path " tracking-type="breadcrumb">@Resources.BusinessOwnerPages.Home</a>
                <span>@Resources.BusinessOwnerPages.MyAssetsTitle</span>
            </nav>
        }
        <main class="page-body business-owner">

            @RenderBody()

        </main>
        @{Html.RenderAction("_BusinessOwnerLayoutFooter", "BusinessOwner");}
    </div>
    <!-- Custom and plugin javascript -->
    <script src="@Url.Content("~/Content/js/inspinia.js")"></script>
    <script src="@Url.Content("~/Content/js/plugins/pace/pace.min.js")"></script>
    <script>
        $(function () {
            $(".header-wrapper").load("/portal/header/header", function () {
                var baseUrl = '';
                if (typeof (baseSiteUrl) !== 'undefined' && baseSiteUrl)
                    baseUrl = baseSiteUrl;

                if ($.fn.selectric) {
                    $('.language-selector select').selectric({
                        onChange: function () {
                            $.ajax({
                                type: 'POST',
                                url: baseUrl + '/header/languagechanged',
                                data: { selectedLanguage: $(this).val() },
                                beforeSend: function () {
                                    $('.language-selector .selectric-items').remove();
                                },
                                success: function () {
                                    window.location.reload();
                                }
                            });
                        }
                    });

                    $('.region-selector select').selectric({
                        onChange: function () {
                            $.ajax({
                                type: 'POST',
                                url: baseUrl + '/header/regionchanged',
                                data: { selectedRegion: $(this).val() },
                                beforeSend: function () {
                                    $('.region-selector .selectric-items').remove();
                                },
                                success: function () {
                                    window.location.reload();
                                }
                            });
                        }
                    });

                    $('.sort-selector select').selectric({
                        onInit: function () {
                            $('.sort-selector .label').text($('#sort-selector-text').val() + ' ' + $('.sort-selector .label').text());
                        },
                        onChange: function () {
                            if ($(this).val() !== '') {
                                window.location.href = window.location.protocol + "//" + window.location.hostname + window.location.pathname + "?sort=" + $(this).val();
                            } else {
                                window.location.href = window.location.protocol + "//" + window.location.hostname + window.location.pathname;
                            }
                            $('.sort-selector .label').text($('#sort-selector-text').val() + ' ' + $('.sort-selector .label').text());
                        }
                    });
                }
            });
        })
    </script>
    @RenderSection("scripts", required: false)
    @System.Web.Optimization.Scripts.Render(urlService.GetStaticVueBundleJs())
</body>
</html>