﻿@using Mastercard.MarketingCenter.Cms.Models
@model HeaderModel

<script>

    function toggleCmsSearch() {
        var disableSubmit = !$.trim($("#q").val()) != '';
        $("#doCmsSearch").prop("disabled", disableSubmit);

        return disableSubmit;
    }

    $(function () {

        toggleCmsSearch();

        $("#q").change(function () {
            toggleCmsSearch();
        });

        $("#q").keyup(function () {
            toggleCmsSearch();
        });

        $("#cmsSearch").on('keyup keypress', function (e) {
            var disabledSubmit = toggleCmsSearch();
            if (disabledSubmit) {
                var code = e.keyCode || e.which;
                if (code == 13) {
                    e.preventDefault();
                    return false;
                }
            }
        });
    });
</script>

<div class="row white-bg page-heading">
    <nav class="navbar navbar-static-top" style="margin-bottom: 0;">
        @if (ViewData["RenderPageHeading"] == null || Convert.ToBoolean(ViewData["RenderPageHeading"]))
        {
            <div class="col-lg-1 col-md-2">
                <img src="@Url.Content("~/Content/img/mastercard-logo.png")" srcset="@Url.Content("~/Content/img/mastercard-logo-2x.png") 2x" height="95" class="img-responsive" style="margin-top: 8px; margin-bottom: -8px" alt="" />
            </div>
            <div class="col-lg-4">
                <h2>@Html.Raw(Model.HeaderSection)</h2>
            </div>
        }

        <ul class="nav navbar-top-links navbar-right">
            <li>

            </li>
            <li>
                <a href="@Model.HomeUrl"><em class="fa fa-home"></em>Home</a>
            </li>
            <li>
                <span class="m-r-sm text-muted">Logged in as: <strong>@Model.Username</strong></span>
            </li>
            <li><a href="@Model.LogOutUrl"><em class="fa fa-sign-out"></em>Sign Out</a></li>
        </ul>
        <form class="navbar-form navbar-right" id="cmsSearch" action="@Url.Action("SearchResults", "Search")" method="GET" role="search">
            <div class="form-group">
                @Html.TextBox("q", TempData["q"], new { @class = "form-control", placeholder = "Search" })
            </div>
            <button id="doCmsSearch" type="submit" class="btn btn-primary binded">
                <span class="fa fa-search"></span>
            </button>
        </form>
        @if (Model.AvailableRegions.Any())
        {
            <form class="navbar-form navbar-right" id="regionSelector" action="@Url.Action("ChangeRegion", "Home")" method="POST" role="region">
                <div class="form-group region-selector-container">
                    <label>Currently Managing: </label>
                    <div class="region-selector">
                        @if (Model.AvailableRegions.Count() > 1)
                        {
                            @Html.DropDownList("selectedRegion", new SelectList(Model.AvailableRegions, "IdTrimmed", "Name", Model.SelectedRegion), new { @class = "form-control" })
                        }
                        else
                        {
                            <span class="label">@Model.AvailableRegions.First().Name</span>
                        }
                    </div>
                </div>
            </form>
        }
    </nav>
</div>