﻿@using Mastercard.MarketingCenter.Services;
@using System.Configuration
@using System.Web.Mvc;
@{
    string languageCode = DependencyResolver.Current.GetService<UserContext>().GetSelectedLanguageCode();
    string ieMeta = "IE=Edge";
    if (Request.Browser.Browser == "IE")
    {
        if (Request.Browser.MajorVersion == 10) { ieMeta = "IE=9"; }
    }
}

<!DOCTYPE html>
<!--[if IE 8 ]><html lang="@languageCode" class="ie8"><![endif]-->
<!--[if IE 9 ]><html lang="@languageCode" class="ie9"><![endif]-->
<!--[if IE 10 ]><html lang="@languageCode" class="ie10"><![endif]-->
<!---[if !(IE)]><!-->
<html lang="@languageCode">
<!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>
        @{
            if (!string.IsNullOrWhiteSpace(ViewBag.PageTitle))
            {
                @Html.Raw(ViewBag.PageTitle);
            }
        } Mastercard Admin
    </title>
    <meta http-equiv="x-ua-compatible" content="@ieMeta" />
    <link rel="apple-touch-icon" sizes="180x180" href="@Url.Content("~/Content/img/favicons/apple-touch-icon.png")">
    <link rel="icon" type="image/png" href="@Url.Content("~/Content/img/favicons/favicon-32x32.png")" sizes="32x32">
    <link rel="icon" type="image/png" href="@Url.Content("~/Content/img/favicons/favicon-16x16.png")" sizes="16x16">
    <link rel="manifest" href="@Url.Content("~/Content/img/favicons/manifest.json")">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="@Url.Content("~/Content/img/favicons/mstile-150x150.png")">
    <meta name="theme-color" content="#ffffff">
    @System.Web.Optimization.Styles.Render("~/bundles/layout")
    <!--[if lt IE 9]>
        <script>!function(a,b){function c(a,b){var c=a.createElement("p"),d=a.getElementsByTagName("head")[0]||a.documentElement;return c.innerHTML="x<style>"+b+"</style>",d.insertBefore(c.lastChild,d.firstChild)}function d(){var a=t.elements;return"string"==typeof a?a.split(" "):a}function e(a,b){var c=t.elements;"string"!=typeof c&&(c=c.join(" ")),"string"!=typeof a&&(a=a.join(" ")),t.elements=c+" "+a,j(b)}function f(a){var b=s[a[q]];return b||(b={},r++,a[q]=r,s[r]=b),b}function g(a,c,d){if(c||(c=b),l)return c.createElement(a);d||(d=f(c));var e;return e=d.cache[a]?d.cache[a].cloneNode():p.test(a)?(d.cache[a]=d.createElem(a)).cloneNode():d.createElem(a),!e.canHaveChildren||o.test(a)||e.tagUrn?e:d.frag.appendChild(e)}function h(a,c){if(a||(a=b),l)return a.createDocumentFragment();c=c||f(a);for(var e=c.frag.cloneNode(),g=0,h=d(),i=h.length;i>g;g++)e.createElement(h[g]);return e}function i(a,b){b.cache||(b.cache={},b.createElem=a.createElement,b.createFrag=a.createDocumentFragment,b.frag=b.createFrag()),a.createElement=function(c){return t.shivMethods?g(c,a,b):b.createElem(c)},a.createDocumentFragment=Function("h,f","return function(){var n=f.cloneNode(),c=n.createElement;h.shivMethods&&("+d().join().replace(/[\w\-:]+/g,function(a){return b.createElem(a),b.frag.createElement(a),'c("'+a+'")'})+");return n}")(t,b.frag)}function j(a){a||(a=b);var d=f(a);return!t.shivCSS||k||d.hasCSS||(d.hasCSS=!!c(a,"article,aside,dialog,figcaption,figure,footer,header,hgroup,main,nav,section{display:block}mark{background:#FF0;color:#000}template{display:none}")),l||i(a,d),a}var k,l,m="3.7.3",n=a.html5||{},o=/^<|^(?:button|map|select|textarea|object|iframe|option|optgroup)$/i,p=/^(?:a|b|code|div|fieldset|h1|h2|h3|h4|h5|h6|i|label|li|ol|p|q|span|strong|style|table|tbody|td|th|tr|ul)$/i,q="_html5shiv",r=0,s={};!function(){try{var a=b.createElement("a");a.innerHTML="<xyz></xyz>",k="hidden"in a,l=1==a.childNodes.length||function(){b.createElement("a");var a=b.createDocumentFragment();return"undefined"==typeof a.cloneNode||"undefined"==typeof a.createDocumentFragment||"undefined"==typeof a.createElement}()}catch(c){k=!0,l=!0}}();var t={elements:n.elements||"abbr article aside audio bdi canvas data datalist details dialog figcaption figure footer header hgroup main mark meter nav output picture progress section summary template time video",version:m,shivCSS:n.shivCSS!==!1,supportsUnknownElements:l,shivMethods:n.shivMethods!==!1,type:"default",shivDocument:j,createElement:g,createDocumentFragment:h,addElements:e};a.html5=t,j(b),"object"==typeof module&&module.exports&&(module.exports=t)}("undefined"!=typeof window?window:this,document);</script>
        <script src="@Url.Content("~/Content/js/ie8/respond.min.js")"></script>
        <script src="@Url.Content("~/Content/js/ie8/selectivizr-min.js")"></script>
        <![endif]-->
    @System.Web.Optimization.Scripts.Render("~/bundles/main")
    <script src="https://unpkg.com/vue"></script>
    @RenderSection("head", required: false)
    <script type="text/javascript">
        var siteBaseUrl = '@Html.Raw(Request.Url.Scheme + "://" + Request.Url.Authority)';
        var sitePortalRelativeUrl = '@Html.Raw(ConfigurationManager.AppSettings["PortalUrl"])';
        var siteAdminRelativeUrl = '@Html.Raw(ConfigurationManager.AppSettings["AdminUrl"])';
        $(document).ready(function () {
            //Workaround correct title tab for IE 10/11 known issue "Waiting for.."
            if (/MSIE \d|Trident.*rv:/.test(navigator.userAgent))
            {
                var title_var = document.title;
                document.title = title_var;
            }
            commonScript = new LayoutScript(siteBaseUrl, siteAdminRelativeUrl, sitePortalRelativeUrl);
            commonScript.initialize();
        });
    </script>
</head>
<body>
    <div id="wrapper">
        @{ Html.RenderAction("_NavBar", "Home"); }
        <div id="page-wrapper" class="gray-bg">
            @{ Html.RenderAction("_Header", "Home", new { headerSection = RenderSection("HeaderTitle", false) != null ? RenderSection("HeaderTitle", false).ToHtmlString() : string.Empty });}
            <div class="row animated fadeInRight">
                @RenderBody()
            </div>
            @*@Html.Partial("_Footer")*@
        </div>
    </div>
    <div id="historyDialog" class="modal fade" role="dialog">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">History</h4>
                </div>
                <div class="modal-body no-top-border">
                </div>
            </div>
        </div>
    </div>
    <!-- Custom and plugin javascript -->
    <script src="@Url.Content("~/Content/js/inspinia.js")"></script>
    <script src="@Url.Content("~/Content/js/plugins/pace/pace.min.js")"></script>
    @RenderSection("scripts", required: false)
</body>
</html>
