﻿<div id="comments-partial" class="mc-modal--content">
    @*Error Modal Start*@
    <div class="hide" id="mc-comments--error--wrapper">
        <div class="mc-modal--header comments">
            <a href="#" class="close-link reload-page"><img src="/admin/Content/css/ContentComments/images/pop-up_close_icon.png" width="32" alt=""></a>
            <div class="mc-modal--icon">
                <img src="/admin/Content/css/ContentComments/images/error_state_icon.png" alt="" width="120">
            </div>
            <h2 class="mc-text-center">@Resources.ContentItemComments.ModalErrorMessage</h2>
        </div>
        <div class="mc-modal--body">
            <div class="mc-modal--back-link close-link">
                <a href="#" class="reload-page">
                    <img src="/admin/Content/css/ContentComments/images/back_to_assets_list_icon.png" alt="" width="28">
                    @Resources.ContentItemComments.BackToAssetList
                </a>
            </div>
        </div>
    </div>
    <div class="hide" id="mc-comments--success--wrapper">
        <div class="mc-modal--header comments">
            <a href="#" class="close-link reload-page"><img src="/admin/Content/css/ContentComments/images/pop-up_close_icon.png" width="32" alt=""></a>
            <div class="mc-modal--icon">
                <img src="/admin/Content/css/ContentComments/images/success_state_icon.png" alt="" width="120">
            </div>
            <h2 class="mc-text-center">@Resources.ContentItemComments.ModalSuccessMessage</h2>
        </div>
        <div class="mc-modal--body">
            <div class="mc-modal--back-link close-link">
                <a href="#" class="reload-page">
                    <img src="/admin/Content/css/ContentComments/images/back_to_assets_list_icon.png" alt="" width="28">
                    @Resources.ContentItemComments.BackToAssetList
                </a>
            </div>
        </div>
    </div>
</div>