﻿@using Mastercard.MarketingCenter.Services.Models
@model NavigationModel

<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <ul class="nav" id="side-menu">
            <li>
                <a href="@Url.Action("Index","Home")">
                    <em class="fa fa-home"></em>
                    <span>Home</span>
                </a>
            </li>
            @foreach (var rootMenu in Model.RootItems)
            {
                <li @(rootMenu.HasActiveChild ? "class=active" : "")>
                    <a href="#"><em class="fa @rootMenu.IconCssClass"></em> <span class="nav-label">@rootMenu.Name</span><span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level collapse" aria-expanded="false">
                        @foreach (var item in rootMenu.Children)
                        {
                            <li @((item.HasActiveChild || item.IsActive) ? "class=active" : "")>
                                @if (item.IsMenuGroup)
                                {
                                    <a href="#">@(string.IsNullOrEmpty(item.IconCssClass) ? string.Empty : "<em class=\"fa " + item.IconCssClass + "\"></em> ")<span class="nav-label">@item.Name</span><span class="fa arrow"></span></a>
                                    <ul class="nav nav-second-level">
                                        @foreach (var subItem in item.Children)
                                        {
                                            <li @((subItem.HasActiveChild || subItem.IsActive) ? "class=active" : "")>
                                                @Html.ActionLink(subItem.Name, subItem.NavigationInfo.Action, subItem.NavigationInfo.Controller, subItem.NavigationInfo.RouteValues, null)
                                            </li>
                                        }
                                    </ul>
                                }
                                else
                                {
                                    var styleClass = "";
                                    if (item.IsActive) { styleClass = "active"; }
                                    @Html.ActionLink(item.Name, item.NavigationInfo.Action, item.NavigationInfo.Controller, item.NavigationInfo.RouteValues, new { @class = styleClass })
                                }
                            </li>
                        }
                    </ul>
                </li>
            }
        </ul>
    </div>
</nav>