﻿@model BusinessOwnerContentModel

@if (Model.ContentTypeId == MarketingCenterDbConstants.ContentTypeIds.AssetFullWidth
    && (!Model.ContentItemData.ContainsKey(MarketingCenterDbConstants.FieldNames.ThumbnailImage)
        || Model.ContentItemData[MarketingCenterDbConstants.FieldNames.ThumbnailImage] == null
        || string.IsNullOrEmpty((string)Model.ContentItemData[MarketingCenterDbConstants.FieldNames.ThumbnailImage])))
{
    // only for AssetFullWidth if Thumbnail is not specified, showing Icon
    <div class="mc-asset--picture">
        <img src="@Model.IconUrl" alt="@Model.ContentItemTitle">
    </div>
}
else
{
    // regular case
    foreach (var fieldDef in Model.ContentTypeFieldDefinitions
                            .Where(fd => fd.FieldDefinition.FieldTypeCode == FieldType.Image)
                            .OrderBy(fd => fd.BusinessOwnerOrder)
                            .ThenBy(fd => fd.FieldDefinition.Name))
    {
        @Html.EditorFor(
            o => fieldDef.FieldDefinition,
            "Image",
            new
            {
                isNewForm = Model.IsNewForm,
                fieldName = fieldDef.FieldDefinition.Name,
                contentItemData = Model.ContentItemData,
                contentTypeId = Model.ContentTypeId,
                fieldDefinitions = Model.ContentTypeFieldDefinitions.Select(o => o.FieldDefinition)
                ,
                     addSpecs = true
            })
    }
}