﻿<div class="ibox-content" style="text-align: center;padding-top: 50px;">
    <span class="fa fa-gears" style="font-size: 1200%;color: #ededed;text-shadow: rgba(0,0,0,0.3) 0 2px 0;"></span>
    <h1>Under Construction</h1>
    <br/>
    <h2>@ViewBag.Message</h2>
</div>