﻿[#layout:ExpiredContent_Extension_Layout.htm]
<tr>
    <td style="color:#141413; font-family:'MarkWebPro-LightW01Regular', Century Gothic, Arial, Helvetica, sans-serif; font-size:16px; line-height:22px;" valign="top" align="left">Hello [#ToName],<br> the user [#UserFirstName] has confirmed the expiration date for the following asset:</td>
</tr>
<tr>
    <td style="font-size:25px; line-height:25px; mso-line-height-rule: exactly;" valign="top" height="25">&nbsp;</td>
</tr>
<tr>
    <td style="color:#141413; font-family:'MarkWebPro-LightW01Regular', Century Gothic, Arial, Helvetica, sans-serif; font-size:12px; line-height:22px; max-width: 600px; word-wrap: break-word;" valign="top" align="left">
        <a href="[#ExtendUrl]"> [#AssetName] </a>
    </td>
</tr>
<tr>
    <td style="font-size:25px; line-height:25px; mso-line-height-rule: exactly;" valign="top" height="25">&nbsp;</td>
</tr>
<tr>
    <td style="color:#141413; font-family:'MarkWebPro-LightW01Regular', Century Gothic, Arial, Helvetica, sans-serif; font-size:16px; line-height:22px; max-width: 600px; word-wrap: break-word;" valign="top" align="left">[#UserFirstName] comments: [#Comment]</td>
</tr>
<tr>
    <td style="font-size:25px; line-height:25px; mso-line-height-rule: exactly;" valign="top" height="25">&nbsp;</td>
</tr>
<tr>
    <td style="color:#141413; font-family:'MarkWebPro-LightW01Regular', Century Gothic, Arial, Helvetica, sans-serif; font-size:16px; line-height:22px; max-width: 600px; word-wrap: break-word;" valign="top" align="left">Or, visit the administration pages to <a href="[#AssetList]">review all content.</a></td>
</tr>
<tr>
    <td style="font-size:25px; line-height:25px; mso-line-height-rule: exactly;" valign="top" height="25">&nbsp;</td>
</tr>
<tr>
    <td style="color:#141413; font-family:'MarkWebPro-LightW01Regular', Century Gothic, Arial, Helvetica, sans-serif; font-size:16px; line-height:22px; max-width: 600px; word-wrap: break-word;" valign="top" align="left">
        For more information send us an email to:<br />
        [#ContactUsAddresses]
    </td>
</tr>