﻿@model ListTrackingInfoModel

<script>
    $(function () {
        $.get('@Url.Action("GetTrackingInfo", new { id = Model.Id, listId = Model.ListId })', function (data) {
            if (data) {
                var createdinfo = data.CreatedDate;

                if (data.CreatedBy)
                    createdinfo += " by " + data.CreatedBy;
                
                $("#createdinfo").html(createdinfo);

                if (data.ModifiedDate) {
                    var modifiedinfo = data.ModifiedDate;
                    
                    if (data.ModifiedBy)
                        modifiedinfo += " by " + data.ModifiedBy;
                    
                    $("#tracking-mod-date").html("Last modified at " + modifiedinfo);
                }
            }
        });
    });
</script>


<div>
    <div>Created at <span id="createdinfo"></span></div>
    <div id="tracking-mod-date">
        
    </div>
</div>