﻿@using Mastercard.MarketingCenter.Data
@model ListItemModel
@section head
{
    @System.Web.Optimization.Scripts.Render("~/bundles/content")
    @System.Web.Optimization.Styles.Render("~/Content/content")
    <script>
        $(document).ready(function () {
            var contentItemCrud = new ContentItemCrud();
            contentItemCrud.initialize();

            @Html.RenderClientEvents()
        });

    </script>
}
@section HeaderTitle
{
    New @Model.ListTitle
}
<div class="ibox-content">
    @Html.Partial("_ErrorAlert")
    @using (Html.BeginForm("Create", "List", FormMethod.Post, new { @class = "form-horizontal", autocomplete = Model.ListTableName == MarketingCenterDbConstants.Tables.Issuer ? "off" : "on" }))
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(o => o.ListId)
        @Html.HiddenFor(o => o.ReturnUrl)
        @Html.EditorForModel()
        <hr />
        <div class="form-group">
            <div class="col-md-6 col-md-offset-3">
                <div class="pull-right">
                    <a href="@(string.IsNullOrEmpty(Model.ReturnUrl) ? Url.Action("Index", "List", new { id = Model.ListId }) : Model.ReturnUrl)" class="btn btn-white"><span class="fa fa-remove"></span>&nbsp;&nbsp;Cancel</a>
                </div>
                <button class="btn btn-primary" type="submit"><span class="fa fa-plus"></span>&nbsp;&nbsp;Create</button>
            </div>
        </div>
    }
</div>