﻿@model ListItemModel

<script>
        $(document).ready(function () {
            var contentItemCrud = new ContentItemCrud();
            contentItemCrud.initialize();

            @Html.RenderClientEvents()
        });

</script>

<div id="create_a_@Model.ListId" class="ibox-content" style="border: none;">

    @Html.Partial("_ErrorAlert")

    @using (Ajax.BeginForm("CreateAsync", "List", new AjaxOptions() { HttpMethod = "POST", UpdateTargetId = Model.UpdateTargetId, InsertionMode = InsertionMode.Replace, OnComplete = Model.ClientCompleteCallback, OnSuccess = Model.ClientSuccesCallback, OnFailure = Model.ClientErrorCallback }, new { @class = "form-horizontal" }))
    {@Html.AntiForgeryToken()
        @Html.HiddenFor(o => o.ListId)
        @Html.HiddenFor(o => o.ReturnUrl)
        @Html.HiddenFor(o => o.ClientSuccesCallback)
        @Html.HiddenFor(o => o.ClientErrorCallback)
        @Html.HiddenFor(o => o.ClientCompleteCallback)
        @Html.HiddenFor(o => o.UpdateTargetId)

        @Html.EditorForModel()

        <hr />
        <div class="form-group">
            <div class="col-md-6 col-md-offset-3">
                <div class="pull-right">
                    <a href="@(string.IsNullOrEmpty(Model.ReturnUrl) ? Url.Action("Index", "List", new { id = Model.ListId }) : Model.ReturnUrl)" class="btn btn-white"><span class="fa fa-remove"></span>&nbsp;&nbsp;Cancel</a>
                </div>
                <button class="btn btn-primary" type="submit"><span class="fa fa-plus"></span>&nbsp;&nbsp;Create</button>
            </div>
        </div>
    }
</div>
