﻿@using Mastercard.MarketingCenter.Data
@using Mastercard.MarketingCenter.Services;
@model ListItemModel
@section head
{
    @System.Web.Optimization.Styles.Render("~/Content/content")
    @System.Web.Optimization.Scripts.Render("~/bundles/content")
    <script>
        $(document).ready(function () {
            var contentItemCrud = new ContentItemCrud();
            contentItemCrud.initialize();

            @Html.RenderClientEvents()
        });

    </script>
}
@section HeaderTitle
{
    @Model.ListTitle Update
}
<div class="ibox-content">
    @Html.Partial("_ErrorAlert")
    @{ var isIssuerTable = Model.ListTableName == MarketingCenterDbConstants.Tables.Issuer; }
    @using (Html.BeginForm("Update", "List", FormMethod.Post, new { @class = "form-horizontal", autocomplete = isIssuerTable ? "off" : "on" }))
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(o => o.IdFieldValue)
        @Html.HiddenFor(o => o.ListId)
        @Html.HiddenFor(o => o.ReturnUrl)
        @Html.EditorForModel()
        if (isIssuerTable && User.IsInPermission(Mastercard.MarketingCenter.Common.Infrastructure.Constants.Permissions.CanManageIssuerMatcher))
        {
            Html.RenderAction("IssuerListDetails", new { issuerId = Model.IdFieldValue });
        }
        <hr />
        <div class="form-group">
            <div class="col-md-6 col-md-offset-3">
                <div class="pull-right">
                    <a href="@(string.IsNullOrEmpty(Model.ReturnUrl) ? Url.Action("Index", "List", new { id = Model.ListId }) : Model.ReturnUrl)" class="btn btn-white"><span class="fa fa-remove"></span>&nbsp;&nbsp;Cancel</a>
                </div>
                <button class="btn btn-primary" type="submit"><span class="fa fa-refresh"></span>&nbsp;&nbsp;Update</button>
            </div>
        </div>
        if (Model.HasTrackingFields)
        {
            @Html.Partial("_TrackingInfo", new ListTrackingInfoModel { Id = Convert.ToString(Model.IdFieldValue), ListId = Model.ListId })
        }
    }
</div>