﻿@model ListModel

@section head
{
    @System.Web.Optimization.Styles.Render("~/Content/plugins/datatables")
    @System.Web.Optimization.Scripts.Render("~/bundles/datatables")
    @System.Web.Optimization.Scripts.Render("~/bundles/content")

    <script>
        $(function () {

            @(string.IsNullOrEmpty(ViewBag.refreshAction) ? new HtmlString("") : Html.RenderClientEvents((string)ViewBag.refreshAction))

            var colsArray = [];
            colsArray.push({ data: "Actions", title: "Actions", searchable: false, orderable: false });

            @foreach (var column in Model.Columns)
            {
                @:colsArray.push({ "data": "@column.Name", "title": "@column.Description" @(string.IsNullOrEmpty(column.RenderTemplate) ? string.Empty : ',' + column.RenderTemplate) });
            }

            var defaultOrderArray = [];
            @{
                var idVisible = Model.Columns.Any(o => o.FieldType == FieldType.GuidPrimaryKey);
                @Html.RenderListTrackingOrderingFields();
            }

            var editLinkIndex = @(idVisible ? 2 : 1);
            var contentList = new ContentList("@Url.Action("GetContent", "List")", "@Model.Id", null, "@Url.Action("Edit", "List", new {listId = Model.Id, id = ""})", colsArray, "@Model.IdColumnName", defaultOrderArray, editLinkIndex, false, false, '', false, true, false, true, false);
            var table = contentList.initialize(function(data) {
                data.includeExpired = $("input[name=expired]").is(":checked");
            });

            $("#expired").on("change", function() {
                if($("input[name=expired]").is(":checked")){ $('#archived').prop('checked', false);}
                table.ajax.reload();
            });

            $(document).on("click", '.delete-item', function(event) {
                if (confirm("You are sure you want to delete this item")) {
                    $.post("@Url.Action("Delete")", { listId: '@Model.Id', itemId: $(this).data('id') })
                        .always(function (data, statusText, xhr) {
                            if (xhr.status != 200) { return;}
                            if (data.ok) {
                                @Html.RenderClientEvents("delete")

                                var url = window.location.href.split('#')[0];
                                if (url.indexOf('refreshAction=Update') > -1) {
                                    location.reload();
                                }
                                else if (url.indexOf('?') > -1)
                                {
                                    url += '&refreshAction=Update';
                                }
                                else
                                {
                                    url += '?refreshAction=Update';
                                }
                                window.location.href = url;
                            } else {
                                if (data.errorMessage === undefined || data.errorMessage === "undefined" || data.errorMessage === null) {
                                    alert("The @Model.Title cannot be removed because there is current content / issuers related to that @Model.Title.");
                                }
                                else {
                                    alert(data.errorMessage);
                                }
                            }
                        })
                        .fail(function () {
                            alert("The @Model.Title cannot be removed because there is current content / issuers related to that @Model.Title.");
                        });
                }
            });
        });
    </script>
}

@section HeaderTitle
{
    @Model.Title
}

<div class="ibox-content">
    <div>
        <div class="row">
            <div class="col-md-4">
                @Html.GlyphButton("Add new Item", "Create", "List", new { id = Model.Id }, new { @class = "btn btn-primary" }, new { @class = "fa fa-plus" })
            </div>
            <div class="col-md-8">
                <div @(Model.CanExpire ? "" : " style=display:none; ")>
                    <div class="onoffswitch pull-right">
                        <input id="expired" name="expired" type="checkbox" value="true"><input name="expired" type="hidden" value="false">
                        <label class="onoffswitch-label" for="expired"></label>
                    </div>
                    <div class="onoffswitch-aside-label pull-right">Show Expired Items</div>
                </div>
            </div>
        </div>
        <br />
        <br />
        <table class="table table-hover" id="contentGrid">
            <thead>
                <tr>
                    <th scope="col">Actions</th>
                    @foreach (var column in Model.Columns)
                    {
                        <th scope="col">@column.Description</th>
                    }
                    @if (Model.ShowTrackingFields)
                    {
                        <th scope="col">Created Date</th>
                        <th scope="col">Modified Date</th>
                    }
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</div>