﻿@model Mastercard.MarketingCenter.Data.Entities.IssuerData
<div class="form-group">
	<label class="col-md-3 control-label">CID</label>
	<div class="col-md-6">
		@Html.TextBox("Cid", Model.Cid, new { @class = "form-control", @readonly = "readonly" })
	</div>
</div>
@{string issuerMatchingStatus = !string.IsNullOrEmpty(Model.Cid) ? "Completed" : (Model.MatchConfirmed.HasValue ? "Unverified Match" : "Missing");}
<div class="form-group">
	<label class="col-md-3 control-label">Issuer Matching Status</label>
	<div class="col-md-6">
		@Html.TextBox("IssuerMatchingStatus", issuerMatchingStatus, new { @class = "form-control", @readonly = "readonly" })
	</div>
</div>
@if(issuerMatchingStatus != "Completed")
{
	<div class="form-group">
		<label class="col-md-3 control-label">Link to Matching Tool</label>
		<div class="col-md-6 matching-tool">
			@Html.ActionLink("Click Here", "Details", "IssuerMatcher", routeValues: new { id = Model.IssuerId }, htmlAttributes: new { title = "Link to Matching Tool" })
		</div>
	</div>
}