#PC08 {
	font-family: Verdana, Sans-Serif;
	/* ASL
	width: 685px;
	*/
	width: 643px;
	position: relative;
	margin-left: 10px
}
#PC08 * { color:inherit; }

#PC08 img {
	border: 0;
}

/* CONTENT */
#PC08 .info {
	border-top: 1px dotted #CCCC99;
	margin-top: 6px;
	padding-top: 16px;
	font-size: 10px;
	line-height: 1.4;
	width: 360px;
	margin-right: 30px;
}
#PC08 .whatsnew {
	float: right;	
	font-size: 9px;	
	border: 0;
	position: relative;	
}

#PC08 .whatsnewfoot {
	width: 239px;
	height: 13px;
	position: absolute;
	left: 0;
	bottom: -1px;
}
#PC08 .whatsnew a {
	width: 67px;
	height: 67px;
	display: block;
	float: left;
	margin: 0 8px 5px 0;
	padding: 0;
}
#PC08 a.whatsnewlong {
	width: 67px;
	height: 77px;
	display: block;
	float: left;
	margin: 0 8px 20px 0;
	padding: 0;
}
#PC08 .whatsnew img {
	border: 1px solid #CCCC99;
}
#PC08 .whatsnnewpromo {
	clear: left;
	font-size: 9px;
}
#PC08 .whatsnnewpromo b {
	font-size: 9px;
}
#PC08 .pdflink {
	display: block;
	width: 152px;
	height: 0 !important;
	height: 29px;
	padding-top: 29px;
	overflow: hidden;
	margin-top: 35px;
}

/* CALENDAR */
#PC08 .calendar {
	font-size: 10px;
	font-weight: bold;
	width: 643px;
	border:1px solid #ADA9AA

}
#PC08 .calendar span {
	display: block;
	padding: 4px 0 4px 4px;
}
#PC08 .grouptitle {
	background-color: #f2f2f2;
	color: #455560;
	height: 17px;
	text-align: left;
	text-transform: uppercase;
	font-size: 14px;
	padding-top: 2px;
	padding-left: 5px;
}
#PC08 .categorytitle {
	background-color: #f2f2f2;
	color: #991b1e;
	height: 16px;
	text-align: left;
	font-size: 10px;
	padding-top: 2px;
	padding-left: 5px;
	
}
#PC08 .title {
	background-color: #f2f2f2;
	color: #595a5c;
	float: left;
	height: 100%;
	/* 
	height: 30px!important;
	height: 30px;
	*/
	/* ASL
	width: 125px;
	*/
	width: 100px;
	overflow: hidden;
	font-size: 10px;
}
#PC08 .month {
	width: 35px !important;
	width: 36px;
	height: 100%;
	border-left: 1px solid #ada9aa;
	float: left;
	text-align: center;
	font-size: 10px;
}
#PC08 .row {
	background-color: #f2f2f2;

	clear: both;
	position: relative;
}
#PC08 .item {
	color: white;
	font-size: 9px;
	font-weight: normal;
	height: 100%;
	position: absolute;
	top: 0;
	z-index: 100;
	letter-spacing: -1px;
}
#PC08 .item b {
	letter-spacing: normal;
}

#PC08 .item i {
	display: block;
	height: 100%;
	margin-right: 11px; 
}
#PC08 .item u {
	display: block;
	height: 100%;
	text-decoration: none;
	position: absolute;
	top: 0;
	right: 0;
	width: 11px;
}
#PC08 .item span b {
	display: block;
	padding-right: 5px;
}
#PC08 .item.active span {
	text-decoration: underline;
}
#PC08 .orderperiod i {
	background: url(orderperiod.png) no-repeat top left;
	margin-top:1px;
}
#PC08 .orderperiod u {
	background: url(orderperiod_end.png) no-repeat top right;
	margin-top:1px;
}
/*#PC08 .promo.on .orderperiod i {
	background: url(orderperiod_on.gif) no-repeat top left;
}
#PC08 .promo.on .orderperiod u {
	background: url(orderperiod_on_end.gif) no-repeat top left;
}*/
#PC08 .inmarket i {
	background: url(inmarket.png) no-repeat top left;
	margin-top:1px;
}
#PC08 .inmarket u {
	background: url(inmarket_end.png) no-repeat top right;
	margin-top:1px;
}
/*#PC08 .promo.on .inmarket i {
	background: url(inmarket_on.gif) no-repeat top left;
}
#PC08 .promo.on .inmarket u {
	background: url(inmarket_on_end.gif) no-repeat top left;
}*/
#PC08 .ongoing {
	background: url(ongoing.png) no-repeat;
	margin-top:2px;
	height: 30px;
	width: 546px;
}
#PC08 .promo.on .ongoing {
	background: url(ongoing.png) no-repeat;
}
/*#PC08 .ongoinggroup {
	background: url(ongoingdates_on.gif) no-repeat;
	height: 16px;
	width: 540px;
}
#PC08 .categorygroup.on .ongoinggroup {
	background: url(ongoingdates_on.gif) no-repeat;
	height: 16px;
	width: 540px;
}*/
#PC08 .ongoingdates {
	height: 24px;
	width: 214px;
}
/*#PC08 .promo.on .ongoingdates {
	background: url(ongoingdates_on.gif) no-repeat;
}*/
#PC08 .item span {
	font-size: 10px;
	position: absolute;
	top: 0;
	left: 0;
	padding: 5px 0 0 5px;
	width: 95%;
}

/* Overlapping Items */
#PC08 .item.over {
	height: 24px;
}
#PC08 .over span, #PC08 .under span {
	padding: 3px 5px 0;
	line-height: 1;
}
#PC08 .under {
	top: 50%;
	height: 23px;
}
#PC08 .orderperiod.over i {
	background: url(orderperiod_half.png) no-repeat;
}
#PC08 .orderperiod.over u {
	background: url(orderperiod_half_end.png) no-repeat;
}
/*#PC08 .promo.on .orderperiod.over i {
	background: url(orderperiod_half_on.gif) no-repeat;
}
#PC08 .promo.on .orderperiod.over u {
	background: url(orderperiod_half_on_end.gif) no-repeat;
}*/
#PC08 .inmarket.under i {
	background: url(inmarket_half.png) no-repeat;
}
#PC08 .inmarket.under u {
	background: url(inmarket_half_end.png) no-repeat;
}
/*#PC08 .promo.on .inmarket.under i {
	background: url(inmarket_half_on.gif) no-repeat;
}
#PC08 .promo.on .inmarket.under u {
	background: url(inmarket_half_on_end.gif) no-repeat;
}*/
#PC08 .continueleft span {
	border-left: 0;
}
#PC08 .continueright span {
	border-right: 0;
}
#PC08 .header {
	color: white;
	height: 28px;
}
#PC08 .header, #PC08 .header .title {
	background-color: #ee3224;
	color: white;
}
#PC08 .header span {
	padding: 7px 0;
}
#PC08 .header .title span {
	padding: 7px 5px;
}
#PC08 .categorygroup {
	height: 25px!important;
	height: 16px;
	
}
/*
#PC08 .categorygroup, #PC08 .categorygroup .title {
	background-color: #00FF00;
	color: white;
}
*/
#PC08 .category.row {
	/*height: 100%;*/
	clear: both;
}

#PC08 .category, #PC08 .category .categorytitle {
	color: white;
	/*
	background-color: #9999CC;
	text-align: center;
	height: 16px!important;
	*/
	height: 16px;

}
#PC08 .promo.row {
	/**/
	height: 32px!important;
	height: 32px;
		border-top: 1px solid #ada9aa;
		border-bottom: 1px solid #ada9aa;
}

#PC08 .promo {
	/**/
	height: 32px!important;
	height: 32px;
}

#PC08 .promo.on, #PC08 .promo.on .month, #PC08 .promo.on .title, #PC08 .promo.on .offyear {
	background-color: #d1dce8;
	border-left-color: #d1dce8;
	color: #08215C;
}
/*#PC08 .promo.on .item span {
	color: #08215C;
}
*/
/* OFFYEAR */
#PC08 .offyear {
	background-color: #d1d2d3;
}
#PC08 .header .offyear {
	background-color: #981b1e;
	color: #a6a8ac;
}
/*
#PC08 .category .offyear {
	background-color: #ADC6C7;
}
*/

/* CURRENT MONTH */

#PC08 .current {
	background-color: #8cadcb;
}
#PC08 .header .current {
	background-color: #ee3224;
}
/*
#PC08 .category .current {
	background-color: #557A8D;
}
*/
#PC08 .categorygroup .current {
	background-color: #00AA00;
}

#CalendarBubble {
	font-family: Verdana, Sans-Serif;
	font-size: 10px;
	font-weight: bold;
	position: absolute;
	top: 0;
	left: 0;
	width: 286px !important;
	width: 300px;
	z-index: 200;
}

#CalendarBubbleArrow {
	background: url(bubble_arrow.png) no-repeat;
	position: absolute;
	top: 0;
	left: 0px;
	margin-left: 11px;
	width: 22px;
	height:15px;
	z-index: 201;
}

/* Expandable Block Styles */
.block {
	margin:0.5em 0;
}

.block .bt {
	background:url(bubble.png) no-repeat 100% 0;
	margin:0 0 0 10px;
	height:9px;
	position: relative;
}
.block .bt div {
	height:9px;
	width:10px;
	position:relative;
	left:-10px;
	background:url(bubble.png) no-repeat 0 0;
}
* html .block .block .bt div {
	left: 0;
}

.block .bb {
	background:url(bubble.png) no-repeat 100% 100%;
	margin:0 0 0 10px;
	height:9px;
}
.block .bb div {
	height:9px;
	width:10px;
	position:relative;
	left:-10px;
	background:url(bubble.png) no-repeat 0 100%;
}

.block .i1 {
	padding:0 0 0 10px;
	background: transparent url(bubble_borders.png) repeat-y 0 0;
}
.block .i2 {
	padding:0 5px 0 0;
	background: transparent url(bubble_borders.png) repeat-y 100% 0;
}
.block .i3 {
	background-color: #dee5ee;
	padding: 3px;
	color: #595a5c;
}


.LoginBox {
	font-family: Arial, Sans-Serif;
	font-size: 10px;
	background-color: #CCCC99;
	border: 1px solid #666633;
	padding: 10px;
	color: black;}

.LoginBox a {
	color: black;
	text-decoration: underline; }
	
#switch-button { 
	position: absolute;
	width:100px;
	left: 541px; 
	top: 48px;}
	
#menu-strip {
	position: relative;
	width: 645px;
	height: 32px;
	background: transparent url(menutab_strip.png);
	z-index:1;
	}

#updated-label {
	float:right;
	margin-right:10px;
	margin-top: 10px;
	}

#linkcredit {z-index:1; }
html .item span { color: #fff ; }
html .month span { color: #fff; }
html .header .title span {color: #fff; }