﻿<div id="mmc-calendar" class="mmc-calendarV3" v-bind:class="{ fixed: isFixed }">
    <div class="loading" v-if="!initialized">
        <div class="image"></div>
        <div class="text">@Resources.Shared.Loading</div>
    </div>
    <div v-if="initialized">
        <section class="mmc-calendarV3--filters" v-if="!downloadCalendar">
            <div class="mmc-calendarV3--filters-item">
                <label>@Resources.Calendar.CampaignCategory</label>
                <mmc-dropdown label="@Resources.Calendar.AllCampaignCategories" identifier="ItemId" title="Title" ref="campaignCategoryFilter"
                              v-bind:items="campaignCategoryDropdownList"
                              v-bind:value="filters.campaignCategory"
                              v-on:update="updateCampaignCategorySelected"></mmc-dropdown>
            </div>
            <div v-show="marketList.length > 1" class="mmc-calendarV3--filters-item">
                <label>@Resources.Calendar.Markets</label>
                <mmc-dropdown label="@Resources.Calendar.AllMarkets" identifier="Identifier" title="Title" multiple="true"
                              selectedlabel="@Resources.Calendar.Selected"
                              noneselectedlabel="@Resources.Calendar.NoneSelected"
                              v-bind:items="marketList"
                              v-bind:value="filters.markets"
                              v-on:update="updateMarketSelected"></mmc-dropdown>
            </div>
            <div class="mmc-calendarV3--filters-actions">
                <a href="javascript:void(0);" v-bind:href="downloadCalendarUrl()" target="_blank" class="mmc-calendarV3--filters-actions--download">@Resources.Calendar.DownloadPdfCalendar</a>
            </div>
        </section>
        <div class="mmc-calendarV3--filters-item inline" v-if="downloadCalendar && (marketList.length > 1 || marketList[0].Identifier != regionIdentifier)">
            <label>@Resources.Calendar.Markets:</label>
            <span v-for="(identifier, index) in marketList">{{ identifier.Title }}<span v-if="index + 1 < marketList.length">, </span></span><span>.</span>
        </div>
        <header class="mmc-calendarV3--header">
            <div class="mmc-calendarV3--header-wrapper">
                <div class="mmc-calendarV3--header-selector">
                    <mmc-dropdown identifier="Id" title="Id" class="year-select"
                                  v-bind:items="yearList"
                                  v-bind:value="filters.year"
                                  v-on:update="updateYearSelected"></mmc-dropdown>
                </div>
                <div class="mmc-calendarV3--header-month"><div>@Resources.Calendar.January</div></div>
                <div class="mmc-calendarV3--header-month"><div>@Resources.Calendar.February</div></div>
                <div class="mmc-calendarV3--header-month"><div>@Resources.Calendar.March</div></div>
                <div class="mmc-calendarV3--header-month"><div>@Resources.Calendar.April</div></div>
                <div class="mmc-calendarV3--header-month"><div>@Resources.Calendar.May</div></div>
                <div class="mmc-calendarV3--header-month"><div>@Resources.Calendar.June</div></div>
                <div class="mmc-calendarV3--header-month"><div>@Resources.Calendar.July</div></div>
                <div class="mmc-calendarV3--header-month"><div>@Resources.Calendar.August</div></div>
                <div class="mmc-calendarV3--header-month"><div>@Resources.Calendar.September</div></div>
                <div class="mmc-calendarV3--header-month"><div>@Resources.Calendar.October</div></div>
                <div class="mmc-calendarV3--header-month"><div>@Resources.Calendar.November</div></div>
                <div class="mmc-calendarV3--header-month"><div>@Resources.Calendar.December</div></div>
            </div>
        </header>
        <div id="calendar-body">
            <section v-for="campaignCategory in campaignCategoryListFiltered"
                     class="mmc-calendarV3--section"
                     v-bind:id="campaignCategory.ItemId">
                <header class="mmc-calendarV3--section-header opened" v-on:click="campaignCategoryShowEventsToggle($event)" style="page-break-inside: avoid;">
                    <a target="_blank" v-show="campaignCategory.MarketingCalendarUrl && campaignCategory.MarketingCalendarUrl != ''" v-bind:href="campaignCategory.MarketingCalendarUrl">{{campaignCategory.Title}}</a>
                    <span v-show="!campaignCategory.MarketingCalendarUrl || campaignCategory.MarketingCalendarUrl == ''">{{campaignCategory.Title}}</span>
                </header>
                <div class="mmc-calendarV3--section-article opened">
                    <article v-for="(contentItem, index) in getItemsByCampaignCategory(campaignCategory.ItemId)"
                             v-bind:id="campaignCategory.ItemId + '-' + contentItem.ContentItemId"
                             class="mmc-calendarV3--section-item"
                             style="page-break-inside: avoid;">
                        <div class="mmc-calendarV3--section-item--body">
                            <div class="mmc-calendarV3--section-item--description">
                                <a target="_blank" v-show="contentItem.FrontEndUrl != ''" v-bind:href="contentItem.FrontEndUrl">{{contentItem.Title}}</a>
                                <p v-show="contentItem.FrontEndUrl == ''">{{contentItem.Title}}</p>
                                <template v-for="event in contentItem.CampaignEvents">
                                    <div class="dates">{{getDateFormatString(event.StartDate)}} - {{getDateFormatString(event.EndDate)}}</div>
                                </template>
                            </div>
                            <div class="mmc-calendarV3--section-item--duration-month"></div>
                            <div class="mmc-calendarV3--section-item--duration-month"></div>
                            <div class="mmc-calendarV3--section-item--duration-month"></div>
                            <div class="mmc-calendarV3--section-item--duration-month"></div>
                            <div class="mmc-calendarV3--section-item--duration-month"></div>
                            <div class="mmc-calendarV3--section-item--duration-month"></div>
                            <div class="mmc-calendarV3--section-item--duration-month"></div>
                            <div class="mmc-calendarV3--section-item--duration-month"></div>
                            <div class="mmc-calendarV3--section-item--duration-month"></div>
                            <div class="mmc-calendarV3--section-item--duration-month"></div>
                            <div class="mmc-calendarV3--section-item--duration-month"></div>
                            <div class="mmc-calendarV3--section-item--duration-month"></div>
                        </div>
                        <div class="mmc-calendarV3--section-item--duration">
                            <template v-for="event in contentItem.CampaignEvents">
                                <a target="_blank" v-show="contentItem.FrontEndUrl != ''" v-bind:href="contentItem.FrontEndUrl"><div class="mmc-calendarV3--section-item--duration-bar hover" v-bind:class="getEventClasses(event)"></div></a>
                                <div v-show="contentItem.FrontEndUrl == ''" class="mmc-calendarV3--section-item--duration-bar" v-bind:class="getEventClasses(event)"></div>
                            </template>
                        </div>
                    </article>
                </div>
            </section>
        </div>
    </div>
</div>

@Html.Partial("_MarketingCalendarFilter")

<script>
    var contentItemCampaignEventsUrl = '@(ViewBag.DownloadCalendarKey == null ? Url.Action("ContentItemCampaignEvents", "Calendar") : Url.Action("ContentItemCampaignEventsByDownloadCalendarKey", "Calendar", new { key = ViewBag.DownloadCalendarKey.Key }))';
    var monthsArray = ['@Resources.Calendar.January', '@Resources.Calendar.February', '@Resources.Calendar.March', '@Resources.Calendar.April', '@Resources.Calendar.May', '@Resources.Calendar.June', '@Resources.Calendar.July', '@Resources.Calendar.August', '@Resources.Calendar.September', '@Resources.Calendar.October', '@Resources.Calendar.November', '@Resources.Calendar.December'];
    var isDownload = '@ViewBag.DownloadCalendarKey' == '' ? false : true;
    var showEndYear = '@(ViewBag.ShowEndYear != null ? ViewBag.ShowEndYear.ToString().ToLower() : string.Empty)' == 'true' ? true : false;
    initializeCalendar(contentItemCampaignEventsUrl, monthsArray, isDownload, '@Url.Action("GetDownloadCalendar", "Calendar")', showEndYear);
</script>
