﻿<template id="mmc-dropdown-template">
    <div class="mmc-calendar--dropdown" v-bind:class="{ 'multiple': multiple }">
        <div class="mmc-calendar--dropdown-selected" v-bind:class="{ single: items.length <= 1 }" v-on:click.self="clickDropdown">
            {{getSelectedText() || label}}
            <div class="mmc-calendar--dropdown-options" v-bind:class="{ 'hide': hide, 'clicked': dropdownIsClicked }" v-show="items.length > 1">
                <div class="mmc-calendar--dropdown-options--item default"
                     v-if="label"
                     v-bind:class="{ active: isItemActive(null) }"
                     v-on:click="toggleSelected(null)"><span v-if="multiple" class="checkbox"></span>{{label}}</div>
                <div class="mmc-calendar--dropdown-options--item"
                     v-for="(item, index) in items"
                     v-bind:class="{ active: isItemActive(item) }"
                     v-on:click="toggleSelected(item)"><span v-if="multiple" class="checkbox"></span>{{item[title]}}</div>
            </div>
        </div>
    </div>
</template>