﻿@using Mastercard.MarketingCenter.Services.Interfaces;
@using System.Web.Mvc;
@{
    Layout = null;
    var urlService = DependencyResolver.Current.GetService<IUrlService>();
    var language = DependencyResolver.Current.GetService<ILanguageService>().GetLanguageByIdentifier(ViewBag.DownloadCalendarKey.Language);
    string languageCode = language == null ? string.Empty : language.Code;
}
<!DOCTYPE html>
<html lang="@languageCode">
<head>
    <link rel="icon" type="image/png" href="#">
    <title>@string.Format(Resources.Calendar.DownloadCalendarHeader, ViewBag.DownloadCalendarKey.DownloadYear)</title>
    @System.Web.Optimization.Styles.Render(urlService.GetStaticDownloadCalendarCss())
    @System.Web.Optimization.Scripts.Render(urlService.GetStaticjQueryJs())
    @System.Web.Optimization.Scripts.Render(urlService.GetStaticDownloadCalendarJs())
</head>
<body>
    <div>
        <main class="page-body">
            @Html.Partial("_MarketingCalendar")
        </main>
    </div>
</body>
</html>