﻿@using Mastercard.MarketingCenter.Services.Interfaces;
@using Mastercard.MarketingCenter.Services;
@using System.Web.Mvc;
@model CalendarViewModel
@section Title {
    @Model.Page.Title.StripHtml()
}
@section Breadcrumb{
    @* Breadcrumbs *@
    <nav class="breadcrumbs grid-spaces-in">
        <a href="/portal" class="path" tracking-type="breadcrumb">@Resources.Shared.Home</a>
        <span id="breadcrumbCalendarYear"></span>&nbsp;<span>@Model.Page.Title</span>
    </nav>
    @if (Model.Page.EnableFavoriting)
    {
        Html.RenderAction("Subscription", "Profile", new { contentItemId = Model.Page.ContentItemId });
    }
}
<div class="content-container">
    <header class="header-section header-first-section cold-colors content-spaces-in tac">
        <div>
            <h1 class="nowrap"><span id="titleCalendarYear"></span>&nbsp;@Html.RawWithSnippets(Model.Page.Title)</h1>
            <p class="mobile-visible">@Html.RawWithSnippets(Model.Page.ShortDescription)</p>
        </div>
    </header>
    @{
        bool marketingCalendarEnabled = false;
        bool.TryParse(RegionalizeService.RegionalizeSetting("MarketingCalendar.Enabled", DependencyResolver.Current.GetService<Mastercard.MarketingCenter.Services.UserContext>().SelectedRegion.Trim(), false), out marketingCalendarEnabled);
        if (marketingCalendarEnabled)
        {
            var urlService = DependencyResolver.Current.GetService<IUrlService>();
            @System.Web.Optimization.Styles.Render(urlService.GetStaticCalendarCss())
            @System.Web.Optimization.Scripts.Render(urlService.GetStaticCalendarJs())
            @Html.Partial("_MarketingCalendar")
        }
        else
        {
            @Html.RawWithSnippets(Model.Page.IntroCopy)
        }
    }
</div>