﻿@model  SsoIndexViewModel
@section Title {
}
@section sectionHead {
}

@if (!string.IsNullOrEmpty(Model.TargetUrl))
{
    <div class="loading">
        <div class="image"></div>
        <div class="text">@Resources.Shared.Loading</div>
    </div>
    <script type="text/javascript">
        $(document).ready(function () {
            $('form').submit();
        });
    </script>

    <form method="get" action="@Model.TargetUrl">
        <input name="token" id="token" type="hidden" value="@Model.Token" />
        <input name="RedirectTo" id="RedirectTo" type="hidden" value="@Model.RedirectTo" />
    </form>
}