﻿<!DOCTYPE html>
<html lang="en">
<head>
    <title>@ViewBag.Title</title>
    @(Html.Telerik().StyleSheetRegistrar().DefaultGroup(group => group
                          .Add("telerik.common.css")
                          .Add("telerik.windows7.css")))
    @RenderSection("HeadContent", required: false)
    <style media="screen" type="text/css">
        body {
            margin: 20px;
            font-family: verdana,arial,helvetica,sans-serif;
        }

        #body-content {
            margin: 20px;
            font-size: 0.8em;
        }

        #content-wrapper {
            margin: 5px;
            padding: 10px;
            border: 1px solid #AAAAAA;
        }

        #content-inner-wrapper {
            width: 99%;
            margin: 0 auto;
        }

        #url-info ul {
            list-style-type: none;
            margin-top: 5px;
        }

        #actions-section {
            margin: 5px;
            padding: 10px;
            border: 1px solid #AAAAAA;
        }

            #actions-section ul {
                list-style-type: none;
            }

                #actions-section ul li {
                    margin: 10px;
                }

            #actions-section textarea {
                width: 500px;
                height: 100px;
                margin-left: 20px;
                margin-top: 5px;
            }

        .redirect-section {
            margin-left: 20px;
            margin-top: 5px;
        }

        .url-textbox {
            width: 442px;
        }

        .app-textbox {
            width: 448px;
        }

        .redirect-label {
            width: 60px;
            float: left
        }

        .field-validation-error {
            color: #ff0000;
        }

        .field-validation-valid {
            display: none;
        }

        .input-validation-error {
            border: 1px solid #ff0000;
            background-color: #ffeeee;
        }

        #clear-all-button {
            float: left;
        }

        #result {
            width: 40%;
            margin: 0 auto;
            line-height: 25px;
            color: #000000;
        }

        .span-result {
            background-color: #90EE90;
            padding: 4px;
        }

        .span-error-result {
            background-color: #F08080;
            padding: 4px;
        }
    </style>
</head>
<body>
    <div>Link Redirection Tool</div>
    <div id="body-content">
        @RenderBody()
    </div>
</body>
@Html.Telerik().ScriptRegistrar().DefaultGroup(group => group.Compress(false))
@RenderSection("JavaScriptContent", required: false)
</html>