﻿@model TagBrowserBrowseAllViewModel
<style type="text/css">@Html.Raw("@import url(" + @Url.Content("~/content/styles/partial/BrowseAllContentMenu.css") + ");")</style>
<script type="text/javascript">
    $(document).ready(function () {
        $('.browse-content-menu').hover(function () {
            $(this).addClass('browse-content-hover');
        }, function () {
            $(this).removeClass('browse-content-hover');
        });
    });
</script>
<div class="browse-content-menu">
    <a class="browse-content-link" href="@Url.TagBrowser("tagbrowser")">@Resources.TagBrowser.BrowseAll</a>
    <div class="browse-content-items">
        @foreach (var column in Model.Columns)
        {
            <div class="column-div">
                @foreach (var tagCategory in column.Children)
                {
                    <h3>@tagCategory.Text</h3>
                    <ul>
                        @foreach (var tag in tagCategory.Children)
                        {
                            <li><a href="@tag.Url" tracking-type="browse-all">@tag.Text</a> (@tag.ContentItemCount)</li>
                        }
                    </ul>
                }
            </div>}
    </div>
</div>