﻿@using Mastercard.MarketingCenter.Services.Interfaces;
@using System.Web.Mvc;

@model TagBrowserIndexViewModel
@section Title{
    @Resources.TagBrowser.AllContent
}

@{
    var urlService = DependencyResolver.Current.GetService<IUrlService>();
    @System.Web.Optimization.Scripts.Render(urlService.GetStaticTagBrowserJs());
}

@section Breadcrumb{
    @if (Model.LastNode == null)
    {
        @Html.Breadcrumb("tagbrowser", Model.BreadcrumbNodes)
    }
    else
    {
        @Html.Breadcrumb("tagbrowser", Model.BreadcrumbNodes, Model.LastNode)
    }
}
<div class="content-container">
    <header class="text-header cold-colors">
        <div class="row">
            <div class="col-sm-10 col-sm-offset-1 col-lg-8 col-lg-offset-2 tac">
                <span class="cat-label">
                    @foreach (var selectedTag in Model.SelectedTags)
                    {
                        @selectedTag <text>+</text>
                    }
                </span>
                @if (Model.LastTag != null)
                {
                    <h1 class="h3"><strong>@Model.LastTag</strong></h1>
                    <p class="header-sign"><em>(@Model.ResultsCount @Resources.TagBrowser.Available)</em></p>
                }
                else
                {
                    <h1 class="h3"><strong><text>@Resources.TagBrowser.AllContent</text></strong></h1>
                }
                @Html.Raw(Model.LastTagPageContent)
            </div>
        </div>
    </header>
</div>

<div class="row grid-spaces-in results-list-wrap">
    <aside class="categories-nav-wrap col-xs-5 col-sm-4 col-lg-3">
        @Html.DisplayFor(m => m.TagTree)
    </aside>
    <div class="col-xs-7 col-sm-8 col-lg-6">
        @{Html.RenderPartial("Results", Model);}
    </div>
</div>



@Html.DisplayFor(m => m.FeaturedItems)