﻿@model TagBrowserIndexViewModel

@Html.DisplayFor(m => m.Pager)
<ul class="results-list reset">
    @{
        var firstFeatured = Model.Results.ContentItems.FirstOrDefault(ci => ci.Featured);
        var firstFeaturedContentItemId = firstFeatured == null ? string.Empty : firstFeatured.ContentItem.ContentItemId;
        var firstNotFeatured = Model.Results.ContentItems.FirstOrDefault(ci => !ci.Featured);
        var firstNotFeaturedContentItemId = firstNotFeatured == null ? string.Empty : firstNotFeatured.ContentItem.ContentItemId;
    }
    @foreach (var result in Model.Results.ContentItems)
    {
        var featuredClass = result.Featured ? "" : "";
        var additionalClass = result.ContentItem.ContentItemId == firstFeaturedContentItemId || result.ContentItem.ContentItemId == firstNotFeaturedContentItemId ? "no-border" : "";
        <li class="@featuredClass @additionalClass">

            <a class="result-name" href="@result.ResourceUrl">@Html.Raw(result.Title)</a>
            <div class="result-desc">@Html.Raw(result.Summary)</div>
        </li>
    }
</ul>
@Html.DisplayFor(m => m.Pager)