﻿@{
    var renderPageHeading = Convert.ToBoolean(ViewData["RenderPageHeading"]);
}

@if (renderPageHeading)
{
    <text>
        @section HeaderTitle {
            @ViewData["Header"]
        }
    </text>
}

<div class="ibox-content">
    <iframe title="@Html.Raw(ViewData["Header"].ToString())" src="@ViewBag.WebFormPath"></iframe>
</div>