@font-face {
    font-family: "Accord Alternate";
    src: url('AccordAlternate-Thin.eot');
    src: url('AccordAlternate-Thin.eot?#iefix') format('embedded-opentype'),
         url('AccordAlternate-Thin.woff') format('woff'),
         url('AccordAlternate-Thin.ttf') format('truetype');
    font-style: normal;
    font-weight: 100;
}

@font-face {
    font-family: "Accord Alternate";
    src: url('AccordAlternate-Bold.eot');
    src: url('AccordAlternate-Bold.eot?#iefix') format('embedded-opentype'),
         url('AccordAlternate-Bold.woff') format('woff'),
         url('AccordAlternate-Bold.ttf') format('truetype');
    font-style: normal;
    font-weight: 700;
}

@font-face {
    font-family: "Accord Alternate";
    src: url('AccordAlternate-Light.eot');
    src: url('AccordAlternate-Light.eot?#iefix') format('embedded-opentype'),
         url('AccordAlternate-Light.woff') format('woff'),
         url('AccordAlternate-Light.ttf') format('truetype');
    font-style: normal;
    font-weight: 300;
}

@font-face {
    font-family: AccordAlternateBold;
    src: url('AccordAlternate-Bold.eot');
    font-weight: 700;
}
@font-face {
    font-family: AccordAlternateLight;
    src: url('AccordAlternate-Light.eot');
    font-weight: normal;
}
@font-face {
    font-family: AccordAlternateThin;
    src: url('AccordAlternate-Thin.eot');
    font-weight: 100;
}