﻿<script>
     $(function () {
         var issuerSearchTable = $('#issuerSearchGrid').DataTable({
             processing: true,
             serverSide: true,
             searching: true,
             ordering: false,
             searching: false,
             lengthChange: false,
             pagingType: "simple_numbers",
             language: {
                 paginate: {
                     next: "&rarr;",
                     previous: "&larr;"
                 }
             },
             columns: [
                 { "data": "ImportedIcaId", "visible": false },
                 { "data": "Cid" },
                 { "data": "LegalName" },
                 { "data": "HqAddress" },
                 { "data": "HqCityName" },
                 { "data": "HqProvinceName" },
                 { "data": "HqCountryName" },
				 { "data": "HeatmapData" }
             ],
             columnDefs: [
                 {
                     "targets": [8],
                     "render": function (data, type, row) {
                         return "<td><button class='confirm-match btn btn-xs btn-block btn-default' data-cid='" + row["Cid"] + "'>Select</button></td>";
                     }
                 }],
             ajax: {
                 "url": "@Url.Action("GetIssuerSearchResults")",
                 "type": "POST",
                 "data": function (data) {
                     data.issuerToSearch = $("#issuerToSearch").val();
                     data.issuerId = "@Model.IssuerId";
                 }
             }
         });

         $("#searchIssuer").on("click", function () {
             issuerSearchTable.ajax.reload();
         });

         $("#issuerSearchGrid").on("click", ".confirm-match", function () {
             var cid = $(this).data("cid");
             $.post('@Url.Action("MatchIssuer")', { issuerToMatchId: "@Model.IssuerId", cid: cid }, function (data) {
                 if (data.ok) {
                     location.href = '@Url.Action("Details")?id=' + data.issuerId;
                 }
             });
         });

         $("#doSearch").submit(function (e) {
             issuerSearchTable.ajax.reload();
             e.preventDefault();
         });

     });
</script>

<br />
<br />

<div class="form-inline">
    <div class="row">
        <div class="form-group col-xs-6">
            <label>Issuer Search:</label>
            <div class="btn-group" style="width: 75%;">
                <div class="input-group" style="width: 100%;">
                    <form id="doSearch">
                        <input type="text" id="issuerToSearch" class="form-control" placeholder="Search for..." value="@Model.Title" />
                        <span class="input-group-btn">
                            <button class="btn btn-primary" id="searchIssuer" type="submit"><span class="fa fa-search"></span></button>
                        </span>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<br />
<br />
<h2 class="clear">
    Issuer Search
</h2>
<div class="panel panel-default">
    <table id="issuerSearchGrid" class="table table-sorted" data-maxheight="195">
        <thead>
            <tr>
                <th scope="col"></th>
                <th scope="col" style="width: 10%;">CID</th>
                <th scope="col" style="width: 20%;">Issuer</th>
                <th scope="col" style="width: 20%;">Address</th>
                <th scope="col" style="width: 10%;">City</th>
                <th scope="col" style="width: 10%;">State</th>
                <th scope="col" style="width: 10%;">Country</th>
                <th scope="col" style="width: 10%;">Heatmap data</th>
                <th scope="col" style="width: 5%;"></th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>