﻿@model Mastercard.MarketingCenter.Data.Entities.IssuerData

@section head
{
    @System.Web.Optimization.Styles.Render("~/Content/plugins/datatables")
    @System.Web.Optimization.Scripts.Render("~/bundles/datatables")

    <script>
        $(function () {

            var userTable = $('#userGrid').DataTable({
                processing: true,
                serverSide: true,
                searching: true,
                ordering: false,
                searching: false,
                lengthChange: false,
                pagingType: "simple_numbers",
                language: {
                    paginate: {
                        next: "&rarr;",
                        previous: "&larr;"
                    }
                },
                columns: [
                { "data": "FirstName" },
                { "data": "LastName" },
                { "data": "LastLoginDate", render: datetime_template },
                { "data": "Address" },
                { "data": "City" },
                { "data": "State" },
                { "data": "Email" }
                ],
                ajax: {
                    "url": "@Url.Action("GetActiveUsersForIssuer")",
                    "type": "POST",
                    "data": function (data) {
                        data.issuerId = "@Model.IssuerId";
                    }
                }
            });
        });
    </script>
}

@section HeaderTitle {
    Issuer Details
}

<div class="ibox-content report-content">

    <a class="btn btn-primary pull-right" href="@Url.Action("Index")">&larr;&nbsp;Back to grid</a>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Issuer</th>
                <th scope="col">Segment</th>
                <th scope="col">Processor</th>
                <th scope="col">Created</th>
                <th scope="col">CID</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>@Model.Title</td>
                <td>@Model.AudienceSegments</td>
                <td>@Model.Processor</td>
                <td>@Model.DateCreated.ToShortDateString()</td>
                <td>@(string.IsNullOrEmpty(Model.Cid) ? "Missing" : @Model.Cid)</td>
            </tr>
        </tbody>
    </table>

    @if (Model.HasMatch)
    {
        Html.RenderAction("MatchedIssuerDetails", new { issuerId = Model.IssuerId });
    }
    else
    {
        Html.RenderPartial("_IssuerSearchPartial");
    }
    <br />
    <br />
    <h2>Users</h2>
    <div class="panel panel-default">
        <table id="userGrid" class="table table-striped table-sorted" data-maxheight="350">
            <thead>
                <tr>
                    <th scope="col">First Name</th>
                    <th scope="col">Last Name</th>
                    <th scope="col">Last Login</th>
                    <th scope="col">Address</th>
                    <th scope="col">City</th>
                    <th scope="col">State</th>
                    <th scope="col">Email</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</div>