﻿@section Head {
    @System.Web.Optimization.Styles.Render("~/Content/plugins/datatables")
    @System.Web.Optimization.Scripts.Render("~/bundles/datatables")
}

@section HeaderTitle
{
    Issuer Matching
}

<script>
    $(function () {

        var table = $('#issuerMatchingGrid').DataTable({
            processing: true,
            serverSide: true,
            ordering: true,
            searching: true,
            pagingType: "simple_numbers",
            language: {
                paginate: {
                    next: "&rarr;",
                    previous: "&larr;"
                }
            },
            columns: [
            { "data": "IssuerId" },
            { "data": "Title" },
            { "data": "AudienceSegments" },
            { "data": "Processor" },
            { "data": "UserCount" },
            { "data": "DateCreated", render: datetime_template },
            { "data": "LastLoginDate", render: datetime_template },
            { "data": "Cid" },
			{ "data": "HeatmapData" }
            ],
            order: [[1, "desc"]],
            columnDefs: [
                {
                    "targets": [0],
                    "visible": false,
                    "searchable": false
                },
                {
                    "targets": [1],
                    "render": function (data, type, row) {
                        return "<td class='text-center'><a href='@Url.Action("Details")" + "?id=" + row["IssuerId"] + "'>" + data + "</a></td>";
                    }
                }],
            ajax: {
                "url": "@Url.Action("GetActiveIssuers")",
                "type": "POST",
                "data": function (data) {
                    data.status = $('#matchStatus').val();
                }
            }
        });


        $("#matchStatus").on("change", function () {
            table.ajax.reload();
        });

    });
</script>

<div class="ibox-content">
    <div class="form-inline" id="issuers-sorting" style="position: absolute; right: 20px;">
        <div class="form-group">
            <label class="control-label">Show by CID status:</label>
            <select class="form-control" id="matchStatus" name="matchStatus">
                <option value="set">Completed</option>
                <option selected="selected" value="missing">Missing</option>
                <option value="unverified">Unverified Matches</option>
            </select>
        </div>
    </div>
    <br />
    <br />
    <br />
    <table class="table table-hover" id="issuerMatchingGrid" data-maxheight="500" style="margin-bottom: 2em!important;">
        <thead>
            <tr>
                <th scope="col">Issuer ID</th>
                <th scope="col" style="width: 25%;">Issuer</th>
                <th scope="col">Segment</th>
                <th scope="col">Processor</th>
                <th scope="col">User Count</th>
                <th scope="col">Created</th>
                <th scope="col">Last Login</th>
                <th scope="col">CID</th>
                <th scope="col">Heatmap data</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>