﻿@model MatchedIssuerModel

<script>
    $(function () {
        $("#clearMatch").on("click", function () {
            if (confirm("Do you want to remove the match for the current Issuer?")) {
                $.post('@Url.Action("ClearMatch")', { issuerId: "@Model.IssuerId" }, function(data) {
                    if (data.ok) {
                        location.href = '@Url.Action("Details")?id=' + data.issuerId;
                    }
                });
            }
        });

        $("#verifyMatch").on("click", function() {
            $.post('@Url.Action("MatchIssuer")', { issuerToMatchId: "@Model.IssuerId", cid: "@Model.Cid" }, function (data) {
                if (data.ok) {
                    location.href = '@Url.Action("Details")?id=' + data.issuerId;
                }
            });
        });
    });
</script>

<h2 class="clear">
    Matched CID
    <div class="btn-group pull-right">
        @if (!Model.MatchConfirmed)
        {
            <button class="btn btn-success" id="verifyMatch">Verify match</button>
        }
        <button class="btn btn-danger" id="clearMatch">Clear match</button>
    </div>
</h2>
<div class="panel panel-default">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">CID</th>
                <th scope="col">Issuer</th>
                <th scope="col">Address</th>
                <th scope="col">City</th>
                <th scope="col">State</th>
                <th scope="col">Country</th>
                <th scope="col">Heatmap data</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>@Model.ImportedIca.Cid</td>
                <td>@Model.ImportedIca.LegalName</td>
                <td>@Model.ImportedIca.HqAddress</td>
                <td>@Model.ImportedIca.HqCityName</td>
                <td>@Model.ImportedIca.HqProvinceName</td>
                <td>@Model.ImportedIca.HqCountryName</td>
                <td>@Model.ImportedIca.HeatmapData</td>
            </tr>
        </tbody>
    </table>
</div>
