﻿@{
    ViewBag.Title = "Broken Links";
    Layout = "~/Areas/AdminBrokenLink/Views/Shared/_Layout.cshtml";
}

@section JavaScriptContent {
	<script type="text/javascript">
		function clearAllBrokenLinks() {
			var answer = confirm("All the unmanaged broken links will be saved with the 'Ignore one time' setting. Are you sure you want to continue?")
			if (answer) {
				$.post(
				'@Url.Action("ClearAllUnmanagedBrokenLinks", "BrokenLink")',
				null,
				updateClearAllActionResult,
				'json'
				);
			}
		}
		function updateClearAllActionResult(result) {
			disableClearAllButton();
			reloadGrid();
			$('#result').html("<span class='span-result'>All broken links were cleared successfully</span>");
		}
		function disableClearAllButton() {
			var $removeButton = $('#clear-all-button');
			$removeButton.addClass("t-state-disabled");
			$removeButton.attr("disabled", "disabled");
		}
		function reloadGrid() {
			var grid = $('#Grid').data('tGrid');
			grid.ajaxRequest();
		}		
	</script>
}

@{ Html.Telerik().TabStrip()
    .Name("TabStrip")
	.Items(parent => {
		parent.Add().Text("Broken Links").Selected(true).Content(p => "<br />" +
				@"<button id=""clear-all-button"" class=""t-button"" onclick=""clearAllBrokenLinks()"">Clear All</button>" +
				@"<div id=""result""></div>" +
				@"<br /><br /><div style=""clear:both;""></div>" +
                (Html.Telerik().Grid<Slam.Cms.Admin.Data.BrokenLinkView>()
                .Name("Grid")
                .Columns(columns =>
                {
					columns.Bound(l => l.Url).ClientTemplate(@"<a href=""/admin/manage-link/<#= BrokenLinkId #>""><#= Url #></a>").Title("Url");
					columns.Bound(l => l.Application).Width(250);
                    columns.Bound(l => l.Count).Width(150).Column.HtmlAttributes.Add("align", "right");
					columns.Bound(l => l.LastAccessedDate).Format("{0:MM/dd/yyyy HH:mm tt}").Width(180);
                })
                .DataBinding(dataBinding => dataBinding.Ajax().Select<Slam.Cms.Admin.Areas.AdminBrokenLink.Controllers.BrokenLinkController>(controller => controller._Index()))
                .Pageable(o => o.PageSize(25))
                .Sortable()
                .Groupable()
                .Filterable())
            );
		parent.Add().Text("Managed Links").Action("Managed", "BrokenLink");
	})
	.Render();
}
