﻿@model Slam.Cms.Admin.Areas.AdminBrokenLink.Models.BrokenLinkFormModel
@{
    ViewBag.Title = "Manage";
    Layout = "~/Areas/AdminBrokenLink/Views/Shared/_Layout.cshtml";
}

@section JavaScriptContent {
<script type="text/javascript">
	$(function () {
		if ($('input[name=Action]:radio:checked').val() == 2) { $('#CustomErrorMessage').removeAttr("disabled"); }
		else { $('#CustomErrorMessage').attr("disabled", "disabled"); }
		if ($('input[name=Action]:radio:checked').val() == 3) { $('#RedirectUrl').removeAttr("disabled"); $('#RedirectApplication').removeAttr("disabled"); }
		else { $('#RedirectUrl').attr("disabled", "disabled"); $('#RedirectApplication').attr("disabled", "disabled"); }
		$('input[name=Action]:radio').change(function () {
			if ($('input[name=Action]:radio:checked').val() == 2) { $('#CustomErrorMessage').removeAttr("disabled"); }
			else { $('#CustomErrorMessage').attr("disabled", "disabled"); }
			if ($('input[name=Action]:radio:checked').val() == 3) { $('#RedirectUrl').removeAttr("disabled"); $('#RedirectApplication').removeAttr("disabled"); }
			else { $('#RedirectUrl').attr("disabled", "disabled"); $('#RedirectApplication').attr("disabled", "disabled"); }
		});
	});    
</script>
}

<h2>Manage Broken Link</h2>

<div id="content-wrapper">
	<div id="content-inner-wrapper">
        <div id="url-info">
            <p>URL: @Model.Url</p>
            <div>
                Referrer/s:
                <ul>
                @foreach (var referrer in Model.Referrers)
                {
                    <li><a href="@referrer" target="_blank">@referrer</a></li>
                }
                </ul>
            </div>
        </div>
		<div id="result">        
        </div>
        <div id="actions-section">
            <span>Actions</span>
            <br />
            @using (Html.BeginForm())
            {
                @Html.HiddenFor(model => model.BrokenLinkId)
                <ul>
                    <li>
                        @Html.RadioButtonFor(model => model.Action, 0) Ignore one time
                    </li>
                    <li>
                        @Html.RadioButtonFor(model => model.Action, 1) Ignore this broken link forever
                    </li>
                    <li>
                        @Html.RadioButtonFor(model => model.Action, 2) Custom error message
                        <br />
                        @Html.TextAreaFor(model => model.CustomErrorMessage)
                        @Html.ValidationMessageFor(model => model.CustomErrorMessage)
                    </li>
                    <li>
                        @Html.RadioButtonFor(model => model.Action, 3) Redirect To:
                        <br />
						<div class="redirect-section">
							<div class="redirect-label">Site:</div> @Html.DropDownListFor(model => model.RedirectApplication, Model.Applications, new { @class = "app-textbox" })
							@Html.ValidationMessageFor(model => model.RedirectApplication)
						</div>
                        <div class="redirect-section">
                            <div class="redirect-label">Url:</div> @Html.TextBoxFor(model => model.RedirectUrl, new { @class = "url-textbox" })
                            @Html.ValidationMessageFor(model => model.RedirectUrl)
                        </div>                        
                    </li>
                </ul>
			    <div class="buttons-section">
				    <input class="t-button" type="button" value="Cancel" onclick="window.location.href='@Url.Action("Index", "BrokenLink")'" />
				    <input class="t-button" type="submit" value="Save" />
			    </div>
            }
        </div>
    </div>
</div>