﻿@{
    ViewBag.Title = "Managed Links";
    Layout = "~/Areas/AdminBrokenLink/Views/Shared/_Layout.cshtml";
}

@{ Html.Telerik().TabStrip()
    .Name("TabStrip")
	.Items(parent => {
        parent.Add().Text("Broken Links").Action("Index", "BrokenLink");
        parent.Add().Text("Managed Links").Selected(true).Content(p =>
                (Html.Telerik().Grid<Slam.Cms.Admin.Data.BrokenLinkView>()
                .Name("Grid")
                .Columns(columns =>
                {
					columns.Bound(l => l.Url).ClientTemplate(@"<a href=""/admin/manage-link/<#= BrokenLinkId #>""><#= Url #></a>").Title("Url");
					columns.Bound(l => l.Application).Width(250);
					columns.Bound(l => l.Message).ClientTemplate(@"<# if (Message != null && Message != ""[IgnoreOneTime]"") { #>Custom Error<# } else { if (RedirectUrl != null) { #><a href=""<#= RedirectUrl #>"" target=""_blank"">Redirect</a><# } else { #>Default Error<# } } #>").Title("Action").Width(150);
					columns.Bound(l => l.ModifiedDate).Format("{0:MM/dd/yyyy HH:mm tt}").Width(180);
                })
                .DataBinding(dataBinding => dataBinding.Ajax().Select<Slam.Cms.Admin.Areas.AdminBrokenLink.Controllers.BrokenLinkController>(controller => controller._Managed()))
                .Pageable(o => o.PageSize(25))
                .Sortable()
                .Groupable()
                .Filterable())
            );
	})
	.Render();
}
