﻿[#layout:ExpiredContent_Extension_Layout.htm]
<tr>
    <td style="color:#141413; font-family:'MarkWebPro-LightW01Regular', Century Gothic, Arial, Helvetica, sans-serif; font-size:16px; line-height:22px;" valign="top" align="left">
        Hello [#ToName],
    </td>
</tr>
<tr>
    <td style="font-size:25px; line-height:25px; mso-line-height-rule: exactly;" valign="top" height="25">&nbsp;</td>
</tr>
<tr>
    <td style="color:#141413; font-family:'MarkWebPro-LightW01Regular', Century Gothic, Arial, Helvetica, sans-serif; font-size:16px; line-height:22px;" valign="top" align="left">
        The user [#UserFirstName] has created new content that requires you to review and publish. Please click the link below to view more details:
    </td>
</tr>
<tr>
    <td style="font-size:25px; line-height:25px; mso-line-height-rule: exactly;" valign="top" height="25">&nbsp;</td>
</tr>
<tr>
    <td style="width:100%;padding: 12px 0px; color:#141413; font-family:'MarkWebPro-LightW01Regular', Century Gothic, Arial, Helvetica, sans-serif; font-size:16px; max-width: 600px; word-wrap: break-word;" valign="top" align="left">
        <span class="asset-title"><a href="[#ExtendUrl]">[#AssetName] </a> </span>
    </td>
</tr>
<tr>
    <td style="font-size:25px; line-height:25px; mso-line-height-rule: exactly;" valign="top" height="25">&nbsp;</td>
</tr>
<tr>
    <td style="color:#141413; font-family:'MarkWebPro-LightW01Regular', Century Gothic, Arial, Helvetica, sans-serif; font-size:16px; line-height:22px; max-width: 600px; word-wrap: break-word;" valign="top" align="left">Or, visit the administration pages to <a href="[#AssetList]">review all content.</a></td>
</tr>
<tr>
    <td style="font-size:25px; line-height:25px; mso-line-height-rule: exactly;" valign="top" height="25">&nbsp;</td>
</tr>
<tr>
    <td style="color:#141413; font-family:'MarkWebPro-LightW01Regular', Century Gothic, Arial, Helvetica, sans-serif; font-size:16px; line-height:22px; max-width: 600px; word-wrap: break-word;" valign="top" align="left">
        For more information send us an email to:
        [#ContactUsAddresses]
    </td>
</tr>