﻿<table role="presentation" width="100%" cellspacing="0" cellpadding="0" border="0" bgcolor="#e7e5e0">
    <tr>
        <td class="SpaceToHide" width="25" valign="top"></td>
        <td class="container" width="600" valign="top">
            <table class="content" role="presentation" width="100%" cellspacing="0" cellpadding="0" border="0" align="left">
                <tr>
                    <td style="font-size:40px; line-height:40px; mso-line-height-rule: exactly;" valign="top" height="40">&nbsp;</td>
                </tr>
                <tr>
                    <td style="font-family:'MarkWebPro-LightW01Regular', Century Gothic, Arial, Helvetica, sans-serif; color:#211f1c; font-size:11px; line-height:15px;" valign="top" align="left">
                        Bitte antworten Sie nicht direkt auf diese E-Mail. Sie erhalten diese E-Mail, weil Sie zugestimmt haben, Mitteilungen über das Mastercard Marketing Center zu erhalten, wenn von Ihnen markierte Inhalte aktualisiert wurden.
                    </td>
                </tr>
                <tr>
                    <td style="font-size:12px; line-height:12px; mso-line-height-rule: exactly;" valign="top" height="12">&nbsp;</td>
                </tr>
                <tr>
                    <td style="font-family:'MarkWebPro-LightW01Regular', Century Gothic, Arial, Helvetica, sans-serif; color:#211f1c; font-size:11px; line-height:15px;" valign="top" align="left">
                        Von der E-Mail-Kommunikation des Mastercard Marketing Center <a style="color: #211f1c;" href="[#UnsubscribeLink]">abmelden</a>.
                    </td>
                </tr>
                <tr>
                    <td style="font-family:'MarkWebPro-LightW01Regular', Century Gothic, Arial, Helvetica, sans-serif; color:#211f1c; font-size:11px; line-height:15px;" valign="top" align="left">
                        Von jeglicher Marketinginformation von Mastercard <a style="color: #211f1c;" href="https://www.mastercard.de/de-de/datenschutz/email-opt-out.html">abmelden</a>.
                    </td>
                </tr>
                <tr>
                    <td style="font-size:12px; line-height:12px; mso-line-height-rule: exactly;" valign="top" height="12">&nbsp;</td>
                </tr>
                <tr>
                    <td style="font-family:'MarkWebPro-LightW01Regular', Century Gothic, Arial, Helvetica, sans-serif; color:#211f1c; font-size:11px; line-height:15px;" valign="top" align="left">
                        <a href="https://www.mastercard.de/de-de/datenschutz/impressum.html" target="_blank" style=" color:#211f1c; text-decoration:none;">Impressum</a>|
                        <a href="https://marketingcenter.mastercard.com/portal/PublicDownloads/Mastercard_Marketing_Center_Privacy_Notice_N_DE.html" target="_blank" style="color:#211f1c; text-decoration:none;">Datenschutzrichtlinie</a>|
                        <a href="https://marketingcenter.mastercard.com/portal/contact?trackingType=navigation" target="_blank" style="color:#211f1c; text-decoration:none;">Kontakt</a>
                    </td>
                </tr>
                <tr>
                    <td style="font-size:12px; line-height:12px; mso-line-height-rule: exactly;" valign="top" height="12">&nbsp;</td>
                </tr>
                <tr>
                    <td style="font-family:'MarkWebPro-LightW01Regular', Century Gothic, Arial, Helvetica, sans-serif; color:#211f1c; font-size:11px; line-height:15px;" valign="top" align="left">
                        Mastercard, die Mastercard Logos und das Circle Design sind registrierte Marken von Mastercard International Incorporated.
                    </td>
                </tr>
                <tr>
                    <td style="font-size:12px; line-height:12px; mso-line-height-rule: exactly;" valign="top" height="12">&nbsp;</td>
                </tr>
                <tr>
                    <td style="font-family:'MarkWebPro-LightW01Regular', Century Gothic, Arial, Helvetica, sans-serif; color:#211f1c; font-size:11px; line-height:15px;" valign="top" align="left">
                        &copy;[#CurrentYear] Mastercard Europe S.A. Chaussée de Tervuren 198A 1410 Waterloo Belgien.
                    </td>
                </tr>
                <tr>
                    <td style="font-size:12px; line-height:12px; mso-line-height-rule: exactly;" valign="top" height="12">&nbsp;</td>
                </tr>
            </table>
        </td>
        <td class="SpaceToHide" width="25" valign="top"></td>
    </tr>
</table>