﻿<%@ Page Language="C#" MasterPageFile="~/WebFormsPages/MMP.master" AutoEventWireup="true" Inherits="UserProfile" Title="Profile" CodeBehind="UserProfile.aspx.cs" %>

<%@ Register Src="~/UserControls/UserProfile.ascx" TagName="UserProfile" TagPrefix="uc1" %>

<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" runat="Server">
    <uc1:UserProfile ID="UserProfile1" runat="server" />
</asp:Content>