﻿@model string

@section HeaderTitle
{
    <h2>Search Results for: "@Model"</h2>
}

@section Head {
    @System.Web.Optimization.Scripts.Render("~/bundles/datatables")
    @System.Web.Optimization.Scripts.Render("~/bundles/searchResults")
}

<script>
    $(function () {
        var searchResults = new SearchResults("@Url.Action("Edit", "List")", "@Url.Action("Edit", "Content")", "@Url.Action("GetResults")", "@HttpUtility.HtmlEncode(Model)");
        searchResults.initialize();
    });
</script>

<div class="ibox-content">
    <table class="table table-hover" id="searchResults">
        <thead>
            <tr>
                <th scope="col">Actions</th>
                <th scope="col">Item Type</th>
                <th scope="col">Item Id</th>
                <th scope="col">Title</th>
                <th scope="col">Created Date</th>
                <th scope="col">Modified Date</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>