﻿@if (Request.UrlReferrer != null && Request.UrlReferrer.Host == Request.Url.Host && !Request.UrlReferrer.PathAndQuery.Contains("login"))
{
    <div class="back-link content-spaces-in">
        <a href="@Request.UrlReferrer.PathAndQuery" tracking-type="back">@Resources.Shared.Back</a>
    </div>
}