﻿@using System.Web.Mvc;
@using Mastercard.MarketingCenter.Services.Interfaces
@model ContentPreferencesViewModel
@{ var urlService = DependencyResolver.Current.GetService<IUrlService>(); }
@System.Web.Optimization.Styles.Render(urlService.GetStaticTriggerMarketingCss())
@System.Web.Optimization.Scripts.Render(urlService.GetStaticTriggerMarketingJs())
@if (Model.UserSubscriptionFrequency != MarketingCenterDbConstants.UserSubscriptionFrequency.Never &&
                !Model.ContentPreferencesButtonHtml.IsNullOrWhiteSpace() &&
                (Model.UserSubscriptionFrequency == MarketingCenterDbConstants.UserSubscriptionFrequency.Undefined || !Model.IsUserSubscribedToContent))
{
    <div class="page-section slides-section">
        <div class="mc-content-customize-start">
            <div class="mc-body">
                <h2>@Resources.Shared.ContentPreferences_Title</h2>
                @Html.RawWithSnippets(Model.ContentPreferencesButtonHtml)
            </div>
        </div>
    </div>
    if (Model.ContentPreferencesMessageDisplayed)
    {
        <div id="customize-start-modal" class="hid dialog-text" style="display:none;">
            <div class="page-section slides-section">
                <div class="mc-content-customize-start">
                    <div class="mc-body">
                        <h2>@Resources.Shared.ContentPreferences_Title</h2>
                        <div class="actions">
                            @Html.RawWithSnippets(Model.ContentPreferencesButtonHtml)
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script>
            $(function () {
                $("#customize-start-modal").dialog({
                    modal: true,
                    autoOpen: true,
                    draggable: true,
                    height: 'auto',
                    width: 1000,
                    resizable: false,
                    dialogClass: 'customize-start-modal'
                });

                $.ajax({ type: 'POST', url: '@Url.Action("UpdateContentPreferencesMessage", "Header")?displayContentPreferencesMessage=false' });
            });
        </script>
    }
}