﻿@using Mastercard.MarketingCenter.Common.Extensions
@model FindAProductViewModel

@{
    var src = "~/content/themes/orange/";
}
<div class="page-section slides-section">
    <div class="tiles-carousel hot-tiles @(string.IsNullOrEmpty(Model.FindAProductBoxHtml) && Model.ProductsSiteMapNode != null && Model.ProductBoxItems.Count > 0 ? "vertical" : "")">
        <section>
            @if (string.IsNullOrEmpty(Model.FindAProductBoxHtml) && Model.ProductsSiteMapNode != null && Model.ProductBoxItems.Count > 0)
            {
                <span class="center-point invert tiles-center">
                    <span class="label">@Resources.Shared.FindAProduct</span>
                </span>
                <ul class="icon-tiles">
                    @foreach (var product in Model.ProductBoxItems)
                    {
                        <li class="cell">
                            <input type="checkbox" class="check-point" id="cell-@product.Key.Identifier">
                            <label for="cell-@product.Key.Identifier" tracking-type="product-finder" class="label @(Model.ProductBoxItems.Count > 2 ? "h3" : "h2")" style="white-space:normal;">
                                <img class="icon" src="@Url.Content(src + "img/icons/" + product.Key.Identifier + ".png")" height="85" width="102" alt="@product.Key.Text" style="font-size:8px;" />
                                @product.Key.Text
                                <span class="check-trigger"></span>
                            </label>
                            <nav class="flyout-nav check-container-mobile">
                                <div class="inner">
                                    <ul class="main-lvl reset" data-flyout="@product.Key.Identifier">
                                        <li>
                                            <a class="label" href='#' data-old="@Model.ProductsSiteMapNode.Url">@Resources.Shared.Overview</a>
                                        </li>
                                        @foreach (var cardType in product.Value)
                                        {
                                            <li>
                                                <input type="checkbox" class="check-point" id="cell-@product.Key.Identifier-@cardType.Key.Identifier">
                                                <label for="cell-@product.Key.Identifier-@cardType.Key.Identifier" class="label">
                                                    @cardType.Key.Text
                                                    <span class="check-trigger"></span>
                                                </label>
                                                <div class="sub-lvl check-container-mobile">
                                                    <ul class="reset">
                                                        @foreach (var asset in cardType.Value)
                                                        {
                                                            <li><a href="@asset.ResourceUrl" tracking-type="product-finder">@asset.Title</a></li>
                                                        }
                                                    </ul>
                                                </div>
                                            </li>
                                        }
                                    </ul>
                                </div>
                            </nav>
                        </li>
                    }
                </ul>
            }
            else
            {
                @Html.Raw(Model.FindAProductBoxHtml)
            }
        </section>

        <section class="tiles-slider" data-slick>
            @foreach (var slide in Model.ContentItemListItems)
            {
                if (slide.IsMarqueeSlideItem())
                {
                    <div class="slide">
                        @if (!string.IsNullOrEmpty(slide.Header) && string.IsNullOrEmpty(slide.ThumbnailUrl))
                        {
                            <div class="slide-cell text-slide @if (!string.IsNullOrEmpty(slide.ResourceUrl)){ <text>with-more</text>}">
                                <div class="inner">
                                    <h2>@slide.Title.StripHtml()</h2>
                                    <div class="text">
                                        @slide.Header
                                    </div>
                                </div>
                                @if (!string.IsNullOrEmpty(slide.ResourceUrl))
                                {
                                    <div class="more">
                                        <a href="@slide.ResourceUrl" title="@Resources.Shared.ReadMoreAbout @slide.Title"><strong>@Resources.Shared.ReadMore</strong></a>
                                    </div>
                                }
                            </div>
                        }
                        else
                        {
                            <div class="slide-cell" style="@(!string.IsNullOrEmpty(slide.ThumbnailUrl) ? "background-image: url(" + Url.ImageUrl(slide.ThumbnailUrl, 700, 600, false) + ")" : "")">
                                @if (string.IsNullOrEmpty(slide.ResourceUrl))
                                {
                                    <span class="title h2">@slide.Title</span>
                                }
                                else
                                {
                                    <a href="@slide.ResourceUrl" class="title h2">@slide.Title</a>
                                }
                            </div>
                        }
                    </div>
                }
                else
                {
                    <div class="slide">
                        <div class="slide-cell video-link yt video-preview" style="background-image: url(https://img.youtube.com/vi/@slide.ResourceUrl/hqdefault.jpg);" data-yt="@slide.ResourceUrl::1280::720">
                            <img data-lazy="https://img.youtube.com/vi/@slide.ThumbnailUrl" alt="@slide.Title" class="cover-image" />
                            <span class="title h2">@slide.Title.StripHtml()</span>
                        </div>
                    </div>
                }
            }
        </section>
    </div>
</div>