﻿<div class="blue-box-link-list">
    <h2>@Resources.Shared.GettingStarted:</h2>
    <ul>
        <li><a href="@Url.Action("MasterCardResources", "Page")" tracking-type="getting-started">@Resources.Shared.NewToMastercard</a></li>
        <li><a href="@Url.Action("Asset", "ContentDetail", new { contentItemId = "42a4", title = "Mastercard-Resource-Guide" })" tracking-type="getting-started">@Resources.Shared.MastercardResourceGuide</a></li>
    </ul>
</div>