﻿<div class="blue-box-link-list">
    <h2>@Resources.Shared.LearnAbout:</h2>
    <ul>
        <li><a href="@Constants.Urls.InsightsOverview" tracking-type="learn-about">@Resources.Shared.Insights</a></li>
        <li><a href="@Constants.Urls.MarketingOverview" tracking-type="learn-about">@Resources.Shared.Marketing</a></li>
        <li><a href="@Constants.Urls.ProductsOverview" tracking-type="learn-about">@Resources.Shared.Products</a></li>
        <li><a href="@Constants.Urls.SolutionsOverview" tracking-type="learn-about">@Resources.Shared.Solutions</a></li>
    </ul>
</div>