﻿@model TabNavigatorViewModel

<div class="tabs-nav content-spaces-in">
    <nav class="tabs-nav-list">
        @foreach (var tab in Model.Tabs)
        {
            <a href="@(string.IsNullOrEmpty(tab.Url)? Url.Action(tab.Action, Model.Controller):tab.Url )" tracking-type="tab" class="tab @(tab.Name == Model.ActiveTab ? "active" : string.Empty)">@tab.Name <em class="label"></em></a>
        }
    </nav>
</div>