.div_redcontent_new {
    float: left;
    width: 380px;
    height: auto;
    margin: 15px 0px 0px 0px !important;
    padding: 0px !important;
}

.sf_items_center img {
    margin-right: 0;
}

.width300 {
    width: 290px !important;
}

.level_right_new {
    float: left;
    margin-left: 10px;
    width: 540px;
}

.submit_bg_btn_left {
    background: #ffffff !important;
}

    .submit_bg_btn_left input {
        height: 25px !important;
        padding-right: 5px;
    }

        .submit_bg_btn_left input.submit_bg_btn1 {
            background: transparent url(../images/login_btn_bg.gif) no-repeat scroll left top !important;
            color: #FFFFFF !important;
            float: left;
            height: 25px !important;
            width: 75px !important;
            text-transform: uppercase;
            font: bold 10px/16px Verdana, Arial, Helvetica, sans-serif !important;
            cursor: pointer;
            border: none;
        }

    .submit_bg_btn_left a {
        background: url("../images/login_btn_bg.gif") no-repeat scroll left top transparent;
        height: 25px;
        width: 72px;
    }

div#fixme {
    /* IE5.5+/Win - this is more specific than the IE 5.0 version */
    position: absolute;
    left: expression( ( -20 - fixme.offsetWidth + ( document.documentElement.clientWidth ? document.documentElement.clientWidth : document.body.clientWidth ) + ( ignoreMe2 = document.documentElement.scrollLeft ? document.documentElement.scrollLeft : document.body.scrollLeft ) ) + 'px' ) !important;
    top: expression( ( -300 - fixme.offsetHeight + ( document.documentElement.clientHeight ? document.documentElement.clientHeight : document.body.clientHeight ) + ( ignoreMe = document.documentElement.scrollTop ? document.documentElement.scrollTop : document.body.scrollTop ) ) + 'px' ) !important;
}

.div_modal input.submit_bg_btn {
    width: 75px !important;
    height: 25px !important;
    padding-right: 8px;
}

.div_modal .float_right {
    float: right;
    margin-right: 70px;
    padding-right: 0;
}

.row_buttons .cart_requried {
    width: 440px !important;
}

.row_buttons .submit_bg_btn {
    padding-left: 15px;
}

.row_buttons .submit_bg_btn_left a {
    width: 60px;
}

.contact_heading_bg .contactoptions input {
    border: medium none;
    margin: 3px 3px 0 0;
    padding: 0;
    vertical-align: middle;
    width: 16px;
    float: left;
}

.contact_heading_bg .contactoptions label {
    width: 128px;
}

.related_resources p {
    padding-bottom: 5px;
    padding-right: 5px;
    padding-top: 5px;
}

.navigation .nav_btm {
    float: right;
}

div.featured_block div.info {
    width: 175px;
}

div.level1 div.info {
    width: 445px;
}
