﻿@if (DependencyResolver.Current.GetService<Mastercard.MarketingCenter.Services.Interfaces.IAuthorizationService>().Authorize(null, "Report", "GetBusinessOwnerRequestsReport", null))
{
    <script type="text/javascript">
        $(function () {
            var colsArray = [];
            colsArray.push({ "data": "ContentItemId", "title": "Id", visible: false });
            colsArray.push({ "data": "Title", "title": "Title", searchable: false, orderable: true });
            colsArray.push({ "data": "ContentType", "title": "Type", searchable: false, orderable: true });
            colsArray.push({ "data": "ExpirationDate", "title": "Expires on", render: datetime_template, searchable: false, orderable: true });
            colsArray.push({ "data": "CreatedDate", "title": "Created date", render: datetime_template, searchable: false, orderable: true });
            colsArray.push({ "data": "ModifiedDate", "title": "Modified date", render: datetime_template, searchable: false, orderable: true });
            colsArray.push({ "data": "BusinessOwner", "title": "Business Owner", searchable: false, orderable: true });
            colsArray.push({ "data": "BusinessOwnerRequest", "title": "Business Owner Request", searchable: false, orderable: true });

            var defaultOrderArray = [];
            defaultOrderArray.push(["ExpirationDate", true]);
            defaultOrderArray.push(["ModifiedDate", true]);
            defaultOrderArray.push(["CreatedDate", true]);

            loadContent(
                "@Url.Action("GetBusinessOwnerRequestsReport", "Report")",
                "@Url.Action("Edit", "Content")",
                defaultOrderArray,
                colsArray,
                "#businessOwnerRequestsGrid",
                null,
                null);
        });
    </script>

    <div class="row">
        <div class="col-md-4 col-lg-4"><h3 style="color:#f58025;">Business Owner Requests</h3></div>
    </div>
    <br />
    <br />
    <div>
        <table class="table table-hover" id="businessOwnerRequestsGrid">
            <thead>
                <tr>
                    <th scope="col">ContentItemId</th>
                    <th scope="col">Title</th>
                    <th scope="col">ExpirationDate</th>
                    <th scope="col">ContentType</th>
                    <th scope="col">CreatedDate</th>
                    <th scope="col">ModifiedDate</th>
                    <th scope="col">BusinessOwner</th>
                    <th scope="col">BusinessOwnerRequest</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
}