﻿@if (DependencyResolver.Current.GetService<Mastercard.MarketingCenter.Services.Interfaces.IAuthorizationService>().Authorize(null, "Report", "GetClonedAssetsNewSourceUpdatesReport", null))
{
    <script type="text/javascript">
        $(function () {
            var colsArray = [];
            colsArray.push({ "data": "ContentItemId", "title": "Id", visible: false });
            colsArray.push({ "data": "Title", "title": "Title", searchable: false, orderable: true });
            colsArray.push({ "data": "ContentType", "title": "Type", searchable: false, orderable: true });
            colsArray.push({ "data": "SourceAssetStatus", "title": "Source Asset - Status", searchable: false, orderable: true });

            var defaultOrderArray = [];
            defaultOrderArray.push(["Title", true]);

            loadContent(
                "@Url.Action("GetClonedAssetsNewSourceUpdatesReport", "Report")",
                       "@Url.Action("Edit", "Content", new { showComparison = true })",
                       defaultOrderArray,
                       colsArray,
                       "#clonedAssetsGrid",
                       null,
                       null);
        });
    </script>

    <div class="row">
        <div class="col-md-4"><h3 style="color:#f58025;">Cloned Assets - New Source Updates</h3></div>
    </div>
    <br />
    <br />
    <div>
        <table class="table table-hover" id="clonedAssetsGrid">
            <thead>
                <tr>
                    <th scope="col">ContentItemId</th>
                    <th scope="col">Title</th>
                    <th scope="col">Type</th>
                    <th scope="col">Source Asset - Status</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
}