﻿@model System.Boolean
@if (DependencyResolver.Current.GetService<Mastercard.MarketingCenter.Services.Interfaces.IAuthorizationService>().Authorize(null, "Report", "GetContentAboutToExpireReport", null))
{
    <script type="text/javascript">
        $(function () {
            var colsArray = [];
            colsArray.push({ "data": "ContentItemId", "title": "Id", visible: false });
            colsArray.push({ "data": "Title", "title": "Title", searchable: false, orderable: true });
            colsArray.push({ "data": "ContentType", "title": "Type", searchable: false, orderable: true });
            colsArray.push({ "data": "ExpirationDate", "title": "Expires on", render: datetime_template, searchable: false, orderable: true });
            colsArray.push({ "data": "CreatedDate", "title": "Created date", render: datetime_template, searchable: false, orderable: true });
            colsArray.push({ "data": "ModifiedDate", "title": "Modified date", render: datetime_template, searchable: false, orderable: true });
            colsArray.push({ "data": "BusinessOwner", "title": "Business Owner", searchable: false, orderable: true });

            @if (Model)
        {
            <text> colsArray.push({ "data": "BusinessOwnerRequest", "title": "Business Owner Request", searchable: false, orderable: true }); </text>
        }

            var defaultOrderArray = []
            defaultOrderArray.push(["ExpirationDate", true]);
            defaultOrderArray.push(["ModifiedDate", true]);
            defaultOrderArray.push(["CreatedDate", true]);

            loadContent(
                "@Url.Action("GetContentAboutToExpireReport", "Report")",
                "@Url.Action("Edit", "Content")",
                defaultOrderArray,
                colsArray,
                "#aboutToExpireGrid",
                "select[name=AboutExpiredSelect]",
                function (data) { data.Months = $("select[name=AboutExpiredSelect]").val(); });
        });
    </script>

    <div class="row">
        <div class="col-md-4 col-lg-2"><h3 style="color:#f58025;">Content about to expire</h3></div>
        <div class="col-md-3 col-lg-2"><p class="m-t-xs">Content that will expire in the next:</p></div>
        <div class="col-md-3">
            <select id="AboutExpiredSelect" name="AboutExpiredSelect" class="m-t-xs">
                <option value="1">30 days</option>
                <option value="2">60 days</option>
                <option value="3">90 days</option>
            </select>
        </div>
    </div>
    <br />
    <br />
    <div>
        <table class="table table-hover" id="aboutToExpireGrid">
            <thead>
                <tr>
                    <th scope="col">ContentItemId</th>
                    <th scope="col">Title</th>
                    <th scope="col">ExpirationDate</th>
                    <th scope="col">ContentType</th>
                    <th scope="col">CreatedDate</th>
                    <th scope="col">ModifiedDate</th>
                    <th scope="col">BusinessOwner</th>
                    @if (Model)
                    {
                        <th scope="col">BusinessOwnerRequest</th>
                    }
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
}