﻿@if (DependencyResolver.Current.GetService<Mastercard.MarketingCenter.Services.Interfaces.IAuthorizationService>().Authorize(null, "Report", "GetProgramPrintOrderDateExpirationReport", null))
{
    <script type="text/javascript">
        $(function () {
            var colsArray = [];
            colsArray.push({ "data": "ContentItemId", "title": "Id", visible: false });
            colsArray.push({ "data": "Title", "title": "Title", searchable: false, orderable: true });
            colsArray.push({ "data": "PrintedOrderPeriodEndDate", "title": "Print order end date", render: datetime_template, searchable: false, orderable: true });
            colsArray.push({ "data": "InMarketEndDate", "title": "In-Market end date", render: datetime_template, searchable: false, orderable: true });
            colsArray.push({ "data": "ExpirationDate", "title": "Expiration date", render: datetime_template, searchable: false, orderable: true });
            colsArray.push({ "data": "ModifiedDate", "title": "Modified date", render: datetime_template, searchable: false, orderable: true });

            var defaultOrderArray = []
            defaultOrderArray.push(["PrintedOrderPeriodEndDate", true]);
            defaultOrderArray.push(["InMarketEndDate", true]);
            defaultOrderArray.push(["ExpirationDate", true]);
            defaultOrderArray.push(["ModifiedDate", true]);

            loadContent(
                "@Url.Action("GetProgramPrintOrderDateExpirationReport", "Report")",
                "@Url.Action("Edit", "Content")",
                defaultOrderArray,
                colsArray,
                "#programsToExpireGrid",
                "select[name=ProgramExpirationSelect]",
                function (data) { data.Months = $("select[name=ProgramExpirationSelect]").val(); });
        });
    </script>

    <div class="row">
        <div class="col-md-4 col-lg-4"><h3 style="color:#f58025;">Programs with "Print Order Date" near expiration</h3></div>
        <div class="col-md-3 col-lg-2"><p class="m-t-xs">Content that will expire in the next:</p></div>
        <div class="col-md-3">
            <select id="ProgramExpirationSelect" name="ProgramExpirationSelect" class="m-t-xs">
                <option value="1">30 days</option>
                <option value="2">60 days</option>
                <option value="3">90 days</option>
            </select>
        </div>
    </div>
    <br />
    <br />
    <div>
        <table class="table table-hover" id="programsToExpireGrid">
            <thead>
                <tr>
                    <th scope="col">ContentItemId</th>
                    <th scope="col">Title</th>
                    <th scope="col">PrintedOrderPeriodEndDate</th>
                    <th scope="col">InMarketEndDate</th>
                    <th scope="col">ExpirationDate</th>
                    <th scope="col">ModifiedDate</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
}