﻿@if (DependencyResolver.Current.GetService<Mastercard.MarketingCenter.Services.Interfaces.IAuthorizationService>().Authorize(null, "Report", "GetRecentlyExpiredContentReport", null))
{
    <script type="text/javascript">
        $(function () {
            var colsArray = [];
            colsArray.push({ "data": "ContentItemId", "title": "Id", visible: false });
            colsArray.push({ "data": "Title", "title": "Title", searchable: false, orderable: true });
            colsArray.push({ "data": "ContentType", "title": "Type", searchable: false, orderable: true });
            colsArray.push({ "data": "ExpirationDate", "title": "Expires on", render: datetime_template, searchable: false, orderable: true });
            colsArray.push({ "data": "CreatedDate", "title": "Created date", render: datetime_template, searchable: false, orderable: true });
            colsArray.push({ "data": "ModifiedDate", "title": "Modified date", render: datetime_template, searchable: false, orderable: true });
            colsArray.push({ "data": "BusinessOwner", "title": "Business Owner", searchable: false, orderable: true });

            var defaultOrderArray = []
            defaultOrderArray.push(["ExpirationDate", true]);
            defaultOrderArray.push(["ModifiedDate", true]);
            defaultOrderArray.push(["CreatedDate", true]);

            loadContent(
                "@Url.Action("GetRecentlyExpiredContentReport", "Report")",
                "@Url.Action("Edit", "Content")",
                defaultOrderArray,
                colsArray,
                "#expiredContentGrid",
                "select[name=ExpiredSelect]",
                function (data) { data.Months = $("select[name=ExpiredSelect]").val(); });
        });
    </script>

    <div class="row">
        <div class="col-md-4 col-lg-2"><h3 style="color:#f58025;">Recently expired content</h3></div>
        <div class="col-md-3 col-lg-2"><p class="m-t-xs">Content that expired in the last:</p></div>
        <div class="col-md-3">
            <select id="ExpiredSelect" name="ExpiredSelect" class="m-t-xs">
                <option value="1">1 Month</option>
                <option value="3">3 Months</option>
                <option value="6">6 Months</option>
            </select>
        </div>
    </div>
    <br />
    <br />
    <div>
        <table class="table table-hover" id="expiredContentGrid">
            <thead>
                <tr>
                    <th scope="col">ContentItemId</th>
                    <th scope="col">Title</th>
                    <th scope="col">ExpirationDate</th>
                    <th scope="col">ContentType</th>
                    <th scope="col">CreatedDate</th>
                    <th scope="col">ModifiedDate</th>
                    <th scope="col">BusinessOwner</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
}