﻿@model string
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    string reportTitle = ViewData["ReportTitle"] != null ? ViewData["ReportTitle"].ToString() : string.Empty;
}
@section HeaderTitle
{
    @if (ViewData["ReportTitle"] != null)
    {
        @Html.Raw(reportTitle);
    }
}
<div class="ibox-content">
    <iframe title="@Html.Raw(reportTitle)" src="/portal/report/@ViewBag.ReportName"></iframe>
</div>