﻿@using Mastercard.MarketingCenter.Cms.Models
@model ConfirmDeletionViewModel

@{
    Layout = null;
}

@*Begin of Delete Confirmation Modal *@
<div class="mc-modal" id="modalConfirm">
    @Html.Partial("~/Views/Shared/_ModalSuccessError.cshtml")
    <div class="mc-modal--content main--modal">
        <div class="mc-modal--header">
            <a class="close-link" href="javascript:void(0);"><img width="32" alt="" src="/admin/Content/css/ContentComments/images/pop-up_close_icon.png"></a>
            <h5>@Resources.ExpirationModals.ActionRequired</h5>
            <h2>@Resources.BusinessOwnerPages.AreYouSure</h2>
            <p>@Resources.BusinessOwnerPages.DeleteConfirmation</p>
        </div>
        <div class="mc-modal--body">
            <div class="mc-form-group">
                <label for="">@Resources.ExpirationModals.BussinesOwnlerLabel</label>
                <div class="mc-field">@Model.UserFullName</div>
            </div>
            <div class="mc-form-group">
                <label for="">@Resources.ExpirationModals.AssetTitleLAbel</label>
                <div class="mc-field assets-to-delete">
                @Html.Raw(Model.AssetTitlesToDelete != null? string.Join(",</br> ", Model.AssetTitlesToDelete) : string.Empty)</div>
            </div>
            <div class="mc-buttons">
                <a class="mc-btn close-btn" href="javascript:void(0);">@Resources.ExpirationModals.ConfirmButtonCancel</a>
                <a class="mc-btn primary" id="ConfirmButton" href="javascript:void(0);">@Resources.ExpirationModals.ConfirmButtonCaption</a>
            </div>
        </div>
    </div>
</div>

@* Endof Delete Confirmation Modal *@

<script src="@Url.Content("~/Content/js/ContentComments/Modals.js")"></script>
<script>
    var selectedIds = [@Html.Raw(string.Join(", ", Model.AssetIdsToDelete.Select(x => string.Format("'{0}'", x))))];
    deleteConfirmationModals('#modalConfirm [name=message]', '#modalConfirm #ConfirmButton', "@Url.Action("DeleteAssets", "BusinessOwner")", selectedIds);
</script>