﻿@using Mastercard.MarketingCenter.Cms.Services.Infrastructure
@using Mastercard.MarketingCenter.Data
@model BusinessOwnerContentModel
@section head
{
    @System.Web.Optimization.Styles.Render("~/Content/content")
    @System.Web.Optimization.Scripts.Render("~/bundles/content")
    @System.Web.Optimization.Styles.Render("~/BusinessOwner/content")
    <script>
        $(document).ready(function () {
            var contentItemCrud = new ContentItemCrud();
            contentItemCrud.initialize();

            setTimeout(function () {
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("GetContentVersionForHistory", "BusinessOwner")',
                    cache: false,
                    data: $('form').serialize()
                })
                .done(function (data) {
                    $('#originalContentData').val($('<div/>').text(JSON.stringify(data)).html());
                });
            }, 3000, null);
              applyDateIsInPastValidator(".ibox-content form", "#ExpirationDate", "@Resources.Editors.SavingOnExpiredDate");
        });
    </script>
}
@{
    Layout = "~/Views/Shared/_BusinessOwnerLayout.cshtml";
}
<div class="ibox-content">
    @using (Html.BeginForm("Details", "BusinessOwner", new { showPublishedOnly = Model.ShowPublishedOnly }, FormMethod.Post, new { @class = "form-horizontal", @name = "business-owner-form" }))
    {
        @Html.AntiForgeryToken()
        @Html.Hidden("originalContentData");
        <div id="assetForm" class="asset-pages">
            <header class="page-header">
                <a href="@Model.ReturnUrl" class="back-link">
                    <img src="@Url.Content("~/Content/css/BusinessOwner/images/back_arrow.png")" width="16" alt="">
                </a>
                <h1>@(Model.IsNewForm ? Resources.BusinessOwnerPages.NewAsset : Model.ContentItemTitle)</h1>
                @if (Model.IsNewForm)
                {
                    <h3 class="subtitle">@Resources.BusinessOwnerPages.NewAssetSubtitle</h3>
                }
            </header>
            @Html.Partial("_ErrorAlert")
            <p><span class="required"><span class="required">*</span>@Resources.BusinessOwnerPages.RequiredFields </span></p>
            @Html.EditorForModel("BusinessOwnerContentModel", new { commentsSeed = ViewData["commentsSeed"] })
            <div class="mc-row buttons">
                <div class="col">
                    <a href="@Model.ReturnUrl" class="mc-btn">@Resources.BusinessOwnerPages.Cancel</a>
                </div>
                <div class="col align-right">
                    <button class="mc-btn primary" name="action" type="submit" value="@(Model.IsNewForm? BusinessOwnerActions.Create : BusinessOwnerActions.Update)">@(Model.IsNewForm ? Resources.BusinessOwnerPages.SuggestAssetSubmit : Resources.BusinessOwnerPages.SuggestAssetSave)</button>
                </div>
            </div>
        </div>
    }
</div>
<script>
    var contentItemId =
    @if (Model.ContentItemData.ContainsKey(MarketingCenterDbConstants.FieldNames.ContentItemId))
    {
        <text>'</text>@Model.ContentItemData["ContentItemId"]<text>'</text>
    }
    else
    {
        <text>null</text>
    };
</script>