﻿@model BusinessOwnerPendingApprovalViewModel
@section head
{
    <link href="/admin/Content/css/BusinessOwner/BulkAssetsOverlay.css" rel="stylesheet" />
}
@{
    Layout = "~/Views/Shared/_BusinessOwnerLayout.cshtml";
}
@section Breadcrumb
{
    <nav class="breadcrumbs grid-spaces-in">
        <a href="/portal" class="path" tracking-type="breadcrumb">@Resources.BusinessOwnerPages.Home</a>
        <a href="/admin/businessowner" class="path" tracking-type="breadcrumb">@Resources.BusinessOwnerPages.MyAssetsTitle</a>
        <span>@Resources.BusinessOwnerPages.PendingApprovalTitle</span>
    </nav>
}
<div class="mcew-container">
    @{ Html.RenderAction("InitializeTabHeader", "BusinessOwner", new { activeTab = Resources.BusinessOwnerPages.PendingApprovalTitle }); }
    <div class="mcew-assets--filters">
        <h3 class="hide-mobile">@Resources.BusinessOwnerPages.Show</h3>
        <label @(Model.ShowAll ? "class=active__view" : string.Empty)>
            <input type="radio" id="showAllAssets" name="assets" value="-1" @(Model.ShowAll ? "checked=\"checked\"" : string.Empty) onchange="filterOnExpiration(this)"> @Resources.BusinessOwnerPages.AllAssets
        </label>
        <label @(!Model.ShowAll ? "class=active__view" : string.Empty)>
            <input type="radio" id="showExpiringAssets" name="assets" @(!Model.ShowAll ? "checked=\"checked\"" : string.Empty)> @Resources.BusinessOwnerPages.RequestType
            <div class="mcew-assets--filters--selector" style="width:300px;">
                <div class="current"><span class="icon-circle Request" style="background:@(Model.ShowAll?Model.ExpirationReviewStates.FirstOrDefault(state=>state.ReviewStateId==1).Color:Model.DefaultReviewState.Color)"></span>@(Model.ShowAll ? Model.ExpirationReviewStates.FirstOrDefault(state => state.ReviewStateId == 1).Name : Model.DefaultReviewState.Name)</div>
                <ul class="options">
                    @foreach (var state in Model.ExpirationReviewStates)
                    {
                        <li class="@(state.ReviewStateId == Model.DefaultReviewState.ReviewStateId ? "selected" : string.Empty )" value="@state.ReviewStateId" onclick="filterOnExpiration(this)">  <span class="icon-circle Request @(state.ReviewStateId==Model.DefaultReviewState.ReviewStateId || (Model.ShowAll && state.ReviewStateId==1)?"selected":string.Empty)" data-filter="@state.CssClassName" style="background:@state.Color;"></span>@state.Name</li>
                    }
                </ul>
            </div>
        </label>
    </div>
    <div class="mcew-assets--results-selector">
        <a class="mobile-text assets-filter-link" href="#pendingFilterModal">Filter Assets</a>
        <label>
            <input type="checkbox" id="selectAll"> @Resources.BusinessOwnerPages.SelectAll <strong class="hide-mobile">@Model.TotalResultsInPage</strong>
        </label>
    </div>
    @if (Model.BusinessOwnerAssets.Any())
    {
        <div class="mcew-assets--results">
            @foreach (var item in Model.BusinessOwnerAssets)
            {
                <div class="mcew-assets--results-item">
                    <label class="mcew-assets--results-item--checkbox">
                        <input data-Content-id="@item.ContentItemId" class="select-asset" type="checkbox">
                        <span class="mobile-text">@item.Title</span>
                    </label>
                    <div class="mcew-assets--results-item--picture">
                        <a href="@Url.Action("Details", new { id = item.ContentItemId,showPublishedOnly=false })"><img width="200" src="@(!item.ThumbnailHasRelativeUrl ? Html.Raw(Url.Action("GetImage", "Image", new { width = 200, height = 200 })) + "&filename=" + item.ThumbnailUrl : item.ThumbnailUrl)" alt="@item.Title"></a>
                    </div>
                    <div class="mcew-assets--results-item--body">
                        <div class="mcew-assets--results-item--status">
                            <span class="icon-circle Request " style="background:@item.ReviewState.Color;"></span>  @item.ReviewState.Name
                        </div>
                        <h3 class="hide-mobile"><a href="@Url.Action("Details", new { id = item.ContentItemId , showPublishedOnly=false})">@Html.Raw(item.Title)</a></h3>
                        <p>@Html.Raw(item.ShortDescription)</p>
                        <ul class="mcew-assets--results-item--expire remove__view">
                            <li>
                                <a href="#" data-modal="#delete" class="mcew-assets--results-item--expire-button"><img src="@Url.Content("~/Content/css/BusinessOwner/images/remove.svg")" alt=""> @Resources.BusinessOwnerPages.DeleteAsset</a>
                            </li>
                        </ul>
                    </div>
                    <div class="mcew-assets--results-item--actions">
                        <div class="mobile-menu-link"></div>
                        <div class="mobile-menu-items">
                            <a href="javascript:void(0)" data-modal="#modalCommentsParent" data-Content-id="@item.ContentItemId"><img src="@Url.Content("~/Content/css/BusinessOwner/images/comment.png")" alt="">@(item.CommentCount > 0 ? (Resources.BusinessOwnerPages.Comments + ": " + item.CommentCount) : Resources.BusinessOwnerPages.FirstComment)</a>
                            <label class="owner" data-modal="#modalNotBusinessOwner" data-Content-id="@item.ContentItemId" data-sender-user-name="@Model.CurrentUserName" data-asset-title="@item.Title" data-asset-expiration-date="@item.ExpirationDate.ToString("yyyy-MM-dd")"><img src="@Url.Content("~/Content/css/BusinessOwner/images/owner.png")" alt="">@Html.Raw(Resources.BusinessOwnerPages.NotBusinessOwner)</label>
                        </div>
                    </div>
                </div>
            }
            @if (Model.TotalPages > 0)
            {
                <div class="mcew-assets--result-pagination">
                    <a href="@Url.Action("PendingApproval", new { pageNumber = Model.Page - 1,  reviewState  = (Model.ShowAll?-1:Model.DefaultReviewState.ReviewStateId) })" class="page-link page-prev__view"></a>
                    @for (int i = 1; i <= Model.TotalPages; i++)
                    {
                        if (i == Model.Page)
                        {
                            <a href="javascript:void(0)" class="page-link active__view">@i</a>
                        }
                        else if (i == Model.Page - 1 || i == Model.Page + 1 || i == 1 || i == Model.TotalPages)
                        {
                            if (i == Model.Page - 1 && i > 2)
                            {
                                <span>...</span>
                            }
                            <a href="@Url.Action("PendingApproval", new { pageNumber = i, reviewState  = (Model.ShowAll?-1:Model.DefaultReviewState.ReviewStateId)})" class="page-link">@i</a>
                            if (i == Model.Page + 1 && i < Model.TotalPages - 1)
                            {
                                <span>...</span>
                            }
                        }
                    }
                    <a href="@Url.Action("PendingApproval", new { pageNumber = Model.Page + 1, reviewState = (Model.ShowAll ? -1 : Model.DefaultReviewState.ReviewStateId) })" class="page-link page-next__view"></a>
                    <label>@Resources.BusinessOwnerPages.GoToPage<input id="pageNumber" type="text" value="@Model.Page"></label>
                    <a id="goToPage" onclick="goToPage()" class="page-link page-next__view"></a>
                </div>
            }
        </div>
    }
    else
    {
        <div class="asset-list--item empty">
            <img src="@Url.Content("~/Content/img/list-empty.png")" alt="">
            <p>@Resources.BusinessOwnerPages.NoAssetsExpiring</p>
        </div>
    }
    <div style="position:absolute">
        <div id="selectionOverlay" class="hide">
            <div class="asset-list--item-buttons">
                <div class="selectionOverlay--checkbox hide-mobile-min">
                    <label class="custom-checkbox"> <input type="checkbox" checked="checked" /><span id="deselectAll"><span class="tick mark"></span></span> </label>
                </div>
                <div class="assetsCounter hide-mobile-min"><span id="selectedAssetsCounter">0</span> @Resources.BusinessOwnerPages.AssetsSelected </div>
                <a class="btn btn-primary delete-multiple">@Resources.BusinessOwnerPages.MySuggestionsDelete</a>
            </div>
        </div>
    </div>
</div>
<div id="pendingFilterModal" class="mcew-assets--filter-modal">
    <div class="mcew-assets--filter-modal--container">
        <h3>@Resources.BusinessOwnerPages.FilterAssets</h3>
        <p>@Resources.BusinessOwnerPages.ExpiringAssetsTitle</p>

        <label>
            <input type="radio" name="filterOptionModal" value="-1" @(Model.ShowAll ? "checked=\"checked\"" : string.Empty)>  <span class="icon-circle Request"></span>
            @Resources.BusinessOwnerPages.AllAssets
        </label>
        @foreach (var state in Model.ExpirationReviewStates)
        {
            <label><input type="radio" name="filterOptionModal" value="@state.ReviewStateId" @((state.ReviewStateId == Model.DefaultReviewState.ReviewStateId || (Model.ShowAll && state.ReviewStateId == 1)) ? "checked=\"checked\"" : string.Empty)> <span class="icon-circle Request @(state.ReviewStateId==Model.DefaultReviewState.ReviewStateId || (Model.ShowAll && state.ReviewStateId==1)?"selected":string.Empty)" data-filter="@state.CssClassName" style="background:@state.Color;"></span>@state.Name</label>

        }
        <a href="#" onchange="filterOnExpiration(this)" class="mcew-action-button">@Resources.BusinessOwnerPages.Apply</a>
    </div>
</div>
<div id="confirmModal">
</div>
@*Modal that Shows Comments*@
<div id="modalCommentsParent" class="mc-modal">
    <div class="mc-modal--body no-padd">
    </div>
</div>
@*Not A business Modal*@
<div id="modalNotBusinessOwner" class="mc-modal">
    <div class="mc-modal--content">
        <div class="mc-modal--header small-padd-bottom">
            <a href="javascript:void(0);" class="close-link"><img src="@Url.Content("~/Content/css/ContentComments/images/pop-up_close_icon.png")" width="32" alt=""></a>
            <h5>Action Required</h5>
            <h2>@Html.Raw(Resources.BusinessOwnerPages.NotBusinessOwner)</h2>
            <p>@Resources.BusinessOwnerPages.ConfirmToRemoveCurrentAsset</p>
        </div>
        <div class="mc-modal--body">
            @Html.Partial("~/Views/Shared/_ModalSuccessError.cshtml")
            <div id="not-business-owner--body--wrapper" v-cloak>
                <div class="mc-form-group">
                    <label for="">@Resources.BusinessOwnerPages.BusinessOwner:</label>
                    <div class="mc-field">{{senderUserName}}</div>
                </div>
                <div class="mc-form-group">
                    <label for="">@Resources.BusinessOwnerPages.AssetTitle:</label>
                    <div class="mc-field" v-html="assetTitle"></div>
                </div>
                <div class="mc-form-group">
                    <label for="">@Resources.BusinessOwnerPages.ExpirationDate:</label>
                    <div class="mc-field">{{assetExpirationDate}}</div>
                </div>
                <div class="mc-form-group input">
                    <label for="" v-bind:style="[showErrorMessage?{'color':'#ff0000'}:{} ]">Message:<span v-if="showErrorMessage">*</span></label>
                    <div class="mc-field">
                        <input id="notBusinessOwnerMessage" name="message" placeholder="Your message" type="text" v-model="message" v-on:keyup.enter="submitNotBusinessOwnerNotification" />
                        <div v-if="showErrorMessage" style="color:#ff0000;" class="req-mark error"> {{emptyErrorMessage}}</div>
                    </div>
                </div>
                <div class="mc-buttons">
                    <a v-bind:href="assetEditUrl" class="mc-btn">View Asset</a>
                    <a href="javascript:void(0);" v-on:click="submitNotBusinessOwnerNotification" class="mc-btn primary">Confirm</a>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="/admin/Content/js/BusinessOwner/BulkAssetsOverlay.js"></script>
<script src="@Url.Content("~/Content/js/BusinessOwner/expiration-workflow.js")"></script>
<script>
    $(document).ready(function () {
        $('#selectAll').click(function (e) {
            var checked = $('#selectAll').prop("checked");
            setSelection(checked);
            calculateSelected();
        });

        $('#deselectAll').click(function (e) {
            setSelection(false);
            calculateSelected();
        });

        $('.select-asset').bind('change', function (e) {
            calculateSelected();
        });

        function setSelection(selected) {

            if (selected) {
                $('#selectAll').prop('checked', true);
            }
            else {
                $('#selectAll').removeProp('checked');
            }

            $('.select-asset').prop("checked", selected);
        }

        function calculateSelected() {
            var selected = getSelected();
            var selectionExists = selected && selected.length > 0;
            var anyCheckboxUnchecked = getNotSelected().length > 0;
            toggleBottomBarAndSelectAll(selectionExists, anyCheckboxUnchecked);
            if (selectionExists) {
                $('#selectedAssetsCounter').html(selected.length);
            }
        }

        function toggleBottomBarAndSelectAll(show, removeSelectAll) {
            var bottomDiv = $('#selectionOverlay');
            if (show) {
                bottomDiv.removeClass('hide');
            }
            else {
                bottomDiv.addClass('hide');
            }

            if (removeSelectAll) {
                $("#selectAll").removeProp('checked');
            }
            else {
                $("#selectAll").prop('checked', true);
            }

            if (show) {
                $('#selectionOverlay input').prop('checked', true);
            }
            else {
                $('#selectionOverlay input').removeProp('checked');
            }
        }

        function getSelected() {
            return $('.select-asset:checked');
        }
        function getNotSelected() {
            return $('.select-asset:not(:checked)');
        }

        $('[data-modal=#delete]').click(function () {
            // select an item
            var asset = $(this).closest('.mcew-assets--results-item');
            var checkbox = asset.find('.select-asset');

            confirmDeletion([checkbox.attr('data-Content-id')]);
        });

        $('.delete-multiple').click(function () {
            // get selection
            var selectedIds = [];
            var selected = getSelected().each(function () {
                selectedIds.push($(this).attr('data-Content-id'));
            });

            confirmDeletion(selectedIds);
        });

        function confirmDeletion(selectedIds) {
            var modalsParentSelector = "#confirmModal";
            $('body').append($(modalsParentSelector));
            $.ajax({
                url: "@Url.Action("ConfirmDeletion", "BusinessOwner")",
                data: JSON.stringify({
                    SelectedContentItems: selectedIds
                }),
                type: "POST",
                contentType: "application/json; charset=utf-8",
                success: function (data, textStatus, request) {
                    // if authentication expired then IIS responds with 302 Moved and browser requests another page (login) and only after that this "success" handler is called
                    var redirectHeader = request.getResponseHeader("MASTERCARD_UNAUTHENTICATED_REDIRECT");
                    if (redirectHeader) {
                        window.location.replace(redirectHeader);
                    }

                    $(modalsParentSelector).html(data);
                    $(modalsParentSelector).find(".mc-modal").addClass('in');
                    $(modalsParentSelector).find('.mc-modal .close-link, .close-btn').click(function (e) {
                        e.preventDefault();
                        $(this).closest('.mc-modal').removeClass('in');
                    });
                },
                dataType: "html"
            });
        }
    });
    // this function checks for a custom header "MASTERCARD_UNAUTHENTICATED_REDIRECT" to redirect which is set by server if authentication was expired
    function redirectIfAuthenticationExpired(request) {
        // if authentication expired then IIS responds with 302 Moved and browser requests another page (login) and only after that this "success" handler is called
        var redirectHeader = request.getResponseHeader("MASTERCARD_UNAUTHENTICATED_REDIRECT");
        if (redirectHeader) {
            window.location.replace(redirectHeader);
        }
    }

    function filterOnExpiration(item) {
        var statusId = $(item).attr('value');
        window.location.href = "@(Url.Action("PendingApproval"))?pageNumber=@(Model.Page)&" + "&reviewState=" + statusId;
    }

    var modalStates;
    $(document).ready(function () {
        $('body').append($('#modalCommentsParent'));
        $('[data-modal=#modalCommentsParent]').click(function (e) {
            var modalName = $(this).attr('data-modal');
            var contentItemId = $(this).attr('data-content-id');
            var backUrl = window.location.href;

            $.ajax({
                url: "@Url.Action("Widget", "ContentComment")",
                data: { "ContentItemId": contentItemId, "BackLink": backUrl, "isAdmin": false },
                success: function (data, textStatus, request) {
                    redirectIfAuthenticationExpired(request);

                    $(".mc-modal--body #comments-partial", "#modalCommentsParent").html("");
                    $(".mc-modal--body", "#modalCommentsParent").append(data); // add modal to DOM
                    modalStates = modalPartial.set(".mc-modal--body", backUrl);
                    modalPartial.showComments();
                    $(modalName).addClass('in');
                    $('.mc-modal .close-link').click(function (e) {
                        e.preventDefault();
                        $(this).closest('.mc-modal').removeClass('in');
                        $('#commentsWidget').remove(); // removing modal from DOM
                        window.location.reload();
                    });
                },
                dataType: "html"
            });
        });

        $('body').append($('#modalNotBusinessOwner'));
        $('[data-modal].owner').click(function (e) {
            var modalName = $(this).attr('data-modal');
            var contentItem = {
                contentItemId: $(this).attr('data-content-id'),
                senderUserName: $(this).attr('data-sender-user-name'),
                assetTitle: $(this).attr('data-asset-title'),
                assetExpirationDate: $(this).attr('data-asset-expiration-date'),
                assetEditUrl: '@Url.Action("Details")/' + $(this).attr('data-content-id'),
                message: "@Resources.BusinessOwnerPages.NotBusinessOwnerExample",
                showErrorMessage: false,
                emptyErrorMessage: "@Resources.BusinessOwnerPages.RequiredFields"
            };

            $("#not-business-owner--body--wrapper").parent().removeClass("no-padd");
            $("#not-business-owner--body--wrapper").removeClass("hide");
            $(".mc-modal--header:not(.comments)").removeClass("hide");

            var vm = new Vue({
                el: '#modalNotBusinessOwner',
                data: contentItem,
                methods: {
                    submitNotBusinessOwnerNotification: function () {
                        if (this.message === undefined || this.message === null || this.message.trim().length == 0) {
                            this.showErrorMessage = true;
                            return;
                        }
                        else {
                            this.showErrorMessage = false;
                        }
                        $.ajax({
                            type: "POST",
                            url: "@Url.Action("SubmitNotBusinessOwnerNotification")",
                            data: {
                                contentItemId: this.contentItemId,
                                message: this.message,
                            },
                            success: function (data, textStatus, request) {
                                redirectIfAuthenticationExpired(request);

                                $("#not-business-owner--body--wrapper").addClass("hide");
                                $("#not-business-owner--body--wrapper").parent().addClass("no-padd");
                                $("#mc-comments--success--wrapper", "#modalNotBusinessOwner").removeClass("hide");
                                $(".mc-modal--header:not(.comments)").addClass("hide");
                            },
                            error: function ($xhr) { modalPartial.loadError(null, "@Resources.ContentItemComments.ModalErrorMessage", $xhr); }
                        });
                    }
                }
            });

            $(modalName).addClass('in');
            $('#modalNotBusinessOwner.mc-modal .close-link').click(function (e) {
                e.preventDefault();
                $(this).closest('.mc-modal').removeClass('in');
                window.location.reload();
            });
        });

        var closeLinkUrl = window.location.href.split('?')[0];

        $('.mc-modal .close-link').click(function (e) {
            e.preventDefault();
            $(this).closest('.mc-modal').removeClass('in');
            window.location = closeLinkUrl;
        });

        $("#pageNumber").keyup(function (e) {
            var code = e.which;
            if (code == 13) {
                goToPage();
            }
        });
    });

    function goToPage() {
        var pageNumber = $("#pageNumber").val();
        window.location.href = "@(Url.Action("PendingApproval"))?pageNumber=" + pageNumber + "&reviewState@(Model.DefaultReviewState.ReviewStateId)";
    }
</script>