﻿@model BusinessOwnerPublishedAssetsViewModel
@section head
{
    <link href="/admin/Content/css/BusinessOwner/BulkAssetsOverlay.css" rel="stylesheet" />
}
@{
    Layout = "~/Views/Shared/_BusinessOwnerLayout.cshtml";
}
@section Breadcrumb
{
    <nav class="breadcrumbs grid-spaces-in">
        <a href="/portal" class="path" tracking-type="breadcrumb">@Resources.BusinessOwnerPages.Home</a>
        <a href="/admin/businessowner" class="path" tracking-type="breadcrumb">@Resources.BusinessOwnerPages.MyAssetsTitle</a>
        <span>@Resources.BusinessOwnerPages.PublishedAssetsTitle</span>
    </nav>
}
<div class="mcew-container">
    @{ Html.RenderAction("InitializeTabHeader", "BusinessOwner", new { activeTab = Resources.BusinessOwnerPages.PublishedAssetsTitle }); }
    <section>
        <div class="mcew-assets--results-selector">
            <a class="mobile-text assets-filter-link" href="#publishedFilterModal">Filter Assets</a>
            <label>
                <input type="checkbox" id="selectAll">&nbsp;@Resources.BusinessOwnerPages.SelectAll
            </label>
        </div>
        <div class="mcew-assets--filters">
            <h3 class="hide-mobile">@Resources.BusinessOwnerPages.ShowInList</h3>
            <label class="@(Model.ShowAllAssets ? "active__view" : string.Empty)">
                <input type="radio" onchange="filterOnExpiration(this)" id="showAllAssets" name="assets" @(Model.ShowAllAssets ? "checked" : string.Empty)> @Resources.BusinessOwnerPages.AllAssets
            </label>
            <label class="@(!Model.ShowAllAssets ? "active__view" : string.Empty)">
                <input type="radio" id="showExpiringAssets" name="assets" @(!Model.ShowAllAssets ? "checked" : string.Empty)> @Resources.BusinessOwnerPages.AssetsExpiring
                <div class="mcew-assets--filters--selector">
                    <div class="current">@(Model.ExpirationWindowInDays == 1 ? Resources.BusinessOwnerPages.Today : string.Format("{0} {1}", Model.ExpirationWindowInDays, Resources.BusinessOwnerPages.Days))</div>
                    <ul id="expirationDays" class="options">
                        @foreach (var day in Model.ExpirationDays)
                        {
                            <li class="@(day == Model.ExpirationWindowInDays ? "selected" : string.Empty )" value="@day" onclick="filterOnExpiration(this)">
                                @if (day == 1)
                                {
                                    @Resources.BusinessOwnerPages.Today
                                }
                                else
                                {
                                    @(string.Format("{0} {1}", day, Resources.BusinessOwnerPages.Days))
                                }
                            </li>
                        }
                    </ul>
                </div>
            </label>
        </div>
        <div class="mcew-assets--results">
            @if (Model.BusinessOwnerAssets.Any())
            {
                foreach (var item in Model.BusinessOwnerAssets)
                {
                    <div class="mcew-assets--results-item">
                        <label class="mcew-assets--results-item--checkbox">
                            <input data-Content-id="@item.ContentItemId" type="checkbox">
                            <span class="mobile-text">@item.Title</span>
                        </label>
                        <div class="mcew-assets--results-item--picture">
                            <a href="@Url.Action("ViewInPortal", new { id = item.ContentItemId })"><img width="200" src="@(!item.ThumbnailHasRelativeUrl ? Html.Raw(Url.Action("GetImage", "Image", new { width = 200, height = 200 })) + "&filename=" + item.ThumbnailUrl : item.ThumbnailUrl)" alt="@item.Title"></a>
                        </div>
                        <div class="mcew-assets--results-item--body">
                            <h3 class="hide-mobile"><a href="@Url.Action("ViewInPortal", new { id = item.ContentItemId })">@Html.Raw(item.Title)</a></h3>
                            <p>@Html.Raw(item.ShortDescription)</p>
                            <ul class="mcew-assets--results-item--expire">
                                <li>
                                    <img src="@Url.Content("~/Content/css/BusinessOwner/images/expire.png")" alt="">&nbsp;@Html.Raw(string.Format(Resources.BusinessOwnerPages.ExpiresIn, item.DaysToExpire))
                                </li>
                                <li>
                                    <a class="mcew-assets--results-item--expire-button" data-modal="#extend" data-Should-Extend="false" data-Content-id="@item.ContentItemId" data-asset-expiration-date="@item.ExpirationDate.ToString("yyyy-MM-dd")" data-asset-title="@Html.Raw(item.Title).ToString().Replace(" \"", "'")" data-sender-user-name="@Model.CurrentUserName" href="javascript:void(0);">@Resources.BusinessOwnerPages.NotExtend</a>
                                </li>
                                <li>
                                    <a class="a mcew-assets--results-item--expire-button dark__view" data-modal="#extend" data-Should-Extend="true" data-Content-id="@item.ContentItemId" data-asset-expiration-date="@item.ExpirationDate.ToString("yyyy-MM-dd")" data-asset-title="@Html.Raw(item.Title).ToString().Replace(" \"", "'")" data-sender-user-name="@Model.CurrentUserName" href="javascript:void(0);">@Resources.BusinessOwnerPages.ExtendAsset</a>
                                </li>
                            </ul>
                        </div>
                        <div class="mcew-assets--results-item--actions">
                            <div class="mobile-menu-link"></div>
                            <div class="mobile-menu-items">
                                <a href="javascript:void(0)" data-modal="#modalCommentsParent" data-Content-id="@item.ContentItemId"><img src="@Url.Content("~/Content/css/BusinessOwner/images/comment.png")" alt=""><span>@(item.CommentCount > 0 ? (Resources.BusinessOwnerPages.Comments + ": " + item.CommentCount) : Resources.BusinessOwnerPages.FirstComment)</span></a>
                                <label class="owner" data-modal="#modalNotBusinessOwner" data-Content-id="@item.ContentItemId" data-sender-user-name="@Model.CurrentUserName" data-asset-title="@item.Title" data-asset-expiration-date="@item.ExpirationDate.ToString("yyyy-MM-dd")"><img src="@Url.Content("~/Content/css/BusinessOwner/images/owner.png")" alt="">@Html.Raw(Resources.BusinessOwnerPages.NotBusinessOwner)</label>
                            </div>
                        </div>
                    </div>
                }
                if (Model.TotalPages > 0)
                {
                    <div class="mcew-assets--result-pagination">
                        <a href="@Url.Action("PublishedAssets", new { pageNumber = Model.Page - 1, showAllAssets = Model.ShowAllAssets, expirationWindowInDays = Model.ExpirationWindowInDays })" class="page-link page-prev__view"></a>
                        @for (int i = 1; i <= Model.TotalPages; i++)
                        {
                            if (i == Model.Page)
                            {
                                <a href="javascript:void(0)" class="page-link active__view">@i</a>
                            }
                            else if (i == Model.Page - 1 || i == Model.Page + 1 || i == 1 || i == Model.TotalPages)
                            {
                                if (i == Model.Page - 1 && i > 2)
                                {
                                    <span>...</span>
                                }
                                <a href="@Url.Action("PublishedAssets", new { pageNumber = i, showAllAssets = Model.ShowAllAssets, expirationWindowInDays = Model.ExpirationWindowInDays })" class="page-link">@i</a>
                                if (i == Model.Page + 1 && i < Model.TotalPages - 1)
                                {
                                    <span>...</span>
                                }
                            }
                        }
                        <a href="@Url.Action("PublishedAssets", new { pageNumber = Model.Page + 1, showAllAssets = Model.ShowAllAssets, expirationWindowInDays = Model.ExpirationWindowInDays })" class="page-link page-next__view"></a>
                        <label>@Resources.BusinessOwnerPages.GoToPage<input id="pageNumber" type="text" value="@Model.Page"></label>
                        <a id="goToPage" onclick="goToPage()" class="page-link page-next__view"></a>
                    </div>
                }
            }
            else
            {
                <div class="mcew-assets--results-selector">
                    <img src="@Url.Content("~/Content/img/list-empty.png")" alt="">
                    <p>@Resources.BusinessOwnerPages.NoPublishedAssets</p>
                </div>
            }
        </div>
    </section>
</div>
@*Modal that Shows Comments*@
<div id="modalCommentsParent" class="mc-modal">
    <div class="mc-modal--body no-padd">
    </div>
</div>
@*Not A business Modal*@
<div id="modalNotBusinessOwner" class="mc-modal">
    <div class="mc-modal--content">
        <div class="mc-modal--header small-padd-bottom">
            <a href="javascript:void(0);" class="close-link"><img src="@Url.Content("~/Content/css/ContentComments/images/pop-up_close_icon.png")" width="32" alt=""></a>
            <h5>Action Required</h5>
            <h2>@Html.Raw(Resources.BusinessOwnerPages.NotBusinessOwner)</h2>
            <p>@Resources.BusinessOwnerPages.ConfirmToRemoveCurrentAsset</p>
        </div>
        <div class="mc-modal--body">
            @Html.Partial("~/Views/Shared/_ModalSuccessError.cshtml")
            <div id="not-business-owner--body--wrapper" v-cloak>
                <div class="mc-form-group">
                    <label for="">@Resources.BusinessOwnerPages.BusinessOwner:</label>
                    <div class="mc-field">{{senderUserName}}</div>
                </div>
                <div class="mc-form-group">
                    <label for="">@Resources.BusinessOwnerPages.AssetTitle:</label>
                    <div class="mc-field" v-html="assetTitle"></div>
                </div>
                <div class="mc-form-group">
                    <label for="">@Resources.BusinessOwnerPages.ExpirationDate:</label>
                    <div class="mc-field">{{assetExpirationDate}}</div>
                </div>
                <div class="mc-form-group input">
                    <label for="" v-bind:style="[showErrorMessage?{'color':'#ff0000'}:{} ]">Message:<span v-if="showErrorMessage">*</span></label>
                    <div class="mc-field">
                        <input id="notBusinessOwnerMessage" name="message" placeholder="Your message" type="text" v-model="message" v-on:keyup.enter="submitNotBusinessOwnerNotification" />
                        <div v-if="showErrorMessage" style="color:#ff0000;" class="req-mark error"> {{emptyErrorMessage}}</div>
                    </div>
                </div>
                <div class="mc-buttons">
                    <a v-bind:href="assetEditUrl" class="mc-btn">View Asset</a>
                    <a href="javascript:void(0);" v-on:click="submitNotBusinessOwnerNotification" class="mc-btn primary">Confirm</a>
                </div>
            </div>
        </div>
    </div>
</div>
@*Placeholder for modal to input expiration behaviour*@
<div id="expireModal">
    @if (Model.OpenSuccessModal)
    {
        <div class="mc-modal in" id="modalExtend">
            @Html.Partial("~/Views/Shared/_ModalSuccessError.cshtml")
        </div>
    }
</div>
<div id="publishedFilterModal" class="mcew-assets--filter-modal">
    <div class="mcew-assets--filter-modal--container">
        <h3>@Resources.BusinessOwnerPages.FilterAssets</h3>
        <p>@Resources.BusinessOwnerPages.ExpiringAssetsTitle</p>
        <label class="@(Model.ShowAllAssets ? "active__view" : string.Empty)">
            <input type="radio" id="showAllAssetsMobile" name="filterOptionModal" @(Model.ShowAllAssets ? "checked" : string.Empty)> @Resources.BusinessOwnerPages.AllAssets
        </label>
        @foreach (var day in Model.ExpirationDays)
        {
            <label>
                <input name="filterOptionModal" type="radio" class="@(day == Model.ExpirationWindowInDays ? "selected" : string.Empty )" @(day == Model.ExpirationWindowInDays ? "checked" : string.Empty) value="@day" />
                @((day == 1) ? Resources.BusinessOwnerPages.Today : string.Format("{0} {1}", day, Resources.BusinessOwnerPages.Days))

            </label>
        }
        <a href="#" onchange="filterOnExpiration(this)" class="mcew-action-button">@Resources.BusinessOwnerPages.Apply</a>
    </div>
</div>
<script src="/admin/Content/js/BusinessOwner/BulkAssetsOverlay.js"></script>
<div style="position:absolute">
    <div id="selectionOverlay" class="hide">
        <div class="asset-list--item-buttons">
            <div class="selectionOverlay--checkbox hide-mobile-min">
                <label class="mcew-assets--results-item--checkbox"> <input type="checkbox" /> <span></span> </label>
            </div>
            <div class="assetsCounter hide-mobile-min"><span id="selectedAssetsCounter">0</span>&nbsp;@Resources.BusinessOwnerPages.AssetsSelected</div>
            <ul class="mcew-assets--results-item--expire">
                <li class="hide-mobile-min"></li>
                <li>
                    <a class="mcew-assets--results-item--expire-button" data-Should-Extend="false" data-modal="#extendBulk">
                        <span class="show-mobile-min">@Resources.BusinessOwnerPages.NotExtend</span>
                        <span class="hide-mobile-min">@Resources.BusinessOwnerPages.DoNotExtendToAllAssets</span>
                    </a>
                </li>
                <li>
                    <a class="a mcew-assets--results-item--expire-button dark__view" data-Should-Extend="true" data-modal="#extendBulk" data-t>
                        <span class="show-mobile-min">@Resources.BusinessOwnerPages.ExtendAsset</span>
                        <span class="hide-mobile-min">@Resources.BusinessOwnerPages.ExtendAllAssets</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
<script src="@Url.Content("~/Content/js/BusinessOwner/expiration-workflow.js")"></script>
<script>
    // this function checks for a custom header "MASTERCARD_UNAUTHENTICATED_REDIRECT" to redirect which is set by server if authentication was expired
    function redirectIfAuthenticationExpired(request) {
        // if authentication expired then IIS responds with 302 Moved and browser requests another page (login) and only after that this "success" handler is called
        var redirectHeader = request.getResponseHeader("MASTERCARD_UNAUTHENTICATED_REDIRECT");
        if (redirectHeader) {
            window.location.replace(redirectHeader);
        }
    }

    bulkScope("@Url.Action("BulkExtend", "ContentComment")", "@Model.CurrentUserName", redirectIfAuthenticationExpired);

    function filterOnExpiration(item) {
        var expirationWindowInDays = expirationWindowInDays = $(item).attr('value');
        var showAllAssets = $(item).attr("name") == "filterOptionModal" ? $("#showAllAssetsMobile").is(':checked'):$("#showAllAssets").is(':checked');
        window.location.href = "@(Url.Action("PublishedAssets"))?pageNumber=@(Model.Page)&showAllAssets=" + showAllAssets + "&expirationWindowInDays=" + expirationWindowInDays;
    }

    var modalStates;
    $(document).ready(function () {
        $('body').append($('#modalCommentsParent'));
        $('[data-modal=#modalCommentsParent]').click(function (e) {
            var modalName = $(this).attr('data-modal');
            var contentItemId = $(this).attr('data-content-id');
            var backUrl = window.location.href;

            $.ajax({
                url: "@Url.Action("Widget", "ContentComment")",
                data: { "ContentItemId": contentItemId, "BackLink": backUrl, "isAdmin": false },
                success: function (data, textStatus, request) {
                    redirectIfAuthenticationExpired(request);

                    $(".mc-modal--body #comments-partial", "#modalCommentsParent").remove();
                    $(".mc-modal--body", "#modalCommentsParent").append(data); // add modal to DOM
                    modalStates = modalPartial.set(".mc-modal--body", backUrl);
                    modalPartial.showComments();
                    $(modalName).addClass('in');
                    $('.mc-modal .close-link').click(function (e) {
                        e.preventDefault();
                        $(this).closest('.mc-modal').removeClass('in');
                        $('#commentsWidget').remove(); // removing modal from DOM
                        window.location.reload();
                    });
                },
                dataType: "html"
            });
        });

        $('body').append($('#modalNotBusinessOwner'));
        $('[data-modal].owner').click(function (e) {
            var modalName = $(this).attr('data-modal');
            var contentItem = {
                contentItemId: $(this).attr('data-content-id'),
                senderUserName: $(this).attr('data-sender-user-name'),
                assetTitle: $(this).attr('data-asset-title'),
                assetExpirationDate: $(this).attr('data-asset-expiration-date'),
                assetEditUrl: '@Url.Action("Details")/' + $(this).attr('data-content-id'),
                message: "@Resources.BusinessOwnerPages.NotBusinessOwnerExample",
                showErrorMessage: false,
                emptyErrorMessage: "@Resources.BusinessOwnerPages.RequiredFields"
            };

            $("#not-business-owner--body--wrapper").parent().removeClass("no-padd");
            $("#not-business-owner--body--wrapper").removeClass("hide");
            $(".mc-modal--header:not(.comments)").removeClass("hide");

            var vm = new Vue({
                el: '#modalNotBusinessOwner',
                data: contentItem,
                methods: {
                    submitNotBusinessOwnerNotification: function () {
                        if (this.message === undefined || this.message === null || this.message.trim().length == 0) {
                            this.showErrorMessage = true;
                            return;
                        }
                        else {
                            this.showErrorMessage = false;
                        }
                        $.ajax({
                            type: "POST",
                            url: "@Url.Action("SubmitNotBusinessOwnerNotification")",
                            data: {
                                contentItemId: this.contentItemId,
                                message: this.message,
                            },
                            success: function (data, textStatus, request) {
                                redirectIfAuthenticationExpired(request);

                                $("#not-business-owner--body--wrapper").addClass("hide");
                                $("#not-business-owner--body--wrapper").parent().addClass("no-padd");
                                $("#mc-comments--success--wrapper", "#modalNotBusinessOwner").removeClass("hide");
                                $(".mc-modal--header:not(.comments)").addClass("hide");
                            },
                            error: function ($xhr) { modalPartial.loadError(null, "@Resources.ContentItemComments.ModalErrorMessage", $xhr); }
                        });
                    }
                }
            });

            $(modalName).addClass('in');
            $('#modalNotBusinessOwner.mc-modal .close-link').click(function (e) {
                e.preventDefault();
                $(this).closest('.mc-modal').removeClass('in');
                window.location.reload();
            });
        });

        @if (Model.OpenSuccessModal || Model.OpenExtendModal)
        {
            <text>var closeLinkUrl = window.location.href.split('?')[0]</text>
        }
        else {
           <text>var closeLinkUrl = window.location;</text>
        }
        var modalsParentSelector = "#expireModal";
        $('[data-modal=#extend]').click(function () {
            extendData = {
                shouldExtend: $(this).attr("data-should-extend"),
                contentItemID: $(this).attr("data-Content-id"),
                expirationDate: $(this).attr("data-asset-expiration-date"),
                contentTitle: $(this).attr("data-asset-title"),
                userFullName: $(this).attr("data-sender-user-name")
            }

            $.ajax({
                url: "@Url.Action("Extend", "ContentComment")",
                data: extendData,
                type: "GET",
                success: function (data, textStatus, request) {
                    redirectIfAuthenticationExpired(request);

                    $(modalsParentSelector).html(data);
                    $(modalsParentSelector).find(".mc-modal").addClass('in');
                    $(modalsParentSelector).find('.mc-modal .close-link').click(function (e) {
                        e.preventDefault();
                        $(this).closest('.mc-modal').removeClass('in');
                        window.location = closeLinkUrl;
                    });
                },
                dataType: "html"
            });
        });

        @if (Model.OpenExtendModal)
        {
            <text>$("[data-Content-id=@Model.ExtendModalContentItemId][data-should-extend=@((Model.ExtendModalState == 1).ToString().ToLower())]").click();</text>
        }
        else if (Model.OpenSuccessModal)
        {
            <text>$("#modalExtend #mc-comments--success--wrapper").removeClass("hide");</text>
        }

        $('body').append($(modalsParentSelector));
        $('.mc-modal .close-link').click(function (e) {
            e.preventDefault();
            $(this).closest('.mc-modal').removeClass('in');
            window.location = closeLinkUrl;
        });

        $("#pageNumber").keyup(function (e) {
            var code = e.which;
            if (code == 13) {
                goToPage();
            }
        });

    });

    function goToPage() {
        var pageNumber = $("#pageNumber").val();
        window.location.href = "@(Url.Action("PublishedAssets"))?pageNumber=" + pageNumber + "&showAllAssets=@(Model.ShowAllAssets)&expirationWindowInDays=@(Model.ExpirationWindowInDays)";
    }
</script>