﻿@model BusinessOwnerTabHeaderViewModel

<div class="mcew-header">
    <h1 class="mcew-header--title">@Resources.BusinessOwnerPages.MyAssetsTitle</h1>
</div>

<nav class="mcew-tab">
    @foreach (var tab in Model.Tabs)
    {
        <a href="@Url.Action(tab.Action, Model.Controller)" class="mcew-tab--item @(tab.Name == Model.ActiveTab ? "mcew-tab--item__active" : string.Empty)" tracking-type="tab">@tab.Name</a>
    }
</nav>