﻿<!--[if IE 8 ]>
    <script type="text/javascript" src="@Url.Content("~/content/themes/orange/libs/respond.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/content/themes/orange/libs/selectivizr-min.js")"></script>
<![endif]-->