﻿@using Mastercard.MarketingCenter.Services;
@using System.Web.Mvc;
@{
    string languageCode = DependencyResolver.Current.GetService<UserContext>().GetSelectedLanguageCode();
}
<!--[if IE 8 ]><html lang="@languageCode" class="ie8"><![endif]-->
<!--[if IE 9 ]><html lang="@languageCode" class="ie9"><![endif]-->
<!--[if IE 10 ]><html lang="@languageCode" class="ie10"><![endif]-->