﻿@using Mastercard.MarketingCenter.Services.Interfaces;
@using System.Web.Mvc;
@{ var urlService = DependencyResolver.Current.GetService<IUrlService>(); }
<!-- favicon -->
<link rel="apple-touch-icon" sizes="180x180" href="@urlService.GetStaticImageURL("favicons/apple-touch-icon.png")">
<link rel="icon" type="image/png" href="@urlService.GetStaticImageURL("favicons/favicon-32x32.png")" sizes="32x32">
<link rel="icon" type="image/png" href="@urlService.GetStaticImageURL("favicons/favicon-16x16.png")" sizes="16x16">
<link rel="manifest" href="@Url.Content("~/content/themes/orange/img/favicons/manifest.json")">
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta http-equiv="X-UA-Compatible" content="IE=Edge" />
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="msapplication-TileImage" content="@urlService.GetStaticImageURL("favicons/mstile-150x150.png")">
<meta name="theme-color" content="#ffffff">