﻿@using Mastercard.MarketingCenter.Services;
@using Mastercard.MarketingCenter.Services.Interfaces;
@using StackExchange.Profiling;
@using System.Web.Mvc;
@{
    var urlService = DependencyResolver.Current.GetService<IUrlService>();
    string languageCode = DependencyResolver.Current.GetService<UserContext>().GetSelectedLanguageCode();
    var profiler = MiniProfiler.Current;
    var title = System.Web.HttpUtility.HtmlDecode(RenderSection("Title").ToHtmlString().Trim());
}
<!DOCTYPE html>
@Html.Partial("__LayoutIELang")
<!---[if !(IE)]><!-->
<html lang="@languageCode" class="no-ie">
<!--<![endif]-->
@using (profiler.Step("Layout Head"))
{
    <head>
        <meta http-equiv="X-UA-Compatible" content="IE=EDGE" />
        <title>@title</title>
        @Html.RenderOneTrustScript()
        @Html.RenderAdobeLaunchHeaderScript(title)
        @Html.Partial("__LayoutHeadElement")
        @System.Web.Optimization.Styles.Render(urlService.GetStaticContentCss())
        @Html.Partial("__LayoutIEStyle")
        @System.Web.Optimization.Scripts.Render(urlService.GetStaticjQueryJs())
        @System.Web.Optimization.Scripts.Render(urlService.GetStaticjQueryUiJs())
        @System.Web.Optimization.Scripts.Render(urlService.GetStaticContentJs())
        @Html.RenderHotjarScript()
        @RenderSection("sectionHead", false)
    </head>
}
<body>
    @Html.Partial("__LayoutAdminBar")
    <div class="page-wrapper">
        @Html.Partial("__LayoutHeader")
        @using (profiler.Step("Breadcrums"))
        {
            if (IsSectionDefined("Breadcrumb"))
            {
                @RenderSection("Breadcrumb", false);
            }
            else
            {
                @Html.Breadcrumb();
            }
        }
        @using (profiler.Step("Body"))
        {
            <main class="page-body">@RenderBody()</main>
        }
        @Html.Partial("__LayoutFooter")
    </div>
    @Html.Partial("__LayoutIEScript")
    @System.Web.Optimization.Scripts.Render(urlService.GetStaticVueBundleJs())
    @MiniProfiler.RenderIncludes()
    @Html.RenderPardotScript()
    @Html.RenderOneTrustButton()
    @Html.RenderAdobeLaunchBottomScript()
</body>
</html>