﻿@using Mastercard.MarketingCenter.Services;
@using System.Web.Mvc;
@{
    string languageCode = DependencyResolver.Current.GetService<UserContext>().GetSelectedLanguageCode();
}
<!DOCTYPE html>
<html lang="@languageCode">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=EDGE" />
    <title>@RenderSection("Title")</title>
</head>
<body>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    @RenderBody()
</body>
</html>