﻿@model VideoPageViewModel
@{
    Layout = null;
}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>@Model.SiteName</title>
    <style>
        body {
            background-color: #000;
        }

        .wrapper {
            position: relative;
            margin: 0 auto;
            width: 800px;
            overflow: visible;
        }
    </style>
    <script src="/portal/content/scripts/jquery-1.6.2.min.js" type="text/javascript"></script>
    <script src="/portal/content/jw7/jwplayer.js"></script>
    <script>jwplayer.key = "JNw9RYeZN+GcUrPbkkBstFJobI4n4YrtvN/9oQ==";</script>
    <script language="javascript" type="text/javascript" src="/content/scripts/video-replays.js"></script>
</head>
<body>
    <div class="wrapper">
        <div id="player-div"></div>
    </div>
</body>
</html>