﻿<style type="text/css">
    @font-face {
        font-family: AccordAlternate;
        src: url('[#FrontEndUrl]/content/themes/orange/css/fonts/AccordAlternate-Thin.eot');
        src: url('[#FrontEndUrl]/content/themes/orange/css/fonts/AccordAlternate-Thin.eot?#iefix') format('embedded-opentype'), url('[#FrontEndUrl]/content/themes/orange/css/fonts/AccordAlternate-Thin.woff') format('woff'), url('[#FrontEndUrl]/content/themes/orange/css/fonts/AccordAlternate-Thin.ttf') format('truetype');
        font-style: normal;
        font-weight: 100;
    }

    @font-face {
        font-family: AccordAlternate;
        src: url('[#FrontEndUrl]/content/themes/orange/css/fonts/AccordAlternate-Bold.eot');
        src: url('[#FrontEndUrl]/content/themes/orange/css/fonts/AccordAlternate-Bold.eot?#iefix') format('embedded-opentype'), url('[#FrontEndUrl]/content/themes/orange/css/fonts/AccordAlternate-Bold.woff') format('woff'), url('[#FrontEndUrl]/content/themes/orange/css/fonts/AccordAlternate-Bold.ttf') format('truetype');
        font-style: normal;
        font-weight: 700;
    }

    @font-face {
        font-family: AccordAlternate;
        src: url('[#FrontEndUrl]/content/themes/orange/css/fonts/AccordAlternate-Light.eot');
        src: url('[#FrontEndUrl]/content/themes/orange/css/fonts/AccordAlternate-Light.eot?#iefix') format('embedded-opentype'), url('[#FrontEndUrl]/content/themes/orange/css/fonts/AccordAlternate-Light.woff') format('woff'), url('[#FrontEndUrl]/content/themes/orange/css/fonts/AccordAlternate-Light.ttf') format('truetype');
        font-style: normal;
        font-weight: 300;
    }
</style>
<div style='text-align: center; line-height: 60px; font-family: AccordAlternate, Arial, Helvetica, sans-serif;'>
    <img src='[#FrontEndUrl]/Content/themes/orange/img/mc-logo-sign-right-2x.png' height='60' style='float: left;' />
    <span style='font-size: 26px; vertical-align: middle;'>
        [#CalendarYear] Mastercard Marketing Calendar
    </span>
</div>