﻿<template id="accordion-template">
    <div class="sidebar filter stick">
        <p class="text-eyebrow">
            <span>@Resources.Offer.FilterBy:</span>
            <span class="clear" v-bind:class="{ 'inactive': !areFiltersBeingUsed }" id="clear-filter" role="button" v-on:click="clearFilters()">@Resources.Offer.Clear<span class="removeItem"><span class="screenReaderHiddenText">@Resources.Offer.Filter</span></span></span>
        </p>
        <div class="accordion">
            <div class="acc-item" v-bind:class="{ 'active': showSelectCategory }" v-show="categories.length > 0">
                <p aria-expanded="true" class="acc-label text-eyebrow" role="button" v-on:click="toggleSelectCategory()">
                    <span>@Resources.Offer.SelectCategory</span>
                </p>
                <div id="mc_sub_category_code" class="acc-content">
                    <div class="form-checkbox" v-for="category in categories">
                        <label role="checkbox" aria-checked="false" v-bind:class="{ checked: isCategorySelected(category.CategoryId) }">
                            <input type="checkbox" v-model="selectedCategories" v-bind:value="category.CategoryId">
                            {{ category.Title }}
                        </label>
                    </div>
                </div>
                <div class="hiddenDiv" style="display: none;"></div>
            </div>
            <div class="acc-item" v-bind:class="{ 'active': showSelectCardExclusivity }" v-show="cardexclusivities.length > 0">
                <p aria-expanded="true" class="acc-label text-eyebrow active" role="button" v-on:click="toggleSelectCardExclusivity()">
                    <span>@Resources.Offer.SelectCardExclusivity</span>
                </p>
                <div id="mc_product_code" class="acc-content">
                    <div class="form-checkbox" v-for="cardexclusivity in cardexclusivities">
                        <label role="checkbox" aria-checked="false" v-bind:class="{ checked: isCardExclusivitySelected(cardexclusivity.CardExclusivityId) }">
                            <input type="checkbox" v-model="selectedCardExclusivities" v-bind:value="cardexclusivity.CardExclusivityId">
                            {{ cardexclusivity.Title }}
                        </label>
                    </div>
                </div>
                <div class="hiddenDiv" style="display: none;"></div>
            </div>
            <div class="acc-item" v-bind:class="{ 'active': showSelectMarketApplicability }" v-show="showFilterMarketApplicability">
                <p aria-expanded="true" class="acc-label text-eyebrow active" role="button" v-on:click="toggleSelectMarketApplicability()">
                    <span>@Resources.Offer.SelectMarketApplicability</span>
                </p>
                <div id="mc_product_code" class="acc-content market-applicability">
                    <div class="form-checkbox" v-for="marketApplicability in marketApplicabilities">
                        <label role="checkbox" aria-checked="false" v-bind:class="{ checked: isMarketApplicabilitySelected(marketApplicability.MarketApplicabilityId) }">
                            <input type="checkbox" v-model="selectedMarketApplicabilities" v-bind:value="marketApplicability.MarketApplicabilityId">
                            {{ marketApplicability.Title }}
                        </label>
                    </div>
                </div>
                <div class="hiddenDiv" style="display: none;"></div>
            </div>
            <div class="acc-item" v-bind:class="{ 'active': showDateRange }">
                <p aria-expanded="true" class="acc-label text-eyebrow active" role="button" v-on:click="toggleDateRange()">
                    <span>@Resources.Offer.SelectDateRange</span>
                </p>
                <div id="acc-six" class="acc-content">
                    <mc-calendar-selector v-on:update="updateDates"></mc-calendar-selector>
                </div>
                <div class="hiddenDiv" style="display: none;"></div>
            </div>
        </div>
    </div>
</template>