﻿<template id="calendar-template">
    <div class="form-checkbox">
        <label for="checkbox24" aria-hidden="true" tabindex="-1" class="calendar-input form-control-md">
            <input type="checkbox" id="checkbox24" tabindex="-1" autocomplete="off">
            Please select a date
        </label>
        <div class="calendar-wrapper">
            <div class="calendar-header row">
                <div class="dropdowncontainer dropdown-md">
                    <span class="screenReaderHiddenText">Please select month from list</span>
                    <button tabindex="0" class="dropdown datepicker-month"
                            v-bind:class="{ 'active': showDropdownMonth}" v-on:click="showDropdownMonth=!showDropdownMonth; showDropdownYear=false;">
                        {{monthName}}
                    </button>
                    <div class="list-container" v-bind:class="{ 'show': showDropdownMonth}">
                        <ul role="menu" class="dropdownlist scrollab">
                            <li role="menuitem" class="monthList" tabindex="-1" v-on:click="changeMonth(0)">January</li>
                            <li role="menuitem" class="monthList" tabindex="-1" v-on:click="changeMonth(1)">February</li>
                            <li role="menuitem" class="monthList" tabindex="-1" v-on:click="changeMonth(2)">March</li>
                            <li role="menuitem" class="monthList" tabindex="-1" v-on:click="changeMonth(3)">April</li>
                            <li role="menuitem" class="monthList" tabindex="-1" v-on:click="changeMonth(4)">May</li>
                            <li role="menuitem" class="monthList" tabindex="-1" v-on:click="changeMonth(5)">June</li>
                            <li role="menuitem" class="monthList" tabindex="-1" v-on:click="changeMonth(6)">July</li>
                            <li role="menuitem" class="monthList" tabindex="-1" v-on:click="changeMonth(7)">August</li>
                            <li role="menuitem" class="monthList" tabindex="-1" v-on:click="changeMonth(8)">September</li>
                            <li role="menuitem" class="monthList" tabindex="-1" v-on:click="changeMonth(9)">October</li>
                            <li role="menuitem" class="monthList" tabindex="-1" v-on:click="changeMonth(10)">November</li>
                            <li role="menuitem" class="monthList" tabindex="-1" v-on:click="changeMonth(11)">December</li>
                        </ul>
                    </div>
                </div>
                <div class="dropdowncontainer dropdown-md">
                    <span id="year_elem" class="screenReaderHiddenText">Please select year from list</span>
                    <button tabindex="0" class="dropdown datepicker-year"
                            v-bind:class="{ 'active': showDropdownYear}" v-on:click="showDropdownYear=!showDropdownYear; showDropdownMonth=false;">
                        {{year}}
                    </button>
                    <div class="list-container" v-bind:class="{ 'show': showDropdownYear}">
                        <ul role="menu" class="dropdownlist scrollab">
                            <li role="menuitem" class="YearList" tabindex="-1" v-on:click="changeYear(2019)">2019</li>
                            <li role="menuitem" class="YearList" tabindex="-1" v-on:click="changeYear(2020)">2020</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="weekdays">
                    <span aria-hidden="true" v-for="day in days">{{day}}</span>
                </div>
                <div class="calendar-view">
                    <div class="date-div" v-for="blank in firstDayOfMonth">
                        <span class="disabled-date">&nbsp;</span>
                    </div>
                    <div class="date-div" v-for="date in daysInMonth"
                         v-bind:class="{ 'in-range': inRange(date), 'startRange': isRangeStart(date), 'endRange': isRangeEnd(date) }"
                         v-on:click="isValidDate(date) ? selectDate(date, this) : null">
                        <span :class="{ 'disabled-date': !isValidDate(date) }">{{date}}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>