﻿<template id="location-template">
    <select v-bind:data-placeholder="placeholder" v-bind:multiple="multiple" v-bind:disabled="disabled">
        <option v-for="option in localOptions" v-bind:value="option[trackBy]">
            {{ option[label] }}
        </option>
    </select>
</template>