﻿@model OfferDetailsViewModel
@using Mastercard.MarketingCenter.Services.Interfaces
@{
    Layout = "~/Views/Shared/_OfferLayout.cshtml";
}
@section Title {
    @Model.Offer.Title
}
@{var urlService = DependencyResolver.Current.GetService<IUrlService>();}
@{var settingsService = DependencyResolver.Current.GetService<ISettingsService>();}
<div class="content-container">
    <div id="offer-search" class="container-fluid container-guttered" role="main">
        <section>
            <div id="offer-details" class="offerdetails">
                <div class="offer-detail">
                    <div class="row">
                        <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                            <div class="cta-link-wrapper" display="block">
                                <a href="@Url.Action("Index")" class="bold cta-link-reverse js-offer-details-back">@Resources.Offer.Back.ToUpperInvariant()</a>
                            </div>
                            <div class="status"></div>
                            <h1 class="main-title">@Model.Offer.Title</h1>
                            <div id="preview-location-list" class="preview-locations" data-is-multiple="@(Model.Offer.EventLocations.Count > 1)" v-on:mouseover="showPreview = isMultiple" v-on:mouseout="showPreview = false">
                                <div id="location-list" class="location-word-break">
                                    @(string.Join(", ", Model.Offer.EventLocations.Select(e => e.Title)))
                                </div>
                                <transition name="mc-location-preview">
                                    <div class="mc-location-preview" v-show="showPreview" style="display: none;">
                                        <div class="mc-location-preview--container">
                                            <div class="mc-location-preview--header">
                                                <div class="mc-location-preview--icon"></div>
                                                <div class="mc-location-preview--text break-word">
                                                    @(string.Join(", ", Model.Offer.EventLocations.Select(e => e.Title)))
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </transition>
                            </div>
                            <h2 class="sub-title">@Html.RawWithSnippets(Model.Offer.ShortDescription)</h2>
                            @Html.Partial("CarouselSlide", Model.CarouselSlides)
                            <div class="offer-detail-content col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                @Html.RawWithSnippets(Model.Offer.LongDescription)
                            </div>
                            @if (Model.Offer.PricelessOffer && settingsService.GetPricelessOfferDescriptionEnabled())
                            {
                                <div class="offer-detail-content col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <p>
                                        @Resources.Offer.PricelessOfferDescription
                                    </p>
                                </div>
                            }
                            @if (!Model.Offer.TermsAndConditions.StripHtml().IsNullOrEmpty())
                            {
                                <div>
                                    <div class="offer-detail-sub-heading">@Html.Raw(Resources.Offer.TermsAndConditions)</div>
                                    <div class="offer-detail-content">
                                        @Html.RawWithSnippets(Model.Offer.TermsAndConditions)
                                    </div>
                                </div>
                            }
                        </div>
                        <div class="offer-detail-sidebar col-md-offset-1 col-lg-3 col-md-3 col-sm-12 col-xs-12">
                            <div class="offer-location col-md-12 col-lg-12 col-sm-12">
                                <div class="cta-link-wrapper col-md-5 col-sm-5 col-lg-12" display="block"></div>
                            </div>
                            @if (!Model.Offer.Evergreen || Model.Offer.BookByDate.HasValue)
                            {
                                <div class="offer-information-list box col-lg-12  col-md-12  col-sm-12  col-xs-12">
                                    <div class="offer-detail-sub-heading">
                                        @Resources.Offer.Dates
                                    </div>
                                    <div class="duration-from-to-bookBy">
                                        @if (!Model.Offer.Evergreen)
                                        {
                                            <div><strong>@Resources.Offer.From:&nbsp;</strong>@Model.Offer.ValidityPeriodFromDate.Value.ToShortDateString()</div>
                                            <div><strong>@Resources.Offer.To:&nbsp;</strong>@Model.Offer.ValidityPeriodToDate.Value.ToShortDateString()</div>
                                        }
                                        @if (Model.Offer.BookByDate.HasValue)
                                        {
                                            <div><strong><span class="book-label">@Resources.Offer.BookBy:&nbsp;</span></strong><span class="book-date">@Model.Offer.BookByDate.Value.ToShortDateString()</span></div>
                                        }
                                    </div>
                                </div>
                            }
                            @if (!string.IsNullOrWhiteSpace(Model.Offer.OfferType))
                            {
                                <div class="offer-information-list box col-lg-12  col-md-12  col-sm-12  col-xs-12">
                                    <div class="offer-detail-sub-heading">
                                        @Resources.Offer.Source
                                    </div>
                                    <div class="duration-from-to-bookBy">
                                        <span>@Model.Offer.OfferType</span>
                                    </div>
                                </div>
                            }
                            @if (Model.Offer.Categories.Any())
                            {
                                <div class="offer-information-list box col-lg-12  col-md-12  col-sm-12  col-xs-12">
                                    <div class="offer-detail-sub-heading">
                                        @Resources.Offer.Categories
                                    </div>
                                    <ul class="key-tags">
                                        @foreach (var category in Model.Offer.Categories.OrderBy(c => c.Title))
                                        {
                                            <li>
                                                <img width="32" height="32" src="@Url.ImageUrl(category.Image, 128, 128)" alt="@category.Title">
                                                <span>@category.Title</span>
                                            </li>
                                        }
                                    </ul>
                                </div>
                            }
                            @if (Model.Offer.CardExclusivities.Any())
                            {
                                <div class="offer-information-list box col-lg-12  col-md-12  col-sm-12  col-xs-12">
                                    <div class="offer-detail-sub-heading">
                                        @Resources.Offer.AvailableTo
                                    </div>
                                    <ul class="key-tags">
                                        @foreach (var cardExclusivity in Model.Offer.CardExclusivities.OrderBy(ce => ce.Title))
                                        {
                                            <li>
                                                @{ var cardImagePath = cardExclusivity.Image.IsNullOrEmpty() ? "data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAARklEQVRYhe3SMQ4AIAhD0eqtuP/AsXQ3ONhoXP4bSSgdkAAA+Kw5SxEhSWPNyszjrO4UKI7vZs8KXEMBt0D1vNZDAwDw3QQ/fAYMZJtnSAAAAABJRU5ErkJggg==" : urlService.GetStaticImageURL(cardExclusivity.Image, 48, 32, false, 95, false);}
                                                <img width="48" height="32" src="@cardImagePath" alt="@cardExclusivity.Title" />
                                                <span>@cardExclusivity.Title</span>
                                            </li>
                                        }
                                    </ul>
                                </div>
                            }
                            @if (!Model.Offer.Evergreen || Model.Offer.BookByDate.HasValue || Model.Offer.Attachments.Any() || Model.Offer.DownloadFile.DownloadableFileExists || Model.DownloadImages.Any() || Model.Offer.ShowProductUrl)
                            {
                                <div class="download-review-list box col-lg-12  col-md-12  col-sm-12  col-xs-12">
                                    <div class="offer-detail-sub-heading" id="download-review">
                                        @Resources.Shared.DownloadAndReview
                                    </div>
                                    @if (Model.Offer.Attachments.Any() || Model.DownloadImages.Any())
                                    {
                                        <ul class="files-list reset">
                                            @foreach (var attachment in Model.Offer.Attachments)
                                            {
                                                <li class="break-all">
                                                    @if (Model.Offer.PreviewFiles)
                                                    {
                                                        @Html.Partial("PreviewFile", Html.GetAttachmentPreviewFile(attachment))
                                                    }
                                                    else
                                                    {
                                                        @Html.Partial("Attachment", attachment)
                                                    }
                                                </li>
                                            }
                                            @foreach (var downloadImage in Model.DownloadImages)
                                            {
                                                if (!string.IsNullOrWhiteSpace(downloadImage.ImageUrl))
                                                {
                                                    <li class="break-all">
                                                        @if (Model.Offer.PreviewFiles)
                                                        {
                                                            @Html.Partial("PreviewFile", Html.GetDownloadImagePreviewFile(downloadImage))
                                                        }
                                                        else
                                                        {
                                                            @Html.Partial("DownloadImage", downloadImage)
                                                        }
                                                    </li>
                                                }
                                            }
                                        </ul>
                                    }
                                    @if (Model.Offer.DownloadFile.DownloadableFileExists)
                                    {
                                        if (Model.Offer.PreviewFiles)
                                        {
                                            @Html.Partial("PreviewFile", Html.GetDownloadFilePreviewFile(Model.Offer.DownloadFile))
                                        }
                                        else
                                        {
                                            @Html.Partial("DownloadFile", Model.Offer.DownloadFile)
                                        }
                                    }
                                    @if (Model.Offer.ShowProductUrl)
                                    {
                                        <a href="@Model.Offer.ProductUrl" class="btn" target="_blank">
                                            @Resources.Offer.ViewExperience
                                        </a>
                                    }
                                </div>
                            }
                        </div>
                    </div>
                    @Html.Action("RelatedOffers", "Offer", new { relatedItems = string.Join(",", Model.Offer.RelatedItems.Select(ri => ri.RelatedContentItemId)) })
                </div>
            </div>
        </section>
    </div>
</div>
@System.Web.Optimization.Scripts.Render(DependencyResolver.Current.GetService<IUrlService>().GetStaticOfferDetailsJs())