﻿@using CommonConstants = Mastercard.MarketingCenter.Common.Infrastructure.Constants;
@using Mastercard.MarketingCenter.Services.Interfaces;
@using System.Web.Mvc;
@{
    Layout = "~/Views/Shared/_OfferLayout.cshtml";
}
@section Title {
    @Resources.Offer.MerchantOffers
}
<div class="content-container">
    <div id="offer-search" class="container-fluid container-guttered" role="main">
        <div class="offer-search">
            <h1 class="main-title">@Resources.Offer.Header</h1>
            <h2 class="sub-title">@Resources.Offer.SubHeader</h2>
        </div>
        <div id="location-selector" class="location-selector">
            <div class="offer-filter offer-teaser no-result">
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <form action="">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="search-subtitle-dropdown" v-bind:class="{ 'col-lg-6 col-md-6 col-sm-6 col-xs-6 padding-right-10' : showEventLocationFilter() }">
                                <span class="search-icon" title="@Resources.Offer.Search.ToLowerInvariant()"></span>
                                <input id="keyword-searchbox" type="text" class="typeahead" v-model="filters.text" v-on:keydown.enter.prevent="doSearch" placeholder="@Resources.Offer.Search @Resources.Offer.Offers" aria-expanded="true" autocomplete="off" />
                                <ul class="filtered-list keywordbox">
                                    <li aria-label="" role="option">
                                        <a><span></span></a>
                                    </li>
                                </ul>
                                <button class="close-icon" type="button">
                                    <span class="screenReaderHiddenText">@Resources.Offer.Close.ToLowerInvariant()</span>
                                </button>
                            </div>
                            <div class="location-dropdown col-lg-6 col-md-6 col-sm-6 col-xs-6 padding-left-10" v-show="showEventLocationFilter()">
                                <span class="world-icon" title="@Resources.Offer.Search.ToLowerInvariant()"></span>
                                <location-filter class="typeahead" ref="locationFilter" v-model="selectedEventLocations" url="@Url.Action("EventLocationFilter", "Offer", null, Request.Url.Scheme)" track-by="EventLocationId" label="Title" placeholder="@Resources.Offer.AllLocations"></location-filter>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div id="offer-filter" class="search-wrapper" v-bind:class="{ loading: isLoading }">
            <accordion-filter url="@Url.Action("Filters", "Offer", null, Request.Url.Scheme)" v-on:update="updateFilters"></accordion-filter>
            <div class="content">
                <div class="offer-info-bar searchinfobar">
                    <div class="offer-infobar">
                        <p class="offers-info">
                            <span aria-live="polite">
                                <span class="showing">@Resources.Offer.Showing</span>
                                <span class="offer-cnt">{{ offersQuantity }}</span>
                                <span class="offers">@Resources.Offer.Offers.ToLowerInvariant()</span>
                            </span>
                            <span class="sorting-wrapper">
                                <span class="sortBy" id="label_sorting" aria-label="@Resources.Offer.Offers @Resources.Offer.SortBy" role="listbox">
                                    @Resources.Offer.SortBy:
                                    <strong v-show="filters.sortBy==='@CommonConstants.OfferOrderOption.Alphabetically'">@Resources.Offer.Alphabetically</strong>
                                    <strong v-show="filters.sortBy==='@CommonConstants.OfferOrderOption.Newest'">@Resources.Offer.Newest</strong>
                                    <strong v-show="filters.sortBy==='@CommonConstants.OfferOrderOption.EndingSoon'">@Resources.Offer.EndingSoon</strong>
                                    <span class="down-arrow"></span>
                                </span>
                                <span class="sortOptions">
                                    <span v-bind:class="{ selected: filters.sortBy==='@CommonConstants.OfferOrderOption.Alphabetically' }" v-on:click="updateSortBy('@CommonConstants.OfferOrderOption.Alphabetically', '@CommonConstants.OfferOrderDirection.Ascendant')">@Resources.Offer.Alphabetically</span>
                                    <span v-bind:class="{ selected: filters.sortBy==='@CommonConstants.OfferOrderOption.Newest' }" v-on:click="updateSortBy('@CommonConstants.OfferOrderOption.Newest', '@CommonConstants.OfferOrderDirection.Descendant')">@Resources.Offer.Newest</span>
                                    <span v-bind:class="{ selected: filters.sortBy==='@CommonConstants.OfferOrderOption.EndingSoon' }" v-on:click="updateSortBy('@CommonConstants.OfferOrderOption.EndingSoon', '@CommonConstants.OfferOrderDirection.Ascendant')">@Resources.Offer.EndingSoon</span>
                                </span>
                            </span>
                        </p>
                        <div class="sort-wrapper" style="display: none;">
                            <p class="sort-label">@Resources.Offer.SortBy</p>
                            <form name="sortbyForm">
                                <ul role="radiogroup" aria-labelledby="label_sorting" aria-activedescendant="list1">
                                    <li id="list1" role="option" aria-label="Newest checked" aria-checked="true">
                                        <input type="radio" name="sort" value="ascending" id="ascending" checked="checked">
                                        <label for="ascending">@Resources.Offer.Newest</label>
                                    </li>
                                    <li id="list2" role="option" aria-checked="false">
                                        <input type="radio" name="sort" value="descending" id="descending">
                                        <label for="descending">@Resources.Offer.ExpiringSoon</label>
                                    </li>
                                </ul>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="offer-grid">
                    <div class="offer-teaser offer-filter four-grid">
                        <div class="grid-container offer-grid-inventory">
                            <div v-for="offer in items" class="offer-tile">
                                <a class="offer-detail offer-teaser no-style-anchor" :href="offer.DetailsUrl">
                                    <span class="screenReaderHiddenText">@Resources.Offer.Title</span>
                                    <p class="text-eyebrow no-status"></p>
                                    <div class="offer-image">
                                        <img aria-hidden="true" class="img-fluid" :src="offer.ImageUrl" :alt="offer.Title" />
                                    </div>
                                    <div class="offer-content">
                                        <h3 aria-hidden="true">{{ offer.Title }}</h3>
                                        <div aria-hidden="true" class="short-desc" :title="offer.ShortDescription | stripHtml" v-html="htmlEllipsisFromLetters(offer.ShortDescription, 185)"></div>
                                        <p aria-hidden="true" class="inactive" v-show="offer.OfferType">
                                            @Resources.Offer.Source: {{ offer.OfferType }}
                                        </p>
                                        <p aria-hidden="true" class="inactive">
                                            {{ showLocations(offer.EventLocations) | ellipsisFromLetters(95) }}
                                        </p>
                                        <p class="cta-link-wrapper">
                                            <a class="cta-link single-link" :title="offer.Title" :href="offer.DetailsUrl">
                                                <span aria-hidden="true" class="sr-only screenReaderHiddenText">@Resources.Offer.LinkToOffer</span>
                                            </a>
                                        </p>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="overlay"></div>
        </div>
    </div>
</div>

@Html.Partial("_AccordionFilter")
@Html.Partial("_CalendarFilter")
@Html.Partial("_LocationFilter")
@System.Web.Optimization.Scripts.Render(DependencyResolver.Current.GetService<IUrlService>().GetStaticOfferJs())
<script>
    initializeOfferList('@Url.Action("List", "Offer")');
    String.prototype.dotdotdot = function (len) {
        if (this.length > len) {
            var temp = this.substr(0, len);
            temp = $.trim(temp);
            temp = temp + "...";
            return temp;
        }
        else
            return $.trim(this);
    };
</script>