﻿@using System.Web.Mvc;
@{
    Layout = "~/Views/Shared/_OfferLayout.cshtml";
}
@section Title {
    Refresh Priceless Offers
}
<div class="content-container">
    @using (Html.BeginForm("RefreshPricelessOffers", "Offer", null, FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <header class="header-section header-first-section cold-colors content-spaces-in tac">
            <h1>Refresh Priceless Offers</h1>
        </header>
        <div class="content-container content-spaces-in spaces-vertical-in form">
            @Html.AntiForgeryToken()

            <div class="form-group">
                <input type="file" id="csvFile" name="csvFile" accept=".csv" />
            </div>

            <div class="form-group">
                <button type="submit" class="btn" href="javascript:void(0);">REFRESH PRICELESS OFFERS</button>
            </div>

            @if (!ViewData.ModelState.IsValid)
            {
                var errors = ViewData.ModelState.SelectMany(o => o.Value.Errors);
                foreach (var error in errors)
                {
                    <div class="alert alert-warning" role="alert">
                        @Html.Raw(error.ErrorMessage)
                    </div>
                }
            }
        </div>
    }
</div>