﻿@model RelatedContentItemsList
@if (Model != null && Model.RelatedContentItems != null && Model.RelatedContentItems.Any())
{
    <div class="offer-slide">
        <div class="offer-slider--title">
            <p class="offer-detail-sub-heading-interested">@Resources.Offer.RelatedOffers</p>
        </div>
        <div class="offer-slide--container">
            <div class="offer-slide--list">
                @foreach (var item in Model.RelatedContentItems.OrderBy(i => i.Title))
                {
                    <div class="offer-slide--list-item offer-tile" title="@Html.RawWithSnippets(item.Title)">
                        <a href="@(item.ResourceUrl + "?trackingType=related-item")">
                            <div class="offer-image">
                                <img aria-hidden="true" class="img-fluid" src="@Url.ImageUrl(item.MainImageUrl, 262, 160)" alt="@Html.RawWithSnippets(item.Title)">
                            </div>
                            <div class="offer-content">
                                <h5 aria-hidden="true">@Html.RawWithSnippets(item.Title)</h5>
                                <p aria-hidden="true" class="short-desc">@Html.Raw(item.Summary.StripHtml())</p>
                            </div>
                        </a>
                    </div>
                }
            </div>
        </div>
        <div class="offer-slide--dots"></div>
        <div class="offer-slide--previous-link"></div>
        <div class="offer-slide--next-link"></div>
    </div>
}
<script>
    $(document).ready(function () {
        $('.offer-slide').each(function () {
            var $control = $(this);
            var $container = $control.find('.offer-slide--list');
            var $items = $control.find('.offer-slide--list-item');
            var $dots = $control.find('.offer-slide--dots');

            var pages = 1;
            var current = 0;
            var items_per_page = 4;

            function initialize() {
                if (screen.width < 738) {
                    items_per_page = 1;
                } else if (screen.width < 1056) {
                    items_per_page = 2;
                } else if (screen.width < 1439) {
                    items_per_page = 3;
                } else {
                    items_per_page = 4;
                }
                pages = Math.floor($items.length / items_per_page) + ($items.length % items_per_page ? 1 : 0);
                current = 0;

                $dots.html('');
                $control.removeClass('no-arrows');
                if (pages > 1) {
                    for (var i = 0; i < pages; i++) {
                        $dots.append('<span class="offer-slide--dots-item" data-index="' + i + '"></span>');
                    }
                    $dots.find('.offer-slide--dots-item').click(function () {
                        pageGoTo($(this).data('index'));
                    });
                    updateActives();
                    pageGoTo(0);
                } else {
                    $control.addClass('no-arrows');
                }
            }

            $(window).on('resize', function () {
                initialize();
            });

            function updateActives() {
                $dots.find('.offer-slide--dots-item').removeClass('active');
                $dots.find('.offer-slide--dots-item').eq(current).addClass('active');
            }

            function pageGoTo(index) {
                if (index < pages && index >= 0) {
                    current = index;

                    var x = current * 100;

                    $container.css({ 'transform': 'translateX(-' + x + '%)' });
                    updateActives();
                }
            }

            $control.find('.offer-slide--next-link').click(function () {
                pageGoTo(current + 1);
            });

            $control.find('.offer-slide--previous-link').click(function () {
                pageGoTo(current - 1);
            });

            initialize();
        });
    });
</script>