﻿@using Mastercard.MarketingCenter.Services;
@model EventLocationModel
@Html.HiddenFor(o => o.EventLocationId)

@Html.Partial("_ErrorAlert")
@using (Html.BeginFormGroup(o => o.Title))
{
    <div class="form-group">
        <label class="col-md-3 control-label">Title <span class="req-mark">*</span></label>
        <div class="col-md-6">@Html.TextBoxFor(o => o.Title, new { @class = "form-control" })</div>
    </div>
}
@using (Html.BeginFormGroup(o => o.PricelessEventCity))
{
    if (User.IsInPermission(Mastercard.MarketingCenter.Common.Infrastructure.Constants.Permissions.CanManagePricelessOffers))
    {
        <div class="form-group">
            <label class="col-md-3 control-label">Priceless Event City</label>
            <div class="col-md-6">@Html.TextBoxFor(o => o.PricelessEventCity, new { @class = "form-control" })</div>
        </div>
    }
}