﻿@model EventLocationModel

@section HeaderTitle
{
    Create new Event Location
}

<div class="ibox-content">
    @using (Html.BeginForm("Create", "EventLocation", FormMethod.Post, new { @class = "form-horizontal" }))
    {
        @Html.AntiForgeryToken()
        @Html.Partial("_EventLocationFieldPartial", Model)
        <hr />
        <div class="form-group">
            <div class="col-md-6 col-md-offset-3">
                @Html.ActionLink("Cancel", "EventLocationManager", "EventLocation", null, new { @class = "btn btn-white" })
                <button class="btn btn-primary" type="submit">Create</button>
            </div>
        </div>
    }
</div>