﻿@model Mastercard.MarketingCenter.Services.Models.EventLocationTreeNode
@section HeaderTitle
{
    <h2><em class="fa fa-bar-chart"></em>&nbsp;Event Location Manager</h2>
}
<div class="ibox-content event-location-manager">
    <div style="width: 600px" id="eventLocationManager" class="eventLocationManager">
        @Html.BuildEventLocationManager(Model)
    </div>
</div>
<div id="eventLocationActions" class="dropdown" style="position: absolute;">
    <ul class="dropdown-menu" id="eventLocationMenu" role="menu" aria-labelledby="dropdownMenu1">
        <li role="presentation"><a role="menuitem" tabindex="-1" href="#" class="add-event-location" id="newEventLocation">Add new Location</a></li>
        <li role="presentation"><a role="menuitem" tabindex="-1" href="#" id="editEventLocation">Edit Location</a></li>
        <li role="presentation"><a role="menuitem" tabindex="-1" href="#" id="deleteEventLocation">Delete Location</a></li>
    </ul>
</div>
<input type="hidden" id="eventLocationId" name="eventLocationId" />
<input type="hidden" id="isRoot" name="isRoot" />
<script>
    $(document).ready(function () {
        OpenRootNode();
        var invalidateRedirect = '@Url.Action("EventLocationManager", new { invalidateEventLocationTree = true })';
        var cleanRedirect = '@Url.Action("Delete")';

        var captureMouse = true;
        var mouseX;
        var mouseY;

        mousemoveHandler = function (e) {
            mouseX = e.pageX;
            mouseY = e.pageY;
        };

        $(document).mousemove(mousemoveHandler);

        $("#eventLocationManager").mouseover(function () {
            if (captureMouse) {
                $('#eventLocationActions').css({ 'top': mouseY - 180, 'left': mouseX - 190 }).fadeIn('slow');
            }
        });

        $("span[class=name]").mousedown(function (e) {
            if (e.button == 2) {
                $("#eventLocationMenu").hide();

                $(document).one('contextmenu', function (e) { // Not compatible with IE < 9
                    e.preventDefault();
                    return false;
                }, false);
                $(document).off('mousemove');
                captureMouse = false;
                $("#eventLocationId").val($(this).data("id"));
                $("#isRoot").val($(this).data("isroot"));
                $("#eventLocationMenu").show();

                return false;
            }
            return true;
        });

        $("span[class=name]").mouseup(function (e) {
            if (e.button == 2) {
                captureMouse = false;
                return false;
            }
            return true;
        });

        $(document).click(function (e) {
            if (e.button != 2) {
                $("#eventLocationMenu").hide();
                $(document).off('contextmenu');
                $(document).mousemove(mousemoveHandler);
            }
            captureMouse = true;
            return true;
        });

        $(".add-event-location").click(function (e) {
            var id = $("#eventLocationId").val();
            window.location = '@Url.Action("Create", "EventLocation")' + '?id=' + id;
        });

        $("#editEventLocation").click(function (e) {
            var id = $("#eventLocationId").val();
            window.location = '@Url.Action("Update", "EventLocation")/' + id;
        });

        $("#deleteEventLocation").click(function (e) {
            var mainChild = $('span').find("[data-isroot='True']");
            var id = $("#eventLocationId").val();

            var isRoot = $("#isRoot").val();
            if (isRoot && mainChild.data('id') == id) {
                alert("Cannot remove the root event location tree.");
            }
            else {
                $.post('@Url.Action("Delete", "EventLocation")', { eventLocationId: id, isValidating: true }).done(function (data) {
                    if (data.ok) {
                        window.location = cleanRedirect;
                    }
                    else if (data.eventLocationName) {
                        ShowDeleteConfirmationPopup(data.eventLocationName, id);
                    }
                    else {
                        ShowLocationsInUsePopup(data.locationsInUse);
                    }
                }, "json").fail(function () { alert("Something fail, please contact an administrator."); });
            }
        });

        function OpenRootNode() {
            $(".root-node").click();
        }

        function RemoveNode(id) {
            $.post('@Url.Action("Delete", "EventLocation")', { eventLocationId: id, isValidating: false }).done(function (data) {
                    if (data.ok) {
                        window.location = invalidateRedirect;
                    }
                }, "json").fail(function () { alert("Something fail, please contact an administrator."); });
        }

        function ShowDeleteConfirmationPopup(eventLocationName, id) {
            if (confirm('You \'re about to delete ' + eventLocationName + ' and all of it\'s child items. Are you sure you want to continue?')) {
                RemoveNode(id);
            }
        }

        function ShowLocationsInUsePopup(locationsInUse) {
            var concatenatedLocations = locationsInUse.join(",");

            if (locationsInUse.length > 1) {
                alert(concatenatedLocations + " are currently in use and can't be deleted. Please remove them from all Offers before deletion");
            }
            else {
                alert(concatenatedLocations + " is currently in use and can't be deleted. Please remove them from all Offers before deletion");
            }
        }
    });
</script>