﻿@model EventLocationModel

@section HeaderTitle
{
    Edit Event Location
}

<div class="ibox-content">
    @using (Html.BeginForm("Update", "EventLocation", FormMethod.Post, new { @class = "form-horizontal" }))
    {
        @Html.AntiForgeryToken()
        @Html.Partial("_EventLocationFieldPartial", Model)
        <hr />
        <div class="form-group">
            <div class="col-md-6 col-sm-offset-3">
                @Html.ActionLink("Cancel", "EventLocationManager", "EventLocation", null, new { @class = "btn btn-white" })
                <button class="btn btn-primary" type="submit">Update</button>
            </div>
        </div>
    }
</div>