@font-face {
	font-family: 'FontAwesome';
	src: url(/admin/Content/css/BusinessOwner/common/fonts/fontawesome-webfont.eot?v=4.4.0);
	src: url(/admin/Content/css/BusinessOwner/common/fonts/fontawesome-webfont.eot?#iefix&v=4.4.0) format("embedded-opentype"), url(/admin/Content/css/BusinessOwner/common/fonts/fontawesome-webfont.woff?v=4.4.0) format("woff"), url(/admin/Content/css/BusinessOwner/common/fonts/fontawesome-webfont.ttf?v=4.4.0) format("truetype"), url(/admin/Content/css/BusinessOwner/common/fonts/fontawesome-webfont.svg?v=4.4.0#fontawesomeregular) format("svg");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "Accord Alternate";
	src: url(/admin/Content/css/BusinessOwner/common/fonts/AccordAlternate-Thin.eot);
	src: url(/admin/Content/css/BusinessOwner/common/fonts/AccordAlternate-Thin.eot?#iefix) format("embedded-opentype"), url(/admin/Content/css/BusinessOwner/common/fonts/AccordAlternate-Thin.woff) format("woff"), url(/admin/Content/css/BusinessOwner/common/fonts/AccordAlternate-Thin.ttf) format("truetype");
	font-style: normal;
	font-weight: 100;
}

@font-face {
	font-family: "Accord Alternate";
	src: url(/admin/Content/css/BusinessOwner/common/fonts/AccordAlternate-Bold.eot);
	src: url(/admin/Content/css/BusinessOwner/common/fonts/AccordAlternate-Bold.eot?#iefix) format("embedded-opentype"), url(/admin/Content/css/BusinessOwner/common/fonts/AccordAlternate-Bold.woff) format("woff"), url(/admin/Content/css/BusinessOwner/common/fonts/AccordAlternate-Bold.ttf) format("truetype");
	font-style: normal;
	font-weight: 700;
}

@font-face {
	font-family: "Accord Alternate";
	src: url(/admin/Content/css/BusinessOwner/common/fonts/AccordAlternate-Light.eot);
	src: url(/admin/Content/css/BusinessOwner/common/fonts/AccordAlternate-Light.eot?#iefix) format("embedded-opentype"), url(/admin/Content/css/BusinessOwner/common/fonts/AccordAlternate-Light.woff) format("woff"), url(/admin/Content/css/BusinessOwner/common/fonts/AccordAlternate-Light.ttf) format("truetype");
	font-style: normal;
	font-weight: 300;
}

@font-face {
	font-family: AccordAlternateBold;
	src: url(/admin/Content/css/BusinessOwner/common/fonts/AccordAlternate-Bold.eot);
	font-weight: 700;
}

@font-face {
	font-family: AccordAlternateLight;
	src: url(/admin/Content/css/BusinessOwner/common/fonts/AccordAlternate-Light.eot);
	font-weight: normal;
}

@font-face {
	font-family: AccordAlternateThin;
	src: url(/admin/Content/css/BusinessOwner/common/fonts/AccordAlternate-Thin.eot);
	font-weight: 100;
}

@font-face {
	font-family: "UniNeue";
	src: url(/admin/Content/css/BusinessOwner/common/fonts/UniNeueRegular.otf);
	font-weight: normal;
	line-height: normal;
	font-style: normal;
	font-stretch: normal;
}
