﻿@model MasterCardResourcesViewModel
@using Mastercard.MarketingCenter.Common.Extensions

@section Title {
    @Model.Page.Title.StripHtml()
}

@section Breadcrumb {
    <nav class="breadcrumbs grid-spaces-in">
        <a href="/portal" class="path" tracking-type="breadcrumb">Home</a>
        <span>@Model.Page.Title.StripHtml()</span>
    </nav>

    @if (Model.Page.EnableFavoriting)
    {
        Html.RenderAction("Subscription", "Profile", new { contentItemId = Model.Page.ContentItemId });
    }
}

<div class="content-container">
    <header class="content-header content-spaces-out intro">
        <div class="row">
            <div class="col-sm-12">
                @Html.RawWithSnippets(Model.Page.IntroCopy)
            </div>
        </div>
    </header>
    <hr />
</div>

<section class="page-section boxes-section cold-colors content-spaces-in invisible" id="related-content-boxes">
    <h1 class="section-header">@Resources.Shared.RelatedContent</h1>
    <div class="boxes-slider bigger buttoned">
        @{ Html.RenderAction("Snippet", "Snippet", new { handle = "webinars-box" }); }
        @{ Html.RenderAction("Snippet", "Snippet", new { handle = "marketing-calendar-box" }); }
    </div>
</section>