﻿@model PageViewModel
@using Mastercard.MarketingCenter.Web.Core
@using Mastercard.MarketingCenter.Common.Extensions

@section Title {
    @Model.Page.Title.StripHtml()
}
@section sectionHead {
    <script src="/portal/content/themes/orange/libs/jquery-ui.dialog.min.js" language=javascript type="text/javascript"></script>
}
@section Breadcrumb {
    <nav class="breadcrumbs grid-spaces-in">
        <a href="/portal" class="path" tracking-type="breadcrumb">Home</a>
        <span>@Model.Page.Title</span>
    </nav>

    @if (Model.Page.EnableFavoriting)
    {
        Html.RenderAction("Subscription", "Profile", new { contentItemId = Model.Page.ContentItemId });
    }
}
<!-- Page  -->
@* header illustration with short text on it *@
@if (!string.IsNullOrEmpty(@Model.Page.HeaderTitle) || !string.IsNullOrEmpty(@Model.Page.HeaderParagraph) && @Model.Page.HeaderParagraph != "<p><br></p>")
{
    <div class="page-section carousel-section slides-section">
        <div class="carousel pausing-carousel @if (!string.IsNullOrEmpty(Model.Page.HeaderBackgroundImage)) { <text>illustration</text>  }">
            <section class="carousel-slide @if (!string.IsNullOrEmpty(Model.Page.HeaderBackgroundImage)){ <text>covered</text> }">
                @if (!string.IsNullOrEmpty(Model.Page.HeaderBackgroundImage))
                {
                    <img src="@Url.ImageUrl(Model.Page.HeaderBackgroundImage, 1400, 470, false)"
                         srcset="@Url.ImageUrl(Model.Page.HeaderBackgroundImage, 1400, 470, false) 1400w,
                                 @Url.ImageUrl(Model.Page.HeaderBackgroundImage, 960, 320, false) 960w,
                                 @Url.ImageUrl(Model.Page.HeaderBackgroundImage, 768, 320, true) 768w,
                                 @Url.ImageUrl(Model.Page.HeaderBackgroundImage, 480, 320, true) 480w"
                         sizes="(max-width: 480px) 480px,
                                (max-width: 768px) 768px,
                                (max-width: 960px) 960px,
                                (min-width: 961px) 1400px,
                                100vw"
                         width="1400" height="468" class="cover-image" alt="@Model.Page.HeaderTitle" />
                }
                @* header info WITH aside image *@
                @if (!string.IsNullOrEmpty(Model.Page.HeaderAsideImage))
                {
                    <div class="slick-inner slick-img-text content-spaces-in">
                        <div class="row">
                            <div class="col-sm-4 image">
                                <img class="img-responsive" src="@Url.ImageUrl(Model.Page.HeaderAsideImage, 350, 300, false, 95)" alt="@Model.Page.HeaderTitle">
                            </div>
                            <div class="col-sm-8 text">
                                <h1>@Html.RawWithSnippets(Model.Page.HeaderTitle.StripHtml())</h1>
                                @Html.Raw(@Model.Page.HeaderParagraph)
                                @if (!string.IsNullOrEmpty(@Model.Page.HeaderUrl))
                                {
                                    <p class="tac"><a href="@Model.Page.HeaderUrl" target="_blank" class="action-btn" title="@Model.Page.HeaderTitle">@Resources.Shared.LearnMore</a></p>
                                }
                            </div>
                        </div>
                    </div>
                }
                @* header info WITHOUT aside image *@
                else
                {
                    <div class="slick-inner content-spaces-in">
                        <h1>@Model.Page.HeaderTitle.StripHtml()</h1>
                        @Html.Raw(@Model.Page.HeaderParagraph)
                        @if (!string.IsNullOrEmpty(@Model.Page.HeaderUrl))
                        {
                            <p class="tac"><a href="@Model.Page.HeaderUrl" target="_blank" class="action-btn" title="@Model.Page.HeaderTitle">@Resources.Shared.LearnMore</a></p>
                        }
                    </div>
                }
            </section>
        </div>
    </div>
}
@* if no header content but there is title -- show title in header box *@
@if (!string.IsNullOrEmpty(@Model.Page.Title) && string.IsNullOrEmpty(@Model.Page.HeaderTitle) && (string.IsNullOrEmpty(@Model.Page.HeaderParagraph) || @Model.Page.HeaderParagraph == "<p><br></p>"))
{
    <header class="header-section header-first-section cold-colors content-spaces-in tac">
        <div class="inner">
            <h1>@Html.RawWithSnippets(Model.Page.Title.StripHtml())</h1>
            @* short description *@
            @if (!string.IsNullOrEmpty(@Model.Page.ShortDescription) && @Model.Page.ShortDescription != "<p><br></p>")
            {
                @Html.RawWithSnippets(Model.Page.ShortDescription)
            }
        </div>
    </header>
}

@* page intro (No content margins, full width) *@
@if (!string.IsNullOrEmpty(@Model.Page.IntroCopy) && @Model.Page.IntroCopy != "<p><br></p>")
{
    //if aside content is set and there is content in intro -- group them in article + aside structure
    if (!string.IsNullOrEmpty(@Model.Page.AsideContent) && @Model.Page.AsideContent != "<p><br></p>")
    {
        <div class="content-container content-spaces-in">
            <div class="content-text">
                <div class="row">
                    <article class="col-sm-7">
                        @Html.RawWithSnippets(@Model.Page.IntroCopy)
                    </article>
                    <aside class="col-sm-4 col-sm-offset-1">
                        @Html.RawWithSnippets(@Model.Page.AsideContent)
                    </aside>
                </div>
            </div>
        </div>
    }
    // else show only plain intro full-width
    else
    {
        <section class="content-container spaces-vertical-in cf">
            @Html.RawWithSnippets(@Model.Page.IntroCopy)
        </section>
    }
}
@if (!string.IsNullOrEmpty(Model.Page.BottomTitle) || (!string.IsNullOrEmpty(@Model.Page.BottomParagraph) && @Model.Page.BottomParagraph != "<p><br></p>"))
{
    @* footer info WITH aside image *@
    if (!string.IsNullOrEmpty(@Model.Page.BottomAsideImage))
    {
        <section class="image-text-section content-spaces-in" @if (!string.IsNullOrEmpty(Model.Page.BottomBackgroundImage)) { <text> style="background-image: url(@Url.ImageUrl(Model.Page.BottomBackgroundImage, 1400, 468, false, 95));" </text> }>
            <div class="inner">
                <h1 class="h2">@Html.RawWithSnippets(Model.Page.BottomTitle.StripHtml())</h1>
                <div class="row">
                    <div class="image col-sm-6 col-md-5 col-lg-4">
                        <img class="img-responsive" src="@Url.ImageUrl(Model.Page.BottomAsideImage, 350, 300, false, 95)" alt="@Html.RawWithSnippets(Model.Page.BottomTitle.StripHtml())" />
                    </div>
                    <div class="text col-sm-6">
                        @Html.Raw(@Model.Page.BottomParagraph)
                        @if (!string.IsNullOrEmpty(@Model.Page.BottomUrl))
                        {
                            <p><a class="btn" target="_blank" href="@Model.Page.BottomUrl" title="@Model.Page.BottomTitle">@Resources.Shared.LearnMore</a></p>
                        }
                    </div>
                </div>
            </div>
        </section>
    }
    @* footer info section WITHOUT aside image *@
    else
    {
        <section class="hot-section single-message-section content-spaces-in" @if (!string.IsNullOrEmpty(Model.Page.BottomBackgroundImage)) { <text> style="background-image: url(@Url.ImageUrl(Model.Page.BottomBackgroundImage, 1400, 468, false, 95));" </text> }>
            <div class="inner">
                <h1 class="h2">@Html.RawWithSnippets(Model.Page.BottomTitle.StripHtml())</h1>
                @Html.Raw(@Model.Page.BottomParagraph)
                @if (!string.IsNullOrEmpty(@Model.Page.BottomUrl))
                {
                    <p class="tac"><a href="@Model.Page.BottomUrl" target="_blank" class="action-btn" title="@Model.Page.BottomTitle">@Resources.Shared.LearnMore</a></p>
                }
            </div>
        </section>
    }
}