<template>
    <div class="preview-file-wrapper">
        <canvas ref="preview-file"></canvas>
        <slot></slot>
    </div>
</template>

<script>
    // Using import statement in this way allows Webpack to treat pdf.js as an async dependency so we can avoid adding it to one of the main bundles
    /* webpackChunkName: 'pdfjs-dist' */
    import pdfjs from "pdfjs-dist/webpack";

    export default {
        name: "preview-file",

        props: {
            url: {
                type: String,
                required: true
            },
            type: {
                type: String,
                required: true
            },
            width: {
                type: String
            },
            height: {
                type: String
            }
        },

        data: function () {
            return {
                // By creating the provider in the data property, it becomes reactive, so child components will update when `context` changes.
                provider: {
                    // This is the CanvasRenderingContext that children will draw to.
                    context: null
                }
            };
        },

        // Allows any child component to `inject: ['provider']` and have access to it.
        provide: function () {
            return {
                provider: this.provider
            };
        },

        mounted: function () {
            if (this.url && this.type) {
                switch (this.type) {
                    case "pdf":
                        this.canvasPdf();
                        break;
                    case "image":
                        this.canvasImage();
                        break;
                }
            } else {
                console.error("Preview File Error --> Empty URL");
            }
        },

        methods: {
            canvasPdf: function () {
                const vm = this;
                pdfjs
                    .getDocument(vm.url)
                    .then(
                        function (pdf) {
                            return pdf.getPage(1);
                        },
                        function (error) {
                            console.log("Error", error);
                        }
                    )
                    .then(
                        function (page) {
                            const canvas = vm.$refs["preview-file"];
                            const viewportHeight = page.getViewport(1.0).height;
                            const viewportWidth = page.getViewport(1.0).width;
                            var viewport;
                            if (viewportWidth > viewportHeight) {
                                viewport = page.getViewport(vm.width / viewportWidth);
                            } else {
                                viewport = page.getViewport(vm.height / viewportHeight);
                            }
                            // Render PDF page into canvas context
                            const canvasContext = canvas.getContext("2d");
                            const renderContext = { canvasContext, viewport };
                            page.render(renderContext);
                            canvas.height = viewport.height;
                            canvas.width = viewport.width;
                        },
                        function (error) {
                            console.log("Error", error);
                        }
                    );
            },

            canvasImage: function () {
                const canvas = this.$refs["preview-file"];
                const canvasContext = canvas.getContext("2d");
                const image = new Image();
                image.src = this.url;
                image.onload = function () {
                    canvas.width = image.width;
                    canvas.height = image.height;
                    canvasContext.drawImage(image, 0, 0);
                };
            }
        }
    };
</script>
