﻿@{
    ViewBag.Title = "MMC CMS Error Page";
}
@section HeaderTitle
{
    Error
}

<div class="ibox-content" style="text-align: center;padding-top: 50px;">
    <span class="fa fa-exclamation-triangle" style="font-size: 1200%;color: #ededed;text-shadow: rgba(0,0,0,0.3) 0 2px 0;"></span>
    <br />
    <br />
    <h2>An error prevented to show this page, <br />the system administrators has been notified.</h2>
</div>