﻿@{
    ViewBag.Title = "MMC CMS Home Page";
}
@section HeaderTitle
{
    Sorry, the page was not found
}

<div class="ibox-content" style="text-align: center;padding-top: 50px;">
    <span class="fa fa-exclamation-triangle" style="font-size: 1200%;color: #ededed;text-shadow: rgba(0,0,0,0.3) 0 2px 0;"></span>
    <br />
    <br />
    <h2>Page Not Found</h2>
    <p>
        The page or item you are looking for may have moved or is no longer available. Please try to use the navigation menu or Search feature to find the page or item if it is still available.
    </p>
</div>