﻿@model TagCategoryModel
@Html.HiddenFor(o => o.TagCategoryId)

@Html.Partial("_ErrorAlert")
@using (Html.BeginFormGroup(o => o.Title))
{
    <div class="form-group">
        <label class="col-md-3 control-label">Title <span class="req-mark">*</span></label>
        <div class="col-md-6">@Html.TextBoxFor(o => o.Title, new { @class = "form-control" })</div>
    </div>
}
@using (Html.BeginFormGroup(o => o.TagBrowser))
{
    <div class="form-group">
        <div>
            <label class="col-md-3 control-label">Tag Browser</label>
        </div>
        <div class="col-md-6">
            <div class="radio"><label>@Html.RadioButtonFor(o => o.TagBrowser, "Yes")Yes</label></div>
            <div class="radio"><label>@Html.RadioButtonFor(o => o.TagBrowser, "No")No</label></div>
            <div class="radio"><label>@Html.RadioButtonFor(o => o.TagBrowser, "Filtered")Filtered</label></div>
        </div>
    </div>
}
@using (Html.BeginFormGroup(o => o.DisplayOrder))
{
    <div class="form-group">
        <label class="col-md-3 control-label">Display Order <span class="req-mark">*</span></label>
        <div class="col-md-6">@Html.TextBoxFor(o => o.DisplayOrder, new { @class = "form-control", @maxlength = "4" })</div>
    </div>
}
@using (Html.BeginFormGroup(o => o.Featurable))
{
    <div class="form-group">
        <label class="col-md-3 control-label">Featurable</label>
        <div class="col-md-6">
            @Html.DropDownListFor(o => o.Featurable, new List<SelectListItem> { new SelectListItem { Text = "Conditional", Value = "Conditional" },
                                  new SelectListItem { Text = "Always", Value = "Always" }, new SelectListItem { Text = "Never", Value = "Never" } }, new { @class = "form-control m-b" })
        </div>
    </div>
}
@using (Html.BeginFormGroup(o => o.IsRelatable))
{
    <div class="form-group">
        <label class="col-md-3 control-label">Relatable</label>
        <div class="col-md-6">
            <div class="onoffswitch">
                @Html.CheckBoxFor(o => o.IsRelatable)
                <label class="onoffswitch-label" for="IsRelatable"></label>
            </div>
        </div>
    </div>
}