﻿@model TagCategoryModel

@section HeaderTitle
{
    Create new Tag Category
}

<div class="ibox-content">

    @using (Html.BeginForm("CreateCategory", "Tag", FormMethod.Post, new { @class = "form-horizontal" }))
    {
        @Html.AntiForgeryToken()
        @Html.Partial("_TagCategoryFieldPartial", Model)

        <hr />
        <div class="form-group">
            <div class="col-md-6 col-md-offset-3">
                @Html.ActionLink("Cancel", "TagManager", "Tag", null, new { @class = "btn btn-white" })
                <button class="btn btn-primary" type="submit">Create</button>
            </div>
        </div>

    }

</div>