﻿@model ListItemModel

@section head
{
    @System.Web.Optimization.Scripts.Render("~/bundles/content")
    @System.Web.Optimization.Styles.Render("~/Content/content")

    <script>
        $(document).ready(function () {
            var contentItemCrud = new ContentItemCrud();
            contentItemCrud.initialize();

            @Html.RenderClientEvents()
        });

    </script>
}


@section HeaderTitle
{
    New Tag
}

<div class="ibox-content">

    @Html.Partial("_ErrorAlert")

    @using (Html.BeginForm("Create", "Tag", FormMethod.Post, new { @class = "form-horizontal" }))
    {@Html.AntiForgeryToken()
        @Html.HiddenFor(o => o.ListId)
        
        <input type="hidden" name="ParentId" value="@ViewBag.ParentId"/>

        @Html.EditorForModel()

        <hr />
        <div class="form-group">
            <div class="col-md-6 col-md-offset-3">
                <div class="pull-right">
                    <a href="@(string.IsNullOrEmpty(Model.ReturnUrl) ? Url.Action("Index", "List", new { id = Model.ListId }) :  HttpUtility.UrlEncode( HttpUtility.UrlDecode(Model.ReturnUrl??String.Empty)))" class="btn btn-white"><span class="fa fa-remove"></span>&nbsp;&nbsp;Cancel</a>
                </div>
                <button class="btn btn-primary" type="submit"><span class="fa fa-plus"></span>&nbsp;&nbsp;Create</button>
            </div>
        </div>
    }
</div>
