﻿@model Slam.Cms.Data.TagTreeNode
@section HeaderTitle
{
    <h2><em class="fa fa-bar-chart"></em>&nbsp;Tag Manager</h2>
}
<div class="ibox-content">
    @Html.GlyphButton("Add New Tag Category", "CreateCategory", "Tag", new { @class = "btn btn-primary" }, new { @class = "fa fa-plus" })
    <hr />
    <div style="width: 600px" id="tagManager">
        @Html.BuildTagManager(Model)
    </div>
</div>
<div id="tagActions" class="dropdown" style="position: absolute;">
    <ul class="dropdown-menu" id="tagMenu" role="menu" aria-labelledby="dropdownMenu1">
        <li role="presentation"><a role="menuitem" tabindex="-1" href="#" class="add-tag" id="newTag">Add new Tag</a></li>
        <li role="presentation"><a role="menuitem" tabindex="-1" href="#" id="editTag">Edit Tag</a></li>
        <li role="presentation"><a role="menuitem" tabindex="-1" href="#" id="remove">Remove From Hierarchy</a></li>
        <li role="presentation"><a role="menuitem" tabindex="-1" href="#" id="deleteTag">Delete Tag</a></li>
    </ul>
</div>
<div class="dropdown" id="categoryActions" style="position: absolute;">
    <ul class="dropdown-menu" id="categoryMenu" role="menu" aria-labelledby="dropdownMenu1">
        <li role="presentation"><a role="menuitem" tabindex="-1" href="#" id="editTagCategory">Edit Tag Category</a></li>
        <li role="presentation"><a role="menuitem" tabindex="-1" href="#" class="add-tag" id="newTagCat">Add New Tag</a></li>
        <li role="presentation"><a role="menuitem" tabindex="-1" href="#" id="deleteTagCategory">Delete Category</a></li>
    </ul>
</div>
<input type="hidden" id="parentId" name="parentId" />
<input type="hidden" id="tagId" name="tagId" />
<input type="hidden" id="catId" name="catId" />
<script>
    $(document).ready(function () {

        var invalidateRedirect = '@Url.Action("TagManager", new { invalidateTagTree = "true" })';

        var captureMouse = true;
        var mouseX;
        var mouseY;

        mousemoveHandler = function (e) {
            mouseX = e.pageX;
            mouseY = e.pageY;
        };

        $(document).mousemove(mousemoveHandler);

        $("#tagManager").mouseover(function () {
            if (captureMouse) {
                $('#tagActions').css({ 'top': mouseY - 180, 'left': mouseX - 190 }).fadeIn('slow');
                $('#categoryActions').css({ 'top': mouseY - 180, 'left': mouseX - 190 }).fadeIn('slow');
            }
        });

        $("span[class=name]").mousedown(function (e) {
            if (e.button == 2) {
                $("#tagMenu").hide();
                $("#categoryMenu").hide();

                $(document).one('contextmenu', function (e) { // Not compatible with IE < 9
                    e.preventDefault();
                    return false;
                }, false);
                $(document).off('mousemove');

                captureMouse = false;
                $("#parentId").val($(this).data("parentid"));
                $("#tagId").val($(this).data("id"));
                $("#catId").val($(this).data("catid"));

                if ($(this).data('catid')) {
                    $("#categoryMenu").show();
                }
                else {
                    $("#tagMenu").show();
                }
                return false;
            }
            return true;
        });

        $("span[class=name]").mouseup(function (e) {
            if (e.button == 2) {
                captureMouse = false;
                return false;
            }
            return true;
        });

        $(document).click(function (e) {
            if (e.button != 2) {
                $("#tagMenu").hide();
                $("#categoryMenu").hide();
                $(document).off('contextmenu');
                $(document).mousemove(mousemoveHandler);
            }
            captureMouse = true;
            return true;
        });

        $(".add-tag").click(function (e) {
            var id = $("#parentId").val();
            window.location = '@Url.Action("Create", "Tag")' + '?id=' + id;
        });

        $("#editTag").click(function (e) {
            var id = $("#tagId").val();
            window.location = '@Html.Raw(Url.Action("Edit", "List", new { listId = Mastercard.MarketingCenter.Data.MarketingCenterDbConstants.ListIds.TagListId, returnUrl = Url.Action("TagManager", new { invalidateTagTree = "true" }) }))' + '&id=' + id;
        });

        $("#editTagCategory").click(function (e) {
            var id = $("#catId").val();
            window.location = '@Url.Action("UpdateCategory", "Tag")/' + id;
        });

        $("#deleteTag").click(function (e) {
            var id = $("#tagId").val();
            $.post('@Url.Action("DeleteTag", "Tag")', { id: id }).done(function (data) {
                if (data.responseCode == 200) { window.location = invalidateRedirect; }
            }, "json").fail(function () { alert("The Tag cannot be removed because there is current content / issuers related to that Tag."); });
        });

        $("#remove").click(function (e) {
            var id = $("#parentId").val();

            $.post('@Url.Action("RemoveFromHierarchy", "Tag")', { id: id }, function (data) {
                window.location = invalidateRedirect;
            }, "json");
        });

        $("#deleteTagCategory").click(function (e) {
            var id = $("#catId").val();

            $.post('@Url.Action("DeleteTagCategory", "Tag")', { id: id }, function (data) {
                window.location = invalidateRedirect;

            }, "json");
        });
    });
</script>