﻿@model TagCategoryModel

@section HeaderTitle
{
    Edit Tag Category
}

<div class="ibox-content">

    @using (Html.BeginForm("UpdateCategory", "Tag", FormMethod.Post, new { @class = "form-horizontal" }))
    {   @Html.AntiForgeryToken()
        @Html.Partial("_TagCategoryFieldPartial", Model)

        <hr />

        <div class="form-group">
            <div class="col-md-6 col-sm-offset-3">
                @Html.ActionLink("Cancel", "TagManager", "Tag", null, new { @class = "btn btn-white" })
                <button class="btn btn-primary" type="submit">Update</button>
            </div>
        </div>

    }

</div>