@using Mastercard.MarketingCenter.Cms.Services.Services
@model FeatureOnModel

<script>
    window.contentTypeId = '@Model.ContentTypeId';
    $( function ()
    {
        var selected = [];

        @* This Means if this view is being used in an InterRegion Cloning and this field has Inter Region Cloning Enabled , or if this is not being used on an InterRegion Cloning then the original Item Featured on locations/tags will be reloaded*@
        @if(!(Model.IsInterregionCloning && !Model.InterRegionCloningEnabled))
        {
       <text>
        $.getJSON( '@Url.Action("GetContentItemFeatureOnTag", "FeatureOn", new { id = Model.ContentItemId })', function ( data )
        {
            if ( data )
            {
                $.each( data.tags, function ( index, item )
                {
                    addItemToArray( item.Id, selected, item, "tag" );
                } );

                $.each( data.locations, function ( index, item )
                {
                    addItemToArray( item.Id, selected, item, "featurelocation" );
                } );

                $( "input[class=featureOnTag]:checkbox:not(:checked)" ).each( function ()
                {
                    toggleLevelSelect( $( this ), false );
                } );

                $( document ).trigger( "featureOnInit", { selectedItems: selected, contentItemId: '@Model.ContentItemId' } );
            }
        } );
        </text>
    }

        var $featureOn = $( '.featureon-selector' );

        $( '.toggle-group', $featureOn ).on( 'change', function ()
        {
            var $this = $( this ),
            groupName = $this.data( 'group' ),
            state = $this.prop( 'checked' );

            $( '[data-cat="' + groupName + '"]' ).prop( 'checked', state ).trigger( 'change' );
        } );

        $( '[data-cat]:checkbox', $featureOn ).on( 'change', function ()
        {
            var $check = $( this ),
            groupName = $check.data( 'cat' ),
            $groupCheck = $( '.toggle-group[data-group="' + groupName + '"]', $featureOn );

            toggleLevelSelect( $check, $check.prop( 'checked' ) );

            if ( $( '[data-cat="' + groupName + '"]:checkbox:checked', $featureOn ).length < $( '[data-cat="' + groupName + '"]:checkbox', $featureOn ).length )
            {
                $groupCheck.prop( 'checked', false );
            } else
            {
                $groupCheck.prop( 'checked', true );
            }

        } );
    } );

    function addItemToArray( key, selected, item, type )
    {
        var chkName = "featureOnTag_" + key;
        var featLevName = "featureLevel_" + key;
        $( "input[type=checkbox][name=" + chkName + "]" ).prop( 'checked', true );
        $( "select[name=" + featLevName + "]" ).val( item.FeatureLevel );
        selected.push( key + '|' + item.FeatureLevel + '|' + type );
    }

    function toggleLevelSelect( item, enable )
    {
        var category = item.data( "cat" );
        var featLevName = "featureLevel_" + item.data( "id" );
        if ( enable )
            $( "select[name='" + featLevName + "'][data-cat='" + category + "']" ).prop( 'disabled', false );
        else $( "select[name='" + featLevName + "'][data-cat='" + category + "']" ).prop( 'disabled', true );
    }
</script>

<div class="featureon-selector">
    @foreach (var category in Model.FeaturableTagCategoryItems)
    {
        <div class="row">
            <div class="checkbox col-md-12">
                <label>
                    <input type="checkbox" class="toggle-group" data-group="@category.Title">
                    <strong>@category.Title</strong>
                </label>
            </div>
        </div>        
        if (category.FeatureTagItems.Any())
        {
            foreach (var featurableTag in category.FeatureTagItems)
            {
                <div class="row">
                    <div class="col-md-8">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" data-cat="@category.Title" name="featureOnTag_@(featurableTag.Id)" data-id="@featurableTag.Id" data-featuretype="@featurableTag.Type" data-title="@featurableTag.Title" class="featureOnTag id-@Model.ContentItemId" /> @featurableTag.Title
                            </label>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <select class="form-control" data-cat="@category.Title" name="featureLevel_@(featurableTag.Id)">
                            <option value="1">High</option>
                            <option value="0" selected="selected">Med</option>
                            <option value="-1">Low</option>
                        </select>
                    </div>
                </div>
            }
        }
    }
</div>