﻿@using Mastercard.MarketingCenter.Services;
@using System.Web.Mvc;

@model  DynamicOverviewViewModel
@section Title {
    @ViewBag.title
}

@Html.Partial("CarouselSlide", Model.CarouselSlides)

<div class="content-container">
    @{
        var userContext = DependencyResolver.Current.GetService<UserContext>();
        Html.RenderAction("InitializeTabNavigator", "Dynamic", new { activeTab = Resources.Shared.Overview });
    }
    @if (Model.Page.EnableFavoriting)
    {
        Html.RenderAction("Subscription", "Profile", new { contentItemId = Model.Page.ContentItemId });
    }
    <header class="content-header content-spaces-out intro">
        <div class="row">
            <div class="col-sm-12">
                @if (Model.PageIsPlaceholder && (userContext.User != null && (User.IsInRole(Mastercard.MarketingCenter.Common.Infrastructure.Constants.Roles.McAdmin) || User.IsInRole(Mastercard.MarketingCenter.Common.Infrastructure.Constants.Roles.DevAdmin))))
                {
                    @Html.Raw(string.Format(Resources.Shared.LandingPagePlaceholderHtml, Model.PageEditUrl))
                }
                else
                {
                    @Html.RawWithSnippets(Model.Page.IntroCopy)
                }
            </div>
        </div>
    </header>
    <hr />
    @if (Model.sectionList != null)
    {
        for (int i = 0; i < Model.sectionList.Count; i++)
        {
            if (Model.sectionList[i].TagBrowserItems.Count() > 0)
            {
                @Html.DisplayFor(m => m.sectionList[i])
            }
        }
    }
</div>

<section class="page-section boxes-section cold-colors content-spaces-in invisible" id="related-content-boxes">
    <h1 class="section-header">@Resources.Shared.RelatedContent</h1>
    <div class="boxes-slider bigger buttoned">
        @Html.DisplayFor(m => m.ProductsCrossSellBox)
        @Html.DisplayFor(m => m.MarketingCrossSellBox)
        @Html.DisplayFor(m => m.InsightsCrossSellBox)
        @Html.DisplayFor(m => m.SolutionsCrossSellBox)
        @Html.DisplayFor(m => m.SafetySecurityCrossSellBox)
        @Html.DisplayFor(m => m.SegmentsCrossSellBox)
        @{ Html.RenderAction("Snippet", "Snippet", new { handle = "marketing-calendar-box" }); }
    </div>
</section>