﻿<!DOCTYPE html>
<html lang="de_de">
<head class="at-element-marker">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="apple-touch-icon" sizes="180x180" href="/portal/content/themes/orange/img/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" href="/portal/content/themes/orange/img/favicons/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="/portal/content/themes/orange/img/favicons/favicon-16x16.png" sizes="16x16">
    <link rel="manifest" href="/portal/content/themes/orange/img/favicons/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/portal/content/themes/orange/img/favicons/mstile-150x150.png">
    <meta name="theme-color" content="#ffffff">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="keywords" content="">
    <meta name="mastercard_search_result_image" content="https://www.mastercard.us/content/dam/mccom/global/icons/search-default.jpg">
    <title>Datenschutzrichtlinie Mastercard Marketing Center</title>
    <meta name="description" content="">
    <link rel="stylesheet" href="css/css-typefaces.css" type="text/css">
    <link rel="stylesheet" href="css/css-layout.css" type="text/css">
    <link rel="stylesheet" href="css/css-components.css" type="text/css">
    <link rel="stylesheet" href="css/css-components2.css" type="text/css">
    <link rel="stylesheet" href="css/css-vendor.css" type="text/css">
    <link rel="stylesheet" href="css/css-general.css" type="text/css">
    <script type="text/javascript" src="js/head.js"></script>
    <script type="text/javascript" src="js/head2.js"></script>
</head>
<body>
    <div class="page-wrap">
        <div class="page-wrap__inner">
            <header class="container-fluid">
                <div id="sticky-header-nav" class="affix-top">
                    <div class="top-bar hidden-sm hidden-xs row">
                    </div>
                    <nav class="main-nav" role="navigation">
                        <div class="logo">
                            <div class="image hidden-xs hidden-sm">
                                <a href="/portal" title="Mastercard logo">
                                    <div>
                                        <img src='img/logo.png' alt="Mastercard Logo" title="Mastercard Logo">
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="menu menu-mega">
                            <div id="mega-menu-content-module" class="menu-list-wrapper mega-menu-content-module ng-scope" ng-controller="menu" data-menu-path="js/headernav.tree.json" role="navigation">
                                <ul class="menu accessible-megamenu">
                                    <li class="mega-menu__audience accessible-megamenu-top-nav-item">
                                        <div class="mega-menu__audience-arrow accessible-megamenu-panel" id="accessible-megamenu-1533843818627-2" role="group" aria-expanded="false" aria-hidden="true" aria-labelledby="accessible-megamenu-1533843818627-1"></div>
                                        <a href="/portal/PublicDownloads/Mastercard_Marketing_Center_Privacy_Notice_N_DE.html" data-text="Datenschutzrichtlinie Mastercard Marketing Center" id="accessible-megamenu-1533843818627-1" aria-haspopup="true" aria-controls="accessible-megamenu-1533843818627-2" aria-expanded="false" class="">
                                            <span>Datenschutzrichtlinie Mastercard Marketing Center</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <script type="text/html" id="mega-menu-dropdown-template">
                                <div class="mega-menu__dropdown">
                                    <ul sub-menu page="page" ng-if="page.children" class="mega-menu__sub-menu--base"></ul>
                                    <div ng-if="promoPath" class="mega-menu__promo-container"></div>
                                </div>
                            </script>
                            <script type="text/html" id="mega-menu-sub-menu-template">
                                <ul class="mega-menu__sub-menu">
                                    <li class="sub-menu__item"
                                        ng-repeat="subpage in page.children"
                                        ng-class="{ 'has-child-menu': subpage.children.length }">
                                        <a class='sub-menu-option' ng-href="{{subpage.url}}">{{subpage.name}}</a>
                                        <ul sub-menu page="subpage" ng-if="subpage.children"></ul>
                                        <div class="mega-menu__dropdown-divider"></div>
                                    </li>
                                </ul>
                            </script>
                        </div>
                    </nav>
                </div>
            </header>
            <div id="content" class="container-fluid container-guttered" role="main" tabindex="-1">
                <div class="contentpar parsys">
                    <div class="banners hero section" style="height: 166px;">
                        <div class="hero-banner-wrapper " style="height: 246px;">
                            <div class="component-title">
                                <h2 class="h1">Datenschutzrichtlinie</h2>
                                <h3 class="hidden-xs"></h3>
                            </div>
                            <div class="text text-Dark Bottom">
                                <div class="text-wrapper">
                                    <div class="cta-group">
                                    </div>
                                </div>
                            </div>
                            <div style="clear: both;"></div>
                        </div>
                    </div>
                    <div class="banners dividingline section"></div>
                    <div class="rich-text section">
                        <div>
                            <input id="xmlGatewayUrl" type="hidden">
                            <input id="legalLocale" type="hidden" value="de-DE">
                        </div>
                        <div class="rich-text__inner background-white">
                            <div class="textindent">
                                <style>
                                    .pointer {
                                        cursor: pointer;
                                    }

                                    span.moreText {
                                        font-size: 10px;
                                    }

                                    .collapsed span.moreText:before {
                                        font-family: 'Glyphicons Halflings';
                                        content: '\e080';
                                        /* content: "\e258"; */
                                    }

                                    span.moreText:before {
                                        font-family: 'Glyphicons Halflings';
                                        content: '\e114';
                                        /* content: "\e259"; */
                                    }

                                    .glyphicon-menu-up:before {
                                        font-family: 'Glyphicons Halflings';
                                        content: "\e113";
                                        vertical-align: middle;
                                    }

                                    .quicklinks {
                                        margin-bottom: 20px;
                                    }

                                        .quicklinks ul li {
                                            margin-bottom: 10px;
                                        }

                                    .display-block {
                                        display: inline-block;
                                    }

                                    .link-box {
                                        background: #f4f4f4;
                                        text-align: center;
                                        padding: 20px 1px 20px 1px;
                                    }

                                    .line-margin-top {
                                        margin-top: 12px;
                                    }

                                    .line-margin-btm {
                                        margin-bottom: 10px;
                                    }

                                    .text-justify {
                                        text-align: justify;
                                    }

                                    @media (max-width: 767px) {
                                        .link-padding {
                                            padding-bottom: 10px;
                                        }

                                        .link-box {
                                            text-align: left;
                                            padding: 20px 1px 15px 20px;
                                        }
                                    }
                                </style>
                                <h2 id="top" style="text-align: center;">Mastercard Marketing Center</h2>
                                <h3 style="text-align: center;">Wirksam ab 10.07.2018</h3>
                                <p style="text-align: center;">Mastercard Europe SA sowie die zugehörigen Tochterunternehmen und sonstige Gesellschaften innerhalb der Mastercard Gruppe („Mastercard“, „wir“, „uns“ oder „unsere“) nehmen den Schutz Ihrer Privatsphäre sehr ernst.</p>
                                <br><br>
                                <div>
                                    <div class="col-md-5 col-sm-12 col-xs-12 quicklinks">
                                        <ul>
                                            <li>
                                                <a href="#personalInfo" class="goto">Welche personenbezogenen Daten werden ggf. erhoben?</a>
                                            </li>
                                            <li>
                                                <a href="#usePersonalInfo" class="goto">Für welche Zwecke werden Ihre personenbezogenen Daten ggf. verwendet?</a>
                                            </li>
                                            <li>
                                                <a href="#sharePersonalInfo" class="goto">Wie werden Ihre personenbezogenen Daten weitergegeben?</a>
                                            </li>
                                            <li>
                                                <a href="#rights" class="goto">Ihre Rechte und Wahlmöglichkeiten</a>
                                            </li>
                                            <li>
                                                <a href="#dataTransfer" class="goto">Wie werden Ihre personenbezogenen Daten geschützt?</a>
                                            </li>
                                            <li>
                                                <a href="#protectPersonalInfo" class="goto">Datenübermittlung </a>
                                            </li>
                                            <li>
                                                <a href="#otherWebsites" class="goto">Features und Links zu anderen Websites </a>
                                            </li>
                                            <li>
                                                <a href="#privacyNotice" class="goto">Aktualisierung dieser Datenschutzrichtlinie</a>
                                            </li>
                                            <li>
                                                <a href="#contactUs" class="goto">Kontakt </a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="col-md-7 col-sm-12 col-xs-12">
                                        <p>Die vorliegende Datenschutzrichtlinie betrifft die Verarbeitung personenbezogener Daten, die im Rahmen des Mastercard Marketing Center erhoben werden. Nicht unter die vorliegende Datenschutzrichtlinie fallen die Erhebung und Verwendung Ihrer personenbezogenen Daten durch Mastercard im Zusammenhang mit anderen Kampagnen und Programmen, durch Dritte auf Websites mit Mastercard Branding, durch den Herausgeber Ihrer Mastercard (z.&nbsp;B. Ihre Bank) sowie im Rahmen von anderen Informations- und Kommunikationsaktionen mit Bezug zu Mastercard, die nicht zu diesem Portal gehören.</p>
                                        <p>In dieser Datenschutzrichtlinie ist beschrieben, welche Arten von personenbezogenen Daten wir im Zusammenhang mit der Kampagne erheben, für welche Zwecke diese Daten erhoben werden, an wen sie übermittelt werden und welche Maßnahmen zum Schutz der Daten ergriffen werden. Darüber hinaus finden Sie hier auch Informationen zu Ihren Rechten und Wahlmöglichkeiten in Bezug auf Ihre personenbezogenen Daten und wie Sie uns erreichen können, wenn sich Ihre Kontaktdaten geändert haben oder Sie Auskünfte zu unseren Datenschutzmaßnahmen wünschen.</p>
                                        <p>Ihre Teilnahme an der Kampagne unterliegt dieser Datenschutzrichtlinie und unseren <a href="/portal/PublicDownloads/Mastercard_Marketing_Center_Terms_of_Use_N_DE.html">Nutzungsbedingungen.</a> Weitere Informationen zu den Datenschutzmaßnahmen von Mastercard finden Sie in der globalen Datenschutzrichtlinie von Mastercard unter <a href="https://www.mastercard.de/de-de/datenschutz.html">https://www.mastercard.de/de-de/datenschutz.html</a></p>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                                <hr class="line-margin-btm">
                                <div class="link-box col-sm-12 col-xs-12">
                                    <div>
                                        <div class="col-md-3 col-sm-12 col-xs-12 display-block link-padding">
                                            <a href="https://www.mastercard.de/de-de/datenschutz/data-analytics-opt-out.html">Datenanalyse Abmeldung</a>
                                        </div>
                                        <div class="col-md-3 col-sm-12 col-xs-12 display-block link-padding">
                                            <a href="https://www.mastercard.de/de-de/datenschutz/web-analytics-opt-out.html">Web Analyse Abmeldung</a>
                                        </div>
                                        <div class="col-md-3 col-sm-12 col-xs-12 display-block link-padding">
                                            <a href="https://www.mastercard.de/de-de/datenschutz/email-opt-out.html">Marketing E-Mail Abmeldung</a>
                                        </div>
                                        <div class="col-md-3 col-sm-12 col-xs-12 display-block link-padding">
                                            <a href="https://www.mastercard.de/public/my-data/gdp-public/index.html?locale=de-de" target="_blank" rel="noopener noreferrer">Meine Daten</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                                <hr class="line-margin-top">
                                <div>

                                    <a id="personalInfo"></a>
                                    <h3>1. Welche personenbezogenen Daten werden ggf. erhoben?</h3>
                                    <p>Wir erheben ggf. die folgenden personenbezogenen Daten:</p>
                                    <ul>
                                        <li>
                                            Registrierungsinformationen betreffend das Mastercard Marketing Center (siehe untenstehend)
                                            <p>&nbsp;</p>
                                            <p>Pflichtangaben:</p>
                                            <ul>
                                                <li>Vor- und Nachname</li>
                                                <li>Geschäftliche Position</li>
                                                <li>Finanzinstitut</li>
                                                <li>Geschäftliche Telefonnummer</li>
                                                <li>E-Mail-Adresse</li>
                                                <li>Land</li>
                                                <li>Sprache</li>
                                                <li>Anschrift (Straße, PLZ, Ort, Bundesland)</li>
                                            </ul>
                                            <p>&nbsp;</p>
                                            <p>Freiwillige Angaben:</p>
                                            <ul>
                                                <li>Prozessor</li>
                                                <li>Geschäftliche Mobiltelefonnummer</li>
                                                <li>Fax</li>
                                            </ul>
                                        </li>
                                    </ul>
                                    <p class="moreText pointer collapsed display-block" data-toggle="collapse" data-target="#personalInfoMore">
                                        Mehr erfahren
                                        <span class="moreText"></span>
                                    </p>
                                    <div id="personalInfoMore" class="collapse">
                                        <p>Für die Zwecke dieser Datenschutzrichtlinie bezeichnen „personenbezogene Daten“ alle Informationen, die sich auf eine identifizierte oder identifizierbare natürliche Person beziehen. In Verbindung mit dem Mastercard Marketing Center, erhalten wir Ihre personenbezogenen Daten aus verschiedenen Quellen, die nachstehend aufgeführt sind.</p>
                                        <p>Wo zutreffend, geben wir an, ob und warum Sie uns Ihre personenbezogenen Daten bereitstellen müssen und was geschieht, wenn Sie dies nicht tun. Sollten Sie Ihre personenbezogenen Daten trotz Aufforderung nicht bereitstellen, können Sie möglicherweise nicht an dem Portal teilnehmen, sofern diese Informationen für die Durchführung der Services erforderlich sind oder wir rechtlich dazu verpflichtet sind, diese Daten zu erheben.</p>
                                        <ol style="list-style-type: lower-alpha;">
                                            <li>
                                                Von Ihnen bereitgestellte personenbezogene Daten<br>
                                                <p>In Zusammenhang mit der Kampagne bitten wir Sie, uns bestimmte personenbezogene Daten mitzuteilen, u.&nbsp;a. Vor- und Nachname, Geschäftliche Position, Finanzinstitut, Geschäftliche Telefonnummer, E-Mail-Adresse, Land, Sprache sowie Anschrift (Straße, PLZ, Ort, Bundesland).</p>
                                            </li>
                                            <li>
                                                Personenbezogene Daten, die bei Nutzung des Portals erhoben werden<br>
                                                <p>Bestimmte Informationen erheben wir unter Umständen automatisch, beispielsweise über Cookies oder ähnliche Technologien. Dazu zählen beispielsweise Ihre IP-Adresse, MAC-Adresse, Geräte-ID, Netzwerkdaten, Informationen über Ihr Nutzerverhalten auf unserer Website, Datum und Uhrzeit Ihrer Besuche und sonstige Daten von mobilen Trackingsystemen. Wir verwenden diese Informationen zur Optimierung unserer Kampagne. Dazu werten wir aus, wie viele Nutzer auf unser Angebot zugreifen und dieses nutzen, welche Inhalte, Produkte und Besonderheiten unseres Angebots für unsere Besucher am interessantesten sind, welche Art von Angeboten unsere Kunden sich wünschen und wie leistungsfähig unser Serviceangebot in technischer Hinsicht ist. Weitere Informationen zur Nutzung von Cookies finden Sie in unserem <a href="//info.evidon.com/pub_info/16993">Tool zur Einwilligung für die Nutzung von Cookies</a>.</p>
                                            </li>
                                        </ol>
                                    </div>
                                    <p class="text-right">
                                        <a href="#top" class="goto">
                                            Zusammenfassung ansehen
                                            <span class="glyphicon-menu-up"></span>
                                        </a>
                                    </p>
                                    <a id="usePersonalInfo"></a>
                                    <h3>2. Für welche Zwecke werden Ihre personenbezogenen Daten ggf. verwendet?</h3>
                                    <p>Wir verwenden Ihre personenbezogenen Daten zu den folgenden Zwecken:</p>
                                    <ul>
                                        <li>Bereitstellung von Informationen und schlüsselfertigen Kommunikationsbausteinen zu aktuellen Kampagnen sowie weitergehende Vertriebsinformationen.</li>
                                        <li>Verbesserung, Weiterentwicklung und Förderung des Mastercard Marketing Centers.</li>
                                        <li>Zur Bereitstellung von Produkten und Dienstleistungen, die von Mastercard, Finanzinstituten, Händlern und Partnern angeboten werden und der damit verbundenen Kommunikation.</li>
                                        <li>Um Ihnen personalisierte Dienste und Empfehlungen zukommen zu lassen.</li>
                                        <li>Zur Durchführung, Auswertung und Verbesserung unseres Geschäfts, einschließlich von Anonymisierung und Analytik.</li>
                                        <li>Für andere Zwecke, über die wir Sie zum Zeitpunkt der Erhebung gesondert informieren, sowie soweit in sonstiger Weise gesetzlich zulässig oder erforderlich.</li>
                                    </ul>
                                    <p>&nbsp;</p>
                                    <p class="moreText pointer collapsed display-block" data-toggle="collapse" data-target="#usePersonalInfoMore">
                                        Mehr erfahren
                                        <span class="moreText"></span>
                                    </p>
                                    <div id="usePersonalInfoMore" class="collapse">
                                        <p>Ihre personenbezogenen Daten werden nur dann für die vorstehend genannten Zwecke weiterverarbeitet, wenn wir diesbezüglich über eine gültige Rechtsgrundlage verfügen. Dies gilt u. a. dann, wenn</p>
                                        <ul>
                                            <li>Sie eine Einwilligung zur Nutzung Ihrer personenbezogenen Daten abgegeben haben. Beispielsweise holen wir uns Ihre Einwilligung zur Nutzung von Cookies und ähnlichen Technologien, zur Bereitstellung von Marketingmaterialien oder zur Verarbeitung von personenbezogenen Daten ein, die gemäß anwendbarem Recht als sensibel gelten.</li>
                                            <li>wir Ihre personenbezogenen Daten benötigen, um Ihnen unsere Produkte und Dienstleistungen zur Verfügung stellen oder Ihre Anfragen zu beantworten.</li>
                                            <li>die Verarbeitung zur Erfüllung einer rechtlichen Verpflichtung erforderlich ist, zum Beispiel um Betrug bei Zahlungstransaktionen zu verhindern und zu überwachen.</li>
                                            <li>wir oder Dritte ein berechtigtes Interesse an der Verwendung Ihrer personenbezogenen Daten haben, u. a. zur Gewährleistung der Sicherheit und Leistungsfähigkeit unserer Produkte und Dienstleistungen, zum Schutz vor sowie zur Vermeidung von Betrug, zur Anonymisierung personenbezogener Daten und zur Durchführung von Datenanalysen.</li>
                                        </ul>
                                    </div>
                                    <p class="text-right">
                                        <a href="#top" class="goto">
                                            Zusammenfassung ansehen
                                            <span class="glyphicon-menu-up"></span>
                                        </a>
                                    </p>

                                    <a id="sharePersonalInfo"> </a>
                                    <h3>3. Wie werden Ihre personenbezogenen Daten weitergegeben?</h3>
                                    <p>Wir geben Ihre personenbezogenen Daten ggf. an folgende Stellen weiter:</p>
                                    <ul type="disc">
                                        <li>Mastercard Zentrale in den USA, die zugehörigen Tochterunternehmen sowie sonstige Gesellschaften innerhalb der Mastercard Gruppe.</li>
                                        <li>Gemäß den anwendbaren Rechtsvorschriften für obige Zwecke an die folgenden Mastercard Dienstleister: K&amp;R GmbH, Ludwig-Erhard-Straße 6, D-65760 Eschborn sowie Konsylo GmbH, Carl-Benz-Straße 21, 60386 Frankfurt am Main.</li>
                                        <li>Unsere Dienstleister, die in unserem Namen und Auftrag handeln.</li>
                                        <li>Dritte im Fall einer Veräußerung oder Übertragung unseres Geschäfts oder unserer Vermögenswerte.</li>
                                    </ul>
                                    <p class="moreText pointer collapsed display-block" data-toggle="collapse" data-target="#sharePersonalInfoMore">
                                        Mehr erfahren
                                        <span class="moreText"></span>
                                    </p>
                                    <div id="sharePersonalInfoMore" class="collapse">
                                        <p>Außer in dem Umfang, der in dieser Datenschutzrichtlinie beschrieben ist oder Ihnen zum Zeitpunkt der Datenerhebung anderweitig bekannt gegeben wird, werden die zu Ihrer Person erhobenen personenbezogenen Daten weder von uns weitergegeben noch anderweitig offengelegt.</p>
                                        <p>Wir geben die von uns erhobenen personenbezogenen Daten ggf. an unsere Zentrale und an unsere Tochterunternehmen weiter, einschließlich Mastercard International.</p>
                                        <p>Wir geben die von uns erhobenen personenbezogenen Daten ggf. an folgende Stellen weiter: K&amp;R GmbH, Ludwig-Erhard-Straße 6, D-65760 Eschborn sowie Konsylo GmbH, Carl-Benz-Straße 21, 60386 Frankfurt am Main.</p>
                                        <p>Wir geben personenbezogene Daten unter Umständen auch an Dienstleister weiter, die Dienstleistungen für uns und im Zusammenhang mit den in dieser Datenschutzrichtlinie genannten Zwecken erbringen. Wir verpflichten diese Dienstleister vertraglich dazu, personenbezogene Daten ausschließlich gemäß unseren Anweisungen zu verarbeiten und soweit dies zur Erbringung von Dienstleistungen oder zur Einhaltung rechtlicher Vorschriften erforderlich ist. Wir verpflichten sie darüber hinaus dazu, die Sicherheit und Vertraulichkeit der in unserem Auftrag verarbeiteten personenbezogenen Daten zu gewährleisten, indem geeignete technische und organisatorische Sicherungsmaßnahmen getroffen werden und Mitarbeiter mit Zugang zu personenbezogenen Daten zu Geheimhaltung verpflichtet sind.</p>
                                        <p>Wir legen ggf. Daten über Sie offen, (i) wenn wir gesetzlich oder im Rahmen rechtlicher Verfahren dazu verpflichtet sind; (ii) wenn eine gerichtliche Aufforderung oder eine Aufforderung durch Strafverfolgungsbehörden oder Staatsbeamte bei uns eingeht; oder (iii) wenn wir glauben, dass eine Offenlegung erforderlich oder angemessen ist, um physische Schäden oder finanzielle Verluste zu verhindern, oder im Zusammenhang mit einer Untersuchung vermuteter oder tatsächlicher betrügerischer oder illegaler Aktivitäten.</p>
                                        <p>Wir behalten uns ebenfalls das Recht vor, personenbezogene Daten über Sie zu übermitteln, falls wir unser gesamtes Geschäft oder Vermögen oder einen Teil hiervon veräußern oder übertragen. Im Fall einer solchen Veräußerung oder Übertragung treffen wir angemessene Maßnahmen, um den Erwerber anzuweisen, die von Ihnen bereitgestellten personenbezogenen Daten auf eine Weise zu nutzen, die unserer Datenschutzrichtlinie entspricht.</p>
                                    </div>
                                    <p class="text-right">
                                        <a href="#top" class="goto">
                                            Zusammenfassung ansehen
                                            <span class="glyphicon-menu-up"></span>
                                        </a>
                                    </p>

                                    <a id="rights"></a>
                                    <h3>4. Ihre Rechte und Wahlmöglichkeiten </h3>
                                    <p>Nach Maßgabe des geltenden Rechts sind Sie dazu berechtigt:</p>
                                    <ul>
                                        <li>Informationen zu Ihren personenbezogenen Daten einzuholen, diese Daten berichtigen zu lassen, deren Verarbeitung einzuschränken oder deren Löschung zu veranlassen.</li>
                                        <li>die von Ihnen zur Verfügung gestellten personenbezogenen Daten von uns zu erhalten, um sie einem anderen Unternehmen zu übermitteln.</li>
                                        <li>jegliche Einwilligung zu widerrufen.</li>
                                        <li>ggf. Beschwerde bei der zuständigen Aufsichtsbehörde einzulegen.</li>
                                    </ul>
                                    <br />
                                    <p>Wenn Sie im EWR oder in der Schweiz ansässig sind, können Sie Ihre Rechte über das <a href="https://www.mastercard.de/public/my-data/gdp-public/index.html?locale=de-DE">My Data-Portal  von Mastercard</a> wahrnehmen. Gemäß den Angaben im Abschnitt „Kontakt“ können Sie alternativ auch einen Antrag an uns stellen.</p>
                                    <p class="moreText pointer collapsed display-block" data-toggle="collapse" data-target="#rightsMore">
                                        Mehr erfahren
                                        <span class="moreText"></span>
                                    </p>
                                    <div id="rightsMore" class="collapse">
                                        <p>Nach Maßgabe des geltenden Rechts sind Sie dazu berechtigt:</p>
                                        <ul>
                                            <li>Auskunft über die bei uns gespeicherten personenbezogenen Daten zu Ihrer Person zu verlangen und deren Herausgabe zu fordern, inkorrekte personenbezogene Daten zu aktualisieren und zu berichtigen, die Verarbeitung Ihrer personenbezogenen Daten einzuschränken oder dieser zu widersprechen, eine Anonymisierung bzw. Löschung der Daten zu verlangen oder Ihr Recht auf Datenübertragbarkeit für die einfache Übermittlung der Daten an ein anderes Unternehmen auszuüben. Darüber hinaus haben Sie auch das Recht, Beschwerde bei einer Aufsichtsbehörde einzulegen, u. a. in Ihrem Wohnsitzland, in dem Land, in dem Sie berufstätig sind, oder dort, wo sich ein einschlägiger Vorfall ereignet hat.</li>
                                            <li>eine von Ihnen erteilte Einwilligung in Bezug auf die Verarbeitung Ihrer personenbezogenen Daten jederzeit und kostenlos zu widerrufen. Wir werden Ihre Entscheidung ab diesem Zeitpunkt berücksichtigen. Dies hat keine Auswirkung auf die Rechtmäßigkeit der Verarbeitung vor dem Widerruf Ihrer Einwilligung.</li>
                                        </ul>
                                        <p>Diese Rechte können unter Umständen durch vor Ort geltende gesetzliche Vorgaben eingeschränkt sein.</p>
                                        <p>Wenn Sie im EWR oder in der Schweiz ansässig sind, können Sie Ihre Rechte über das <a href="https://www.mastercard.de/public/my-data/gdp-public/index.html?locale=de-DE">My Data-Portal von Mastercard</a> wahrnehmen. Gemäß den Angaben im Abschnitt „Kontakt“ können Sie alternativ auch einen Antrag an uns stellen.</p>
                                    </div>
                                    <p class="text-right">
                                        <a href="#top" class="goto">
                                            Zusammenfassung ansehen
                                            <span class="glyphicon-menu-up"></span>
                                        </a>
                                    </p>

                                    <a id="dataTransfer"> </a>
                                    <h3>5. Wie werden Ihre personenbezogenen Daten geschützt?</h3>
                                    <p>Wir treffen geeignete Maßnahmen zum Schutz Ihrer personenbezogenen Daten und speichern diese Daten nur für eine begrenzte Zeit.</p>
                                    <p class="moreText pointer collapsed display-block" data-toggle="collapse" data-target="#dataTransfeMore">
                                        Mehr erfahren
                                        <span class="moreText"></span>
                                    </p>
                                    <div id="dataTransfeMore" class="collapse">
                                        <p>Wir treffen geeignete administrative, technische und physische Maßnahmen zum Schutz der von uns gespeicherten personenbezogenen Daten vor unbeabsichtigter oder unrechtmäßiger Vernichtung, unbeabsichtigtem Verlust, unrechtmäßiger Veränderung, unbefugter Offenlegung bzw. Weitergabe, vor Missbrauch und jeder anderen unrechtmäßigen Form der Verarbeitung. Ihre personenbezogenen Daten sind ausschließlich für Mitarbeiter zugänglich, die diese Daten benötigen, um Ihnen Produkte und Dienstleistungen zur Verfügung zu stellen.</p>
                                        <p>Darüber hinaus ergreifen wir Maßnahmen zur Löschung Ihrer personenbezogenen Daten oder zu deren Speicherung in einer Form, die keine Rückschlüsse auf Ihre Identität zulässt, sofern diese Daten hinsichtlich der Zwecke im Rahmen der Kampagne nicht mehr benötigt werden oder Sie deren Löschung verlangen, es sei denn, wir sind gesetzlich dazu verpflichtet, diese Daten länger aufzubewahren. Wir führen diesbezüglich in regelmäßigen Abständen eine Überprüfung unserer Datenbanken durch und haben bestimmte Fristen zur Datenlöschung festgelegt – unter Berücksichtigung der Art der erhobenen Daten, der Art der im Rahmen der Kampagne angebotenen Dienstleistungen, der Dauer der Kundenbeziehung, einer möglichen erneuten Teilnahme am Programm, gesetzlicher Speicherfristen und geltender Verjährungsfristen.</p>
                                    </div>
                                    <p class="text-right">
                                        <a href="#top" class="goto">
                                            Zusammenfassung ansehen
                                            <span class="glyphicon-menu-up"></span>
                                        </a>
                                    </p>

                                    <a id="protectPersonalInfo"></a>
                                    <h3>6. Datenübermittlung</h3>
                                    <p>In Übereinstimmung mit unseren verbindlichen Unternehmensrichtlinien (Binding Corporate Rules) und sonstigen Mechanismen zur Datenübermittlung werden Ihre personenbezogenen Daten ggf. auch außerhalb des EWR übermittelt, darunter auch in die Vereinigten Staaten von Amerika.</p>
                                    <p class="moreText pointer collapsed display-block" data-toggle="collapse" data-target="#protectPersonalInfoMore">
                                        Mehr erfahren
                                        <span class="moreText"></span>
                                    </p>
                                    <div id="protectPersonalInfoMore" class="collapse">
                                        <p>Mastercard ist ein globales Unternehmen. Wir übermitteln oder legen Ihre personenbezogenen Daten gegenüber Empfängern offen, die in anderen Ländern als Ihrem Wohnsitzland ansässig sind, darunter in den Vereinigten Staaten von Amerika, dem Sitz unserer globalen Firmenzentrale. In diesen Ländern gelten möglicherweise nicht dieselben Datenschutzbestimmungen wie in dem Land, in dem Sie ursprünglich die Daten bereitgestellt haben. Wenn wir Ihre personenbezogenen Daten an andere Länder übermitteln oder die Daten dort offenlegen, werden wir die Daten wie in der vorliegenden Datenschutzrichtlinie dargelegt schützen.</p>
                                        <p>Wir halten uns an die geltenden gesetzlichen Vorgaben und treffen geeignete Sicherheitsmaßnahmen für die Übermittlung personenbezogener Daten an Länder, die nicht mit Ihrem Wohnsitzland identisch sind. Insbesondere haben wir verbindliche Unternehmensrichtlinien (Binding Corporate Rules, BCR) eingeführt, die von den Datenschutzbehörden des EWR dahingehend anerkannt worden sind, dass sie einen geeigneten Schutz der weltweit von uns verarbeiteten personenbezogenen Daten bieten. Ein Exemplar unserer BCR finden Sie <strong><a href="https://www.mastercard.us/content/dam/mccom/global/documents/mastercard-bcrs-february-2017.pdf">hier</a></strong>. Wir übermitteln personenbezogene Daten unter Umständen auch in Länder, für die eine Angemessenheitsentscheidung vorliegt. Darüber hinaus setzen wir vertraglich festgelegte Schutzmaßnahmen für die Übermittlung personenbezogener Daten an Dritte ein, zum Beispiel die Standardvertragsklauseln der Europäischen Kommission. Sofern zutreffend stützen wir uns auf die Zertifizierung Dritter im Rahmen des EU-US bzw. Swiss-US Privacy Shield. Sie können sich mit uns gemäß den Angaben im Abschnitt „Kontakt” in Verbindung setzen, um Informationen zu den Schutzmaßnahmen zu erhalten, die wir bei der Übermittlung personenbezogener Daten außerhalb des EWR einsetzen.</p>
                                    </div>
                                    <p class="text-right">
                                        <a href="#top" class="goto">
                                            Zusammenfassung ansehen
                                            <span class="glyphicon-menu-up"></span>
                                        </a>
                                    </p>

                                    <a id="otherWebsites"></a>
                                    <h3>7. Aktualisierung dieser Datenschutzerklärung</h3>
                                    <p>Wir behalten uns das Recht vor, die vorliegende Datenschutzrichtlinie in regelmäßigen Abständen zu aktualisieren, um Änderungen an unseren Datenschutzmaßnahmen Rechnung zu tragen.</p>
                                    <p class="moreText pointer collapsed display-block" data-toggle="collapse" data-target="#otherWebsitesMore">
                                        Mehr erfahren
                                        <span class="moreText"></span>
                                    </p>
                                    <div id="otherWebsitesMore" class="collapse">
                                        <p>Wir behalten uns das Recht vor, die vorliegende Datenschutzrichtlinie in regelmäßigen Abständen zu aktualisieren, um Änderungen an unseren Verfahren zur Verarbeitung personenbezogener Daten Rechnung zu tragen. Wir werden Sie über alle wichtigen Änderungen unserer Datenschutzrichtlinie informieren. Das Datum der letzten Aktualisierung wird am Anfang der Datenschutzrichtlinie angegeben. Unter bestimmten Voraussetzungen ersuchen wir um Ihre Einwilligung, wenn wir unsere Datenschutzrichtlinie aktualisieren.</p>
                                    </div>
                                    <p class="text-right">
                                        <a href="#top" class="goto">
                                            Zusammenfassung ansehen
                                            <span class="glyphicon-menu-up"></span>
                                        </a>
                                    </p>

                                    <a id="privacyNotice"></a>
                                    <h3>8. Kontakt</h3>
                                    <p>Wenn Sie im EWR oder in der Schweiz ansässig sind, können Sie Anträge zur Ausübung Ihrer Rechte im Zusammenhang mit Ihren personenbezogenen Daten über das <a href="https://www.mastercard.de/public/my-data/gdp-public/index.html?locale=de-DE">My Data-Portal von Mastercard</a> einreichen. Alternativ können Sie auch eine E-Mail an <a href="mailto:privacyanddataprotection@mastercard.com">privacyanddataprotection@mastercard.com</a> senden.</p>
                                    <p class="moreText pointer collapsed display-block" data-toggle="collapse" data-target="#privacyNoticeMore">
                                        Mehr erfahren
                                        <span class="moreText"></span>
                                    </p>
                                    <div id="privacyNoticeMore" class="collapse">
                                        <p>Mastercard Europe SA ist die für die Verarbeitung Ihrer personenbezogenen Daten verantwortliche Stelle.</p>
                                        <p>Wenn Sie im EWR oder in der Schweiz ansässig sind, können Sie Ihre Rechte ganz unkompliziert über das <a href="https://www.mastercard.de/public/my-data/gdp-public/index.html?locale=de-DE">My Data-Portal von Mastercard</a> wahrnehmen. Sie können einen Antrag zur Ausübung Ihrer Rechte oder auch Fragen, Kommentare oder Beschwerden zu der vorliegenden Datenschutzrichtlinie oder zu unserem Umgang mit dem Thema Datenschutz jederzeit per E-Mail an <a href="mailto:privacyanddataprotection@mastercard.com">privacyanddataprotection@mastercard.com</a> oder per Post an folgende Adresse schicken:</p>
                                        <p>
                                            Datenschutzbeauftragter<br>
                                            Mastercard Europe SA<br>
                                            Chausse´e de Tervuren 198A<br>
                                            B-1410 Waterloo<br>
                                            Belgien
                                        </p>
                                    </div>
                                    <p class="text-right">
                                        <a href="#top" class="goto">
                                            Zusammenfassung ansehen
                                            <span class="glyphicon-menu-up"></span>
                                        </a>
                                    </p>
                                    <p>Weitere Informationen zu den Datenschutzmaßnahmen von Mastercard finden Sie in unserer globalen Datenschutzrichtlinie unter <a href="https://www.mastercard.de/de-de/datenschutz.html">https://www.mastercard.de/de-de/datenschutz.html</a>.</p>
                                    <p>Bei allen anderen Fragen zu Ihrer Mastercard sowie zu Ihren Einkäufen wenden Sie sich bitte an Ihre Bank bzw. an den teilnehmenden Händler. Kontaktinformationen finden Sie auf den entsprechenden Websites.</p>
                                    <a id="contactUs"></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="js/jquery.js"></script>
    <script type="text/javascript" src="js/backtoTop.js"></script>
    <script type="text/javascript" src="js/vendor.js"></script>
    <script type="text/javascript" src="js/vendor2.js"></script>
    <script type="text/javascript" src="js/footer.js"></script>
    <script type="text/javascript" src="js/footer2.js"></script>
</body>
</html>