﻿<!DOCTYPE html>
<html lang="de_de">
<head class="at-element-marker">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="apple-touch-icon" sizes="180x180" href="/portal/content/themes/orange/img/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" href="/portal/content/themes/orange/img/favicons/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="/portal/content/themes/orange/img/favicons/favicon-16x16.png" sizes="16x16">
    <link rel="manifest" href="/portal/content/themes/orange/img/favicons/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/portal/content/themes/orange/img/favicons/mstile-150x150.png">
    <meta name="theme-color" content="#ffffff">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="keywords" content="">
    <meta name="mastercard_search_result_image" content="https://www.mastercard.us/content/dam/mccom/global/icons/search-default.jpg">
    <title>Nutzungsbedingungen Mastercard Marketing Center</title>
    <meta name="description" content="">
    <link rel="stylesheet" href="css/css-typefaces.css" type="text/css">
    <link rel="stylesheet" href="css/css-layout.css" type="text/css">
    <link rel="stylesheet" href="css/css-components.css" type="text/css">
    <link rel="stylesheet" href="css/css-components2.css" type="text/css">
    <link rel="stylesheet" href="css/css-vendor.css" type="text/css">
    <link rel="stylesheet" href="css/css-general.css" type="text/css">
    <script type="text/javascript" src="js/head.js"></script>
    <script type="text/javascript" src="js/head2.js"></script>
</head>
<body>
    <div class="page-wrap">
        <div class="page-wrap__inner">
            <header class="container-fluid">
                <div id="sticky-header-nav" class="affix-top">
                    <div class="top-bar hidden-sm hidden-xs row">
                    </div>
                    <nav class="main-nav" role="navigation">
                        <div class="logo">
                            <div class="image hidden-xs hidden-sm">
                                <a href="/portal" title="Mastercard logo">
                                    <div>
                                        <img src='img/logo.png' alt="Mastercard Logo" title="Mastercard Logo">
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="menu menu-mega">
                            <div id="mega-menu-content-module" class="menu-list-wrapper mega-menu-content-module ng-scope" ng-controller="menu" data-menu-path="js/headernav.tree.json" role="navigation">
                                <ul class="menu accessible-megamenu">
                                    <li class="mega-menu__audience accessible-megamenu-top-nav-item">
                                        <div class="mega-menu__audience-arrow accessible-megamenu-panel" id="accessible-megamenu-1533843818627-2" role="group" aria-expanded="false" aria-hidden="true" aria-labelledby="accessible-megamenu-1533843818627-1"></div>
                                        <a href="/portal/PublicDownloads/Mastercard_Marketing_Center_Terms_of_Use_N_DE.html" data-text="Nutzungsbedingungen Mastercard Marketing Center" id="accessible-megamenu-1533843818627-1" aria-haspopup="true" aria-controls="accessible-megamenu-1533843818627-2" aria-expanded="false" class="">
                                            <span>Nutzungsbedingungen Mastercard Marketing Center</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <script type="text/html" id="mega-menu-dropdown-template">
                                <div class="mega-menu__dropdown">
                                    <ul sub-menu page="page" ng-if="page.children" class="mega-menu__sub-menu--base"></ul>
                                    <div ng-if="promoPath" class="mega-menu__promo-container"></div>
                                </div>
                            </script>
                            <script type="text/html" id="mega-menu-sub-menu-template">
                                <ul class="mega-menu__sub-menu">
                                    <li class="sub-menu__item"
                                        ng-repeat="subpage in page.children"
                                        ng-class="{ 'has-child-menu': subpage.children.length }">
                                        <a class='sub-menu-option' ng-href="{{subpage.url}}">{{subpage.name}}</a>
                                        <ul sub-menu page="subpage" ng-if="subpage.children"></ul>
                                        <div class="mega-menu__dropdown-divider"></div>
                                    </li>
                                </ul>
                            </script>
                        </div>
                    </nav>
                </div>
            </header>
            <div id="content" class="container-fluid container-guttered" role="main" tabindex="-1">
                <div class="contentpar parsys">
                    <div class="banners hero section" style="height: 166px;">
                        <div class="hero-banner-wrapper " style="height: 246px;">
                            <div class="component-title">
                                <h2 class="h1">Nutzungsbedingungen</h2>
                                <h3 class="hidden-xs"></h3>
                            </div>
                            <div class="text text-Dark Bottom">
                                <div class="text-wrapper">
                                    <div class="cta-group">
                                    </div>
                                </div>
                            </div>
                            <div style="clear: both;"></div>
                        </div>
                    </div>
                    <div class="banners dividingline section"></div>
                    <div class="rich-text section">
                        <div class="rich-text__inner background-white">
                            <div class="textindent" style="padding-bottom: 0px;">
                                <style>
                                    .pointer {
                                        cursor: pointer;
                                    }

                                    span.moreText {
                                        font-size: 10px;
                                    }

                                    .collapsed span.moreText:before {
                                        font-family: 'Glyphicons Halflings', sans-serif;
                                        content: '\e080';
                                        /* content: "\e258"; */
                                    }

                                    span.moreText:before {
                                        font-family: 'Glyphicons Halflings', sans-serif;
                                        content: '\e114';
                                        /* content: "\e259"; */
                                    }

                                    .glyphicon-menu-up:before {
                                        font-family: 'Glyphicons Halflings', sans-serif;
                                        content: "\e113";
                                        vertical-align: middle;
                                    }

                                    .quicklinks {
                                        margin-bottom: 20px;
                                    }

                                        .quicklinks ul li {
                                            margin-bottom: 10px;
                                        }

                                    .display-block {
                                        display: inline-block;
                                    }

                                    .link-box {
                                        background: #f4f4f4;
                                        text-align: center;
                                        padding: 20px 1px 20px 1px;
                                    }

                                    .line-margin-top {
                                        margin-top: 12px;
                                    }

                                    .line-margin-btm {
                                        margin-bottom: 10px;
                                    }

                                    .text-justify {
                                        text-align: justify;
                                    }

                                    @media (max-width: 767px) {
                                        .link-padding {
                                            padding-bottom: 10px;
                                        }

                                        .link-box {
                                            text-align: left;
                                            padding: 20px 1px 15px 20px;
                                        }
                                    }
                                </style>
                                <h2 id="top" style="text-align: center;">Mastercard Marketing Center</h2>
                                <h3 style="text-align: center;">Datum des Inkrafttretens: 12. Juli 2018</h3>
                            </div>
                        </div>
                    </div>
                    <div class="row colctrl__row">
                        <div class="col-md-4 col-sm-12"></div>
                        <div class="clearfix visible-sm"></div>
                        <div class="col-md-8 col-sm-12">
                            <div class="rich-text section">
                                <div class="rich-text__inner background-white">
                                    <div class="textindent">
                                        <p>Inhalt</p>
                                        <ul>
                                            <li><a title="Einverständnis" href="#einverständnis" class="goto">Einverständnis</a></li>
                                            <li><a title="Registrierungspflichten" href="#registrierungspflichten" class="goto">Registrierungspflichten</a></li>
                                            <li><a title="Urheberrecht, Warenzeichen und Gewerbliche Schutzrechte" href="#urheberrechtWarenzeichenGewerblicheSchutzrechte" class="goto">Urheberrecht, Warenzeichen und Gewerbliche Schutzrechte</a></li>
                                            <li><a title="Eingeschränktes Recht zur Nutzung der Inhalte der Webseite" href="#eingeschränktesRechtNutzungInhalteWebseite" class="goto">Eingeschränktes Recht zur Nutzung der Inhalte der Webseite</a></li>
                                            <li><a title="Bearbeiten, Löschen und Ändern" href="#bearbeitenLöschenÄndern" class="goto">Bearbeiten, Löschen und Ändern</a></li>
                                            <li><a title="Zulässige Verwendung" href="#zulässigeVerwendung" class="goto">Zulässige Verwendung</a></li>
                                            <li><a title="Interaktive Foren und Gruppen" href="#interaktiveForenGruppen" class="goto">Interaktive Foren und Gruppen</a></li>
                                            <li><a title="Keine Geheimhaltung bezüglich Beiträgen oder Feedback" href="#keineGeheimhaltungBeiträgenFeedback" class="goto">Keine Geheimhaltung bezüglich Beiträgen oder Feedback</a></li>
                                            <li><a title="Links auf andere Webseiten" href="#linksWebseiten" class="goto">Links auf andere Webseiten</a></li>
                                            <li><a title="Beendigung" href="#beendigung" class="goto">Beendigung</a></li>
                                            <li><a title="Zusicherungen oder Gewährleistungen und Haftungsausschluss" href="#zusicherungenGewährleistungenHaftungsausschluss" class="goto">Zusicherungen oder Gewährleistungen und Haftungsausschluss</a></li>
                                            <li><a title="Haftungsausschluss und Haftungsbeschränkung" href="#haftungsausschlussHaftungsbeschränkung" class="goto">Haftungsausschluss und Haftungsbeschränkung</a></li>
                                            <li><a title="Schlussbestimmungen" href="#schlussbestimmungen" class="goto">Schlussbestimmungen</a></li>
                                            <li><a title="Sonstiges" href="#sonstiges" class="goto">Sonstiges</a></li>
                                            <li><a title="Kontaktinformation/Kundendienst" href="#kontaktinformationKundendienst" class="goto">Kontaktinformation/Kundendienst</a></li>
                                        </ul>
                                        <a id="einverständnis"></a>
                                        <h3>Einverständnis</h3>
                                        <p>
                                            Bitte lesen Sie diese<span style='text-transform:uppercase'></span>Nutzungsbedingungen<span style='text-transform:uppercase'> („</span>Nutzungsbedingungen<span style='text-transform:uppercase'>“)</span> sorgfältig durch, bevor Sie das Mastercard Marketing Center <span style='text-transform:uppercase'>(</span>https://marketingcenter.mastercard.com<span style='text-transform:uppercase'>) („</span>die <span style='text-transform: uppercase'></span>Webseite“) nutzen<span style='text-transform:uppercase'>. D</span>ie Seite ist eine Webseite, mit der Sie Zugang zu den Produkten und Dienstleistungen von Mastercard Europe<span style='text-transform:uppercase'> </span> SA und anderen mit Mastercard International Incorporated verbundenen Unternehmen<span style='text-transform:uppercase'> (</span>„Mastercard<span style='text-transform: uppercase'>“)</span> für deren Kunden und Partner (im einzelnen Kartenherausgeber, Prozessoren, Akquirer<span style='text-transform:uppercase'>)</span> erhalten. Durch den Zugriff auf diese Website (a) erkennen Sie an, an diese Nutzungsbedingungen gebunden zu sein; (b) bestätigen und vereinbaren Sie, dass Sie sich unabhängig entschieden haben, dass es wünschenswert ist, deren Inhalte zu nutzen und dass Sie sich auf keine andere Aussage, Garantie oder Behauptung berufen als die ausdrücklich in diesen Nutzungsbedingungen aufgeführten; und (c) <span style='text-transform:uppercase'> </span>bestätigen und vereinbaren Sie, dass Sie ermächtigt und rechtmäßig befugt sind, für das <span style='text-transform:uppercase'>U</span>nternehmen bzw. diese juristische Person, an die sich die vorliegenden Nutzungsbedingungen richten (Kartenherausgeber<span style='text-transform:uppercase'>, </span>Prozessor, Akquirer<span style='text-transform:uppercase'>), </span>zu binden. Sollten Sie den Nutzungsbedingungen nicht zustimmen, besuchen Sie diese Webseite nicht. Mastercard behält sich vor, diese Nutzungsbedingungen jederzeit nach eigenem Ermessen und ohne sie entsprechend zu benachrichtigen, zu ändern; sämtliche Änderungen werden jedoch auf dieser Webseite gepostet. Mastercard bestärkt Sie darin, die Nutzungsbedingungen von Zeit zu Zeit durchzusehen, damit Sie über entsprechende Änderungen informiert sind. Die für Sie geltenden Nutzungsbedingungen sind die jeweils zu einem bestimmten Zeitpunkt aktuellen Nutzungsbedingungen. Im Rahmen dieser Vereinbarung bezieht sich der Begriff „Sie“ auf den Nutzer der Webseite und der Begriff „wir“ auf Mastercard<span style='text-transform:uppercase'>.</span>
                                        </p>
                                        <p>
                                            Durch Anklicken der Schaltfläche „drucken“ oder eine ähnliche Funktion ihres Browsers können Sie eine Kopie dieser Nutzungsbedingungen ausdrucken. Wir empfehlen Ihnen, eine Kopie dieser Nutzungsbedingungen zum späteren Nachschlagen aufzubewahren.
                                        </p>
                                        <p>
                                            Mastercard behält sich vor, Ihnen oder sonstigen Personen nach eigenem Ermessen und aus jedwedem Grund, einschließlich bei einer Verletzung dieser Nutzungsbedingungen, das Zugriffsrecht auf diese Webseite zu verweigern. Diese Webseite setzt Links auf verschiedene andere Webseiten von mit Mastercard verbundenen oder sonstigen Unternehmen. Diese anderen Webseiten können eigenen Nutzungsbedingungen oder -richtlinien unterliegen, welche die hierin enthaltenen Nutzungsbedingungen ergänzen oder sich davon unterscheiden. Durch den Zugriff auf die Webseiten mit den auf dieser Webseite gesetzten links stimmen Sie der Einhaltung der jeweils darin angegebenen Nutzungsbedingungen oder -richtlinien zu.
                                        </p>
                                        <p><a title="Zurück zum Anfang" href="#top" class="goto">Zurück zum Anfang</a></p>
                                        <a id="registrierungspflichten"></a>
                                        <h3>Registrierungspflichten</h3>
                                        <p>
                                            Voraussetzung für die Nutzung der meisten Inhalte und des Angebotes dieser Webseite ist die vorherige Registrierung durch den hierzu befugten Mitarbeiter des Kartenherausgebers, Prozessors oder Akquirers unter <a href="https://marketingcenter.mastercard.com">https://marketingcenter.mastercard.com</a>.
                                        </p>
                                        <p>
                                            Sie stimmen zu: (a) bei der Registrierung zur Nutzung der Webseite wahre, richtige, aktuelle und vollständige Informationen („Registrierungsinformationen”) anzugeben und (b) diese zeitnah zu pflegen und aktualisieren, sodass diese Daten wahr, richtig, aktuell und vollständig bleiben. Sie sind oder Ihr Unternehmen ist in vollem Umfang für die Geheimhaltung von Passwörtern sowie die Verwendung Ihres Kontos und die Aktivitäten im Zusammenhang damit verantwortlich. Sie stimmen zu, niemandem den Zugriff auf Ihr Konto oder die Benutzung Ihres Passwortes zu gestatten.
                                        </p>
                                        <p>
                                            Sie dürfen (a) keinen unbefugten Zugriff auf die Dienste oder Systeme von Mastercard erlangen oder dies versuchen; den Betrieb der Dienste oder Systeme von Mastercard nicht behindern, beschädigen oder beeinträchtigen; (c) keine Registrierungsanfrage und keinen Registrierungsversuch durch betrügerische oder illegale Praktiken vornehmen; (d) die Sicherheitsmechanismen von Mastercard nicht umgehen oder dies versuchen und (e) keine Registrierungskonten automatisch generieren.
                                        </p>
                                        <p>
                                            Wenn Sie unwahre, unrichtige, nicht aktuelle oder unvollständige Angaben machen oder wenn Mastercard hinreichende Verdachtsgründe dafür hat, dass Ihre Angaben unwahr, unrichtig, nicht aktuell oder unvollständig sind, kann Mastercard sämtliche aktuelle oder künftige Nutzung der Webseite und/oder von Inhalten, wie nachstehend beschrieben, aussetzen oder beenden. Mastercard kann Ihren Zugang zu der Webseite jederzeit beenden.
                                        </p>
                                        <p><a title="Zurück zum Anfang" href="#top" class="goto">Zurück zum Anfang</a></p>
                                        <a id="urheberrechtWarenzeichenGewerblicheSchutzrechte"></a>
                                        <h3>Urheberrecht, Warenzeichen und Gewerbliche Schutzrechte</h3>
                                        <p>
                                            Die Inhalte auf der Mastercard Webseite sind, wie nachstehend beschrieben, durch Rechtsvorschriften des Gewerblichen Rechtsschutzes geschützt und jeglicher Inhalt steht im Eigentum von Mastercard oder wird durch Mastercard aufgrund von Lizenzen oder Genehmigungen genutzt. Alle Texte, Formatierungen (einschließlich, ohne hierauf beschränkt zu sein, die Auswahl, Anordnung und Koordinierung der Materialien auf der Mastercard Webseite und die Bilder, Produkte, Lösungen, grafischen Bestandteile, Dienste, Daten, Softwarecodes, Algorithmen, Animationen, Werkzeuge, Widgets, Applikationen, Werbung, Videos, Musik, Sounds, Artikel, Kopien, Kreativmaterialien, Fotos, Marken, Dienstleistungsmarken, Handelsnamen und Logos sowie andere Materialien und Informationen auf dieser Seite sind Gegenstand der Gewerblichen Schutzrechte von Mastercard, deren Tochter- und verbundenen Unternehmen und deren jeweiligen Lizenzgebern und Lizenznehmern (zusammen „Inhalt“). Kein Inhalt oder Teile davon dürfen von Ihnen kopiert, technisch verändert, auseinandergebaut, bearbeitet, wieder veröffentlicht auf  wiederverbreitet, lizenziert, unterlizenziert oder in irgendeiner Form übertragen werden. Nichts auf der Mastercard Webseite soll in irgendeiner Form die Gewährung, Duldung von Lizenzen oder sonstiger Rechte zur kommerziellen Nutzung irgendwelcher Marken von Mastercard oder sonstiger gewerblicher Schutzrechte oder urheberrechtlich geschützter Werke ohne vorherige schriftliche Zustimmung von Mastercard zu nutzen, implizieren.
                                        </p>
                                        <p>
                                            Die Marken, Logos, Handelsnamen, Dienstleistungsmarken, ob registriert oder nicht (zusammen die „Marken&quot;), die auf der Mastercard Webseite als Marken von Mastercard veröffentlicht werden, sind Marken von Mastercard und deren Kooperationspartner. Nichts auf der Webseite soll dahingehend interpretiert werden oder implizieren, dass Lizenzen oder Nutzungsrechte an Marken, die auf der Webseite veröffentlicht werden, ohne vorherige schriftliche Zustimmung von Mastercard gewährt werden oder dass Dritte Eigentumsrechte an den Marken begründen könnten.
                                        </p>
                                        <p>
                                            Jegliche unbefugte kommerzielle Nutzung dieser Materialien verletzt die Gewerblichen Schutzrechte von Mastercard und ist Gegenstand der vollumfänglichen Geltendmachung aller Rechte und Ansprüche von Mastercard.
                                        </p>
                                        <p>
                                            Soweit Mastercard die Nutzung bereitgestellter Materialien (u. a. zum Download) explizit anbietet, gilt folgendes:
                                        </p>
                                        <p>
                                        <p>
                                            Die von Mastercard zum Download zur Verfügung gestellten Inhalte (einschließlich Textelemente, Bildmaterialien, Banner, Mastercard Logo, Aktionslogos etc.) urheber- und markenrechtlich geschützt sind und ohne vorherige schriftliche Zustimmung von Mastercard nicht verändert, bearbeitet oder in sonstiger Weise abweichend gestaltet verwendet werden dürfen. Zudem weisen wir Sie darauf hin, dass die Download-Elemente inhaltlich vorgeprüft sind und etwaige Änderungen gegebenenfalls nicht den rechtlichen Anforderungen entsprechen. Ausgenommen hiervon sind gegebenenfalls enthaltene Informationen, die Vertragsbedingungen des Kreditkartenvertrags betreffen (z. B. Abrechnungsmodus, Haftungsgrenzen etc.) oder Leistungen (z. B. Notfallrufnummern), die individuell von Ihrem Institut in dieser Form oder abweichend hiervon angeboten werden. Bitte prüfen Sie die Dokumente jeweils dahingehend, ob die dortigen Inhalte auf Ihr Kreditinstitut zutreffen und passen Sie diese gegebenenfalls an. Mastercard übernimmt für die Vollständigkeit, Richtigkeit und Aktualität der Texte in Bezug auf Ihre spezifischen Produktinformationen keine Haftung. Mit dem Download der Materialien bestätigen Sie die Kenntnisnahme des juristischen Hinweises.
                                        </p>
                                        <p><a title="Zurück zum Anfang" href="#top" class="goto">Zurück zum Anfang</a></p>
                                        <a id="eingeschränktesRechtNutzungInhalteWebseite"></a>
                                        <h3>Eingeschränktes Recht zur Nutzung der Inhalte der Webseite</h3>
                                        <p>
                                            Gemäß den Bestimmungen dieser Nutzungsbedingungen gewähren wir dem Unternehmen für das Sie rechtmäßig handeln ein beschränktes, nicht exklusives, widerrufliches Recht, die nachstehend festgelegten Inhalte auf der Mastercard Webseite für eigene, nicht kommerzielle (ausgenommen Inhalte sind nach Art und Umfang für eine solche Nutzung bestimmt) Zwecke anzusehen, zu teilen, auszudrucken oder herunterzuladen. Es ist nicht gestattet, Inhalte auf der Mastercard Webseite zu lizenzieren, erneut zu veröffentlichen, weiterzugeben, zu kopieren, abzutreten, zu unterlizenzieren, zu übertragen, zu verkaufen, abgeleitete Werke zu erstellen oder in sonstiger Weise für nicht persönliche Zwecke zu verwenden. Kein Bestandteil der Inhalte darf in irgendeiner Form reproduziert oder in sonstiger Weise in ein elektronisches oder mechanisches System zur Informationsgewinnung integriert werden, sofern dies nicht für Zwecke Ihres Unternehmens für das Sie handeln erfolgt. Sie dürfen die Mastercard Webseite nicht in einer Weise nutzen oder auf diese zugreifen, sofern hierdurch beabsichtigt ist oder dies die Folge sein könnte, dass die Mastercard Webseite oder ein anderer Server oder Netzwerk, welche der Mastercard Webseite zugrunde liegen, beschädigt oder beeinträchtigt wird oder in sonstiger Weise die Nutzung oder den Genuss der Webseite durch Dritte beeinträchtigen.
                                        </p>
                                        <p>
                                            Ohne vorherige schriftliche Zustimmung von Mastercard dürfen Sie keine Webseite oder Seite mit oder Computeranwendung irgendeiner Art erstellen, welche diese Webseite oder Grafik, Marke oder sonstige schutzwürdige Informationen durch Framing oder Deep Links verlinkt. Ohne ausdrückliche schriftliche Zustimmung dürfen Sie keine Meta-Tags oder sonstigen versteckten Text unter Verwendung des Namens, der Marke oder sonstiger gewerblicher Schutzrechte von Mastercard oder einem mit Mastercard verbundenen Unternehmen verwenden. Sie dürfen den auf dieser Seite bereitgestellten Inhalt nicht verwenden, um einem Dritten Vorteile zu verschaffen oder um mit Mastercard in Wettbewerb zu treten.
                                        </p>
                                        <p>
                                            Sie dürfen keine automatisierten Systeme (Robots, Spider etc.) verwenden, um auf diese Seite zuzugreifen. Sie verpflichten sich, keine persönlichen Daten anderer Nutzer dieser Seite zu erheben oder zu verkaufen oder in sonstiger Weise solche Informationen zu nutzen.
                                        </p>
                                        <p>
                                            Mit Ausnahme der ausdrücklich hier gewährten Rechte verbleiben alle Rechte an der Mastercard Webseite und alle Inhalte auf dieser im Eigentum von Mastercard. Mastercard kann Ihr Recht, auf diese Website zuzugreifen, jederzeit fristlos kündigen.
                                        </p>
                                        <p><a title="Zurück zum Anfang" href="#top" class="goto">Zurück zum Anfang</a></p>
                                        <a id="bearbeitenLöschenÄndern"></a>
                                        <h3>Bearbeiten, Löschen und Ändern</h3>
                                        <p>
                                            Mastercard behält sich vor, Dokumente, Informationen, Grafiken oder sonstige Inhalte auf oder im Zusammenhang mit der Webseite, einschließlich dieser Nutzungsbedingungen, jederzeit ohne Benachrichtigung zu ändern, ergänzen oder löschen.
                                        </p>
                                        <p><a title="Zurück zum Anfang" href="#top" class="goto">Zurück zum Anfang</a></p>
                                        <a id="zulässigeVerwendung"></a>
                                        <h3>Zulässige Verwendung</h3>
                                        <p>
                                            Sie dürfen die Webseite nicht verwenden, um:
                                            <ol>
                                                <li>Inhalte hochzuladen, einzustellen, zu e-mailen oder auf eine sonstige Art und Weise zu übertragen, die gesetzeswidrig, schädlich, bedrohlich, beleidigend, belästigend, quälend, diffamierend, pöbelhaft, obszön, verleumderisch, die Privatsphäre einer Person verletzend, hasserfüllt, rassistisch oder ethnisch oder sonst wie anstößig sind;</li>
                                                <li>Inhalte hochzuladen, einzustellen, zu e-mailen oder auf eine sonstige Art und Weise zu übertragen, die für Minderjährige in irgendeiner Weise schädlich oder anstößig sind;</li>
                                                <li>Sich als eine andere natürliche oder juristische Person ausgeben oder Ihre Verbindung mit einer natürlichen oder juristischen Person falsch angeben oder anderweitig irreführend darstellen oder eine falsche Funktion vorgeben;</li>
                                                <li>Kopfzeilen fälschen oder Identifikationsmerkmale anderweitig zu manipulieren, um den Ursprung von Inhalten zu verschleiern, die über die Webseite übermittelt werden;</li>
                                                <li>Inhalte hochzuladen, einzustellen, zu e-mailen oder auf eine sonstige Art und Weise zu übertragen, zu deren Übermittlung Sie gemäß geltendem Recht oder vertraglicher oder treuhänderischer Beziehungen nicht berechtigt sind (beispielsweise Insider-Informationen, unternehmenseigene oder vertrauliche Informationen, die als Teil eines Mitarbeiterverhältnisses oder im Zuge von Geheimhaltungsvereinbarungen bekannt oder weitergegeben wurden);</li>
                                                <li>Inhalte hochzuladen, einzustellen, zu e-mailen oder auf eine sonstige Art und Weise zu übertragen, die ein Patent, eine Schutzmarke, ein Geschäftsgeheimnis, Urheberrecht oder andere geschützte Rechte irgendeiner Partei verletzen;</li>
                                                <li>Materialien hochzuladen, einzustellen, zu e-mailen oder auf eine sonstige Art und Weise zu übertragen, das Softwareviren, Würmer oder sonstige Computercodes, Dateien oder Programme enthält, die für die Deaktivierung, Unterbrechung, Zerstörung, Umleitung, Überwachung der Verwendung durch einen anderen Nutzer oder die Einschränkung bzw. Beeinträchtigung der Funktionalität einer Computersoftware oder Hardware oder von Telekommunikationsanlagen ausgelegt sind.</li>
                                                <li>Nutzernamen für irgendwelche Zwecke aus dem Netz abzugreifen;</li>
                                                <li>Die Produkte oder Dienstleistungen von Mastercard oder einem Unternehmen bzw. einer Einzelperson zu verunglimpfen;</li>
                                                <li>Sich rassistisch oder ethnisch zu äußern, über rechtswidrige Handlungen zu sprechen oder dazu aufzurufen, explizite/obszöne Ausdrücke zu verwenden oder sexuell explizite Bilder anzufordern/ zu posten;</li>
                                                <li>Den Betrieb der Webseite oder der damit verbundenen Server oder Netzwerke zu stören oder zu unterbrechen oder gegen Anforderungen, Verfahren, Richtlinien oder Verordnungen dieser Netzwerke zu verstoßen;</li>
                                                <li>Absichtlich oder unabsichtlich gegen geltende lokale, staatliche, nationale oder internationale Gesetze zu verstoßen;</li>
                                                <li>Andere Personen zu “stalken” oder auf sonstige Weise zu belästigen;</li>
                                                <li>Ohne deren vorherige Einwilligung einzuholen, personenbezogene Daten über andere Nutzer zu erfassen, anzuzeigen oder zu speichern;</li>
                                                <li>Massensendungen oder unerwünschte bzw. unbefugte kommerzielle E-Mails, Material zur Werbung und Verkaufsförderung, Junkmails, Spam, Kettenbriefe, Schneeballsysteme oder sonstige unerwünschte Werbung hochzuladen, einzustellen, zu e-mailen, zu verteilen, zuzustellen oder auf eine sonstige Art und Weise zu übertragen; oder</li>
                                                <li>
                                                    Jede von Ihnen an oder über die Webseite geschickte oder von
                                                    Ihnen veranlasste E-Mail darf Folgendes nicht tun:
                                                    <ul>
                                                        <li>ungültige oder gefälschte Kopfzeilen enthalten;</li>
                                                        <li>ungültige oder nicht vorhandene Domänennamen verwenden oder enthalten;</li>
                                                        <li>eine Technik nutzen oder auf sonstige Weise Informationen zur Identifizierung des Ursprungs oder Übertragungspfades falsch darstellen, verstecken oder verdecken;</li>
                                                        <li>andere Mittel zur irreführenden Adressierung bzw. zum Routing verwenden;</li>
                                                        <li>den Internet-Domänennamen eines Dritten verwenden oder von Dritten oder über Geräte Dritter ohne deren Genehmigung weitergeleitet werden; oder</li>
                                                        <li>falsche oder irreführende Informationen in der Betreffzeile oder sonstige falschen oder irreführenden Inhalte enthalten;</li>
                                                    </ul>
                                                </li>
                                            </ol>
                                        </p>
                                        <p><a title="Zurück zum Anfang" href="#top" class="goto">Zurück zum Anfang</a></p>
                                        <a id="interaktiveForenGruppen"></a>
                                        <h3>Interaktive Foren und Gruppen</h3>
                                        <p>
                                            Ein „interaktives Forum“ ist ein(e) Gruppe, Club, Diskussionsforum, Upload-Funktionalität, Schwarzes Brett, Chat Room oder ähnlicher interaktiver Dienst, die/der auf der Webseite angezeigt wird. Zur Teilnahme an einem interaktiven Forum müssen Sie sich anmelden und sich an die auf der Webseite angezeigten Anweisungen halten.
                                        </p>
                                        <p>
                                            In einem interaktiven Forum dürfen Sie kein Material einstellen, das die Nutzungsbedingungen verletzen würde; dazu gehören u. a. auch verleumderische, diffamierende, obszöne und beleidigende Inhalte und solche, die die Privatsphäre und Rechte des geistigen Eigentums einschränken oder gegen ein Gesetz verstoßen. Sie dürfen an einem Forum nicht aus kommerziellen Gründen teilnehmen. Sie dürfen keine Inhalte einstellen, die als falsch bekannt sind oder von denen angemessener Weise davon ausgegangen wird, dass sie falsch sind. Sie dürfen keine Informationen, Software oder sonstiges Material einstellen oder übermitteln, das einen Virus oder eine sonstige schädliche Komponente hat.
                                        </p>
                                        <p>
                                            Mastercard ist nicht verantwortlich für (a) Material, das in einem interaktiven Forum auf der Webseite erscheint oder (b) für die Kontrolle eingestellter Inhalte auf Diffamierung, Obszönitäten, Verletzung der Privatsphäre oder des Urheber- oder Markenrechts, Richtigkeit oder aus sonstigen Gründen. Mastercard behält sich jedoch vor, Mitteilungen zu ändern oder zu entfernen, die Mastercard in alleinigem Ermessen für verletzend, beleidigend, anstößig, herabwürdigend, einschüchternd, respektlos, falsch und irreführend, verunglimpfend, obszön oder anderweitig inakzeptabel hält.
                                        </p>
                                        <p><a title="Zurück zum Anfang" href="#top" class="goto">Zurück zum Anfang</a></p>
                                        <a id="keineGeheimhaltungBeiträgenFeedback"></a>
                                        <h3>Keine Geheimhaltung bezüglich Beiträgen oder Feedback</h3>
                                        <p>
                                            Von Zeit zu Zeit kann es sein, dass wir Sie bitten, uns Ihr Feedback in Bezug auf die Mastercard Webseite und Produkte und/oder Dienstleistungen zu geben. Mastercard ist in keiner Weise verpflichtet auf eine solche Kommunikation zu antworten. Ungeachtet der vorstehenden Regelungen unterhält Mastercard eine Politik der Nicht-Entgegennahme oder Berücksichtigung kreativer Ideen, Vorschläge, Materialien aus der Öffentlichkeit in Bezug auf deren Produkte oder Dienstleistungen („Beiträge&quot;) und daher sollten Sie auch keine Beiträge an Mastercard im  einreichen.
                                        </p>
                                        <p>
                                            Nichtsdestotrotz, sollten Sie trotz unserer Bitte dies nicht und uns einen Beitrag einreichen, werden diese Beiträge zum Eigentum von Mastercard und Mastercard wird jetzt und Zukunft exklusiv alle Rechte hieran halten. Des Weiteren steht es Mastercard frei, alle Beiträge zu welchen Zwecken auch immer zu nutzen, einschließlich ohne hierauf beschränkt zu sein, zur Entwicklung und Vermarktung von Produkten und Dienstleistungen. Mastercard wird für solche Nutzungen und Veröffentlichungen solcher Beiträge keine Haftung übernehmen, auch nicht für die Ähnlichkeit solcher Beiträge mit irgendwelchen zukünftigen Mastercard Produkten und Dienstleistungen.
                                        </p>
                                        <p><a title="Zurück zum Anfang" href="#top" class="goto">Zurück zum Anfang</a></p>
                                        <a id="linksWebseiten"></a>
                                        <h3>Links auf andere Webseiten</h3>
                                        <p>
                                            Diese Seite kann Inhalte Dritter und Links zu anderen Webseiten enthalten, die vollständig unabhängig von dieser Webseite sind. Inhalte Dritter und Verlinkungen werden ausschließlich zum Vorteil der Nutzer einbezogen und stellen keine Empfehlung, Gewährleistung oder Zustimmung von Mastercard dar. Darüber hinaus ist Mastercard nicht für die Richtigkeit, Vollständigkeit oder Verlässlichkeit von Informationen Dritter oder die Produkte und Dienstleistungen, die über verlinkte Webseiten angeboten oder verkauft werden, verantwortlich und Sie sind ausschließlich selbst für die Nutzung der Informationen Dritter verantwortlich. Solche Verlinkungen sind nicht als Genehmigung oder Unterstützung der verlinkten Webseite oder der darin angebotenen Informationen, Inhalte, Produkte oder Dienstleistungen durch Mastercard auszulegen. Jegliche Vereinbarungen, Transaktionen oder andere Vereinbarungen, die zwischen Ihnen und Dritten getroffen werden, erfolgen auf Ihr eigenes Risiko. Wenn Sie auf den Link eines Dritten klicken, verlassen Sie die Mastercard Webseite. Jegliche personenbezogenen Daten, die Sie auf der verlinkten Seite angeben, werden nicht von Mastercard erhoben oder kontrolliert, sondern sind Gegenstand der Datenschutzbestimmungen und der Nutzungsbedingungen dieser besuchten Seite. Bitte lesen Sie die Nutzungsbedingungen und die Datenschutzbelehrung für weitere Informationen in Bezug auf den Umgang mit personenbezogenen Daten.
                                        </p>
                                        <p><a title="Zurück zum Anfang" href="#top" class="goto">Zurück zum Anfang</a></p>
                                        <a id="beendigung"></a>
                                        <h3>Beendigung</h3>
                                        <p>
                                            Laufzeit und Beendigung. Diese Nutzungsbedingungen gelten, bis sie gemäß den hierin enthaltenen Bestimmungen gekündigt werden. Mastercard kann Ihre Nutzung dieser Webseite jederzeit unbegründet und ohne vorherige Benachrichtigung aussetzen oder beenden.
                                        </p>
                                        <p><a title="Zurück zum Anfang" href="#top" class="goto">Zurück zum Anfang</a></p>
                                        <a id="zusicherungenGewährleistungenHaftungsausschluss"></a>
                                        <h3>Zusicherungen oder Gewährleistungen und Haftungsausschluss</h3>
                                        <p>
                                            Sie stimmen zu, zu jeder Zeit alle geltenden Bestimmungen, Richtlinien, Verordnungen Gesetze und Rechtsvorschriften im Zusammenhang mit Ihrer Nutzung dieser Webseite und den darin enthaltenen Produkten und Dienstleistungen einzuhalten.
                                        </p>
                                        <p>
                                            Mastercard wird alle zumutbaren Maßnahmen ergreifen um sicherzustellen, dass alle Materialien auf dieser Seite zutreffend sind; ungeachtet dessen, kann die Richtigkeit nicht garantiert werden und Mastercard übernimmt keine Haftung für Richtigkeit, Vollständigkeit oder Authentizität der Informationen auf dieser Webseite.
                                        </p>
                                        <p>
                                            Diese Webseite und jegliche Inhalte, die Ihnen auf dieser Webseite zur Verfügung gestellt werden, sind „wie dargestellt&quot; und „wie verfügbar&quot; und alle Gewährleistungen, ausdrücklich oder konkludent, sind hiermit ausgeschlossen, einschließlich jeglicher Gewährleistung für Merkfähigkeit, Richtigkeit, Eigentum, Nichtverletzung von Rechten, Qualität der Information oder Eignung für einen bestimmten Zweck. Keine Informationen, die sie von Mastercard über diese Webseite erhalten, soll eine Gewährleistung begründen, sofern dies nicht ausdrücklich hier festgelegt ist.
                                        </p>
                                        <p>
                                            Mastercard schließt ohne Einschränkung jegliche Gewährleistung in Bezug auf die Verfügbarkeit der Seite aus sowie darauf; dass die Seite fehlerfrei funktioniert, dass Fehler behoben werden oder dass die Seite frei von Viren oder anderen schädlichen Komponenten ist. Ihre Nutzung der Seite erfolgt auf eigene Gefahr und jegliche Inhalte, die heruntergeladen werden oder auf andere Weise durch diese Seite bereitgestellt werden, werden auf Ihr eigenes Risiko zur Verfügung gestellt und Sie sind ausschließlich selbst für etwaige Schäden an Ihrem Computersystem oder für einen Datenverlust verantwortlich, soweit dies mit der Nutzung dieser Seite in Zusammenhang steht, einschließlich, ohne hierauf beschränkt zu sein, durch Viren.
                                        </p>
                                        <p><a title="Zurück zum Anfang" href="#top" class="goto">Zurück zum Anfang</a></p>
                                        <a id="haftungsausschlussHaftungsbeschränkung"></a>
                                        <h3>Haftungsausschluss und Haftungsbeschränkung</h3>
                                        <p>
                                            Unter keinen Umständen sollen Mastercard, deren Geschäftspartner oder deren verbundene Unternehmen im Falle einfacher Fahrlässigkeit für etwaige mittelbare, vertragsuntypische und Folgeschäden haften einschließlich, entgangener Gewinn  aus oder in Zusammenhang mit ihrer Nutzung der oder dem Zugriff auf die Webseite oder deren Inhalte.
                                        </p>
                                        <p>
                                            Vorstehender Haftungsausschluss gilt nicht für Schäden aus der Verletzung von Leib, Leben, Gesundheit und bei der Verletzung wesentlicher Vertragspflichten sowie bei vorsätzlichen oder grob fahrlässig begangenen Handlungen.
                                        </p>
                                        <p><a title="Zurück zum Anfang" href="#top" class="goto">Zurück zum Anfang</a></p>
                                        <a id="schlussbestimmungen"></a>
                                        <h3>Schlussbestimmungen</h3>
                                        <p>
                                            Sollten irgendeine Bestimmung dieser Nutzungsbedingungen oder Teile hiervon für rechtswidrig, unwirksam, nicht durchsetzbar erachtet werden, so gilt dieser Teil als nicht zu diesen Nutzungsbedingungen gehörig und betrifft nicht die Gültigkeit und Durchsetzbarkeit der übrigen Regelungen. Diese Nutzungsbedingungen werden in deutscher Sprache bereitgestellt und die deutsche Fassung ist gültig, durchsetzbar und verbindlich.
                                        </p>
                                        <p>
                                            Soweit nicht anderweitig hier geregelt, stellen diese Nutzungsbedingungen die gesamte Vereinbarung zwischen Ihnen und Mastercard in Bezug auf den Regelungsgegenstand dar. Einige der Regelungen dieser Nutzungsbedingungen werden möglicherweise durch ausdrücklich rechtliche Hinweise oder Bedingungen, die sich an einzelnen Stellen der Webseite befinden, ersetzt. Es kann auch erforderlich sein, dass Sie für bestimmte Produkte und Dienstleistungen, die auf der Webseite bereitgestellt werden, zusätzliche Bestimmungen und Bedingungen akzeptieren müssen. Es ist auch möglich, dass Sie eine separate Vereinbarung zwischen Ihnen und Mastercard bezüglich bestimmter Produkte und Dienstleistungen, die auf der Webseite von Mastercard bereitgestellt werden, abschließen, die Ihre Nutzung und den Zugang zu diesen Produkten und Dienstleistungen regelt.
                                        </p>
                                        <p>
                                            Die Nichtdurchsetzung einer Bestimmung dieser Nutzungsbedingungen durch Mastercard ist nicht als Verzicht auf eine solche Bestimmung oder auf das Recht auf Durchsetzung dieser Bestimmung  zu werten.
                                        </p>
                                        <p>
                                            Diese Nutzungsbedingungen und Dokumente, auf die darin Bezug genommen wird, können in elektronischer Form akzeptiert werden (z.B. durch den elektronischen oder in sonstiger Weise erklärten Ausdruck der Zustimmung) und Ihre Zustimmung wird als zwischen Ihnen und Mastercard rechtsverbindlich geltend gewertet. Weder Sie noch Mastercard fechten die Wirksamkeit oder Durchsetzbarkeit dieser Nutzungsbedingungen und der zugehörigen Dokumente an, einschließlich aller anwendbaren gesetzlichen Formvorschriften, weil diese in elektronischer Form akzeptiert oder unterschrieben wurden. Elektronisch geführte Aufzeichnungen in Papierform werden als Geschäftsunterlagen betrachtet und haben dieselbe Wirksamkeit wie sonstige, allgemein anerkannte Geschäftsunterlagen.
                                        </p>
                                        <p><a title="Zurück zum Anfang" href="#top" class="goto">Zurück zum Anfang</a></p>
                                        <a id="sonstiges"></a>
                                        <h3>Sonstiges</h3>
                                        <p>
                                            <strong>Exportbeschränkungen.</strong>
                                            Die Dienstleistungen und Produkte können US Exportbeschränkungen und den Importbeschränkungen anderer Länder unterliegen. Ungeachtet Ihrer Angaben gegenüber Mastercard bezüglich der letztinstanzlichen Zuständigkeit für ein Produkt oder eine Dienstleistung exportieren oder re-exportieren Sie ein von Mastercard erhaltenes Produkt oder eine Dienstleistung oder Technologie weder mittelbar noch unmittelbar, ohne auf Ihre Kosten eine etwaig erforderliche Export-oder Re-Exportlizenz von der US-Regierung erhalten zu halben. Sie bestätigen, dass Sie keine Geschäfte im Rahmen dieses Vertrages tätigen mit einer auf der OFAC-Liste geführten Person oder mit einer Person, mit der ein Bürger der Vereinigten Staaten von Amerika aufgrund eines Handelsembargos, Wirtschaftssanktionen  oder sonstigen Verboten durch US-Gesetze oder Verordnungen oder einer Anordnung des Präsidenten der Vereinigten Staaten von Amerika keine Geschäfte tätigen darf. Für die Zwecke dieses Abschnitts bezeichnet der Begriff „OFAC-Liste“ die Liste speziell benannter Staatsbürger und blockierter Personen, die finanziellen Sanktionen unterliegen, die vom US-Finanzministerium, dem Büro zur Kontrolle ausländischer Vermögen aufgrund gesetzlicher Anforderungen einschließlich u.a. Handelsembargo, Wirtschaftssanktionen oder sonstigen Verboten auf Anordnung des Präsidenten der Präsidenten der Vereinigten Staaten von Amerika geführt wird.  Die <span style='color:#333333'>OFAC-Liste kann derzeit im Internet unter</span> <a href="https://gmc.mastercard.com/web/www.treas.gov/ofac">www.treas.gov/ofac</a> aufgerufen werden.
                                        </p>
                                        <p>
                                            <strong>Selbständige Unternehmer.</strong>
                                            Sie und Mastercard sind selbständige Unternehmer und nichts in diesen Nutzungsbedingungen ist so auszulegen, dass ein Beschäftigungsverhältnis, ein Zusammenschluss, eine Partnerschaft, ein Joint Venture, eine Vertretung oder ein sonstiges Verhältnis zwischen Ihnen und Mastercard oder dessen Angestellten entstünde.
                                        </p>
                                        <p>
                                            <strong>Werbung.</strong>
                                            Ohne vorab das schriftliche Einverständnis der jeweils anderen Partei einzuholen, macht keine der Parteien Pressemitteilungen, öffentlichen Bekanntmachungen, Werbung oder sonstige Art von Reklame jeglicher Art und jeglichen Inhalt im Zusammenhang mit diesen Nutzungsbedingungen oder einem darin bereitgestellten Produkt bzw. einer Dienstleistung. Dessen ungeachtet darf Mastercard die durch geltendes Recht erforderlichen Offenlegungen vornehmen, einschließlich der der US-Securities und Exchange Commission gegenüber erforderlichen Meldungen.
                                        </p>
                                        <p>
                                            <strong>Gewinnspiele und Preisausschreiben.</strong>
                                            Von Zeit zu Zeit machen wir Sie auf bestimmte Gewinnspiele und Preisausschreiben oder andere Aktionen von Mastercard oder Dritten aufmerksam. Alle solchen Gewinnspiele und Preisausschreiben sind Gegenstand der besonderen Teilnahmebedingungen für solche Gewinnspiele, Preisausschreiben, Aktionen und der hierauf bezogenen anwendbaren allgemeinen Rechtsvorschriften.
                                        </p>
                                        <p>
                                            <strong>Verzichtserklärung.</strong>
                                            Die Nichtdurchsetzung oder verspätete Durchsetzung eines Rechts oder einer Bestimmung dieser Nutzungsbedingungen oder von Rechten gemäß geltendem Recht durch Mastercard ist nicht als Verzicht auf eine solche Bestimmung oder auf das Recht auf Durchsetzung dieser Bestimmung oder von Rechten zu werten. Wird eine der Bestimmungen dieser Nutzungsbedingungen seitens eines zuständigen Gerichts für ungültig befunden, vereinbaren die Parteien dennoch, dass das Gericht sich bemühen soll, die der Bestimmung zugrundeliegenden Absichten der Parteien wirksam werden zu lassen und die sonstigen Bestimmungen der Nutzungsbedingungen bleiben gültig und in Kraft.
                                        </p>
                                        <p>
                                            <strong>Weiterbestehen.</strong>
                                            Die in diesen Nutzungsbedingungen enthaltenen Bestimmungen, Bedingungen und Gewährleistungen, die aufgrund ihrer Art und durch den Kontext nach Ablauf oder Kündigung dieser Vereinbarung weiterbestehen sollen, überdauern eine solche Beendigung.
                                        </p>
                                        <p><a title="Zurück zum Anfang" href="#top" class="goto">Zurück zum Anfang</a></p>
                                        <a id="kontaktinformationKundendienst"></a>
                                        <h3>Kontaktinformation/Kundendienst</h3>
                                        <p>
                                            <a href="mailto:info@mastercard-aktionsbuero.de">info@mastercard-aktionsbuero.de</a>
                                        </p>
                                        <p>
                                            Erstellt am 12. Juli  2018
                                        </p>
                                        <p><a title="Zurück zum Anfang" href="#top" class="goto">Zurück zum Anfang</a></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="js/jquery.js"></script>
    <script type="text/javascript" src="js/backtoTop.js"></script>
    <script type="text/javascript" src="js/vendor.js"></script>
    <script type="text/javascript" src="js/vendor2.js"></script>
    <script type="text/javascript" src="js/footer.js"></script>
    <script type="text/javascript" src="js/footer2.js"></script>
</body>
</html>