.component-favorites {
    display: flex;
    padding: 64px 0;
    margin: 0 100px;
    justify-content: space-between;
    font-family: "Accord Alternate", Arial, Helvetica, sans-serif;
    font-weight: 500;

    > .component-favorites-content {
        flex: 0 0 620px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        &.popular {
            flex: 0 0 512px;
        }

        .component-favorites__body {
            flex-grow: 1;
            margin-bottom: 45px;
        }

        .component-favorites__footer {
            &, a {
                font-family: "Accord Alternate", Arial, Helvetica, sans-serif;
                font-size: 24px;
                font-weight: 500;
                font-style: normal;
                font-stretch: normal;
                line-height: 32px;
                letter-spacing: 0.8px;
                color: #018e96;
            }
        }

        &.popular .component-favorites__footer {
            &, a {
                letter-spacing: normal;
                color: #404041;
            }

            .favorites-popular__more-link,
            .favorites-popular__less-link {
                &::after {
                    content: '';
                    display: inline-block;
                    margin-left: 10px;
                    width: 22px;
                    height: 22px;
                    vertical-align: middle;
                    background: url("../../images/more-link.png") no-repeat center center;
                    -webkit-background-size: 22px 22px;
                    background-size: 22px 22px;
                }
            }

            .favorites-popular__more-link::after {
                -webkit-transform: rotate(180deg);
                -moz-transform: rotate(180deg);
                -ms-transform: rotate(180deg);
                -o-transform: rotate(180deg);
                transform: rotate(180deg);
            }
        }
    }
}

.component-my-favorites,
.component-most-popular {
    list-style: none;
    margin: 0;
    padding: 0;
}

.component-favorites__title {
    margin-bottom: 40px;
    font-family: "Accord Alternate", Arial, Helvetica, sans-serif;
    font-size: 40px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #000000;

    img {
        margin-right: 15px;
        vertical-align: text-bottom;
    }
}

.component-my-favorites__item {
    position: relative;
    padding: 20px 0 32px 144px;
    min-height: 152px;
    border-bottom: 1px solid #d0d3d4;

    figure {
        position: absolute;
        top: 20px;
        left: 0;
        width: 120px;
        height: 120px;
        overflow: hidden;
        border-radius: 100px;

        img {
            vertical-align: top;
            max-width: 100%;
        }
    }

    h3 {
        margin: 0 0 16px;

        &, a {
            font-family: "Accord Alternate", Arial, Helvetica, sans-serif;
            font-size: 28px;
            font-weight: 500;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.43;
            letter-spacing: normal;
            color: #000;
        }
    }

    p {
        margin: 0;
        font-family: "Accord Alternate", Arial, Helvetica, sans-serif;
        font-size: 18px;
        font-weight: 500;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #5b676f;
    }
}

li:first-child > .component-my-favorites__item {
    padding-top: 0;

    figure {
        top: 0;
    }
}

.component-most-popular {
    padding-top: 0;

    > li:last-child .component-most-popular__item {
        margin-bottom: 0;
    }

    > li {
        max-height: 0;
        opacity: 0;
        overflow: hidden;
        -webkit-transition: opacity 0.25s;
        -moz-transition: opacity 0.25s;
        -ms-transition: opacity 0.25s;
        -o-transition: opacity 0.25s;
        transition: opacity 0.25s;
        //-webkit-transition-delay: 0.25s;
        //-moz-transition-delay: 0.25s;
        //-ms-transition-delay: 0.25s;
        //-o-transition-delay: 0.25s;
        //transition-delay: 0.25s;
        &.most-popular__item {
            max-height: 100%;
            opacity: 1;
        }
    }

    &.expanded {
        > li {
            max-height: 300px;
            opacity: 1;
        }
    }
}

.component-most-popular__item {
    padding-top: 16px;
    padding-bottom: 24px;
    border-bottom: 1px solid #cdd0d2;

    figure {
        //display: none;
        overflow: hidden;
        opacity: 0;
        max-height: 0;
        -webkit-transition: opacity 0.25s;
        -moz-transition: opacity 0.25s;
        -ms-transition: opacity 0.25s;
        -o-transition: opacity 0.25s;
        transition: opacity 0.25s;

        img {
            max-width: 100%;
            max-height: 200px;
        }
    }

    h3 {
        display: block;
        margin: 0;

        &, a {
            font-family: "Accord Alternate", Arial, Helvetica, sans-serif;
            font-size: 24px;
            font-weight: 500;
            font-style: normal;
            font-stretch: normal;
            line-height: normal;
            letter-spacing: normal;
            color: #000000;
            -webkit-transition: opacity 0.25s;
            -moz-transition: opacity 0.25s;
            -ms-transition: opacity 0.25s;
            -o-transition: opacity 0.25s;
            transition: opacity 0.25s;
        }
    }
}

.component-most-popular.expanded .most-popular__item:first-child .component-most-popular__item {
    padding-top: 0;
}

.component-most-popular:not(.expanded) .most-popular__item .component-most-popular__item {
    padding-top: 0;
    padding-bottom: 0;
    margin: 0 10px 24px 10px;
    border-bottom: none;
    background-color: #ffffff;
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.15);

    figure {
        //display: block;
        opacity: 1;
        max-height: 200px;
    }

    h3 {
        padding: 16px 40px 32px;

        &, a {
            font-size: 28px;
            line-height: 1.29;
        }
    }
}

.my-favorites__empty {
    padding: 0 132px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #f4f4f4;
    //background: #ddd;
    h3 {
        margin: 40px 0 22px;
        font-family: "Accord Alternate", Arial, Helvetica, sans-serif;
        font-size: 32px;
        font-weight: 500;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: center;
        color: #5b676f;
    }

    p {
        margin: 0 0 64px;
        font-family: "Accord Alternate", Arial, Helvetica, sans-serif;
        font-size: 16px;
        font-weight: 500;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.5;
        letter-spacing: normal;
        text-align: center;
        color: #5b676f;
    }

    .my-favorites__empty__link {
        padding: 15px 70px;
        font-family: "Accord Alternate", Arial, Helvetica, sans-serif;
        font-size: 16px;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: 0.5px;
        text-align: center;
        text-transform: uppercase;
        color: #000000;
        background-color: #ffffff;
        box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.15);
        -webkit-transition: background-color 0.25s, color 0.25s;
        -moz-transition: background-color 0.25s, color 0.25s;
        -ms-transition: background-color 0.25s, color 0.25s;
        -o-transition: background-color 0.25s, color 0.25s;
        transition: background-color 0.25s, color 0.25s;

        &:hover, &:active {
            text-decoration: none;
            background-color: #5b6770;
            color: #fff;
        }
    }
}

@media(max-width: 1439px) {
    .component-favorites {
        max-width: 1024px;
        margin: 0 auto;
        padding: 49px 39px 64px 48px;

        > .component-favorites-content {
            flex: 0 0 480px;

            &.popular {
                flex: 0 0 408px;
            }
        }
    }

    .component-favorites__title {
        font-size: 32px;
        margin-bottom: 35px;
    }

    .component-most-popular__item {
        padding-bottom: 20px;
    }

    .component-favorites > .component-favorites-content .component-favorites__footer {
        &, a {
            font-size: 20px;
        }
    }

    .component-my-favorites__item {
        padding-bottom: 24px;

        h3 {
            margin-bottom: 12px;
        }

        h3, h3 a {
            font-size: 24px;
            line-height: 1.33;
        }

        p {
            font-size: 16px;
        }
    }

    .component-most-popular__item h3,
    .component-most-popular__item h3 a {
        font-size: 24px;
    }

    .component-most-popular:not(.expanded) .most-popular__item .component-most-popular__item {
        h3 {
            padding: 16px 24px 28px;
        }

        h3,
        h3 a {
            font-size: 24px;
            line-height: 1.33;
        }
    }

    .my-favorites__empty {
        padding: 0 48px;

        h3 {
            font-size: 32px;
        }

        p {
            font-size: 16px;
            line-height: 1.5;
        }
    }
}

@media(max-width: 1023px) {
    .component-favorites {
        max-width: 768px;
        margin: 0 auto;
        padding: 49px 40px 64px 40px;

        > .component-favorites-content {
            flex: 0 0 356px;

            &.popular {
                flex: 0 0 300px;
            }
        }
    }

    .component-favorites__title {
        font-size: 28px;
    }

    .component-most-popular:not(.expanded) .most-popular__item .component-most-popular__item {
        margin-bottom: 12px;
    }

    .component-most-popular:not(.expanded) .most-popular__item .component-most-popular__item h3,
    .component-most-popular:not(.expanded) .most-popular__item .component-most-popular__item h3 a {
        font-size: 20px;
        line-height: 1.2;
    }

    .component-favorites > .component-favorites-content .component-favorites__body {
        margin-bottom: 20px;
    }

    .component-most-popular__item h3, .component-most-popular__item h3 a {
        font-size: 20px;
        line-height: 1.2;
    }

    .my-favorites__empty {
        padding: 0 40px;

        h3 {
            font-size: 28px;
        }

        p {
            font-size: 14px;
            line-height: 1.57;
        }
    }

    .component-my-favorites__item {
        padding-left: 104px;
    }

    .component-my-favorites__item figure {
        width: 80px;
        height: 80px;
    }

    .component-my-favorites__item h3, .component-my-favorites__item h3 a {
        font-size: 20px;
        line-height: 1.2;
    }
}

@media(max-width: 767px) {
    .component-favorites {
        padding: 0;
        display: block;
    }

    .component-favorites .component-favorites__title {
        margin-top: 40px;
        margin-bottom: 24px;
        padding-left: 40px;
        font-size: 24px;

        img {
            width: 24px;
            height: 24px;
            vertical-align: middle;
            margin-bottom: 5px;
        }
    }

    .component-favorites > .component-favorites-content .component-favorites__body {
        margin-bottom: 0;
    }

    .component-most-popular:not(.expanded) .most-popular__item .component-most-popular__item h3, .component-most-popular:not(.expanded) .most-popular__item .component-most-popular__item h3 a {
        font-size: 24px;
        line-height: 1.33;
    }

    .component-most-popular:not(.expanded) .most-popular__item .component-most-popular__item h3 {
        padding: 12px 20px 24px;
    }

    .component-most-popular:not(.expanded) .most-popular__item .component-most-popular__item {
        margin-bottom: 24px;
    }

    .component-my-favorites {
        margin-bottom: 32px;
    }

    .component-favorites .component-my-favorites,
    .component-most-popular.expanded .component-most-popular__item {
        margin-left: 40px;
        margin-right: 40px;
    }

    .component-most-popular.expanded {
        margin-bottom: 40px;
    }

    .my-favorites__empty {
        padding: 64px 22px;

        h3 {
            margin-bottom: 16px;
            font-size: 24px;
        }

        p {
            margin-bottom: 48px;
        }
    }

    .component-my-favorites__item {
        padding-top: 16px;
        padding-left: 88px;
        min-height: 110px;

        figure {
            width: 64px;
            height: 64px;
        }

        p {
            display: none;
        }
    }

    .component-favorites > .component-favorites-content.popular {
        padding-bottom: 48px;
    }

    .component-favorites__footer:empty {
        display: none;
    }

    .component-favorites > .component-favorites-content .component-favorites__footer,
    .component-favorites > .component-favorites-content .component-favorites__footer a,
    .component-favorites > .component-favorites-content.popular .component-favorites__footer,
    .component-favorites > .component-favorites-content.popular .component-favorites__footer a {
        font-size: 20px;
        line-height: 1.1;
    }

    .component-favorites > .component-favorites-content .component-favorites__footer a,
    .component-favorites > .component-favorites-content.popular .component-favorites__footer a {
        display: block;
        padding: 0 40px;
    }
}
