﻿#content {
    width: 707px;
}

    #content .column-left-div {
        float: left;
        width: 475px;
    }

    #content .column-right-div {
        float: right;
        width: 203px;
        padding-top: 10px;
    }

    #content .column-wide-div {
        float: none;
        clear: both;
    }

#aside {
    width: 203px;
}

#content h1, #content h1 em {
    margin: 0 0 15px 0;
    font-size: 22px;
    color: #f58025;
}

    #content h1.small-margin {
        margin: 0 0 3px 0;
    }

#content h2, #content h2 a, #content h2 a em {
    margin: 0;
    font-weight: bold;
    font-size: 11px;
    color: #3a6f96;
}

#content strong, #content strong a, #content a strong {
    font-weight: bold;
}

#content p.small-text {
    font-size: 10px;
}

#content p.date-text, #content p.date-text * {
    font-size: 12px;
    color: #58595B;
}

#content small {
    font-weight: bold;
    font-size: 9px;
    color: #404040;
}

#content ul {
    margin: 0 0 5px 0;
    padding: 0;
}

    #content ul li {
        margin: 0;
        padding: 0 0 10px 25px;
        background: url(/portal/content/images/page/bulletDotGray.gif) no-repeat left 4px;
    }

#content .browse-more-link {
    float: left;
    padding: 7px 40px 7px 12px;
    font-weight: bold;
    font-size: 11px;
    line-height: 11px;
    background: url(/portal/content/images/page/browseMoreLink.gif) no-repeat right top #eaeaea;
    cursor: pointer;
}

* html #content .browse-more-link {
    padding-top: 8px;
    padding-bottom: 8px;
}

    #content .browse-more-link:hover {
        text-decoration: none;
    }

#content .align-left {
    float: left;
    margin: 0 15px 15px 0;
}

#content .gray-box {
    margin: 0 0 15px 0;
    border: 1px solid #d0d2d3;
}

    #content .gray-box.no-bottom-margin {
        margin-bottom: 0px;
    }

    #content .gray-box h2 {
        margin: 0;
        padding: 3px 10px;
        font-size: 12px;
        color: #58595b;
        background: #d0d2d3;
    }

    #content .gray-box .body-div {
        padding: 10px;
    }

        #content .gray-box .body-div p {
            margin: 0 0 5px 0;
        }

            #content .gray-box .body-div p strong {
                color: #58595B;
            }

            #content .gray-box .body-div p.image {
                margin: 0 0 10px 0;
                text-align: center;
            }

            #content .gray-box .body-div p img {
                vertical-align: bottom;
            }

    #content .gray-box .footer-div {
        margin: 0 10px;
        padding: 0;
        border-top: 1px dotted #ccc;
    }

        #content .gray-box .footer-div .button-list li {
            clear: both;
            padding: 10px 0;
        }

            #content .gray-box .footer-div .button-list li label {
                float: left;
                width: 85px;
                padding: 5px 0;
                line-height: 12px;
            }

                #content .gray-box .footer-div .button-list li label.two-lines {
                    padding: 0;
                }

#content .gray-box-round {
    margin: 0 0 15px 0;
    background: url(/portal/content/images/page/grayRoundBoxBackground.gif) no-repeat left bottom;
}

    #content .gray-box-round h2 {
        margin: 0;
        padding: 6px 12px;
        font-weight: bold;
        font-size: 12px;
        line-height: 12px;
        color: #58595b;
        background: url(/portal/content/images/page/grayRoundBoxBackgroundHeader.gif) no-repeat left top;
    }

    #content .gray-box-round .body-div {
        padding: 10px 12px 5px 12px;
    }

        #content .gray-box-round .body-div p {
            margin: 0 0 5px 0;
            padding: 0;
        }

            #content .gray-box-round .body-div p strong {
                color: #58595B;
            }

            #content .gray-box-round .body-div p.image {
                margin: 0 0 10px 0;
                text-align: center;
            }

            #content .gray-box-round .body-div p img {
                vertical-align: bottom;
            }

    #content .gray-box-round .footer-div {
        margin: 0 10px;
        padding: 0 2px;
        background: url(/portal/content/images/page/grayDot.gif) repeat-x left top;
    }

        #content .gray-box-round .footer-div .button-list {
            margin: 0;
            padding: 0;
        }

            #content .gray-box-round .footer-div .button-list li {
                margin: 0;
                padding: 10px 0 14px 0;
                background: url(/portal/content/images/page/grayDot.gif) repeat-x left bottom;
            }
                /*#content .gray-box-round .footer-div .button-list li.first-child { padding-top:0;}*/
                #content .gray-box-round .footer-div .button-list li.last-child {
                    background: none;
                }

                #content .gray-box-round .footer-div .button-list li label {
                    float: left;
                    width: 85px;
                    padding: 5px 0;
                    line-height: 12px;
                }

                    #content .gray-box-round .footer-div .button-list li label input {
                        margin: -2px 0;
                        padding: 2px 0;
                        width: 40px;
                        border: 1px solid #9fa0a2;
                    }

                #content .gray-box-round .footer-div .button-list li p {
                    margin: 0 0 5px 0;
                }

    #content .gray-box-round .orange-text {
        color: #f58025;
    }

    #content .gray-box-round .footer-div .button-list li label.two-lines {
        padding: 0;
    }

#content .cart-list-div:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

* html #content .cart-list-div {
    zoom: 1;
}

*:first-child + html #content .cart-list-div {
    zoom: 1;
}

#content .cart-list-div {
    margin: 0 0 15px 0;
    background: #e6e7e8;
}

    #content .cart-list-div.no-bottom-margin {
        margin-bottom: 0px;
    }

    #content .cart-list-div h2 {
        padding: 5px 10px;
        font-size: 11px;
        color: #58595b;
        background: #d0d2d3;
    }

        #content .cart-list-div h2 a {
            font-weight: normal;
            font-size: 11px;
        }

    #content .cart-list-div .body-div {
        padding: 5px 10px;
    }

        #content .cart-list-div .body-div ul {
            margin: 0;
            padding: 0;
        }

            #content .cart-list-div .body-div ul li {
                clear: both;
                margin: 0;
                padding: 10px 0;
                border-bottom: 1px dotted #ccc;
                background: none;
            }

                #content .cart-list-div .body-div ul li.last-child {
                    border: 0;
                }

                #content .cart-list-div .body-div ul li label {
                    float: left;
                    width: 85px;
                    padding: 5px 0;
                    line-height: 12px;
                }

                    #content .cart-list-div .body-div ul li label.two-lines {
                        padding: 0;
                    }

                    #content .cart-list-div .body-div ul li label input {
                        margin: -2px 0;
                        padding: 2px 0;
                        width: 45px;
                        border: 1px solid #9fa0a2;
                    }

                #content .cart-list-div .body-div ul li .error {
                    color: #f00;
                }

#content .gray-list-div {
    margin: 0 0 15px 0;
    background: #e6e7e8;
}

    #content .gray-list-div.no-bottom-margin {
        margin-bottom: 0px;
    }

    #content .gray-list-div h2 {
        padding: 5px 10px;
        font-size: 11px;
        color: #58595b;
        background: #d0d2d3;
    }

    #content .gray-list-div .body-div {
        padding: 10px;
    }

        #content .gray-list-div .body-div p {
            margin: 0 0 10px 0;
        }

        #content .gray-list-div .body-div .orange-text, #content .gray-list-div .body-div .orange-text * {
            color: #f58025;
        }

        #content .gray-list-div .body-div ul.link-icon-list {
            margin: 0;
            padding: 0;
        }

            #content .gray-list-div .body-div ul.link-icon-list li {
                margin: 0;
                padding: 0 0 5px 0;
                background: none;
            }

                #content .gray-list-div .body-div ul.link-icon-list li img {
                    vertical-align: top;
                }

                * html #content .gray-list-div .body-div ul.link-icon-list li img {
                    vertical-align: middle;
                }

                #content .gray-list-div .body-div ul.link-icon-list li a {
                    display: inline-block;
                    width: 160px;
                }

    #content .gray-list-div .footer-div {
        margin: 0 10px;
        padding: 10px 0;
        border-top: 1px dotted #ccc;
    }

        #content .gray-list-div .footer-div p {
            margin: 0 0 10px 0;
        }

            #content .gray-list-div .footer-div p.orange-text, #content .gray-list-div .footer-div p.orange-text * {
                color: #f58025;
            }

#content .column-wide-div .related-content-item-list ul:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

* html #content .column-wide-div .related-content-item-list ul {
    zoom: 1;
}

*:first-child + html #content .column-wide-div .related-content-item-list ul {
    zoom: 1;
}

#content .column-wide-div .related-content-item-list ul {
    margin: 0;
    padding: 0;
}

    #content .column-wide-div .related-content-item-list ul li {
        float: left;
        margin: 0;
        padding: 0 20px 35px 80px;
        width: 253px;
        background: none;
    }

#content .column-left-div ul {
    margin: 5px 0 10px 0;
    padding-left: 22px;
}

    #content .column-left-div ul li {
        background: none;
        list-style-type: disc;
        padding: 0;
        margin: 5px 0;
    }

#content .column-left-div ol {
    padding-left: 25px;
}

    #content .column-left-div ol li {
        list-style: decimal;
        margin: 5px 0;
    }

        #content .column-left-div ol li ul li {
            list-style-type: disc;
        }

#content .column-left-div sup {
    vertical-align: super;
    font-size: .8em;
}

#content .column-left-div .row_top {
    overflow: auto;
}

    #content .column-left-div .row_top .row_top_left h2 {
        font-weight: normal;
        color: #666;
        margin: 0 0 10px 0;
        font-size: 1.4em;
        line-height: 1.4em;
        padding: 0;
    }

    #content .column-left-div .row_top .row_top_left p.headline {
        font-size: 11px;
        padding: 0;
        color: #F58025;
        margin-bottom: 0;
    }

#content .column-left-div .row_bottom {
    clear: both;
    border-top: 1px solid #bcbec0;
    margin-top: 20px;
    line-height: 1.5em;
}

    #content .column-left-div .row_bottom p.orange_headline {
        font-size: 1.4em;
        line-height: 1.2em;
        margin-bottom: 0px;
    }

        #content .column-left-div .row_bottom p.orange_headline a:hover {
            text-decoration: none;
        }

    #content .column-left-div .row_bottom p.headline {
        font-size: 1.4em;
        line-height: 1.2em;
        margin-bottom: 5px;
    }

    #content .column-left-div .row_bottom .row_bottom_left {
        padding-top: 20px
    }

    #content .column-left-div .row_bottom ul.promotion-list li {
        background: none;
        padding: 0;
        list-style: disc;
        margin: 0 0 0 16px;
    }

        #content .column-left-div .row_bottom ul.promotion-list li li {
            list-style: circle;
        }


#content .column-left-div .home_featured {
    clear: both;
    margin-top: 25px;
}

    #content .column-left-div .home_featured .col1, #content .column-left-div .home_featured .col2, #content .column-left-div .home_featured .col3 {
        overflow: auto;
    }

    #content .column-left-div .home_featured h2 {
        font-weight: normal;
        color: #666;
        margin: 0 0 10px 0;
        font-size: 14px;
    }

    #content .column-left-div .home_featured p img {
        border: none;
    }

    #content .column-left-div .home_featured p.image {
        float: left;
    }

    #content .column-left-div .home_featured .info {
        margin-left: 82px;
    }

#content .column-left-div .footnote {
    font-size: 9px;
    clear: both;
}

    #content .column-left-div .footnote * {
        font-size: 9px;
    }

.author-box {
    float: right;
    position: relative;
    margin: 0 0 15px 15px;
    padding: 15px 15px 15px 85px;
    width: 90px;
    height: 60px;
    background: #f1f1f2;
}

* html .author-box {
    height: 60px;
}

    .author-box .icon-image {
        position: absolute;
        top: 15px;
        left: 15px;
    }

#body #content .faq-item-list li {
    position: relative;
    margin: 0 0 0 90px;
    padding: 15px 0;
    background: none;
    min-height: 50px;
    list-style: none;
}

* html #body #content .faq-item-list li {
    height: 50px;
}

    #body #content .faq-item-list li span.letter-text {
        position: absolute;
        top: 10px;
        left: -90px;
        padding-bottom: 10px;
        font-weight: bold;
        font-size: 48px;
        line-height: 48px;
    }

    #body #content .faq-item-list li.faq-question-item-list div {
        margin: 0;
        font-size: 18px;
    }

        #body #content .faq-item-list li.faq-question-item-list div * {
            font-size: 18px;
        }

    #body #content .faq-item-list li.faq-question-item-list span.letter-text {
        color: #ccc;
    }

    #body #content .faq-item-list li.faq-answer-item-list {
        border-top: 1px dotted #ccc;
    }

        #body #content .faq-item-list li.faq-answer-item-list ul li {
            list-style-type: disc;
            margin-left: 0;
            min-height: 0;
            padding: 0 0 10px 0;
            vertical-align: text-top;
        }

#content ul.program-related-assets-list {
    padding: 0;
    margin: 0 0 15px 0;
}

    #content ul.program-related-assets-list li {
        padding-left: 15px;
        padding-bottom: 5px;
        background: url(/portal/content/images/icons/orangeBullet.gif) no-repeat left 3px;
        list-style: none;
    }

/* Insights blogs */
#insights-blog-authordate {
    float: right;
    background: #f1f1f2;
    padding: 15px;
    margin: 0 0 10px 10px;
}

    #insights-blog-authordate img {
        float: left;
        margin-right: 10px;
    }

.col_right p.comment {
    font-size: 0.9em;
}

.error-container {
    display: inline-block;
}

.asset-full-width-long-description {
    float: left;
    width: 100%;
    margin-bottom: 10px;
}

.asset-full-width-bottom-area-description {
    float: left;
    width: 100%;
    margin-top: 10px;
}
