﻿/*=yui reset 3.3.0=*/
html {
    color: #000;
    background: #FFF;
}

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td {
    margin: 0;
    padding: 0;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

fieldset, img {
    border: 0;
}

address, caption, cite, code, dfn, em, strong, th, var {
    font-style: normal;
    font-weight: normal;
}

li {
    list-style: none;
}

caption, th {
    text-align: left;
}

h1, h2, h3, h4, h5, h6 {
    font-size: 100%;
    font-weight: normal;
}

q:before, q:after {
    content: '';
}

abbr, acronym {
    border: 0;
    font-variant: normal;
}
/*sup{vertical-align:text-top;}*/
sup {
    color: inherit;
}

sub {
    vertical-align: text-bottom;
}

input, textarea, select {
    font-family: inherit;
    font-size: 100%;
    font-weight: inherit;
}

legend {
    color: #000;
}

/*=clearfix========*/
.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

* html .clearfix {
    zoom: 1;
}

*:first-child + html .clearfix {
    zoom: 1;
}

.hid {
    display: none;
}

.clear {
    clear: both;
}

/*=breadcrumb======*/
#header .breadcrumb-div {
    padding: 2px 0;
    font-size: 9px;
    color: #666666;
    max-width: 300px;
}

    #header .breadcrumb-div a {
        font-size: 9px;
        font-weight: normal;
        color: #666666;
    }

    #header .breadcrumb-div span {
        font-size: 9px;
        font-weight: normal;
        color: #666666;
    }

        #header .breadcrumb-div span em {
            font-size: 9px;
        }

#content {
    float: left;
    width: 631px;
}

#aside {
    float: right;
    width: 305px;
}

* {
    font: 11px/normal Verdana, Helvetica, sans-serif;
    color: #58595b;
}

h1 {
    margin: 0 0 15px 0;
    font-weight: normal;
    font-size: 24px;
    line-height: 24px;
    color: #455560;
}

    h1 em {
        font-size: 24px;
    }

h2 {
    margin: 0 0 10px 0;
    font-weight: normal;
    font-size: 16px;
    line-height: 16px;
    color: #404041;
}

p {
    margin: 0 0 15px 0;
}

em {
    font-style: italic;
}

.banner-top {
    margin: 0 0 20px 0;
}

.blue-box-link-list {
    margin: 0 0 20px 0;
    padding: 10px 10px 9px 10px;
    height: 83px; /*background:#e9edf0; border:1px solid #b9c2c7;*/
    background: url(/portal/content/images/page/learnAbout.gif) no-repeat 0 bottom;
}

    .blue-box-link-list ul:after {
        visibility: hidden;
        display: block;
        font-size: 0;
        content: " ";
        clear: both;
        height: 0;
    }

    * html .blue-box-link-list ul {
        zoom: 1;
    }

    *:first-child + html .blue-box-link-list ul {
        zoom: 1;
    }

        .blue-box-link-list ul li {
            float: left;
            padding: 5px 0;
            width: 100%;
            background: url(/portal/content/images/page/grayDot.gif) repeat-x 0 0;
        }

            .blue-box-link-list ul li a {
                padding: 2px 0 0 15px;
                font-size: 12px;
                background: url(/portal/content/images/icons/blackBullet.gif) no-repeat left 6px;
            }

.content-box-list {
    margin: 0 0 20px 0;
    background: url(/portal/content/images/page/contentBoxListBackground.gif) no-repeat 0 0;
}

    .content-box-list ul {
        background: url(/portal/content/images/page/contentBoxListBackgroundBottom.gif) no-repeat 0 bottom;
    }

        .content-box-list ul li {
            position: relative;
            padding: 10px 0 15px 130px;
            min-height: 70px;
            background: url(/portal/content/images/page/grayDot.gif) repeat-x left bottom;
        }

        * html .content-box-list ul li {
            height: 70px;
        }

            .content-box-list ul li.last-child {
                background: none;
            }

            .content-box-list ul li .icon-image {
                position: absolute;
                top: 10px;
                left: 10px;
            }

            .content-box-list ul li h2 {
                font-size: 14px;
                margin: 0 0 5px 0;
            }

                .content-box-list ul li h2 a {
                    font-size: 14px;
                }

            .content-box-list ul li p {
                margin: 0;
            }

.back-div {
    margin: 0 0 10px 0;
    padding: 5px 0;
    height: 15px;
    border-bottom: 1px solid #dddedf;
}

    .back-div a {
        font-size: 11px;
        color: #3a6f96;
    }
