﻿
@font-face {
    font-family: "MarkWebPro Light";
    font-weight: 400;
    src: url('fonts/MarkWebPro-LightW01Regular.eot');
    /* IE9 Compat Modes */
    src: url('/portal/Content/fonts/Home-Banner/MarkWebPro-LightW01Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('/portal/Content/fonts/Home-Banner/MarkWebPro-LightW01Regular.woff2') format('woff2'), /* Super Modern Browsers */
    url('/portal/Content/fonts/Home-Banner/MarkWebPro-LightW01Regular.woff') format('woff'), /* Pretty Modern Browsers */
    url('/portal/Content/fonts/Home-Banner/MarkWebPro-LightW01Regular.ttf') format('truetype');
    /* Safari, Android, iOS */
}

@font-face {
    font-family: "MarkWebPro Book";
    font-weight: 400;
    src: url('/portal/Content/fonts/Home-Banner/MarkWebPro-BookW01Regular.eot');
    /* IE9 Compat Modes */
    src: url('/portal/Content/fonts/Home-Banner/MarkWebPro-BookW01Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('/portal/Content/fonts/Home-Banner/MarkWebPro-BookW01Regular.woff2') format('woff2'), /* Super Modern Browsers */
    url('/portal/Content/fonts/Home-Banner/MarkWebPro-BookW01Regular.woff') format('woff'), /* Pretty Modern Browsers */
    url('/portal/Content/fonts/Home-Banner/MarkWebPro-BookW01Regular.ttf') format('truetype');
    /* Safari, Android, iOS */
}

@font-face {
    font-family: "MarkWebPro Medium";
    font-weight: 400;
    src: url('/portal/Content/fonts/Home-Banner/MarkWebPro-MediumW01Regular.eot');
    /* IE9 Compat Modes */
    src: url('/portal/Content/fonts/Home-Banner/MarkWebPro-MediumW01Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('/portal/Content/fonts/Home-Banner/MarkWebPro-MediumW01Regular.woff2') format('woff2'), /* Super Modern Browsers */
    url('/portal/Content/fonts/Home-Banner/MarkWebPro-MediumW01Regular.woff') format('woff'), /* Pretty Modern Browsers */
    url('/portal/Content/fonts/Home-Banner/MarkWebPro-MediumW01Regular.ttf') format('truetype');
    /* Safari, Android, iOS */
}

@font-face {
    font-family: "MarkWebPro Bold";
    font-weight: 400;
    src: url('/portal/Content/fonts/Home-Banner/MarkWebPro-BoldW01Regular.eot');
    /* IE9 Compat Modes */
    src: url('/portal/Content/fonts/Home-Banner/MarkWebPro-BoldW01Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('/portal/Content/fonts/Home-Banner/MarkWebPro-BoldW01Regular.woff2') format('woff2'), /* Super Modern Browsers */
    url('/portal/Content/fonts/Home-Banner/MarkWebPro-BoldW01Regular.woff') format('woff'), /* Pretty Modern Browsers */
    url('/portal/Content/fonts/Home-Banner/MarkWebPro-BoldW01Regular.ttf') format('truetype');
    /* Safari, Android, iOS */
}

.new-black.hero-page-header {
    background: #000;
    overflow: hidden;
    padding: 25px 30px;
}

    .new-black.hero-page-header .mc-logo {
        float: left;
        vertical-align: middle;
    }

        .new-black.hero-page-header .mc-logo,
        .new-black.hero-page-header .mc-logo span {
            text-align: left;
            font-size: 32px;
            line-height: 38px;
            color: #f6f6f6;
            font-family: "MarkWebPro Book", sans-serif;
        }

            .new-black.hero-page-header .mc-logo .icon {
                background: url(/portal/Content/images/Home-Banner/logo.png) no-repeat 0 center;
                background-size: auto 100px;
                display: inline-block;
                width: 100px;
                height: 58px;
                margin-top: -10px;
                vertical-align: middle;
                margin-bottom: -10px;
            }

            .new-black.hero-page-header .mc-logo .sub-title {
                color: #cacaca;
                font-family: "MarkWebPro Light", sans-serif;
            }

                .new-black.hero-page-header .mc-logo .sub-title:before {
                    content: '\00a0';
                }

    .new-black.hero-page-header .mc-text {
        display: block;
        float: right;
        width: 40%;
        color: #f6f6f6;
        font-size: 22px;
        font-family: "MarkWebPro Light", sans-serif;
        text-align: left;
    }

@media(max-width: 1200px) {
    .new-black.hero-page-header .mc-logo,
    .new-black.hero-page-header .mc-logo span {
        font-size: 24px;
    }

    .new-black.hero-page-header .mc-text {
        font-size: 20px;
    }
}

@media (max-width: 1023px) {
    .new-black.hero-page-header .mc-logo .icon {
        margin-top: 0;
        margin-bottom: 0;
        vertical-align: top;
        height: 66px;
    }

    .new-black.hero-page-header .mc-logo,
    .new-black.hero-page-header .mc-logo span {
        font-size: 24px;
        line-height: 22px;
    }

        .new-black.hero-page-header .mc-logo > span {
            display: inline-block;
            margin-top: 8px;
        }

        .new-black.hero-page-header .mc-logo .sub-title {
            display: block;
        }

            .new-black.hero-page-header .mc-logo .sub-title:before {
                content: '';
            }

    .new-black.hero-page-header .mc-text {
        font-size: 20px;
    }

        .new-black.hero-page-header .mc-text br {
            display: none;
        }
}

@media (max-width: 780px) {
    .new-black.hero-page-header .mc-logo,
    .new-black.hero-page-header .mc-logo span {
        font-size: 20px;
        line-height: normal;
    }

    .new-black.hero-page-header .mc-logo {
        display: block;
        float: none;
        width: auto;
    }

        .new-black.hero-page-header .mc-logo > span {
            line-height: 14px;
            margin-top: 10px;
        }

        .new-black.hero-page-header .mc-logo .icon {
            width: 80px;
            background-size: 80px auto;
            height: 50px;
            margin-top: 5px;
            margin-bottom: 0;
            vertical-align: top;
        }

    .new-black.hero-page-header .mc-text {
        margin-top: 20px;
        float: none;
        width: auto;
        font-size: 16px;
        line-height: normal;
    }
}
