﻿#whats-new .carousel-div { height:250px; background:url(/portal/content/images/page/carouselHomeBackground.gif) no-repeat 0 bottom; }
	#whats-new .carousel-div .carousel-list { top:24px; height:226px; }
		#whats-new .carousel-div .carousel-list li { width:326px; height:233px; padding:15px 20px 10px 285px; }
			#whats-new .carousel-div .carousel-list li h3 { line-height:20px; }
	#whats-new .carousel-div .carousel-link-list { bottom:8px; }
	
#home-title { float:left; }
#browse-content { float:right; width:203px; }
	#browse-content .browse-content-menu { margin:0; }