﻿/*=clearfix========*/
.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

* html .clearfix {
    zoom: 1;
}

*:first-child + html .clearfix {
    zoom: 1;
}

a, a strong, a i, a em {
    color: #3a6f96;
    text-decoration: none;
    font-size: inherit;
}

    a, a img {
        border: none;
    }

        a:hover, a:hover em, a:hover strong {
            text-decoration: underline;
        }

#root-div {
    background: url(/portal/content/images/page/body_bg.gif) repeat-x 0 0 #fff;
    clear: both;
}

#main {
    margin: 0 auto;
    width: 958px;
}

/*=header==========*/
#header li {
    list-style: none;
}

#header .menu-user-list {
    float: right;
    margin: 0 0 4px 0;
    padding: 0;
    background: url(/portal/content/images/page/top_bg_cor.gif) repeat-x left bottom;
}

    #header .menu-user-list li {
        float: left;
        margin: 0;
        padding: 4px 0 3px 0;
        font-size: 11px;
        line-height: 11px;
    }

        #header .menu-user-list li.first-child {
            padding-left: 11px;
            background: url(/portal/content/images/page/top_left_cor.gif) no-repeat left bottom;
        }

        #header .menu-user-list li.last-child {
            padding-right: 11px;
            background: url(/portal/content/images/page/top_right_cor.gif) no-repeat right bottom;
        }

        #header .menu-user-list li strong {
            display: block;
            padding: 0 4px;
            font-weight: normal;
            font-size: 11px;
            line-height: 11px;
            color: #f58025;
        }

        #header .menu-user-list li a {
            display: block;
            padding: 0 4px;
            font-size: 11px;
            line-height: 11px;
            color: #666;
        }

#header .section-div {
    position: relative;
    clear: both;
    padding: 11px 10px 12px 18px;
    height: 72px;
    background: url(/portal/content/images/page/center_header_bg.gif) repeat-x 0 0;
    z-index: 9999;
}

    #header .section-div .bg-left-div {
        position: absolute;
        display: block;
        top: 0px;
        left: 0px;
        width: 10px;
        height: 93px;
        background: url(/portal/content/images/page/left_header.gif) no-repeat left top;
    }

    #header .section-div .bg-right-div {
        position: absolute;
        display: block;
        top: 0px;
        right: 0px;
        width: 10px;
        height: 93px;
        background: url(/portal/content/images/page/right_header.gif) no-repeat right top;
    }

    #header .section-div .menu-container {
        position: relative;
        float: right;
        width: 450px;
        height: 60px;
        top: 0px;
        margin-right: 10px;
    }

    #header .section-div .processor-logo {
        position: relative;
        float: right;
        right: 0px;
        top: 0px;
        height: 60px;
    }

    #header .section-div .menu-top-list {
        position: absolute;
        display: block;
        top: 0px;
        right: 0px;
        margin: 0;
        padding: 0;
    }

        #header .section-div .menu-top-list li {
            float: left;
            margin: 0;
            padding: 0 10px;
            border-left: 1px solid #58595b;
        }

            #header .section-div .menu-top-list li.first-child {
                border: 0;
            }

            #header .section-div .menu-top-list li.last-child {
                padding-right: 5px;
            }

            #header .section-div .menu-top-list li a {
                font-size: 9px;
                color: #6d6e70;
            }

    #header .section-div .menu-main-list {
        position: absolute;
        display: block;
        bottom: 0px;
        right: 0px;
        margin: 0 -10px 0 0;
        padding: 0;
    }

        #header .section-div .menu-main-list li {
            position: relative;
            float: left;
        }

            #header .section-div .menu-main-list li.last-child {
                padding-right: 5px;
            }

            #header .section-div .menu-main-list li a {
                display: block;
                padding: 4px 10px 3px 7px;
                font-size: 11px;
                font-weight: bold;
                font-family: Tahoma, sans-serif;
                color: #6d6e70;
            }

                #header .section-div .menu-main-list li a:hover {
                    color: #7b0000;
                    text-decoration: none;
                }

            #header .section-div .menu-main-list li.with-submenu a:hover,
            #header .section-div .menu-main-list li.with-submenu:hover a,
            #header .section-div .menu-main-list li.with-submenu.hover a {
                padding: 3px 9px 3px 6px;
                color: #cb2128;
                border: 1px solid #d1d1d2;
                border-bottom: 0;
                background: #fff;
                text-decoration: none;
            }

            #header .section-div .menu-main-list li a.current {
                color: #7b0000;
            }

            #header .section-div .menu-main-list li ul {
                display: none;
                position: absolute;
                top: 100%;
                left: 0px;
                padding: 5px 10px;
                background: #fff;
                border: 1px solid #d1d1d2;
                z-index: 1000;
            }

            #header .section-div .menu-main-list li:hover ul,
            #header .section-div .menu-main-list li.hover ul {
                display: block;
            }

*:first-child + html div.main_container #header .section-div .menu-main-list li ul {
    left: -40px;
}

#header .section-div .menu-main-list li ul li {
    display: block;
    float: none;
    padding: 3px 5px 3px 15px;
    background: url(/portal/content/images/icons/orangeArrow.gif) no-repeat 0 center;
}

#header .section-div .menu-main-list li.with-submenu ul li a,
#header .section-div .menu-main-list li.with-submenu:hover ul li a,
#header .section-div .menu-main-list li.hover ul li a {
    padding: 0;
    border: 0;
    font-size: 9px;
    color: #233c75;
    white-space: nowrap;
}

    #header .section-div .menu-main-list li.with-submenu ul li a:hover {
        padding: 0;
        border: 0;
        color: #cb2128;
        text-decoration: underline;
    }

#header .page-options-list {
    float: right;
    margin: 0 6px 0 0;
}

    #header .page-options-list li {
        float: left;
        padding: 0 8px;
    }

        #header .page-options-list li .search-form {
            position: relative;
        }

            #header .page-options-list li .search-form .submit-button {
                float: left;
                margin: 2px 2px 2px 0;
            }

        #header .page-options-list li select {
            padding: 0 0 1px 0;
            width: 113px;
            font: normal 10pt Arial, Helvetica, sans-serif;
            line-height: normal;
            color: #000;
            vertical-align: top;
        }

            #header .page-options-list li select option {
                font: normal 10pt Verdana, Arial, sans-serif;
            }

        #header .page-options-list li label {
            float: left;
            display: block;
            width: auto;
            margin: 0 4px 0 0;
            padding: 5px 0 4px 0;
            font: normal 10px/normal Verdana,Arial,Helvetica,sans-serif;
            color: #58595B;
            font-size: 9px;
        }

        #header .page-options-list li .search-form .text-field {
            float: left;
            padding: 1px 2px 2px 2px;
            width: 133px;
            font: 10pt Verdana,Arial,Helvetica,sans-serif;
            color: #000;
            vertical-align: top;
        }

        #header .page-options-list li .search-form label {
            display: block;
            float: left;
            padding: 2px 0;
            font: 10pt Verdana,Arial,Helvetica,sans-serif;
            color: #666;
        }

            #header .page-options-list li .search-form label.overlabel {
                position: absolute;
                top: 0px;
                left: 21px;
                cursor: text;
            }

#header #search-button-link {
    float: left;
    padding-right: 4px;
    padding-top: 4px;
}

* html #header .page-options-list li .search-form label.overlabel {
    left: -118px;
}

#header .page-options-list li a {
    display: block;
    padding: 0;
    font-weight: normal;
    font-size: 9px;
    color: #6d6e70;
}

    #header .page-options-list li a.print-link {
        padding-top: 0;
        padding-left: 20px;
        background: url(/portal/content/images/buttons/printIcon.png) no-repeat 0 -2px;
    }

/*=body============*/
#body {
    padding: 15px 0;
    position: relative;
    z-index: 1;
}

/*=footer==========*/
#footer {
    clear: both;
    border-top: 1px solid #bbbdbf;
    margin: 10px 0 0 0;
    padding: 10px 0;
}

    #footer .footer-list {
        float: left;
        margin: 0;
        padding: 0;
    }

        #footer .footer-list li {
            float: left;
            margin: 0;
            padding: 0 10px;
            border-right: 1px solid #58595b;
            font-size: 11px;
            list-style: none;
        }

            #footer .footer-list li.first-child {
                padding-left: 0;
            }

            #footer .footer-list li.last-child {
                border: 0;
            }

            #footer .footer-list li a {
                margin: 0;
                padding: 0;
                font: 11px/normal Verdana, Helvetica, sans-serif;
                color: #58595b;
            }

    #footer p.copy-paragraph {
        float: right;
        margin: 0;
        padding: 0;
    }

#adminbar {
    background: #333;
    width: 100%;
    height: 40px;
    float: left;
    position: relative;
    font: 12px Helvetica, Verdana, sans-serif normal bold;
}

    #adminbar .adminbar_inner {
        margin: 0 auto;
        padding: 0px 0;
        width: 950px;
        color: #e1e1e1;
        font: 18px Helvetica,Verdana,sans-serif;
        font-weight: bold;
    }

        #adminbar .adminbar_inner p {
            color: #e1e1e1;
            margin-top: 12px;
            font: 12px Helvetica, Verdana, sans-serif normal bold;
        }

        #adminbar .adminbar_inner .mode {
            color: #fff;
            border-radius: 3px;
            padding: 4px 12px;
            text-transform: uppercase;
            font-weight: bold;
        }

        #adminbar .adminbar_inner .previewMode {
            background: #d44b38;
        }

        #adminbar .adminbar_inner .liveMode {
            background: #3AA54C;
        }

        #adminbar .adminbar_inner .left {
            float: left;
        }

        #adminbar .adminbar_inner .right {
            float: right;
            margin-top: 10px;
        }

            #adminbar .adminbar_inner .right a {
                margin-right: 5px;
            }

            #adminbar .adminbar_inner .right span {
                padding: 0px 20px;
                color: #E1E1E1;
            }

        #adminbar .adminbar_inner #editbutton {
            width: 67px;
            height: 20px;
            margin: 0 10px;
            background: url("../images/buttons/editbutton.gif") no-repeat;
            border: none;
        }

        #adminbar .adminbar_inner a {
            color: #e1e1e1;
        }

/*=Modal===========*/
.ui-dialog {
    z-index: 99999 !important;
}

.ui-widget-overlay {
    z-index: 99998 !important;
}

.div_modal_wrapper_top {
    display: block;
    position: fixed;
    top: 17%;
    left: 50%;
    margin-left: -310px;
    padding-top: 7px;
    background: url(/portal/inc/images/modal_top.gif) left top no-repeat;
    z-index: 10001;
}

.div_modal_wrapper_bottom {
    background: url(/portal/inc/images/modal_btm.gif) left bottom no-repeat;
    padding-bottom: 7px;
}

    .div_modal_wrapper_bottom .div_modal {
        background: white url(/portal/inc/images/modal_bg_transparent.gif) left top repeat-y;
        width: 630px;
    }

.div_modal .clear {
    clear: both;
}

.div_modal .top_row {
    padding: 5px 0 20px 10px;
    background: url(/portal/inc/images/dotted.gif) left bottom no-repeat;
    margin: 0 2px 10px 1px;
}

    .div_modal .top_row .btn_close {
        float: right;
        margin-right: 20px;
    }

        .div_modal .top_row .btn_close a {
            background: url(/portal/inc/images/close_button.png) left bottom no-repeat;
            display: block;
            width: 30px;
            height: 31px;
        }

    .div_modal .top_row img {
        float: left;
        margin-right: 20px;
        border: none;
    }

    .div_modal .top_row p {
        font-size: 1.1em;
        width: 350px;
        padding-top: 5px;
    }

.div_modal .bottom_row {
    clear: both;
    margin-top: -8px;
}

.div_modal .left_col {
    float: left;
    width: 170px;
    padding: 10px 0 20px 0;
}

.div_modal .right_col {
    float: right;
    width: 395px;
    background: url(/portal/inc/images/modal_seperator.gif) left top no-repeat;
    margin-bottom: -5px;
    padding: 10px 0 20px 50px;
}

.div_modal .req-expl {
    clear: both;
    color: #ee3124;
    font-size: 0.9em;
    padding-top: 10px;
    margin-left: 12px;
}

.div_modal .req {
    color: #ee3124;
}

.div_modal label {
    font-weight: normal;
    display: block;
    float: left;
    width: 145px;
    margin-left: 12px;
}

.div_modal p.header {
    padding: 0 80px 10px 12px;
    margin: 0;
    font-size: 1.1em;
    height: 40px;
}

.div_modal input {
    background: #F1F1F2 none repeat scroll 0 0;
    border: 1px solid #D2D3D5;
    color: #666666;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 12px;
    margin: 0;
    width: 145px;
    margin-top: 8px;
}

    .div_modal input.submit_bg_btn {
        border: none;
        height: 20px !important;
        width: 66px !important;
        margin: 0;
    }

.div_modal .float_right {
    float: right;
    padding-right: 82px;
}

.div_modal .right_col .check_box {
    padding-left: 10px;
    margin: 0;
}

    .div_modal .right_col .check_box input {
        background: none;
        border: none;
        float: left;
        width: 20px;
    }

    .div_modal .right_col .check_box label {
        font-size: 10px;
        padding: 0;
    }

        .div_modal .right_col .check_box label a {
            font-size: 10px;
        }

#feedback_modal .top_row {
    background: none;
    border-bottom: 2px dotted #ccc;
    margin-bottom: 0;
}

    #feedback_modal .top_row p {
        width: auto;
        font-size: 1.4em;
        line-height: 1.4em;
        margin-bottom: 0;
        padding-right: 20px;
    }

#feedback_modal p {
    padding-left: 15px;
    width: 165px;
    line-height: 1.4em;
}

    #feedback_modal p.modal_button {
        background: url(/portal/inc/images/modal_button.gif) #EF3B24 no-repeat top left;
        margin: 0 45px 0 15px;
        height: 26px;
        width: 100px;
    }

#feedback_modal #modal_button_1 {
    padding: 5px 9px 5px 9px;
    line-height: 1em;
}

#feedback_modal #modal_button_2 {
    margin-top: 10px;
    padding: 10px 9px 0 9px;
    line-height: 1em;
}

#feedback_modal p.modal_button a {
    color: #FFF;
    font-weight: bold;
    font-size: 10px;
    text-transform: uppercase;
}

#feedback_modal .bottom_row {
    margin-top: 0;
    height: 143px;
}

#feedback_modal .right_col {
    background: none;
    width: 440px;
    padding: 0;
    border-left: 2px dotted #ccc;
}

    #feedback_modal .right_col img {
        float: right;
        margin-right: 5px;
    }

.jqmOverlay {
    background-color: black;
    z-index: 10000 !important;
}

#FORM1 div.main_container div.breadcurm {
    padding: 2px 0;
    margin: -22px 0 0 0;
    font: normal 9px/normal Verdana, Arial, Helvetica, sans-serif;
}

    #FORM1 div.main_container div.breadcurm a {
        font: normal 9px/normal Verdana, Arial, Helvetica, sans-serif;
    }

#FORM1 div.main_container div.center_container div.form_container {
    padding: 15px 0;
}

#FORM1 .bg_btn,
#FORM1 .btn_left,
#FORM1 .bg_btn_left,
#FORM1 .submit_bg_btn_left {
    margin: 9px 5px 0 0;
    padding: 0 0 0 8px;
    width: auto;
    height: auto;
    background: url("/portal/inc/images/btn_bg_left.gif") no-repeat scroll left top #EF3B24;
    cursor: pointer;
}

#FORM1 .btn_right,
#FORM1 .submit_bg_btn {
    float: left;
    margin: 0;
    padding: 0 10px 0 0;
    width: auto;
    height: 20px !important;
    min-width: 60px;
    text-decoration: none;
    font: bold 11px/20px Arial, Helvetica, sans-serif !important;
    background: url("/portal/inc/images/btn_bg_right.gif") no-repeat scroll right top transparent !important;
    cursor: pointer;
}

#FORM1 .promotion-box .bg_btn {
    margin: 0;
}

#FORM1 .btn_right, #FORM1 .grey_bg_btn {
    color: #fff;
    cursor: pointer;
}

    #FORM1 .btn_left:hover, #FORM1 .btn_right:hover, #FORM1 .bg_grey_left:hover, #FORM1 .grey_bg_btn:hover {
        text-decoration: none;
    }

#segment-field {
    overflow: hidden;
}
