.mmc-paddt {
    padding-top: 12px !important;
}

.header-section .inner h1.nowrap {
    width: 100%;
}

.mmc-hscroll {
    overflow-x: scroll;
    overflow-y: hidden;
    position: relative;
    height: 18px;
    margin-left: 245px;
}

    .mmc-hscroll .mmc-dummy {
        width: 1980px;
        height: 18px;
    }

#mmc-calendar-filter {
    position: relative;
    z-index: 100;
}

    #mmc-calendar-filter .download-pdf {
        text-align: right;
    }

    #mmc-calendar-filter .campaign-filter {
        min-height: 90px;
    }

    #mmc-calendar-filter .service-filter {
        min-height: 62px;
    }

        #mmc-calendar-filter .campaign-filter td,
        #mmc-calendar-filter .service-filter td,
        #mmc-calendar-filter .markets-filter td,
        #mmc-calendar-filter .download-pdf td {
            padding: 0;
            margin: 0;
        }

            #mmc-calendar-filter .campaign-filter td.label,
            #mmc-calendar-filter .service-filter td.label,
            #mmc-calendar-filter .markets-filter td.label,
            #mmc-calendar-filter .download-pdf td.label {
                padding: 0px 20px;
                width: 200px;
                font-weight: bold;
                font-size: 16px;
                line-height: normal;
                text-transform: uppercase;
                color: #fff;
                background: #000;
                vertical-align: middle;
            }

        #mmc-calendar-filter .service-filter ul.dropdown-menu,
        #mmc-calendar-filter .markets-filter ul.dropdown-menu,
        #mmc-calendar-filter .download-pdf ul.dropdown-menu,
        #mmc-calendar .mobile ul.dropdown-menu {
            width: 100%;
            margin-top: 0;
            padding: 0;
            border-radius: 0;
        }

#mmc-calendar .mobile ul.dropdown-menu {
    margin-top: -15px;
}

    #mmc-calendar-filter .service-filter ul.dropdown-menu > li > a,
    #mmc-calendar-filter .markets-filter ul.dropdown-menu > li > a,
    #mmc-calendar-filter .download-pdf ul.dropdown-menu > li > a,
    #mmc-calendar .mobile ul.dropdown-menu > li > a {
        padding-top: 10px;
        padding-bottom: 10px;
    }

#mmc-calendar-filter .service-filter td.label,
#mmc-calendar-filter .download-pdf td.label {
    padding-top: 25px;
    vertical-align: top;
}

#mmc-calendar-filter .campaign-filter td.label span,
#mmc-calendar-filter .campaign-filter div.label span,
#mmc-calendar-filter .markets-filter td.label span {
    font-size: 12px;
}

#mmc-calendar-filter .campaign-filter td.option,
#mmc-calendar-filter .campaign-filter div.option,
#mmc-calendar-filter .service-filter td.option,
#mmc-calendar-filter .markets-filter td.option,
#mmc-calendar-filter .download-pdf td.option {
    vertical-align: middle;
    padding: 20px 20px;
    font-size: 16px;
    background: #dbdbdb;
}

    #mmc-calendar-filter .campaign-filter td.option label,
    #mmc-calendar-filter .campaign-filter div.option label {
        display: block;
        line-height: 20px;
        padding-left: 20px;
    }

        #mmc-calendar-filter .campaign-filter td.option label input,
        #mmc-calendar-filter .campaign-filter div.option label input {
            margin-left: -20px;
        }

#mmc-calendar-filter .service-filter table,
#mmc-calendar-filter .markets-filter table,
#mmc-calendar-filter .download-pdf table {
    margin: 0;
}

.markets-filter-table {
    min-height: 95px;
}

#mmc-calendar-filter .service-filter td.option,
#mmc-calendar-filter .markets-filter td.option,
#mmc-calendar-filter .download-pdf td.option {
    width: 180px;
}

    #mmc-calendar-filter .markets-filter td.option > div {
        position: relative;
    }

#mmc-calendar-filter td.table {
    margin: 0;
}

#mmc-calendar-filter .service-filter td.option label,
#mmc-calendar-filter .markets-filter td.option label,
#mmc-calendar-filter .download-pdf td.option label {
    position: relative;
    display: block;
}

#mmc-calendar-filter .service-filter td.option .arrow,
#mmc-calendar-filter .markets-filter td.option .arrow,
#mmc-calendar-filter .download-pdf td.option .arrow {
    position: absolute;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    top: 50%;
    right: -30px;
    margin-top: -10px;
    border-width: 10px 0 10px 10px;
    border-left-color: #dbdbdb;
}

#mmc-calendar-filter td.option.last {
    width: 256px;
}

#mmc-calendar-filter .service-filter td.description,
#mmc-calendar-filter .markets-filter td.description,
#mmc-calendar-filter .download-pdf td.description {
    padding: 0px 20px;
    font-size: 14px;
    background: #fff;
    vertical-align: middle;
}

    #mmc-calendar-filter .service-filter td.description p,
    #mmc-calendar-filter .markets-filter td.description p,
    #mmc-calendar-filter .download-pdf td.description p {
        margin: 0;
    }

    #mmc-calendar-filter .markets-filter td.description .no-content {
        color: #f00;
    }

#mmc-calendar-filter td.links {
    width: 306px;
    background: #fff;
    vertical-align: top;
}

    #mmc-calendar-filter td.links .btn {
        padding: 0 21px;
    }

.mmc-calendar {
    font: normal 11px/15px arial, helvetica, sans-serif;
    min-height: 200px;
    overflow: hidden;
}

    .mmc-calendar .relative {
        position: relative;
    }

    .mmc-calendar .mmc-calendar-header {
        margin-left: 245px;
        width: 1155px;
        height: 80px;
        overflow: hidden;
    }

        .mmc-calendar .mmc-calendar-header table.mmc-table {
            width: 2118px;
            max-width: 2118px;
        }

            .mmc-calendar .mmc-calendar-header table.mmc-table .sidebar-col {
                width: 250px;
                min-width: 250px;
            }

    .mmc-calendar .mmc-calendar-sidebar {
        margin-top: -41px;
        width: 245px;
        min-width: 245px;
        /*height: 801px;*/
        float: left;
        overflow: hidden;
        border-top: 1px solid #ccc;
    }

        .mmc-calendar .mmc-calendar-sidebar .mmc-hidden {
            width: 245px;
            height: 1px;
            visibility: hidden;
        }

    .mmc-calendar .mmc-calendar-body {
        overflow-x: scroll;
        width: 1155px;
        /*max-height: 775px;*/
        float: left;
    }

        .mmc-calendar .mmc-calendar-body .mmc-disabled {
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            height: 100%;
            background: rgba(150, 150, 150, 0.25);
            z-index: 999;
        }

            .mmc-calendar .mmc-calendar-body .mmc-disabled.c1 {
                width: 165px;
            }

        .mmc-calendar .mmc-calendar-body .mmc-calendar-row {
            position: relative;
        }

            .mmc-calendar .mmc-calendar-body .mmc-calendar-row.mmc-even {
                background: #fff !important;
            }

                .mmc-calendar .mmc-calendar-body .mmc-calendar-row.mmc-even .mmc-table .mmc-table-cell {
                    border-left-color: #fff !important;
                }

            .mmc-calendar .mmc-calendar-body .mmc-calendar-row.mmc-odd {
                background: #f4f4f4 !important;
            }

                .mmc-calendar .mmc-calendar-body .mmc-calendar-row.mmc-odd .mmc-table .mmc-table-cell {
                    border-left-color: #f4f4f4 !important;
                }

            .mmc-calendar .mmc-calendar-body .mmc-calendar-row:nth-child(2n) {
                background: #f4f4f4;
            }

                .mmc-calendar .mmc-calendar-body .mmc-calendar-row.mmc-odd .mmc-table .mmc-table-cell,
                .mmc-calendar .mmc-calendar-body .mmc-calendar-row:nth-child(2n) .mmc-table .mmc-table-cell {
                    border-left-color: #f4f4f4;
                }

            .mmc-calendar .mmc-calendar-body .mmc-calendar-row.has-supported.has-self-serve div.mmc-table {
                height: 180px;
            }

        .mmc-calendar .mmc-calendar-body .mmc-hidden {
            width: auto;
            height: 1px;
            visibility: hidden;
        }

#mm-row-56 {
    height: 180px;
}

.mmc-calendar.hide-self-serve .mmc-calendar-body .mmc-calendar-row.has-supported.has-self-serve .mmc-event-item.self-serve {
    display: none;
}

.mmc-calendar.hide-supported .mmc-calendar-body .mmc-calendar-row.has-supported.has-self-serve .mmc-event-item:not(.self-serve) {
    display: none;
}

.mmc-calendar.hide-self-serve .mmc-calendar-body .mmc-calendar-row.has-supported.has-self-serve .mmc-event-extra-row {
    display: none;
}

.mmc-calendar.hide-supported .mmc-calendar-body .mmc-calendar-row.has-supported.has-self-serve .mmc-event-extra-row {
    position: relative;
    top: 0;
}

.mmc-calendar.hide-supported .mmc-calendar-sidebar .mmc-container div.mmc-table.has-supported.has-self-serve .mmc-table-cell,
.mmc-calendar.hide-self-serve .mmc-calendar-sidebar .mmc-container div.mmc-table.has-supported.has-self-serve .mmc-table-cell {
    height: auto;
}

.mmc-calendar.hide-supported .mmc-calendar-body .mmc-calendar-row.has-supported.has-self-serve div.mmc-table,
.mmc-calendar.hide-self-serve .mmc-calendar-body .mmc-calendar-row.has-supported.has-self-serve div.mmc-table {
    height: 95px;
}

div.mmc-table {
    overflow: hidden;
    box-sizing: border-box;
    height: 95px;
}

.mmc-calendar-sidebar .mmc-container {
    overflow-x: hidden;
    overflow-y: auto;
    border-right: 1px solid #ccc;
}

    .mmc-calendar-sidebar .mmc-container div.mmc-table,
    .mmc-calendar-body div.mmc-table {
        min-height: 95px;
    }

div.mmc-table.fixed {
    position: relative;
    z-index: 99;
}

div.extra {
    height: 180px;
}

.mmc-table.extra {
    height: 180px;
}

    .mmc-table.extra.open {
        height: 185px;
    }

div.mmc-table .mmc-table-cell,
div.mmc-table .mmc-table-head {
    float: left;
    width: 165px;
    max-width: 165px;
    height: 100%;
    border-left: 1px solid #fff;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    box-sizing: border-box;
}

    div.mmc-table .mmc-table-cell.disabled {
        color: #999;
    }

div.mmc-table .mmc-table-head {
    font-weight: 600;
    font-size: 16px;
    line-height: 40px;
    font-family: "Accord Alternate", Arial, Helvetica, sans-serif;
    height: 40px;
    text-align: center;
    text-transform: uppercase;
    background: #fff;
}

div.mmc-table .mmc-table-cell.separator,
.mmc-calendar .mmc-calendar-body .mmc-calendar-row:nth-child(2n) .mmc-table .mmc-table-cell.separator {
    border-left: 2px solid #ccc;
}

.mmc-calendar .mmc-calendar-body .mmc-calendar-row.mmc-even .mmc-table .mmc-table-cell.separator,
.mmc-calendar .mmc-calendar-body .mmc-calendar-row.mmc-odd .mmc-table .mmc-table-cell.separator {
    border-left: 2px solid #ccc !important;
}

div.mmc-table .mmc-table-head.bg-gray,
div.mmc-table .mmc-table-cell.bg-gray,
.mmc-calendar-header div.mmc-table .mmc-table-cell.bg-gray {
    background: #ccc;
    border-color: #ccc;
}

div.mmc-table .mmc-table-cell.span2 {
    width: 330px;
    max-width: 330px;
}

div.mmc-table .mmc-table-cell.span3 {
    width: 495px;
    max-width: 495px;
}

div.mmc-table .mmc-table-cell.span4 {
    width: 660px;
    max-width: 660px;
}

.mmc-calendar-header div.mmc-table {
    width: 1980px;
    height: 40px;
    background: #ccc;
}

    .mmc-calendar-header div.mmc-table .mmc-table-cell {
        font-weight: 600;
        font-size: 16px;
        line-height: 40px;
        font-family: "Accord Alternate", Arial, Helvetica, sans-serif;
        text-align: center;
        text-transform: uppercase;
        background: #fff;
    }

    .mmc-calendar-header div.mmc-table.years .mmc-table-cell {
        border-color: #ccc;
        border-top: 1px solid #ccc;
    }

.mmc-calendar-sidebar div.mmc-table {
    width: 245px;
    height: auto;
}

    .mmc-calendar-sidebar div.mmc-table .mmc-table-cell {
        border-left-color: #ccc;
        min-height: 95px;
    }

.mmc-calendar-sidebar .mmc-container div.mmc-table.mmc-even {
    background: #fff !important;
}

.mmc-calendar-sidebar .mmc-container div.mmc-table.mmc-odd {
    background: #f4f4f4 !important;
}

.mmc-calendar-sidebar .mmc-container div.mmc-table:nth-child(2n) {
    background: #f4f4f4;
}

.mmc-calendar-sidebar div.mmc-table.has-supported.has-self-serve .mmc-table-cell {
    height: 180px;
}

.mmc-calendar-sidebar div.mmc-table .mmc-table-head,
.mmc-calendar-sidebar div.mmc-table .mmc-table-cell {
    width: 245px;
    max-width: 245px;
}

.mmc-calendar-body div.mmc-calendar-row,
.mmc-calendar-body div.mmc-table {
    width: 1980px;
}

.mmc-event-extra-row {
    position: absolute;
    top: 82px;
}

.mmc-event-item {
    position: absolute;
    display: block;
    width: 165px;
    z-index: 99;
    text-decoration: none;
    cursor: default;
}

    .mmc-event-item:hover {
        text-decoration: none;
    }

    .mmc-event-item .body {
        height: 69px;
        width: calc(100% - 26px);
        margin: 13px;
        padding: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-flow: column;
    }

    .mmc-event-item span {
        display: block;
        width: 100%;
        font-weight: normal;
        font-size: 13px;
        line-height: 17px;
        color: #000;
        text-align: center;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
    }

        .mmc-event-item span.title {
            font-weight: 600;
        }

    .mmc-event-item.offset-1 {
        margin-left: 165px;
    }

    .mmc-event-item.offset-2 {
        margin-left: 330px;
    }

    .mmc-event-item.offset-3 {
        margin-left: 495px;
    }

    .mmc-event-item.offset-4 {
        margin-left: 660px;
    }

    .mmc-event-item.offset-5 {
        margin-left: 825px;
    }

    .mmc-event-item.offset-6 {
        margin-left: 990px;
    }

    .mmc-event-item.offset-7 {
        margin-left: 1155px;
    }

    .mmc-event-item.offset-8 {
        margin-left: 1320px;
    }

    .mmc-event-item.offset-9 {
        margin-left: 1485px;
    }

    .mmc-event-item.offset-10 {
        margin-left: 1650px;
    }

    .mmc-event-item.offset-11 {
        margin-left: 1815px;
    }

    .mmc-event-item.offset-12 {
        margin-left: 1980px;
    }

    .mmc-event-item.offset-13 {
        margin-left: 2145px;
    }

    .mmc-event-item.offset-14 {
        margin-left: 2310px;
    }

    .mmc-event-item.offset-15 {
        margin-left: 2475px;
    }

    .mmc-event-item.offset-16 {
        margin-left: 2640px;
    }

    .mmc-event-item.offset-17 {
        margin-left: 2805px;
    }

    .mmc-event-item.offset-18 {
        margin-left: 2970px;
    }

    .mmc-event-item.offset-19 {
        margin-left: 3135px;
    }

    .mmc-event-item.offset-20 {
        margin-left: 3300px;
    }

    .mmc-event-item.offset-21 {
        margin-left: 3465px;
    }

    .mmc-event-item.offset-22 {
        margin-left: 3630px;
    }

    .mmc-event-item.offset-23 {
        margin-left: 3795px;
    }

    .mmc-event-item.offset-24 {
        margin-left: 3960px;
    }

    .mmc-event-item.span-2 {
        width: 330px;
    }

    .mmc-event-item.span-3 {
        width: 495px;
    }

    .mmc-event-item.span-4 {
        width: 660px;
    }

    .mmc-event-item.span-5 {
        width: 825px;
    }

    .mmc-event-item.span-6 {
        width: 990px;
    }

    .mmc-event-item.span-7 {
        width: 1155px;
    }

    .mmc-event-item.span-8 {
        width: 1320px;
    }

    .mmc-event-item.span-9 {
        width: 1485px;
    }

    .mmc-event-item.span-10 {
        width: 1650px;
    }

    .mmc-event-item.span-11 {
        width: 1815px;
    }

    .mmc-event-item.span-12 {
        width: 1980px;
    }

    .mmc-event-item.span-13 {
        width: 2145px;
    }

    .mmc-event-item.span-14 {
        width: 2310px;
    }

    .mmc-event-item.span-15 {
        width: 2475px;
    }

    .mmc-event-item.span-16 {
        width: 2640px;
    }

    .mmc-event-item.span-17 {
        width: 2805px;
    }

    .mmc-event-item.span-18 {
        width: 2970px;
    }

    .mmc-event-item.span-19 {
        width: 3135px;
    }

    .mmc-event-item.span-20 {
        width: 3300px;
    }

    .mmc-event-item.span-21 {
        width: 3465px;
    }

    .mmc-event-item.span-22 {
        width: 3630px;
    }

    .mmc-event-item.span-23 {
        width: 3795px;
    }

    .mmc-event-item.span-24 {
        width: 3960px;
    }

a.mmc-event-item {
    cursor: pointer;
}

    a.mmc-event-item:hover .title {
        text-decoration: underline;
    }

.mmc-program {
    padding: 15px 15px;
    text-align: center;
}

    .mmc-program .type {
        margin: 0 auto;
        padding: 2px 5px;
        max-width: 142px;
        font-size: 13px;
        text-decoration: none;
        text-transform: uppercase;
        background: #fca560;
    }

        .mmc-program .type,
        .mmc-program .type.gray {
            background: #dbdbdb;
        }

    .mmc-program .more-link {
        display: block;
        margin-bottom: 5px;
    }

        .mmc-program .more-link,
        .mmc-program .more-link a {
            font-size: 16px;
            text-decoration: none;
            color: #000;
        }

            .mmc-program .more-link a:hover {
                text-decoration: underline;
            }

            .mmc-program .more-link .link {
                cursor: pointer;
            }

            .mmc-program .more-link .fa {
                color: #ff671b;
            }

            .mmc-program .more-link .fa-plus-circle {
                display: inline-block;
            }

            .mmc-program .more-link .fa-minus-circle {
                display: none;
            }

            .mmc-program .more-link.opened .fa-plus-circle {
                display: none;
            }

            .mmc-program .more-link.opened .fa-minus-circle {
                display: inline-block;
            }

    .mmc-program .description {
        display: none;
        font-size: 13px;
        margin-bottom: 10px;
    }

/* mobile */
#mmc-calendar .mmc-calendar-list {
    margin: 0;
    padding: 0;
}

    #mmc-calendar .mmc-calendar-list header {
        margin-bottom: 20px;
        padding: 20px 15px;
        background: #f4f4f4;
    }

        #mmc-calendar .mmc-calendar-list header table {
            margin: 0;
        }

        #mmc-calendar .mmc-calendar-list header td {
            padding: 10px;
            width: 30%;
            font-size: 13px;
            line-height: 23px;
            color: #333;
            text-transform: uppercase;
        }

            #mmc-calendar .mmc-calendar-list header td:first-child {
                text-align: left;
            }

            #mmc-calendar .mmc-calendar-list header td:last-child {
                text-align: right;
            }

            #mmc-calendar .mmc-calendar-list header td.current {
                width: 40%;
                font-weight: bold;
                font-size: 16px;
                line-height: 22px;
                color: #333;
                background: #ff671b;
                text-align: center;
            }

            #mmc-calendar .mmc-calendar-list header td a {
                color: #333;
                text-decoration: underline;
            }

    #mmc-calendar .mmc-calendar-list h3 {
        margin: 0;
        padding: 10px 0;
        font-weight: bold;
        font-size: 16px;
        line-height: 22px;
        text-align: center;
    }

table.campaign-filter-table {
    margin: 0;
    background-color: white;
}

div.campaign-filter-table {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
}

    div.campaign-filter-table > div.option {
        flex: 0 0 20%;
    }

#mmc-calendar .mmc-calendar-list > li {
    display: none;
}

    #mmc-calendar .mmc-calendar-list > li.current {
        display: block;
    }

#mmc-calendar .mmc-calendar-list section ul {
    margin: 0;
    padding: 0;
}

    #mmc-calendar .mmc-calendar-list section ul li {
        border-bottom: 1px solid #dbdbdb;
    }

        #mmc-calendar .mmc-calendar-list section ul li:nth-child(2n) {
            background: #f4f4f4;
        }

.mobile .mmc-program {
    padding: 25px;
}

    .mobile .mmc-program .more-link {
        display: block;
        margin-bottom: 10px;
        text-align: left;
        color: #333;
        text-decoration: underline;
    }

        .mobile .mmc-program .more-link a {
            float: right;
        }

    .mobile .mmc-program .type {
        margin: 0;
        max-width: 142px;
    }

    .mobile .mmc-program .description {
        padding-top: 10px;
        margin-bottom: 0;
        text-align: left;
    }

        .mobile .mmc-program .description p {
            margin-top: 0;
            margin-bottom: 10px;
        }

            .mobile .mmc-program .description p:last-child {
                margin-bottom: 0;
            }

        .mobile .mmc-program .description .text-bold {
            font-weight: bold;
        }

        .mobile .mmc-program .description .service-type + .service-type:before {
            content: ', ';
        }

@media (max-width: 1023px) {
    .mmc-paddt {
        padding-top: 0 !important;
    }

    #mmc-calendar .mobile .btn {
        margin-top: 0;
    }

    #mmc-calendar .mobile > p:first-child {
        margin: 10px 0;
    }

    #mmc-calendar .mmc-calendar-header {
        width: auto !important;
        height: auto !important;
        margin-left: 0;
    }

        #mmc-calendar .mmc-calendar-header .mmc-table {
            width: auto;
            height: auto;
        }

            #mmc-calendar .mmc-calendar-header .mmc-table.years {
                display: none;
            }

            #mmc-calendar .mmc-calendar-header .mmc-table .mmc-table-cell {
                display: none;
                float: none;
                width: auto;
                max-width: none;
                border: none;
            }

                #mmc-calendar .mmc-calendar-header .mmc-table .mmc-table-cell.current {
                    display: block;
                }

                #mmc-calendar .mmc-calendar-header .mmc-table .mmc-table-cell .month-list {
                    display: table;
                    margin: 0;
                    padding: 0;
                    width: 100%;
                }

                    #mmc-calendar .mmc-calendar-header .mmc-table .mmc-table-cell .month-list li {
                        display: table-cell;
                        width: 30%;
                        padding: 10px;
                    }

                        #mmc-calendar .mmc-calendar-header .mmc-table .mmc-table-cell .month-list li,
                        #mmc-calendar .mmc-calendar-header .mmc-table .mmc-table-cell .month-list li a {
                            font-size: 13px;
                            line-height: 22px;
                            color: #333;
                        }

                            #mmc-calendar .mmc-calendar-header .mmc-table .mmc-table-cell .month-list li a {
                                text-decoration: underline;
                            }

                            #mmc-calendar .mmc-calendar-header .mmc-table .mmc-table-cell .month-list li.active {
                                width: 40%;
                                font-weight: bold;
                                font-size: 16px;
                                line-height: 22px;
                                color: #333;
                                background: #ff671b;
                            }
}

.markets-selector {
    position: relative;
}

.markets-selector__label {
    padding: 8px 10px;
    background: #fff;
    border: 1px solid #ccc;
    cursor: pointer;
}

    .markets-selector__label .caret {
        float: right;
        margin-top: 9px;
    }

.markets-selector__options {
    position: absolute;
    top: 100%;
    left: 0;
    margin-top: -1px;
    padding: 10px;
    background: #fff;
    border: 1px solid #ccc;
    z-index: 9;
}

.markets-selector__options__filter {
    width: 250px;
    padding-bottom: 10px;
}

    .markets-selector__options__filter input {
        padding: 5px;
        width: 100%;
        border: 1px solid #ccc;
        border-radius: 5px;
    }

.markets-selector__options__filter--options {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 10px;
}

    .markets-selector__options__filter--options a {
        font-size: 12px;
        color: #000;
        text-decoration: underline;
    }

.markets-selector__options__list {
    max-height: 220px;
    overflow: auto;
}

/*print version*/
.mmc-calendar.print__view {
    width: 2225px !important;
}

    .mmc-calendar.print__view .mmc-calendar-header {
        width: 1980px !important;
    }

        .mmc-calendar.print__view .mmc-calendar-header div.mmc-table {
            margin-left: 0 !important;
        }

            .mmc-calendar.print__view .mmc-calendar-header div.mmc-table .mmc-table-cell {
                font-weight: normal;
                font-size: 22px;
                color: #000;
            }

    .mmc-calendar.print__view .mmc-calendar-body {
        overflow: auto;
        overflow-x: hidden;
    }

#mmc-calendar-filter.print__view div.campaign-filter-table > div.option {
    width: 20%;
    float: left;
}

.mmc-calendar.print__view .mmc-program .description {
    display: block;
}

#mmc-calendar-filter.print__view .markets-filter td.description strong {
    font-size: 15px;
    font-weight: normal;
}

#mmc-calendar-filter.print__view table.campaign-filter input[type=checkbox],
#mmc-calendar-filter.print__view .service-filter input[type=checkbox],
#mmc-calendar-filter.print__view .markets-filter td.option,
#mmc-calendar-filter.print__view .no-content,
.mmc-calendar.print__view .mmc-hscroll,
.mmc-calendar.print__view .mmc-hidden,
.mmc-calendar.print__view .mmc-program .more-link .fa-plus-circle,
.mmc-calendar.print__view .mmc-program .more-link .fa-minus-circle,
.mmc-calendar.print__view .markets-filter-table .option {
    display: none;
}

.mmc-calendar.print__view .mmc-calendar-sidebar {
    margin-top: -80px;
}

    .mmc-calendar.print__view .mmc-calendar-sidebar div.mmc-table .mmc-table-head {
        height: 79px;
        line-height: 118px;
        font-weight: normal;
        font-size: 22px;
        color: #000;
    }

.mmc-calendar.print__view .mmc-event-item span.title {
    font-weight: normal;
}

.mmc-calendar.print__view .mmc-event-item .body {
    justify-content: unset;
}

    .mmc-calendar.print__view .mmc-event-item .body:before {
        content: "";
        display: block;
        width: 100%;
        height: calc(50% - 25px);
    }

    .mmc-calendar.print__view .mmc-event-item .body.has-title:before {
        height: calc(50% - 8px);
    }

    .mmc-calendar.print__view .mmc-event-item .body.has-title.has-description:before, .mmc-calendar.print__view .mmc-event-item .body.has-title.has-date:before {
        height: calc(50% - 16px);
    }

    .mmc-calendar.print__view .mmc-event-item .body.has-title.has-description.has-date:before {
        height: calc(50% - 25px);
    }

.print__view .markets-filter-table {
    min-height: 60px;
}

.mmc-calendar.scrolling .mmc-hscroll.top {
    margin-bottom: 80px;
}

.mmc-calendar.scrolling header.mmc-calendar-header {
    position: fixed;
    z-index: 1000;
    top: 0;
    box-shadow: 0px 5px 10px -10px #000;
}

.mmc-calendar.scrolling aside.mmc-calendar-sidebar {
    padding-top: 40px;
}

.mmc-calendar.scrolling .mmc-table.fixed {
    position: fixed;
    top: 0;
    border-top: 40px solid #fff;
    z-index: 100;
    box-shadow: 0px 5px 10px -10px #000;
}
