#mmc-calendar-filter.print__view table.campaign-filter {
    display: none;
}

#mmc-calendar-filter.print__view table.service-filter {
    display: block;
}

#mmc-calendar-filter.print__view .service-filter td.label {
    display: none;
}

#mmc-calendar-filter.print__view .service-filter tbody, #mmc-calendar-filter.print__view .service-filter-table tbody {
    background-color: white;
}

    #mmc-calendar-filter.print__view .service-filter-table tbody tr {
        display: block;
        float: left;
        width: 50%;
        margin: 10px 0;
        background-color: white;
    }

#mmc-calendar-filter.print__view .service-filter td {
    padding-left: 30px;
    padding-right: 30px;
    font-size: 20px;
}

    #mmc-calendar-filter.print__view .service-filter td.option {
        width: 150px;
        height: 100px;
        text-align: center;
    }

    #mmc-calendar-filter.print__view .service-filter td span.arrow {
        display: none;
    }

.mmc-calendar.print__view .mmc-program .description {
    display: none;
}
