﻿body { background:none; }
label { font-size:11px; margin-left:0px; }
.reports { padding:20px; }
.btn_right { min-width:40px !important; }
.btn_left { margin-top:0px !important; }
.error {color:#ff0000 !important; }
.orange { color:#f58025; }
#report-date-range-selector { float:left; }
#report-date-range-selector .riTextBox { width: 64px!important; }
#report-date-range-selector .rcTable,
#report-date-range-selector .rcInputCell { width: auto!important; }
#report-date-range-selector .RadPicker { 
    display: inline-block !important; vertical-align: top; margin-right: 24px; }
#report-date-range-selector > label {line-height: 24px;}
#report-date-range-selector .btn_left {margin-left: 0!important;}
.report-notes { margin-top:40px; }
    .report-notes ul { margin-top:5px; }

