﻿body {
    background-color: white;
}
html {
    margin-left: 2%;
    margin-right: 2%;
}

.sad-message-title {
    color: #607D8B;
    padding: 13px 30px 13px 30px;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: lighter;
    font-size: 48px;
    margin-top: 27px;
}

.sad-message {
    color: #607D8B;
    font-size: 36px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: lighter;
    padding: 13px 122px 13px 122px;
    text-align: center;
}
.sad-image {
    padding: 7px 20px 3px 49px;
    height: 54px;
}
.sad-message-bar {
    background-color:black;
    color: white;
}
@media(max-width:940px) {
    .sad-image {
        width: 600px;
        height: auto;
    }
}
    @media(max-width:600px) {
        .sad-image {
            width: 400px;
            height: auto;
        }
    }
