﻿#content { width:707px; }
	#content p { font-size:12px; line-height:16px; }
	#content h2 { margin:0 0 15px 0; padding:0 0 5px 0; font-size:17px; color:#58595b; border-bottom:1px solid #d0d2d3; clear:both; }
#aside { width:203px; }