﻿#lside { width:204px; float:left; margin:0 20px 0 0; }
#content { width:480px; }
	#content p { font-size:12px; }
	#content h2 { margin:0 0 15px 0; padding:0 0 5px 0; font-size:17px; color:#58595b; border-bottom:1px solid #d0d2d3; }
#aside { width:203px; }