﻿@model AssetListHalf
@using Mastercard.MarketingCenter.Web.Core.Models
@using Mastercard.MarketingCenter.Common.Extensions

<div class="content-halfs">
    <div class="row">
        @{
            var idx = 0;
            var list = new List<DownloadableAsset>(Model.DownloadableAssets);
        }
        @foreach (var item in Model.DownloadableAssets)
        {
            <div class="col-sm-6">
                <a href="@item.FrontEndUrl" class="ill-wrap" style="background-image: url(@Url.ImageUrl(item.MainImage, 700, 350, false, 95));"></a>
                <div class="tac grid-spaces-in">
                    <h4>@Html.RawWithSnippets(item.Title)</h4>
                    <div class="brief">
                        @Html.RawWithSnippets(item.LongDescription.StripHtml())
                    </div>
                    @if (!string.IsNullOrEmpty(@item.FrontEndUrl))
                    {
                        <p><a href="@item.FrontEndUrl" class="btn">@Resources.Shared.ReadMore</a></p>
                    }
                </div>
            </div>

            if (idx % 2 == 1 && idx < list.Count - 1)
            {
                @Html.Raw("</div><div class=\"row\">")
            }
            idx++;
        }
    </div>
</div>