﻿@model Attachment
<a class="file" href="@Url.Action("Download", "File", new { url = Model.FileUrl })" target="_blank">
    <em class="fa @Url.AttachmentIconClass(Model.FileUrl)"></em>
    <span>@Model.DisplayName</span>
</a>