﻿@model CardList
@using Mastercard.MarketingCenter.Web.Core.Models

<h2 class="list-section-header content-spaces-out">@Html.RawWithSnippets(Model.Title)</h2>
<div class="blocks-list content-spaces-out">
    <div class="row blocks-line">
        @{
            var idx = 0;
            var list = new List<ContentItemListItem>(Model.TagBrowserItems);
        }
        @foreach (var item in Model.TagBrowserItems)
        {
            <div class="col-sm-6">
                <div class="block">
                    <div class="img">
                        <a class="thumb" href="@item.ResourceUrl" tracking-type="thumbnail" title="@Html.Raw(item.Title)">@Html.ContentItemListItemThumbnailOrIcon(item)</a>
                    </div>
                    <div class="txt">
                        <dl>
                            <dt class="h5"><a href="@item.ResourceUrl"><strong>@Html.Raw(item.Title)</strong></a></dt>
                            <dd>@Html.Raw(item.Summary)</dd>
                        </dl>
                    </div>
                </div>
            </div>

            if (idx % 2 == 1 && idx < list.Count - 1)
            {
                @Html.Raw("</div><div class=\"row blocks-line\">")
            }
            idx++;
        }
    </div>
</div>