﻿@model CarouselSlideViewModel

@if (Model.Slides != null && Model.Slides.Any())
{
    <div class="page-section carousel-section slides-section">
        <div class="carousel pausing-carousel">
            @foreach (var slide in Model.Slides)
            {
                <section class="carousel-slide @if (!string.IsNullOrEmpty(slide.Image))
                                               {
                                                   <text>covered</text>
                                               }">
                    @if (slide.IsMarqueeSlideItem() || slide.IsImageSlideItem())
                    {
                        if (!string.IsNullOrEmpty(slide.Image))
                        {
                            <img src="@Url.ImageUrl(slide.Image, 1400, 470, false)"
                                 srcset="@Url.ImageUrl(slide.Image, 1400, 470, false) 1400w,
                                 @Url.ImageUrl(slide.Image, 960, 320, false) 960w,
                                 @Url.ImageUrl(slide.Image, 768, 320) 768w,
                                 @Url.ImageUrl(slide.Image, 480, 320) 480w"
                                 sizes="(max-width: 480px) 480px,
                                    (max-width: 768px) 768px,
                                    (max-width: 960px) 960px,
                                    (min-width: 961px) 1400px,
                                    100vw"
                                 width="1400" height="468" class="cover-image" alt="@slide.Title" />
                        }

                        <div class="slick-inner content-spaces-in">
                            <h1>@Html.RawWithSnippets(slide.Title)</h1>
                            <p>@Html.RawWithSnippets(slide.Description)</p>
                            @if (!string.IsNullOrEmpty(slide.Url))
                            {
                                <div class="action">
                                    <a href="@slide.Url" tracking-type="@Mastercard.MarketingCenter.Common.Infrastructure.Constants.TrackingTypes.CarouselSlide" class="action-btn">@(string.IsNullOrEmpty(slide.ButtonText) ? Resources.Shared.LearnMore : slide.ButtonText)</a>
                                </div>
                            }
                            <p class="inner-description">@slide.InnerDescription</p>
                        </div>
                    }
                    else if (slide.IsYoutubeVideoSlideItem())
                    {
                        <h1 class="slick-inner content-spaces-in title">@Html.RawWithSnippets(slide.Title)</h1>
                        <div class="slide-cell video-link yt video-preview" style="background-image: url('');" data-yt="@slide.Url::1280::720">
                            <img data-lazy="@slide.Image"
                                 sizes="(max-width: 480px) 480px,
                                    (max-width: 768px) 768px,
                                    (max-width: 960px) 960px,
                                    (min-width: 961px) 1400px,
                                    100vw"
                                 width="1400" height="468" class="cover-image" alt="@slide.Title" />
                        </div>
                    }
                </section>
            }
        </div>
    </div>
}