﻿@model ContentInsightList
<style type="text/css">@MvcHtmlString.Create("@import url(" + @Url.Content("~/content/styles/partial/ContentInsight.css") + ");")</style>
<div class="columns-two">
    @{
        var idx = 0;
    }
    @foreach (var item in Model.ContentItemListItems)
    {
        <div class="section-div @((idx%2 == 1)? "last-child" : string.Empty)">
            <a href="@item.ResourceUrl" tracking-type="thumbnail">@Html.ContentItemListItemIcon(item, "icon-image")</a>
            <h2><a href="@item.ResourceUrl">@Html.RawWithSnippets(item.Title)</a></h2>
            @Html.Raw(item.Summary)
        </div>
        idx++;
    }
</div>