﻿@model DownloadImage
<a class="file" href="@Url.Action("DownloadImage", "File", new { url = Model.ImageUrl, title = Model.ImageTitle })" target="_blank">
    <em class="fa fa-file-o"></em>
    <span>@Model.ImageTitle</span>
</a>