﻿@using Mastercard.MarketingCenter.Services;
@using System.Web.Mvc;

@model Mastercard.MarketingCenter.Services.Entities.DownloadFile
<style>
    #downloadFile {
        width: 80%;
    }
</style>
@{ var userContext = DependencyResolver.Current.GetService<UserContext>(); }
<a id="downloadFile" @Html.Raw(string.IsNullOrEmpty(Model.TrackingType) ? string.Empty : ("tracking-type=" + "\"" + HttpUtility.HtmlAttributeEncode(Model.TrackingType) + "\"")) href="@(Model.RequestEstimatedDistribution || Model.SetForElectronicDelivery || !Model.IsInUserMarket ? "javascript:void(0);" : Url.Action("LibraryDownload", "File", new { url = Model.Filename }))" class="btn @userContext.SelectedRegion.Trim()-@userContext.SelectedLanguage.Trim()" target="_blank">
    @Resources.Shared.Download
</a>
@if (!Model.IsInUserMarket)
{
    <div id="warning-modal" class="hid dialog-text">
        <div class="dialog-text-body content-text tac">
            <p>@Resources.Forms.DownloadMarketWarningDescription</p>
            <p>@Resources.Forms.DownloadMarketWarningQuestion</p>
            <div class="form-group btn-group tac">
                <a id="warningNo" href="javascript:void(0);" class="btn" target="_blank" style="width: 140px; margin-right: 30px;">@Resources.Shared.No</a>
                <a id="warningYes" href="javascript:void(0);" class="btn" target="_blank" style="width: 140px;">@Resources.Shared.Yes</a>
            </div>
        </div>
    </div>
}
@if (Model.RequestEstimatedDistribution)
{
    <div id="ed-details-modal" class="hid dialog-text">
        <div class="dialog-text-body content-text ed-form">
            <h3>@Model.Title</h3>
            <p>@Resources.Forms.DownloadEstimatedDistributionDescription</p>
            <div class="form-group">
                <label class="control-label">@Resources.Forms.EnterEstimatedDistribution</label>
                <input name="estimatedDistribution" id="estimatedDistribution" type="text" class="form-control">
                <p class="req-mark error" style="display: none;">@Resources.Errors.DownloadEstimatedDistributionEmpty</p>
            </div>
            <div class="form-group btn-group tac">
                <a id="downloadFileSubmit" href="javascript:void(0);" class="btn" target="_blank" style="width: 285px;">@Resources.Shared.Download</a><br />
            </div>
        </div>
    </div>
}
@if (Model.RequestEstimatedDistribution || Model.SetForElectronicDelivery)
{
    <div id="download-modal" class="hid dialog-text">
        <div class="dialog-text-body content-text ed-form">
            <h3>@Resources.Shared.DownloadLink</h3>
            <p style="color: #333; font-style: normal; font-size:14px;">@Resources.Forms.DownloadElectronicDeliveryDescription</p>
            <div class="cold-colors" style="font-size: 14px; word-break: break-all;">
                <a id="download-modal-link" class="cold-colors" href="{l}" target="_blank">{t}</a>
                <span id="download-modal-text" style="display:none;" class="fa fa-clipboard" aria-hidden="true" data-clipboard-text="{c}"></span>
            </div>
            <div class="form-group btn-group tac">
                <a id="edFileDone" href="javascript:void(0);" class="btn" target="_blank" style="width: 285px;">@Resources.Shared.Done</a><br />
            </div>
        </div>
    </div>
}
<script type="text/javascript">
    $(function () {
        if ($("#downloadFile").attr('href') === 'javascript:void(0);') {
            var clipboard = new Clipboard('.fa-clipboard');

            function dialogPos() {
                var $dialog = $('.ui-dialog:visible');
                $dialog.css({
                    'position': ($dialog.height() < $(window).height() ? 'fixed' : 'absolute')
                });
                if ($(window).width() > 767) {
                    $dialog.css({
                        'top': '50%',
                        'left': '50%',
                        'marginLeft': 0 - ($dialog.width() / 2),
                        'marginTop': 0 - ($dialog.height() / 2)
                    });
                } else {
                    $dialog.css({
                        'position': 'absolute',
                        'left': 0,
                        'marginLeft': 0
                    });
                }
            }

            $("#warning-modal").dialog({
                height: 140,
                modal: true,
                autoOpen: false,
                draggable: true,
                height: 'auto',
                width: 'auto',
                resizable: false,
                width: 550,
                open: function () {
                    $('.ui-widget-overlay').css('z-index', '1001');
                    dialogPos();
                    $(window).on('resize', dialogPos);
                }
            });

            $("#ed-details-modal").dialog({
                height: 140,
                modal: true,
                autoOpen: false,
                draggable: true,
                height: 'auto',
                width: 'auto',
                resizable: false,
                width: 550,
                open: function () {
                    $('.ui-widget-overlay').css('z-index', '1001');
                    dialogPos();
                    $(window).on('resize', dialogPos);
                }
            });

            $("#download-modal").dialog({
                height: 140,
                modal: true,
                autoOpen: false,
                draggable: true,
                height: 'auto',
                width: 'auto',
                resizable: false,
                width: 550,
                open: function () {
                    $('.ui-widget-overlay').css('z-index', '1001');
                    dialogPos();
                    $(window).on('resize', dialogPos);
                }
            });

            var loadElectronicDeliveryModal = function (downloadableAssetEstimatedDistributionId) {
                if (downloadableAssetEstimatedDistributionId === undefined) {
                    downloadableAssetEstimatedDistributionId = 0;
                }
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("GetElectronicDelivery", "ContentDetail")',
                    data: { filename: '@Server.UrlEncode(Model.Filename)', contentItemId: '@Model.ContentItemId', downloadableAssetEstimatedDistributionId: downloadableAssetEstimatedDistributionId },
                    success: function (data) {
                        $("#download-modal").html($("#download-modal").html().replace('{d}', data.expirationDate).replace('{n}', data.downloadCount).replace('&lt;br /&gt;', '<br/>'));
                        $("#download-modal-link").html(data.link);
                        $("#download-modal-link").attr("href", data.link);
                        $("#download-modal-text").attr('data-clipboard-text', data.link);
                        $("#download-modal").dialog('open');

                        $('#edFileDone').on('click', function (e) {
                            $("#download-modal").dialog('close');
                            return false;
                        });

                        $.ajax({
                            type: "POST",
                            url: '@Url.Action("SendElectronicDeliveryEmail", "ContentDetail")',
                            data: { electronicDeliveryId: data.electronicDeliveryId, itemName: '@Model.Title' },
                            success: function (data) {}
                        });
                    }
                });
            };

            $('#downloadFileSubmit').on('click', function (e) {
                if ($('#estimatedDistribution').val() !== '' && parseInt($('#estimatedDistribution').val()) > 0) {
                    $('.error').hide();
                    $.ajax({
                        type: "POST",
                        url: '@Url.Action("SetEstimatedDistribution", "ContentDetail")',
                        data: { contentItemId: '@Model.PrimaryContentItemId', estimatedDistribution: $('#estimatedDistribution').val() },
                        success: function (data) {
                            $("#ed-details-modal").dialog('close');
                            $('#estimatedDistribution').val('');
                            if ((@Model.SetForElectronicDelivery.ToString().ToLower())) {
                                loadElectronicDeliveryModal(data.downloadableAssetEstimatedDistributionId);
                            } else {
                                var href = '@Url.Action("LibraryDownload", "File", new { url = Model.Filename})@Html.Raw(string.IsNullOrEmpty(Model.TrackingType) ? string.Empty : ("&trackingType=" + HttpUtility.HtmlAttributeEncode(Model.TrackingType)))';
                                window.location.href = href;
                            }
                        }
                    });
                } else {
                    $('.error').show();
                }
                e.preventDefault();
                return false;
            });

            if ((@Model.IsInUserMarket.ToString().ToLower())) {
                $("#downloadFile").click(function (e) {
                    e.preventDefault();
                    if ((@Model.RequestEstimatedDistribution.ToString().ToLower())) {
                        $("#ed-details-modal").dialog('open');
                    } else if ((@Model.SetForElectronicDelivery.ToString().ToLower())) {
                        loadElectronicDeliveryModal();
                    }
                    return false;
                });
            } else {
                $("#downloadFile").click(function (e) {
                    e.preventDefault();
                    $("#warning-modal").dialog('open');
                    return false;
                });
            }

            $('#warningNo').on('click', function (e) {
                $("#warning-modal").dialog('close');
                return false;
            });

            $('#warningYes').on('click', function (e) {
                $("#warning-modal").dialog('close');
                if ((@Model.RequestEstimatedDistribution.ToString().ToLower())) {
                    $("#ed-details-modal").dialog('open');
                } else if ((@Model.SetForElectronicDelivery.ToString().ToLower())) {
                    loadElectronicDeliveryModal();
                } else {
                    var href = '@Url.Action("LibraryDownload", "File", new { url = Model.Filename})@Html.Raw(string.IsNullOrEmpty(Model.TrackingType) ? string.Empty : ("&trackingType=" + HttpUtility.HtmlAttributeEncode(Model.TrackingType)))';
                    window.location.href = href;
                }
                return false;
            });
        }
    });
</script>