﻿@model NarrowPanelList

@if (Model != null && Model.ContentItemList != null && Model.ContentItemList.Count() > 0)
{
    foreach (var item in Model.ContentItemList)
    {
        <div class="box @((Model.RenderThumbnail)? string.Empty:"no-thumbnail")">
            @if (Model.RenderThumbnail)
            {
                <div class="box-image">
                    <a class="thumb" href="@item.ResourceUrl" tracking-type="thumbnail cross-sell-box">@Html.ContentItemListItemThumbnailOrIcon(item, "img-responsive")</a>
                </div>
            }
            <div class="box-text">
                <p class="sign">
                    <a href="@item.ResourceUrl" tracking-type="cross-sell-box">@Html.RawWithSnippets(item.Title)</a>
                </p>
                @if (!string.IsNullOrEmpty(Model.Footer))
                    {
                    <a href="@Model.FooterUrl" class="btn">@Model.Footer</a>
                }
            </div>

        </div>
    }
}