﻿@model Pager

@functions {
    IHtmlString PrintPageLink(int i)
    {
        if (i == Model.PageNumber)
        {
            return string.Format("<span class=\"page-num current\">{0}</span>", i).AsHtmlString();
        }
        else
        {
            return string.Format("<a class=\"page-num\" href=\"{0}\">{1}</a>", Model.ResolveUrl(i), i).AsHtmlString();
        }
    }
}

@if (Model.TotalPages > 1)
{
    <nav class="pagination">
        @if (Model.HasPreviousPage())
        {
            <a class="arrow arrow-prev" href="@Model.ResolveUrl(Model.PreviousPage)">@Resources.Shared.Previous</a>
        }
        else
        {
            <span class="arrow arrow-prev">@Resources.Shared.Previous</span>
        }

        @PrintPageLink(1)

        @if (Model.PageNumber > 2)
        {
            if (Model.TotalPages > 3 && Model.PageNumber > 3)
            {
                <span class="pages-sep">...</span>
            }
            if (Model.PageNumber == Model.TotalPages && Model.TotalPages > 3)
            {
                @PrintPageLink(Model.PageNumber - 2)
            }
            @PrintPageLink(Model.PageNumber - 1)
        }

        @if (Model.PageNumber != 1 && Model.PageNumber != Model.TotalPages)
        {
            @PrintPageLink(Model.PageNumber)
        }

        @if (Model.PageNumber < Model.TotalPages - 1)
        {
            @PrintPageLink(Model.PageNumber + 1)
            if (Model.PageNumber == 1 && Model.TotalPages > 3)
            {
                @PrintPageLink(Model.PageNumber + 2)
            }
            if (Model.TotalPages > 3 && Model.PageNumber < Model.TotalPages - 2)
            {
                <span class="pages-sep">...</span>
            }
        }

        @PrintPageLink(Model.TotalPages)

        @if (Model.HasNextPage())
        {
            <a class="arrow arrow-next" href="@Model.ResolveUrl(Model.NextPage)">@Resources.Shared.Next</a>
        }
        else
        {
            <span class="arrow arrow-next">@Resources.Shared.Next</span>
        }
    </nav>
}