﻿@model RecentWebinarsWhitepapersList
@using Mastercard.MarketingCenter.Common.Extensions
@using Mastercard.MarketingCenter.Web.Core.Models
@using Mastercard.MarketingCenter.Data;
<h2>@Html.RawWithSnippets(MarketingCenterDbConstants.Snippets.ThoughLeadershipFeaturedSnippet)</h2>
@foreach (var item in Model.WebinarsWhitepapers)
{
    <div class="content-halfs row dark">
        @if (item.IsWebinarSlideItem())
        {
            var webinar = item.ContentItem as WebinarDto;
            if (webinar.ShowImageInsteadVideo.GetValueOrDefault() && !string.IsNullOrEmpty(webinar.StaticVideoImage))
            {
                <a href="@item.ResourceUrl">
                    <img src="@Url.ImageUrl(webinar.StaticVideoImage, 600, 300, false, 95)" style="width: 100%; height: auto;" alt="" />
                </a>
            }
            else if (!string.IsNullOrEmpty(webinar.VideoFile))
            {
                <div class="video-preview video-link" data-video="@webinar.VideoFile:720:500">
                    @if (!string.IsNullOrEmpty(webinar.StaticVideoImage))
                    {
                        <img class="img-responsive" src="@Url.ImageUrl(webinar.StaticVideoImage, 600, 300, false, 95)" style="width: 100%; height: auto;" alt="" />
                    }
                    else
                    {
                        <img class="img-responsive" style="margin: 0 auto;" alt="" />
                    }
                </div>
            }
            <div class="tac grid-spaces-in">
                <h4>@Html.RawWithSnippets(item.Title)</h4>
                <div class="brief">
                    @Html.RawWithSnippets(item.Summary.StripHtml())
                </div>
                @if (!string.IsNullOrEmpty(item.ResourceUrl))
                {
                    <p><a href="@item.ResourceUrl" class="btn">@Resources.Shared.ReadMore</a></p>
                }
            </div>
        }
        else
        {
            if (!string.IsNullOrEmpty(item.ContentNotificationImageUrl))
            {
                <a href="@item.ResourceUrl">
                    <img src="@Url.ImageUrl(item.ContentNotificationImageUrl, 600, 300, false, 95)" style="width: 100%; height: auto;" alt="" />
                </a>
            }
            <div class="tac grid-spaces-in">
                <h4>@Html.RawWithSnippets(item.Title)</h4>
                <div class="brief">
                    @Html.RawWithSnippets(item.Summary.StripHtml())
                </div>
                @if (!string.IsNullOrEmpty(@item.ResourceUrl))
                {
                    <p><a href="@item.ResourceUrl" class="btn">@Resources.Shared.ReadMore</a></p>
                }
            </div>
        }
    </div>
}