﻿@model RelatedContentItemsList
@using Mastercard.MarketingCenter.Web.Core.Models

@if (Model != null && Model.RelatedContentItems != null && Model.RelatedContentItems.Count() > 0)
{
    <h2 class="list-section-header">@Resources.Shared.InterestedIn:</h2>    
        <div class="row blocks-line">
            @{
                var idx = 0;
                var list = new List<ContentItemListItem>(Model.RelatedContentItems);
            }
            @foreach (var item in Model.RelatedContentItems.OrderBy(i => i.Title))
            {
                <div class="col-sm-6">
                    <div class="block">
                        <div class="img">
                            <a class="thumb" href="@item.ResourceUrl" tracking-type="thumbnail" title="@Html.RawWithSnippets(item.Title)">@Html.ContentItemListItemThumbnailOrIcon(item)</a>
                        </div>
                        <div class="txt">
                            <dl>
                                <dt class="h5"><a href="@item.ResourceUrl"><strong>@Html.RawWithSnippets(item.Title)</strong></a></dt>
                                <dd>@Html.Raw(item.Summary)</dd>
                            </dl>
                        </div>
                    </div>
                </div>

                if (idx % 2 == 1 && idx < list.Count - 1)
                {
                    @Html.Raw("</div><div class=\"row blocks-line\">")
                }
                idx++;
            }
        </div>
}