﻿@using Mastercard.MarketingCenter.Services.Interfaces;
@using System.Web.Mvc;
@model RelatedProgram

<style type="text/css">@MvcHtmlString.Create("@import url(" + DependencyResolver.Current.GetService<IUrlService>().GetStaticCssURL("related-promotion.css") + ");")</style>

<div class="content-container content-spaces-in spaces-vertical-in">
    <div class="content-text">
        <div class="row">
            <article class="col-sm-8">
                @Html.Partial("RelatedProgramInner", Model)
            </article>
        </div>
    </div>
</div>