﻿@using Mastercard.MarketingCenter.Data.DTOs
@model RelatedProgram
@{
    var program = Model.ContentItemListItem.ContentItem as ProgramDTO;
}

<h2>@Resources.Shared.CheckPromotionForRelatedItems:</h2>
<h3><a href="@Model.ContentItemListItem.ResourceUrl" tracking-type="related-program">@Html.RawWithSnippets(Model.ContentItemListItem.Title)</a></h3>
@if (program.ShowOrderPeriods.HasValue && program.ShowOrderPeriods.Value)
{
    if (program.PrintedOrderPeriodStartDate.HasValue)
    {
        if (string.IsNullOrEmpty(program.PrintedOrderPeriodAlternateDisplayText))
        {
            <text>@Resources.Shared.OnlinePeriod.ToUpperInvariant():</text>
        }
        else
        {
            <text>@program.PrintedOrderPeriodAlternateDisplayText</text>
        }
        if (string.IsNullOrEmpty(program.PrintedOrderPeriodAlternateDateText))
        {
            if (program.PrintedOrderPeriodEndDate.HasValue)
            {
                <span class="orange-text">@program.PrintedOrderPeriodStartDate.Value.ToShortDateString() - @program.PrintedOrderPeriodEndDate.Value.ToShortDateString()</span>
            }
        }
        else
        {
            <span class="orange-text">@program.PrintedOrderPeriodAlternateDateText</span>
        }
        <br />
    }
    if (program.OnlineOrderPeriodStartDate.HasValue)
    {
        if (string.IsNullOrEmpty(program.OnlineOrderPeriodAlternateDisplayText))
        {
            <text>@Resources.Shared.OnlinePeriod.ToUpperInvariant():</text>
        }
        else
        {
            <text>@program.OnlineOrderPeriodAlternateDisplayText</text>
        }
        if (string.IsNullOrEmpty(program.OnlineOrderPeriodAlternateDateText))
        {
            if (program.OnlineOrderPeriodEndDate.HasValue)
            {
                <span class="orange-text">@program.OnlineOrderPeriodStartDate.Value.ToShortDateString() - @program.OnlineOrderPeriodEndDate.Value.ToShortDateString()</span>
            }
        }
        else
        {
            <span class="orange-text">@program.OnlineOrderPeriodAlternateDateText</span>
        }
        <br />
    }
}
@if (program.InMarketStartDate.HasValue)
{
    if (string.IsNullOrEmpty(program.InMarketAlternateDisplayText))
    {
        <text>@Resources.Shared.InMarket.ToUpperInvariant():</text>
    }
    else
    {
        <text>@program.InMarketAlternateDisplayText</text>
    }
    if (string.IsNullOrEmpty(program.InMarketAlternateDateText))
    {
        if (program.InMarketEndDate.HasValue)
        {
            <span class="orange-text">@program.InMarketStartDate.Value.ToShortDateString() - @program.InMarketEndDate.Value.ToShortDateString()</span>
        }
    }
    else
    {
        <span class="orange-text">@program.InMarketAlternateDateText</span>
    }
    <br />
}
<br />
@Html.Raw(Model.ContentItemListItem.Summary)