﻿@model RssFeedList

<div class="results-list-wrap feed-list-wrap">
    <div class="content-body content-spaces-out">
        <nav class="pagination"></nav>
        <div class="row">
            <div class="col-md-10 col-lg-8">
                <ul class="results-list reset">
                    @foreach (var item in Model.RssFeedItems.Data)
                    {
                        <li>
                            <a href="@Url.Action("Feed", "Insights", new { id = item.Id})" class="result-name" title="@item.Title">@item.Title</a>
                            <div class="result-desc">@Html.Raw(item.Description)</div>
                        </li>
                    }
                </ul>
            </div>
        </div>
        <nav class="pagination">
            @if (Model.HasPreviousPage)
            {
                <a class="arrow arrow-prev" href="@Url.Action("Overview", new { page = Model.PreviousPage })">@Resources.Shared.Previous</a>
            }
            else
            {
                <span class="arrow arrow-prev current">@Resources.Shared.Previous</span>
            }

            @for (var i = 1; i < Model.PageCount + 1; i++)
            {
                if (Model.CurrentPage == i)
                {
                    <span class="page-num current">@i</span>
                }
                else
                {
                    <a class="page-num" @(Model.CurrentPage != i ? "href=" + @Url.Action("Overview", new { page = i }) + "" : string.Empty)>@i</a>
                }
            }

            @if (Model.HasNextPage)
            {
                <a class="arrow arrow-next" href="@Url.Action("Overview", new { page = Model.NextPage })">@Resources.Shared.Next</a>
            }
            else
            {
                <span class="arrow arrow-next current">@Resources.Shared.Next</span>
            }
        </nav>
    </div>
</div>