﻿@model IEnumerable<SitemapNode>
@using System.Web.Mvc.Html
<ul>
    @foreach (var node in Model)
    {
        <li>
            @Html.DisplayFor(m => node)
            @if (node.Children.Any())
            {
                @Html.DisplayFor(m => node.Children, "SitemapNodeList")
            }
        </li>
    }
</ul>