﻿@model SitemapNode
@{
    var url = Model.GetUrl(this.Url);
    SitemapNode currentSitemapNode = null;
    if (ViewData["CurrentSitemapNode"] != null)
    {
        currentSitemapNode = (SitemapNode)ViewData["CurrentSitemapNode"];
    }
    var classes = string.Empty;
    if (Model.IsInPathOf(currentSitemapNode))
    {
        classes += "path ";
    }
    var isCurrentNode = currentSitemapNode.Key == Model.Key;
    if (isCurrentNode)
    {
        classes += "current ";
    }
}
@if (isCurrentNode)
{
    <span>@Html.Raw(Model.Title)</span>
}
else
{
    <a href="@url" class="@classes" tracking-type="breadcrumb">@Model.Title</a>
}