﻿@using Mastercard.MarketingCenter.Data.DTOs
@using Mastercard.MarketingCenter.Services;
@using System.Web.Mvc;

@model TagBrowserItemTwoAcrossListMarketingTab

@if (Model.ContentItemListItems.Count() > 0 || Model.ShowIfContentItemListsItemsIsEmpty)
{
    var userContext = DependencyResolver.Current.GetService<UserContext>();
    <h2 class="list-section-header content-spaces-out">@Html.RawWithSnippets(Model.Title.ToUpperInvariant())</h2>
    <div class="blocks-list content-spaces-out">
        @if (Model.ContentItemListItems.Count() == 0 && Model.ShowIfContentItemListsItemsIsEmpty && (userContext.User != null && (User.IsInRole(Mastercard.MarketingCenter.Common.Infrastructure.Constants.Roles.McAdmin) || User.IsInRole(Mastercard.MarketingCenter.Common.Infrastructure.Constants.Roles.DevAdmin))))
        {
            @Html.Raw(Resources.Shared.LandingPageMissingSectionContent)
        }
        <div class="row blocks-line">
            @{
                var idx = 0;
                var list = new List<ContentItemListItem>(Model.ContentItemListItems);
            }
            @foreach (var item in Model.ContentItemListItems)
            {
                <div class="col-sm-6">
                    <div class="block">
                        <div class="img"><a class="thumb" href="@item.ResourceUrl" tracking-type="thumbnail" title="@Html.Raw(item.Title)">@Html.ContentItemListItemThumbnailOrIcon(item)</a></div>
                        <div class="txt">
                            <dl>
                                @if (userContext.SelectedRegion.Trim().Equals("us", StringComparison.OrdinalIgnoreCase) && (Context.Request.QueryString.AllKeys.Any(k => k.Equals("parentKey", StringComparison.OrdinalIgnoreCase)) ? Context.Request.QueryString["parentKey"].Equals("marketing", StringComparison.OrdinalIgnoreCase) : true))
                                {
                                    <dt class="h5"><a href="@item.ResourceUrl"><strong>@Html.Raw(item.Title)</strong></a></dt>
                                    var program = item.ContentItem as ProgramDTO;

                                    if (program != null)
                                    {
                                        if (program.ShowOrderPeriods.HasValue && program.ShowOrderPeriods.Value)
                                        {
                                            if (program.PrintedOrderPeriodStartDate.HasValue)
                                            {
                                                <dd>
                                                    @if (string.IsNullOrEmpty(program.PrintedOrderPeriodAlternateDisplayText))
                                                    {
                                                        <strong>@Resources.Shared.OrderPeriod:</strong>
                                                    }
                                                    else
                                                    {
                                                        @program.PrintedOrderPeriodAlternateDisplayText
                                                    }
                                                    @if (string.IsNullOrEmpty(program.PrintedOrderPeriodAlternateDateText))
                                                    {
                                                        if (program.PrintedOrderPeriodEndDate.HasValue)
                                                        {
                                                            <span>@program.PrintedOrderPeriodStartDate.Value.ToShortDateString() - @program.PrintedOrderPeriodEndDate.Value.ToShortDateString()</span>
                                                        }
                                                    }
                                                    else
                                                    {
                                                        <span>@program.PrintedOrderPeriodAlternateDateText</span>
                                                    }
                                                </dd>
                                            }

                                            if (program.OnlineOrderPeriodStartDate.HasValue)
                                            {
                                                <dd>
                                                    @if (string.IsNullOrEmpty(program.OnlineOrderPeriodAlternateDisplayText))
                                                    {
                                                        <strong>@Resources.Shared.OnlinePeriod:</strong>
                                                    }
                                                    else
                                                    {
                                                        @program.OnlineOrderPeriodAlternateDisplayText
                                                    }
                                                    @if (string.IsNullOrEmpty(program.OnlineOrderPeriodAlternateDateText))
                                                    {
                                                        if (program.OnlineOrderPeriodEndDate.HasValue)
                                                        {
                                                            <span>@program.OnlineOrderPeriodStartDate.Value.ToShortDateString() - @program.OnlineOrderPeriodEndDate.Value.ToShortDateString()</span>
                                                        }
                                                    }
                                                    else
                                                    {
                                                        <span>@program.OnlineOrderPeriodAlternateDateText</span>
                                                    }
                                                </dd>
                                            }
                                        }

                                        if (program.InMarketStartDate.HasValue)
                                        {
                                            <dd>
                                                @if (string.IsNullOrEmpty(program.InMarketAlternateDisplayText))
                                                {
                                                    <strong>@Resources.Shared.InMarket:</strong>
                                                }
                                                else
                                                {
                                                    @program.InMarketAlternateDisplayText
                                                }
                                                @if (string.IsNullOrEmpty(program.InMarketAlternateDateText))
                                                {
                                                    if (program.InMarketEndDate.HasValue)
                                                    {
                                                        <span>@program.InMarketStartDate.Value.ToShortDateString() - @program.InMarketEndDate.Value.ToShortDateString()</span>
                                                    }
                                                }
                                                else
                                                {
                                                    <span>@program.InMarketAlternateDateText</span>
                                                }
                                            </dd>
                                        }
                                    }
                                }
                                else
                                {
                                    <dt class="h5"><a href="@item.ResourceUrl"><strong>@Html.Raw(item.Title)</strong></a></dt>
                                    <dd>@Html.Raw(item.Summary)</dd>
                                }
                            </dl>
                        </div>
                    </div>
                </div>
                if (idx % 2 == 1 && idx < list.Count - 1)
                {
                    @Html.Raw("</div><div class=\"row blocks-line\">")
                }
                idx++;
            }
        </div>
    </div>
}