﻿@model TagBrowserItemThreeAcrossList

<section class="content-spaces-out thumbs-list">
    <h2 class="h4 list-section-header">@Html.RawWithSnippets(Model.Title)</h2>
    <div class="row">
        @foreach (var item in Model.TagBrowserItems)
        {
            <div class="thumbs-list-cell col-xs-4 col-sm-3">
                <a class="thumb-holder" href="@item.ResourceUrl">
                    <span class="thumb">@Html.ContentItemListItemThumbnailOrIcon(item, string.Empty)</span>
                    <span class="sign">@Html.Raw(item.Title)</span>
                </a>
            </div>
        }
        <div class="thumbs-list-more col-xs-12 col-sm-3">
            <a class="thumb-more" href="@Model.TitleFooterUrl">
                <em class="icon"></em>
                <span class="sign">@Resources.TagBrowser.SeeAll <span class="br"></span>@Model.Title</span>
            </a>
        </div>
    </div>
</section>
<hr>