﻿@model TagTreeNode
@functions {
    IHtmlString GetAdditionalText(TagTreeNode node)
    {
        return (node.ContentItemCount > 0 ? string.Format("({0})", node.ContentItemCount) : string.Empty).AsHtmlString();
    }
}
<li>
    @if (Model.Type == TagTreeNodeType.TagCategory)
    {
        if (!Model.Text.IsNullOrWhiteSpace())
        {
            <strong class="heading">@Model.Text</strong>
        }
    }
    else if (Model.Type == TagTreeNodeType.Tag)
    {
        <a class="item @(Model.IsSelected ? "on" : string.Empty)" href="@Model.Url">@Model.Text @GetAdditionalText(Model)<em class="x"></em></a>
    }
    @if (Model.Children.Any())
    {
        <ul>
            @if (Model.Children.Count > 5)
            {
                var orderedChildren = Model.Children.OrderByDescending(c => c.IsSelected).ThenBy(c => c.Text);
                foreach (var childNode in orderedChildren.Take(5))
                {
                    @Html.DisplayFor(m => childNode)
                }
                <li><a class="item " onclick="javascript:ShowMoreTags_Click(this,'@string.Join("|", orderedChildren.Skip(5).Select(x => x.Url.ToString() + "," + x.Text + "," + x.ContentItemCount + "," + x.IsSelected).ToList())')" style="color:#008e96;font-size:95%">Show more <em class="fa fa-angle-down" style="color: #008e96"></em></a></li>
            }
            else
            {
                foreach (var childNode in Model.Children)
                {
                    @Html.DisplayFor(m => childNode)
                }
            }
        </ul>
    }
</li>