#PC08 .calendar {
	font-size: 10px;
	font-weight: bold;
	width: 644px;
}

#PC08 .title {
background-color:#D1D0E9;
color:#08215C;
float:left;
font-size:10px;
height:100%;
overflow:hidden;
width:100px;
}

#PC08 .month {
border-left:1px solid white;
float:left;
font-size:10px;
height:100%;
text-align:center;
width:35px;
}