#PC08 {
    font-family: Verdana, Sans-Serif;
    width: 643px;
    position: relative;
    margin-left: 10px
}

    #PC08 img {
        border: 0;
    }

    /* CONTENT */
    #PC08 .info {
        border-top: 1px dotted #CCCC99;
        margin-top: 6px;
        padding-top: 16px;
        font-size: 10px;
        line-height: 1.4;
        width: 360px;
        margin-right: 30px;
    }

    #PC08 .whatsnew {
        float: right;
        background: #ffffff url(whatsnew.gif) no-repeat top left;
        font-size: 9px;
        border: 0;
        position: relative;
    }

    #PC08 .whatsnewfoot {
        width: 239px;
        height: 13px;
        position: absolute;
        left: 0;
        bottom: -1px;
        background-image: url(whatsnew_foot.gif);
    }

    #PC08 .whatsnew a {
        width: 67px;
        height: 67px;
        display: block;
        float: left;
        margin: 0 8px 5px 0;
        padding: 0;
    }

    #PC08 a.whatsnewlong {
        width: 67px;
        height: 77px;
        display: block;
        float: left;
        margin: 0 8px 20px 0;
        padding: 0;
    }

    #PC08 .whatsnew img {
        border: 1px solid #CCCC99;
    }

    #PC08 .whatsnnewpromo {
        clear: left;
        font-size: 9px;
    }

        #PC08 .whatsnnewpromo b {
            font-size: 9px;
        }

    #PC08 .pdflink {
        display: block;
        width: 152px;
        height: 0 !important;
        height: 29px;
        padding-top: 29px;
        overflow: hidden;
        background: url(pdflink.gif);
        margin-top: 35px;
    }

    /* CALENDAR */
    #PC08 .calendar {
        font-size: 10px;
        font-weight: bold;
        width: 643px;
    }

        #PC08 .calendar span {
            display: block;
            padding: 4px 0 4px 4px;
        }

    #PC08 .grouptitle {
        background-color: #6666CC;
        color: #FFFFFF;
        height: 17px;
        text-align: center;
        text-transform: uppercase;
        font-size: 10px;
        padding-top: 2px;
    }

    #PC08 .categorytitle {
        background-color: #9999FF;
        color: #FFFFFF;
        height: 18px;
        text-align: left;
        font-size: 10px;
        padding-top: 2px;
        padding-left: 5px;
    }

    #PC08 .title {
        background-color: #D1D0E9;
        color: #08215C;
        float: left;
        height: 100%;
        width: 100px;
        overflow: hidden;
        font-size: 10px;
    }

    #PC08 .month {
        width: 35px !important;
        width: 36px;
        height: 100%;
        border-left: 1px solid white;
        float: left;
        text-align: center;
        font-size: 10px;
    }

    #PC08 .row {
        background-color: #CCCCFF;
        border-top: 1px solid white;
        clear: both;
        position: relative;
    }

    #PC08 .item {
        color: white;
        font-size: 9px;
        font-weight: normal;
        height: 100%;
        position: absolute;
        top: 0;
        z-index: 100;
        letter-spacing: -1px;
    }

        #PC08 .item b {
            letter-spacing: normal;
        }

        #PC08 .item i {
            display: block;
            height: 100%;
            margin-right: 11px;
        }

        #PC08 .item u {
            display: block;
            height: 100%;
            text-decoration: none;
            position: absolute;
            top: 0;
            right: 0;
            width: 11px;
        }

        #PC08 .item span b {
            display: block;
            padding-right: 5px;
        }

        #PC08 .item.active span {
            text-decoration: underline;
        }

    #PC08 .orderperiod i {
        background: url(orderperiod.gif) no-repeat top left;
    }

    #PC08 .orderperiod u {
        background: url(orderperiod_end.gif) no-repeat top right;
    }

    #PC08 .promo.on .orderperiod i {
        background: url(orderperiod_on.gif) no-repeat top left;
    }

    #PC08 .promo.on .orderperiod u {
        background: url(orderperiod_on_end.gif) no-repeat top left;
    }

    #PC08 .inmarket i {
        background: url(inmarket.gif) no-repeat top left;
    }

    #PC08 .inmarket u {
        background: url(inmarket_end.gif) no-repeat top right;
    }

    #PC08 .promo.on .inmarket i {
        background: url(inmarket_on.gif) no-repeat top left;
    }

    #PC08 .promo.on .inmarket u {
        background: url(inmarket_on_end.gif) no-repeat top left;
    }

    #PC08 .ongoing {
        background: url(ongoing.gif) no-repeat;
        height: 30px;
        width: 546px;
    }

    #PC08 .promo.on .ongoing {
        background: url(ongoing_on.gif) no-repeat;
    }

    #PC08 .ongoinggroup {
        background: url(ongoingdates_on.gif) no-repeat;
        height: 16px;
        width: 540px;
    }

    #PC08 .categorygroup.on .ongoinggroup {
        background: url(ongoingdates_on.gif) no-repeat;
        height: 16px;
        width: 540px;
    }

    #PC08 .ongoingdates {
        background: url(ongoingdates.gif) no-repeat;
        height: 24px;
        width: 214px;
    }

    #PC08 .promo.on .ongoingdates {
        background: url(ongoingdates_on.gif) no-repeat;
    }

    #PC08 .item span {
        font-size: 10px;
        position: absolute;
        top: 0;
        left: 0;
        padding: 5px 0 0 5px;
        width: 95%;
    }

    /* Overlapping Items */
    #PC08 .item.over {
        height: 24px;
    }

    #PC08 .over span, #PC08 .under span {
        padding: 3px 5px 0;
        line-height: 1;
    }

    #PC08 .under {
        top: 50%;
        height: 23px;
    }

    #PC08 .orderperiod.over i {
        background: url(orderperiod_half.gif) no-repeat;
    }

    #PC08 .orderperiod.over u {
        background: url(orderperiod_half_end.gif) no-repeat;
    }

    #PC08 .promo.on .orderperiod.over i {
        background: url(orderperiod_half_on.gif) no-repeat;
    }

    #PC08 .promo.on .orderperiod.over u {
        background: url(orderperiod_half_on_end.gif) no-repeat;
    }

    #PC08 .inmarket.under i {
        background: url(inmarket_half.gif) no-repeat;
    }

    #PC08 .inmarket.under u {
        background: url(inmarket_half_end.gif) no-repeat;
    }

    #PC08 .promo.on .inmarket.under i {
        background: url(inmarket_half_on.gif) no-repeat;
    }

    #PC08 .promo.on .inmarket.under u {
        background: url(inmarket_half_on_end.gif) no-repeat;
    }

    #PC08 .continueleft span {
        border-left: 0;
    }

    #PC08 .continueright span {
        border-right: 0;
    }

    #PC08 .header {
        color: white;
        height: 28px;
    }

        #PC08 .header, #PC08 .header .title {
            background-color: #08215C;
            color: white;
        }

            #PC08 .header span {
                padding: 7px 0;
            }

            #PC08 .header .title span {
                padding: 7px 5px;
            }

    #PC08 .categorygroup {
        height: 16px !important;
        height: 16px;
    }

    #PC08 .category {
        height: 34px !important;
        height: 34px;
    }

        #PC08 .category, #PC08 .category .categorytitle {
            color: white;
            height: 16px;
        }

    #PC08 .promo {
        height: 32px !important;
        height: 32px;
    }

        #PC08 .promo.on, #PC08 .promo.on .month, #PC08 .promo.on .title, #PC08 .promo.on .offyear {
            background-color: #FFCC00;
            border-left-color: #FFCC00;
            color: #08215C;
        }

            #PC08 .promo.on .item span {
                color: #08215C;
            }

    /* OFFYEAR */
    #PC08 .offyear {
        background-color: #CAD4E4;
    }

    #PC08 .header .offyear {
        background-color: #53648D;
        color: #08215C;
    }

    /* CURRENT MONTH */

    #PC08 .current {
        background-color: #333366;
    }

    #PC08 .header .current {
        background-color: #051649;
    }

    #PC08 .categorygroup .current {
        background-color: #00AA00;
    }

#CalendarBubble {
    font-family: Verdana, Sans-Serif;
    font-size: 10px;
    font-weight: bold;
    position: absolute;
    top: 0;
    left: 0;
    width: 286px !important;
    width: 300px;
    z-index: 200;
}

#CalendarBubbleArrow {
    background: url(bubble_arrow.gif) no-repeat;
    position: absolute;
    top: 0;
    left: 0;
    width: 14px;
    height: 11px;
    z-index: 201;
}

/* Expandable Block Styles */
.block {
    margin: 0.5em 0;
}

    .block .bt {
        background: url(bubble.gif) no-repeat 100% 0;
        margin: 0 0 0 10px;
        height: 9px;
        position: relative;
    }

        .block .bt div {
            height: 9px;
            width: 10px;
            position: relative;
            left: -10px;
            background: url(bubble.gif) no-repeat 0 0;
        }

    * html .block .block .bt div {
        left: 0;
    }

    .block .bb {
        background: url(bubble.gif) no-repeat 100% 100%;
        margin: 0 0 0 10px;
        height: 9px;
    }

        .block .bb div {
            height: 9px;
            width: 10px;
            position: relative;
            left: -10px;
            background: url(bubble.gif) no-repeat 0 100%;
        }

    .block .i1 {
        padding: 0 0 0 10px;
        background: transparent url(bubble_borders.gif) repeat-y 0 0;
    }

    .block .i2 {
        padding: 0 5px 0 0;
        background: transparent url(bubble_borders.gif) repeat-y 100% 0;
    }

    .block .i3 {
        background-color: white;
        padding: 3px;
        color: #08215C;
    }

.LoginBox {
    font-family: Arial, Sans-Serif;
    font-size: 10px;
    background-color: #CCCC99;
    border: 1px solid #666633;
    padding: 10px;
    color: black;
}

    .LoginBox a {
        color: black;
        text-decoration: underline;
    }
