/**
 * Box shadows for elements
 */
.main-nav:after {
  content: '';
  position: absolute;
  bottom: -13px;
  left: 0;
  width: 100%;
  height: 13px;
  background: url(../img/shadow-down.png) repeat-x;
}

/* Headings

Pass in a heading type or list of heading types and returns heading types plus ones with class version of heading type

Examples:
heading(h1) { color: red; } produces h1, .h1 { color: red; }
heading(h2 h3) { color: blue; } produces h2, .h2, h3, .h3 { color: blue; }

*/
/*
 * JANRAIN SPRITES
 */
/*
 * SOCIAL LINKS SPRITES
 */
#sticky-header-nav {
  z-index: 99999;
}
#sticky-header-nav.affix {
  position: fixed;
  top: 0;
  width: 100%;
}
@media (max-width: 1024px) {
  #sticky-header-nav.affix {
    position: inherit;
  }
  #sticky-header-nav.fixed {
    position: fixed !important;
    width: 100%;
    top: 0;
  }
}

.wcmmode-edit #sticky-header-nav #welcome-banner {
  position: inherit;
}

.top-bar {
  background-color: white;
  color: black;
  font-size: 12px;
  line-height: 1;
  padding: 8px 15px;
}
.top-bar .country-language {
  text-align: right;
}

.main-nav {
  background-color: #f4f4f4;
  clear: both;
  min-height: 45px;
  position: relative;
  z-index: 600;
}
.main-nav a {
  text-decoration: none;
}
.main-nav .logo,
.main-nav .search-btn,
.main-nav .mobile-menu-btn {
  position: absolute;
  height: 45px;
}
.main-nav .logo {
  background: #f4f4f4;
  border-right: solid 1px #d0d3d4;
  overflow: hidden;
  text-align: center;
  width: 114px;
  z-index: 610;
}
.main-nav .logo a {
  display: block;
}
.main-nav .logo a {
  display: block;
}
.main-nav .logo img {
  max-height: 100%;
}
.main-nav .search-btn,
.main-nav .mobile-menu-btn {
  right: 0;
  width: 74px;
}
.main-nav .mobile-menu-btn {
  display: none;
}
.main-nav .search-header {
  background-color: #f4f4f4;
  background-image: url(../images/buttons/search-button.png);
  background-position: center;
  background-repeat: no-repeat;
  border-left: 1px solid white;
  float: right;
  height: 45px;
  position: absolute;
  right: 0px;
  width: 74px;
  z-index: 610;
}
.main-nav .search-header.close-search {
  background-color: #161616;
  background-image: url(../images/buttons/search-close.png);
  border-left: 1px solid black;
}
.main-nav .search-header > a {
  display: block;
  height: 100%;
  width: 100%;
}
.main-nav .menu-list-wrapper {
  display: table;
  height: 45px;
  width: 100%;
  padding-left: 114px;
  padding-right: 74px;
}
.main-nav .menu-list-wrapper > ul {
  display: table-row;
  margin: 0;
  padding: 0;
}
.main-nav .menu-list-wrapper > ul > li {
  list-style-type: none;
  display: table-cell;
  text-align: center;
  position: static;
}
.main-nav .menu-list-wrapper > ul > li:hover .active-arrow {
  display: block;
}
.main-nav .menu-list-wrapper > ul > li:last-child {
  border-right: solid 1px #d0d3d4;
}
.main-nav .menu-list-wrapper > ul > li > a {
  color: #000014;
  display: block;
  font-size: 16px;
  height: 45px;
  line-height: 45px;
  padding: 0 10px;
  position: relative;
  vertical-align: middle;
}
.main-nav .menu-list-wrapper > ul > li > a.active, .main-nav .menu-list-wrapper > ul > li > a:hover, .main-nav .menu-list-wrapper > ul > li > a:active {
  font-weight: 700;
}
.main-nav .menu-list-wrapper > ul > li > a:after {
  display: block;
  content: attr(data-text);
  font-weight: bold;
  height: 1px;
  color: transparent;
  overflow: hidden;
  visibility: hidden;
}
.main-nav .menu-list-wrapper > ul > li > a span {
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
  pointer-events: none;
}
.main-nav .dropdown {
  display: none;
  border-top: solid 1px #5b6770;
  position: absolute;
  top: 45px;
  left: 0px;
  width: 100%;
  z-index: 675;
}
.main-nav .active-arrow {
  border-right: 13px solid transparent;
  border-bottom: 13px solid #5b6770;
  border-left: 13px solid transparent;
  display: none;
  height: 0;
  margin-left: -13px;
  position: absolute;
  bottom: -5px;
  left: 50%;
  width: 0;
  z-index: 700;
}

.menu-homepage {
  line-height: 1;
}
.menu-homepage .menu-list-wrapper > ul > li {
  border-right: solid 1px #d0d3d4;
  border-left: solid 1px white;
}
.menu-homepage .active-arrow {
  border-bottom-color: #3a3a3a;
}
.menu-homepage .dropdown {
  background-color: #3a3a3a;
}
.menu-homepage .dropdown a:hover {
  color: #ff9900;
}
.menu-homepage .dropdown.dropdown-default {
  color: white;
  display: block;
  padding: 40px 0;
  position: static;
  text-align: center;
  z-index: 650;
}
.menu-homepage .dropdown.dropdown-default .up-arrow {
  background-image: url("../images/header/welcome-msg-up-arrow.png");
  color: #ff9900;
  display: inline-block;
  height: 10px;
  margin: 0 40px;
  width: 20px;
}
.menu-homepage .dropdown.dropdown-default .dropdown-inner {
  display: block;
  padding: 0px;
  text-align: center;
  vertical-align: middle;
}
.menu-homepage .dropdown.dropdown-default h3, .menu-homepage .dropdown.dropdown-default h4 {
  font-weight: 200;
}
.menu-homepage .dropdown.dropdown-default h3 {
  font-size: 36px;
  margin-top: 0px;
  margin-bottom: 10px;
}
.menu-homepage .dropdown.dropdown-default h4 {
  font-size: 22px;
  margin: 0px;
}
.menu-homepage .dropdown.dropdown-active {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  padding: 10px 0;
}
.menu-homepage .dropdown.dropdown-active.open {
  display: block;
}
.menu-homepage .dropdown.dropdown-active.active-view {
  display: table;
  table-layout: fixed;
}
.menu-homepage .dropdown.dropdown-active .dropdown-inner {
  display: table-row;
}
.menu-homepage .dropdown.dropdown-active .dropdown-inner .promo-text {
  display: table-cell;
  text-align: left;
  vertical-align: middle;
  width: 40%;
}
.menu-homepage .dropdown.dropdown-active .dropdown-inner .promo-text a {
  color: #ff9900;
  display: block;
  font-size: 36px;
  font-weight: 200;
  line-height: 1;
  padding: 0 20px;
}
.menu-homepage .dropdown.dropdown-active .dropdown-inner .promo-text a span {
  font-size: 45px;
  margin: 0 20px;
}
.menu-homepage .dropdown.dropdown-active .dropdown-inner .promo-text a:hover {
  color: #ff9900;
}
.menu-homepage .dropdown.dropdown-active .dropdown-inner a.subpage {
  border-left: solid 1px #5b6770;
  color: white;
  display: table-cell;
  font-size: 14px;
  font-weight: 300;
  padding: 0 20px;
  text-align: center;
  vertical-align: middle;
}
.menu-homepage .dropdown.dropdown-active .dropdown-inner a.subpage .hover-image {
  display: none;
}
.menu-homepage .dropdown.dropdown-active .dropdown-inner a.subpage .default-image {
  display: inline-block;
}
.menu-homepage .dropdown.dropdown-active .dropdown-inner a.subpage:hover {
  color: #ff9900;
}
.menu-homepage .dropdown.dropdown-active .dropdown-inner a.subpage div.image {
  margin-bottom: 10px;
  text-align: center;
  width: 100%;
  display: block;
}
.menu-homepage .dropdown.dropdown-active .dropdown-inner a.subpage div.image img {
  width: auto;
  max-width: 100%;
  vertical-align: middle;
  line-height: normal;
}

@media (max-width: 1023px) {
  .top-bar {
    display: none;
  }

  .main-nav {
    background-color: #f4f4f4;
  }
  .main-nav .menu {
    display: none;
  }
  .main-nav .logo {
    border-right: 0 !important;
    position: initial;
    float: left;
  }
  .main-nav .mobile-menu-btn {
    background-image: url(../images/icons/hamburger.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 28px 24px;
    display: block;
    text-indent: -999em;
  }
  .main-nav .mobile-menu-btn.active {
    background-image: url(../images/icons/hamburger-close.png);
  }
  .main-nav .search-header {
    border-left: 0;
    right: 74px;
  }
  .main-nav .search-header.close-search {
    right: 0px;
  }

  .copyright {
    margin-top: 0px !important;
  }
}
html.touch .top-bar {
  display: none;
}
html.touch .main-nav {
  background-color: #f4f4f4;
}
html.touch .main-nav .menu {
  display: none;
}
html.touch .main-nav .logo {
  border-right: 0 !important;
  position: initial;
  float: left;
}
html.touch .main-nav .mobile-menu-btn {
  background-image: url(../images/icons/hamburger.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 28px 24px;
  display: block;
  text-indent: -999em;
}
html.touch .main-nav .mobile-menu-btn.active {
  background-image: url(../images/icons/hamburger-close.png);
}
html.touch .main-nav .search-header {
  border-left: 0;
  right: 74px;
}
html.touch .main-nav .search-header.close-search {
  right: 0px;
}
html.touch .copyright {
  margin-top: 0px !important;
}

html.RTL.touch .main-nav .logo {
  float: right;
}

html.RTL .country-language {
  text-align: left;
}
html.RTL .mobile-menu-btn {
  left: 0;
  right: auto;
}
html.RTL .main-nav .search-header {
  left: 0;
  right: auto;
}
@media (max-width: 1024px) {
  html.RTL .main-nav .search-header {
    left: 74px;
    right: auto;
  }
  html.RTL .main-nav .search-header.close-search {
    left: 0;
    right: auto;
  }
}
html.RTL .logo {
  right: 0;
}
html.RTL .menu-list-wrapper {
  padding-right: 114px;
  padding-left: 73px;
}

/**
 * Guttered Container
 *
 * After reaching large screen width, this container
 * is centered.
 *
 * <div class="container-fluid container-guttered">
 * </div>
 */
.container-guttered, footer, header, #sticky-header-nav {
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
}

.gutterpar {
  max-width: 768px;
  margin-left: auto;
  margin-right: auto;
}

@media (max-width: 1024px) {
  .gutterpar {
    max-width: 768px;
  }
}
@media (max-width: 768px) {
  .gutterpar {
    max-width: 100%;
  }
}
@media (max-width: 480px) {
  .gutterpar {
    max-width: 100%;
  }
}
footer {
  background: #d0d3d4;
  color: #3a3a3a;
  overflow: visible;
  padding: 0;
  width: 100%;
}
footer a {
  color: black;
}
footer a:hover {
  text-decoration: underline;
  color: #008e96;
}
footer .h1, footer .h2, footer .h3, footer .h4, footer .h5, footer .h6 {
  color: #3a3a3a;
}
footer .bottom-bar {
  margin-top: 10px;
}
footer .bottom-bar a, footer .bottom-bar p {
  font-size: 12px;
}
footer .h4 {
  font-size: 18px;
  font-weight: 700;
  margin: 0;
  padding-bottom: 20px;
}
footer .h5 {
  font-size: 16px;
  font-weight: 700;
  margin: 0;
  padding-bottom: 10px;
}
footer .h5 a {
  font-weight: inherit;
}
footer .h5 a:hover {
  color: white;
  text-decoration: underline;
}
footer ul {
  margin: 0;
  padding: 0;
  list-style-position: inside;
}
footer li {
  list-style: none;
  font-weight: 300;
  font-size: 12px;
  line-height: 1.5;
}
footer .access-account {
  margin-top: 25px;
}
footer .access-account button.btn-primary {
  background: #e35205;
}
footer div.section {
  clear: both;
}

footer > .row {
  padding: 0 60px 40px 60px;
}
footer > .row.footer-header {
  padding-top: 40px;
  padding-bottom: 0;
}

html.touch footer .row,
html.touch footer .breadcrumbs {
  display: none;
}

@media (max-width: 1023px) {
  footer .row,
  footer .breadcrumbs {
    display: none;
  }
}
.breadcrumbs__list {
  border-bottom: 1px solid #a2aaad;
  height: 31px;
  margin: 0;
  padding: 0;
}
.breadcrumbs__list > li {
  float: left;
}

.breadcrumbs__item {
  height: 30px;
  line-height: 30px;
  padding: 0 20px;
  vertical-align: middle;
}
.breadcrumbs__item a.home {
  background-image: url("../images/icons/home-sprite.png");
  background-position: 0 0;
  background-repeat: no-repeat;
  display: block;
  margin: 6px 60px 0 40px;
  text-indent: -9999px;
  width: 16px;
  height: 15px;
}
.breadcrumbs__item a.home:hover {
  background-position: 0 -32px;
}

.breadcrumbs__caret {
  overflow: hidden;
  position: relative;
  width: 16px;
  height: 30px;
}
.breadcrumbs__caret:last-child {
  display: none;
}

.breadcrumbs__caret--first,
.breadcrumbs__caret--last {
  border: 15px solid transparent;
  border-right: 0;
  border-left-color: #d0d3d4;
  position: absolute;
  left: 0;
  z-index: 99;
  width: 0;
  height: 0;
}

.breadcrumbs__caret--last {
  border-left-color: #a2aaad;
  left: 1px;
  z-index: 9;
}

html.RTL .breadcrumbs__list > li {
  float: right;
}
html.RTL .breadcrumbs__item a.home {
  margin: 6px 40px 0 60px;
}
html.RTL .breadcrumbs__caret--first,
html.RTL .breadcrumbs__caret--last {
  border: 15px solid transparent;
  border-left: 0;
  border-right: 15px solid transparent;
  border-right-color: #d0d3d4;
  border-left-color: transparent;
  left: auto;
  right: 0;
}
html.RTL .breadcrumbs__caret--last {
  border-right-color: #a2aaad;
  border-left-color: transparent;
  left: auto;
  right: 1px;
}

footer .sociallinks > ul li a.Facebook {
  background-position: 0px -70px;
}
footer .sociallinks > ul li a.Facebook:hover {
  background-position: 0px -140px;
}
footer .sociallinks > ul li a.GooglePlus {
  background-position: -35px -70px;
}
footer .sociallinks > ul li a.GooglePlus:hover {
  background-position: -35px -140px;
}
footer .sociallinks > ul li a.LinkedIn {
  background-position: -70px -70px;
}
footer .sociallinks > ul li a.LinkedIn:hover {
  background-position: -70px -140px;
}
footer .sociallinks > ul li a.Twitter {
  background-position: -105px -70px;
}
footer .sociallinks > ul li a.Twitter:hover {
  background-position: -105px -140px;
}
footer .sociallinks > ul li a.YouTube {
  background-position: -140px -70px;
}
footer .sociallinks > ul li a.YouTube:hover {
  background-position: -140px -140px;
}
footer .sociallinks > ul li a.Instagram {
  background-position: -175px -70px;
}
footer .sociallinks > ul li a.Instagram:hover {
  background-position: -175px -140px;
}
footer .sociallinks > ul li a.OK {
  background-position: -210px -70px;
}
footer .sociallinks > ul li a.OK:hover {
  background-position: -210px -140px;
}
footer .sociallinks > ul li a.Pinterest {
  background-position: -245px -70px;
}
footer .sociallinks > ul li a.Pinterest:hover {
  background-position: -245px -140px;
}
footer .sociallinks > ul li a.WeChat {
  background-position: -280px -70px;
}
footer .sociallinks > ul li a.WeChat:hover {
  background-position: -280px -140px;
}
footer .sociallinks > ul li a.Weibo {
  background-position: -315px -70px;
}
footer .sociallinks > ul li a.Weibo:hover {
  background-position: -315px -140px;
}
footer .sociallinks > ul li a.VK {
  background-position: -350px -70px;
}
footer .sociallinks > ul li a.VK:hover {
  background-position: -350px -140px;
}
footer .sociallinks > ul li a.Youku {
  background-position: -385px -70px;
}
footer .sociallinks > ul li a.Youku:hover {
  background-position: -385px -140px;
}
@media (max-width: 1023px) {
  footer .sociallinks > ul li a.Facebook {
    background-position: -420px -130px;
  }
  footer .sociallinks > ul li a.Facebook:hover {
    background-position: -420px -260px;
  }
  footer .sociallinks > ul li a.GooglePlus {
    background-position: -485px -130px;
  }
  footer .sociallinks > ul li a.GooglePlus:hover {
    background-position: -485px -260px;
  }
  footer .sociallinks > ul li a.LinkedIn {
    background-position: -550px -130px;
  }
  footer .sociallinks > ul li a.LinkedIn:hover {
    background-position: -550px -260px;
  }
  footer .sociallinks > ul li a.Twitter {
    background-position: -615px -130px;
  }
  footer .sociallinks > ul li a.Twitter:hover {
    background-position: -615px -260px;
  }
  footer .sociallinks > ul li a.YouTube {
    background-position: -680px -130px;
  }
  footer .sociallinks > ul li a.YouTube:hover {
    background-position: -680px -260px;
  }
  footer .sociallinks > ul li a.Instagram {
    background-position: -745px -130px;
  }
  footer .sociallinks > ul li a.Instagram:hover {
    background-position: -745px -260px;
  }
  footer .sociallinks > ul li a.OK {
    background-position: -810px -130px;
  }
  footer .sociallinks > ul li a.OK:hover {
    background-position: -810px -260px;
  }
  footer .sociallinks > ul li a.Pinterest {
    background-position: -875px -130px;
  }
  footer .sociallinks > ul li a.Pinterest:hover {
    background-position: -875px -260px;
  }
  footer .sociallinks > ul li a.WeChat {
    background-position: -940px -130px;
  }
  footer .sociallinks > ul li a.WeChat:hover {
    background-position: -940px -260px;
  }
  footer .sociallinks > ul li a.Weibo {
    background-position: -1005px -130px;
  }
  footer .sociallinks > ul li a.Weibo:hover {
    background-position: -1005px -260px;
  }
  footer .sociallinks > ul li a.VK {
    background-position: -1070px -130px;
  }
  footer .sociallinks > ul li a.VK:hover {
    background-position: -1070px -260px;
  }
  footer .sociallinks > ul li a.Youku {
    background-position: -1135px -130px;
  }
  footer .sociallinks > ul li a.Youku:hover {
    background-position: -1135px -260px;
  }
}
