/**
 * Box shadows for elements
 */
.find-a-card-module .cta-row--fixed .cta-row__content:before, .compare-cards-modal .card-details-container:before {
  content: '';
  position: absolute;
  top: -14px;
  left: 0;
  width: 100%;
  height: 13px;
  background: url(../images/shadow-up.png) repeat-x;
}

.compare-cards-modal .card-details-container:after {
  content: '';
  position: absolute;
  bottom: -13px;
  left: 0;
  width: 100%;
  height: 13px;
  background: url(../img/shadow-down.png) repeat-x;
}

/* Headings

Pass in a heading type or list of heading types and returns heading types plus ones with class version of heading type

Examples:
heading(h1) { color: red; } produces h1, .h1 { color: red; }
heading(h2 h3) { color: blue; } produces h2, .h2, h3, .h3 { color: blue; }

*/
/*
 * JANRAIN SPRITES
 */
/*
 * SOCIAL LINKS SPRITES
 */
/**
 * Rich Text Editor
 */
.rich-text .table-wrap {
  width: 100%;
  overflow-x: scroll;
}
.rich-text table {
  margin-left: 0%;
  width: 100%;
}
.rich-text table > tbody > tr > th {
  background: #3a3a3a !important;
}
.rich-text table th {
  color: white;
}
.rich-text table td {
  color: black;
}

.rich-text > div {
  overflow: hidden;
}
.rich-text > div .image-floatLeft {
  margin-right: 20px;
}
.rich-text > div .image-floatRight {
  margin-left: 20px;
}

.rich-text {
  box-sizing: border-box !important;
}
.rich-text .textindent {
  padding: 70px 40px;
}
.rich-text .textindent > *:first-child {
  margin-top: 0 !important;
  padding-top: 0 !important;
}
@media (max-width: 1023px) {
  .rich-text .textindent {
    padding: 70px 20px;
  }
}
@media (max-width: 767px) {
  .rich-text .textindent {
    padding: 70px 20px;
  }
}

.colctrl__row .rich-text {
  box-sizing: border-box !important;
}
.colctrl__row .rich-text .textindent {
  padding: 20px 40px;
}
@media (max-width: 1023px) {
  .colctrl__row .rich-text .textindent {
    padding: 20px;
  }
}

.gutterpar .rich-text .textindent {
  padding: 70px 15px;
}
@media (max-width: 767px) {
  .gutterpar .rich-text .textindent {
    padding: 20px 15px 20px 15px;
  }
}
@media (max-width: 1023px) {
  .gutterpar .rich-text .textindent {
    padding: 20px 15px 20px 15px;
  }
}

.rich-text a {
  text-decoration: none !important;
}

html.RTL th {
  text-align: right;
}

.copyright {
  border-top: solid 1px #5b6770;
  font-size: 10px;
  margin: 0;
  margin-top: 40px;
  padding: 10px 0;
  text-align: center;
}

.promopod {
  padding: 0;
  text-align: center;
}
.promopod img {
  width: 100%;
}
.promopod .text {
  background-color: black;
  color: white;
  padding: 70px 20px;
}
.promopod .text h2, .promopod .text .h2 {
  margin-top: 0;
  margin-bottom: 0;
}
.promopod .text h3 {
  margin: 10px 0 0 0;
}
.promopod .text.gradient-white, .promopod .text.gradient-gray-light, .promopod .text.gradient-grey-light, .promopod .text.gradient-grey-lighter {
  color: black;
}
@media (max-width: 767px) {
  .promopod .text {
    padding: 70px 20px;
  }
}

.media,
.media-body {
  overflow: hidden;
  zoom: 1;
}

.media,
.media .media {
  margin-top: 15px;
}

.media:first-child {
  margin-top: 0;
}

.media-object {
  display: block;
}

.media-heading {
  margin: 0 0 5px;
}

.media > .pull-left {
  margin-right: 10px;
}
.media > .pull-right {
  margin-left: 10px;
}

.media-list {
  padding-left: 0;
  list-style: none;
}

/**
 * Mega Menu
 */
.menu-mega {
  z-index: 601;
  position: relative;
}
.menu-mega .menu-list-wrapper {
  position: relative;
  table-layout: fixed;
}
.menu-mega .menu-list-wrapper .main-nav-item {
  width: auto;
}
.menu-mega .menu-list-wrapper > ul {
  vertical-align: top;
}
.menu-mega .menu-list-wrapper > ul > li {
  vertical-align: top;
}
.menu-mega .menu-list-wrapper > ul > li:hover .active-arrow {
  display: none !important;
}
.menu-mega .menu-list-wrapper > ul > li.has-children a.open .active-arrow {
  display: block !important;
}
.menu-mega .menu-list-wrapper > ul > li > a {
  border-bottom: solid 5px #f4f4f4;
  display: block;
  line-height: 40px;
  margin: 0 10px;
  padding: 0;
  vertical-align: middle;
}
.menu-mega .menu-list-wrapper > ul > li > a.active, .menu-mega .menu-list-wrapper > ul > li > a:active {
  border-bottom: solid 5px #ff9900;
}
.menu-mega .menu-list-wrapper > ul > li > a span {
  line-height: normal;
  display: inline-block;
  vertical-align: middle;
}
.menu-mega .menu-list-wrapper > ul > li.last > a > span {
  margin-right: 7%;
}

.mega-menu__audience,
.mega-menu__audience-picker {
  background: #ff9900;
  padding: 0 15px;
}
.mega-menu__audience > a,
.mega-menu__audience-picker > a {
  border-bottom-color: #ff9900 !important;
}

.mega-menu__audience {
  position: relative !important;
}

.mega-menu__audience-exit a {
  color: black;
  font-size: 16px;
  line-height: 16px;
  margin-top: -10px;
  position: absolute;
  top: 50%;
  left: 10px;
}

html.RTL .mega-menu__audience-exit a {
  right: 10px;
  left: auto;
}

.mega-menu__audience-picker .mega-menu__dropdown ul {
  display: table;
  margin: 0;
  padding: 0;
  width: 100%;
}
.mega-menu__audience-picker .mega-menu__dropdown li {
  display: table-cell;
}
.mega-menu__audience-picker .mega-menu__dropdown a {
  color: white;
  display: block;
  padding: 20px 5px;
  text-align: center;
}
.mega-menu__audience-picker .mega-menu__dropdown a:hover {
  background: #333333;
  color: white;
  font-weight: inherit;
  transition: all .1s ease-in-out;
}

/**
 * Mega Menu Dropdown
 */
.mega-menu__dropdown {
  background: #5b6770;
  display: none;
  overflow: hidden;
  position: absolute;
  top: 100%;
  left: 0;
  text-align: left;
  width: 100%;
}
.has-children .mega-menu__dropdown.open {
  display: block;
}

.mega-menu__dropdown-divider {
  border-left: 1px solid white;
  position: absolute;
  top: 20px;
  right: 0;
  bottom: 20px;
}

/**
 * Generic submenu.
 *
 * Assigned to all submenus, regardless
 * of their heirarchy.
 */
.mega-menu__sub-menu {
  display: none;
  padding: 20px 0;
  position: absolute;
  top: 0;
  left: 0;
  text-align: left;
}
.mega-menu__sub-menu.open {
  display: block;
}
.mega-menu__sub-menu li {
  display: block;
}
.mega-menu__sub-menu li.active > a {
  background: #333333 !important;
  color: white !important;
}
.mega-menu__sub-menu li.active > a:after {
  color: white !important;
}
.mega-menu__sub-menu li.has-child-menu > a:after {
  color: white;
  content: '\203A';
  margin-top: -11px;
  position: absolute;
  top: 50%;
  right: 15px;
}
.mega-menu__sub-menu a {
  color: white;
  display: block;
  padding: 7px 20px;
  position: relative;
  text-decoration: none;
}
.mega-menu__sub-menu a:hover {
  color: white;
}

/**
 * Very first submenu
 */
.mega-menu__sub-menu--base {
  display: block;
  width: 23%;
}

.mega-menu__sub-menu .mega-menu__sub-menu {
  left: 100%;
  width: 135%;
  height: 100%;
}

.mega-menu__sub-menu .mega-menu__sub-menu .mega-menu__sub-menu {
  width: 150%;
  border-right: none;
}
.mega-menu__sub-menu .mega-menu__sub-menu .mega-menu__sub-menu .mega-menu__dropdown-divider {
  display: none;
}

/**
 * Mega Menu Promo
 */
.mega-menu__promo-container {
  position: absolute;
  left: 23%;
  top: 0px;
  width: 77%;
  margin-top: 0;
  padding: 0 0 0 20px;
  vertical-align: top;
  color: white;
  text-align: left;
}
.mega-menu__promo-container .image {
  max-width: 40%;
  width: auto;
  height: 100%;
  float: right;
}
.mega-menu__promo-container .text-wrapper {
  padding: 20px 0;
  margin-bottom: 0;
}
.mega-menu__promo-container .text-wrapper h2 {
  font-size: 36px !important;
  margin-top: 0;
}
.mega-menu__promo-container .text-wrapper h3 {
  margin-top: 11px;
  margin-bottom: 28px;
}
.mega-menu__promo-container .cta-group {
  text-align: left;
}

/**
 * Mega Menu Promo states are applied to the sibling .sub-menu-base,
 * which is the level one list of the .mega-menu-dropdown
 */
.mega-menu__promo-container--compact {
  width: 46%;
  left: 54%;
}
.mega-menu__promo-container--compact .image {
  display: none;
}
.mega-menu__promo-container--compact .text-wrapper {
  padding-right: 20px;
}

html.RTL .menu-mega .menu-list-wrapper > ul > li.last > a > span {
  margin-right: 0;
  margin-left: 7%;
}
html.RTL .mega-menu__audience-arrow {
  background: url("../images/arrows/arrow-nav-headpage-yellow2-RTL.png") no-repeat;
  right: -15px;
  left: auto;
  background-position: center right;
}
html.RTL .mega-menu__audience-exit {
  left: 10px;
  right: auto;
}
html.RTL .mega-menu__dropdown {
  text-align: right;
}
html.RTL .mega-menu__dropdown-divider {
  left: 0;
  right: auto;
}
html.RTL .mega-menu__sub-menu {
  right: 0;
  left: auto;
  text-align: right;
}
html.RTL .mega-menu__sub-menu a {
  padding-left: 30px;
}
html.RTL .mega-menu__sub-menu li.has-child-menu > a:after {
  left: 14px;
  right: auto;
}
html.RTL .mega-menu__sub-menu .mega-menu__sub-menu {
  right: 100%;
  left: auto;
}
html.RTL .mega-menu__promo-container {
  padding: 0 20px 0 0;
  right: 23%;
  left: auto;
}
html.RTL .mega-menu__promo-container .image {
  float: left;
  margin-right: 20px;
}
html.RTL .mega-menu__promo-container--compact {
  right: 54%;
  left: auto;
}
html.RTL .mega-menu__promo-container--compact .text-wrapper {
  padding-right: 0;
  padding-left: 20px;
}

.mobile-menu .mobile-main-menu .parent-page, .mobile-menu .mobile-main-menu li:active {
  background-color: #333333;
  color: white;
}
.mobile-menu .mobile-main-menu .parent-page a, .mobile-menu .mobile-main-menu li:active a {
  color: white;
  font-weight: 700;
}

.show-mobile-menu .page-wrap__inner {
  width: 100%;
  right: 80%;
  position: fixed;
}
.show-mobile-menu .mobile-menu {
  display: block;
}

html.RTL.show-mobile-menu .page-wrap__inner {
  left: 80%;
  right: auto;
}

.mobile-menu {
  background: #d0d3d4;
  display: none;
  position: fixed;
  overflow: auto;
  right: 0;
  top: 0;
  bottom: 0;
  width: 80%;
  background-color: #d0d3d4;
  font-size: 16px;
}
.mobile-menu .mobile-menu-header {
  overflow: hidden;
  padding: 5px 0;
  background: #5b6770;
  border-bottom: solid 1px #989898;
  z-index: 9;
}
.mobile-menu .mobile-menu-header a {
  text-align: center;
  display: block;
  color: white;
  padding: 12px 0;
}
.mobile-menu .mobile-menu-header .back {
  display: none;
  border-right: solid 1px #989898;
}
.mobile-menu .mobile-menu-header .back span {
  padding-left: 20px;
  text-align: left;
  position: relative;
}
.mobile-menu .mobile-menu-header .back span:before {
  width: 100%;
  content: '\2039';
  font-size: 36px;
  line-height: 1;
  top: -12px;
  left: 0;
  position: absolute;
}
.mobile-menu .mobile-menu-header .home img {
  width: 30px;
}
.mobile-menu .mobile-menu-header.show-back-button a {
  width: 50%;
  float: left;
}
.mobile-menu .mobile-menu-header.show-back-button .back {
  display: block;
}
.mobile-menu .mobile-menu-viewport {
  z-index: 9;
}
.mobile-menu .mobile-main-menu .parent-page a {
  padding: 20px;
  display: block;
}
.mobile-menu .mobile-main-menu ul {
  background: #5b6770;
  list-style-type: none;
  padding: 0px;
  margin: 0;
}
.mobile-menu .mobile-main-menu li {
  border-bottom: solid 1px #989898;
  border-top: solid 1px #989898;
  position: relative;
}
.mobile-menu .mobile-main-menu li a {
  color: white;
  display: block;
  padding: 20px;
  margin-right: 60px;
}
.mobile-menu .mobile-main-menu li .mobile-menu-down-level {
  width: 60px;
  border-left: solid 1px #989898;
  position: absolute;
  right: 0px;
  top: 5px;
  bottom: 5px;
  text-align: center;
  cursor: pointer;
  color: white;
}
.mobile-menu .mobile-main-menu li .mobile-menu-down-level:before {
  width: 100%;
  content: '\203A';
  font-size: 50px;
  line-height: 1;
}
.mobile-menu .mobile-main-menu li.no-children a {
  margin-right: 0px;
}
.mobile-menu .mobile-main-menu li.no-children .mobile-menu-down-level {
  display: none;
}
.mobile-menu .mobile-main-menu li:active .mobile-menu-down-level {
  color: #333333;
}
.mobile-menu .mobile-country-language-selector {
  padding: 20px;
  border-bottom: 1px white solid;
}
.mobile-menu .mobile-country-language-selector .language {
  color: black;
}
.mobile-menu .mobile-country-language-selector .country-flag {
  width: 23px;
  float: right;
  height: 15px;
  margin-top: 4px;
}

html.RTL .mobile-menu {
  right: auto;
  left: 0;
}
html.RTL .mobile-menu .mobile-menu-header .back {
  display: none;
  border-right: 0;
  border-left: solid 1px #989898;
}
html.RTL .mobile-menu .mobile-menu-header .back span {
  padding-left: auto;
  padding-right: 20px;
  text-align: right;
}
html.RTL .mobile-menu .mobile-menu-header .back span:before {
  content: '\2039';
  left: auto;
  right: 0;
}
html.RTL .mobile-menu .mobile-menu-header.show-back-button a {
  float: right;
}
html.RTL .mobile-menu .mobile-menu-header.show-back-button .back {
  display: block;
}
html.RTL .mobile-menu .mobile-main-menu li a {
  margin-left: 60px;
  margin-right: 0px;
}
html.RTL .mobile-menu .mobile-main-menu li .mobile-menu-down-level {
  border-left: 0;
  border-right: solid 1px #989898;
  right: auto;
  left: 0px;
}
html.RTL .mobile-menu .mobile-main-menu li .mobile-menu-down-level:before {
  content: '\203A';
}
html.RTL .mobile-menu .mobile-main-menu li.no-children a {
  margin-left: 0px;
  margin-right: auto;
}
html.RTL .mobile-menu .mobile-country-language-selector .country-flag {
  float: left;
}

.mobile-footer {
  color: black;
}
.mobile-footer ul {
  list-style: none;
}
.mobile-footer .title {
  display: none;
  position: relative;
}
.mobile-footer .title > div {
  margin: 0;
}
.mobile-footer .title a {
  color: black;
}
.mobile-footer .section {
  border-bottom: 1px white solid;
}
.mobile-footer .section.access-account .input-group {
  margin: 15px 0 0 20px;
  display: none;
  width: 100%;
}
.mobile-footer .section.access-account .input-group label {
  width: 75%;
}
.mobile-footer .section.access-account .input-group label .btn-group {
  width: 100% !important;
}
.mobile-footer .section.access-account .input-group select {
  font-size: 16px;
}
.mobile-footer .section.access-account.open {
  padding-bottom: 20px;
}
.mobile-footer .section.expandable .toggle-icon {
  position: absolute;
  background-image: url("../images/icons/accordion-toggle.png");
  background-position: 0 0;
  background-repeat: no-repeat;
  height: 20px;
  width: 20px;
  top: 17px;
  right: 20px;
}
.mobile-footer .section.expandable > ul {
  padding-top: 20px;
  display: none;
}
.mobile-footer .section.expandable > ul li {
  font-size: 14px !important;
}
.mobile-footer .section.expandable > ul li:first-child {
  border-top: 1px white solid;
}
.mobile-footer .section.expandable .title {
  padding: 20px;
  display: block;
}
.mobile-footer .section.expandable .title > div {
  font-weight: bold;
}
.mobile-footer .section.expandable.open .toggle-icon {
  background-position: 0 -21px;
}
.mobile-footer .section.expandable.open .title {
  padding-bottom: 0;
}
.mobile-footer .section.expandable.open > ul {
  display: block;
}
.mobile-footer .section.expandable.open .input-group {
  display: table;
}
.mobile-footer .section > ul {
  padding: 0 0 0 20px;
  margin-bottom: 0;
}
.mobile-footer .section > ul li {
  color: black !important;
  border-bottom: 1px white solid;
  padding: 10px 10px 10px 0;
}
.mobile-footer .section > ul li a {
  color: black !important;
}
.mobile-footer .section > ul li a:hover {
  color: #008e96 !important;
}
.mobile-footer .section > ul li:last-child {
  border-bottom: none;
}

html.RTL .mobile-footer .section.access-account .input-group {
  margin: 15px 20px 0 0;
}
html.RTL .mobile-footer .section.expandable .toggle-icon {
  left: 20px;
  right: auto;
}
html.RTL .mobile-footer .section > ul {
  padding: 0 20px 0 0;
}
html.RTL .mobile-footer .section > ul li {
  padding: 10px 0 10px 10px;
}

.mobile-menu-background {
  background: #d0d3d4;
  height: 100%;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: -1;
}

@media (min-width: 1024px) {
  html.no-touch .mobile-menu {
    display: none;
  }
  html.no-touch.show-mobile-menu .page-wrap__inner {
    right: 0;
  }
}
.sociallinks > ul li {
  float: left;
}
.sociallinks > ul li a {
  background-color: transparent;
  background-image: url('../images/social/social-sprite-moreicons.png');
  background-position: 0 0;
  background-repeat: no-repeat;
  display: block;
  text-indent: -9999px;
  margin: 0 6px 6px 0;
  width: 35px;
  height: 35px;
}
.sociallinks > ul li a.Facebook {
  background-position: 0px -70px;
}
.sociallinks > ul li a.Facebook:hover {
  background-position: 0px -140px;
}
.sociallinks > ul li a.GooglePlus {
  background-position: -35px -70px;
}
.sociallinks > ul li a.GooglePlus:hover {
  background-position: -35px -140px;
}
.sociallinks > ul li a.LinkedIn {
  background-position: -70px -70px;
}
.sociallinks > ul li a.LinkedIn:hover {
  background-position: -70px -140px;
}
.sociallinks > ul li a.Twitter {
  background-position: -105px -70px;
}
.sociallinks > ul li a.Twitter:hover {
  background-position: -105px -140px;
}
.sociallinks > ul li a.YouTube {
  background-position: -140px -70px;
}
.sociallinks > ul li a.YouTube:hover {
  background-position: -140px -140px;
}
.sociallinks > ul li a.Instagram {
  background-position: -175px -70px;
}
.sociallinks > ul li a.Instagram:hover {
  background-position: -175px -140px;
}
.sociallinks > ul li a.OK {
  background-position: -210px -70px;
}
.sociallinks > ul li a.OK:hover {
  background-position: -210px -140px;
}
.sociallinks > ul li a.Pinterest {
  background-position: -245px -70px;
}
.sociallinks > ul li a.Pinterest:hover {
  background-position: -245px -140px;
}
.sociallinks > ul li a.WeChat {
  background-position: -280px -70px;
}
.sociallinks > ul li a.WeChat:hover {
  background-position: -280px -140px;
}
.sociallinks > ul li a.Weibo {
  background-position: -315px -70px;
}
.sociallinks > ul li a.Weibo:hover {
  background-position: -315px -140px;
}
.sociallinks > ul li a.VK {
  background-position: -350px -70px;
}
.sociallinks > ul li a.VK:hover {
  background-position: -350px -140px;
}
.sociallinks > ul li a.Youku {
  background-position: -385px -70px;
}
.sociallinks > ul li a.Youku:hover {
  background-position: -385px -140px;
}

@media (max-width: 1023px) {
  .sociallinks > ul {
    margin: 0;
    padding: 0 !important;
  }
  .sociallinks > ul li {
    border: none !important;
    padding: 0 !important;
    width: 20%;
  }
  .sociallinks > ul li a {
    margin: 15px 20px 15px;
  }
}
@media (max-width: 767px) {
  .sociallinks > ul li {
    width: 50%;
  }
  .sociallinks > ul li a {
    margin: 11px auto 11px;
    width: 65px;
    height: 65px;
  }
  .sociallinks > ul li a.Facebook {
    background-position: -420px -130px;
  }
  .sociallinks > ul li a.Facebook:hover {
    background-position: -420px -260px;
  }
  .sociallinks > ul li a.GooglePlus {
    background-position: -485px -130px;
  }
  .sociallinks > ul li a.GooglePlus:hover {
    background-position: -485px -260px;
  }
  .sociallinks > ul li a.LinkedIn {
    background-position: -550px -130px;
  }
  .sociallinks > ul li a.LinkedIn:hover {
    background-position: -550px -260px;
  }
  .sociallinks > ul li a.Twitter {
    background-position: -615px -130px;
  }
  .sociallinks > ul li a.Twitter:hover {
    background-position: -615px -260px;
  }
  .sociallinks > ul li a.YouTube {
    background-position: -680px -130px;
  }
  .sociallinks > ul li a.YouTube:hover {
    background-position: -680px -260px;
  }
  .sociallinks > ul li a.Instagram {
    background-position: -745px -130px;
  }
  .sociallinks > ul li a.Instagram:hover {
    background-position: -745px -260px;
  }
  .sociallinks > ul li a.OK {
    background-position: -810px -130px;
  }
  .sociallinks > ul li a.OK:hover {
    background-position: -810px -260px;
  }
  .sociallinks > ul li a.Pinterest {
    background-position: -875px -130px;
  }
  .sociallinks > ul li a.Pinterest:hover {
    background-position: -875px -260px;
  }
  .sociallinks > ul li a.WeChat {
    background-position: -940px -130px;
  }
  .sociallinks > ul li a.WeChat:hover {
    background-position: -940px -260px;
  }
  .sociallinks > ul li a.Weibo {
    background-position: -1005px -130px;
  }
  .sociallinks > ul li a.Weibo:hover {
    background-position: -1005px -260px;
  }
  .sociallinks > ul li a.VK {
    background-position: -1070px -130px;
  }
  .sociallinks > ul li a.VK:hover {
    background-position: -1070px -260px;
  }
  .sociallinks > ul li a.Youku {
    background-position: -1135px -130px;
  }
  .sociallinks > ul li a.Youku:hover {
    background-position: -1135px -260px;
  }
}
html.RTL .sociallinks li {
  float: right;
}

@media (min-width: 768px) {
  .col-sm-3.social-column {
    max-width: 275px;
  }
}
/**
 * Find A Card Page
 */
.loading-indicator {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1000000;
}
.loading-indicator .loading-mask {
  width: 100%;
  height: 100%;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  opacity: 0.7;
  background-color: black;
}
.loading-indicator .loading-spinner {
  background: url(../images/mc-loader.gif) no-repeat;
  width: 71px;
  height: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -20px;
  margin-left: -35px;
}
.loading-indicator.is-showing {
  display: block;
}

.nav-tabs > li:hover.active:after, .nav-tabs > li:focus.active:after {
  content: '';
}
.nav-tabs > li:hover:after, .nav-tabs > li:focus:after {
  content: none;
}

.mode-advertisements {
  margin-top: 63px;
}

.find-a-card-module {
  position: relative;
  /**
   * Advertisements
   */
  /**
   * List of inline links, separated by a vertical bar
   */
  /**
   * Bottom bar full of link modes
   */
}
.find-a-card-module [ng-click] {
  cursor: pointer;
}
.find-a-card-module .integration-errors .error-banner {
  display: block;
}
.find-a-card-module .mode-advertisement {
  display: block;
  position: fixed;
  right: 20px;
  left: auto;
  -webkit-transition: "all .2s ease-in-out";
  -moz-transition: "all .2s ease-in-out";
  -o-transition: "all .2s ease-in-out";
  transition: "all .2s ease-in-out";
}
.find-a-card-module .mode-advertisement img {
  display: block;
  max-width: 90%;
  margin: 0 auto;
}
@media screen and (max-width: 768px) {
  .find-a-card-module .mode-advertisements {
    display: none;
  }
}
@media screen and (max-width: 1024px) {
  .find-a-card-module .link-list {
    padding-left: 0;
  }
}
.find-a-card-module .link-list .link-list__item {
  list-style-type: none;
  display: inline-block;
  text-align: center;
  padding: 0 15px;
  border-left: 1px solid #d0d3d4;
}
@media screen and (max-width: 1024px) {
  .find-a-card-module .link-list .link-list__item {
    padding: 0 10px;
  }
}
.find-a-card-module .link-list .link-list__item:first-child {
  border-left: 0;
}
.find-a-card-module .link-bar {
  width: 100%;
  background: #f4f4f4;
  text-align: center;
  overflow: hidden;
}
.find-a-card-module .link-bar ul, .find-a-card-module .link-bar li {
  list-style-type: none;
}
.find-a-card-module .link-bar .mode-link-group {
  margin: 0 0 0 90px;
  padding: 15px 0;
  display: block;
  float: left;
}
.find-a-card-module .link-bar .start-over-group {
  float: right;
  margin-left: 0;
}
.find-a-card-module .link-bar .start-over {
  text-align: right;
  padding-right: 25px;
  border-left: 0;
}
@media screen and (max-width: 768px) {
  .find-a-card-module .link-bar .mode-link-group {
    width: 100%;
    margin: 0;
    padding: 0;
    float: none;
    margin-top: 25px;
  }
  .find-a-card-module .link-bar .start-over-group {
    float: none;
    margin-top: 0;
  }
  .find-a-card-module .link-bar .mode-link,
  .find-a-card-module .link-bar .start-over {
    display: block;
    border: none;
    text-align: left;
    padding: 0 15px;
    margin-bottom: 25px;
  }
}
.find-a-card-module .cta-row--fixed {
  background: white;
  background: rgba(255, 255, 255, 0.9);
  position: static;
  bottom: 0;
  left: 0;
  width: 100%;
  -webkit-backface-visibility: hidden;
}
.find-a-card-module .cta-row--fixed .cta-row__content {
  border-top: 1px solid black;
  position: relative;
}
.find-a-card-module .cta-row--fixed .link-list {
  margin-top: 12px;
  margin-bottom: 0;
}
.find-a-card-module .cta-row--fixed.affix-top, .find-a-card-module .cta-row--fixed.affix {
  position: fixed;
  bottom: 0;
}
.find-a-card-module .cta-row--fixed.affix-top .cta-row__content, .find-a-card-module .cta-row--fixed.affix .cta-row__content {
  max-width: 1400px;
  margin: 0 auto;
}
.find-a-card-module .cta-row--fixed.affix-bottom {
  position: absolute;
  top: auto !important;
  bottom: 0 !important;
}

html.ie8 .find-a-card-module .mode-advertisement {
  position: absolute;
}

html.RTL .find-a-card-module {
  /**
   * Advertisements
   */
  /**
   * List of inline links, separated by a vertical bar
   */
  /**
   * Bottom bar full of link modes
   */
}
html.RTL .find-a-card-module .mode-advertisement {
  display: block;
  position: fixed;
  right: auto;
  left: 20px;
  -webkit-transition: "all .2s ease-in-out";
  -moz-transition: "all .2s ease-in-out";
  -o-transition: "all .2s ease-in-out";
  transition: "all .2s ease-in-out";
}
@media screen and (max-width: 768px) {
  html.RTL .find-a-card-module .mode-advertisements {
    display: none;
  }
}
@media screen and (max-width: 1024px) {
  html.RTL .find-a-card-module .link-list {
    padding-left: auto;
    padding-right: 0;
  }
}
html.RTL .find-a-card-module .link-list .link-list__item {
  border: 0;
}
html.RTL .find-a-card-module .link-list .link-list__item:first-child {
  border-right: 0;
}
html.RTL .find-a-card-module .link-bar .mode-link-group {
  float: right;
}
html.RTL .find-a-card-module .link-bar .start-over-group {
  float: left;
  margin-right: 0;
  margin-left: auto;
}
html.RTL .find-a-card-module .link-bar .start-over {
  text-align: right;
  padding-left: 25px;
  border-right: 0;
}
@media screen and (max-width: 768px) {
  html.RTL .find-a-card-module .link-bar .start-over-group {
    float: none;
    margin-top: 0;
  }
  html.RTL .find-a-card-module .link-bar .mode-link,
  html.RTL .find-a-card-module .link-bar .start-over {
    display: block;
    border: none;
    text-align: center;
    padding: 0 15px;
    margin-bottom: 25px;
  }
}
html.RTL .find-a-card-module .cta-row--fixed {
  bottom: 0;
  left: auto;
  right: 0;
}

html.RTL .find-a-card-module {
  /**
   * List of inline links, separated by a vertical bar
   */
}
@media screen and (max-width: 1024px) {
  html.RTL .find-a-card-module .link-list {
    padding-left: 0;
  }
}
html.RTL .find-a-card-module .link-list .link-list__item {
  border-left: 0;
  border-right: 1px solid #d0d3d4;
}
html.RTL .find-a-card-module .link-list .link-list__item:first-child {
  border-right: 0;
}
html.RTL .bx-viewport {
  direction: ltr;
}
html.RTL .bx-viewport ul {
  direction: rtl;
}

/**
 * Step 1 - Choose Mode
 */
.find-a-card-module .step1 {
  /**
   * Carousel
   */
}
.find-a-card-module .step1 .prev {
  left: 20px;
}
.find-a-card-module .step1 .next {
  right: 20px;
}
.find-a-card-module .step1 .prev,
.find-a-card-module .step1 .next {
  z-index: 99;
}
.find-a-card-module .step1 a {
  cursor: pointer;
}
.find-a-card-module .step1 .mode-carousel-wrapper {
  margin-bottom: 50px;
}
.find-a-card-module .step1 .mode-carousel-wrapper .prev {
  left: 20px;
}
.find-a-card-module .step1 .mode-carousel-wrapper .next {
  right: 20px;
}
.find-a-card-module .step1 .mode-carousel {
  border-right: 1px solid #a2aaad;
}
.find-a-card-module .step1 .mode-carousel__slide h2,
.find-a-card-module .step1 .mode-carousel__slide h4 {
  text-align: center;
  padding-left: 40px;
  padding-right: 40px;
}
.find-a-card-module .step1 .mode-carousel__slide img {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  max-width: 80%;
}
.find-a-card-module .step1 .cta-row {
  text-align: center;
  margin-top: 50px;
}
@media screen and (max-width: 768px) {
  .find-a-card-module .step1 .mode-carousel {
    border-right: none;
    border-left: none;
  }
}

html.RTL .find-a-card-module .step1 .mode-carousel {
  border-left: 1px solid #a2aaad;
  border-right: 0;
}

/**
 * Step 2 - Questions
 */
.find-a-card-module .step2 {
  padding-bottom: 48px;
  position: relative;
}
.find-a-card-module .step2 .questions {
  border-right: 1px solid #a2aaad;
  padding: 0 60px 60px 60px;
}
.find-a-card-module .step2 .question {
  padding: 20px 0;
  border-top: 2px solid #a2aaad;
}
.find-a-card-module .step2 .question.first {
  border-top: none;
}
.find-a-card-module .step2 .question .radio {
  padding-left: 0;
}
.find-a-card-module .step2 .sub-text a {
  margin-left: 5px;
}
.find-a-card-module .step2 .cta-row .btn {
  margin-left: 60px;
}
@media screen and (max-width: 480px) {
  .find-a-card-module .step2 .cta-row .btn {
    margin-left: 0;
    width: 100%;
  }
}
.find-a-card-module .step2 .cta-row .link-list {
  margin-right: 25px;
}
@media screen and (max-width: 768px) {
  .find-a-card-module .step2 .questions {
    border-right: none;
  }
}
@media screen and (max-width: 480px) {
  .find-a-card-module .step2 .questions {
    padding: 0 5% 5% 5%;
  }
  .find-a-card-module .step2 .questions h3 {
    margin-top: 0;
  }
}

/**
 * Step 3 - Results
 */
.find-a-card-module .step3 {
  padding: 0 10px 10px 10px;
  position: relative;
  /**
   * Compare Cards Bottom Bar
   */
}
@media screen and (max-width: 768px) {
  .find-a-card-module .step3 {
    padding: 0px;
  }
}
.find-a-card-module .step3 .sorts-and-filters {
  margin: 10px 0 7px;
}
@media screen and (max-width: 768px) {
  .find-a-card-module .step3 .sorts-and-filters {
    margin: 10px 20px 20px;
  }
}
.find-a-card-module .step3 .sorts-and-filters .mc-select-outlined {
  display: inline-block;
  margin-left: 5px;
  margin-right: 5px;
}
@media screen and (max-width: 768px) {
  .find-a-card-module .step3 .sorts-and-filters .mc-select-outlined {
    display: block;
  }
}
.find-a-card-module .step3 .cards {
  margin-bottom: 10px;
}
.find-a-card-module .step3 .card__sponsored-banner {
  text-transform: uppercase;
  text-align: center;
  background: #fa6c21;
  padding: 5px;
  color: white;
}
.find-a-card-module .step3 .card-container {
  overflow: hidden;
}
.find-a-card-module .step3 .card {
  background: #f4f4f4;
  margin-bottom: 10px;
  padding: 10px;
}
@media screen and (max-width: 768px) {
  .find-a-card-module .step3 .card {
    position: relative;
  }
}
@media screen and (max-width: 768px) {
  .find-a-card-module .step3 .card .flag__image__header {
    display: table-cell;
    vertical-align: middle;
    width: 23%;
    padding-right: 10px;
    padding-bottom: 10px;
  }
}
.find-a-card-module .step3 .card .visible-md-table-cell,
.find-a-card-module .step3 .card .visible-lg-table-cell {
  display: table-cell;
}
@media screen and (max-width: 768px) {
  .find-a-card-module .step3 .card .visible-md-table-cell,
  .find-a-card-module .step3 .card .visible-lg-table-cell {
    display: none !important;
  }
}
.find-a-card-module .step3 .card .flag__image img {
  max-width: 140px;
  width: 140px;
  height: auto;
}
.find-a-card-module .step3 .card .flag__body {
  padding-left: 10px;
}
@media screen and (max-width: 768px) {
  .find-a-card-module .step3 .card .flag__body {
    padding: 0;
  }
}
@media screen and (max-width: 768px) {
  .find-a-card-module .step3 .card .flag__body .flag__body__header {
    display: table-row;
  }
}
@media screen and (max-width: 768px) {
  .find-a-card-module .step3 .card .flag__body .btn {
    margin-top: 10px;
  }
}
.find-a-card-module .step3 .card .link-list {
  margin: 13px 0 0 0;
}
.find-a-card-module .step3 .card .link-list__item {
  border-left-color: #d0d3d4;
  color: #00b3b4;
}
.find-a-card-module .step3 .card .link-list__item label {
  font-weight: normal;
}
.find-a-card-module .step3 .card__title {
  margin-top: 0;
  font-size: 40px;
  margin-bottom: 9px;
}
@media screen and (max-width: 768px) {
  .find-a-card-module .step3 .card__title {
    font-size: 23px;
  }
}
.find-a-card-module .step3 .card__rates-grid {
  display: table;
  table-layout: fixed;
  width: 100%;
  border-top: 1px solid #a2aaad;
  border-bottom: 1px solid #a2aaad;
  margin-bottom: 10px;
}
.find-a-card-module .step3 .card__rates-item {
  display: table-cell;
  width: 25%;
  text-align: center;
  padding-top: 7px;
}
.find-a-card-module .step3 .card__rates-item p {
  margin-bottom: 5px;
}
@media screen and (max-width: 768px) {
  .find-a-card-module .step3 .card__rates-item {
    display: inline-block;
    width: 50%;
    vertical-align: top;
  }
}
.find-a-card-module .step3 .card__rates-rate {
  color: #00b3b4;
}
.find-a-card-module .step3 h2.card__rates-rate {
  font-size: 40px;
  margin-top: 0;
  font-weight: bold;
  margin-bottom: 0;
  margin-top: -10px;
}
.find-a-card-module .step3 .currency-symbol {
  font-size: 0.50em;
  vertical-align: top;
  line-height: 28px;
  margin: 3px 2px 0 0;
}
.find-a-card-module .step3 p .currency-symbol {
  line-height: 16px;
}
.find-a-card-module .step3 .card__rewards {
  vertical-align: middle;
}
.find-a-card-module .step3 .reward {
  display: inline-block;
  margin-right: 5px;
  text-align: center;
  vertical-align: middle;
  content: '';
}
.find-a-card-module .step3 .reward--airline {
  background: url("../images/icons/airplane.png");
  width: 21px;
  height: 21px;
}
.find-a-card-module .step3 .reward--cash-back {
  background: url("../images/icons/cash.png");
  width: 22px;
  height: 13px;
}
.find-a-card-module .step3 .reward--gas {
  background: url("../images/icons/gas.png");
  width: 42px;
  height: 16px;
}
.find-a-card-module .step3 .reward--shopping {
  background: url("../images/icons/shopping.png");
  width: 21px;
  height: 20px;
}
.find-a-card-module .step3 .reward--entertainment {
  background: url("../images/icons/entertainment.png");
  width: 13px;
  height: 20px;
}
.find-a-card-module .step3 .cta-row__content {
  padding: 14px 0;
  text-align: center;
}
@media screen and (max-width: 1024px) {
  .find-a-card-module .step3 .compare-cards-bar .btn.small {
    font-size: 11px;
  }
}
.find-a-card-module .step3 .compare-cards-label {
  margin-right: 15px;
}
.find-a-card-module .step3 .card-slot {
  margin-right: 40px;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  position: relative;
  height: auto;
  width: 84px;
}
.find-a-card-module .step3 .card-slot--empty {
  background: #f4f4f4;
  height: 54px;
  min-width: 84px;
}
.find-a-card-module .step3 .card-slot__remove {
  position: absolute;
  top: 50%;
  right: -27px;
  cursor: pointer;
  color: black;
  margin-top: -10px;
  background: url("../images/close-x-small.png") no-repeat;
  text-indent: -9999px;
  width: 10px;
  height: 10px;
  background-size: 100% 100%;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
}
.find-a-card-module .step3 .card-slot__remove, .find-a-card-module .step3 .card-slot__remove:hover {
  text-decoration: none;
}
@media only screen and (max-width: 875px) {
  .find-a-card-module .step3 .cta-row--fixed .btn {
    margin-top: 10px;
  }
}
@media screen and (max-width: 768px) {
  .find-a-card-module .step3 .link-list {
    margin-top: 8px;
  }
}
@media screen and (max-width: 768px) {
  .find-a-card-module .step3 .pull-right {
    float: none !important;
    font-size: 20px;
    padding: 0;
    text-align: center;
  }
}
@media screen and (max-width: 768px) {
  .find-a-card-module .step3 .bottom-links {
    background: #f4f4f4;
    padding: 20px 0;
  }
}
@media screen and (max-width: 768px) {
  .find-a-card-module .step3 .bottom-links > a {
    float: none !important;
    font-size: 20px;
    padding: 0 0 0 10px;
    text-align: left;
    display: block;
    width: 100%;
  }
}
@media screen and (max-width: 768px) {
  .find-a-card-module .step3 .new {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  html.RTL .find-a-card-module .step3 .card .flag__image__header {
    padding-right: 0px;
    padding-left: 10px;
  }
}

/**
 * Find A Card Modal Generic Styling
 */
.fac-modal .modal-header {
  border-bottom: none;
  min-height: 50px;
  overflow: hidden;
  padding: 20px;
}
.fac-modal .modal-header .close {
  position: absolute;
  top: 20px;
  right: 20px;
}
.fac-modal .modal-title {
  margin-top: 0;
  text-align: center;
}
.fac-modal .modal-dialog {
  width: 95%;
  max-width: 960px;
}

html.RTL .fac-modal .modal-header .close {
  left: 20px;
  right: auto;
}

.more-info-modal .card-image {
  margin-bottom: 35px;
}
.more-info-modal .card-basics {
  text-align: center;
  padding: 15px;
}
.more-info-modal .card-details {
  padding: 15px;
}
.more-info-modal .compare-card {
  color: #00b3b4;
}
.more-info-modal .highlights,
.more-info-modal .highlights__item {
  list-style: none;
  margin-left: 0;
  padding-left: 0;
}
.more-info-modal .highlights__item {
  border-top: 1px solid #d0d3d4;
  margin-top: 15px;
  text-align: center;
}
.more-info-modal .card__rates-rate,
.more-info-modal h2.card__rates-rate {
  color: black !important;
}
.more-info-modal .card-details {
  background: #f4f4f4;
}
.more-info-modal .card-details__short-description {
  border-bottom: 1px solid #a2aaad;
  padding-bottom: 15px;
}
.more-info-modal .card-details__description {
  padding-top: 15px;
}
.more-info-modal .card-details__description h4 {
  font-weight: 600;
}

html.RTL .more-info-modal .highlights,
html.RTL .more-info-modal .highlights__item {
  list-style: none;
  margin-left: auto;
  padding-left: auto;
  margin-right: 0;
  padding-right: 0;
}

.compare-cards-modal .modal-dialog {
  width: 95%;
  max-width: 95%;
}
.compare-cards-modal .modal-title {
  line-height: 1em;
}
.compare-cards-modal .modal-body {
  padding: 0;
}
.compare-cards-modal .card__apply-btn {
  display: block;
}
.compare-cards-modal .card-summaries {
  padding-bottom: 20px;
}
.compare-cards-modal .card-summaries .card-column__wrapper {
  padding: 0 10px;
}
.compare-cards-modal .card-summaries .card-column__content {
  margin: 0;
  padding: 0;
}
.compare-cards-modal .card-summaries .card-image {
  line-height: 140px;
  margin-right: 31px;
  text-align: center;
  position: relative;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  width: 140px;
  height: 140px;
}
.compare-cards-modal .card-summaries .card-image img {
  max-height: 100%;
  max-width: 100%;
}
.compare-cards-modal .card-summaries .card-slot__remove {
  margin: 0;
  top: 0;
  right: 10px;
}
@media screen and (max-width: 1024px) {
  .compare-cards-modal .card-summaries .card-slot__remove {
    left: 10px;
  }
}
@media screen and (max-width: 1024px) {
  .compare-cards-modal .card-summaries .btn.small {
    font-size: 11px;
  }
}
.compare-cards-modal .card-columns {
  padding-right: 40px;
}
.compare-cards-modal .card-details-container {
  position: relative;
}
.compare-cards-modal .card-details-container:after {
  top: 1px;
  bottom: auto;
}
.compare-cards-modal .card-details-container:before {
  top: auto;
  bottom: 0;
}
.compare-cards-modal .card-details {
  background: #dbdcdc;
  width: 100%;
  height: 210px;
  overflow-x: hidden;
  overflow-y: scroll;
}
.compare-cards-modal .card-details table {
  table-layout: fixed;
  color: black;
}
.compare-cards-modal .card-details thead {
  display: none;
}
.compare-cards-modal .card-details th {
  height: 0;
}
.compare-cards-modal .card-details th,
.compare-cards-modal .card-details td {
  width: 20.83333%;
  text-align: center;
}
.compare-cards-modal .card-details td {
  border-bottom: 1px solid #a2aaad;
  padding: 8px;
  color: black;
}
.compare-cards-modal .card-details h2.card__rates-rate {
  margin: 0;
}
.compare-cards-modal .card-details .card__rates-rate {
  color: black;
  margin: 0;
}
.compare-cards-modal .card-details th.card-details__label,
.compare-cards-modal .card-details td.card-details__label {
  width: 16.66667%;
  text-transform: uppercase;
  text-align: left;
  border-bottom: none;
  color: black;
  font-weight: bold;
  padding: 10px 20px;
}
.compare-cards-modal .card-details tr.card-details__description td {
  vertical-align: top;
  text-align: left;
  padding-left: 0;
}
.compare-cards-modal .card-details tr.card-details__description td.card-details__label {
  text-align: left;
  padding: 10px 20px;
}
.compare-cards-modal .card-details td.last {
  border-bottom: none;
}

html.RTL .compare-cards-modal .card-summaries .card-slot__remove {
  right: auto;
  left: 10px;
}
@media screen and (max-width: 1024px) {
  html.RTL .compare-cards-modal .card-summaries .card-slot__remove {
    left: auto;
    right: 10px;
  }
}
html.RTL .compare-cards-modal .card-columns {
  padding-right: 0px;
  padding-left: 40px;
}
html.RTL .compare-cards-modal .card-details tr.card-details__description td {
  text-align: right;
  padding-right: 0;
  padding-left: auto;
}
html.RTL .compare-cards-modal .card-details tr.card-details__description td.card-details__label {
  text-align: left;
}

.description__apply-link {
  text-align: center;
  display: block;
}

.account-access-banner .access-account {
  margin-top: 20px;
}
.account-access-banner .access-account .input-group {
  margin: 0 auto;
}

/* *********************************************
 * LOCATOR START
 **********************************************/
/*
 * MIXINS
 */
.locator .results-pane {
  overflow: scroll;
}
.locator .locator-edit-mode {
  display: block !important;
}

/*
 * LOCATOR WRAPPER
 */
.locator #locator-content {
  border: 0;
  font-size: 16px;
  margin: 0 10%;
  margin-bottom: 12px;
  padding: 0;
  padding-bottom: 12px;
  position: relative;
  width: 80%;
}
@media (max-width: 768px) {
  .locator #locator-content {
    display: none;
  }
}
.locator .sectionMain .buttonFind {
  padding-left: 0;
}

/*
 * MOBILE MESSAGE
 */
.locator #locator-responsive-content {
  margin: 0 auto 12px auto;
  padding: 10px;
  position: relative;
  text-align: center;
  max-width: 460px;
}
@media (min-width: 1024px) {
  .locator #locator-responsive-content {
    display: none;
  }
}

/*
 * ERROR MESSAGES
 */
#message, #smsMessage, #error, #smsError {
  color: #cc0000;
}

/*
 * ELEMENTS
 */
.locator #locator-content a, .locator #locator-content a:link, .locator #locator-content a:visited {
  color: #00b3b4;
  text-decoration: underline !important;
}
.locator #locator-content a:hover {
  color: #008e96;
  text-decoration: none !important;
}
.locator #locator-content div:empty {
  height: 0;
  margin: 0;
  padding: 0;
}
.locator #locator-content input,
.locator #locator-content select {
  background: #e6e6e6;
  border: 1px solid #a2aaad;
  color: #3a3a3a;
  font-style: normal;
  padding: 5px 10px;
  min-width: 260px;
}
.locator #locator-content input[type="checkbox"],
.locator #locator-content input[type="radio"] {
  border: 0;
  margin-right: 5px;
  min-width: 0;
}
.locator #locator-content input[type="text"] {
  margin-top: 10px !important;
  min-width: 0;
}
.locator #locator-content input[type="text"]:focus,
.locator #locator-content input[type="text"]:hover {
  background: #ffffff;
  cursor: pointer;
  transition: all .2s ease-in-out;
}
.locator #locator-content select {
  -webkit-appearance: menulist-button;
  cursor: pointer;
  height: 35px;
  padding: 5px !important;
  padding-right: 12px !important;
}
.locator #locator-content select:hover {
  background: #ffffff;
  cursor: pointer;
  transition: all .2s ease-in-out;
}
.locator #locator-content select option {
  background: white;
  padding: 5px 10px;
}
.locator #locator-content select.dark {
  background: #3a3a3a;
  color: white;
}
.locator #locator-content select.dark option {
  background: #3a3a3a;
  color: white;
}
.locator #locator-content table {
  border-collapse: collapse;
}
.locator #locationNavigation a, .locator #locationNavigation a:link, .locator #locationNavigation a:visited,
.locator #locatorDialog-contents a,
.locator #locatorDialog-contents a:link,
.locator #locatorDialog-contents a:visited,
.locator .navigationLinks a,
.locator .navigationLinks a:link,
.locator .navigationLinks a:visited,
.locator .resultsContainer a,
.locator .resultsContainer a:link,
.locator .resultsContainer a:visited {
  text-decoration: underline !important;
  color: #fa6c21 !important;
}
.locator #locationNavigation a:hover,
.locator #locatorDialog-contents a:hover,
.locator .navigationLinks a:hover,
.locator .resultsContainer a:hover {
  text-decoration: none !important;
  color: #e35205 !important;
}

/*
 * HEADERS
 */
.locator .sectionMainHeader {
  height: auto !important;
  margin: 0;
  overflow: hidden;
}
.locator .sectionMainHeader #titleWrapper #title {
  font-size: 21px !important;
  font-weight: 400 !important;
  line-height: 1.2em;
  margin: 0;
  margin-bottom: 10px;
}
.locator .sectionMainHeader #titleWrapper {
  margin-bottom: 12px;
}

/*
 * AUTOCOMPLETE
 */
.locator #autoComplete {
  background-color: white;
  border: 1px solid #1256a9;
  border-top: 0;
  position: absolute;
  z-index: 10;
}
.locator #autoComplete ul {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  width: auto;
}
.locator #autoComplete ul li {
  cursor: pointer;
  display: block;
  list-style-type: none;
  margin: 0;
  padding: 5px 10px;
  white-space: wrap;
  width: auto;
}

/*
 * MAP
 */
.locator .mapContainer {
  clear: both;
  height: 390px;
  padding-left: 0px;
  width: 100%;
}
.locator .mapContainer img {
  max-width: initial;
}
.locator .mapContainer .map {
  height: 380px;
  width: 100% !important;
}
.locator .mapContainer .map .locationDetailsContainer {
  border: 0;
}
.locator #mapHelp {
  padding: 5px 12px 12px 0;
  text-align: right;
}

/*
 * SEARCH SECTION
 */
.locator {
  /* Country Dropdown */
}
.locator .sectionHeaderHold #countryList {
  display: inline;
  margin: 0 10px 12px 12px;
  margin-left: 0;
}
.locator .sectionHeaderHold .flag {
  display: inline;
  height: 11px;
  margin: 0 !important;
  vertical-align: middle;
  width: 16px;
}

.locator {
  /* Search Required */
}
.locator .sectionSearchRequired {
  border: 1px solid #e6e6e6;
  padding: 12px;
  width: 100% !important;
}
.locator .sectionSearchRequired #addressFields *,
.locator .sectionSearchRequired .extendedAddressField * {
  font-weight: 400 !important;
}
.locator .sectionSearchRequired #addressFields > div,
.locator .sectionSearchRequired .extendedAddressField > div {
  padding: 0 0 12px 0;
}
.locator .sectionSearchRequired #addressFields #countrySubDivision select,
.locator .sectionSearchRequired .extendedAddressField #countrySubDivision select {
  margin-top: 10px;
}
.locator .sectionSearchRequired #addressFields #postalCode .or,
.locator .sectionSearchRequired .extendedAddressField #postalCode .or {
  border-bottom: 1px solid #e6e6e6;
  margin-bottom: 12px;
}

.locator {
  /* Search Required: Airport Search */
}
.locator .sectionSearchRequired #sectionAirportSearch {
  display: none;
}

.locator {
  /* Search Required: Search Radius */
}
.locator #searchRadiusHeader {
  border-top: 1px solid #e6e6e6;
  padding: 12px 0 10px 0;
}
.locator #searchRadiusArea input[type="radio"] {
  margin-left: 5px;
  margin-right: 10px;
}
.locator #searchRadiusArea select {
  margin: 0 10px;
  min-width: 0;
}

.locator {
  /* Search Optional */
}
.locator .sectionSearchOptional {
  border: 1px solid #e6e6e6;
  padding: 12px;
  width: 100% !important;
}
.locator .sectionOptionalSearchHeader {
  font-size: 21px !important;
  font-weight: 400 !important;
  line-height: 1.2em;
  margin: 0;
  margin-bottom: 10px;
}
.locator .sectionOptionalSearchHeader span {
  font-size: 21px !important;
  font-weight: 400 !important;
  line-height: 1.2em;
  margin: 0;
  margin-bottom: 10px;
}
.locator .sectionSearchOptionalHeaderText {
  padding-bottom: 10px;
}
.locator .selectAllCategories {
  float: left;
  padding: 0 0 10px 11px;
  /* extra left pad for next sibling's border */
}
.locator .selectAllCategories input[type="checkbox"] {
  margin-right: 10px;
}
.locator #closeCategories,
.locator .closeCategories {
  display: none;
}
.locator .sectionSearchOptionalType {
  border: 1px solid #e6e6e6;
  clear: both;
  height: 140px;
  margin-bottom: 12px;
  overflow-y: scroll;
  padding: 0 10px;
  width: 40%;
}
.locator .sectionSearchOptionalType > div {
  width: auto !important;
}
.locator .sectionSearchOptionalType img {
  margin-left: 5px;
  max-width: initial;
}
.locator .sectionSearchOptionalType input,
.locator .sectionSearchOptionalType select {
  min-width: 0;
}
.locator .sectionSearchOptionalType > table {
  padding: 0 !important;
  width: 100%;
}
.locator .sectionSearchOptionalType td {
  padding: 5px 0;
  width: auto !important;
}
.locator .sectionSearchOptionalContentName {
  margin: 0;
}
.locator .sectionSearchOptionalNameText {
  display: block;
}
.locator input#merchantName {
  clear: both;
}

.locator {
  /* Categoires */
}
.locator #categoriesContainer > div {
  padding: 0 !important;
}
.locator #categoriesLabel {
  color: #00b3b4;
  text-decoration: underline !important;
  /* Sometimes the link is an img */
}
.locator #categoriesLabel:hover {
  color: #008e96;
  cursor: pointer;
  text-decoration: none !important;
}
.locator #categoriesLabel img {
  margin: 12px 0 10px 0;
}

/*
 * POPUP NAVIGATION
 */
.location .browseCitiesLetters,
.location .browseCitiesHeaderLine2 {
  clear: both;
}
.location #locatorDialog-contents table,
.location #locatorDialog-contents td {
  border: 0 !important;
}
.location .browseCitiesLetters,
.location #cityList {
  margin: 0;
  padding-top: 10px;
}
.location #cityList table {
  margin: 0;
}
.location #minChars {
  display: none;
}
.location #error {
  color: #cc0000;
}
.location .airportDetails {
  margin-top: 16px;
}
.location #All a {
  color: #cc0000;
}
.location .sectionAirportHeader {
  color: black !important;
}
.location #airportsTable table {
  border: 1px solid #999966;
  width: 551px;
}
.location table {
  line-height: 1;
}
.location table {
  border-collapse: collapse;
  border-spacing: 0;
}
.location tbody {
  display: table-row-group;
}
.location #airportsTable table th,
.location #airportsTable table td {
  border-color: #d0d3d4 !important;
}
.location #airportsTable table th {
  background-color: white;
  color: #3a3a3a !important;
  text-align: center;
}
.location #airportsTable table th {
  padding-left: 6px;
  padding-top: 4px;
  padding-bottom: 4px;
  border: 1px solid #cccc99;
}
.location #airportsTable td {
  padding-left: 6px;
  padding-top: 6px;
  padding-bottom: 6px;
  text-align: center;
  border: 1px solid #cccc99;
}
.location td {
  vertical-align: top;
}
.location #airportsTable .rowEven {
  background-color: #f4f4f4;
}

/*
 * RESULTS
 */
.locator {
  /* Results Search */
}
.locator #resultsPage {
  padding-top: 12px;
}
.locator #resultsPage .buttonFind {
  padding-left: 0;
}
.locator #resultsPage .countryAndLinksContainer {
  border: 1px solid #e6e6e6;
  padding: 12px;
  width: 100% !important;
}
.locator #resultsPage .countryAndLinksContainer #addressFields *,
.locator #resultsPage .countryAndLinksContainer .extendedAddressField * {
  font-weight: 400 !important;
}
.locator #resultsPage .countryAndLinksContainer #addressFields > div,
.locator #resultsPage .countryAndLinksContainer .extendedAddressField > div {
  padding: 0 0 12px 0;
}
.locator #resultsPage .countryAndLinksContainer #addressFields #countrySubDivision select,
.locator #resultsPage .countryAndLinksContainer .extendedAddressField #countrySubDivision select {
  margin-top: 10px;
}
.locator #resultsPage .countryAndLinksContainer #addressFields #postalCode .or,
.locator #resultsPage .countryAndLinksContainer .extendedAddressField #postalCode .or {
  border-bottom: 1px solid #e6e6e6;
  margin-bottom: 12px;
}
.locator #resultsPage .countryAndLinksContainer #countryList {
  margin-left: 0;
}

.locator {
  /* Country Dropdown */
}
.locator .countryAndLinksContainer #countryList {
  display: inline;
  margin: 0 10px 12px 12px;
  margin-left: 0;
}
.locator .countryAndLinksContainer .flag {
  display: inline;
  height: 11px;
  margin: 0 !important;
  vertical-align: middle;
  width: 16px;
}

.locator {
  /* Results Results */
}
.locator .resultsContainer {
  background-color: white;
  border-top: 1px solid #e6e6e6;
  padding: 0;
}
.locator .navigationContainer {
  float: left;
  padding: 10px 0 !important;
  position: relative;
  width: 100%;
}
.locator .navigationContainer select {
  min-width: 0 !important;
}
.locator .navigationContainer .viewResults,
.locator .navigationContainer .searchBy {
  float: left;
}
.locator .navigationContainer .viewResults span,
.locator .navigationContainer .searchBy span {
  margin-right: 5px;
}
.locator .navigationContainer .viewResults {
  margin-right: 12px;
}
.locator .navigationContainer .allResults {
  margin-top: 10px;
  position: absolute;
  right: 0;
}
.locator .navigationContainer .atmResults {
  display: none;
}
.locator .navigationContainer .next,
.locator .navigationContainer .prev,
.locator .navigationContainer .previous {
  float: left;
  font-size: 16px !important;
  height: auto;
  line-height: normal;
  margin: 0;
  position: relative;
  width: auto;
}
.locator .navigationContainer .next {
  margin-left: 12px;
}

.locator {
  /* Results Table */
}
.locator .resultsList {
  clear: both;
  margin: 0;
  width: 100%;
}

/* RESULTS ROWS */
.locator .resultsList #resultsHeaders,
.locator .resultsList #locationTable > div {
  border-collapse: collapse;
  /* mark-up is layered differently per row,
   * can't use table-row */
  display: table;
  width: 100%;
}
.locator .resultsList #locationTable > div {
  border: 1px solid #e6e6e6 !important;
}
.locator .resultsList #locationTable > div.resultsItemEven > div {
  background: #f4f4f4;
}
.locator .resultsList #resultsHeaders {
  margin: 0 !important;
}

/* RESULTS CELLS */
.locator .resultsList #resultsHeaders > div,
.locator .resultsList #locationTable > div > div {
  border: 0 !important;
  display: table-cell;
  padding: 10px;
  text-align: left;
  vertical-align: top;
}
.locator .resultsList #resultsHeaders > div {
  background: #dbdcdc;
  padding: 5px 10px;
}
.locator .resultsList #locationTable > div > div {
  border-right: 1px solid #e6e6e6 !important;
  border-bottom: 1px solid #e6e6e6 !important;
}

/* RESULTS COLUMNS */
.locator .resultsList #resultsHeaders > div,
.locator .resultsList #locationTable > div > div {
  /* first column */
  /* second column: location */
  /* third column: distance */
  /* fourth column: category */
  /* fifth column: send to */
  /* sixth column: feedback */
}
.locator .resultsList #resultsHeaders > div.resultsListHeaderNumber, .locator .resultsList #resultsHeaders > div.resultsItemNumber,
.locator .resultsList #locationTable > div > div.resultsListHeaderNumber,
.locator .resultsList #locationTable > div > div.resultsItemNumber {
  padding: 10px 0 0 0;
  text-align: center;
  width: 4%;
}
.locator .resultsList #resultsHeaders > div.resultsListHeaderLocation, .locator .resultsList #resultsHeaders > div.resultsItemLocation,
.locator .resultsList #locationTable > div > div.resultsListHeaderLocation,
.locator .resultsList #locationTable > div > div.resultsItemLocation {
  width: 24%;
}
.locator .resultsList #resultsHeaders > div.resultsListHeaderDistance, .locator .resultsList #resultsHeaders > div.resultsItemDistance,
.locator .resultsList #locationTable > div > div.resultsListHeaderDistance,
.locator .resultsList #locationTable > div > div.resultsItemDistance {
  width: 12%;
}
.locator .resultsList #resultsHeaders > div.resultsListHeaderCategory, .locator .resultsList #resultsHeaders > div.resultsItemCategory,
.locator .resultsList #locationTable > div > div.resultsListHeaderCategory,
.locator .resultsList #locationTable > div > div.resultsItemCategory {
  width: 25%;
}
.locator .resultsList #resultsHeaders > div.resultsListHeaderSendTo, .locator .resultsList #resultsHeaders > div.resultsItemSendTo,
.locator .resultsList #locationTable > div > div.resultsListHeaderSendTo,
.locator .resultsList #locationTable > div > div.resultsItemSendTo {
  width: 25%;
}
.locator .resultsList #resultsHeaders > div.resultsListHeaderSendTo > div, .locator .resultsList #resultsHeaders > div.resultsItemSendTo > div,
.locator .resultsList #locationTable > div > div.resultsListHeaderSendTo > div,
.locator .resultsList #locationTable > div > div.resultsItemSendTo > div {
  display: table-cell;
  padding-right: 10px;
}
.locator .resultsList #resultsHeaders > div.resultsListHeaderFeedBack, .locator .resultsList #resultsHeaders > div.resultsItemFeedBack,
.locator .resultsList #locationTable > div > div.resultsListHeaderFeedBack,
.locator .resultsList #locationTable > div > div.resultsItemFeedBack {
  width: 10%;
}
.locator .resultsList #resultsHeaders > div.resultsItemSendTo > div:hover, .locator .resultsList #resultsHeaders > div.resultsItemFeedBack > div:hover,
.locator .resultsList #locationTable > div > div.resultsItemSendTo > div:hover,
.locator .resultsList #locationTable > div > div.resultsItemFeedBack > div:hover {
  color: #a2aaad;
  cursor: pointer;
}

.locator .resultsList div:empty,
.locator .locationDetails div:empty {
  height: 43px !important;
}
.locator .loadTypeIcon {
  margin-right: 6px;
}
.locator .printIcon, .locator .printImage, .locator .printIconLabel,
.locator .smsIcon, .locator .smsImage, .locator .smsIconLabel,
.locator .feedBackImage, .locator .feedBackIconLabel {
  background-position: bottom center;
  background-repeat: no-repeat;
  height: 43px !important;
  text-align: center;
}
.locator .printIcon {
  display: none !important;
}
.locator .smsImage {
  background-image: url("../../../../interactivelocator/clients/merchant-default/images/icon_phone.gif") !important;
}
.locator .printImage {
  background-image: url("../../../../interactivelocator/clients/merchant-default/images/icon_print.gif") !important;
}
.locator .feedBackImage {
  background-image: url("../../../../interactivelocator/clients/merchant-default/images/feedBack.jpg") !important;
}
.locator .locator-atm .printIcon, .locator .locator-atm .printImage, .locator .locator-atm .printIconLabel,
.locator .locator-atm .smsIcon, .locator .locator-atm .smsImage, .locator .locator-atm .smsIconLabel,
.locator .locator-atm .feedBackImage, .locator .locator-atm .feedBackIconLabel {
  height: 43px !important;
}

/*
 * LEGEND
 */
.locator #legend {
  clear: both;
  padding-top: 12px;
  width: 100%;
}
.locator #legend > div {
  margin: 0 !important;
}
.locator .legendHeaderTitle {
  font-weight: 700 !important;
}
.locator .legendHeaderSubtitle {
  font-weight: 400 !important;
}

.locator {
  /* Legend in Table Markup */
}
.locator #legend table {
  border-spacing: 1px;
  margin: 0;
  width: 100% !important;
}
.locator .legendHeaderUS,
.locator .legendHeaderOther {
  background-color: white;
  border: 1px solid #e6e6e6 !important;
  border-bottom: 0;
  height: 30px;
  text-align: center;
  vertical-align: middle;
  width: 10%;
}
.locator .legendRowUS,
.locator .legendRowOther {
  background-color: white;
  border: 1px solid #e6e6e6 !important;
  padding: 10px 5px;
  text-align: center;
  width: 10%;
}

.locator {
  /* Legend in Divs Markup */
}
.locator #legendArea {
  border-collapse: collapse;
  display: table;
  table-layout: fixed;
}
.locator #legendArea > div {
  display: table-row;
  /* All Cells */
}
.locator #legendArea > div > div {
  background-color: white;
  border: 1px solid #e6e6e6 !important;
  display: table-cell;
  padding: 12px;
  text-align: left;
  vertical-align: middle;
}
.locator #legendArea .legendLeft {
  width: 20%;
}
.locator #legendArea .legendLeft img {
  display: block;
  margin: 0 auto;
}
.locator #legendArea .legendLeft span {
  display: block;
  text-align: center;
}
.locator #legendArea .legendRight {
  width: 80%;
}
.locator #legendArea .disclamerText {
  background: #f4f4f4;
  display: block;
  padding: 10px 12px;
}

.locator-paypass #resultsPage #legend {
  display: none;
}
.locator-paypass #legend .innerTitleBars {
  font-size: 21px !important;
  font-weight: 400 !important;
  line-height: 1.2em;
  margin: 0;
  margin-bottom: 10px;
}
.locator-paypass #legend .detailedLegendPosition {
  clear: both;
  display: block;
  float: left;
  padding: 10px 0;
  width: 560px;
}
.locator-paypass #legend .detailedTypeImageHolder,
.locator-paypass #legend .detailedTypeText {
  background-color: white;
  background-position: center;
  background-repeat: no-repeat;
  float: left;
  height: 40px !important;
  margin: 0 12px 0 0 !important;
  text-align: center !important;
  width: 112px !important;
}
.locator-paypass #legend .detailedTypeImageHolder#MERCH_ATTR_1_img {
  background-image: url("../../../../interactivelocator/clients/merchant-default/images/attribute-icons/paypass/MERCH_ATTR_1.gif");
}
.locator-paypass #legend .detailedTypeImageHolder#MERCH_ATTR_2_img {
  background-image: url("../../../../interactivelocator/clients/merchant-default/images/attribute-icons/paypass/MERCH_ATTR_2.gif");
}
.locator-paypass #legend .detailedTypeImageHolder#MERCH_ATTR_3_img {
  background-image: url("../../../../interactivelocator/clients/merchant-default/images/attribute-icons/paypass/MERCH_ATTR_3.gif");
}
.locator-paypass #legend .detailedTypeImageHolder#MERCH_ATTR_4_img {
  background-image: url("../../../../interactivelocator/clients/merchant-default/images/attribute-icons/paypass/MERCH_ATTR_4.gif");
}
.locator-paypass #legend .detailedTypeImageHolder#MERCH_ATTR_5_img {
  background-image: url("../../../../interactivelocator/clients/merchant-default/images/attribute-icons/paypass/MERCH_ATTR_5.gif");
}
.locator-paypass #legend .detailedTypeImageHolder#MERCH_ATTR_6_img {
  background-image: url("../../../../interactivelocator/clients/merchant-default/images/attribute-icons/paypass/MERCH_ATTR_6.gif");
}
.locator-paypass #legend .detailedTypeImageHolder#MERCH_ATTR_7_img {
  background-image: url("../../../../interactivelocator/clients/merchant-default/images/attribute-icons/paypass/MERCH_ATTR_7.gif");
}
.locator-paypass #legend .detailedTypeImageHolder#MERCH_ATTR_8_img {
  background-image: url("../../../../interactivelocator/clients/merchant-default/images/attribute-icons/paypass/MERCH_ATTR_8.gif");
}

/*
 * NAVIGATION LINKS
 */
.locator .navigationContainer {
  margin: 0;
  padding: 0;
}
.locator #locationNavigation,
.locator .navigationLinks {
  margin: 0;
  padding: 0;
  position: absolute;
  right: 12px;
}
.locator #locationNavigation {
  top: 60px;
}
.locator .navigationLinks {
  top: 12px;
}
.locator #print {
  display: none;
}

.locator .homeDesc {
  padding-bottom: 10px;
  line-height: 1.25;
  color: #3a3a3a;
}
.locator #footnote {
  display: none;
}
.locator .locator-repower #sectionSubSearch,
.locator .locator-paypass #sectionSubSearch,
.locator .locator-cashback #sectionSubSearch,
.locator .locator-prepaidtravel #sectionSubSearch {
  display: none;
}

/*
 * LOCATION DETAILS
 */
.locator {
  /* Details Search */
}
.locator #detailsPage {
  padding-top: 12px;
}
.locator #detailsPage .countryAndLinksContainer {
  border: 1px solid #e6e6e6;
  padding: 12px;
  width: 100% !important;
}
.locator #detailsPage .countryAndLinksContainer #addressFields *,
.locator #detailsPage .countryAndLinksContainer .extendedAddressField * {
  font-weight: 400 !important;
}
.locator #detailsPage .countryAndLinksContainer #addressFields > div,
.locator #detailsPage .countryAndLinksContainer .extendedAddressField > div {
  padding: 0 0 12px 0;
}
.locator #detailsPage .countryAndLinksContainer #addressFields #countrySubDivision select,
.locator #detailsPage .countryAndLinksContainer .extendedAddressField #countrySubDivision select {
  margin-top: 10px;
}
.locator #detailsPage .countryAndLinksContainer #addressFields #postalCode .or,
.locator #detailsPage .countryAndLinksContainer .extendedAddressField #postalCode .or {
  border-bottom: 1px solid #e6e6e6;
  margin-bottom: 12px;
}
.locator #detailsPage .countryAndLinksContainer #countryList {
  margin-left: 0;
}

/*
 * LOCATION DETAILS TABLES
 */
.locator #locationDetailsContainer {
  display: table;
  margin-top: 12px;
  width: 100%;
}
.locator #locationDetailsContainer #detailsHeaders,
.locator #locationDetailsContainer #locationDetails {
  display: table-row;
}
.locator #locationDetailsContainer #detailsHeaders > div,
.locator #locationDetailsContainer #locationDetails > div {
  border: 0 !important;
  display: table-cell;
  padding: 10px;
  text-align: left;
  vertical-align: top;
}
.locator #locationDetailsContainer #detailsHeaders > div.detailedItemSendTo > div, .locator #locationDetailsContainer #detailsHeaders > div.detailedItemFeedBack > div,
.locator #locationDetailsContainer #locationDetails > div.detailedItemSendTo > div,
.locator #locationDetailsContainer #locationDetails > div.detailedItemFeedBack > div {
  display: table-cell;
  padding-right: 10px;
  vertical-align: bottom;
}
.locator #locationDetailsContainer #detailsHeaders > div.detailedItemSendTo > div:hover, .locator #locationDetailsContainer #detailsHeaders > div.detailedItemFeedBack > div:hover,
.locator #locationDetailsContainer #locationDetails > div.detailedItemSendTo > div:hover,
.locator #locationDetailsContainer #locationDetails > div.detailedItemFeedBack > div:hover {
  cursor: pointer;
}
.locator #locationDetailsContainer #detailsHeaders > div {
  background: #dbdcdc;
  padding: 5px 10px;
}
.locator #locationDetailsContainer #locationDetails > div {
  border: 1px solid #e6e6e6 !important;
}

/*
 * SMS DEFAULT STYLES
 */
.locator #smsContainer {
  background: #f4f4f4;
  float: left;
  margin-top: 12px;
  margin-right: 1%;
  padding: 12px;
  width: 60%;
  min-width: 660px;
}
.locator #smsContainer .innerTitleBars {
  font-size: 21px !important;
  font-weight: 400 !important;
  line-height: 1.2em;
  margin: 0;
  margin-bottom: 10px;
}
.locator #smsContainer #mobileNumText {
  margin-bottom: 10px;
}
.locator #smsContainer #mobileNumText strong {
  display: block;
}
.locator #mobileNumberPrefix {
  margin-right: 5px;
}

/* 
 * SMS STACKED LABELS/INPUTS
 * Markup is returned differently between Locators
 */
.locator {
  /* Top Labels */
  /* override styles for non-classed div */
}
.locator #mobileNumText,
.locator #verificationText {
  display: table-cell;
  width: 50%;
}
.locator div.smsForm {
  margin: 0;
  width: auto;
}

.locator {
  /* Bottom Inputs */
}
.locator #smsMainForm input {
  min-width: 112px;
}
.locator #captcha {
  margin: 0 10px 0 90px;
}
.locator #smsTermsWrapper {
  clear: both;
  padding: 12px 0;
  width: 100%;
}
.locator #smsTermsWrapper input[type="checkbox"],
.locator #smsTermsWrapper span#termsAndConditions {
  display: block;
  float: left;
}
.locator #smsTermsWrapper input[type="checkbox"] {
  width: 2%;
}
.locator #smsTermsWrapper span#termsAndConditions {
  width: 90%;
}
.locator #smsTermsWrapper #sendNow {
  margin-top: 12px;
}

/*
 * SMS COLUMNED LABELS/INPUTS
 * Markup is returned differently between Locators
 */
.locator .locator-atm #mobileNumText,
.locator .locator-atm #verificationText {
  display: block;
  width: auto;
}
.locator .locator-atm #smsMainForm > span {
  display: block;
  float: left;
  margin: 0 !important;
  margin-bottom: 12px;
  width: 100%;
}
.locator .locator-atm #smsMainForm > span > img {
  float: left;
  margin-right: 10px;
}
.locator .locator-atm #smsMainForm > span span#SMSCountry {
  display: inline;
  float: left;
}
.locator .locator-atm #smsMainForm > span span#SMSHelpText {
  float: left;
  margin-right: 5px;
}
.locator .locator-atm #smsMainForm > span select.SMSCountryDropDown {
  clear: both;
  display: block;
  float: left;
  margin: 0 !important;
  margin-right: 12px !important;
}
.locator .locator-atm #smsMainForm > span img.SMSFlag {
  display: none;
}
.locator .locator-atm #smsMainForm > span span#mobileNumberPrefix {
  display: block;
  float: left;
  line-height: 35px;
  margin: 0 !important;
  margin-right: 10px !important;
  vertical-align: middle;
}
.locator .locator-atm #smsMainForm > span input[type="text"] {
  display: block;
  float: left;
  margin: 0 !important;
}
.locator .locator-atm #smsMainForm > span div#verificationText {
  margin-top: 12px !important;
}
.locator .locator-atm #smsMainForm > span img#captcha {
  margin-right: 12px !important;
  margin-left: 0 !important;
}
.locator .locator-atm #smsMainForm > span input[name="jcaptcha_response"] {
  display: inline;
  float: none !important;
}
.locator .locator-atm #smsMainForm > span > * {
  margin-top: 5px !important;
}

/*
 * DRIVING DIRECTIONS
 */
.locator {
  /* List Results */
  /* Table Results */
}
.locator #directionsContainer {
  background: #f4f4f4;
  float: left;
  margin-top: 12px;
  padding: 12px;
  width: 60%;
  min-width: 660px;
}
.locator #directionsContainer div:empty {
  height: inherit !important;
}
.locator #directionsContainer .innerTitleBars {
  font-size: 21px !important;
  font-weight: 400 !important;
  line-height: 1.2em;
  margin: 0;
  margin-bottom: 10px;
}
.locator #directionsContainer .drivingDirections {
  width: 60%;
}
.locator #drivingDirections ol {
  padding-right: 12px;
}
.locator #drivingDirections li {
  border-top: 1px solid #a2aaad;
  padding: 10px 0;
}
.locator .adp .adp-warnbox {
  background: red;
  color: white !important;
  margin: 0;
  padding: 10px;
}
.locator .adp td, .locator .adp th {
  padding: 10px;
}
.locator .adp td.adp-substep {
  border-top: 1px solid #a2aaad;
}
.locator .adp .adp-placemark {
  background: #d0d3d4;
  color: black;
  margin: 0;
  vertical-align: middle;
}
.locator .adp .adp-placemark img.adp-marker {
  height: 40px;
  width: 22px;
  max-width: initial !important;
}
.locator .adp .adp-summary {
  padding: 10px;
}
.locator .adp .adp-legal {
  padding: 5px 12px 0 0;
  text-align: right;
}

#sfaOptionsTb {
  margin: 0;
  border: none !important;
}

/*
 * SENDNOW SUBMIT BUTTON
 */
.locator .buttonFind {
  margin: 0 !important;
  padding: 12px;
  padding-left: 0;
}
.locator #find {
  background-image: url(../images/locators/findATMs_btn.png) !important;
}
.locator #sendNow {
  background-image: url(../images/locators/send_now_btn.png) !important;
}
.locator #find,
.locator #sendNow {
  background-color: #5b6770 !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
  border: none !important;
  color: #e6e6e6 !important;
  height: 30px !important;
  padding: 12px 12px !important;
  text-indent: -9999px;
  width: 98px !important;
  min-width: 0 !important;
}
.locator #find:hover {
  background-image: url(../images/locators/findATMs_btn_on.png) !important;
}
.locator #sendNow:hover {
  background-image: url(../images/locators/send_now_btn_on.png) !important;
}
.locator .locator-cashback #find,
.locator .locator-paypass #find {
  background-image: url(../images/locators/findMerch_btn.png) !important;
}
.locator .locator-cashback #find:hover,
.locator .locator-paypass #find:hover {
  background-image: url(../images/locators/findMerch_btn_on.png) !important;
}
.locator .locator-prepaidtravel #find,
.locator .locator-repower #find {
  background-image: url(../images/locators/findLocations_btn.png) !important;
}
.locator .locator-prepaidtravel #find:hover,
.locator .locator-repower #find:hover {
  background-image: url(../images/locators/findLocations_btn_on.png) !important;
}

/*
 * DIALOG
 */
#locatorDialog-contents {
  background: #f4f4f4 !important;
  border: 10px solid #a2aaad !important;
  box-shadow: 0 0 12px black;
  margin-left: -300px;
  overflow-y: scroll;
  position: fixed !important;
  top: 112px;
  left: 50%;
  width: 600px;
  z-index: 999999;
}

/*
 * DIALOG BROWSE CITIES
 */
#locatorDialog-contents #browseCitiesHeaderLine1,
#locatorDialog-contents #browseCitiesHeaderLine2 {
  float: left;
  width: 100%;
}
#locatorDialog-contents #browseCitiesHeaderLine1 {
  font-size: 21px !important;
  font-weight: 400 !important;
  line-height: 1.2em;
  margin: 0;
  margin-bottom: 10px;
  max-width: initial;
}
#locatorDialog-contents #browseCitiesHeaderLine1 span {
  max-width: 70%;
}
#locatorDialog-contents #browseCitiesHeaderLine2 {
  padding: 10px 0;
}
#locatorDialog-contents .browseCitiesLetters {
  clear: both;
}
#locatorDialog-contents #cityList {
  clear: both;
  padding: 10px 0;
}
#locatorDialog-contents #cityList table {
  border: 0;
  width: 100%;
}
#locatorDialog-contents #cityList table * {
  border: 0;
}
#locatorDialog-contents .feedBackContainer input {
  background-color: #5b6770;
  background-position: center;
  background-repeat: no-repeat;
  border: none !important;
  color: #e6e6e6 !important;
  margin: 10px 10px 0 0;
  padding: 12px 12px;
  min-width: 0;
}
#locatorDialog-contents .feedBackContainer input:hover {
  background-color: #a2aaac;
  color: white !important;
  transition: background .2s ease-in-out;
}
#locatorDialog-contents .feedBackContainer select {
  width: 100%;
}
#locatorDialog-contents .feedBackContainer textarea {
  border: 1px solid #dbdcdc !important;
}

/*
 * GENERAL LOCATOR OVERRIDES
 */
.locator #extendedAddressFields > div:empty {
  display: none;
}

/*
 * LOCATOR TYPE OVERRIDES
 */
.locator-atm .selectAllCategories {
  display: none !important;
}
.locator-atm .sectionSearchOptionalType {
  height: auto;
  padding: 10px;
}
.locator-atm #name.sectionSearchOptionalNameText,
.locator-atm #merchantName {
  display: none !important;
}

.locator-cashback .sectionSearchRequired > br {
  display: none !important;
}

.locator-prepaidtravel #category.resultsListHeaderCategory,
.locator-prepaidtravel .homeDesc,
.locator-prepaidtravel .sectionSearchOptional,
.locator-prepaidtravel .sectionHeaderHold,
.locator-prepaidtravel .sectionSearchOptionalContentName {
  display: none !important;
}
.locator-prepaidtravel #detailsPage .detailedListHeaderNumber,
.locator-prepaidtravel #detailsPage .detailedListHeaderCategory,
.locator-prepaidtravel #detailsPage .detailedItemCategory,
.locator-prepaidtravel #detailsPage .detailedItemTypes {
  display: none !important;
}

.locator-repower .homeDesc,
.locator-repower #locationAttributes,
.locator-repower .sectionSearchOptional,
.locator-repower .sectionHeaderHold,
.locator-repower .sectionSearchOptionalContentName {
  display: none !important;
}

/*
 * LOCATOR SPECIFIC STYLES
 */
.locator-atm #sectionSubSearch br {
  display: none;
}
.locator-atm #sectionSubSearch span {
  font-weight: 400 !important;
}
.locator-atm .sectionSearchOptionalHeaderText {
  display: none;
}

/*
 * IE8 & IE9
 */
html.ie8 .locator,
html.ie9 .locator {
  min-height: 1600px;
}
html.ie8 .locator input,
html.ie8 .locator select,
html.ie9 .locator input,
html.ie9 .locator select {
  background-color: white !important;
}
html.ie8 > div,
html.ie9 > div {
  visibility: hidden;
}

/* *********************************************
 * LOCATOR END
 **********************************************/
.feature-carousel {
  background: #3a3a3a;
  padding: 25px 40px;
  position: relative;
  text-align: center;
  visibility: hidden;
  width: 100%;
  height: 100%;
}
.feature-carousel > div {
  position: relative;
  z-index: 99;
}
.feature-carousel h1, .feature-carousel h2, .feature-carousel .h2, .feature-carousel h3, .feature-carousel h4 {
  margin: 0;
  padding: 0;
}
.feature-carousel .prev {
  left: 20px;
}
.feature-carousel .next {
  right: 20px;
}
.feature-carousel .prev, .feature-carousel .next {
  z-index: 99;
}
@media (max-width: 480px) {
  .feature-carousel {
    padding: 0 10px;
  }
  .feature-carousel .prev, .feature-carousel .next {
    display: none;
  }
}
.feature-carousel .feature-carousel__background {
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9;
  width: 100%;
  height: 100%;
}
.feature-carousel .feature-carousel__background img {
  max-width: none;
}
.feature-carousel .feature-carousel__toggle-data,
.feature-carousel .feature-carousel__item-toggle-data {
  padding: 20px 40px;
  visibility: hidden;
}
.feature-carousel .feature-carousel__toggle-data:empty,
.feature-carousel .feature-carousel__item-toggle-data:empty {
  height: 0;
  padding: 0;
}
.feature-carousel .feature-carousel__active-data {
  margin-top: 20px;
}
.feature-carousel .feature-carousel__active-data.mobile-description {
  font-weight: 600;
  padding: 0;
}

.feature-carousel__header {
  padding-bottom: 120px;
}
@media (max-width: 480px) {
  .feature-carousel__header {
    padding: 10px;
    padding-bottom: 60px;
  }
}

.feature-carousel__item {
  position: absolute;
  top: 0;
  width: 20%;
}
.feature-carousel__item:hover {
  cursor: pointer;
}
.feature-carousel__item .cta.btn {
  margin: 0;
}
.feature-carousel__item .feature-carousel__item-image {
  padding: 0 10px;
}
.feature-carousel__item .feature-carousel__item-image img {
  display: inline;
  vertical-align: bottom;
}
.feature-carousel__item .feature-carousel__item-title {
  font-size: 12px;
  padding-top: 10px;
}

.feature-carousel.active .feature-carousel__item {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60);
  opacity: 0.6;
}
.feature-carousel.active .feature-carousel__item:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}
.feature-carousel.active .feature-carousel__item .image {
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.feature-carousel.active .feature-carousel__item .image img {
  max-width: 50%;
}
@media (max-width: 767px) {
  .feature-carousel.active .feature-carousel__item .image img {
    max-width: 75%;
  }
}
.feature-carousel.active .feature-carousel__item.active {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}
.feature-carousel.active .feature-carousel__item.active .title {
  display: none;
}
.feature-carousel.active .feature-carousel__item.active .title h3 {
  display: block;
  font-size: inherit;
  padding: 10px 0 0 0;
}
.feature-carousel.active .feature-carousel__item.active .image {
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.feature-carousel.active .feature-carousel__item.active .image img {
  max-width: 100%;
}

.title-text-link h2 {
  margin-top: 0px;
  font-size: 30px;
}
.title-text-link > .text {
  padding: 70px 60px;
}
@media (max-width: 767px) {
  .title-text-link > .text {
    padding: 70px 20px;
  }
}
@media (max-width: 1023px) {
  .title-text-link > .text {
    padding: 70px 20px;
  }
}

.parallaxframe {
  position: relative;
}
.parallaxframe .parallaxitem {
  position: relative;
}
.parallaxframe .parallaxitem h3 {
  margin-bottom: 0px;
}
.parallaxframe .parallaxitem a.cta {
  font-size: 16px;
  font-weight: bold;
}
.parallaxframe .parallaxitem .parallax-background.foreground {
  min-height: 0px;
}
.parallaxframe .parallaxitem .parallax-background.foreground + .parallax-center {
  position: initial;
  margin: 0 18% 30px 18%;
}
@media (max-width: 1024px) {
  .parallaxframe .parallaxitem .parallax-background.foreground + .parallax-center {
    margin: 0 10% 30px 10%;
  }
}
.parallaxframe .parallaxitem .parallax-background.foreground + .parallax-center .parallax-title.h2 {
  margin-top: 0;
}
.parallaxframe .parallaxitem .parallax-background.foreground + .parallax-center + .parallax-circle-nav {
  position: static;
  margin: 0 auto;
}
.parallaxframe .parallaxitem .parallax-background {
  min-height: 540px;
  max-height: 600px;
  overflow: hidden;
  text-align: center;
}
.parallaxframe .parallaxitem .parallax-background.background img {
  width: 100%;
  min-width: 1024px;
  min-height: 540px;
}
.parallaxframe .parallaxitem .parallax-background.foreground img {
  width: auto;
  min-width: initial;
  min-height: initial;
  margin: 0 auto;
}
.parallaxframe .parallaxitem .parallax-center {
  position: absolute;
  top: 25px;
  margin: 0 18%;
  width: 64%;
  text-align: center;
}
@media (max-width: 1024px) {
  .parallaxframe .parallaxitem .parallax-center {
    width: 80%;
    margin: 0 10%;
  }
  .parallaxframe .parallaxitem .parallax-center h3 {
    font-size: 20px;
  }
}
.parallaxframe .parallaxitem .parallax-title.h2 {
  margin-top: 220px;
}
.parallaxframe .parallaxitem .parallax-content {
  position: relative;
}
.parallaxframe .parallaxitem .parallax-scroll {
  height: 426px;
  overflow: hidden;
}
.parallaxframe .parallaxitem .parallax-scroll img {
  width: 100%;
  min-width: 1024px;
  min-height: 426px;
}
@media (max-width: 768px) {
  .parallaxframe .parallaxitem .parallax-scroll img {
    min-width: initial;
    min-height: initial;
  }
}
@media (max-width: 768px) {
  .parallaxframe .parallaxitem .parallax-scroll {
    height: auto;
    margin-left: 0 !important;
  }
}
@media (max-width: 1024px) {
  .parallaxframe .parallaxitem h1 {
    font-size: 48px;
  }
}
@media (max-width: 768px) {
  .parallaxframe .parallaxitem h1 {
    font-size: 36px;
  }
}
.parallaxframe .parallax-nav {
  display: none;
  z-index: 500;
  position: absolute;
  top: 50%;
  right: 20px;
}
@media (max-width: 768px) {
  .parallaxframe .parallax-nav {
    display: none;
  }
}
.parallaxframe .parallax-nav .parallax-radial {
  background: white;
  height: 14px;
  width: 14px;
  margin-bottom: 5px;
  border: 3px solid #00b3b4;
  -webkit-border-radius: 14px;
  -moz-border-radius: 14px;
  -ms-border-radius: 14px;
  -o-border-radius: 14px;
  border-radius: 14px;
  cursor: pointer;
}
.parallaxframe .parallax-nav .parallax-radial.selected {
  background: #00b3b4;
}
.parallaxframe .parallax-nav .parallax-radial:hover {
  background: #00b3b4;
}
.parallaxframe .parallax-circle-nav {
  position: absolute;
  left: 50%;
  bottom: 0;
  width: 180px;
  margin-left: -90px;
  text-align: center;
  cursor: pointer;
}
@media (max-width: 1024px) {
  .parallaxframe .parallax-circle-nav {
    display: none;
  }
}
@media (max-width: 1160px) {
  .parallaxframe .parallax-circle-nav .parallax-circle-text {
    display: none;
  }
}
.parallaxframe .parallax-circle-nav .parallax-circle {
  background: url("../images/arrows/par_cir_white.png");
  width: 100px;
  height: 76px;
  margin: 0 auto;
  margin-top: 20px;
}
.parallaxframe .parallax-circle-nav .parallax-circle.gray-dark {
  background: url("../images/arrows/par_cir_dkgray.png");
}
.parallaxframe .parallax-circle-nav .parallax-circle.gray {
  background: url("../images/arrows/par_cir_gray.png");
}
.parallaxframe .parallax-circle-nav .parallax-circle.green {
  background: url("../images/arrows/par_cir_green.png");
}
.parallaxframe .parallax-circle-nav .parallax-circle.gray-light {
  background: url("../images/arrows/par_cir_ltgray.png");
}
.parallaxframe .parallax-circle-nav .parallax-circle.orange {
  background: url("../images/arrows/par_cir_orange.png");
}
.parallaxframe .parallax-circle-nav .parallax-circle.plum {
  background: url("../images/arrows/par_cir_plum.png");
}
.parallaxframe .parallax-circle-nav .parallax-circle.red {
  background: url("../images/arrows/par_cir_red.png");
}
.parallaxframe .parallax-circle-nav .parallax-circle.teal {
  background: url("../images/arrows/par_cir_teal.png");
}
.parallaxframe .parallax-circle-nav .parallax-circle.violet {
  background: url("../images/arrows/par_cir_violet.png");
}
.parallaxframe .parallax-circle-nav .parallax-circle.yellow {
  background: url("../images/arrows/par_cir_yellow.png");
}

.product-carousel {
  background: #f4f4f4;
  overflow: hidden;
  position: relative;
  text-align: center;
  padding: 25px;
}
.product-carousel .product-carousel__prev,
.product-carousel .product-carousel__next {
  z-index: 99;
}
.product-carousel .prev {
  left: 40px;
}
.product-carousel .next {
  right: 40px;
}
@media (max-width: 1023px) {
  .product-carousel .prev {
    left: 5px;
  }
  .product-carousel .next {
    right: 5px;
  }
}

.product-carousel__header h2 {
  margin: 0;
}
.product-carousel__header h3 {
  margin: 15px 0 0 0;
  padding: 0;
}

.product-carousel__active-data {
  padding: 0 80px;
}
@media (max-width: 768px) {
  .product-carousel__active-data {
    padding: 20px 40px;
  }
}
.product-carousel__active-data .product-carousel__slide-title {
  margin: 20px 0 0 0;
}
.product-carousel__active-data h4 {
  margin: 10px 0 0 0;
}

.product-carousel__frame {
  margin: 20px 0 0 0;
}

.product-carousel__slide {
  visibility: hidden;
}
.product-carousel__slide.slick-center, .product-carousel__slide.active--left, .product-carousel__slide.active--right {
  height: auto;
  visibility: visible;
}
.product-carousel__slide.slick-center .product-carousel__slide-meta-wrapper, .product-carousel__slide.active--left .product-carousel__slide-meta-wrapper, .product-carousel__slide.active--right .product-carousel__slide-meta-wrapper {
  height: auto;
}
.product-carousel__slide.slick-center .product-carousel__slide-image, .product-carousel__slide.slick-center .product-carousel__slide-meta-wrapper {
  padding: 0;
}
.product-carousel__slide.slick-center .product-carousel__slide-meta-wrapper {
  display: none;
}
.product-carousel__slide.slick-center .product-carousel__slide-meta-wrapper .cta {
  margin-top: 20px;
}
.product-carousel__slide.active--left .product-carousel__slide-image, .product-carousel__slide.active--left .product-carousel__slide-meta-wrapper {
  height: auto;
  padding-left: 160px;
  padding-right: 40px;
}
@media (max-width: 1023px) {
  .product-carousel__slide.active--left .product-carousel__slide-image, .product-carousel__slide.active--left .product-carousel__slide-meta-wrapper {
    padding-left: 80px;
    padding-right: 40px;
  }
}
@media (max-width: 768px) {
  .product-carousel__slide.active--left .product-carousel__slide-image, .product-carousel__slide.active--left .product-carousel__slide-meta-wrapper {
    padding-left: 40px;
    padding-right: 20px;
  }
}
.product-carousel__slide.active--right .product-carousel__slide-image, .product-carousel__slide.active--right .product-carousel__slide-meta-wrapper {
  padding-right: 160px;
  padding-left: 40px;
}
@media (max-width: 1023px) {
  .product-carousel__slide.active--right .product-carousel__slide-image, .product-carousel__slide.active--right .product-carousel__slide-meta-wrapper {
    padding-right: 80px;
    padding-left: 40px;
  }
}
@media (max-width: 768px) {
  .product-carousel__slide.active--right .product-carousel__slide-image, .product-carousel__slide.active--right .product-carousel__slide-meta-wrapper {
    padding-right: 40px;
    padding-left: 20px;
  }
}

.product-carousel__slide-image img {
  display: inline;
  vertical-align: middle;
  width: 100%;
}

.product-carousel__slide-meta-wrapper {
  height: 0;
  padding: 0 40px;
}
@media (max-width: 768px) {
  .product-carousel__slide-meta-wrapper {
    padding: 0 20px;
  }
}
.product-carousel__slide-meta-wrapper .product-carousel__slide-title {
  padding: 0;
}
.product-carousel__slide-meta-wrapper .product-carousel__slide-toggle-data {
  display: none;
  height: 0;
}
.product-carousel__slide-meta-wrapper .product-carousel__slide-toggle-data .cta {
  margin: 0;
}
@media (max-width: 768px) {
  .product-carousel__slide-meta-wrapper {
    display: none;
    height: 0;
  }
}

.wcmmode-edit .product-carousel .product-carousel__prev,
.wcmmode-edit .product-carousel .product-carousel__next {
  display: none;
}
.wcmmode-edit .product-carousel .product-carousel__slide {
  display: inline-block;
  width: 18%;
  vertical-align: top;
}
@media (max-width: 1023px) {
  .wcmmode-edit .product-carousel .product-carousel__slide {
    width: 48%;
  }
}
.wcmmode-edit .product-carousel .product-carousel__slide-meta-wrapper {
  display: block;
}
.wcmmode-edit .product-carousel .product-carousel__slide-meta-wrapper .product-carousel__slide-toggle-data {
  display: block;
  height: auto;
}

.product-carousel_dir {
  direction: ltr;
}

[dir="rtl"] .carousel_dir {
  float: left !important;
}
