/**
 * Box shadows for elements
 */
/* Headings

Pass in a heading type or list of heading types and returns heading types plus ones with class version of heading type

Examples:
heading(h1) { color: red; } produces h1, .h1 { color: red; }
heading(h2 h3) { color: blue; } produces h2, .h2, h3, .h3 { color: blue; }

*/
/*
 * JANRAIN SPRITES
 */
/*
 * SOCIAL LINKS SPRITES
 */
@font-face {
  font-family: "Accord Alternate";
  src: url('fonts/accord-alternate-200-normal.eot');
  src: url('fonts/accord-alternate-200-normal.eot?#iefix') format('eot'), url('fonts/accord-alternate-200-normal.woff') format('woff'), url('fonts/accord-alternate-200-normal.ttf') format('truetype'), url('fonts/accord-alternate-200-normal.eot') format('embedded-opentype'), url('fonts/accord-alternate-200-normal.svg') format('svg');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "Accord Alternate";
  src: url('fonts/accord-alternate-200-italic.eot');
  src: url('fonts/accord-alternate-200-italic.eot?#iefix') format('eot'), url('fonts/accord-alternate-200-italic.woff') format('woff'), url('fonts/accord-alternate-200-italic.ttf') format('truetype'), url('fonts/accord-alternate-200-italic.eot') format('embedded-opentype'), url('fonts/accord-alternate-200-italic.svg') format('svg');
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: "Accord Alternate";
  src: url('fonts/accord-alternate-300-normal.eot');
  src: url('fonts/accord-alternate-300-normal.eot?#iefix') format('eot'), url('fonts/accord-alternate-300-normal.woff') format('woff'), url('fonts/accord-alternate-300-normal.ttf') format('truetype'), url('fonts/accord-alternate-300-normal.eot') format('embedded-opentype'), url('fonts/accord-alternate-300-normal.svg') format('svg');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Accord Alternate";
  src: url('fonts/accord-alternate-300-italic.eot');
  src: url('fonts/accord-alternate-300-italic.eot?#iefix') format('eot'), url('fonts/accord-alternate-300-italic.woff') format('woff'), url('fonts/accord-alternate-300-italic.ttf') format('truetype'), url('fonts/accord-alternate-300-italic.eot') format('embedded-opentype'), url('fonts/accord-alternate-300-italic.svg') format('svg');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "Accord Alternate";
  src: url('fonts/accord-alternate-700-normal.eot');
  src: url('fonts/accord-alternate-700-normal.eot?#iefix') format('eot'), url('fonts/accord-alternate-700-normal.woff') format('woff'), url('fonts/accord-alternate-700-normal.ttf') format('truetype'), url('fonts/accord-alternate-700-normal.eot') format('embedded-opentype'), url('fonts/accord-alternate-700-normal.svg') format('svg');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Accord Alternate";
  src: url('fonts/accord-alternate-700-italic.eot');
  src: url('fonts/accord-alternate-700-italic.eot?#iefix') format('eot'), url('fonts/accord-alternate-700-italic.woff') format('woff'), url('fonts/accord-alternate-700-italic.ttf') format('truetype'), url('fonts/accord-alternate-700-italic.eot') format('embedded-opentype'), url('fonts/accord-alternate-700-italic.svg') format('svg');
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: "Amiri";
  src: url('fonts/amiri-v7-arabic-400-normal.eot');
  src: url('fonts/amiri-v7-arabic-400-normal.eot?#iefix') format('eot'), url('fonts/amiri-v7-arabic-400-normal.woff') format('woff'), url('fonts/amiri-v7-arabic-400-normal.ttf') format('truetype'), url('fonts/amiri-v7-arabic-400-normal.eot') format('embedded-opentype'), url('fonts/amiri-v7-arabic-400-normal.svg') format('svg');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Amiri";
  src: url('fonts/amiri-v7-arabic-400-italic.eot');
  src: url('fonts/amiri-v7-arabic-400-italic.eot?#iefix') format('eot'), url('fonts/amiri-v7-arabic-400-italic.woff') format('woff'), url('fonts/amiri-v7-arabic-400-italic.ttf') format('truetype'), url('fonts/amiri-v7-arabic-400-italic.eot') format('embedded-opentype'), url('fonts/amiri-v7-arabic-400-italic.svg') format('svg');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "Amiri";
  src: url('fonts/amiri-v7-arabic-700-normal.eot');
  src: url('fonts/amiri-v7-arabic-700-normal.eot?#iefix') format('eot'), url('fonts/amiri-v7-arabic-700-normal.woff') format('woff'), url('fonts/amiri-v7-arabic-700-normal.ttf') format('truetype'), url('fonts/amiri-v7-arabic-700-normal.eot') format('embedded-opentype'), url('fonts/amiri-v7-arabic-700-normal.svg') format('svg');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Amiri";
  src: url('fonts/amiri-v7-arabic-700-italic.eot');
  src: url('fonts/amiri-v7-arabic-700-italic.eot?#iefix') format('eot'), url('fonts/amiri-v7-arabic-700-italic.woff') format('woff'), url('fonts/amiri-v7-arabic-700-italic.ttf') format('truetype'), url('fonts/amiri-v7-arabic-700-italic.eot') format('embedded-opentype'), url('fonts/amiri-v7-arabic-700-italic.svg') format('svg');
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: "Roboto";
  src: url('fonts/roboto-v15-greek_latin-ext_cyrillic-ext_greek-ext_cyrillic-100-normal.eot');
  src: url('fonts/roboto-v15-greek_latin-ext_cyrillic-ext_greek-ext_cyrillic-100-normal.eot?#iefix') format('eot'), url('fonts/roboto-v15-greek_latin-ext_cyrillic-ext_greek-ext_cyrillic-100-normal.woff') format('woff'), url('fonts/roboto-v15-greek_latin-ext_cyrillic-ext_greek-ext_cyrillic-100-normal.ttf') format('truetype'), url('fonts/roboto-v15-greek_latin-ext_cyrillic-ext_greek-ext_cyrillic-100-normal.eot') format('embedded-opentype'), url('fonts/roboto-v15-greek_latin-ext_cyrillic-ext_greek-ext_cyrillic-100-normal.svg') format('svg');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url('fonts/roboto-v15-greek_latin-ext_cyrillic-ext_greek-ext_cyrillic-100-italic.eot');
  src: url('fonts/roboto-v15-greek_latin-ext_cyrillic-ext_greek-ext_cyrillic-100-italic.eot?#iefix') format('eot'), url('fonts/roboto-v15-greek_latin-ext_cyrillic-ext_greek-ext_cyrillic-100-italic.woff') format('woff'), url('fonts/roboto-v15-greek_latin-ext_cyrillic-ext_greek-ext_cyrillic-100-italic.ttf') format('truetype'), url('fonts/roboto-v15-greek_latin-ext_cyrillic-ext_greek-ext_cyrillic-100-italic.eot') format('embedded-opentype'), url('fonts/roboto-v15-greek_latin-ext_cyrillic-ext_greek-ext_cyrillic-100-italic.svg') format('svg');
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: "Roboto";
  src: url('fonts/roboto-v15-greek_latin-ext_cyrillic-ext_greek-ext_cyrillic-300-normal.eot');
  src: url('fonts/roboto-v15-greek_latin-ext_cyrillic-ext_greek-ext_cyrillic-300-normal.eot?#iefix') format('eot'), url('fonts/roboto-v15-greek_latin-ext_cyrillic-ext_greek-ext_cyrillic-300-normal.woff') format('woff'), url('fonts/roboto-v15-greek_latin-ext_cyrillic-ext_greek-ext_cyrillic-300-normal.ttf') format('truetype'), url('fonts/roboto-v15-greek_latin-ext_cyrillic-ext_greek-ext_cyrillic-300-normal.eot') format('embedded-opentype'), url('fonts/roboto-v15-greek_latin-ext_cyrillic-ext_greek-ext_cyrillic-300-normal.svg') format('svg');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url('fonts/roboto-v15-greek_latin-ext_cyrillic-ext_greek-ext_cyrillic-300-italic.eot');
  src: url('fonts/roboto-v15-greek_latin-ext_cyrillic-ext_greek-ext_cyrillic-300-italic.eot?#iefix') format('eot'), url('fonts/roboto-v15-greek_latin-ext_cyrillic-ext_greek-ext_cyrillic-300-italic.woff') format('woff'), url('fonts/roboto-v15-greek_latin-ext_cyrillic-ext_greek-ext_cyrillic-300-italic.ttf') format('truetype'), url('fonts/roboto-v15-greek_latin-ext_cyrillic-ext_greek-ext_cyrillic-300-italic.eot') format('embedded-opentype'), url('fonts/roboto-v15-greek_latin-ext_cyrillic-ext_greek-ext_cyrillic-300-italic.svg') format('svg');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "Roboto";
  src: url('fonts/roboto-v15-greek_latin-ext_cyrillic-ext_greek-ext_cyrillic-700-normal.eot');
  src: url('fonts/roboto-v15-greek_latin-ext_cyrillic-ext_greek-ext_cyrillic-700-normal.eot?#iefix') format('eot'), url('fonts/roboto-v15-greek_latin-ext_cyrillic-ext_greek-ext_cyrillic-700-normal.woff') format('woff'), url('fonts/roboto-v15-greek_latin-ext_cyrillic-ext_greek-ext_cyrillic-700-normal.ttf') format('truetype'), url('fonts/roboto-v15-greek_latin-ext_cyrillic-ext_greek-ext_cyrillic-700-normal.eot') format('embedded-opentype'), url('fonts/roboto-v15-greek_latin-ext_cyrillic-ext_greek-ext_cyrillic-700-normal.svg') format('svg');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url('fonts/roboto-v15-greek_latin-ext_cyrillic-ext_greek-ext_cyrillic-700-italic.eot');
  src: url('fonts/roboto-v15-greek_latin-ext_cyrillic-ext_greek-ext_cyrillic-700-italic.eot?#iefix') format('eot'), url('fonts/roboto-v15-greek_latin-ext_cyrillic-ext_greek-ext_cyrillic-700-italic.woff') format('woff'), url('fonts/roboto-v15-greek_latin-ext_cyrillic-ext_greek-ext_cyrillic-700-italic.ttf') format('truetype'), url('fonts/roboto-v15-greek_latin-ext_cyrillic-ext_greek-ext_cyrillic-700-italic.eot') format('embedded-opentype'), url('fonts/roboto-v15-greek_latin-ext_cyrillic-ext_greek-ext_cyrillic-700-italic.svg') format('svg');
  font-weight: 700;
  font-style: italic;
}
