/**
 * Box shadows for elements
 */
/* Headings

Pass in a heading type or list of heading types and returns heading types plus ones with class version of heading type

Examples:
heading(h1) { color: red; } produces h1, .h1 { color: red; }
heading(h2 h3) { color: blue; } produces h2, .h2, h3, .h3 { color: blue; }

*/
/*
 * JANRAIN SPRITES
 */
/*
 * SOCIAL LINKS SPRITES
 */
.videomultiple .background {
  padding: 70px 25px;
  color: white;
}
.videomultiple .background.gradient-white, .videomultiple .background.gradient-gray-light, .videomultiple .background.gradient-grey-light, .videomultiple .background.gradient-grey-lighter {
  color: black;
}
.videomultiple .heading, .videomultiple .subheading {
  width: 70%;
  margin: 0 auto;
  text-align: center;
}
.videomultiple .subheading {
  margin-top: 15px;
}
.videomultiple .videos {
  margin: 0 auto;
  width: 80%;
}
.videomultiple .videos .video-item {
  margin-top: 20px;
  padding: 0 10px;
  z-index: inherit;
}
.videomultiple .videos .video-item .modal.in .modal-dialog {
  height: 100%;
}
.videomultiple .videos .video-item .modal.in .close-button {
  right: 0;
  width: 40px;
  height: 40px;
  margin: 10px;
  position: absolute;
  background: transparent url("../images/close-x-white.png") no-repeat;
  background-position: center;
}
.videomultiple .videos .video-item .modal-dialog {
  height: 100%;
}
.videomultiple .videos .video-item .videomultiple {
  position: relative;
}
.videomultiple .videos .video-item p {
  line-height: 1;
  margin-top: 10px;
  margin-bottom: 0;
}
.videomultiple .videos .video-item .video-image {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  background-color: #000000;
}
.videomultiple .videos .video-item .video-image .video-button {
  position: absolute;
  z-index: 2;
  background: transparent url("../images/buttons/video-btn-off.png") no-repeat;
  background-position: center center;
  opacity: 0.5;
  filter: alpha(opacity=50);
  width: 100%;
  height: 100%;
  cursor: pointer;
}
.videomultiple .videos .video-item .video-image .video-button:hover {
  opacity: 0.7;
  filter: alpha(opacity=70);
}
.videomultiple .videos .video-item .video-image img {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

html.RTL .section.videomultiple .videos .video-item .modal.in .close-button {
  left: 0;
  right: auto;
}

html.touch .videomultiple .active {
  display: block !important;
  visibility: visible !important;
}
html.touch .videomultiple .video-image, html.touch .videomultiple .embedded-video, html.touch .videomultiple .fallback-embedded-video-container {
  display: none;
  visibility: hidden;
}
html.touch .videomultiple .fallback-embedded-video-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
}
html.touch .videomultiple .fallback-embedded-video-container .fallback-embedded-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
html.touch .videomultiple .video-button {
  background-size: 60px 60px !important;
}

html.no-touch .videomultiple .fallback-embedded-video-container {
  display: none;
  visibility: hidden;
}

@media (max-width: 767px) {
  .section.videomultiple .videos .heading, .section.videomultiple .videos .subheading {
    width: 80%;
  }
  .section.videomultiple .videos h3 {
    line-height: 1;
  }
  .section.videomultiple .videos .videos .video-item {
    padding-bottom: 20px;
  }
  .section.videomultiple .videos .videos .video-item img {
    min-height: 0 !important;
    width: 100%;
  }
}
.text-video-light {
  color: white !important;
}

.text-video-dark {
  color: black !important;
}

.section.play-video {
  position: relative;
  overflow: hidden;
  /*max-height: 540px;*/
}
.section.play-video h1, .section.play-video h2, .section.play-video h3, .section.play-video .calltoaction {
  position: relative;
  text-align: center;
  color: white;
  margin-left: auto;
  margin-right: auto;
}
.section.play-video h2 {
  margin: 0;
}
.section.play-video h3 {
  margin: 25px 0;
}
.section.play-video .sizeContent {
  overflow: hidden;
}
.section.play-video .sizeContent.video-single-placeholder img {
  margin: auto;
  position: absolute;
  top: 0;
  right: -1000%;
  bottom: 0;
  left: -1000%;
  max-width: none;
  width: auto;
  height: 100%;
}
.section.play-video .video-single-placeholder {
  text-align: center;
  overflow: hidden;
  position: relative;
  margin: 0 auto;
  min-height: 540px;
}
.section.play-video .video-single-placeholder a {
  position: relative;
}
.section.play-video .video-single-placeholder img {
  position: absolute;
  /* min-height: 100%; */
  width: 100%;
  height: 100% !important;
  overflow: hidden;
  top: 0;
  left: 0;
}
.section.play-video .video-single-placeholder .text-wrapper {
  margin: 100px 15% 20px;
}
.section.play-video .video-single-content {
  display: none;
  height: 0;
  position: relative;
  padding-bottom: 56.25%;
  width: 100%;
}
.section.play-video .video-single-content iframe {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 999999;
  overflow: hidden;
  /* max-height: 540px; */
}
.section.play-video .modal.in .close-button {
  right: 0;
  width: 40px;
  height: 40px;
  margin: 10px;
  position: absolute;
  background: transparent url("../images/close-x-white.png") no-repeat;
  background-position: center;
  /* z-index: 9999; */
}
.section.play-video .modal.in .modal-dialog {
  height: 100%;
}
.section.play-video .modal.body {
  position: relative;
  /* padding: 252px; */
  padding: 0 0 56.25% 0;
  height: 0;
}
.section.play-video .modal-dialog {
  height: 100%;
}
.section.play-video .video-button-container {
  position: relative;
  margin-bottom: 25px;
}
.section.play-video .video-button {
  background: transparent url("../images/buttons/video-btn-off.png") no-repeat;
  background-position: center center;
  opacity: 0.5;
  filter: alpha(opacity=50);
  width: 100%;
  height: 130px;
  cursor: pointer;
}
.section.play-video .video-button:hover {
  opacity: 0.7;
  filter: alpha(opacity=70);
}
.section.play-video .video-single-content {
  min-height: inherit;
}

.video-single__close-button {
  background: rgba(0, 0, 0, 0.7);
  color: #a2aaac;
  cursor: pointer;
  display: none;
  font-size: 16px;
  height: 60px;
  line-height: 60px;
  padding: 0 5px;
  position: absolute;
  text-align: right;
  top: 30px;
  vertical-align: middle;
  width: 100%;
  z-index: 9;
}
.video-single__close-button .glyphicon {
  font-size: 32px;
  margin-top: -6px;
  vertical-align: middle;
}
.video-single__close-button:hover {
  color: white;
}
.video-single__close-button img {
  margin: 0 10px;
}

html.RTL {
  /* .section.videosingle {
  	.videos {
  		.video-item {
              .modal.in {
                  .close-button {
                  	left: 0;
                  	right: auto;
              	}
          	}
      	}
  	}
  } */
}
html.RTL .video-single__close-button {
  text-align: left;
}

html.touch .play-video .embedded-video, html.touch .play-video .video-image {
  display: none !important;
  visibility: hidden !important;
}
html.touch .play-video .fallback-embedded-video {
  display: block !important;
  visibility: visible !important;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  min-height: inherit;
}

html.no-touch .play-video .fallback-embedded-video {
  display: none !important;
  visibility: hidden !important;
}

@media (max-width: 767px) {
  .video-single__close-button {
    display: none !important;
  }

  .section.play-video {
    min-height: inherit;
    overflow: hidden;
  }
  .section.play-video h1, .section.play-video h2, .section.play-video h3 {
    margin-left: auto !important;
    margin-right: auto !important;
    margin-bottom: 30px !important;
  }
  .section.play-video .video-single-content, .section.play-video .video-single-placeholder {
    min-height: inherit;
  }
  .section.play-video .video-single-placeholder {
    padding: 20px 10%;
  }
  .section.play-video .video-button-container {
    margin-bottom: 20px;
  }
  .section.play-video .video-button-container .video-button {
    top: 20%;
  }
}
.video-item .video-single-placeholder .video-single-thumbnail {
  position: static;
}

/* SCSS for updated Single Video */
.resp-video.full .image img {
  height: auto;
  max-height: none;
  width: auto;
  max-width: none;
}
.resp-video .text-wrapper {
  position: absolute;
  text-align: center;
  top: 0;
  width: 100%;
  padding: 20px 15%;
}
.resp-video .video-single-thumbnail {
  position: static;
}
.resp-video .video-button-container {
  position: relative;
  margin-bottom: 25px;
}
.resp-video .video-button-container .video-button {
  background: transparent url(../images/buttons/video-btn-off.png) no-repeat;
  background-position: center center;
  opacity: 0.5;
  filter: alpha(opacity=50);
  width: 100%;
  height: 130px;
  cursor: pointer;
}

@media (max-width: 767px) {
  .resp-video .video-button-container {
    margin-bottom: 20px;
  }
  .resp-video .video-button-container .video-button {
    background-size: 24%;
    height: 130px;
  }
}
.play-video .video-single-content iframe {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 999999;
  overflow: hidden;
}
.play-video .video-single-content .modal-header {
  border: none;
  display: none;
}
.play-video iframe {
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  height: 100%;
}
.play-video .modal-content {
  background: none;
  box-shadow: none;
  border: none;
}
.play-video .modal-body {
  padding: 0 0 56.25% 0;
  position: relative;
  height: 0;
}
.play-video .modal.in .close-button {
  right: 0;
  width: 40px;
  height: 40px;
  margin: 10px;
  position: absolute;
  background: transparent url(../images/close-x-white.png) no-repeat;
  background-position: center;
}
.play-video .modal.in .modal-dialog {
  height: 100%;
}

html.touch .play-video .resp-video .video-button {
  background-size: 80px 80px;
}

.banner-columns {
  white-space: normal;
}
.banner-columns h1, .banner-columns h2, .banner-columns h3, .banner-columns h4 {
  margin: 0;
  text-align: center;
}
.banner-columns h3 {
  margin: 10px 0;
  font-size: 32px;
}
.banner-columns .background {
  padding: 25px 25px;
  text-align: center;
}
.banner-columns .background .row {
  margin-top: 20px;
}
.banner-columns .background .image {
  text-align: center;
}
.banner-columns .background .banner-columns-item {
  margin: 0 auto;
  padding: 0 20px;
}
.banner-columns .background .banner-columns-item img {
  width: 158px;
}
.banner-columns .background .banner-columns-item ul {
  display: inline-block;
  margin-bottom: 0px;
  padding: 0;
  width: 100%;
}
.banner-columns .background .banner-columns-item ul li {
  margin: 6px 0 0 0;
  padding: 0;
  text-align: left;
}
.banner-columns .background .banner-columns-item ul li:first-child {
  margin-top: 0;
}
@media (max-width: 1024px) {
  .banner-columns .background .banner-columns-item {
    padding: 0 20px 40px 20px;
  }
  .banner-columns .background .banner-columns-item .cta {
    padding: 0;
  }
}

html.RTL .banner-columns .background .banner-columns-item ul li {
  text-align: right;
}

.sitemap {
  padding-left: 50px;
  margin-bottom: 90px;
}
.sitemap a {
  color: #00535e;
}
.sitemap ul {
  margin-left: 25px;
  padding: 0;
  list-style-type: none;
}
.sitemap ul li {
  font-size: 30px;
  line-height: 1;
}
.sitemap ul ul {
  font-size: 24px;
}
.sitemap ul ul a {
  font-size: 24px;
}
.sitemap ul ul ul {
  font-size: 16x;
}
.sitemap ul ul ul li {
  line-height: .75;
}
.sitemap ul ul ul li a {
  font-size: 16px;
}
.sitemap ul ul ul li ul {
  font-size: 16px;
}
.sitemap ul ul ul li ul li {
  line-height: .75;
}
.sitemap ul ul ul li ul li a {
  font-size: 16px;
}

.sitemap > ul {
  margin: 0px;
}

@media (max-width: 1023px) {
  .sitemap > ul > li {
    width: auto;
    float: none;
  }
}

html.RTL .sitemap ul {
  margin-right: 25px;
}

.sitemap > ul > ul {
  padding: 0;
  margin-left: 0;
}

.faqframe {
  text-align: center;
}
.faqframe h1, .faqframe h2 {
  margin-top: 0;
  padding-top: 22px;
}
.faqframe .background {
  background-color: #dbdcdc;
}
.faqframe .nofaqs {
  display: none;
}
.faqframe .panel-group {
  text-align: left;
  margin-bottom: 0;
}
.faqframe .panel-group .panel {
  border-left: none;
  border-right: none;
  border-bottom: none;
}
.faqframe .panel-group .panel + .panel {
  margin-top: 0px;
}
.faqframe .panel-heading {
  cursor: pointer;
  background: url('../images/icons/accordion-closed.png') no-repeat 4px center;
  padding-left: 40px;
}
.faqframe .panel-heading.expanded {
  background-image: url('../images/icons/accordion-open.png');
}

html.RTL .faqframe .panel-group {
  text-align: right;
}
html.RTL .faqframe .panel-heading {
  padding-right: 40px;
  background-position-x: 100%;
}

.faqs__next {
  display: block;
  padding: 10px 0;
}

.faqs__question {
  font-size: 16px;
}

.faqs__form {
  padding-bottom: 20px;
}

.faqs__filter-dropdown {
  width: 40%;
}
@media only screen and (min-width: 1024px) {
  .faqs__filter-dropdown {
    width: 30%;
  }
}
@media only screen and (min-width: 1400px) {
  .faqs__filter-dropdown {
    width: 20%;
  }
}

.faqs__filter-submit {
  left: -4px;
}

.content-feed {
  overflow: hidden;
  position: relative;
  visibility: hidden;
  width: 100%;
  height: auto;
}

.content-feed__nav-wrapper--prev,
.content-feed__nav-wrapper--next {
  background-image: url("../images/arrows/content-feed-nav.png");
  background-position: -148px 0;
  background-repeat: repeat-y;
  height: 600px;
  line-height: 600px;
  position: absolute;
  top: 0;
  width: 148px;
  z-index: 99;
}
@media (max-width: 1023px) {
  .content-feed__nav-wrapper--prev,
  .content-feed__nav-wrapper--next {
    height: 300px;
  }
}

.content-feed__nav-wrapper--prev {
  left: 0;
}

.content-feed__nav-wrapper--next {
  background-position: -2px 0;
  right: 0;
}

.content-feed__prev.prev,
.content-feed__next.next {
  height: 600px;
  line-height: 600px;
  margin: 0;
  padding: 0;
  top: 0;
  width: 100px;
  z-index: 99;
}
.content-feed__prev.prev [aria-hidden]:before,
.content-feed__prev.prev [aria-hidden]:after,
.content-feed__next.next [aria-hidden]:before,
.content-feed__next.next [aria-hidden]:after {
  color: white;
  font-size: 120px;
  font-weight: 100;
  margin-top: -10px;
  padding: 0;
  position: absolute;
  top: 0;
  left: 20px;
}

.content-feed__prev.prev {
  display: none;
  left: 0;
}

.content-feed__next.next {
  right: 0;
}
.content-feed__next.next [aria-hidden]:before,
.content-feed__next.next [aria-hidden]:after {
  left: auto;
  right: 20px;
}

html.touch .content-feed__prev,
html.touch .content-feed__next {
  display: none !important;
}
html.touch .content-feed__nav-wrapper--prev,
html.touch .content-feed__nav-wrapper--next {
  display: none !important;
}
html.touch .content-feed__scroll-frame {
  overflow-x: scroll;
}

.content-page-scroll .content-feed__scroll-frame {
  margin-top: -600px;
}

.content-feed__scroll-frame {
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
  position: relative;
  width: 100%;
  height: 600px;
}

.content-feed__scroll-container {
  position: absolute;
}

.content-feed__frame {
  float: left;
  width: 600px;
  height: 600px;
}

html.RTL .content-feed__frame {
  float: right;
}
html.RTL .content-feed__prev.prev {
  display: block;
}
html.RTL .content-feed__next.next {
  display: none;
}

.content-feed__frame--1x2 {
  width: 300px;
  height: 600px;
}

.content-feed__frame-block {
  float: left;
}

html.RTL .content-feed__frame-block {
  float: right;
}

.content-feed-item {
  color: white;
  display: block;
  position: relative;
}
.content-feed-item .image {
  overflow: hidden;
}

.content-feed__frame-block--1x1,
.content-feed__frame-block--1x1 .content-feed-item {
  width: 300px;
  height: 300px;
}

.content-feed__frame-block--2x1,
.content-feed__frame-block--2x1 .content-feed-item {
  width: 600px;
  height: 300px;
}

.content-feed__frame-block--2x2,
.content-feed__frame-block--2x2 .content-feed-item {
  width: 600px;
  height: 600px;
}

.content-feed-item__foreground {
  margin: 20px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.content-feed-item__subtitle,
.content-feed-item__cta-group {
  display: none;
}

.content-feed-item__cta-group, .content-feed-item__social {
  z-index: 999;
}

.content-feed-item__background,
.content-feed-item__background__overlay {
  overflow: hidden;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.content-feed-item--twitter .content-feed-item__background__overlay {
  background: none;
}
.content-feed-item--twitter .content-feed-item__foreground {
  top: 0;
}
.content-feed-item--twitter .content-feed-item__social {
  position: absolute;
  top: 0;
  left: 0;
  font-weight: normal;
}
.content-feed-item--twitter .content-feed-item__social a {
  color: white;
}
.content-feed-item--twitter .content-feed-item__social-icon {
  position: absolute;
  right: 0;
  bottom: 0;
}

html.RTL .content-feed-item--twitter .content-feed-item__social {
  left: auto;
  right: 0;
}
html.RTL .content-feed-item--twitter .content-feed-item__social-icon {
  right: auto;
  left: 0;
}

html.no-touch .content-feed-item:hover .content-feed-item__subtitle,
html.no-touch .content-feed-item:hover .content-feed-item__cta-group,
html.touch .content-feed-item .content-feed-item__subtitle,
html.touch .content-feed-item .content-feed-item__cta-group {
  display: block;
}
html.no-touch .content-feed-item:hover .content-feed-item__social a,
html.touch .content-feed-item .content-feed-item__social a {
  color: #00b3b4;
}

html.no-touch .content-feed-item:hover {
  cursor: pointer;
}
html.no-touch .content-feed-item:hover.content-feed-item--twitter {
  cursor: default;
}
html.no-touch .content-feed-item:hover.content-feed-item--twitter a:hover {
  cursor: pointer;
}
html.no-touch .content-feed-item:hover .content-feed-item__background__overlay {
  background: black;
  opacity: .75;
}

.content-feed--vertical-responsive .content-feed__scroll-frame {
  height: 300px;
}
.content-feed--vertical-responsive .content-feed__frame {
  width: auto;
  height: auto;
}
.content-feed--vertical-responsive .content-feed__frame-block--2x1,
.content-feed--vertical-responsive .content-feed__frame-block--2x1 .content-feed-item,
.content-feed--vertical-responsive .content-feed__frame-block--2x2,
.content-feed--vertical-responsive .content-feed__frame-block--2x2 .content-feed-item {
  width: 300px;
  height: 300px;
}
.content-feed--vertical-responsive .content-feed__frame-block--2x1 .content-feed-item img {
  margin-left: -150px;
  max-width: none;
}

@media (max-width: 1023px) {
  .content-feed__scroll-frame {
    height: 300px;
  }

  .content-feed__frame {
    width: auto;
    height: auto;
  }

  .content-feed__frame-block--2x1,
  .content-feed__frame-block--2x1 .content-feed-item,
  .content-feed__frame-block--2x2,
  .content-feed__frame-block--2x2 .content-feed-item {
    width: 300px;
    height: 300px;
  }

  .content-feed__frame-block--2x1 .content-feed-item img {
    margin-left: -150px;
    max-width: none;
  }
}
.content-feed--admin {
  overflow-x: scroll;
}
.content-feed--admin .content-feed__scroll-container {
  height: 600px;
  position: relative;
}
@media (max-width: 1023px) {
  .content-feed--admin .content-feed__scroll-container {
    height: 300px;
  }
}
.content-feed--admin .content-feed__frame-block {
  background-color: #a2aaad;
}

.wcmmode-edit .content-feed {
  height: 60px !important;
  visibility: visible;
}
.wcmmode-edit .content-feed h3 {
  text-align: center;
}
.wcmmode-edit .content-feed .content-feed__scroll-frame,
.wcmmode-edit .content-feed .content-feed__nav-wrapper--prev,
.wcmmode-edit .content-feed .content-feed__nav-wrapper--next {
  display: none !important;
}

.wcmmode-edit .content-feed--admin {
  height: auto !important;
}
.wcmmode-edit .content-feed--admin .content-feed__edit-header {
  margin: 0;
}
.wcmmode-edit .content-feed--admin .content-feed__scroll-container {
  width: 100% !important;
}
.wcmmode-edit .content-feed--admin .content-feed__frame {
  float: none;
  height: auto;
  width: 100%;
}
.wcmmode-edit .content-feed--admin .content-feed__frame-block {
  height: auto;
}
.wcmmode-edit .content-feed--admin .cq-editbar-placeholder {
  clear: both !important;
}
.wcmmode-edit .content-feed--admin .new.section {
  max-width: 600px;
}

.country-language .country-language-selector {
  color: black;
}
.country-language .country-language-selector:hover, .country-language .country-language-selector:focus {
  color: black;
}
.country-language .country-language-selector .country-flag {
  width: 24px;
  margin-right: 5px;
  height: 14px;
}

.modal--country-language .modal-dialog {
  width: auto;
}
@media screen and (min-width: 480px) {
  .modal--country-language .modal-content {
    width: 50%;
  }
}
@media screen and (min-width: 768px) {
  .modal--country-language .modal-content {
    width: 75%;
  }
}
.modal--country-language .modal-body {
  color: black;
  padding: 25px 10%;
  text-align: center;
}
.modal--country-language .modal-body #countryLanguageConfirmationButton {
  margin-top: 10px;
  display: inline-block;
}

html.RTL .modal--country-language .col-xs-12 {
  float: left;
}

.country-language__input--1 button,
.country-language__input--2 button {
  z-index: 1000006;
}

.country-language__input--1 .bootstrap-select.btn-group .dropdown-menu,
.country-language__input--2 .bootstrap-select.btn-group .dropdown-menu {
  z-index: 1000008;
}

.country-language__input--1 button {
  z-index: 1000005;
}

.country-language__input--2 button {
  z-index: 1000004;
}

.country-language__input--3 {
  z-index: 1000003;
}

.country-language__input--4 {
  z-index: 1000002;
}

.country-language__mc-select {
  margin-bottom: 10px;
  width: 100%;
}
.country-language__mc-select .bootstrap-select:not([class*="span"]):not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn) {
  width: 100%;
}

.bootstrap-select.btn-group .dropdown-menu {
  z-index: 1000001;
}

.country-language.splash .country-language-selector img {
  max-width: none;
  min-width: 100%;
}
.country-language.splash .bottom-bar {
  position: fixed;
  bottom: 0;
  width: 100%;
  background: black;
  background: rgba(0, 0, 0, 0.5);
  color: white;
  text-align: right;
  z-index: 1000000;
}
.country-language.splash .bottom-bar .bottomtext {
  padding-right: 2em;
}
.country-language.splash .modal-dialog {
  transform: none;
}
.country-language.splash .countryLanguageConfirmationButton {
  z-index: 1000001;
}

.forms {
  background: white;
  overflow: hidden;
  padding: 0;
  padding-bottom: 70px;
  position: relative;
}
.forms .forms__wrapper {
  margin: 0 10%;
}
.forms .forms__wrapper h1, .forms .forms__wrapper h2, .forms .forms__wrapper h3, .forms .forms__wrapper h4, .forms .forms__wrapper h5, .forms .forms__wrapper h6 {
  padding: 0;
  padding-bottom: 10px;
}
.forms .forms__wrapper hr {
  border-color: #a2aaac;
  margin: 25px 0;
  width: 100%;
  position: relative;
}
.forms .forms__wrapper .modal-header, .forms .forms__wrapper .modal-footer {
  border: none;
}
.forms .forms__wrapper .cta-row {
  clear: both;
}
@media only screen and (max-width: 768px) {
  .forms .forms__wrapper {
    margin: 0 5%;
  }
  .forms .forms__wrapper .cta-row {
    text-align: center;
  }
}

.mcform fieldset {
  position: relative;
}
.mcform button,
.mcform input,
.mcform select,
.mcform textarea,
.mcform .bootstrap-select button {
  border: 1px solid #a2aaac !important;
}
.mcform button[type="submit"],
.mcform input[type="submit"],
.mcform select[type="submit"],
.mcform textarea[type="submit"],
.mcform .bootstrap-select button[type="submit"] {
  border: 0 !important;
}

.mcform__validation {
  background: red;
  display: none;
  padding: 0.5em;
  text-align: center;
  width: 100%;
  	/*
  	&.affix {
  		@include box-shadow($black 2px 0px 2px);
  		position: fixed;
  		top: 95px;
  		z-index: 1;
  
  		@media only screen and (max-width: $screen-md) {
  			top: 0px;
  		}
  
  	}
  	*/
}
.mcform__validation.active {
  display: block;
}

.mcform__validation-text {
  background: transparent url('../images/icons/white/announcement.png') no-repeat left center;
  color: white;
  padding-left: 40px;
}

.mcform__required-indicator {
  color: red;
}

.mcform__fields {
  list-style: none;
  padding: 0;
}

.mcform__field {
  clear: both;
  padding-bottom: 25px;
  width: 100%;
}
.mcform__field.cb > .mcform__input {
  float: left;
  margin-right: 16px;
  width: 40%;
}
.mcform__field.cb.validatr-error .mcform__input {
  border: 1px solid transparent;
}
.mcform__field.cb.validatr-error .validatr-message {
  /*margin-top: -25px;
  margin-left: 34px;
  position: absolute;*/
  margin-bottom: 2px;
}
.mcform__field label {
  cursor: pointer;
  float: left;
  font-weight: normal;
  width: 40%;
}
.mcform__field label.cb-label {
  float: none;
  line-height: 20px;
  position: relative;
  vertical-align: top;
  width: 90%;
  margin-left: 40px;
  margin-top: -20px;
}
.mcform__field input, .mcform__field textarea {
  font-size: 21px;
  line-height: 1.2;
  padding: 2px;
  width: 55%;
}
.mcform__field textarea {
  max-height: 15em;
  min-height: 2em;
  max-width: 55%;
  min-width: 55%;
}
.mcform__field .mcform__input {
  border: 1px solid transparent;
  display: inline-block;
  font-size: 0;
  padding-bottom: 1px;
  width: 55%;
}
.mcform__field .mcform__input input, .mcform__field .mcform__input textarea,
.mcform__field .mcform__input .bootstrap-select:not([class*="span"]):not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn) {
  width: 100%;
}
.mcform__field .mcform__input textarea {
  max-width: 100%;
  min-width: 100%;
}
.mcform__field .mcform__input .validatr-message {
  padding: 0;
  margin: 0;
  text-align: center;
  color: white;
  background-color: red;
  font-size: 16px;
}
.mcform__field.mcform__field--full .mcform__input {
  float: left;
  width: auto;
}
.mcform__field.mcform__field--full label {
  float: left;
  width: 90%;
}
.mcform__field.mcform__field--full.validatr-error .mcform__input {
  width: 100%;
}
.mcform__field.validatr-error label {
  color: red;
}
.mcform__field.validatr-error .mcform__input {
  border-color: red;
}
@media only screen and (max-width: 768px) {
  .mcform__field label, .mcform__field input, .mcform__field select, .mcform__field textarea, .mcform__field .mcform__input {
    width: 100%;
  
  }
  .mcform__field textarea {
    max-width: 100%;
    min-width: 100%;
  }
  .mcform__field label.cb-label {
    float: left;
  }
}
@media only screen and (max-width: 768px) {
  .mcform__field .mcform__field.cb .mcform__input {
    width: 100%;
  }
}

html.RTL .mcform__field.cb > .mcform__input {
  float: right;
}
html.RTL .mcform__field label {
  float: right;
}

.mcform__legend {
  border: none;
  font-size: 16px;
  position: relative;
}
@media only screen and (max-width: 768px) {
  .mcform__legend {
    margin-bottom: 0;
  }
}

html.RTL .forms h1, html.RTL .forms h2 {
  padding: 1em 0 1em 2em;
}
@media only screen and (max-width: 768px) {
  html.RTL .forms h1, html.RTL .forms h2 {
    padding: 0.5em 0 0.5em 2em;
  }
}
html.RTL .forms h3, html.RTL .forms h4, html.RTL .forms h5, html.RTL .forms h6 {
  padding: 0 0 1em 2em;
}

.offer-details-modal .modal-dialog .modal-content {
  background-color: #f4f4f4;
}
.offer-details-modal .modal-dialog .modal-content .close {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-image: url(../images/icons/close-icon.png);
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 1;
  width: 26px;
  height: 26px;
}
.offer-details-modal .modal-dialog .modal-content #offer-detail-left-column {
  background-color: white;
}
.offer-details-modal .modal-dialog .modal-content #offer-detail-left-column #transparent-bar {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  opacity: 0.5;
  background-color: black;
  height: 24px;
  position: absolute;
  text-align: center;
  width: 100%;
}
.offer-details-modal .modal-dialog .modal-content #offer-detail-left-column #transparent-bar-text {
  color: white;
  position: absolute;
  text-align: center;
  width: 100%;
}
.offer-details-modal .modal-dialog .modal-content #offer-detail-left-column #detail-photo {
  width: 100%;
}
.offer-details-modal .modal-dialog .modal-content #offer-detail-left-column #location-info-wrapper {
  padding: 20px;
}
.offer-details-modal .modal-dialog .modal-content #offer-detail-left-column #location-info-wrapper #location-title {
  font-size: 2.4em;
  line-height: 1;
  margin-bottom: 20px;
}
.offer-details-modal .modal-dialog .modal-content #offer-detail-left-column #location-info-wrapper #address-icon {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-image: url(../images/icons/location-icon.png);
  float: left;
  width: 20px;
  height: 20px;
}
.offer-details-modal .modal-dialog .modal-content #offer-detail-left-column #location-info-wrapper #address-wrapper {
  float: left;
  padding-left: 10px;
}
.offer-details-modal .modal-dialog .modal-content #offer-detail-left-column #location-info-wrapper #address-wrapper p {
  margin: 0;
}
.offer-details-modal .modal-dialog .modal-content #offer-detail-left-column #location-info-wrapper #logo-wrapper-desktop {
  float: right;
  margin-right: 40px;
}
.offer-details-modal .modal-dialog .modal-content #offer-detail-left-column #location-info-wrapper #logo-wrapper-desktop p {
  text-align: center;
  margin-bottom: 0;
}
.offer-details-modal .modal-dialog .modal-content #offer-detail-left-column #location-info-wrapper #offer-description {
  margin-top: 20px;
}
.offer-details-modal .modal-dialog .modal-content #offer-detail-left-column #location-info-wrapper #offer-description b {
  font-size: 1.4em;
  font-weight: 100;
}
.offer-details-modal .modal-dialog .modal-content #offer-detail-left-column #location-info-wrapper #offer-description ul {
  margin: 0;
  padding-left: 20px;
}
.offer-details-modal .modal-dialog .modal-content #offer-detail-left-column #location-info-wrapper #offer-description ul > li {
  margin: 6px 0 6px 0;
}
.offer-details-modal .modal-dialog .modal-content #offer-detail-right-column {
  padding: 20px;
}
.offer-details-modal .modal-dialog .modal-content #offer-detail-right-column #cardholders-only {
  color: #5b6770;
  font-size: 1.7em;
  line-height: 1em;
  margin-top: 30px;
}
@media (max-width: 768px) {
  .offer-details-modal .modal-dialog .modal-content #offer-detail-right-column #cardholders-only {
    margin-top: 0;
  }
}
.offer-details-modal .modal-dialog .modal-content #offer-detail-right-column #available-through {
  background: #5b6770;
  color: white;
  margin: 0 -20px 0 -20px;
  padding: 12px 0 12px 0;
  text-align: center;
}
.offer-details-modal .modal-dialog .modal-content #offer-detail-right-column #please-call {
  padding-top: 20px;
}
.offer-details-modal .modal-dialog .modal-content #offer-detail-right-column #please-call #telephone {
  font-weight: bold;
}
.offer-details-modal .modal-dialog .modal-content #offer-detail-right-column .offer-detail__cta-link {
  padding: 10px 0;
}
.offer-details-modal .modal-dialog .modal-content #offer-detail-right-column #color-wrapper {
  background-color: white;
  margin: 0 -20px -20px -20px;
  padding: 20px;
}
.offer-details-modal .modal-dialog .modal-content #offer-detail-right-column #color-wrapper #logo-wrapper-mobile {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 128px;
}
.offer-details-modal .modal-dialog .modal-content #offer-detail-right-column #color-wrapper #logo-wrapper-mobile p {
  margin-bottom: 0;
  text-align: center;
}
.offer-details-modal .terms-conditions-title {
  font-weight: 100;
  margin-top: 0;
}

.offers-module {
  background-color: white;
}
.offers-module .filters__cta {
  background: #5b6770;
  color: white;
}
.offers-module .filters__cta:hover {
  background: #333333;
  color: white;
}
.offers-module .templates {
  display: none;
}
.offers-module div.tab-content {
  padding: 20px 100px;
}
@media (max-width: 768px) {
  .offers-module div.tab-content {
    padding: 20px;
  }
  .offers-module div.tab-content .terms-conditions {
    margin-top: 10px;
  }
}
.offers-module div.tab-content h2, .offers-module div.tab-content h3, .offers-module div.tab-content .offerslist, .offers-module div.tab-content p,
.offers-module div.tab-content .cta-group, .offers-module div.tab-content .options {
  padding: 0 20px;
}
@media (max-width: 767px) {
  .offers-module div.tab-content h2, .offers-module div.tab-content h3, .offers-module div.tab-content .offerslist, .offers-module div.tab-content p,
  .offers-module div.tab-content .cta-group, .offers-module div.tab-content .options {
    padding: 0;
  }
}
.offers-module div.tab-content .tab-pane .options {
  padding-bottom: 5px;
}
.offers-module div.tab-content .tab-pane .options .reset {
  float: right;
}
.offers-module div.tab-content .tab-pane .filters__col {
  margin-bottom: 20px;
  padding: 0 20px;
}
@media (max-width: 767px) {
  .offers-module div.tab-content .tab-pane .filters__col {
    padding: 0;
  }
}
.offers-module div.tab-content .tab-pane .filters__col .bootstrap-select {
  width: 100%;
}
.offers-module div.tab-content .tab-pane .filters__col .bootstrap-select button {
  border: 1px solid #d0d3d4;
}
.offers-module div.tab-content .tab-pane .cta-group {
  text-align: left;
}
.offers-module div.tab-content .tab-pane .cta-group .cta {
  margin: 0;
}
.offers-module div.tab-content .tab-pane .loading img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 20px;
}
.offers-module div.tab-content .tab-pane .view-more-link {
  background-color: #d0d3d4;
  display: block;
  color: white;
  font-weight: bold;
  margin: 0 20px;
  padding: 12px 0;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}
.offers-module div.tab-content .tab-pane .view-more-link:hover {
  background-color: #a2aaac;
}
@media (max-width: 768px) {
  .offers-module div.tab-content .tab-pane .view-more-link {
    margin: 0;
  }
}
.offers-module div.tab-content .tab-pane .results .error-banner {
  display: block;
}
.offers-module div.tab-content .tab-pane .results div[ng-repeat-start="offer in offers"] {
  padding: 20px;
}
@media (max-width: 767px) {
  .offers-module div.tab-content .tab-pane .results div[ng-repeat-start="offer in offers"] {
    padding: 20px 0;
  }
}
.offers-module div.tab-content .tab-pane .results div[ng-repeat-start="offer in offers"] img {
  width: 100%;
}
.offers-module div.tab-content .tab-pane .results div[ng-repeat-start="offer in offers"] .offer-tagline {
  text-transform: uppercase;
  background-color: #000000;
  color: #ffffff;
  padding-left: 20px;
  padding-right: 20px;
}
.offers-module div.tab-content .tab-pane .results div[ng-repeat-start="offer in offers"] .offer-title__link {
  color: #008e96;
}
.offers-module div.tab-content .tab-pane .results div[ng-repeat-start="offer in offers"] .offer-title__link:hover {
  color: #00535e;
  cursor: pointer;
}
.offers-module div.tab-content .tab-pane .results div[ng-repeat-start="offer in offers"] .offer-title {
  font-weight: bold;
  padding: 0;
  padding-top: 12px;
}
.offers-module div.tab-content .tab-pane .results div[ng-repeat-start="offer in offers"] .offer-description {
  padding: 0;
  overflow: hidden;
}
.offers-module div.tab-content .tab-pane .results div[ng-repeat-start="offer in offers"] a.btn {
  width: 100%;
}

.offer-flags {
  padding: 5px;
  position: absolute;
  top: 25px;
  right: 25px;
  text-transform: uppercase;
}
@media (max-width: 768px) {
  .offer-flags {
    right: 5px;
  }
}

.offer-flags__flag {
  background-image: url(../images/locators/flag-sprite.svg);
  background-position: 0 0;
  display: block;
  float: left;
  margin-left: 10px;
  text-indent: -9999px;
  width: 40px;
  height: 40px;
}
.offer-flags__flag.offer-flags__flag--Family-Friendly {
  background-position: -41px 0;
}

.offer-flags__legend {
  background: #f4f4f4;
  margin: 20px;
  padding: 20px;
}
@media (max-width: 767px) {
  .offer-flags__legend {
    margin: 20px 0;
  }
}
.offer-flags__legend .offer-flags__flag {
  margin: 0;
  margin-right: 10px;
  margin-bottom: 10px;
  top: 0;
  right: auto;
  left: 0;
}
.offer-flags__legend .offer-flags__text {
  min-height: 40px;
  margin-bottom: 10px;
}

.iframe-container {
  text-align: center;
}
.iframe-container iframe {
  border: none;
}

/**
 * Box shadows for elements
 */
/* Headings

Pass in a heading type or list of heading types and returns heading types plus ones with class version of heading type

Examples:
h1, .h1 { color: red; } produces h1, .h1 { color: red; }
h2, .h2, h3, .h3 { color: blue; } produces h2, .h2, h3, .h3 { color: blue; }

*/
/*
 * JANRAIN SPRITES
 */
/*
 * SOCIAL LINKS SPRITES
 */
#search-container {
  background-color: black;
  color: white;
  display: none;
  height: 100%;
}
#search-container .edit-message {
  display: none;
  height: 0;
}

.search-par {
  height: 600px;
}

.search-module {
  background-color: #161616;
  line-height: 1;
  padding: 0 40px;
  position: relative;
  width: 100%;
  height: 100%;
}
.search-module h1, .search-module .h1, .search-module h2, .search-module .h2, .search-module h3, .search-module h4 {
  margin: 0;
  padding: 0;
}
.search-module .search-controller {
  height: 100%;
}
.search-module .form-wrapper {
  height: 111px;
  margin: 20px 0;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
}
.search-module .form-wrapper form {
  height: 111px;
  position: absolute;
  top: 0;
  right: 40px;
  left: 40px;
}
.search-module .form-wrapper.typing {
  margin: 0;
  position: relative;
  width: 100%;
  height: 100%;
}
.search-module .form-wrapper.typing form {
  margin-top: -35px;
  top: 50%;
}
.search-module .autocomplete-input {
  position: relative;
}
.search-module .autocomplete-input input {
  border: none;
  border-bottom: solid 1px #a2aaad;
  background: transparent;
  color: white;
  font-size: 48px;
  font-weight: 200;
  padding-right: 45px;
  width: 100%;
}
.search-module .autocomplete-input input:focus {
  border-bottom: solid 1px white;
  outline: 0;
}
.search-module .autocomplete-input input:focus:hover {
  background: transparent;
  -webkit-transition: background 0.2s ease-in-out;
  -moz-transition: background 0.2s ease-in-out;
  -ms-transition: background 0.2s ease-in-out;
  -o-transition: background 0.2s ease-in-out;
  transition: background 0.2s ease-in-out;
}
.search-module .autocomplete-input input:-moz-placeholder {
  color: #a2aaad;
}
.search-module .autocomplete-input input::-moz-placeholder {
  color: #a2aaad;
  opacity: 1;
}
.search-module .autocomplete-input input:-ms-input-placeholder {
  color: #a2aaad;
}
.search-module .autocomplete-input input::-webkit-input-placeholder {
  color: #a2aaad;
}
.search-module .autocomplete-input .top-suggestion {
  color: #00b3b4;
  position: absolute;
  top: 0px;
}
.search-module .autocomplete-input .fake-placeholder {
  background: transparent;
  border: none;
  position: absolute;
}
.search-module .autocomplete-input .query {
  position: relative;
  background: url('../images/transparent.png');
}
.search-module .autocomplete-input .query:hover {
  border-bottom: solid 1px white;
  background: white;
  background: rgba(255, 255, 255, 0.1);
  -webkit-transition: background 0.2s ease-in-out;
  -moz-transition: background 0.2s ease-in-out;
  -ms-transition: background 0.2s ease-in-out;
  -o-transition: background 0.2s ease-in-out;
  transition: background 0.2s ease-in-out;
}
.search-module .autocomplete-input .query:hover:-moz-placeholder {
  color: white;
}
.search-module .autocomplete-input .query:hover::-moz-placeholder {
  color: white;
  opacity: 1;
}
.search-module .autocomplete-input .query:hover:-ms-input-placeholder {
  color: white;
}
.search-module .autocomplete-input .query:hover::-webkit-input-placeholder {
  color: white;
}
.search-module .autocomplete-input .search-btn {
  background-color: transparent;
  background-image: url('../images/buttons/search-input-button.png');
  background-position: center center;
  background-repeat: no-repeat;
  border: none;
  margin: 0 5px;
  position: absolute;
  top: 0;
  right: 0;
  width: 35px;
  height: 100%;
}
.search-module ul.suggestions {
  list-style-type: none;
  padding: 0;
}
.search-module ul.suggestions li {
  color: #a2aaad;
  font-size: 36px;
  font-weight: 200;
}
.search-module .results-for {
  color: white;
  margin-bottom: 20px;
}
.search-module .results-for .search-term {
  color: #00b3b4;
}
.search-module .error-banner {
  display: block;
}
.search-module .resultsWrapper {
  overflow: auto;
  position: absolute;
  top: 111px;
  right: 40px;
  bottom: 90px;
  left: 40px;
}
@media (max-width: 767px) {
  .search-module .resultsWrapper .results h4 {
    font-size: 16px;
  }
  .search-module .resultsWrapper .results .result {
    padding: 0 0 10px 0;
  }
  .search-module .resultsWrapper .results .result .left {
    display: none;
  }
  .search-module .resultsWrapper .results .result .right {
    width: 100%;
  }
}
.search-module .resultsWrapper .result {
  display: table;
  padding: 20px 0;
}
.search-module .resultsWrapper .left, .search-module .resultsWrapper .right {
  display: table-cell;
  vertical-align: top;
}
.search-module .resultsWrapper .left {
  padding-left: 20px;
  text-align: center;
  width: 10%;
}
.search-module .resultsWrapper .left img {
  width: 100%;
  max-width: 100%;
  min-width: 50px;
}
.search-module .resultsWrapper .right {
  padding: 0 20px;
  width: 90%;
}
.search-module .resultsWrapper .title {
  padding-bottom: 10px;
}
.search-module .resultsWrapper .snippit {
  color: white;
  font-size: 14px;
  font-weight: 300;
  margin: 0;
}
.search-module .pagination {
  clear: both;
  color: white;
  height: 90px;
  padding: 20px 0;
  margin: 0;
  position: absolute;
  right: 40px;
  bottom: 0;
  left: 40px;
  text-align: center;
}
@media (max-width: 767px) {
  .search-module .pagination {
    margin: 0;
  }
}
.search-module .pagination ul {
  display: inline-block;
  list-style-type: none;
  margin: 0 auto;
  padding: 0;
}
.search-module .pagination ul li {
  color: #00b3b4;
  cursor: pointer;
  display: table-cell;
  margin: 0;
  text-align: center;
  vertical-align: middle;
  width: 35px;
  height: 35px;
}
.search-module .pagination ul li.active, .search-module .pagination ul li:hover {
  background-color: black;
  color: white;
}
.search-module .pagination ul li.item_prev, .search-module .pagination ul li.item_next {
  font-size: 50px;
  margin-top: -10px;
  vertical-align: middle;
}
.search-module .pagination ul li.item_prev:hover, .search-module .pagination ul li.item_next:hover {
  background-color: transparent;
}
.search-module .pagination ul li.item_prev:before {
  content: '\2039';
  color: white;
}
.search-module .pagination ul li.item_next:before {
  content: '\203A';
  color: white;
}
.search-module .pagination ul li.disabled:before {
  color: #a2aaad;
  background-color: transparent;
  font-size: 50px;
  cursor: default;
}

html.RTL .search-module .autocomplete-input input {
  padding-right: 0px;
  padding-left: 45px;
}
html.RTL .search-module .autocomplete-input .search-btn {
  left: 0;
  right: auto;
}
html.RTL .search-module .resultsWrapper .left {
  padding-right: 20px;
  padding-left: 0px;
}

.securecode-module.rich-text {
  padding: 20px;
}

.securecode .no-results {
  display: none;
}
.securecode .securecode__pagination {
  clear: both;
  color: #5b6770;
  text-align: center;
}
.securecode .securecode__pagination ul {
  display: table;
  list-style: none;
  margin: 0 auto;
  padding: 0;
}
.securecode .securecode__pagination ul li {
  display: table-cell;
  margin: 0;
  text-align: center;
  vertical-align: middle;
  width: 50px;
  -webkit-transition: "all .2s ease-in-out";
  transition: "all .2s ease-in-out";
}
.securecode .securecode__pagination ul li.item_first, .securecode .securecode__pagination ul li.item_prev, .securecode .securecode__pagination ul li.item_next, .securecode .securecode__pagination ul li.item_last {
  cursor: pointer;
  font-size: 50px;
}
.securecode .securecode__pagination ul li.item_first:hover, .securecode .securecode__pagination ul li.item_prev:hover, .securecode .securecode__pagination ul li.item_next:hover, .securecode .securecode__pagination ul li.item_last:hover {
  color: #a2aaac;
}
.securecode .securecode__pagination ul li.item_first, .securecode .securecode__pagination ul li.item_last {
  letter-spacing: -.5em;
}
.securecode .securecode__pagination ul li.item_first:before {
  content: '\2039\2039';
}
.securecode .securecode__pagination ul li.item_prev:before {
  content: '\2039';
}
.securecode .securecode__pagination ul li.item_next:before {
  content: '\203A';
}
.securecode .securecode__pagination ul li.item_last:before {
  content: '\203A\203A';
}
.securecode .securecode__pagination ul li.disabled:before {
  color: #a2aaac;
  cursor: default;
}
.securecode .securecode__pagination ul .pagination__page-numbers {
  margin-top: 6px;
}
.securecode .securecode__pagination ul .pagination__page-numbers span {
  color: #333333;
  margin: 0;
  padding: 0;
  vertical-align: middle;
}

.securecode-filters button {
  padding: 12px 20px !important;
}
.securecode-filters > div {
  padding-top: 20px;
}
.securecode-filters input,
.securecode-filters .securecode-filters__select div.securecode-filters__select {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  background: white;
  font-size: 16px !important;
  height: 46px;
  width: 96% !important;
}
.securecode-filters input {
  padding-left: 10px;
}
.securecode-filters select, .securecode-filters ul {
  height: 48px;
}
.securecode-filters select:hover, .securecode-filters ul:hover {
  cursor: pointer;
}
.securecode-filters select {
  margin-right: 20px;
}
.securecode-filters select:hover {
  background: #a2aaad;
  transition: all .1s ease-in-out;
}
.securecode-filters ul.dropdown-menu {
  height: 100%;
}
@media only screen and (max-width: 1024px) {
  .securecode-filters .securecode-filters__select {
    float: right;
  }
}
@media only screen and (max-width: 768px) {
  .securecode-filters input,
  .securecode-filters .securecode-filters__select div.securecode-filters__select {
    max-width: 400px;
  }
  .securecode-filters .securecode-filters__select {
    float: none;
  }
}
@media only screen and (max-width: 480px) {
  .securecode-filters input,
  .securecode-filters .securecode-filters__select div.securecode-filters__select {
    width: 100% !important;
    max-width: auto;
  }
}

.securecode-filters__alpha-filter {
  clear: both;
  font-size: 1.2em;
}
.securecode-filters__alpha-filter ul {
  display: table;
  float: left;
  margin: 0;
  padding: 0;
  table-layout: fixed;
  text-align: center;
}
.securecode-filters__alpha-filter li {
  display: table-cell;
  list-style: none;
}
.securecode-filters__alpha-filter a {
  display: block;
}
.securecode-filters__alpha-filter a:hover {
  cursor: pointer;
}
@media only screen and (max-width: 768px) {
  .securecode-filters__alpha-filter {
    font-size: 1.3em;
  }
}
@media only screen and (max-width: 480px) {
  .securecode-filters__alpha-filter {
    font-size: 1.4em;
  }
}

.securecode-results {
  border-top: 1px solid #a2aaac;
  clear: both;
  padding: 20px 0;
  padding-top: 40px;
}

.securecode-results__list {
  padding-right: 20px;
}
.securecode-results__list ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.securecode-results__list li {
  font-size: 21px;
  line-height: 1.1;
  margin-bottom: 16px;
}
@media only screen and (max-width: 768px) {
  .securecode-results__list {
    padding-right: 0;
  }
  .securecode-results__list li {
    margin-bottom: 10px;
  }
}

.gutterpar .securecode-module .table-responsive {
  overflow: scroll;
}

@media (max-width: 768px) {
  .access-account .input-group .bootstrap-select {
    width: 180px !important;
  }
}
.access-account .btn-primary, .access-account label, .access-account select {
  float: left;
}
.access-account .btn-primary {
  padding: 10px 8px !important;
}

html.RTL .access-account .btn-primary, html.RTL .access-account label, html.RTL .access-account select {
  float: none;
}

#access-account-disclaimer-modal .bank-name {
  color: red;
  font-weight: 700;
}
#access-account-disclaimer-modal .modal-header,
#access-account-disclaimer-modal .modal-footer {
  border: none;
  text-align: right;
}
#access-account-disclaimer-modal .modal-body {
  text-align: center;
}
#access-account-disclaimer-modal .modal-footer {
  margin: 0;
  text-align: center;
}
@media (max-width: 1023px) {
  #access-account-disclaimer-modal .modal-footer {
    padding: 19px 10px 20px;
  }
}
@media (max-width: 768px) {
  #access-account-disclaimer-modal .btn {
    padding-left: 10px;
    padding-right: 10px;
  }
}

#access-account-disclaimer-header {
  margin: 40px 0 0 0;
}

.acquirers-module {
  padding: 20px;
  text-align: center;
}
.acquirers-module form {
  margin: 0 auto;
  text-align: left;
}
.acquirers-module label {
  margin: 0 0 0 10px;
  width: 25%;
  font-weight: normal;
}
@media (max-width: 767px) {
  .acquirers-module label {
    margin: 10px 0;
    width: 100%;
  }
}
@media (max-width: 767px) {
  .acquirers-module .submit-button {
    width: 100%;
    margin: 10px 0;
  }
}
.acquirers-module .loading {
  padding: 20px 0;
}
.acquirers-module .results {
  text-align: left;
}
.acquirers-module .results > div {
  margin: 20px 20px 0 20px;
}
.acquirers-module .results h4 {
  margin: 0;
}
.acquirers-module .results ul {
  list-style: none;
  padding: 0;
}
.acquirers-module .bootstrap-select {
  height: 41px;
  border: 1px solid gray;
}
.acquirers-module .bootstrap-select button {
  border: none !important;
  height: 39px;
}
.acquirers-module .integration-errors .error-banner {
  display: block;
}

html.ie8 .acquirers-module .bootstrap-select, html.ie9 .acquirers-module .bootstrap-select {
  width: 100%;
}

html.RTL .acquirers-module form {
  text-align: right;
}
html.RTL .acquirers-module .results {
  text-align: right;
}

.article h1, .article .h1 {
  padding: 40px 0;
}
.article h1, .article .h1, .article h2, .article .h2, .article h3, .article h4 {
  margin: 0;
}

.article-title {
  color: white;
  font-weight: 200;
  padding: 20px 0;
  text-align: center;
  width: 100%;
}

.article-wrapper {
  background: white;
  padding: 40px;
  padding-left: 141px;
  position: relative;
  width: 100%;
}
@media (max-width: 1023px) {
  .article-wrapper {
    padding: 20px;
    padding-left: 91px;
  }
}

.article-content .subtitle {
  font-style: italic;
  font-weight: 600;
  width: 100%;
}
.article-content .image-wrapper {
  float: right;
  margin-bottom: 20px;
  margin-left: 2%;
  width: 48%;
}
.article-content .image-wrapper .caption {
  background: #a2aaad;
  font-size: 12px;
  padding: 20px;
  width: 100%;
}

.article-sidebar {
  background: #00b3b4;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 101px;
}
@media (max-width: 1023px) {
  .article-sidebar {
    width: 71px;
  }
}
.article-sidebar .edit-header {
  display: none;
}
.article-sidebar .janrainSocialBar
.janrainShareCountContainer {
  display: none !important;
}
.article-sidebar .janrainSocialRoot button.janrainProvider,
.article-sidebar .janrainOrientationHorizontal.janrainSocialRoot button.janrainProvider {
  background-color: #008e96;
  border: 0;
  border-radius: 0;
  display: block;
  margin: 0;
  padding: 20px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: auto;
  height: auto;
}
.article-sidebar .janrainSocialRoot button.janrainProvider img,
.article-sidebar .janrainOrientationHorizontal.janrainSocialRoot button.janrainProvider img {
  display: none;
}
.article-sidebar .janrainSocialRoot button.janrainProvider div,
.article-sidebar .janrainOrientationHorizontal.janrainSocialRoot button.janrainProvider div {
  background-color: transparent;
  background-image: url('../images/social/janrain-sprite.png');
  background-position: 310px 0;
  background-repeat: no-repeat;
  width: 61px;
  height: 61px;
}
.article-sidebar .janrainSocialRoot button.janrainProvider.janrain_native-facebookButton div,
.article-sidebar .janrainOrientationHorizontal.janrainSocialRoot button.janrainProvider.janrain_native-facebookButton div {
  background-position: -310px 0;
}
.article-sidebar .janrainSocialRoot button.janrainProvider.janrain_native-facebookButton:hover div,
.article-sidebar .janrainOrientationHorizontal.janrainSocialRoot button.janrainProvider.janrain_native-facebookButton:hover div {
  background-position: -310px -61px;
}
.article-sidebar .janrainSocialRoot button.janrainProvider.janrain_native-googleplusButton div,
.article-sidebar .janrainOrientationHorizontal.janrainSocialRoot button.janrainProvider.janrain_native-googleplusButton div {
  background-position: -371px 0;
}
.article-sidebar .janrainSocialRoot button.janrainProvider.janrain_native-googleplusButton:hover div,
.article-sidebar .janrainOrientationHorizontal.janrainSocialRoot button.janrainProvider.janrain_native-googleplusButton:hover div {
  background-position: -371px -61px;
}
.article-sidebar .janrainSocialRoot button.janrainProvider.janrain_native-linkedinButton div,
.article-sidebar .janrainOrientationHorizontal.janrainSocialRoot button.janrainProvider.janrain_native-linkedinButton div {
  background-position: -432px 0;
}
.article-sidebar .janrainSocialRoot button.janrainProvider.janrain_native-linkedinButton:hover div,
.article-sidebar .janrainOrientationHorizontal.janrainSocialRoot button.janrainProvider.janrain_native-linkedinButton:hover div {
  background-position: -432px -61px;
}
.article-sidebar .janrainSocialRoot button.janrainProvider.janrain_native-mixiButton div,
.article-sidebar .janrainOrientationHorizontal.janrainSocialRoot button.janrainProvider.janrain_native-mixiButton div {
  background-position: -493px 0;
}
.article-sidebar .janrainSocialRoot button.janrainProvider.janrain_native-mixiButton:hover div,
.article-sidebar .janrainOrientationHorizontal.janrainSocialRoot button.janrainProvider.janrain_native-mixiButton:hover div {
  background-position: -493px -61px;
}
.article-sidebar .janrainSocialRoot button.janrainProvider.janrain_native-pinterestButton div,
.article-sidebar .janrainOrientationHorizontal.janrainSocialRoot button.janrainProvider.janrain_native-pinterestButton div {
  background-position: -554px 0;
}
.article-sidebar .janrainSocialRoot button.janrainProvider.janrain_native-pinterestButton:hover div,
.article-sidebar .janrainOrientationHorizontal.janrainSocialRoot button.janrainProvider.janrain_native-pinterestButton:hover div {
  background-position: -554px -61px;
}
.article-sidebar .janrainSocialRoot button.janrainProvider.janrain_native-redditButton div,
.article-sidebar .janrainOrientationHorizontal.janrainSocialRoot button.janrainProvider.janrain_native-redditButton div {
  background-position: -615px 0;
}
.article-sidebar .janrainSocialRoot button.janrainProvider.janrain_native-redditButton:hover div,
.article-sidebar .janrainOrientationHorizontal.janrainSocialRoot button.janrainProvider.janrain_native-redditButton:hover div {
  background-position: -615px -61px;
}
.article-sidebar .janrainSocialRoot button.janrainProvider.janrain_native-sinaweiboButton div,
.article-sidebar .janrainOrientationHorizontal.janrainSocialRoot button.janrainProvider.janrain_native-sinaweiboButton div {
  background-position: -676px 0;
}
.article-sidebar .janrainSocialRoot button.janrainProvider.janrain_native-sinaweiboButton:hover div,
.article-sidebar .janrainOrientationHorizontal.janrainSocialRoot button.janrainProvider.janrain_native-sinaweiboButton:hover div {
  background-position: -676px -61px;
}
.article-sidebar .janrainSocialRoot button.janrainProvider.janrain_native-tumblrButton div,
.article-sidebar .janrainOrientationHorizontal.janrainSocialRoot button.janrainProvider.janrain_native-tumblrButton div {
  background-position: -737px 0;
}
.article-sidebar .janrainSocialRoot button.janrainProvider.janrain_native-tumblrButton:hover div,
.article-sidebar .janrainOrientationHorizontal.janrainSocialRoot button.janrainProvider.janrain_native-tumblrButton:hover div {
  background-position: -737px -61px;
}
.article-sidebar .janrainSocialRoot button.janrainProvider.janrain_native-twitterButton div,
.article-sidebar .janrainOrientationHorizontal.janrainSocialRoot button.janrainProvider.janrain_native-twitterButton div {
  background-position: -798px 0;
}
.article-sidebar .janrainSocialRoot button.janrainProvider.janrain_native-twitterButton:hover div,
.article-sidebar .janrainOrientationHorizontal.janrainSocialRoot button.janrainProvider.janrain_native-twitterButton:hover div {
  background-position: -798px -61px;
}
.article-sidebar .janrainSocialRoot button.janrainProvider.janrain_native-xingButton div,
.article-sidebar .janrainOrientationHorizontal.janrainSocialRoot button.janrainProvider.janrain_native-xingButton div {
  background-position: -859px 0;
}
.article-sidebar .janrainSocialRoot button.janrainProvider.janrain_native-xingButton:hover div,
.article-sidebar .janrainOrientationHorizontal.janrainSocialRoot button.janrainProvider.janrain_native-xingButton:hover div {
  background-position: -859px -61px;
}
.article-sidebar .janrainSocialRoot button.janrainProvider:hover,
.article-sidebar .janrainOrientationHorizontal.janrainSocialRoot button.janrainProvider:hover {
  background-color: #00b3b4;
}
@media (max-width: 1023px) {
  .article-sidebar .janrainSocialRoot button.janrainProvider div,
  .article-sidebar .janrainOrientationHorizontal.janrainSocialRoot button.janrainProvider div {
    background-position: 0 0;
    width: 31px;
    height: 31px;
  }
  .article-sidebar .janrainSocialRoot button.janrainProvider.janrain_native-facebookButton div,
  .article-sidebar .janrainOrientationHorizontal.janrainSocialRoot button.janrainProvider.janrain_native-facebookButton div {
    background-position: 0px 0;
  }
  .article-sidebar .janrainSocialRoot button.janrainProvider.janrain_native-facebookButton:hover div,
  .article-sidebar .janrainOrientationHorizontal.janrainSocialRoot button.janrainProvider.janrain_native-facebookButton:hover div {
    background-position: 0px -31px;
  }
  .article-sidebar .janrainSocialRoot button.janrainProvider.janrain_native-googleplusButton div,
  .article-sidebar .janrainOrientationHorizontal.janrainSocialRoot button.janrainProvider.janrain_native-googleplusButton div {
    background-position: -31px 0;
  }
  .article-sidebar .janrainSocialRoot button.janrainProvider.janrain_native-googleplusButton:hover div,
  .article-sidebar .janrainOrientationHorizontal.janrainSocialRoot button.janrainProvider.janrain_native-googleplusButton:hover div {
    background-position: -31px -31px;
  }
  .article-sidebar .janrainSocialRoot button.janrainProvider.janrain_native-linkedinButton div,
  .article-sidebar .janrainOrientationHorizontal.janrainSocialRoot button.janrainProvider.janrain_native-linkedinButton div {
    background-position: -62px 0;
  }
  .article-sidebar .janrainSocialRoot button.janrainProvider.janrain_native-linkedinButton:hover div,
  .article-sidebar .janrainOrientationHorizontal.janrainSocialRoot button.janrainProvider.janrain_native-linkedinButton:hover div {
    background-position: -62px -31px;
  }
  .article-sidebar .janrainSocialRoot button.janrainProvider.janrain_native-mixiButton div,
  .article-sidebar .janrainOrientationHorizontal.janrainSocialRoot button.janrainProvider.janrain_native-mixiButton div {
    background-position: -93px 0;
  }
  .article-sidebar .janrainSocialRoot button.janrainProvider.janrain_native-mixiButton:hover div,
  .article-sidebar .janrainOrientationHorizontal.janrainSocialRoot button.janrainProvider.janrain_native-mixiButton:hover div {
    background-position: -93px -31px;
  }
  .article-sidebar .janrainSocialRoot button.janrainProvider.janrain_native-pinterestButton div,
  .article-sidebar .janrainOrientationHorizontal.janrainSocialRoot button.janrainProvider.janrain_native-pinterestButton div {
    background-position: -124px 0;
  }
  .article-sidebar .janrainSocialRoot button.janrainProvider.janrain_native-pinterestButton:hover div,
  .article-sidebar .janrainOrientationHorizontal.janrainSocialRoot button.janrainProvider.janrain_native-pinterestButton:hover div {
    background-position: -124px -31px;
  }
  .article-sidebar .janrainSocialRoot button.janrainProvider.janrain_native-redditButton div,
  .article-sidebar .janrainOrientationHorizontal.janrainSocialRoot button.janrainProvider.janrain_native-redditButton div {
    background-position: -155px 0;
  }
  .article-sidebar .janrainSocialRoot button.janrainProvider.janrain_native-redditButton:hover div,
  .article-sidebar .janrainOrientationHorizontal.janrainSocialRoot button.janrainProvider.janrain_native-redditButton:hover div {
    background-position: -155px -31px;
  }
  .article-sidebar .janrainSocialRoot button.janrainProvider.janrain_native-sinaweiboButton div,
  .article-sidebar .janrainOrientationHorizontal.janrainSocialRoot button.janrainProvider.janrain_native-sinaweiboButton div {
    background-position: -186px 0;
  }
  .article-sidebar .janrainSocialRoot button.janrainProvider.janrain_native-sinaweiboButton:hover div,
  .article-sidebar .janrainOrientationHorizontal.janrainSocialRoot button.janrainProvider.janrain_native-sinaweiboButton:hover div {
    background-position: -186px -31px;
  }
  .article-sidebar .janrainSocialRoot button.janrainProvider.janrain_native-tumblrButton div,
  .article-sidebar .janrainOrientationHorizontal.janrainSocialRoot button.janrainProvider.janrain_native-tumblrButton div {
    background-position: -217px 0;
  }
  .article-sidebar .janrainSocialRoot button.janrainProvider.janrain_native-tumblrButton:hover div,
  .article-sidebar .janrainOrientationHorizontal.janrainSocialRoot button.janrainProvider.janrain_native-tumblrButton:hover div {
    background-position: -217px -31px;
  }
  .article-sidebar .janrainSocialRoot button.janrainProvider.janrain_native-twitterButton div,
  .article-sidebar .janrainOrientationHorizontal.janrainSocialRoot button.janrainProvider.janrain_native-twitterButton div {
    background-position: -248px 0;
  }
  .article-sidebar .janrainSocialRoot button.janrainProvider.janrain_native-twitterButton:hover div,
  .article-sidebar .janrainOrientationHorizontal.janrainSocialRoot button.janrainProvider.janrain_native-twitterButton:hover div {
    background-position: -248px -31px;
  }
  .article-sidebar .janrainSocialRoot button.janrainProvider.janrain_native-xingButton div,
  .article-sidebar .janrainOrientationHorizontal.janrainSocialRoot button.janrainProvider.janrain_native-xingButton div {
    background-position: -279px 0;
  }
  .article-sidebar .janrainSocialRoot button.janrainProvider.janrain_native-xingButton:hover div,
  .article-sidebar .janrainOrientationHorizontal.janrainSocialRoot button.janrainProvider.janrain_native-xingButton:hover div {
    background-position: -279px -31px;
  }
}

.cta-banner-inner {
  padding: 70px 100px;
  text-align: center;
  color: white;
}
.cta-banner-inner .title {
  margin: 0;
}
.cta-banner-inner .subtitle {
  margin: 15px 0 0 0;
}
.cta-banner-inner.gradient-white, .cta-banner-inner.gradient-gray-light, .cta-banner-inner.gradient-grey-light, .cta-banner-inner.gradient-grey-lighter {
  color: black;
}
@media (max-width: 767px) {
  .cta-banner-inner {
    padding: 20px 10px;
  }
}

.wcmmode-edit .hero-banner-carousel .prev,
.wcmmode-edit .hero-banner-carousel .next {
  display: none;
}

.hero {
  overflow: hidden;
  text-align: center;
}
.hero img {
  max-height: none;
  margin: 0 auto;
}
.hero h1, .hero h2, .hero .h2 {
  font-size: 60px;
  margin: 0;
  margin-bottom: 20px;
  padding: 0 60px;
}
.hero h3, .hero .h3, .hero .securecode .securecode__pagination ul .pagination__page-numbers span, .securecode .securecode__pagination ul .pagination__page-numbers .hero span {
  margin: 0;
  margin-bottom: 20px;
  padding: 0 60px;
}
.hero .image.image-bottom {
  margin-top: 20px;
}
.hero .image {
  overflow: hidden;
}
.hero > .hero-banner-wrapper {
  padding: 40px 0;
  position: relative;
}
.hero-banner-carousel .hero > .hero-banner-wrapper {
  height: 100%;
}
.hero > .hero-banner-wrapper.full {
  padding: 0;
}
.hero > .hero-banner-wrapper.full img {
  height: auto;
  max-height: none;
  width: auto;
  max-width: none;
}
.hero > .hero-banner-wrapper.full > .text {
  padding: 50px 0 70px 0;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
}
.hero > .hero-banner-wrapper.full > .text.text-light .text-wrapper {
  color: white;
}
.hero > .hero-banner-wrapper.full > .text.bottom, .hero > .hero-banner-wrapper.full > .text.Bottom {
  top: auto;
  bottom: 0;
}
.hero > .hero-banner-wrapper.full.sizeContent {
  overflow: hidden;
}
.hero > .hero-banner-wrapper.full.sizeContent img {
  margin: auto;
  /*position: absolute;*/
  top: 0;
  right: -1000%;
  bottom: 0;
  left: -1000%;
  max-width: none;
  width: auto;
  height: 100%;
}
.hero > .hero-banner-wrapper.full.sizeCarousel {
  height: 100%;
  overflow: hidden;
}
.hero > .hero-banner-wrapper.full.sizeCarousel img {
  margin: auto;
  position: absolute;
  top: 0;
  right: -1000%;
  bottom: 0;
  left: -1000%;
  max-width: none;
  width: auto;
  height: 100%;
}
@media (max-width: 480px) {
  .hero h1, .hero h2, .hero .h2 {
    font-size: 36px;
    padding: 0 40px;
    word-break: keep-all;
  }
  .hero h3, .hero .h3, .hero .securecode .securecode__pagination ul .pagination__page-numbers span, .securecode .securecode__pagination ul .pagination__page-numbers .hero span {
    margin: 20px 0;
    padding: 0 40px;
  }
  .hero .hero-banner-wrapper {
    padding: 20px 10px;
  }
  .hero .hero-banner-wrapper.full {
    padding: 0;
  }
}

.hero-banner-carousel .text.bottom.hero-banner__text--no-image,
.hero-banner-carousel .text.Bottom.hero-banner__text--no-image {
  position: absolute;
  right: 0;
  bottom: 80px;
  left: 0;
}
.hero-banner-carousel .text-wrapper {
  padding-bottom: 40px;
  z-index: 9999;
}
.hero-banner-carousel .slick-dots {
  height: 40px;
  margin: 0;
  bottom: 20px;
  z-index: 2;
}
.hero-banner-carousel .slick-dots li {
  height: 40px;
  margin: 0 10px;
  padding: 0;
}
.hero-banner-carousel .slick-dots li button {
  background-image: url("../images/slick-dots.png");
  background-position: 0 0;
  background-repeat: no-repeat;
  display: block;
  height: 40px;
  text-indent: -9999px;
  width: 11px;
  height: 11px;
}
.hero-banner-carousel .slick-dots li button:before {
  display: none;
}
.hero-banner-carousel .slick-dots li.slick-active button {
  background-position: 0 -11px;
}
.hero-banner-carousel .items-wrapper {
  position: relative;
  margin: 0 100px;
}
.hero-banner-carousel .bx-wrapper .hero {
  border: 0;
  width: auto;
}
.hero-banner-carousel .prev {
  left: 20px;
}
.hero-banner-carousel .next {
  right: 20px;
}

.wcmmode-edit .hero-banner-light-carousel .prev,
.wcmmode-edit .hero-banner-light-carousel .next {
  display: none;
}

.herolight {
  padding: 0;
  text-align: center;
  width: 100%;
}
.herolight .hero-banner-light-inner {
  font-size: 0;
  overflow: hidden;
  padding: 20px 100px;
  position: relative;
}
.herolight .image,
.herolight .text-wrapper {
  display: inline-block;
  vertical-align: middle;
}
.herolight .image {
  width: 30%;
}
.herolight .text-wrapper {
  width: 70%;
  text-align: center;
  padding: 0px 20px;
}
.herolight .subtitle {
  margin: 10px 0;
}
.herolight .image-right .image, .herolight .image-right .text-wrapper {
  position: relative;
}
.herolight .image-right .image {
  right: -70%;
}
.herolight .image-right .text-wrapper {
  right: 30%;
}
@media (max-width: 767px) {
  .herolight .hero-banner-light-inner {
    padding: 25px;
  }
  .herolight .image,
  .herolight .text-wrapper {
    display: block;
    padding: 0;
    width: 100%;
  }
  .herolight .image-right .image, .herolight .image-right .text-wrapper {
    right: 0;
  }
  .herolight img {
    max-height: none;
    margin: 0 auto;
    width: auto !important;
  }
}
.herolight img {
  width: 100%;
}

.hero-banner-light-carousel .items-wrapper {
  position: relative;
  margin: 0 100px;
}
.hero-banner-light-carousel .bx-wrapper .herolight {
  border: 0;
  width: auto;
}
.hero-banner-light-carousel .prev {
  left: 20px;
}
.hero-banner-light-carousel .next {
  right: 20px;
}
@media (max-width: 767px) {
  .hero-banner-light-carousel .prev {
    left: 5px;
  }
  .hero-banner-light-carousel .next {
    right: 5px;
  }
}

html.RTL .hero-banner-light-inner {
  direction: ltr;
}
html.RTL .hero-banner-light-inner * {
  direction: rtl;
}

.heromini .media {
  padding: 20px;
}
.heromini .media-heading {
  line-height: 22px;
  margin-bottom: 10px;
}
.heromini .media-left {
  float: left;
  max-width: 64px;
  padding-right: 20px;
}

html.RTL .heromini .media-left {
  float: right;
  padding-right: 0;
  padding-left: 20px;
}

.janrain {
  background: #d0d3d4;
  padding: 10px 0;
  text-align: center;
}
.janrain > .janrain-social-sharing {
  margin: 0 auto;
  padding: 0;
}
.janrain > .janrain-social-sharing .janrainShareCountContainer {
  display: none !important;
}
.janrain > .janrain-social-sharing .janrainProviderList {
  height: auto;
  margin: 0 auto;
}
.janrain > .janrain-social-sharing .janrainSocialRoot,
.janrain > .janrain-social-sharing .janrainOrientationHorizontal.janrainSocialRoot {
  height: auto;
}
.janrain > .janrain-social-sharing .janrainSocialRoot button.janrainProvider,
.janrain > .janrain-social-sharing .janrainOrientationHorizontal.janrainSocialRoot button.janrainProvider {
  background-color: transparent;
  border: 0;
  border-radius: 0;
  display: block;
  float: left;
  margin: 10px;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: auto;
  height: auto;
}
.janrain > .janrain-social-sharing .janrainSocialRoot button.janrainProvider img,
.janrain > .janrain-social-sharing .janrainOrientationHorizontal.janrainSocialRoot button.janrainProvider img {
  display: none;
}
.janrain > .janrain-social-sharing .janrainSocialRoot button.janrainProvider div,
.janrain > .janrain-social-sharing .janrainOrientationHorizontal.janrainSocialRoot button.janrainProvider div {
  background-color: transparent;
  background-image: url('../images/social/janrain-sprite.png');
  background-position: 0 -31px;
  background-repeat: no-repeat;
  width: 31px;
  height: 31px;
}
.janrain > .janrain-social-sharing .janrainSocialRoot button.janrainProvider.janrain_native-facebookButton div,
.janrain > .janrain-social-sharing .janrainOrientationHorizontal.janrainSocialRoot button.janrainProvider.janrain_native-facebookButton div {
  background-position: 0px -31px;
}
.janrain > .janrain-social-sharing .janrainSocialRoot button.janrainProvider.janrain_native-facebookButton:hover div,
.janrain > .janrain-social-sharing .janrainOrientationHorizontal.janrainSocialRoot button.janrainProvider.janrain_native-facebookButton:hover div {
  background-position: 0px 0;
}
.janrain > .janrain-social-sharing .janrainSocialRoot button.janrainProvider.janrain_native-googleplusButton div,
.janrain > .janrain-social-sharing .janrainOrientationHorizontal.janrainSocialRoot button.janrainProvider.janrain_native-googleplusButton div {
  background-position: -31px -31px;
}
.janrain > .janrain-social-sharing .janrainSocialRoot button.janrainProvider.janrain_native-googleplusButton:hover div,
.janrain > .janrain-social-sharing .janrainOrientationHorizontal.janrainSocialRoot button.janrainProvider.janrain_native-googleplusButton:hover div {
  background-position: -31px 0;
}
.janrain > .janrain-social-sharing .janrainSocialRoot button.janrainProvider.janrain_native-linkedinButton div,
.janrain > .janrain-social-sharing .janrainOrientationHorizontal.janrainSocialRoot button.janrainProvider.janrain_native-linkedinButton div {
  background-position: -62px -31px;
}
.janrain > .janrain-social-sharing .janrainSocialRoot button.janrainProvider.janrain_native-linkedinButton:hover div,
.janrain > .janrain-social-sharing .janrainOrientationHorizontal.janrainSocialRoot button.janrainProvider.janrain_native-linkedinButton:hover div {
  background-position: -62px 0;
}
.janrain > .janrain-social-sharing .janrainSocialRoot button.janrainProvider.janrain_native-mixiButton div,
.janrain > .janrain-social-sharing .janrainOrientationHorizontal.janrainSocialRoot button.janrainProvider.janrain_native-mixiButton div {
  background-position: -93px -31px;
}
.janrain > .janrain-social-sharing .janrainSocialRoot button.janrainProvider.janrain_native-mixiButton:hover div,
.janrain > .janrain-social-sharing .janrainOrientationHorizontal.janrainSocialRoot button.janrainProvider.janrain_native-mixiButton:hover div {
  background-position: -93px 0;
}
.janrain > .janrain-social-sharing .janrainSocialRoot button.janrainProvider.janrain_native-pinterestButton div,
.janrain > .janrain-social-sharing .janrainOrientationHorizontal.janrainSocialRoot button.janrainProvider.janrain_native-pinterestButton div {
  background-position: -124px -31px;
}
.janrain > .janrain-social-sharing .janrainSocialRoot button.janrainProvider.janrain_native-pinterestButton:hover div,
.janrain > .janrain-social-sharing .janrainOrientationHorizontal.janrainSocialRoot button.janrainProvider.janrain_native-pinterestButton:hover div {
  background-position: -124px 0;
}
.janrain > .janrain-social-sharing .janrainSocialRoot button.janrainProvider.janrain_native-redditButton div,
.janrain > .janrain-social-sharing .janrainOrientationHorizontal.janrainSocialRoot button.janrainProvider.janrain_native-redditButton div {
  background-position: -155px -31px;
}
.janrain > .janrain-social-sharing .janrainSocialRoot button.janrainProvider.janrain_native-redditButton:hover div,
.janrain > .janrain-social-sharing .janrainOrientationHorizontal.janrainSocialRoot button.janrainProvider.janrain_native-redditButton:hover div {
  background-position: -155px 0;
}
.janrain > .janrain-social-sharing .janrainSocialRoot button.janrainProvider.janrain_native-sinaweiboButton div,
.janrain > .janrain-social-sharing .janrainOrientationHorizontal.janrainSocialRoot button.janrainProvider.janrain_native-sinaweiboButton div {
  background-position: -186px -31px;
}
.janrain > .janrain-social-sharing .janrainSocialRoot button.janrainProvider.janrain_native-sinaweiboButton:hover div,
.janrain > .janrain-social-sharing .janrainOrientationHorizontal.janrainSocialRoot button.janrainProvider.janrain_native-sinaweiboButton:hover div {
  background-position: -186px 0;
}
.janrain > .janrain-social-sharing .janrainSocialRoot button.janrainProvider.janrain_native-tumblrButton div,
.janrain > .janrain-social-sharing .janrainOrientationHorizontal.janrainSocialRoot button.janrainProvider.janrain_native-tumblrButton div {
  background-position: -217px -31px;
}
.janrain > .janrain-social-sharing .janrainSocialRoot button.janrainProvider.janrain_native-tumblrButton:hover div,
.janrain > .janrain-social-sharing .janrainOrientationHorizontal.janrainSocialRoot button.janrainProvider.janrain_native-tumblrButton:hover div {
  background-position: -217px 0;
}
.janrain > .janrain-social-sharing .janrainSocialRoot button.janrainProvider.janrain_native-twitterButton div,
.janrain > .janrain-social-sharing .janrainOrientationHorizontal.janrainSocialRoot button.janrainProvider.janrain_native-twitterButton div {
  background-position: -248px -31px;
}
.janrain > .janrain-social-sharing .janrainSocialRoot button.janrainProvider.janrain_native-twitterButton:hover div,
.janrain > .janrain-social-sharing .janrainOrientationHorizontal.janrainSocialRoot button.janrainProvider.janrain_native-twitterButton:hover div {
  background-position: -248px 0;
}
.janrain > .janrain-social-sharing .janrainSocialRoot button.janrainProvider.janrain_native-xingButton div,
.janrain > .janrain-social-sharing .janrainOrientationHorizontal.janrainSocialRoot button.janrainProvider.janrain_native-xingButton div {
  background-position: -279px -31px;
}
.janrain > .janrain-social-sharing .janrainSocialRoot button.janrainProvider.janrain_native-xingButton:hover div,
.janrain > .janrain-social-sharing .janrainOrientationHorizontal.janrainSocialRoot button.janrainProvider.janrain_native-xingButton:hover div {
  background-position: -279px 0;
}
@media (max-width: 1023px) {
  .janrain > .janrain-social-sharing .janrainSocialRoot button.janrainProvider div,
  .janrain > .janrain-social-sharing .janrainOrientationHorizontal.janrainSocialRoot button.janrainProvider div {
    background-position: 310px -61px;
    width: 61px;
    height: 61px;
  }
  .janrain > .janrain-social-sharing .janrainSocialRoot button.janrainProvider.janrain_native-facebookButton div,
  .janrain > .janrain-social-sharing .janrainOrientationHorizontal.janrainSocialRoot button.janrainProvider.janrain_native-facebookButton div {
    background-position: -310px -61px;
  }
  .janrain > .janrain-social-sharing .janrainSocialRoot button.janrainProvider.janrain_native-facebookButton:hover div,
  .janrain > .janrain-social-sharing .janrainOrientationHorizontal.janrainSocialRoot button.janrainProvider.janrain_native-facebookButton:hover div {
    background-position: -310px 0;
  }
  .janrain > .janrain-social-sharing .janrainSocialRoot button.janrainProvider.janrain_native-googleplusButton div,
  .janrain > .janrain-social-sharing .janrainOrientationHorizontal.janrainSocialRoot button.janrainProvider.janrain_native-googleplusButton div {
    background-position: -371px -61px;
  }
  .janrain > .janrain-social-sharing .janrainSocialRoot button.janrainProvider.janrain_native-googleplusButton:hover div,
  .janrain > .janrain-social-sharing .janrainOrientationHorizontal.janrainSocialRoot button.janrainProvider.janrain_native-googleplusButton:hover div {
    background-position: -371px 0;
  }
  .janrain > .janrain-social-sharing .janrainSocialRoot button.janrainProvider.janrain_native-linkedinButton div,
  .janrain > .janrain-social-sharing .janrainOrientationHorizontal.janrainSocialRoot button.janrainProvider.janrain_native-linkedinButton div {
    background-position: -432px -61px;
  }
  .janrain > .janrain-social-sharing .janrainSocialRoot button.janrainProvider.janrain_native-linkedinButton:hover div,
  .janrain > .janrain-social-sharing .janrainOrientationHorizontal.janrainSocialRoot button.janrainProvider.janrain_native-linkedinButton:hover div {
    background-position: -432px 0;
  }
  .janrain > .janrain-social-sharing .janrainSocialRoot button.janrainProvider.janrain_native-mixiButton div,
  .janrain > .janrain-social-sharing .janrainOrientationHorizontal.janrainSocialRoot button.janrainProvider.janrain_native-mixiButton div {
    background-position: -493px -61px;
  }
  .janrain > .janrain-social-sharing .janrainSocialRoot button.janrainProvider.janrain_native-mixiButton:hover div,
  .janrain > .janrain-social-sharing .janrainOrientationHorizontal.janrainSocialRoot button.janrainProvider.janrain_native-mixiButton:hover div {
    background-position: -493px 0;
  }
  .janrain > .janrain-social-sharing .janrainSocialRoot button.janrainProvider.janrain_native-pinterestButton div,
  .janrain > .janrain-social-sharing .janrainOrientationHorizontal.janrainSocialRoot button.janrainProvider.janrain_native-pinterestButton div {
    background-position: -554px -61px;
  }
  .janrain > .janrain-social-sharing .janrainSocialRoot button.janrainProvider.janrain_native-pinterestButton:hover div,
  .janrain > .janrain-social-sharing .janrainOrientationHorizontal.janrainSocialRoot button.janrainProvider.janrain_native-pinterestButton:hover div {
    background-position: -554px 0;
  }
  .janrain > .janrain-social-sharing .janrainSocialRoot button.janrainProvider.janrain_native-redditButton div,
  .janrain > .janrain-social-sharing .janrainOrientationHorizontal.janrainSocialRoot button.janrainProvider.janrain_native-redditButton div {
    background-position: -615px -61px;
  }
  .janrain > .janrain-social-sharing .janrainSocialRoot button.janrainProvider.janrain_native-redditButton:hover div,
  .janrain > .janrain-social-sharing .janrainOrientationHorizontal.janrainSocialRoot button.janrainProvider.janrain_native-redditButton:hover div {
    background-position: -615px 0;
  }
  .janrain > .janrain-social-sharing .janrainSocialRoot button.janrainProvider.janrain_native-sinaweiboButton div,
  .janrain > .janrain-social-sharing .janrainOrientationHorizontal.janrainSocialRoot button.janrainProvider.janrain_native-sinaweiboButton div {
    background-position: -676px -61px;
  }
  .janrain > .janrain-social-sharing .janrainSocialRoot button.janrainProvider.janrain_native-sinaweiboButton:hover div,
  .janrain > .janrain-social-sharing .janrainOrientationHorizontal.janrainSocialRoot button.janrainProvider.janrain_native-sinaweiboButton:hover div {
    background-position: -676px 0;
  }
  .janrain > .janrain-social-sharing .janrainSocialRoot button.janrainProvider.janrain_native-tumblrButton div,
  .janrain > .janrain-social-sharing .janrainOrientationHorizontal.janrainSocialRoot button.janrainProvider.janrain_native-tumblrButton div {
    background-position: -737px -61px;
  }
  .janrain > .janrain-social-sharing .janrainSocialRoot button.janrainProvider.janrain_native-tumblrButton:hover div,
  .janrain > .janrain-social-sharing .janrainOrientationHorizontal.janrainSocialRoot button.janrainProvider.janrain_native-tumblrButton:hover div {
    background-position: -737px 0;
  }
  .janrain > .janrain-social-sharing .janrainSocialRoot button.janrainProvider.janrain_native-twitterButton div,
  .janrain > .janrain-social-sharing .janrainOrientationHorizontal.janrainSocialRoot button.janrainProvider.janrain_native-twitterButton div {
    background-position: -798px -61px;
  }
  .janrain > .janrain-social-sharing .janrainSocialRoot button.janrainProvider.janrain_native-twitterButton:hover div,
  .janrain > .janrain-social-sharing .janrainOrientationHorizontal.janrainSocialRoot button.janrainProvider.janrain_native-twitterButton:hover div {
    background-position: -798px 0;
  }
  .janrain > .janrain-social-sharing .janrainSocialRoot button.janrainProvider.janrain_native-xingButton div,
  .janrain > .janrain-social-sharing .janrainOrientationHorizontal.janrainSocialRoot button.janrainProvider.janrain_native-xingButton div {
    background-position: -859px -61px;
  }
  .janrain > .janrain-social-sharing .janrainSocialRoot button.janrainProvider.janrain_native-xingButton:hover div,
  .janrain > .janrain-social-sharing .janrainOrientationHorizontal.janrainSocialRoot button.janrainProvider.janrain_native-xingButton:hover div {
    background-position: -859px 0;
  }
}

.util ul {
  margin: 0px;
  font-size: 0px;
}
.util a {
  color: black;
}
.util li {
  border-left: solid 1px black;
  padding: 0 10px;
  font-size: 12px;
}
.util li:first-child {
  border-left: none;
  padding-left: 0;
}

html.RTL .util li {
  border-right: solid 1px black;
  border-left: 0;
  padding: 0 10px;
  font-size: 12px;
}
html.RTL .util li:first-child {
  border-right: none;
  padding-right: 0;
}

.promotion-rotating-inner {
  padding: 40px 0;
  text-align: center;
}
.promotion-rotating-inner .prev {
  left: 60px;
}
.promotion-rotating-inner .next {
  right: 60px;
}
.promotion-rotating-inner .items-wrapper {
  padding: 0 140px;
  position: relative;
}
.promotion-rotating-inner h2, .promotion-rotating-inner h3, .promotion-rotating-inner h4 {
  margin: 0;
  padding: 20px 0;
}
.promotion-rotating-inner h4 {
  padding-top: 0;
}
.promotion-rotating-inner ul {
  height: 256px;
  margin: 0;
  padding: 0;
}
.promotion-rotating-inner li {
  list-style: none;
  width: 128px;
  height: 128px;
}
.promotion-rotating-inner li:hover {
  cursor: pointer;
}
.promotion-rotating-inner li .image {
  width: 100%;
  height: 100%;
  overflow: visible;
}
.promotion-rotating-inner li .image img {
  max-height: 100%;
}
.promotion-rotating-inner li .title {
  display: none;
}
@media (max-width: 940px) {
  .promotion-rotating-inner .prev {
    left: 20px;
  }
  .promotion-rotating-inner .next {
    right: 20px;
  }
  .promotion-rotating-inner .items-wrapper {
    padding: 0 80px;
  }
}
@media (max-width: 720px) {
  .promotion-rotating-inner ul {
    height: 160px;
  }
  .promotion-rotating-inner li {
    width: 80px;
    height: 80px;
  }
}

.cq-wcm-edit .promotion-rotating-inner ul {
  height: auto;
}
.cq-wcm-edit .promotion-rotating-inner li {
  width: auto;
  height: auto;
}
.cq-wcm-edit .promotion-rotating-inner li .title {
  display: block;
}
.cq-wcm-edit .promotion-rotating-inner .left, .cq-wcm-edit .promotion-rotating-inner .right {
  visibility: hidden;
}

.promo-row .promotion-rotating-inner .prev {
  left: 20px;
}
.promo-row .promotion-rotating-inner .next {
  right: 20px;
}
.promo-row .promotion-rotating-inner .items-wrapper {
  padding: 0 80px;
}

.wcmmode-edit .related-content-scroller .prev,
.wcmmode-edit .related-content-scroller .next,
.wcmmode-design .related-content-scroller .prev,
.wcmmode-design .related-content-scroller .next {
  display: none;
}
.wcmmode-edit .related-content-scroller .related-content-items,
.wcmmode-design .related-content-scroller .related-content-items {
  visibility: visible;
}

.related-content-scroller {
  background: white;
  padding: 70px 100px;
}
.related-content-scroller h2, .related-content-scroller .h2 {
  margin: 0;
  padding: 0 0 25px 0;
  text-align: center;
}
.related-content-scroller .prev {
  left: 40px;
}
.related-content-scroller .next {
  right: 40px;
}
@media (max-width: 768px) {
  .related-content-scroller {
    padding: 70px 60px;
  }
  .related-content-scroller .prev {
    left: 20px;
  }
  .related-content-scroller .next {
    right: 20px;
  }
  .related-content-scroller.active {
    padding: 20px 0;
  }
}

.related-content-scroller-inner {
  overflow: hidden;
}
.related-content-scroller-inner .items {
  font-size: 0;
}
.related-content-scroller-inner .items-wrapper {
  position: relative;
}

.related-content-items {
  visibility: hidden;
}
.related-content-items .related-content-item {
  margin: 0 10px;
}
.related-content-items .imageWrapper {
  background: #dbdcdc;
}
.related-content-items .imageWrapper img {
  max-width: 100%;
}
.related-content-items .text {
  background: white;
  padding: 20px 0;
}
.related-content-items .title h3 {
  font-size: 21px;
  font-weight: 400;
  line-height: 1;
  margin: 0;
}
@media (max-width: 768px) {
  .related-content-items .title h3 {
    font-size: 18px;
  }
}
.related-content-items .description {
  color: #000014;
  font-size: 16px;
  font-weight: 300;
  margin-top: 8px;
}
@media (max-width: 768px) {
  .related-content-items .description {
    display: none;
  }
}
.related-content-items .cta {
  font-size: 16px;
  margin: 0;
  text-align: center;
  width: 100%;
}

.twitter-banner {
  position: relative;
  padding: 40px 97px;
  font-size: 0px;
}
.twitter-banner .twitter-user,
.twitter-banner .tweets-wrapper {
  display: inline-block;
  vertical-align: middle;
}
.twitter-banner .twitter-user {
  width: 40%;
  text-align: center;
}
.twitter-banner .screen-name,
.twitter-banner .original-screen-name {
  color: #000014;
}
.twitter-banner .screen-name-wrapper,
.twitter-banner .profile-image {
  display: inline-block;
  vertical-align: middle;
}
.twitter-banner .screen-name-wrapper {
  margin-left: 20px;
}
.twitter-banner .screen-name {
  font-size: 30px;
  line-height: 1;
}
.twitter-banner .profile-image {
  border: solid 1px #a2aaac;
  border-radius: 5px;
  height: 54px;
  width: 54px;
  padding: 1px;
}
.twitter-banner .profile-image img {
  border-radius: 4px;
}
.twitter-banner .tweets-wrapper {
  width: 60%;
  margin-top: 10px;
  text-align: center;
}
.twitter-banner .original-screen-name {
  font-size: 21px;
  line-height: 1;
  margin-bottom: 10px;
  display: inline-block;
}
.twitter-banner .tweet-body {
  font-size: 16px;
  font-weight: 700;
  font-style: italic;
  position: relative;
}
.twitter-banner .tweet.retweet .tweet-body {
  padding: 0px 30px;
}
.twitter-banner .tweet.retweet .tweet-body:before, .twitter-banner .tweet.retweet .tweet-body:after {
  font-size: 50px;
  display: inline-block;
  position: absolute;
  top: 2px;
  line-height: 1;
  padding: 0px;
  text-align: right;
}
.twitter-banner .tweet.retweet .tweet-body:before {
  content: '\201C';
  left: -5px;
}
.twitter-banner .tweet.retweet .tweet-body:after {
  content: '\201D';
  right: 5px;
}
.twitter-banner .prev {
  left: 40px;
}
.twitter-banner .next {
  right: 40px;
}
@media (max-width: 767px) {
  .twitter-banner {
    padding: 20px 27px;
  }
  .twitter-banner .twitter-user,
  .twitter-banner .tweets-wrapper {
    width: 100%;
  }
  .twitter-banner .screen-name-wrapper {
    display: block;
    margin: 0px;
    margin-top: 10px;
  }
  .twitter-banner .tweets-wrapper {
    margin-top: 10px;
  }
  .twitter-banner .prev {
    left: 10px;
  }
  .twitter-banner .next {
    right: 10px;
  }
}

html.RTL .twitter-banner .screen-name-wrapper {
  margin-right: 20px;
  margin-left: 0;
}

.swatch-group, .swatch-container, .swatch {
  display: inline-block;
  vertical-align: top;
}

.swatch-group {
  margin-right: 20px;
}

.swatch-container {
  margin: 4px;
  text-align: center;
}

.swatch {
  width: 50px;
  height: 50px;
}

.swatch-red-light {
  background-color: red;
}

.swatch-red {
  background-color: #cc0000;
}

.swatch-red-dark {
  background-color: #990000;
}

.swatch-yellow-light {
  background-color: #ffad33;
}

.swatch-yellow {
  background-color: #ff9900;
}

.swatch-yellow-dark {
  background-color: #cc7a00;
}

.swatch-green-light {
  background-color: #61b337;
}

.swatch-green {
  background-color: #4c8c2b;
}

.swatch-green-dark {
  background-color: #37651f;
}

.swatch-plum-light {
  background-color: #b01499;
}

.swatch-plum {
  background-color: #820f71;
}

.swatch-plum-dark {
  background-color: #540a49;
}

.swatch-violet-light {
  background-color: #6658aa;
}

.swatch-violet {
  background-color: #514689;
}

.swatch-violet-dark {
  background-color: #3d3567;
}

.swatch-teal-light {
  background-color: #00b3b4;
}

.swatch-teal {
  background-color: #008e96;
}

.swatch-teal-dark {
  background-color: #00535e;
}

.swatch-orange-light {
  background-color: #fa6c21;
}

.swatch-orange {
  background-color: #e35205;
}

.swatch-orange-dark {
  background-color: #b14004;
}

.swatch-plum-light {
  background-color: #b01499;
}

.swatch-plum {
  background-color: #820f71;
}

.swatch-plum-dark {
  background-color: #540a49;
}

.swatch-gray-light-1 {
  background-color: #a2aaad;
}

.swatch-gray-light-2 {
  background-color: #d0d3d4;
}

.swatch-gray-dark-1 {
  background-color: #000014;
}

.swatch-gray-dark-2 {
  background-color: #5b6770;
}

.swatch-gray-dark-3 {
  background-color: #a2aaac;
}

.styleguide__section {
  overflow: hidden;
  *zoom: 1;
  padding: 30px 0;
}

.identity-theft {
  text-align: center;
}

.identity-theft__title {
  margin: 0 auto;
  margin-bottom: 40px;
  width: 69%;
}

.identity-theft__subtitle {
  margin: 0;
  margin-bottom: 10px;
}
.identity-theft__subtitle.bold {
  font-weight: 700;
}

.identity-theft__inner {
  padding: 70px 100px;
}

.identity-theft__form {
  padding: 40px 0;
}
.identity-theft__form .err {
  color: #cc0000;
  display: none;
}

.identity-theft__input-group {
  display: table;
  margin: 0 auto;
  margin-bottom: 10px;
}
.identity-theft__input-group input {
  border: 1px solid #a2aaac;
  border-right: 0;
  color: #333333;
  display: table-cell;
  float: left;
  font-size: 16px;
  height: 46px;
  padding-left: 4px;
}
.identity-theft__input-group .btn {
  display: table-cell;
  float: left;
  height: 46px;
}
.identity-theft__input-group p {
  clear: both;
  padding: 0;
  padding-top: 10px;
  text-align: left;
}

.identity-theft__disclaimer {
  color: #3a3a3a;
  margin: 0;
}

@media (max-width: 767px) {
  .identity-theft__inner {
    padding: 70px 20px;
  }

  .identity-theft__title {
    width: 90%;
  }

  .identity-theft__form {
    padding: 20px 0;
  }

  .identity-theft__input-group {
    text-align: left;
    width: 100%;
  }
  .identity-theft__input-group input {
    width: 100%;
    border-right: 1px solid #a2aaac;
  }
  .identity-theft__input-group .btn {
    width: 100%;
  }
}
.dividingline {
  height: 1px;
  background-color: #d0d3d4;
}
