﻿[#layout:ExpiredContent_Extension_Layout.htm]
<tr>
    <td style="color:#141413; font-family:'MarkWebPro-LightW01Regular', Century Gothic, Arial, Helvetica, sans-serif; font-size:16px; line-height:22px;" valign="top" align="left">Hello [#ToName],<br> the user [#UserFirstName] is not the business owner of the following asset, which need to be reassigned:</td>
</tr>
<tr>
    <td style="padding: 16px 0px; color:#141413; font-family:'MarkWebPro-LightW01Regular', Century Gothic, Arial, Helvetica, sans-serif; font-size:16px; max-width: 600px; word-wrap: break-word;" valign="top" align="left">
        <table style="width:100%; color:#141413; font-family:'MarkWebPro-LightW01Regular', Century Gothic, Arial, Helvetica, sans-serif; font-size:16px; max-width: 600px; word-wrap: break-word;">
            <tbody>
                <tr>
                    <td style="width:75%; color:#141413; font-family:'MarkWebPro-LightW01Regular', Century Gothic, Arial, Helvetica, sans-serif; font-size:16px; max-width: 600px; word-wrap: break-word;" valign="top" align="left">
                        <span class="asset-title">[#AssetTitle]</span>
                    </td>
                    <td style="width:25%; text-align: center; color:#141413; font-family:'MarkWebPro-LightW01Regular', Century Gothic, Arial, Helvetica, sans-serif; font-size:16px; max-width: 600px; word-wrap: break-word;" valign="top" align="left">
                        <span class="extend-actions"><a href="[#EditAssetUrl]">view more</a></span>
                    </td>
                </tr>
            </tbody>
        </table>
    </td>
</tr>
<tr>
    <td style="color:#141413; font-family:'MarkWebPro-LightW01Regular', Century Gothic, Arial, Helvetica, sans-serif; font-size:16px; line-height:22px; max-width: 600px; word-wrap: break-word;" valign="top" align="left">[#UserFirstName] comments: [#Comment]</td>
</tr>
<tr>
    <td style="font-size:25px; line-height:25px; mso-line-height-rule: exactly;" valign="top" height="25">&nbsp;</td>
</tr>
<tr>
    <td style="color:#141413; font-family:'MarkWebPro-LightW01Regular', Century Gothic, Arial, Helvetica, sans-serif; font-size:16px; line-height:22px; max-width: 600px; word-wrap: break-word;" valign="top" align="left">Or, visit the administration pages to <a href="[#AssetList]">review all content.</a></td>
</tr>
<tr>
    <td style="font-size:25px; line-height:25px; mso-line-height-rule: exactly;" valign="top" height="25">&nbsp;</td>
</tr>
<tr>
    <td style="color:#141413; font-family:'MarkWebPro-LightW01Regular', Century Gothic, Arial, Helvetica, sans-serif; font-size:16px; line-height:22px; max-width: 600px; word-wrap: break-word;" valign="top" align="left">
        For more information send us an email to:<br />
        [#ContactUsAddresses]
    </td>
</tr>