﻿.mc-modal .mc-comments {
    overflow: hidden;
    background: #ffffff;
    height: 100%;
}

.mc-comments--added-comment {
    font-size: 13px;
    color: #6cbcc1;
    font-weight: bold;
    display: contents;
}

#modalCommentsParent .close-link {
    padding-left: 94%;
}

.slimScrollBar, .slimScrollRail {
    margin-right: 6%;
}




@media (min-width: 1024px) {
    #commentsWidget {
        margin: auto;
        box-shadow: 0 1px 16px 0 rgba(0, 0, 0, 0.1);
    }

    .mc-modal #commentsWidget {
        max-width: 740px;
        width: auto;
    }
}

@media (max-width: 768px) {

    #commentsWidget {
        margin: auto;
        box-shadow: 0 1px 16px 0 rgba(0, 0, 0, 0.1);
    }

    .mc-comments--form {
        justify-content: end;
        flex-wrap: wrap;
    }

        .mc-comments--form #newComment {
            width: 100%;
        }
}

@media (max-width: 480px) {
    #commentsWidget {
        margin: auto;
        box-shadow: 0 1px 16px 0 rgba(0, 0, 0, 0.1);
    }
}

#modalComments {
    border-radius: 8px;
}

.line-wrapper {
    width: 1px;
    height: 100%;
    margin-left: -53px;
    margin-bottom: -50px;
    margin-top: 6px;
    position: relative;
}

    .line-wrapper .line {
        width: 1px;
        height: 50px;
        background: #d9d9d9;
        position: absolute;
    }

.mc-comments--item:last-child .line {
    display: none;
}

.mc-comments-total {
    font-size: 13px;
    float: right;
    color: #d6d6d6;
    font-weight: bold;
}

#commentsWidget .mc-modal--header {
    position: relative;
    background-color: #ffffff;
}

.mc-comments .titles .subtitle {
    font-size: 16px;
}

.mc-comments--item .mc-comments-added-date {
    padding-bottom: 10px;
    top: 5px;
    color: #a1a1a1;
}

.mc-comments .mc-comments--body .mc-comments--item .mc-comments--text {
    padding: 16px 20px 40px;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.57;
    letter-spacing: normal;
    color: #000000;
    background: #fff;
    border-radius: 4px;
    word-wrap: break-word;
    word-break: break-all;
}

.mc-comments .mc-comments--body .mc-comments--item .mc-comments--author {
    display: flex;
    position: relative;
    padding: 0px 0;
}

.mc-comments .mc-comments--body .mc-comments--item.me .mc-comments--author {
    flex-direction: row-reverse;
}

    .mc-comments .mc-comments--body .mc-comments--item.me .mc-comments--author .mc-comments--avatar {
        left: auto;
        right: -48px;
    }

.mc-modal .mc-modal--content .mc-modal--body .mc-comments .mc-comments--body .mc-comments--item.me {
    padding-left: 40px;
    padding-right: 60px;
}

.mc-comments .mc-comments--body .mc-comments--item {
    margin: 0;
    padding: 12px 88px 12px 92px;
}

    .mc-comments .mc-comments--body .mc-comments--item .mc-comments--author .mc-comments--avatar {
        position: absolute;
        top: 15px;
        left: -52px;
        width: 40px;
        height: 40px;
        line-height: 40px;
        text-align: center;
        background: #e1e1e1;
        font-weight: bold;
        font-family: sans-serif;
        color: #a2a2a2;
        border-radius: 50%;
    }

.mc-comments--form .mc-comments--author .mc-comments--avatar {
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    background: #e1e1e1;
    font-weight: bold;
    font-family: sans-serif;
    color: #a2a2a2;
    border-radius: 50%;
}

.mc-comments .mc-comments--body .mc-comments--item .mc-comments--author h4 {
    margin: 0 10px 0 0;
    display: inline-block;
    font-weight: bold;
    font-size: 12px;
    line-height: normal;
    font-style: normal;
    font-stretch: normal;
    text-transform: uppercase;
    letter-spacing: normal;
    color: #000000;
}

.mc-comments .mc-comments--body .mc-comments--item .mc-comments--author small {
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #5b676f;
}

.mc-comments .titles {
    position: relative;
    z-index: 9;
    margin: 0;
    padding: 32px 40px;
    font-size: 32px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: -0.3px;
    color: #000000;
    background-color: #fff;
    flex-direction: column;
    display: flex;
}

.mc-comments .mc-comments--form {
    display: flex;
    position: relative;
    z-index: 9;
    padding: 32px 40px;
}

    .mc-comments .mc-comments--form input[type="text"] {
        flex: 1;
        opacity: 0.75;
        padding: 13px;
        background-color: #fff;
        font-size: 16px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 22px;
        letter-spacing: normal;
        color: #5b676f;
        border: 1px solid grey;
        margin-left: 30px;
    }

.mc-modal .mc-modal--content .mc-modal--body .mc-comments .mc-comments--form {
    background: #fff;
}

.mc-comments .mc-comments--form a.add-link {
    flex: 0 0 100px;
    font-size: 16px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 22px;
    letter-spacing: normal;
    text-align: center;
    text-transform: uppercase;
    padding-top: 15px;
    background: #f99000;
    color: #fff;
    border-radius: 5px;
    margin-left: 20px;
}

    .mc-comments .mc-comments--form a.add-link[disabled] {
        cursor: not-allowed;
        pointer-events: none;
        opacity: 0.65;
        filter: alpha(opacity=65);
        -webkit-box-shadow: none;
        box-shadow: none;
    }

.mc-modal .mc-modal--content .mc-modal--body .mc-comments .mc-comments--form a.add-link {
    background: #f99000;
    color: #fff;
    border-radius: 5px;
    margin-left: 20px;
}

    .mc-modal .mc-modal--content .mc-modal--body .mc-comments .mc-comments--form a.add-link:hover, .mc-modal .mc-modal--content .mc-modal--body .mc-comments .mc-comments--form a.add-link:active {
        text-decoration: none;
    }

#mc-comments--error--wrapper .mc-modal--header.comments,
#mc-comments--success--wrapper .mc-modal--header.comments {
    position: relative;
    padding: 80px 64px 64px;
    background-color: #242423;
}
