#PC08 .calendar {
	font-size: 10px;
	font-weight: bold;
	width: 644px;
}

#PC08 .title {

float:left;
font-size:10px;
height:100%;
overflow:hidden;
width:100px;
}

#PC08 .month {
border-left:1px solid white;
float:left;
font-size:10px;
height:100%;
text-align:center;
width:35px;
}

#PC08 .ongoing {
	background:none;
	filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/portal/inc/calendar/pc10_includes/ongoing.png' ,sizingMethod='crop');
}

#PC08 .orderperiod i {
	background:none;
	filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/portal/inc/calendar/pc10_includes/orderperiod.png' ,sizingMethod='crop');
}
#PC08 .orderperiod u {
	background:none;
	filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/portal/inc/calendar/pc10_includes/orderperiod_end.png' ,sizingMethod='crop');
}
#PC08 .inmarket i {
	background:none;
	filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/portal/inc/calendar/pc10_includes/inmarket.png' ,sizingMethod='crop');
}
#PC08 .inmarket u {
	background:none;
	filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/portal/inc/calendar/pc10_includes/inmarket_end.png' ,sizingMethod='crop');
	}
#PC08 .orderperiod.over i {
	background:none;
	filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/portal/inc/calendar/pc10_includes/orderperiod_half.png' ,sizingMethod='crop');
}
#PC08 .orderperiod.over u {
	background:none;
	filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/portal/inc/calendar/pc10_includes/orderperiod_half_end.png' ,sizingMethod='crop');
	}
#PC08 .inmarket.under i {
	background:none;
	filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/portal/inc/calendar/pc10_includes/inmarket_half.png' ,sizingMethod='crop');

}
#PC08 .inmarket.under u {
	background:none;
	filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/portal/inc/calendar/pc10_includes/inmarket_half_end.png' ,sizingMethod='crop');
}	
#CalendarBubbleArrow {
	background:none;
	filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/portal/inc/calendar/pc10_includes/bubble_arrow.png' ,sizingMethod='crop');
}
/*.block .bt {
	background:none;
	filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/portal/inc/calendar/pc10_includes/bubble.png' ,sizingMethod='crop');
	margin:0 0 0 0px;
	height:9px;

	position: relative;
}*/
.block .bt div {
		height:9px;
	width:10px;
	position:relative;
	left:-10px;
	background:none;
	filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/portal/inc/calendar/pc10_includes/bubble.png' ,sizingMethod='crop');

	}
* html .block .block .bt div {
	left: 0;
}

.block .bb {
	background:url(bubble.png) no-repeat 100% 100%;
	margin:0 0 0 10px;
	height:9px;
}
.block .bb div {
	height:9px;
	width:10px;
	position:relative;
	left:-10px;
	background:url(bubble.png) no-repeat 0 100%;
}

.block .i1 {
	padding:0 0 0 10px;
	background: transparent url(bubble_borders.png) repeat-y 0 0;
}
.block .i2 {
	padding:0 5px 0 0;
	background: transparent url(bubble_borders.png) repeat-y 100% 0;
}

#menu-tabs { position: relative; top:3px;  }