﻿@using Mastercard.MarketingCenter.Services.Interfaces;
@using System.Web.Mvc;
@model ProfileEmailNotificationsViewModel
@section Title {
    @Resources.Forms.YourProfile
}
@section sectionHead {
    @{ var urlService = DependencyResolver.Current.GetService<IUrlService>(); }
    @System.Web.Optimization.Styles.Render(urlService.GetStaticTriggerMarketingCss())
    @System.Web.Optimization.Scripts.Render(urlService.GetStaticTriggerMarketingJs())
}
@* Breadcrumbs *@
<nav class="breadcrumbs grid-spaces-in">
    <a href="/portal" class="path " tracking-type="breadcrumb">@Resources.Shared.Home</a>
    <span>@Resources.Forms.YourProfile</span>
</nav>
<div class="content-container">
    <div class="content-container content-spaces-in spaces-vertical-in">
        @{ Html.RenderAction("InitializeTabHeader", "Profile", new { activeTab = Resources.Forms.EmailNotifications, returnUrl = Model.ReturnUrl }); }
        @using (Html.BeginForm("EmailNotifications", "Profile", FormMethod.Post, new { id = "email-notifications", @class = "form" }))
        {
            @Html.AntiForgeryToken()
            @Html.HiddenFor(model => model.ReturnUrl)

            <p class="mc-lead text-gray">@Html.Raw(string.Format(Resources.Forms.EmailNotifications_Description, Url.Action("MyFavorites")))</p>

            <ul class="notification-list">
                <li>
                    <label v-bind:class="{ 'active': frequency === '@MarketingCenterDbConstants.UserSubscriptionFrequency.Never' }">
                        <img src="/portal/content/images/profile/notification-never.png" alt="@MarketingCenterDbConstants.UserSubscriptionFrequency.Never" /><br />
                        <input name="frequency" type="radio" value="@MarketingCenterDbConstants.UserSubscriptionFrequency.Never" v-model="frequency" /> @Resources.Forms.EmailNotifications_Never*
                    </label>
                </li>
                <li>
                    <label v-bind:class="{ 'active': frequency === '@MarketingCenterDbConstants.UserSubscriptionFrequency.Daily' }">
                        <img src="/portal/content/images/profile/notification-daily.png" alt="@MarketingCenterDbConstants.UserSubscriptionFrequency.Daily" /><br />
                        <input name="frequency" type="radio" value="@MarketingCenterDbConstants.UserSubscriptionFrequency.Daily" v-model="frequency" /> @Resources.Forms.EmailNotifications_Daily
                    </label>
                </li>
                <li>
                    <label v-bind:class="{ 'active': frequency === '@MarketingCenterDbConstants.UserSubscriptionFrequency.Weekly' }">
                        <img src="/portal/content/images/profile/notification-weekly.png" alt="@MarketingCenterDbConstants.UserSubscriptionFrequency.Weekly" /><br />
                        <input name="frequency" type="radio" value="@MarketingCenterDbConstants.UserSubscriptionFrequency.Weekly" v-model="frequency" /> @Resources.Forms.EmailNotifications_Weekly
                    </label>
                </li>
            </ul>

            <div class="form-group btn-group">
                <span class="mc-lead text-gray">@Html.Raw(Resources.Forms.EmailNotifications_Confirmation)</span>
                <div class="paddt">
                    <button id="save-button" type="submit" class="btn mc-btn-action" href="javascript:void(0);">@Resources.Shared.Save</button>
                    <a id="cancel-button" class="btn mc-btn-default" href="@Model.ReturnUrl">@Resources.Shared.Back</a>
                </div>
            </div>
            <span class="text-gray">@Html.Raw(Resources.Forms.EmailNotifications_NeverDescription)</span>
        }
        <script>
            const app = new Vue({
                el: '#email-notifications',
                data: {
                    frequency: '@Model.Frequency'
                },
                watch: {
                    frequency: function (value) {
                        $('#cancel-button').text('@Resources.Shared.Cancel');
                    }
                }
            });

            if ('@ViewBag.ProfileSuccess' == 'True') {
                $('#message-success').removeClass('hide').fadeOut(0).fadeIn(1000);

                if ('@Model.Frequency' == '@MarketingCenterDbConstants.UserSubscriptionFrequency.Daily') {
                    $('#message-success-frequency-daily').removeClass('hide');
                }
                else if ('@Model.Frequency' == '@MarketingCenterDbConstants.UserSubscriptionFrequency.Weekly') {
                    $('#message-success-frequency-weekly').removeClass('hide');
                }
            }
            else if ('@ViewBag.ProfileSuccess' == 'False') {
                $('#message-error').removeClass('hide').fadeOut(0).fadeIn(1000);
            }
        </script>
    </div>
</div>