﻿@using Mastercard.MarketingCenter.Common.Extensions
@using Mastercard.MarketingCenter.Services;
@using Mastercard.MarketingCenter.Services.Interfaces
@using System.Web.Mvc;
@model ProfileIndexViewModel
@section Title {
    @Resources.Forms.YourProfile
}
@section sectionHead {
    @{ var urlService = DependencyResolver.Current.GetService<IUrlService>(); }
    @System.Web.Optimization.Styles.Render(urlService.GetStaticTriggerMarketingCss())
    @System.Web.Optimization.Scripts.Render(urlService.GetStaticTriggerMarketingJs())
}
@{
    var userContext = DependencyResolver.Current.GetService<UserContext>();
    var region = string.IsNullOrEmpty(userContext.User.Region) ? "us" : userContext.User.Region.Trim();
}
@* Breadcrumbs *@
<nav class="breadcrumbs grid-spaces-in">
    <a href="/portal" class="path " tracking-type="breadcrumb">@Resources.Shared.Home</a>
    <span>@Resources.Forms.YourProfile</span>
</nav>
<div class="content-container">
    <div class="content-container content-spaces-in spaces-vertical-in">
        @{ Html.RenderAction("InitializeTabHeader", "Profile", new { activeTab = Resources.Shared.Profile, returnUrl = Model.ReturnUrl }); }

        @using (Html.BeginForm("Index", "Profile", FormMethod.Post, new { id = "profile", @class = "form" }))
        {
            @Html.AntiForgeryToken()
            @Html.HiddenFor(model => model.ReturnUrl)

            <div id="profile-message-error" class="mc-message error hide">
                @if (!ViewData.ModelState.IsValid)
                {
                    var errors = ViewData.ModelState.SelectMany(o => o.Value.Errors);
                    foreach (var error in errors)
                    {
                        @Html.Raw(error.ErrorMessage)<br />
                    }
                }
            </div>
            <p class="mc-lead text-gray">@Resources.Forms.UserProfile_CompleteProfile</p>
            <div class="row columns">
                <div class="column col-sm-5">
                    <div class="form-group">
                        <label class="form-label">@Resources.Forms.FirstName<span class="req-mark">*</span></label>
                        @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control" })
                    </div>
                    <div class="form-group">
                        <label class="form-label">@Resources.Forms.LastName<span class="req-mark">*</span></label>
                        @Html.TextBoxFor(m => m.LastName, new { @class = "form-control" })
                    </div>
                    <div class="form-group">
                        <label class="form-label">@Resources.Forms.Title<span class="req-mark">*</span></label>
                        @Html.TextBoxFor(m => m.Title, new { @class = "form-control" })
                    </div>
                    <div class="form-group">
                        <label class="form-label">@Resources.Forms.FinancialInstitution<span class="req-mark">*</span></label>
                        @Html.TextBoxFor(m => m.IssuerName, new { @class = "form-control" })
                    </div>
                    <div class="form-group">
                        <label class="form-label">@Resources.Forms.Processor</label>
                        @if (region == null || (region.ToLower() != "us"))
                        {
                            <label class="label-help"> @Resources.Forms.ProcessorsHelp </label>
                        }
                        @Html.TextBoxFor(m => m.Processor, new { @class = "form-control" })
                    </div>
                    <div class="form-group">
                        <label class="form-label">@Resources.Forms.Phone<span class="req-mark">*</span></label>
                        @Html.TextBoxFor(m => m.Phone, new { @class = "form-control" })
                    </div>
                    <div class="form-group">
                        <label class="form-label">@Resources.Forms.Mobile</label>
                        @Html.TextBoxFor(m => m.Mobile, new { @class = "form-control" })
                    </div>
                    @if (string.IsNullOrEmpty(region) || region.ToLower() == "us")
                    {
                        <div class="form-group">
                            <label class="form-label">@Resources.Forms.Fax</label>
                            @Html.TextBoxFor(m => m.Fax, new { @class = "form-control" })
                        </div>
                    }
                    <div class="form-group">
                        <label class="form-label">@Resources.Forms.BusinessEmailAddress</label>
                        @Html.HiddenFor(m => m.Email)
                        <span class="form-control">@Model.Email</span>
                    </div>
                    <div class="form-group">
                        <label class="form-label">@Resources.Forms.FinancialInstitutionIcaNumber</label>
                        @Html.HiddenFor(m => m.IssuerIca)
                        <span class="form-control">@Model.IssuerIca</span>
                    </div>
                </div>
                <div class="cols-separator col-sm-2"></div>
                <div class="column col-sm-5">
                    <div class="form-group">
                        <label class="form-label">@Resources.Forms.Country <span class="req-mark">*</span></label>
                        @((Model.Countries.Count > 1) ? Html.Raw("") :
                                    Html.TextBox("CountyText", Model.Countries.FirstOrDefault(c => c.Key.Equals(Model.Country, StringComparison.InvariantCultureIgnoreCase)).Value, new { @class = "form-control", @readonly = "readonly" }))
                        @Html.DropDownListFor(m => m.Country, new SelectList(Model.Countries.ToList().OrderBy(i => i.Value), "Key", " Value", Model.Country), new { @class = "form-control", @style = (Model.Countries.Count > 1 ? "" : "display:none") })
                    </div>
                    @if (Model.Languages.Count > 1)
                    {
                        <div class="form-group">
                            <label class="form-label">@Resources.Forms.Language <span class="req-mark">*</span></label>
                            @Html.DropDownListFor(m => m.Language, new SelectList(Model.Languages.ToList().OrderBy(i => i.Value), "Key", " Value", Model.Language), new { @class = "form-control" })
                        </div>
                    }
                    else
                    {
                        @Html.HiddenFor(m => m.Language)
                    }
                    <div class="form-group">
                        <label class="form-label">@Resources.Forms.Address1 @Html.Raw((region.Equals("us", StringComparison.OrdinalIgnoreCase) || region.Equals("de", StringComparison.OrdinalIgnoreCase) ? "<span class=\"req-mark\">*</span>" : ""))</label>
                        <label class="label-help"> @Resources.Forms.Address1Help </label>
                        @Html.TextBoxFor(m => m.Address1, new { @class = "form-control" })
                    </div>
                    <div class="form-group">
                        <label class="form-label">@Resources.Forms.Address2</label>
                        @Html.TextBoxFor(m => m.Address2, new { @class = "form-control" })
                    </div>
                    <div class="form-group">
                        <label class="form-label">@Resources.Forms.Address3</label>
                        @Html.TextBoxFor(m => m.Address3, new { @class = "form-control" })
                    </div>
                    <div class="form-group">
                        <label class="form-label">@Resources.Forms.City @Html.Raw((region.Equals("us", StringComparison.OrdinalIgnoreCase) || region.Equals("de", StringComparison.OrdinalIgnoreCase) ? "<span class=\"req-mark\">*</span>" : ""))</label>
                        @Html.TextBoxFor(m => m.City, new { @class = "form-control" })
                    </div>
                    @if (string.IsNullOrEmpty(@region) || @region.Trim().Equals("us", StringComparison.InvariantCultureIgnoreCase))
                    {
                        <div class="form-group">
                            <label class="form-label"> @Resources.Forms.StateUS<span class="req-mark">*</span></label>
                            @Html.DropDownListFor(m => m.State, new SelectList(Model.States, "StateName", "StateName", Model.State), new { @class = "form-control" })
                        </div>
                    }
                    else
                    { <div class="form-group">
                            <label class="form-label">@Resources.Forms.State </label>
                            @Html.TextBoxFor(m => m.State, new { @class = "form-control" })
                        </div>
                    }
                    <div class="form-group">
                        <label class="form-label">@Html.Raw((region.Equals("us", StringComparison.OrdinalIgnoreCase) || region.Equals("de", StringComparison.OrdinalIgnoreCase) ? Resources.Forms.ZipCodeUS + "<span class=\"req-mark\">*</span>" : Resources.Forms.ZipCode))</label>
                        @Html.TextBoxFor(m => m.ZipCode, new { @class = "form-control" })
                    </div>

                    <div class="form-group">
                        <label class="form-label">@Resources.Forms.Password</label>
                        <a class="form-control" href="@(Path.Combine(Slam.Cms.Configuration.ConfigurationManager.Environment.FrontEndUrl, "changepassword"))" target="_top">@Resources.Forms.ChangePassword</a>
                    </div>
                </div>
            </div>
            <div class="form-group btn-group">
                <div class="control-label"><span class="req-mark">@Resources.Forms.RequiredField</span></div>
                @Html.RenderByFeatureIfAnyIsOff(
                                "<div class=\"form-group\"> <div class=\"mc-lead text-gray\">" + string.Format(Model.OptOutText, Model.OptOutLink) + "</div></div>",
                         new string[] { "ShowTab.MyFavorites", "ShowTab.EmailNotifications" })
                <div class="paddt">
                    <button id="save-button" type="submit" class="btn mc-btn-action" href="javascript:void(0);">@Resources.Shared.Save</button>
                    <a id="cancel-button" class="btn mc-btn-default" href="@Model.ReturnUrl">@Resources.Shared.Back</a>
                </div>
            </div>
        }
        <script>
            $('input, select').on('change', function () {
                $('#cancel-button').text('@Resources.Shared.Cancel');
            });

            if ('@ViewBag.ProfileSuccess' == 'True') {
                $('#message-success').removeClass('hide').fadeOut(0).fadeIn(1000);
            }
            else if ('@ViewBag.ProfileSuccess' == 'False') {
                $('#profile-message-error').removeClass('hide').fadeOut(0).fadeIn(1000);
            }
        </script>
    </div>
</div>