﻿@using System.Web.Mvc;
@using Mastercard.MarketingCenter.Services.Interfaces
@model ProfileMyFavoritesViewModel

@section Title {
    @Resources.Forms.YourProfile
}
@section sectionHead {
    @{ var urlService = DependencyResolver.Current.GetService<IUrlService>(); }
    @System.Web.Optimization.Styles.Render(urlService.GetStaticTriggerMarketingCss())
    @System.Web.Optimization.Scripts.Render(urlService.GetStaticTriggerMarketingJs())
}
@* Breadcrumbs *@
<nav class="breadcrumbs grid-spaces-in">
    <a href="/portal" class="path " tracking-type="breadcrumb">@Resources.Shared.Home</a>
    <span>@Resources.Forms.YourProfile</span>
</nav>
<div class="content-container">
    <div class="content-container content-spaces-in spaces-vertical-in">
        @{ Html.RenderAction("InitializeTabHeader", "Profile", new { activeTab = Resources.Forms.MyFavorites, returnUrl = Model.ReturnUrl }); }
        @using (Html.BeginForm("MyFavorites", "Profile", FormMethod.Post, new { id = "my-favorites", @class = "form" }))
        {
            @Html.AntiForgeryToken()
            @Html.HiddenFor(model => model.ReturnUrl)

            foreach (var contentItemUserSubscription in Model.ContentItemUserSubscriptions)
            {
                <input name="AssignedContentItemIds" type="hidden" value="@contentItemUserSubscription.ContentItemId" />
            }

            <p class="mc-lead text-gray">
                @Html.Raw(string.Format(Resources.Forms.MyFavorites_Description,
                          string.Format("<span class='notify-me-icon'>{0}&nbsp;<i class='fa fa-heart' aria-hidden='true'></i></span>", Resources.Forms.MyFavorites_Add)))
            </p>

            if (Model.ContentItemUserSubscriptions.Count() > 0)
            {
                <favorite-list v-bind:pages="items"></favorite-list>
            }

            <div class="form-group btn-group">
                <div class="paddt">
                    <button id="save-button" type="submit" class="btn mc-btn-action" href="javascript:void(0);">@Resources.Shared.Save</button>
                    <a id="cancel-button" class="btn mc-btn-default" href="@Model.ReturnUrl">@Resources.Shared.Back</a>
                </div>
            </div>
        }
        @Html.BuildProfileMyFavoritesPages(Model.ContentItemUserSubscriptions)
        <script type="text/x-template" id="favorite-list-template">
            <div class="mc-page-list">
                <div class="mc-page-item" v-for="item in pages" v-bind:class="{ 'subscribed': item.subscribed }">
                    <div class="mc-page-title" v-on:click="subscribe(item)">
                        <span class="title-link">
                            <a class="subscription-link" href="javascript:void(0);"></a>
                            <span v-html="item.title">
                                {{ item.title }}
                            </span>
                            <input type="hidden" name="SelectedContentItemIds" v-model="item.id" v-if="item.subscribed" />
                        </span>
                    </div>
                </div>
            </div>
        </script>
        <script>
            const app = new Vue({
                el: '#my-favorites',
                data: {
                    items: pages
                }
            });

            $('.mc-page-item').on('click', function () {
                $('#cancel-button').text('@Resources.Shared.Cancel');
            });

            if ('@ViewBag.ProfileSuccess' == 'True') {
                $('#message-success').removeClass('hide').fadeOut(0).fadeIn(1000);
            }
            else if ('@ViewBag.ProfileSuccess' == 'False') {
                $('#message-error').removeClass('hide').fadeOut(0).fadeIn(1000);
            }
        </script>
    </div>
</div>