﻿@using System.Web.Mvc;
@using Mastercard.MarketingCenter.Services.Interfaces
@model ProfileSubscriptionViewModel
@if (!Model.HideSubscriptions)
{
    <div class="page-section grid-spaces-in subscribe">
        @if (Model.IsUserSubscribed)
        {
            <span id="cmdSubscriptionAction[@Model.ContentItemId]" class="btn btn-gray-light">
                <span id="textValue" style="cursor:default;">@Resources.Forms.MyFavorites_Remove</span>&nbsp;
                <i id="icon" class="fa fa-check fa-fw icon icon-show" aria-hidden="true"></i>
                <i id="loading" class="fa fa-spinner fa-pulse fa-fw loading loading-hide" aria-hidden="true"></i>
            </span>
        }
        else
        {
            <span id="cmdSubscriptionAction[@Model.ContentItemId]" class="btn btn-orange-light">
                <span id="textValue" style="cursor:default;">@Resources.Forms.MyFavorites_Add</span>&nbsp;
                <i id="icon" class="fa fa-heart fa-fw icon icon-show" aria-hidden="true"></i>
                <i id="loading" class="fa fa-spinner fa-pulse fa-fw loading loading-hide" aria-hidden="true"></i>
            </span>
        }
    </div>

    <script src="~/content/scripts/subscription/subscription.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            var subscripton = Object.create(subscription, {
                contentItemId: {value: "@Model.ContentItemId"},
                isSubscribed: {value: @Json.Encode(Model.IsUserSubscribed)},
                textAdd: {value: "@Resources.Forms.MyFavorites_Add"},
                textRemove: {value: "@Resources.Forms.MyFavorites_Remove"}
            });

            subscripton.init();
        }, false);
    </script>

    <div id="showFirstTimeSubscribeModal" class="hid dialog-text" style="display:none;">
        <div class="page-section slides-section">
            <div class="mc-content-customize-start">
                <div class="mc-body">
                    <h2>
                        @Html.Raw(string.Format(Resources.Forms.FirstTimeSubscribeModal_Text, Model.FrecuencyText.ToLower()))
                    </h2>
                    <div class="actions">
                        <button id="showFirstTimeSubscribeModalClose" class="btn">@Resources.Shared.Ok</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="showNeverFrecuencyMessageModal" class="hid dialog-text" style="display:none;">
        <div class="page-section slides-section">
            <div class="mc-content-customize-start">
                <div class="mc-body">
                    <h2>
                        @Html.Raw(Resources.Forms.NeverFrecuencyMessageModal_Text)
                    </h2>
                    <div class="actions">
                        <a id="showNeverFrecuencyMessageModalOk" href="/portal/Profile/EmailNotifications?returnUrl=@this.Request.RawUrl" class="btn">@Resources.Shared.Ok</a>
                        <button id="showNeverFrecuencyMessageModalNotNow" class="btn">@Resources.Shared.NotNow</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    @System.Web.Optimization.Styles.Render(DependencyResolver.Current.GetService<IUrlService>().GetStaticTriggerMarketingCss())
}