﻿@model TabHeaderViewModel
<header class="content-header intro">
    <h1>@Resources.Forms.YourProfile</h1>
    <div class="nav-button-wrapper row">
        <ul class="nav-button-list" style="float:right;">
            @foreach (var tab in Model.Tabs)
            {
                <li class="@(tab.Name == Model.ActiveTab ? "active" : string.Empty)">
                    <a href="@Url.Action(tab.Action, Model.Controller, new { returnUrl = tab.ReturnUrl })" tracking-type="tab">@tab.Name</a>
                </li>
            }
        </ul>
    </div>
    <div id="message-success" class="mc-message success hide row">
        @Resources.Forms.YourProfile_SuccessMessage
        <span id="message-success-frequency-daily" class="hide">@Resources.Forms.YourProfile_SuccessFrequencyDaily</span>
        <span id="message-success-frequency-weekly" class="hide">@Resources.Forms.YourProfile_SuccessFrequencyWeekly</span>
    </div>
    <div id="message-error" class="mc-message error hide row">
        @Resources.Errors.AdministratorUpdatedSubscription
    </div>
</header>