﻿@using Mastercard.MarketingCenter.Common
@{
    ViewBag.Title = "Unsubscribe";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}
<link href="@Url.Content("~/Content/styles/sad-message.css")" rel="stylesheet" type="text/css" />
@section  Title{
    Unsubscribe
}
<div>
    <div class="sad-message-bar">
        <img class="sad-image" src="@Model.ImageUrl" alt="@Html.Raw(Resources.Shared.SuccesfullyUnsubscribed)" />
    </div>
    <div>
        <h2 class="unsubscribed sad-message-title">@Html.Raw(Resources.Shared.SuccesfullyUnsubscribed)</h2>
        <p class="unsubscribed sad-message">@Html.Raw(Resources.Shared.UnsubscribedMessage)</p>
    </div>
</div>