﻿@model ManageIssuersModel

@section HeaderTitle
{
    Manage Issuers
}

@section head
{
    @System.Web.Optimization.Scripts.Render("~/bundles/datatables")
    @System.Web.Optimization.Scripts.Render("~/bundles/issuers")

    <script>
    $(function () {

        var issuerList = new IssuersList("@Url.Action("GetIssuers", "Issuers")", "@Url.Action("Edit", "List")" + "?listId=@Model.IssuerListId", "@Model.SelectedProcessorId", "@Url.Action("Manage", "Issuers")");
        var fieldsToHide = [];
        @Html.Raw(Model.HideHasOrdered ? "fieldsToHide.push('HasOrdered');" : "")
        var table = issuerList.initialize(fieldsToHide);

            $(document).on("click", ".delete-issuer", function (event) {
                if (confirm("Do you want to delete the selected Issuer?")) {
                    $.post("@Url.Action("Delete")", { id: $(this).data("id") }, function (data) {
                        if (data.ok) {
                            table.ajax.reload();
                        }
                    });
                }
            });

            $("#SelectedProcessorId").change(function () {
                var value = $(this).val();

                location.href = '@Url.Action("Manage","Issuers")?id=' + value;
        });

    });
    </script>
}

<div class="ibox-content">
    <form class="form-inline">
        <div class="form-group">
            <label class="control-label" for="processor">Processor:</label>
            @Html.DropDownListFor(o => o.SelectedProcessorId, new SelectList(Model.Processors, "ProcessorId", "Title", Model.SelectedProcessorId), new { @class = "form-control" })

            @Html.GlyphButton("Add new Issuer", "Create", "List", new { id = Model.IssuerListId, returnUrl = Url.Action("Manage", "Issuers") + "?id=" + Model.SelectedProcessorId }, new { @class = "btn btn-primary" }, new { @class = "fa fa-plus" })
        </div>
    </form>
    <br />
    <table class="table table-hover" id="contentGrid">
        <thead>
            <tr>
                <th scope="col">Actions</th>
                <th scope="col">Title</th>
                <th scope="col">Domain Name</th>
                <th scope="col">Processor</th>
                <th scope="col">Billing ID</th>
                @if (!Model.HideHasOrdered)
                {
                    <th scope="col">Has Ordered</th>
                }
                <th scope="col">Created Date</th>
                <th scope="col">Modified Date</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>