﻿@model AdminBarViewModel
@{
    var showCloneDropDown = (!Model.UserIsAdminInCurrentRegion && Model.UserAdminRegions.Count > 0) || (Model.UserIsAdminInCurrentRegion && Model.UserAdminRegions.Count > 1);
    var cloneIsButtonOnly = Model.UserIsAdminInCurrentRegion && Model.UserAdminRegions.Count < 2;
}
<div id="adminbar" class="">
    <div class="page-wrapper grid-spaces-in">
        <nav class="pull-right">
            @if (Model.ShowUserName)
            {
                <span class="nav-item">@String.Format(Resources.Shared.WelcomeUserName, Model.UserName)</span>
            }
            @if (Model.UserIsAdminInCurrentRegion)
            {
                <a class="nav-item" href="@Model.AdminUrl">@Resources.Shared.GoToAdmin</a>
            }
            @if (Model.PageHasContentItemId)
            {
                if (!string.IsNullOrEmpty(Model.CloneContentItemUrl) && Model.UserAdminRegions.Count > 0)
                {
                    <div class="btn-group dropdown">
                        <button class="nav-item action-btn @(showCloneDropDown ? "dropdown-toggle" : "")" @(showCloneDropDown ? Html.Raw("data-toggle=\"dropdown\" aria-haspopup=\"true\" aria-expanded=\"false\"") : Html.Raw("")) type="button" @(cloneIsButtonOnly ? Html.Raw("onclick = \"createDialogForClone('" + @Model.CloneContentItemUrl + "')\"") : Html.Raw(""))>
                            @(showCloneDropDown ? Html.Raw(@Resources.Shared.CloneTo + "&nbsp;&nbsp;<span class=\"caret\"></span>") : Html.Raw(@Resources.Shared.Clone))
                        </button>
                        @if (showCloneDropDown)
                        {
                            <ul class="dropdown-menu">
                                @foreach (var region in Model.UserAdminRegions)
                                {
                                    <li><button class="btn btn-link" name="action" type="button" onclick="createDialogForClone('@(Url.Action("ChangeRegion", "Header", new { selectedRegion = region.Id, redirectUrl = Model.CloneContentItemUrl }))' )">@region.Name</button></li>
                                }
                            </ul>
                        }
                    </div>
                }
                if (Model.UserIsAdminInCurrentRegion)
                {
                    <input type="button" id="editbutton" class="nav-item action-btn" onclick="window.location.href = '@Model.EditContentItemUrl'" value="@Resources.Shared.Edit" />
                }
            }
            <a class="nav-item close-action" href="@Url.Action("Close", "Admin", new { returnUrl = this.Request.RawUrl })"><em class="fa fa-remove"></em></a>
        </nav>
        <div class="onoffswitch">
            <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch" @(Model.PreviewMode ? string.Empty : "checked=\"checked\"")>
            <a href="@Url.Action("TogglePreviewMode", "Admin", new { returnUrl = this.Request.RawUrl })" class="onoffswitch-label"></a>
        </div>
        <div class="onoffswitch-aside-label">
            @(Model.PreviewMode ? Resources.Shared.DraftContent : Resources.Shared.LiveContent)
        </div>
    </div>
</div>