﻿@model ContactFormModel
@* dialog *@
<div style="display: none;">
    @* contacts form *@
    <div id="contacts-modal" class="dialog-text">
        <div class="dialog-text-body content-text">
            <h3>@Resources.Forms.ContactForm_Title</h3>
            <div class="form">
                <input id="cid" name="cid" type="hidden" value="@Model.Issuer.Cid">
                <input id="issuer" name="issuer" type="hidden" value="@Model.Issuer.Title">
                <div class="form-group">
                    <label class="control-label">@Resources.Forms.Name <span class="req-mark">*</span></label>
                    <input name="name" id="name" type="text" value="@Model.User.FullName" class="form-control">
                </div>
                <div class="form-group">
                    <label class="control-label">@Resources.Forms.EmailAddress <span class="req-mark">*</span></label>
                    <input name="email" id="email" type="email" value="@Model.User.Email" class="form-control">
                </div>
                <div class="form-group">
                    <label class="control-label">@Resources.Forms.Message</label>
                    <textarea name="message" id="message" rows="2" cols="10" class="form-control message-area"></textarea>
                </div>
                <div class="form-group">
                    <div class="checkbox">
                        <label for="contactme">
                            <input id="contactme" name="contactme" type="checkbox" value="@Resources.Forms.ContactForm_CheckBoxLabel" />
                            <em class="check-icon"></em>
                            @Resources.Forms.ContactForm_CheckBoxLabel
                        </label>
                    </div>
                </div>
                <div class="form-group btn-group tar">
                    <span id="errorMessage" class="btn-label-wrap req-mark" style="width: 230px;">@Resources.Errors.AllFieldsRequired</span>
                    <a id="closeForm" class="btn">@Resources.Shared.Cancel</a>
                    <a id="sendForm" class="btn mdl-anchor">@Resources.Shared.Send</a>
                </div>
            </div>
        </div>
    </div>
    @* thank you *@
    <div id="thanks-modal" class="dialog-text">
        <div class="dialog-text-body content-text tac">
            <h3><strong>@Resources.Shared.ThankYou</strong></h3>
            <p>@Html.Raw(Resources.Forms.ContactForm_SuccessMessage)</p>
        </div>
    </div>
</div>
@* js *@
<script>
    $("#errorMessage").hide();

    function dialogPos() {
        var $dialog = $('.ui-dialog:visible'),
            scrollTop = $(window).scrollTop(),
            offsetTop = 50,
            isHeight = ($dialog.height() + offsetTop) < $(window).height(),
            isWidth = $dialog.width() < $(window).width(),
            options = {};

        if (isWidth) {
            options['left'] = '50%';
            options['marginLeft'] = (0 - ($dialog.width() / 2));
        } else {
            options['left'] = 0;
            options['marginLeft'] = 0;
        }

        if (isHeight) {
            options['top'] = '50%';
            options['marginTop'] = offsetTop / 2 - ($dialog.height() / 2);
        } else {
            options['top'] = (isWidth ? (scrollTop + offsetTop) : offsetTop);
            options['marginTop'] = 0;

            if (!isWidth) $(window).scrollTop(0);
        }

        options['position'] = (isHeight ? 'fixed' : 'absolute');

        $dialog.css(options);
    }

    $("#contacts-modal, #thanks-modal").dialog({
        modal: true,
        autoOpen: false,
        draggable: false,
        resizable: false,
        height: 'auto',
        width: 600,
        open: function () {
            $('.ui-widget-overlay').css('z-index', '1001');
            dialogPos();
            $(window).on('resize', dialogPos);
        }
    });

    $("#closeForm").on("click", function () {
        $("#contacts-modal").dialog("close");
    });

    $("#sendForm").on("click", function () {
        var valid = true;

        if (!$("#email").val().trim().length)
            valid = false;
        if (!$("#name").val().trim().length)
            valid = false;

        if (!valid)
            $("#errorMessage").html("@Resources.Errors.AllFieldsRequired").show();
        else if (!$("#contactme").is(":checked"))
            $("#errorMessage").html("@Resources.Errors.ContactForm_CheckBox").show();
        else {
            $("#errorMessage").hide();

            $.post('@Url.RouteUrl("SendContactForm")',
				{
				    email: $("#email").val().trim(),
				    issuer: $("#issuer").val().trim(),
				    name: $("#name").val().trim(),
				    message: $("#message").val().trim(),
				    cid: $("#cid").val().trim()
				},
				function (data) {
				    if (data.ok) {
				        $("#contacts-modal").dialog("close");
				        $("#thanks-modal").dialog("open");

				        $("#message").val("");
				        $("#contactme").attr('checked', false);

				    } else {
				        $("#errorMessage").html("@Resources.Errors.VerifyEmailAddress").show();
				    }
				});
        }
    });

    $("#showForm").on("click", function () {
        $("#contacts-modal").dialog("open");
    });
</script>