﻿@model ReportHeaderModel
@* issuer details *@
<section class="content-container content-spaces-in article-aside-header-wrap" style="overflow: hidden;">
    <div class="content-text">
        <div class="row article-aside-header hot-colors">
            <article class="col-md-8 col-sm-6">
                <h2 class="report-header">
                    <span class="report-header-label p1">@Resources.Optimization.ReportBasedOn</span>
                    <strong>@Model.ImportedIca.LegalName</strong>
                    <br /><br />
                    <span class="report-header-label p1">@Resources.Optimization.ReportPreparedFor</span>
                    <strong>@Model.Name</strong>
                </h2>
                <em class="after"></em>
            </article>
            <aside class="col-md-4 col-sm-6">
                <dl class="report-issuer-data">
                    <dt class="h5">@Resources.Optimization.IssuerAddress:</dt>
                    <dd class="p1">
                        @if (!string.IsNullOrEmpty(Model.ImportedIca.HqAddress))
                        {@Model.ImportedIca.HqAddress <br />}@Model.ImportedIca.HqCityName, @Model.ImportedIca.HqProvinceName
                    </dd>
                    <hr />
                    <br />
                    <br />
                    <dd class="p1">
                        <a href="javascript:window.print()" data-exclude="true" class="mmc-icon-action-link print">@Resources.Shared.Print</a>
                    </dd>
                </dl>
                <em class="after"></em>
            </aside>
        </div>
    </div>
</section>