﻿@model ShareFormModel
@* dialog *@
<div style="display: none;">
    @* share form *@
    <div id="share-modal" class="dialog-text">
        <div class="dialog-text-body content-text">
            <h3>@Resources.Forms.ShareForm_Title</h3>
            <div class="form">
                <input id="shareCid" name="shareCid" type="hidden" value="@Model.Cid">
                <div class="form-group">
                    <label class="control-label">@Resources.Forms.EmailAddress <span class="req-mark">*</span></label>
                    <div class="form-email-group">
                        <input name="shareEmail" id="shareEmail" type="email" value="" class="form-control">
                        <label class="control-label">@(string.Format("@mastercard.com"))</label>
                    </div>
                </div>
                <div class="form-group">
                    <div class="checkbox">
                        <label for="sharemar">
                            <input id="sharemar" name="sharemar" type="checkbox" value="@Resources.Forms.ShareForm_CheckBoxLabel" />
                            <em class="check-icon"></em>
                            @Resources.Forms.ShareForm_CheckBoxLabel
                        </label>
                    </div>
                </div>
                <div class="form-group btn-group tar">
                    <span id="shareErrorMessage" class="btn-label-wrap req-mark" style="width: 230px;">@Resources.Errors.AllFieldsRequired</span>
                    <a id="closeShareForm" class="btn">@Resources.Shared.Cancel</a>
                    <a id="sendShareForm" class="btn mdl-anchor">@Resources.Shared.Send</a>
                </div>
            </div>
        </div>
    </div>
    @* thank you *@
    <div id="thanks-share-modal" class="dialog-text">
        <div class="dialog-text-body content-text tac">
            <h3><strong>@Resources.Shared.ThankYou</strong></h3>
            <p>
                @Html.Raw(Resources.Forms.ShareForm_SuccessMessage)</p>
                 </div>
             </div>
         </div>
            @* js *@
                        <script>

    $("#shareErrorMessage").hide();

    function dialogPos() {
        var $dialog = $('.ui-dialog:visible'),
            scrollTop = $(window).scrollTop(),
            offsetTop = 50,
            isHeight = ($dialog.height() + offsetTop) < $(window).height(),
            isWidth = $dialog.width() < $(window).width(),
            options = {};

        if (isWidth) {
            options['left'] = '50%';
            options['marginLeft'] = (0 - ($dialog.width() / 2));
        } else {
            options['left'] = 0;
            options['marginLeft'] = 0;
        }

        if (isHeight) {
            options['top'] = '50%';
            options['marginTop'] = offsetTop / 2 - ($dialog.height() / 2);
        } else {
            options['top'] = (isWidth ? (scrollTop + offsetTop) : offsetTop);
            options['marginTop'] = 0;

            if (!isWidth) $(window).scrollTop(0);
        }

        options['position'] = (isHeight ? 'fixed' : 'absolute');

        $dialog.css(options);
    }

    $("#share-modal, #thanks-share-modal").dialog({
        modal: true,
        autoOpen: false,
        draggable: false,
        resizable: false,
        height: 'auto',
        width: 600,
        open: function () {
            $('.ui-widget-overlay').css('z-index', '1001');
            dialogPos();
            $(window).on('resize', dialogPos);
        }
    });

    $("#closeShareForm").on("click", function () {
        $("#share-modal").dialog("close");
    });

    $("#sendShareForm").on("click", function () {

        if (!$("#shareEmail").val().trim().length && !$("#sharemar").is(":checked"))
            $("#shareErrorMessage").html("@Resources.Errors.ShareForm_CheckBox").show();
        else {
            $("#shareErrorMessage").hide();

            $.post('@Url.RouteUrl("SendShareForm")',
				{
				    email: $("#sharemar").is(":checked") ? '' : $("#shareEmail").val().trim() + '@(string.Format("@mastercard.com"))',
				    cid: $("#shareCid").val().trim()
				},
				function (data) {
				    if (data.ok) {
				        $("#share-modal").dialog("close");
				        $("#thanks-share-modal").dialog("open");

				        $("#shareEmail").val("");
				        $("#sharemar").attr('checked', false);

				    } else {
				        $("#shareErrorMessage").html("@Resources.Errors.VerifyEmailAddress").show();
				    }
				});
        }
    });

    $("#showShareForm").on("click", function () {
        $("#share-modal").dialog("open");
    });
                        </script>
