﻿@model DashboardLandingModel
@{
    Layout = "~/Views/Shared/_ReportLayout.cshtml";
}
@section Title {
    @Resources.Optimization.Title
}
@Html.RenderTrackPageScript()

<header class="header-section header-first-section cold-colors content-spaces-in tac">
    <div class="inner">
        <h1>@Resources.Optimization.Title</h1>
        <p class="mobile-visible">@Resources.Optimization.BannerDescription</p>
    </div>
</header>

<section class="clearfix content-text">
    <div class="row dashboard-description">
        <div class="col-sm-4">
            <header class="dash-header" style="background-color: rgb(244,115,47);">
                <a class="dash-header-link" tracking-type="@Model.TrackingType" href="@Url.RouteUrl("Report", new { trackingType = Model.TrackingType })">
                    <em class="dash-icon traffic"></em>
                    <span class="dash-label">@Resources.Optimization.AssessYourConsumerPortfolio</span>
                </a>
            </header>
            <section class="dash-desc">
                <h5><a tracking-type="@Model.TrackingType" href="@Url.RouteUrl("Report", new { trackingType = Model.TrackingType })"><strong>@Resources.Optimization.AssessYourConsumerPortfolio</strong></a></h5>
                <p>@Resources.Optimization.AssessYourConsumerPortfolioDescription</p>
            </section>
        </div>
        <div class="col-sm-4">
            <header class="dash-header" style="background-color: rgb(194,70,5);">
                <a class="dash-header-link" tracking-type="@Model.TrackingType" href="@Constants.Urls.MastercardManagedServices">
                    <em class="dash-icon idea"></em>
                    <span class="dash-label">@Resources.Optimization.ManagedServices</span>
                </a>
            </header>
            <section class="dash-desc">
                <h5><a tracking-type="@Model.TrackingType" href="@Constants.Urls.MastercardManagedServices"><strong>@Resources.Optimization.ManagedServices</strong></a></h5>
                <p>@Resources.Optimization.ManagedServicesDescription</p>
            </section>
        </div>
        <div class="col-sm-4">
            <header class="dash-header" style="background-color: rgb(244,115,47);">
                <a class="dash-header-link" tracking-type="@Model.TrackingType" href="@Constants.Urls.MastercardB2BAnalytics">
                    <em class="dash-icon building"></em>
                    <span class="dash-label">@Resources.Optimization.B2BAnalytics</span>
                </a>
            </header>
            <section class="dash-desc">
                <h5><a tracking-type="@Model.TrackingType" href="@Constants.Urls.MastercardB2BAnalytics"><strong>@Resources.Optimization.B2BAnalytics</strong></a></h5>
                <p>@Resources.Optimization.B2BAnalyticsDescription</p>
            </section>
        </div>
    </div>
</section>