﻿@using Slam.Cms.Configuration
@model GoalModel
@{
    Layout = "~/Views/Shared/_ReportLayout.cshtml";
}
@section Title {
    @Model.Title
}
@Html.RenderTrackPageScript()
@section Breadcrumb
{
<nav class="breadcrumbs grid-spaces-in">
    <a href="/portal" class="path" tracking-type="breadcrumb">@Resources.Shared.Home</a>
    <a href="/portal/optimization" class="path" tracking-type="breadcrumb">@Resources.Optimization.Title</a>
    <a href="/portal/optimization/optimizationresources" class="path" tracking-type="breadcrumb">@Resources.Optimization.OptimizationResources</a>
    <span>@Model.Title</span>
</nav>
}
@Html.Action("FeaturableCarouselSlide", new { featureLocationId = Mastercard.MarketingCenter.Data.MarketingCenterDbConstants.FeatureLocations.ReportRecommendatiion, title = Model.Title })
@* Action Search Results *@
<div class="results-list-wrap feed-list-wrap">
    <div class="content-body content-spaces-out">
        <a href="@Model.ReturnUrl?trackingType=@Model.TrackingType-back" class="btn btn-primary" tracking-type="@Model.TrackingType-back">&lt;&nbsp;@(Model.ReturnUrl == Url.RouteUrl("Optimize") ? Resources.Optimization.BackToOptimizationResources.ToUpperInvariant() : Resources.Optimization.BackToReport.ToUpperInvariant())</a>
        <h4 class="p1"><strong>@Model.Title</strong></h4>
        @Html.RawWithSnippets(Model.ShortDescription)
        <br />
        <hr />
        @foreach (var category in Model.OptimizationCategories.Where(o => o.Assets.Any()))
        {
            <dl class="category-list">
                <dt class="p1 category-list-header"><strong>@category.CategoryTitle (@category.Assets.Count())</strong></dt>
                <dd class="category-list-body" style="display: none;">
                    @* results list *@
                    <ul class="results-list reset">
                        @foreach (var asset in category.Assets)
                        {
                            <li>
                                <h5 class="result-header"><a href="@asset.AsContentItemListItem().ResourceUrl?trackingType=@Model.TrackingType" tracking-type="@Model.TrackingType" title="@asset.Title">@asset.Title</a></h5>
                                <div class="result-desc">
                                    @Html.RawWithSnippets(asset.ShortDescription)
                                    <a class="pointer" href="@asset.AsContentItemListItem().ResourceUrl?trackingType=@Model.TrackingType" tracking-type="@Model.TrackingType">@Resources.Shared.ReadMore</a>
                                </div>
                                <div class="result-link md"><a href="@asset.AsContentItemListItem().ResourceUrl?trackingType=@Model.TrackingType" tracking-type="@Model.TrackingType">@ConfigurationManager.Environment.FrontEndUrl.TrimEnd('/')/@asset.FrontEndUrl.TrimStart('/')</a></div>
                            </li>
                        }
                    </ul>
                </dd>
            </dl>
        }
        <br />
        <br />
        <br />
    </div>
</div>
@* lead gen *@
<section class="content-container content-spaces-in">
    <div class="content-text report-summary">
        <section class="header-section tac hottest-colors">
            <div class="inner">
                <h2><strong>@Resources.Optimization.LearnMoreAboutMastercard</strong></h2>
                <p><a id="showForm" class="action-btn mdl-anchor">@Resources.Shared.ContactUs</a></p>
            </div>
        </section>
    </div>
</section>
@Html.Action("ContactForm", new { Issuer = Model.Issuer })
@* category accordion JS *@
<script>
    $(function () {
        $('.category-list-header').on('click', function (e) {
            e.preventDefault();
            var $head = $(this),
                $body = $head.next('.category-list-body');

            $head.toggleClass('opened');
            $body.stop(true, true)

            if ($head.hasClass('opened')) $body.slideDown()
            else $body.slideUp()
        });
    });
</script>