﻿@using Mastercard.MarketingCenter.Services.Interfaces
@using Mastercard.MarketingCenter.Web.Core.Models.Report
@using System.Web.Mvc;
@model ReportSummaryModel
@{var urlService = DependencyResolver.Current.GetService<IUrlService>();}
@{
    Layout = "~/Views/Shared/_ReportLayout.cshtml";
}

@*Summary View*@
@section Title {
    @Resources.Optimization.AssessmentReportResults
}

@Html.RenderTrackPageScript()

@section Breadcrumb
{
    <nav class="breadcrumbs grid-spaces-in">
        <a href="/portal" class="path" tracking-type="breadcrumb">@Resources.Shared.Home</a>
        <span>@Resources.Optimization.AssessmentReportResults</span>
    </nav>
}
@if (Model.ShowReportCover)
{
    @* Report Cover HTML *@
    <div id="report-cover" class="report-cover" style="display: none;">
        <div class="inner" style="background-image: url(@urlService.GetStaticImageURL("option_03_endless_loop.gif"));">
            <div class="sign">@Resources.Optimization.LookingFor</div>
        </div>
    </div>

    @* Report Cover *@
    <script>
        var $body = $('body'),
            $reportCover = $('#report-cover'),
            coverTime = Math.floor(Math.random() * 6) + 3;

        $body.css('overflow', 'hidden');
        $reportCover.show().appendTo($body);

        setTimeout(function () {
            $reportCover.fadeOut('fast', function () {
                $body.css('overflow', '');
                $reportCover.remove();
            });
        }, coverTime * 1000);
    </script>
}

@if (Model.Error)
{
    <header class="header-section header-first-section cold-colors content-spaces-in tac" style="margin-top: 30px;">
        <div class="inner">
            <h1>@Resources.Optimization.WeNeedMoreInformationTitle</h1>
        </div>
    </header>

    <div class="content-container content-spaces-in">
        <div class="content-text row">
            <article class="col-sm-8 col-sm-offset-2 tac">
                <p>@Html.Raw(string.Format(Resources.Optimization.WeNeedMoreInformationParagraph1, "<a id=\"showForm\" class=\"mdl-anchor\">" + Resources.Shared.ContactUs + "</a>"))</p>
                <p>@Html.Raw(string.Format(Resources.Optimization.WeNeedMoreInformationParagraph2, "<a class=\"mdl-anchor\" tracking-type=\"" + HttpUtility.HtmlAttributeEncode(Model.TrackingType) + "-errorlink\" href=\"" + Url.RouteUrl("Optimize", new { trackingType = Model.TrackingType }) + "\">" + Resources.Optimization.OptimizationResources + "</a>"))</p>
                <p>@Html.Raw(string.Format(Resources.Optimization.WeNeedMoreInformationParagraph3, "<a class=\"mdl-anchor\" tracking-type=\"" + HttpUtility.HtmlAttributeEncode(Model.TrackingType) + "-errorlink\" href=\"" + Constants.Urls.ThoughtLeadershipOverview + "?trackingType=" + Model.TrackingType + "\">" + Resources.Shared.ThoughtLeadership + "</a>"))</p>
            </article>
        </div>
    </div>
}
else
{
    <header class="header-section header-first-section cold-colors content-spaces-in tac">
        <div class="inner">
            <h1>@Resources.Optimization.AssessmentReportResults</h1>
        </div>
    </header>

    @Html.Partial("_ReportHeader", Model.ReportHeader)

    @* summary details *@
    <section class="content-container content-spaces-in">
        <div class="content-text report-summary">
            <section>
                <h1 class="report-section-header">@Resources.Optimization.ExecutiveSummary</h1>
                <div class="row">
                    <article class="report-section-brief">
                        <h5>@Resources.Optimization.HowYourPortfolioMeasuresUpTitle</h5>
                        <p>@Html.Raw(Resources.Optimization.HowYourPortfolioMeasuresUpParagraph)</p>
                    </article>
                </div>
            </section>
        </div>
    </section>
    <section class="content-container content-spaces-in" style="overflow: hidden;">
        <div class="content-text report-summary" style="padding-bottom: 0;">
            @* report section *@
            <div class="row report-row-section-inner">
                <section class="col-md-8 col-sm-6 report-article-section">
                    <div class="report-article-section-inner">
                        <h1 class="report-section-header">@Resources.Optimization.AssessmentAreas.ToUpperInvariant()</h1>
                        <h2 class="report-summary-header"><em class="report-section-state-icon danger"><svg height="36" width="36"><circle cx="18" cy="18" r="17" fill="#cd2027" /></svg></em>@Html.GetFlagText(ReportFlag.Red)</h2>
                        <ul class="report-summary-list">
                            @if (Model.ReportAssessment.RedAssessments.Count > 0)
                            {
                                foreach (var redAssessment in Model.ReportAssessment.RedAssessments)
                                {
                                    <li><span class="report-item-label">@redAssessment.Title</span></li>
                                }
                            }
                            else
                            {
                                <li><span class="report-item-label">@Resources.Shared.None.ToUpperInvariant()</span></li>
                            }
                        </ul>
                        <h2 class="report-summary-header"><em class="report-section-state-icon warning"><svg height="36" width="36"><circle cx="18" cy="18" r="17" fill="#ef9a40" /></svg></em>@Html.GetFlagText(ReportFlag.Yellow)</h2>
                        <ul class="report-summary-list">
                            @if (Model.ReportAssessment.YellowAssessments.Count > 0)
                            {
                                foreach (var yellowAssessment in Model.ReportAssessment.YellowAssessments)
                                {
                                    <li><span class="report-item-label">@yellowAssessment.Title</span></li>
                                }
                            }
                            else
                            {
                                <li><span class="report-item-label">@Resources.Shared.None.ToUpperInvariant()</span></li>
                            }
                        </ul>
                        <h2 class="report-summary-header"><em class="report-section-state-icon ok"><svg height="36" width="36"><circle cx="18" cy="18" r="17" fill="#4d8d40" /></svg></em>@Html.GetFlagText(ReportFlag.Green)</h2>
                        <ul class="report-summary-list last">
                            @if (Model.ReportAssessment.GreenAssessments.Count > 0)
                            {
                                foreach (var greenAssessment in Model.ReportAssessment.GreenAssessments)
                                {
                                    <li><span class="report-item-label">@greenAssessment.Title</span></li>
                                }
                            }
                            else
                            {
                                <li><span class="report-item-label">@Resources.Shared.None.ToUpperInvariant()</span></li>
                            }
                        </ul>
                    </div>
                </section>
                <section class="col-md-4 col-sm-6 @(Model.ReportAssessment.Recommendations.Any() ? "report-aside-section" : "")">
                    @if (Model.ReportAssessment.Recommendations.Any())
                    {
                        <div class="report-aside-section-inner">
                            <h1 class="report-section-header">@Resources.Optimization.RecommendationsTitle.ToUpperInvariant()</h1>
                            <p>@Resources.Optimization.RecommendationsParagraph</p>
                            <ul class="report-section-suggestions">
                                @foreach (var recommendation in Model.ReportAssessment.Recommendations.Select(o => o.Value))
                                {
                                    <li>
                                        @Html.LinkToGoalAction(recommendation, Model.TrackingType)
                                    </li>
                                }
                            </ul>
                        </div>
                    }
                </section>
            </div>
        </div>
    </section>
    <section class="content-container content-spaces-in">
        <div class="content-text report-summary">
            @* lead gen *@
            <section class="header-section tac hottest-colors" data-exclude="true">
                <div class="inner">
                    <h2><strong>@Resources.Optimization.LearnMoreAboutYourReport</strong></h2>
                    <p><a id="showForm" class="action-btn mdl-anchor">@Resources.Shared.ContactUs</a></p>
                </div>
            </section>
        </div>
    </section>

    if (Model.ShareReport)
    {
        <script>
            // Send PDF report automatically
            $(document).ready(function () {
                $.post('@Url.RouteUrl("SendShareForm")', { cid: @Model.Issuer.Cid });
            });
        </script>
    }
}

@if (User.Identity.IsAuthenticated)
{
    @Html.Action("ContactForm", new { Issuer = Model.Issuer })
}