﻿@model OptimizeModel

@{
    Layout = "~/Views/Shared/_ReportLayout.cshtml";
}
@using Slam.Cms.Configuration
@section Title {
    @Resources.Optimization.OptimizationResources
}
@Html.RenderTrackPageScript()
@section Breadcrumb
{
<nav class="breadcrumbs grid-spaces-in">
    <a href="/portal" class="path" tracking-type="breadcrumb">@Resources.Shared.Home</a>
    <a href="/portal/optimization" class="path" tracking-type="breadcrumb">@Resources.Optimization.Title</a>
    <span>@Resources.Optimization.OptimizationResources</span>
</nav>
}
<header class="header-section header-first-section cold-colors content-spaces-in tac">
    <div class="inner">
        <h1>@Resources.Optimization.OptimizationResources</h1>
        <p class="mobile-visible">@Resources.Optimization.OptimizationResourcesBannerDescription</p>
    </div>
</header>
@* Action Search Results *@
<div class="results-list-wrap feed-list-wrap">
    <div class="content-body content-spaces-out">
        @* results list *@
        <ul class="results-list reset">
            @foreach (var recommendation in Model.Recommendations)
            {
                <li>
                    <h5 class="result-header"><a tracking-type="@Model.TrackingType" href="@Url.Action("Goal", new { contentItemId = recommendation.ContentItemId, returnToOptimize = true, trackingType = Model.TrackingType })" title="">@recommendation.DisplayName</a></h5>
                    <div class="result-desc">
                        @Html.RawWithSnippets(recommendation.ShortDescription)
                    </div>
                    <div class="result-link md">
                        <a tracking-type="@Model.TrackingType" href="@Url.Action("Goal", new { contentItemId = recommendation.ContentItemId, returnToOptimize = true, trackingType = Model.TrackingType })">@ConfigurationManager.Environment.FrontEndUrl.Replace("portal", string.Empty).TrimEnd('/')/@Url.Action("Goal", new { contentItemId = recommendation.ContentItemId }).TrimStart('/') </a>
                    </div>
                </li>
            }
        </ul>
        <br />
        <br />
        <br />
        @* Assess your portfolio *@
        <section class="header-section tac hottest-colors">
            <div class="inner">
                <h2><strong>@Resources.Optimization.AssessYourPortfolioNow</strong></h2>
                <br />
                <p><a tracking-type="@Model.TrackingType-learnmore" href="@Url.RouteUrl("DashboardLanding", new { trackingType = Model.TrackingType })" class="action-btn mdl-anchor">@Resources.Shared.LearnMore</a></p>
            </div>
        </section>
        <br />
        <br />
    </div>
</div>
@* category accordion JS *@
<script>
    $(function () {
        $('.category-list-header').on('click', function (e) {
            e.preventDefault();
            var $head = $(this),
                $body = $head.next('.category-list-body');

            $head.toggleClass('opened');
            $body.stop(true, true)

            if ($head.hasClass('opened')) $body.slideDown()
            else $body.slideUp()
        });

        $('.category-list-header:first').click();
    });
</script>