.insights-calendar { position:relative; width:637px; }
.insights-calendar { position:relative; width:637px; }

.insights-calendar ul.links { list-style: none; margin: 20px 0; padding: 0; }
.insights-calendar ul.links li { overflow: hidden; padding: 0; }
.insights-calendar ul.links li a { float: left; min-height: 26px; padding-left: 40px; background: transparent url('pdf_large.png') no-repeat 0 50%; color: #cb2027; font-size: 11px; text-decoration: none; }

.insights-calendar h1 { color: #991b1e; font-family: 'Arial', 'Helvetica', sans-serif; font-size: 24px; font-style: italic; line-height: 1.5; }
.insights-calendar p ul { color: #000; font-family: 'Verdana'; line-height: 1.2; font-size: 11px; }
.insights-calendar p strong { font-size: 14px; font-weight: 500; }
.insights-calendar p a { color: #666633; }

#calendar .tab { position: relative; display: none; border: 1px solid #aeb0b2; background: #f1f1f2 url('category_background.png') repeat-x 100% 0; }
#calendar .tab h2 { position: absolute; right: -1px; top: -1px; float: right; margin: 0; padding: 5px 15px 0 0; background: transparent url('table_corner_background.png') no-repeat 100% 0; color: #a7a9ac; font-size: 30px; text-transform: uppercase; }

#calendar .updated-lab { position: absolute; right: -1px; top: -1px;  float:right; padding: 12px 15px 0 0;  background: transparent url('table_corner_background.png') no-repeat 100% 0; font-size: 10px; font-family: arial;}

#calendar ul { list-style: none; height: 36px; margin: 0; padding: 0; }
#calendar ul li { float: left; height: 36px; margin: 0; padding: 0; text-transform: uppercase; }
#calendar ul li a { float: left; width: 113px; height: 22px; padding: 7px; background: transparent url('tabs_background.png') no-repeat 0 0; color: #a7a9ac; font-size: 11px; font-weight: 700; line-height: 1; text-decoration: none; }
#calendar ul li a.active { position: relative; z-index: 3; top: 1px; background-position: 0 -74px; color: #231f20; }
#calendar ul li.right { float: right; }
#calendar ul li.right a { float: left; width: 58px; height: 28px; padding: 3px 0 0 40px; background: transparent url('switch_button.png') no-repeat 0 0; color: #414042; line-height: 1; font-size: 8px; font-weight: 700; text-decoration: none; }

#calendar table.mozilla td img { margin-top:-2px; }

#calendar .category { padding: 20px 0 0;background: #f1f1f2 url('category_background.png') repeat-x 100% 0; }

#calendar .category h3 { margin: 0; padding-left: 5px; color: #414042; font-size: 14px; font-weight: 700; text-transform: uppercase; background: none; height: 17px; font-family: arial !important; }

#calendar table { width: 100%; border-collapse: collapse; margin-bottom: 15px; }
#calendar table thead th,
#calendar table thead td { border-bottom: 1px solid #231f20; color: #808285; font-size: 10px; font-weight: 700; text-transform: uppercase;  }
#calendar table tbody tr td,
#calendar table tbody tr th { border-top: 1px solid #bfc1c3; padding: 0; height: 17px; line-height: 17px; vertical-align: middle; }
#calendar table tbody tr th { margin: 0; padding-left: 20px; color: #58595b; font-size: 11px; font-weight: 500; text-align: left; vertical-align: middle; }

#calendar table tbody tr.type th { padding-left: 5px; color: #991b1e; font-weight: 700; }
#calendar table tbody tr.type th,
#calendar table tbody tr.type td { border-top: 1px solid #231f20; }

#calendar table td { width: 31px; }

#calendar table tbody tr.active th,
#calendar table tbody tr.active td { background: #d2b3b8; }
#calendar img { border: none; vertical-align: middle; }


#calendar col { width: 33px; text-align: center; }
#calendar col.title { width: auto; text-align: left; }
#calendar col.jan,
#calendar col.mar,
#calendar col.may,
#calendar col.jul,
#calendar col.sep,
#calendar col.nov { width: 33px; background-color: #e1e0e2; }


#calendar .tan { background-color: #cccc98; }
#calendar .blue { background-color: #8cadcb; }
#calendar .green { background-color: #bdd7c1; }


#calendar td { text-align: center; }
#calendar td a { vertical-align: middle; }

#calendar tr.all-year td.jan { text-align: right; }
#calendar tr.all-year td.dec { text-align: left; }


.tooltip { visibility: hidden; position: absolute; z-index: 100; width: 395px; padding: 0; background: transparent url('tooltip_background.png') no-repeat 0 100%; font-family: 'Verdana'; }
.tooltip div { position: relative; top: -20px; padding: 5px 11px 0; background: transparent url('tooltip_background.png') no-repeat 0 0; color: #fff; }
.tooltip p { color: #FFFFFF; }
.tooltip ul { color: #FFFFFF; }

.tooltip .white ul { color: #58595B; padding: 0 13px 0 40px; margin:11px 0; }
	.tooltip .white ul li { list-style-type:disc; }
	.tooltip .white ol li { list-style-type:decimal; }

.tooltip div.white { margin: 35px 0 0; padding: 0; background: transparent url('tooltip_white_background.png') no-repeat 0 100%; }
.tooltip div.white div { position: relative; top: -5px; padding: 5px 5px 0; background: transparent url('tooltip_white_background.png') no-repeat 0 0; color: #58595b; }
.tooltip div.white p { margin: 0; padding-right: 3px; color: #58595b; }
.tooltip div.white a { color: #666633; text-decoration: underline;}
.tooltip div.white a.pdf { display: inline-block; padding-left: 25px; background: transparent url('pdf2.png') no-repeat 0 50%; line-height: 25px;  }
.tooltip div.white strong { font-weight:bold; }

.tooltip div p { padding: 0px; margin-top: 2px;}

.subhead { font-size:14px;margin-left:16px;color:#000; }
.subhead2 { font-size:14px;color:#000;font-weight:bold; }
.subhead { font-size:14px;margin-left:15px;color:#000; }