.insights-calendar ul.links li a { height: 26px; }
#calendar col { width: 31px; text-align: center; }
#calendar col.title { width: auto; text-align: left; }
#calendar col.jan,
#calendar col.mar,
#calendar col.may,
#calendar col.jul,
#calendar col.sep,
#calendar col.nov { width: 31px; background-color: #e1e0e2; }
#calendar .tab h2 { top: 0px;}
#calendar tr.all-year td.jan img { margin-right: -2px; }
#calendar .updated-lab { right: 5px; top: 0px}

#calendar .category h3 { position: relative; }