.insights-calendar { position:relative; width:637px; }
#calendar .tab { position: relative; border: 1px solid #aeb0b2; background: #f1f1f2 url('category_background.png') repeat-x 100% 0; }
#calendar .tab h2 { position: absolute; right: -1px; top: -1px; float: right; margin: 0; padding: 5px 10px 0 0; background: transparent url('table_corner_background.png') no-repeat 100% 0; color: #a7a9ac; font-size: 30px; text-transform: uppercase; }


#calendar .category { padding: 20px 0 0;background: #f1f1f2 url('category_background.png') repeat-x 100% 0; }
#calendar .category h3 { margin: 0; color: #414042; font-size: 14px; font-weight: 700; text-transform: uppercase;  }
#calendar table { width: 100%; border-collapse: collapse; }
#calendar table thead { border-bottom: 1px solid #231f20; font-size: 10px; font-weight: 700; }
#calendar table tbody tr { border-bottom: 1px solid #bfc1c3; }
#calendar table tbody th { margin: 0; color: #58595b; font-size: 11px; font-weight: 500; text-align: left; }

#calendar col.jan,
#calendar col.mar,
#calendar col.may,
#calendar col.jul,
#calendar col.sep,
#calendar col.nov { background-color: #e1e0e2; }

#calendar .tan { background-color: #cccc98; }
#calendar .blue { background-color: #8cadcb; }
#calendar .green { background-color: #bdd7c1; }


#calendar td { text-align: center; }
