﻿<p>
    <a style="text-decoration:underline; color:#141413;" href='[#NotificationUrl]'>
        <span>
            
                <span style=" font-family:'MarkWebPro-LightW01Regular', Century Gothic, Arial, Helvetica, sans-serif; color:#141413;">[#IsNewBold]</span>[#NotificationTitleBold]
            
        </span>
        <span><span style=" font-family:'MarkWebPro-LightW01Regular', Century Gothic, Arial, Helvetica, sans-serif; color:#141413;">[#IsNew]</span>[#NotificationTitle]</span>
    </a>
    <em><span style="font-family:'MarkWebPro-LightW01Regular', Century Gothic, Arial, Helvetica, sans-serif; color:#141413;">[#NotificationPublishedDate]</span></em>
</p>