﻿<table role="presentation" width="100%" cellspacing="0" cellpadding="0" border="0" bgcolor="#e7e5e0">
    <tr>
        <td class="SpaceToHide" width="25" valign="top"></td>
        <td class="container" width="600" valign="top">
            <table class="content" role="presentation" width="100%" cellspacing="0" cellpadding="0" border="0" align="left">
                <tr>
                    <td style="font-size:40px; line-height:40px; mso-line-height-rule: exactly;" valign="top" height="40">&nbsp;</td>
                </tr>
                <tr>
                    <td style="font-family:'MarkWebPro-LightW01Regular', Century Gothic, Arial, Helvetica, sans-serif; color:#211f1c; font-size:11px; line-height:15px;" valign="top" align="left">
                        Please do not reply directly to this email. You are receiving this email as you agreed to receive communications about the Mastercard Marketing Center.
                    </td>
                </tr>
                <tr>
                    <td style="font-size:12px; line-height:12px; mso-line-height-rule: exactly;" valign="top" height="12">&nbsp;</td>
                </tr>
                <tr>
                    <td style="font-family:'MarkWebPro-LightW01Regular', Century Gothic, Arial, Helvetica, sans-serif; color:#211f1c; font-size:11px; line-height:15px;" valign="top" align="left">
                        <a style="color: #211f1c;" href="[#UnsubscribeLink]">Unsubscribe</a> from Mastercard Marketing Center email communications or log in to the site to manage your email preferences.
                    </td>
                </tr>
                <tr>
                    <td style="font-family:'MarkWebPro-LightW01Regular', Century Gothic, Arial, Helvetica, sans-serif; color:#211f1c; font-size:11px; line-height:15px;" valign="top" align="left">
                        <a style="color: #211f1c;" href="https://www.mastercard.ca/en-ca/about-mastercard/what-we-do/privacy/email-opt-out.html?et_cid=79635&et_subid=17168065&et_mid=6223168">Unsubscribe</a> from all future marketing communications from Mastercard.
                    </td>
                </tr>
                <tr>
                    <td style="font-size:12px; line-height:12px; mso-line-height-rule: exactly;" valign="top" height="12">&nbsp;</td>
                </tr>
                <tr>
                    <td style="font-family:'MarkWebPro-LightW01Regular', Century Gothic, Arial, Helvetica, sans-serif; color:#211f1c; font-size:11px; line-height:15px;" valign="top" align="left">
                        <a href="https://marketingcenter.mastercard.com/portal" target="_blank" style="color:#211f1c; text-decoration:none;">Home</a>|
                        <a href="https://marketingcenter.mastercard.com/PublicDownloads/Mastercard_Marketing_Center_TERMS_OF_USE_Canada.pdf" target="_blank" style=" color:#211f1c; text-decoration:none;">Terms of use</a>|
                        <a href="https://www.mastercard.ca/en-ca/about-mastercard/what-we-do/privacy.html" target="_blank" style="color:#211f1c; text-decoration:none;">Privacy Notice</a>|
                        <a href="https://marketingcenter.mastercard.com/portal/contact?trackingType=navigation" target="_blank" style="color:#211f1c; text-decoration:none;">Contact us</a>
                    </td>
                </tr>
                <tr>
                    <td style="font-size:12px; line-height:12px; mso-line-height-rule: exactly;" valign="top" height="12">&nbsp;</td>
                </tr>
                <tr>
                    <td style="font-family:'MarkWebPro-LightW01Regular', Century Gothic, Arial, Helvetica, sans-serif; color:#211f1c; font-size:11px; line-height:15px;" valign="top" align="left">
                        Mastercard is a registered trademark, and the circles design is a trademark of Mastercard International Incorporated.
                    </td>
                </tr>
                <tr>
                    <td style="font-size:12px; line-height:12px; mso-line-height-rule: exactly;" valign="top" height="12">&nbsp;</td>
                </tr>
                <tr>
                    <td style="font-family:'MarkWebPro-LightW01Regular', Century Gothic, Arial, Helvetica, sans-serif; color:#211f1c; font-size:11px; line-height:15px;" valign="top" align="left">
                        &copy;[#CurrentYear] Mastercard. All rights reserved. Mastercard, 121 Bloor St E #600. Toronto, ON M4W 3M5.
                    </td>
                </tr>
                <tr>
                    <td style="font-size:12px; line-height:12px; mso-line-height-rule: exactly;" valign="top" height="12">&nbsp;</td>
                </tr>
            </table>
        </td>
        <td class="SpaceToHide" width="25" valign="top"></td>
    </tr>
</table>