﻿@model string

<script>
    $(function () {
        $.get('@Url.Action("GetTrackingInfo")?id=@Model', function (data) {
            if (data) {
                var createdinfo = data.CreatedDate + " by " + data.CreatedByFullName;
                $("#createdinfo").html(createdinfo);

                var modifiedinfo = data.ModifiedDate + " by " + data.ModifiedByFullname;
                $("#modifiedinfo").html(modifiedinfo);

                if (data.IsDraft) {
                    $("#drafttrackinginfo").attr("style", "");

                    var draftcreatedinfo = data.DraftCreatedDate + " by " + data.DraftCreatedByFullName;
                    $("#draftcreatedinfo").html(draftcreatedinfo);

                    var draftmodifiedinfo = data.DraftModifiedDate + " by " + data.DraftModifiedByFullname;
                    $("#draftmodifiedinfo").html(draftmodifiedinfo);
                }
            }
        });
    });
</script>
<div>
    <div>Created at <span id="createdinfo"></span></div>
    <div>Last modified at <span id="modifiedinfo"></span></div>
    <div id="drafttrackinginfo" style="display: none;">
        <div>Draft created at <span id="draftcreatedinfo"></span></div>
        <div>Draft last modified at <span id="draftmodifiedinfo"></span></div>
    </div>
</div>