﻿@model ContentModel

@section head
{
    <link href="@Url.Content("~/Content/css/plugins/summernote/summernote.css")" rel="stylesheet">
    <link href="@Url.Content("~/Content/css/plugins/summernote/summernote-bs3.css")" rel="stylesheet">

    <!-- SUMMERNOTE -->
    <script src="@Url.Content("~/Content/js/plugins/summernote/summernote.min.js")"></script>

    @System.Web.Optimization.Styles.Render("~/Content/content")
    @System.Web.Optimization.Scripts.Render("~/bundles/content")

    <script>
        $(document).ready(function () {
            var contentItemCrud = new ContentItemCrud('@Url.Action("History", "Content")');
            contentItemCrud.initialize();
            applyDateIsInPastValidator(".ibox-content form", "#ExpirationDate", "@Resources.Editors.SavingOnExpiredDate");
        });
    </script>
}

@section HeaderTitle
{
    Cloning @Model.ContentTypeTitle
}

<div class="ibox-content">

    @Html.Partial("_ErrorAlert")

    @using (Html.BeginForm("Clone", "Content", FormMethod.Post, new { @class = "form-horizontal" }))
    {
        @Html.AntiForgeryToken()

        @Html.EditorForModel()

        <hr />
        <div class="form-group">
            <div class="col-md-6 col-md-offset-3">
                <div class="pull-right">
                    <a href="@Url.Action("List", "Content", new { id = Model.ContentTypeId })" class="btn btn-white"><span class="fa fa-remove"></span>&nbsp;&nbsp;Cancel</a>
                </div>
                <button class="btn btn-primary" type="submit"><span class="fa fa-copy"></span>&nbsp;&nbsp;Clone</button>
            </div>
        </div>
    }
</div>