﻿@using Mastercard.MarketingCenter.Cms.Models.Content
@model CommentsModel

<script>
    var modalStates;
    var closeAction;
    $(document).ready(function () {
        $('body').append($('#modalCommentsParent'));
        $('[data-modal]').click(function (e) {
            var modalName = $(this).attr('data-modal');
            var contentItemId = $(this).attr('data-content-id');
            var backUrl = window.location.href;
            closeAction = function () {
                $('#comments').trigger("refresh", [null, true]);
            };

            $.ajax({
                url: "@Url.Action("Widget", "ContentComment")",
                data: { "ContentItemId": contentItemId, "BackLink": '', "isAdmin": true },
                success: function (data, textStatus, request) {
                    // if authentication expired then IIS responds with 302 Moved and browser requests another page (login) and only after that this "success" handler is called
                    var redirectHeader = request.getResponseHeader("MASTERCARD_UNAUTHENTICATED_REDIRECT");
                    if (redirectHeader) {
                        window.location.replace(redirectHeader);
                    }

                    $(".mc-modal--body #comments-partial").addClass("hide");
                    $(".mc-modal--body").append(data); // add modal to DOM
                    modalStates = modalPartial.set(".mc-modal--body", backUrl);
                    modalPartial.showComments();
                    $(modalName).addClass('in');
                    $('.mc-modal .close-link').click(function (e) {
                        e.preventDefault();
                        closeAction();
                        $(this).closest('.mc-modal').removeClass('in');
                        $('#commentsWidget').remove(); // removing modal from DOM
                    });
                },
                dataType: "html"
            });
        });

        $('.mc-modal .close-link').click(function (e) {
            e.preventDefault();
            closeAction();
            $(this).closest('.mc-modal').removeClass('in');
        });
    });
</script>

<div>
    <button type="button" class="btn btn-primary" data-modal="#modalCommentsParent" data-Content-id="@Model.ContentItemId">
        <span class="fa"></span>@Resources.BusinessOwnerPages.AddComment
    </button>
</div>
<div id="modalCommentsParent" class="mc-modal">
        <div class="mc-modal--body no-padd">
       
    </div>
</div>