﻿@using Mastercard.MarketingCenter.Cms.Models.Content
@model CommentsModel

<script>
    $(function () {
        var ContentComments = [];
        var commentsElement = $('#comments');
        var commentsLoaded = false;
        commentsElement.on("refresh", function (evt, commentsInput, forceReload) {
            if ((commentsInput === null || commentsInput === undefined || commentsInput === "undefined") && !commentsLoaded || forceReload) {
                retrieveComments(); commentsLoaded = true;
            }
            else {
                var container = $('<div />');
                $(commentsInput).each(function () {
                    container.append('<div>' + this.CommentBody + ', ' + ToJavaScriptDate(this.CreationDate, "@Resources.ContentItemComments.Years", "@Resources.ContentItemComments.Months", "@Resources.ContentItemComments.Days", "@Resources.ContentItemComments.Hours", "@Resources.ContentItemComments.Minutes").toLocaleString() + ' ago by ' + this.SenderUserName + '</div>');
                });
                commentsElement.html(container);
            }
        });

        function retrieveComments() {
            $.post(
                '@Url.Action("GetPaged", "ContentComment")',
                { contentItemId: '@Model.ContentItemId', pageNumber: 0, pageSize:@int.MaxValue },
                function (data) {
                    if (data) {
                        var ContentComments = data.ContentComments;
                        var commentsToRender = [];

                        if (ContentComments.length > 5) {
                            commentsToRender = ContentComments.slice(0, 5);
                            var viewMore = $(".viewMore");

                            viewMore.removeClass("hide");
                            viewMore.on("click", function () {
                                var newPageNumber = parseInt(viewMore.attr("data-page-number")) + 1;
                                if ((5 * (newPageNumber + 1)) < ContentComments.length) {
                                    viewMore.attr("data-page-number", newPageNumber.toString());
                                    var commentsToRender = [];
                                    commentsToRender = ContentComments.slice(0, (5 * (newPageNumber + 1)));
                                    commentsElement.trigger("refresh", [commentsToRender, false]);
                                }
                                else {
                                    commentsElement.trigger("refresh", [ContentComments, false]);
                                    viewMore.addClass("hide");
                                }
                            });
                        }
                        else {
                            commentsToRender = ContentComments;
                        }

                        commentsElement.trigger("refresh", [commentsToRender]);
                    }
                });
        };

        retrieveComments();
    });
</script>
<div id="comments"></div>
<a class="viewMore hide" data-page-number="0">@Resources.ContentItemComments.ViewMore</a>