﻿@using System.Globalization
@model ContentModel

@section head
{
    @System.Web.Optimization.Scripts.Render("~/bundles/content")
    @System.Web.Optimization.Styles.Render("~/Content/content")

    <script>
        $(document).ready(function () {
            var contentItemCrud = new ContentItemCrud();
            contentItemCrud.initialize();
            applyDateIsInPastValidator(".ibox-content form", "#ExpirationDate", "@Resources.Editors.SavingOnExpiredDate");
            $('.white-screen').removeClass('white-screen');
        });

    </script>
}

@section HeaderTitle
{
    New @Model.ContentTypeTitle
}

<div class="ibox-content">

    @Html.Partial("_ErrorAlert")

    @using (Html.BeginForm("Create", "Content", FormMethod.Post, new { @class = "form-horizontal" }))
    {@Html.AntiForgeryToken()

        <div id="creation-container" class="white-screen">
            @Html.EditorForModel()
        </div>
        <hr class="white-screen"/>

        <div class="form-group white-screen">
            <div class="col-md-6 col-md-offset-3">
                <div class="pull-right">
                    <a href="@Url.Action("List", "Content", new { id = Model.ContentTypeId })" class="btn btn-white"><span class="fa fa-remove"></span>&nbsp;&nbsp;Cancel</a>
                </div>
                <div class="btn-group dropup">
                    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="fa fa-floppy-o"></span>&nbsp;&nbsp;Save&nbsp;&nbsp;<span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <li><button class="btn btn-link" name="action" type="submit" value="@ContentActions.SaveAsDraft">Save Draft</button></li>
                        @Html.HiddenFor(o => o.CanPreview)
                        @if (Model.CanPreview)
                        {
                            <li><button class="btn btn-link" name="action" type="submit" value="@ContentActions.SaveAndPreview">Save and Preview</button></li>
                        }
                        @if (Model.CanPublish)
                        {
                            <li><button class="btn btn-link" name="action" type="submit" value="@ContentActions.SaveLive">Save and Publish</button></li>
                        }
                    </ul>
                </div>
            </div>
        </div>
    }
</div>
