﻿@using Mastercard.MarketingCenter.Cms.Models.Content
@using Mastercard.MarketingCenter.Cms.Services.Infrastructure
@model ContentModel
@section head
{
    @System.Web.Optimization.Styles.Render("~/Content/content")
    @System.Web.Optimization.Scripts.Render("~/bundles/content")
    @System.Web.Optimization.Styles.Render("~/Content/css/ContentComments/styles.css")
    @System.Web.Optimization.Styles.Render("~/Content/css/ContentComments/comments_log_styles.css")
    @if (Model.CanViewComments)
    {
        <script src="~/Content/js/ContentComments/Modals.js"></script>
    }
    <script src="https://unpkg.com/vue"></script>
    <script>
        $(document).ready(function () {
            var contentItemCrud = new ContentItemCrud('@Url.Action("History", "Content")');
            contentItemCrud.initialize();
            $.ajax({
                type: "POST",
                url: '@Url.Action("GetContentVersionForHistory", "Content")',
                cache: false,
                data: $('form').serialize()
            })
            .done(function (data) {
                $('#originalContentData').val($('<div/>').text(JSON.stringify(data)).html());
            })
            .fail(function () {
                $('#histBtn').attr('style', 'display: none;');
            })
            .always(function () {
                $('.white-screen').removeClass('white-screen');
            });
            applyDateIsInPastValidator(".ibox-content form", "#ExpirationDate", "@Resources.Editors.SavingOnExpiredDate");
        });
    </script>
}

@section HeaderTitle
{
    @Model.ContentTypeTitle Update
}
<div class="ibox-content">
    @Html.Partial("_ErrorAlert")
    @using (Html.BeginForm("Update", "Content", FormMethod.Post, new { @class = "form-horizontal" }))
    {
        @Html.AntiForgeryToken()
        @Html.Hidden("originalContentData");
        <div id="creation-container" class="white-screen">
            @if (Model.OriginalContentItemDataForComparison == null)
            {
                @Html.EditorForModel()
            }
            else
            {
                @Html.EditorForModel("ContentModelComparison")
            }
        </div>
        <hr class="white-screen" />
        <div class="form-group white-screen">
            <div class="col-md-6 col-md-offset-3">
                <div class="pull-right">
                    @if (Model.OriginalContentItemDataForComparison == null)
                    {
                        if (Model.CanCopy)
                        {
                            <a href="@Url.Action("Copy", "Content")?id=@Model.IdFieldValue" class="btn btn-white"><span class="fa fa-copy" aria-hidden="true"></span>&nbsp;&nbsp;Copy</a>
                        }
                        if (Model.CanHistory)
                        {
                            <a id="histBtn" href="#" class="btn btn-white" data-toggle="modal" data-target="#historyDialog"><span class="fa fa-history"></span>&nbsp;&nbsp;View History</a>
                        }
                        if (Model.StatusId == Slam.Cms.Data.Status.Archived)
                        {
                            <button class="btn btn-white" name="action" type="submit" value="@ContentActions.Restore"><span class="fa fa-undo"></span>&nbsp;&nbsp;Restore</button>
                        }
                    }
                    <a href="@Url.Action("List", "Content", new { id = Model.ContentTypeId })" class="btn btn-white"><span class="fa fa-remove"></span>&nbsp;&nbsp;Cancel</a>
                </div>
                @if (Model.CanUpdate)
                {
                    if (Model.IsCrossBorderRegion)
                    {
                        <button class="btn btn-primary dropdown-toggle" name="action" type="submit" aria-haspopup="true" aria-expanded="false" value="@ContentActions.SaveCrossBorder">
                            <span class="fa fa-floppy-o"></span>&nbsp;&nbsp;Save
                        </button>
                    }
                    else
                    {
                        <div class="btn-group dropup">
                            <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="fa fa-floppy-o"></span>&nbsp;&nbsp;Save&nbsp;&nbsp;<span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu">
                                <li>
                                    <button class="btn btn-link" name="action" type="submit" value="@ContentActions.SaveAsDraft">Save Draft</button>
                                </li>
                                @Html.HiddenFor(o => o.CanPreview)
                                @if (Model.CanPreview)
                                {
                                    <li>
                                        <button class="btn btn-link" name="action" type="submit" value="@ContentActions.SaveAndPreview">Save and Preview</button>
                                    </li>
                                }
                                @if (Model.CanPublish)
                                {
                                    <li>
                                        <button class="btn btn-link" name="action" type="submit" value="@ContentActions.SaveLive">Save and Publish</button>
                                    </li>
                                }
                            </ul>
                        </div>
                    }
                }
            </div>
        </div>
        <div class="white-screen">
            @if (Model.CanComment)
            {
                @Html.Partial("CommentsAddButton", new CommentsModel { ContentItemId = Model.IdFieldValue != null ? Model.IdFieldValue.ToString() : null })
            }
            @Html.Partial("_TrackingInfo", Model.IdFieldValue)
            @if (Model.CanViewComments)
            {
                @Html.Partial("CommentsList", new CommentsModel { ContentItemId = Model.IdFieldValue != null ? Model.IdFieldValue.ToString() : null })
            }
        </div>
    }
</div>
<script>
    var contentItemId = '@Model.ContentItemData["ContentItemId"]';
</script>