﻿@using Mastercard.MarketingCenter.Cms.Models.Content
@model ContentItemVersionModel
@section head
{
    @System.Web.Optimization.Styles.Render("~/Content/plugins/datatables")
    @System.Web.Optimization.Scripts.Render("~/bundles/datatables")
    @System.Web.Optimization.Scripts.Render("~/bundles/tag")
}
@{
    Layout = "";
}
@section HeaderTitle
{
    History
}
@if (!Model.Any())
{
    <span>No there are previous versions available</span>
}
else
{
    <script>
        $(function () {
            if (typeof (String.prototype.endsWith === "undefined")) {
                String.prototype.endsWith = function (str) { return (this.match(str + "$") == str) }
            }
            function jsonToTable(elem) {
                if (elem !== '' && typeof (elem) !== 'undefined' && elem !== null && typeof (elem) !== 'string') {
                    var str = "<div >"; for (var prop in elem) {
                        var innerElem = elem[prop];
                        try {
                            var isElemObject = typeof (innerElem) == "object";
                            if (typeof (innerElem) !== "number" && innerElem != null && isElemObject) {
                                innerElem = "<div style=\"width:75%;\">" + jsonToTable(JSON.parse(innerElem)) + "</div>";
                            }
                        } catch (err) {
                            if (prop.toLowerCase().endsWith("id") && (typeof (elem[prop]) == "string")) {
                                continue;
                            }
                        }
                        if (!(prop.toLowerCase().endsWith("id") && (typeof (elem[prop]) == "number" || innerElem != null))) { str = str + "<div style=\"border:0.5px solid rgba(187, 186, 186, 0.45098039215686275); \">" + prop + "</label> : " + innerElem + "</div>"; }
                    }
                    str = str + "</div><br/>";

                    return str;
                } return elem;
            }
            $(".history-list .cell-inner").each(function (i, e) {
                var value = $(e).text();
                if (value !== null && value !== "undefined") {
                    try {
                        var jsonResult = JSON.parse(value);
                        if (typeof (jsonResult) == "number") {
                            finalString = value;
                        }
                        else {
                            var finalString = "";
                            if (Array.isArray(jsonResult)) {
                                for (var ind in jsonResult) {
                                    var currentValue = jsonToTable(jsonResult[ind]);
                                    if (finalString != "" && currentValue != null && currentValue != "") {
                                        finalString = finalString + "<br/>&nbsp;";
                                    }
                                    finalString = finalString + currentValue;
                                }
                            }
                            else { finalString = jsonToTable(jsonResult); }
                        }
                        $(e).html(finalString);
                    } catch (err) { }
                }
            });
        }
        )

    </script>
    <ul class="history-list" id="historyGrid">
        @foreach (var version in Model)
        {
            <li class="version">
                <h2>@(version.IsLiveContent ? "Last modified at:" : "Previous version modified at:") @version.LastModifyDate  by @(version.UserEmail != null ? version.UserEmail : "Untracked email")</h2>
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th scope="col" style="width: 25%;">Date Saved</th>
                            <th scope="col">@version.DateSaved</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var key in version.SerializedObject.Keys)
                        {
                            if (key != "ContentItemId")
                            {
                                var fieldDefinition = version.FieldDefinitions.Where(fd => fd.FieldDefinition.Name == key).FirstOrDefault();
                                <tr>
                                    <td>@(fieldDefinition != null ? fieldDefinition.FieldDefinition.Description : key)</td>
                                    <td>
                                        <div class="cell-inner">@Html.Raw(version.SerializedObject[key] == null ? string.Empty : version.SerializedObject[key].ToString())</div>
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </li>
        }
    </ul>
}