﻿@using Mastercard.MarketingCenter.Cms.Services.Infrastructure

@model ListModel
@section head
{
    @System.Web.Optimization.Styles.Render("~/Content/plugins/datatables")
    @System.Web.Optimization.Scripts.Render("~/bundles/datatables")
    @System.Web.Optimization.Scripts.Render("~/bundles/content")
    @if (!string.IsNullOrEmpty(ViewBag.refreshContentTypeId) && !string.IsNullOrEmpty(ViewBag.refreshAction))
    {
        <script>
            $(document).ready(function () {
                var contentItemCrud = new ContentItemCrud();
                contentItemCrud.initialize();

                @Html.RenderClientEvents((string)ViewBag.refreshAction,(string)ViewBag.contentAction, (string)ViewBag.refreshContentTypeId)
            });
        </script>
    }
    <script>
        var table = null;
        $(function() {
            var colsArray = [];

            colsArray.push({ "data": "Actions", "title": "Actions", searchable: false, orderable: false });
            colsArray.push({ "data": "StatusName", "title": "Status", searchable: false, orderable: true });

            @foreach (var column in Model.Columns)
            {
                <text>
                    colsArray.push({ "data": "@column.Name", "title": "@column.Description" @(string.IsNullOrEmpty(column.RenderTemplate) ? string.Empty : ',' + column.RenderTemplate) });
                </text>
            }
            @if(Model.HasCrossBorderRegions)
            {
                <text>
                    colsArray.push({ "data": "RegionApplicability", "title": "Local / Cross-Border", searchable: false, orderable: true });
                </text>
            }
            colsArray.push({ "data": "CreatedDate", "title": "Created Date", render : datetime_template, searchable: false, orderable: true });
            colsArray.push({ "data": "ModifiedDate", "title": "Modified Date",render : datetime_template, searchable: false, orderable: true });
            @if(Model.CanExpire)
            {
                <text>
                    colsArray.push({ "data": "ExpirationDate", "title": "Expiration Date", render: datetime_template, searchable: false, orderable: true });
                </text>
            }

            var defaultOrderArray = [];
            @{
                var orderableColumns = Model.Columns.Where(o => o.HasDefaultOrder).ToList();
                if (!orderableColumns.Any())
                {
                    orderableColumns.Add(new ColumnModel {Name = "ModifiedDate", Order = Model.Columns.Count() + 1, OrderDirection = "desc"});
                }
            }
            @foreach (var column in orderableColumns)
            {
                var index = orderableColumns.IndexOf(column) + 2 + column.Order;
                @:var arr = [@index, "@column.OrderDirection"];

                @:defaultOrderArray.push(arr);
            }

            var contentItemList = new ContentList("@Url.Action("GetContent", "Content")", null, "@Model.Id", "@Url.Action("Edit", "Content")", colsArray, "@Model.IdColumnName", defaultOrderArray, 3, @Model.CanPreview.ToString().ToLowerInvariant(), @(Model.CanCopy.ToString().ToLowerInvariant()), "@Url.Action("Copy", "Content")", @Model.CanArchive.ToString().ToLowerInvariant(), @Model.CanDelete.ToString().ToLowerInvariant(), @Model.CanDeleteOnlyDraft.ToString().ToLowerInvariant(),  @Model.CanEdit.ToString().ToLowerInvariant(), @Model.CanRestore.ToString().ToLowerInvariant());
            table = contentItemList.initialize(function(data) {
                data.includeArchive = $("input[name=archived]").is(":checked");
                data.includeExpired = $("input[name=expired]").is(":checked");
                data.showPendings = $("input[name=pending]").is(":checked");
            });

            $("#archived").on("change", function() {
                if ($("input[name=archived]").is(":checked"))
                {
                    $('#expired').prop('checked', false);
                    $('#pending').prop('checked', false);
                }
                table.ajax.reload();
            });

            $("#expired").on("change", function() {
                if ($("input[name=expired]").is(":checked"))
                {
                    $('#archived').prop('checked', false);
                    $('#pending').prop('checked', false);
                }
                table.ajax.reload();
            });

            $("#pending").on("change", function() {
                if ($("input[name=pending]").is(":checked"))
                {
                    $('#expired').prop('checked', false);
                    $('#archived').prop('checked', false);
                }
                table.ajax.reload();
            });

            $(document).on("click", '.archive-item', function(event) {
                if (confirm("Do you want to archive the selected Content Item?")) {
                    $.post("@Url.Action("Archive")", { id: $(this).data('id') }, function() {
                        $.get("/portal/Cache/InvalidateContentQueries");
                        $.get("/portal/Cache/InvalidateTagTree");
                        table.ajax.reload();
                    });
                }
            });

            $(document).on("click", '.restore-item', function(event) {

                $.post("@Url.Action("Restore")", { id: $(this).data('id') }, function() {
                    $.get("/portal/Cache/InvalidateContentQueries");
                    $.get("/portal/Cache/InvalidateTagTree");
                    table.ajax.reload();
                }).fail(function (data) {
                    alert((data.statusText === "undefined"  || data.statusText == null) ? data.statusCode : data.statusText);
                });
            });

            $(document).on("click", '.delete-item', function(event) {
                if (confirm("Do you want to delete the selected Content Item?")) {
                    $.post("@Url.Action("Delete")", { id: $(this).data('id') }, function() {
                        table.ajax.reload();
                    });
                }
            });

            $(document).on("click", '.delete-only-draft', function(event) {
                if (confirm("Do you want to remove the Draft for the selected item??")) {
                    $.post("@Url.Action("DeleteOnlyDraft")", { id: $(this).data('id') }, function() {
                        table.ajax.reload();
                    });
                }
            });
        });
    </script>
}
@section HeaderTitle
{
    @Model.Title
}
<div class="ibox-content">
    <div>
        <div class="row">
            <div class="col-md-4">
                @if (Model.CanCreate)
                {
                    @Html.GlyphButton("Add new Item", "Create", "Content", new { id = Model.Id }, new { @class = "btn btn-primary" }, new { @class = "fa fa-plus" })
                }
            </div>
            <div class="col-md-8">
                <div class="onoffswitch pull-right">
                    <input id="archived" name="archived" type="checkbox" value="true"><input name="archived" type="hidden" value="false">
                    <label class="onoffswitch-label" for="archived"></label>
                </div>
                <div class="onoffswitch-aside-label pull-right">Show Archived Items</div>
                <div @(Model.CanExpire ? "" : " style=display:none; ")>
                    <div class="onoffswitch pull-right">
                        <input id="expired" name="expired" type="checkbox" value="true"><input name="expired" type="hidden" value="false">
                        <label class="onoffswitch-label" for="expired"></label>
                    </div>
                    <div class="onoffswitch-aside-label pull-right">Show Expired Items</div>
                </div>
                <div @(Model.CanBePending ? "" : " style=display:none; ")>
                    <div class="onoffswitch pull-right">
                        <input id="pending" name="pending" type="checkbox" value="true"><input name="pending" type="hidden" value="false">
                        <label class="onoffswitch-label" for="pending"></label>
                    </div>
                    <div class="onoffswitch-aside-label pull-right">Show Pending Review</div>
                </div>
            </div>
        </div>
    </div>
    <br />
    <br />
    <div>
        <table class="table table-hover" id="contentGrid">
            <thead>
                <tr>
                    <th scope="col">Actions</th>
                    <th scope="col">Status</th>
                    @foreach (var column in Model.Columns)
                    {
                        <th scope="col">@column.Description</th>
                    }
                    @if (Model.HasCrossBorderRegions)
                    {
                        <th scope="col">Local / Cross-Border</th>
                    }
                    <th scope="col">Created Date</th>
                    <th scope="col">Modified Date</th>
                    @if (Model.CanExpire)
                    {
                        <th scope="col">Expiration Date</th>
                    }
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</div>