﻿@section Title {
    @Resources.Errors.PageNotFound
}
@section Breadcrumb{
    @{
        var node = new SitemapNode() { Key = "error404", Title = @Resources.Errors.PageNotFound, Url = "/portal/error404" };
    }
    @Html.Breadcrumb("home", new List<SitemapNode>() { node }, node)
}
<header class="header-section header-first-section cold-colors content-spaces-in tac">
    <div class="inner">
        <h1>@Resources.Shared.OurApologies</h1>
    </div>
</header>
<div class="content-container content-spaces-in">
    <div class="content-text row">
        <article class="col-sm-8 col-sm-offset-2 tac">
            @if (ViewBag.CustomErrorMessage == null)
            {
                <p class="h4">@Html.Raw(Resources.Errors.PageNotFoundDescription)</p>
            }
            else
            {
                @Html.Raw(ViewBag.CustomErrorMessage)
            }
            @Html.Raw(Resources.Errors.CustomErrorTemplate)
        </article>
    </div>
</div>