﻿@using Mastercard.MarketingCenter.Web.Core
@section Title {
    @Resources.Shared.Error
}
@section Breadcrumb{
    @{
        var node = new SitemapNode() { Key = "error", Title = Resources.Shared.Error, Url = "/portal/error" };
    }
    @Html.Breadcrumb("home", new List<SitemapNode>() { node }, node)
}
@if (ViewBag.Code == null)
{
    <header class="header-section header-first-section cold-colors content-spaces-in tac">
        <div class="inner">
            <h1>@Resources.Errors.ProcessingRequest</h1>
        </div>
    </header>
    <div class="content-container content-spaces-in">
        <div class="content-text row">
            <article class="col-sm-8 col-sm-offset-2 tac">
                <p class="h4">@Resources.Errors.EmailSentToWebsiteAdministrators</p>
                @Html.Raw(Resources.Errors.CustomErrorTemplate)
            </article>
        </div>
    </div>
}
else if (ViewBag.Code == Mastercard.MarketingCenter.Common.Infrastructure.Constants.ErrorCodes.InvalidOrder)
{
    <header class="header-section header-first-section cold-colors content-spaces-in tac">
        <div class="inner">
            <h1>@Resources.Errors.OrderNumberInvalid</h1>
        </div>
    </header>
    <div class="content-container content-spaces-in">
        <div class="content-text row">
            <article class="col-sm-8 col-sm-offset-2 tac">
                <p class="h4">@Resources.Errors.EmailSentToWebsiteAdministrators</p>
                @Html.Raw(Resources.Errors.CustomErrorTemplate)
            </article>
        </div>
    </div>
}
else if (ViewBag.Code == Mastercard.MarketingCenter.Common.Infrastructure.Constants.ErrorCodes.AccessDenied)
{
    <header class="header-section header-first-section cold-colors content-spaces-in tac">
        <div class="inner">
            <h1>@Resources.Errors.PageUnavailable</h1>
        </div>
    </header>
    <div class="content-container content-spaces-in">
        <div class="content-text row">
            <article class="col-sm-8 col-sm-offset-2 tac">
                <p class="h4">@Resources.Errors.ContactMastercardAccountRepresentative</p>
                @Html.Raw(Resources.Errors.CustomErrorTemplate)
            </article>
        </div>
    </div>
}
else if (ViewBag.Code == Mastercard.MarketingCenter.Common.Infrastructure.Constants.ErrorCodes.ProgramExpired)
{
    <header class="header-section header-first-section cold-colors content-spaces-in tac">
        <div class="inner">
            <h1>@Resources.Errors.ProgramExpired</h1>
        </div>
    </header>
    <div class="content-container content-spaces-in">
        <div class="content-text row">
            <article class="col-sm-8 col-sm-offset-2 tac">
                <p class="h4">@Resources.Errors.ProgramExpiredDescription</p>
                @Html.Raw(Resources.Errors.CustomErrorTemplate)
            </article>
        </div>
    </div>
}