﻿.browse-content-menu { position:relative; margin:0 0 15px 0; border:1px solid #bcbec0; background:url(/portal/content/images/page/browseAllContentBackground.gif) repeat-x left top; z-index:999; }
	.browse-content-menu .browse-content-link { display:block; padding:7px 12px 8px 12px; font-weight:bold; font-size:10px; line-height:10px; color:#6d6e70; text-decoration:none; background:url(/portal/content/images/icons/browseAllContentDown.gif) no-repeat 180px 7px; }
	.browse-content-menu .browse-content-items { display:none; position:absolute; top:100%; right:-1px; width:646px; padding:15px 5px 5px 5px; background:#fff; border:1px solid #918f90; z-index:999; }
	.browse-content-hover .browse-content-items { display:block; }
		.browse-content-menu .browse-content-items .column-div { float:left; width:185px; margin:0 15px; }
		.browse-content-menu .browse-content-items h3 { margin:0 0 5px 0; padding:0 0 2px 0; font-weight:bold; font-size:12px; color:#58595b; border-bottom:1px solid #dcddde; }
		.browse-content-menu .browse-content-items ul { margin:0 0 15px 0; }
			.browse-content-menu .browse-content-items ul li { margin:0 0 5px 0; font-size:10px; color:#6d6e70; }
				.browse-content-menu .browse-content-items ul li a { font-size:10px; color:#233c75; text-decoration:none; }
				.browse-content-menu .browse-content-items ul li a:hover { text-decoration:underline; }