﻿.card-list {
    padding: 0 0 15px 0;
}

    .card-list h2 {
        margin: 0 0 15px;
        padding: 0 0 5px;
        font-size: 17px;
        color: #58595B;
        border-bottom: 1px solid #D0D2D3;
    }

    .card-list .body-div {
        overflow: hidden;
    }

        .card-list .body-div .column-div {
            position: relative;
            float: left;
            width: 243px;
            min-height: 70px;
            padding: 0 15px 15px 82px;
        }

            .card-list .body-div .column-div.wide {
                width: 610px;
            }

            .card-list .body-div .column-div .icon-image {
                position: absolute;
                left: 0px;
                top: 0px;
            }

#content .card-list .body-div .column-div h3 {
    margin: 0 0 5px 0;
    font-size: 12px;
}

    #content .card-list .body-div .column-div h3 a, #content .card-list .body-div .column-div h3 a em {
        font-size: 12px;
    }

#content .card-list .body-div .column-div a {
    font-size: 11px;
}

#content .card-list .body-div .column-div p {
    margin: 0 0 5px 0;
    font-size: 11px;
    color: #000;
}

.card-list .more-link {
    display: block;
    float: left;
    font-size: 11px;
    line-height: 11px;
    background: url(/portal/content/images/page/twoAccrossListBrowseAllBackground.gif) no-repeat right top;
}

    .card-list .more-link:hover {
        text-decoration: none;
    }

    .card-list .more-link .body-text {
        display: block;
        padding: 6px 35px 6px 10px;
        background: url(/portal/content/images/page/twoAccrossListBrowseAllBackgroundLeft.gif) no-repeat left top;
    }

.card-list .back-top-link {
    clear: both;
    float: left;
    padding: 0 0 0 15px;
    background: url(/portal/content/images/icons/backTop.gif) no-repeat left 3px;
}
