﻿.columns-two { /*margin:0 -31px 0 0;*/ }
.columns-two .section-div { position:relative; float:left; width:230px; padding:0 31px 20px 70px; }
.columns-two .section-div.last-child { padding-right:0; }
	.columns-two .section-div .icon-image { position:absolute; top:0; left:0; }
	.columns-two .section-div h2 { font-size:14px; margin:0 0 5px 0; }
		.columns-two .section-div h2 a { font-size:14px; }