﻿.tag-browse-results h1 {
    font-size: 22px;
}

    .tag-browse-results h1 span {
        font-size: 10px;
    }

#content .tag-browse-results h2 {
    padding: 0;
    margin: 0 0 10px 0;
    font-weight: bold;
    font-size: 11px;
    border: 0;
}

.result-item-list {
    clear: both;
    margin: 0 0 15px 0;
    border-bottom: 1px dotted #ccc;
}

    .result-item-list li {
        position: relative;
        padding: 15px 15px 15px 100px;
        min-height: 70px;
        border-top: 1px dotted #ccc;
    }

    * html .result-item-list li {
        height: 70px;
    }

        .result-item-list li.popuplar-list-item {
            background: #eaebec;
        }

        .result-item-list li.no-border {
            border: 0;
        }

        .result-item-list li .icon-image {
            position: absolute;
            top: 15px;
            left: 15px;
        }

#content .result-item-list li a div, #content .result-item-list li a div em {
    font-size: 12px;
    line-height: 13px;
    color: #3A6F96;
}

#content .result-item-list li p {
    margin: 0;
    padding: 5px 0 0 0;
    font-size: 11px;
    line-height: 12px;
}

.result-paginator-list {
    float: right;
    margin: 0;
    padding: 0 0 15px 0;
}

    .result-paginator-list li {
        float: left;
        margin: 0 0 0 5px;
        line-height: 25px;
        color: #C7C8CA;
    }

        .result-paginator-list li a {
            display: block;
            padding: 4px 7px;
            font-size: 11px;
            line-height: 11px;
            border: 1px solid #DCDCDE;
            background: url(/portal/content/images/page/resultPaginatorList.png) repeat-x left bottom;
        }

            .result-paginator-list li a:hover {
                color: #fff;
                background: #F47F26;
                border: 1px solid #F79853;
                text-decoration: none;
            }

    .result-paginator-list span {
        display: block;
        padding: 4px 7px;
        font-size: 11px;
        line-height: 11px;
        color: #C7C8CA;
        border: 1px solid #DCDCDE;
        background: url(/portal/content/images/page/resultPaginatorList.png) repeat-x left bottom;
        cursor: default;
    }

        .result-paginator-list span.current {
            color: #fff;
            background: #C7C8CA;
        }
