﻿.gray-box-link-list:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

* html .gray-box-link-list {
    zoom: 1;
}

*:first-child + html .gray-box-link-list {
    zoom: 1;
}

.gray-box-link-list {
    position: relative;
    margin: 0 0 20px 0;
    padding: 10px;
    min-height: 110px;
    background: url(/portal/content/images/page/grayBoxBackgroundMiddle.gif) repeat-y 0 0;
    z-index: 10;
}

    .gray-box-link-list .gray-box-link-bgbottom {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 5px;
        background: url(/portal/content/images/page/grayBoxBackgroundBottom.gif) no-repeat 0 bottom;
    }

    * html .gray-box-link-list .gray-box-link-bgbottom {
        bottom: -1px;
    }

    .gray-box-link-list ul {
        position: relative;
        display: block;
        padding: 5px 0 0 0;
        width: 110px;
        background: url(/portal/content/images/page/grayDot.gif) repeat-x 0 0;
        z-index: 11;
    }

        .gray-box-link-list ul li:hover,
        .gray-box-link-list ul li.hover {
            position: relative;
            padding: 0;
            z-index: 1;
        }

        .gray-box-link-list ul li.with-submenu {
            background: url(/portal/content/images/icons/orangeBullet.gif) no-repeat right 6px;
        }

            .gray-box-link-list ul li.with-submenu:hover ul,
            .gray-box-link-list ul li.with-submenu.hover ul {
                display: block;
            }

                .gray-box-link-list ul li.with-submenu:hover ul li ul,
                .gray-box-link-list ul li.with-submenu.hover ul li ul {
                    display: none;
                }

        .gray-box-link-list ul li a {
            display: block;
            padding: 2px 0;
            font-size: 11px;
            color: #3A6F96;
            overflow: hidden;
        }

            .gray-box-link-list ul li:hover a,
            .gray-box-link-list ul li.hover a,
            .gray-box-link-list ul li:hover ul li:hover a,
            .gray-box-link-list ul li.hover ul li.hover a,
            .gray-box-link-list ul li:hover ul li:hover ul li:hover a,
            .gray-box-link-list ul li.hover ul li.hover ul li.hover a,
            .gray-box-link-list ul li a:hover {
                display: block;
                position: relative;
                background: #cb2128;
                color: #fff;
                text-decoration: none;
            }

        * html .gray-box-link-list ul li.hover a {
            width: 100%;
        }

        * html .gray-box-link-list ul li.hover ul li.hover a {
            width: 100%;
        }

        * html .gray-box-link-list ul li.hover ul li.hover ul li.hover a {
            width: 100%;
        }

        .gray-box-link-list ul li:hover ul li:hover ul li:hover a,
        .gray-box-link-list ul li:hover ul li.hover ul li.hover a {
            text-decoration: none;
        }

        .gray-box-link-list ul li:hover ul,
        .gray-box-link-list ul li.hover ul,
        .gray-box-link-list ul li:hover ul li:hover ul,
        .gray-box-link-list ul li.hover ul li.hover ul,
        .gray-box-link-list ul li:hover ul li:hover ul li:hover ul
        .gray-box-link-list ul li.hover ul li.hover ul li.hover ul {
            display: block;
        }

        .gray-box-link-list ul li:hover ul,
        .gray-box-link-list ul li.hover ul {
            width: 70px;
        }

            .gray-box-link-list ul li:hover ul li:hover ul,
            .gray-box-link-list ul li.hover ul li.hover ul,
            .gray-box-link-list ul li:hover ul li:hover ul li:hover ul,
            .gray-box-link-list ul li.hover ul li.hover ul li.hover ul {
                min-width: 150px;
            }

                .gray-box-link-list ul li:hover ul a,
                .gray-box-link-list ul li.hover ul a,
                .gray-box-link-list ul li:hover ul li:hover ul li a,
                .gray-box-link-list ul li.hover ul li.hover ul li a {
                    background: none;
                    color: #3a6f96;
                }

        .gray-box-link-list ul li ul {
            display: none;
            position: absolute;
            top: 0px;
            left: 100%;
            margin: 0 0 0 -10px;
            padding: 0;
            background: #fff;
            border: 1px solid #d1d1d2;
        }

        * html .gray-box-link-list ul li {
            height: 1%;
            vertical-align: top;
        }

            * html .gray-box-link-list ul li ul {
                top: 0px;
                left: 50px;
                margin-left: -100px;
                z-index: 9999;
            }

                .gray-box-link-list ul li ul li {
                    display: block;
                    padding: 0;
                }

                    .gray-box-link-list ul li ul li a {
                        display: block;
                        padding: 2px 10px 2px 5px;
                        color: #58595B;
                        position: relative;
                    }

                        .gray-box-link-list ul li ul li a.no-link {
                            cursor: default;
                            color: #58595B;
                        }

                        .gray-box-link-list ul li ul li a:hover {
                            background: #cb2128;
                        }
