﻿.jump-to-list {
    float: right;
    margin: 0 0 15px 15px;
    background: url(/portal/content/images/page/jumpToBackground.gif) no-repeat left top;
    border-right: 1px dotted #ccc;
}

    .jump-to-list li {
        padding: 1px 10px;
        font-size: 10px;
    }

        .jump-to-list li.first-child {
            padding-top: 9px;
        }

        .jump-to-list li.last-child {
            padding-bottom: 9px;
            background: url(/portal/content/images/page/jumpToBackgroundBottom.gif) no-repeat left bottom;
        }

        .jump-to-list li a {
            display: block;
            padding: 0 0 0 10px;
            font-size: 10px;
            background: url(/portal/content/images/icons/grayArrow.gif) no-repeat left center;
        }
