﻿.carousel-div { clear:both; overflow:hidden; position:relative; margin:0 0 20px 0; height:189px; background:url(/portal/content/images/page/carouselBackground.gif) no-repeat 0 0; }
	.carousel-div h2 { padding:6px 25px; font-weight:bold; font-size:12px; line-height:12px; color:#58595b; background:url(/portal/content/images/page/carouselHomeHeader.gif) no-repeat 0 0; }
	.carousel-div .carousel-list { overflow:hidden; position:absolute; top:0px; left:0px; height:189px; color:#fff; }
		.carousel-div .carousel-list li { float:left; position:relative; padding:15px 25px 10px 290px; width:392px; height:164px; }
			.carousel-div .carousel-list li .icon-image{ position:absolute; top:20px; left:25px; }
			.carousel-div .carousel-list li h3 { margin:0 0 10px 0; font-weight:normal; font-size:18px; color:#fff; }
			.carousel-div .carousel-list li p { margin:0 0 10px 0; font-size:12px; color:#fff; }
		.carousel-div .carousel-link-list { position:absolute; bottom:8px; right:20px; }
			.carousel-div .carousel-link-list li { float:left; margin:0 0 0 5px; }
				.carousel-div .carousel-link-list li a { display:block; padding:5px 7px; font-size:9px; line-height:9px; background:#a6a8ab; color:#fff; }
				.carousel-div .carousel-link-list li a:hover { text-decoration:none; }
				.carousel-div .carousel-link-list li a.current { color:#000; background:#fff; }