﻿.white-box { padding:0 1px 10px 1px; width:443px; background:url(/portal/content/images/page/whiteBoxBackground.gif) no-repeat left bottom #fff; }
	.white-box h2 { margin:0 -1px 15px -1px; padding:6px 15px; font-weight:bold; font-size:12px; line-height:12px; color:#f58025; background:url(/portal/content/images/page/whiteBoxBackgroundHeader.gif) no-repeat left top; }
	.white-box table { width:443px; }
		.white-box table th { padding:3px 0 3px 15px; font-weight:bold; }
		.white-box table td { padding:3px 0 3px 15px; background:#ededee; }
		    .white-box table td a { color:#3A6F96; }
		.white-box table tr.odd td { background:#fff; }