﻿.narrow-panel {
    margin: 0 0 15px 0;
    background: url(/portal/content/images/page/grayRoundBoxBackground.gif) no-repeat left bottom;
}

    .narrow-panel h2 {
        margin: 0;
        padding: 6px 12px;
        font-weight: bold;
        font-size: 12px;
        line-height: 12px;
        color: #58595b;
        background: url(/portal/content/images/page/grayRoundBoxBackgroundHeader.gif) no-repeat left top;
    }

    .narrow-panel .body-div {
        padding: 5px 12px;
    }

    .narrow-panel .footer-div {
        padding: 10px 12px;
        background: url(/portal/content/images/page/grayDot.gif) repeat-x left top;
    }
