﻿.narrow-panel-list {
    margin: 0 0 15px 0;
    background: url(/portal/content/images/page/grayRoundBoxBackground.gif) no-repeat left bottom;
}

    .narrow-panel-list h2 {
        margin: 0;
        padding: 6px 12px;
        font-weight: bold;
        font-size: 12px;
        line-height: 12px;
        color: #58595b;
        background: url(/portal/content/images/page/grayRoundBoxBackgroundHeader.gif) no-repeat left top;
    }

    .narrow-panel-list .body-div {
        padding: 5px 12px;
    }

        .narrow-panel-list .body-div ul.image-list {
            padding: 5px 0 0 0;
        }

            .narrow-panel-list .body-div ul.image-list li {
                position: relative;
                padding: 0 0 10px 80px;
                min-height: 70px;
            }

                .narrow-panel-list .body-div ul.image-list li.no-thumbnail {
                    padding-left: 0px;
                    min-height: 0px;
                }

            * html .narrow-panel-list .body-div ul.image-list li {
                height: 70px;
            }

                .narrow-panel-list .body-div ul.image-list li .icon-image {
                    position: absolute;
                    top: 0px;
                    left: 0px;
                }

    .narrow-panel-list .footer-div {
        padding: 10px 12px;
        background: url(/portal/content/images/page/grayDot.gif) repeat-x left top;
    }
