﻿.promotion-list {
    padding: 0 0 15px 0;
}

    .promotion-list h2 {
        margin: 0 0 15px;
        padding: 0 0 5px;
        font-size: 17px;
        color: #58595B;
        border-bottom: 1px solid #D0D2D3;
    }

    .promotion-list .body-div {
        overflow: hidden;
    }

        .promotion-list .body-div .column-div {
            position: relative;
            float: left;
            width: 342px;
            min-height: 70px;
            padding: 0 22px 15px 0px;
        }

            .promotion-list .body-div .column-div.right {
                padding-right: 0px;
            }

#content .promotion-list .body-div .column-div .icon-image {
    float: left;
    margin: 0 10px 10px 0;
}

#content .promotion-list .body-div .column-div .gray-box {
    display: block;
    float: left;
    margin: 0 0 10px 0;
    padding: 1px 5px;
    width: 252px;
    min-height: 67px;
    background: #eaebec;
}

    #content .promotion-list .body-div .column-div .gray-box h3 {
        font-size: 12px;
        margin: 0 0 2px 0;
    }

        #content .promotion-list .body-div .column-div .gray-box h3 a, #content .promotion-list .body-div .column-div .gray-box h3 a em {
            font-size: 12px;
        }

    #content .promotion-list .body-div .column-div .gray-box p {
        margin: 0 0 1px 0;
        color: #000;
    }

        #content .promotion-list .body-div .column-div .gray-box p span {
            color: #f58025;
        }

#content .promotion-list .body-div .column-div a {
    font-size: 12px;
}

#content .promotion-list .body-div .column-div p {
    clear: both;
    margin: 0 0 5px 0;
    font-size: 11px;
}

.promotion-list .more-link {
    display: block;
    float: left;
    font-size: 11px;
    line-height: 11px;
    background: url(/portal/content/images/page/twoAccrossListBrowseAllBackground.gif) no-repeat right top;
}

    .promotion-list .more-link:hover {
        text-decoration: none;
    }

    .promotion-list .more-link .body-text {
        display: block;
        padding: 6px 35px 6px 10px;
        background: url(/portal/content/images/page/twoAccrossListBrowseAllBackgroundLeft.gif) no-repeat left top;
    }
