﻿#content .related-content-item-list h2 {
    margin: 0 0 15px 0;
    padding: 5px 0;
    font-weight: normal;
    font-size: 17px;
    color: #58595b;
    border-bottom: 1px solid #dcddde;
}

#content .related-content-item-list ul li {
    position: relative;
    padding: 0 0 35px 80px;
    min-height: 77px;
    background: none;
}

* html #content .related-content-item-list ul li {
    height: 70px;
}

.related-content-item-list ul li .icon-image {
    position: absolute;
    top: 0px;
    left: 0px;
}

.related-content-item-list ul li a, .related-content-item-list ul li a em {
    font-size: 12px;
}

.related-content-item-list ul li p {
    margin: 0;
    line-height: 14px;
    font-size: 11px;
}
