﻿.related-promotion { margin:0 0 15px 0; background:url(/portal/content/images/page/relatedPromotionBackground.gif) no-repeat left bottom; }
	#content .related-promotion h2 { padding:9px 15px; font-size:11px; line-height:12px; color:#6d6e70; border-top:1px dotted #cdcccd; border-bottom:1px solid #cdcccd; }
	.related-promotion .body-div:after { visibility: hidden; display: block; font-size: 0; content: " "; clear: both; height: 0; }
	* html .related-promotion .body-div { zoom: 1; }
	*:first-child+html .related-promotion .body-div { zoom: 1; }
	.related-promotion .body-div { position:relative; padding:15px 15px 15px 95px; }
		.related-promotion .body-div h3 { margin:0 0 5px 0; }
			.related-promotion .body-div h3, .related-promotion .body-div h3 a, .related-promotion .body-div h3 a em { font-weight:bold; font-size:12px; }
		.related-promotion .body-div .icon-image { position:absolute; top:15px; left:15px; }
		.related-promotion .body-div p { margin:0 0 5px 0; }
		.related-promotion .body-div .orange-text { color:#f68d3b; }