﻿.menu-tabs { border-bottom:1px solid #dddedf; overflow:hidden; margin:0 0 15px 0; }
* html .menu-tabs { height:1%; }
	.menu-tabs li { float:left; display:block; margin:0 2px 0 0; background:url(/portal/content/images/page/menuTabItemBackground.gif) no-repeat left top; }
		.menu-tabs li a { display:block; padding:8px 8px; font-weight:bold; font-size:10px; line-height:10px; color:#6d6e70; background:url(/portal/content/images/page/menuTabItemBackgroundRight.gif) no-repeat right top; text-decoration:none; }
	.menu-tabs li:hover, .menu-tabs li.hover, .menu-tabs li.current { background-image:url(/portal/content/images/page/menuTabItemSelectedBackground.gif); }
		.menu-tabs li:hover a, .menu-tabs li.hover a, .menu-tabs li.current a { background-image:url(/portal/content/images/page/menuTabItemSelectedBackgroundRight.gif); color:#fff; }