﻿.three-accross-list { padding:0 0 15px 0; }
	.three-accross-list h2 { margin:0 0 15px; padding:0 0 5px; font-size:17px; color:#58595B; border-bottom:1px solid #D0D2D3; }
		.three-accross-list h2 a { font-size:17px; color:#58595B; }
	.three-accross-list .body-div { overflow:hidden; }
		.three-accross-list .body-div .column-div { position:relative; float:left; width:220px; padding:0 15px 15px 0px; }
			.three-accross-list .body-div .column-div a, .three-accross-list .body-div .column-div a em { float:left; width:140px; font-size:12px; }
			.three-accross-list .body-div .column-div .icon-image { float:left; margin-right:10px; width:69px; }
	.three-accross-list .more-link { padding:0 0 0 15px; font-size:12px; background:url(/portal/content/images/icons/orangeArrowLarge.gif) no-repeat left center; }