﻿.two-accross-list {
    padding: 0 0 15px 0;
}

    .two-accross-list h2 {
        margin: 0 0 15px;
        padding: 0 0 5px;
        font-size: 17px;
        color: #58595B;
        border-bottom: 1px solid #D0D2D3;
    }

    .two-accross-list .body-div {
        overflow: hidden;
    }

        .two-accross-list .body-div .column-div {
            position: relative;
            float: left;
            width: 262px;
            min-height: 70px;
            padding: 0 22px 15px 80px;
        }

            .two-accross-list .body-div .column-div.right {
                padding-right: 0px;
            }

            .two-accross-list .body-div .column-div .icon-image {
                position: absolute;
                left: 0px;
                top: 0px;
            }

            .two-accross-list .body-div .column-div h3 {
                margin: 0 0 5px 0;
                font-size: 12px;
            }

                .two-accross-list .body-div .column-div h3 a, .two-accross-list .body-div .column-div h3 a em {
                    font-size: 12px;
                }

            .two-accross-list .body-div .column-div a {
                font-size: 11px;
            }

#content .two-accross-list .body-div .column-div p {
    margin: 0 0 5px 0;
    font-size: 11px;
}

#content .two-accross-list .body-div .column-div div {
    padding: 0 0 5px 0;
    font-size: 11px;
    line-height: 16px;
}

.two-accross-list .more-link {
    display: block;
    float: left;
    font-size: 11px;
    line-height: 11px;
    background: url(/portal/content/images/page/twoAccrossListBrowseAllBackground.gif) no-repeat right top;
}

    .two-accross-list .more-link:hover {
        text-decoration: none;
    }

    .two-accross-list .more-link .body-text {
        display: block;
        padding: 6px 35px 7px 10px;
        background: url(/portal/content/images/page/twoAccrossListBrowseAllBackgroundLeft.gif) no-repeat left top;
    }
