﻿.tag-menu {
    width: 204px;
    background: url(/portal/content/images/page/tagMenuBackground.gif) no-repeat left top;
}

    .tag-menu .body-div {
        padding: 12px 2px 2px 2px;
        background: url(/portal/content/images/page/tagMenuBackgroundBottom.gif) no-repeat left bottom;
    }

    .tag-menu h2 {
        margin: 0 0 5px 0;
        padding: 0 8px;
        font-weight: bold;
        font-size: 12px;
        color: #58595b;
    }

    .tag-menu ul {
        margin: 0 0 5px 0;
    }

        .tag-menu ul li .tag-menu-item {
            padding: 5px 8px 6px 8px;
            font-size: 10px;
            line-height: 10px;
        }

            .tag-menu ul li .tag-menu-item a {
                font-size: 10px;
                line-height: 10px;
                color: #233c75;
            }

        .tag-menu ul li ul li .tag-menu-item {
            padding-left: 20px;
        }

        .tag-menu ul li .tag-menu-item-selected {
            position: relative;
            padding: 5px 25px 5px 8px;
            font-size: 10px;
            line-height: 10px;
            background: #e6e7e8;
            border-top: 1px solid #ecedee;
            border-bottom: 1px solid #ecedee;
        }

            .tag-menu ul li .tag-menu-item-selected a {
                font-size: 10px;
                line-height: 10px;
                color: #233c75;
            }

                .tag-menu ul li .tag-menu-item-selected a.remove-link {
                    position: absolute;
                    top: 50%;
                    right: 0px;
                    margin-top: -11px;
                }

        .tag-menu ul li ul li .tag-menu-item-selected {
            padding-left: 20px;
        }

    .tag-menu li ul {
        display: none;
    }

    .tag-menu li.selected ul {
        display: block;
        padding: 0 0 0 15px;
        margin: 0;
    }
