﻿@model ResourceAccessModel

<div class="ibox-content">

    @Html.Partial("_ErrorAlert")

    @using (Html.BeginForm("Create", "ResourceAccess", FormMethod.Post, new { @class = "form-horizontal" }))
    {
        <div class="form-group">
            <label class="col-md-3 control-label">Group Name</label>
            <div class="col-md-6">@Html.DropDownListFor(o => o.IdentityId, ViewBag.Groups as SelectList, new { @class = "form-control" })</div>
        </div>

            @*<label class="col-md-3 control-label">Area</label>
                <div class="col-md-6">@Html.TextBoxFor(o => o.Area, new { @class = "form-control" })</div>*@

        <div class="form-group">
            <label class="col-md-3 control-label">Module</label>
            <div class="col-md-6">@Html.DropDownListFor(o => o.Controller, ViewBag.Modules as SelectList, new { @class = "form-control" })</div>
        </div>

        @*<label class="col-md-3 control-label">Action</label>
            <div class="col-md-6">@Html.TextBoxFor(o => o.Action, new { @class = "form-control" })</div>

            <label class="col-md-3 control-label">Id</label>
            <div class="col-md-6">@Html.TextBoxFor(o => o.Id, new { @class = "form-control" })</div>

            <label class="col-md-3 control-label">Query String</label>
            <div class="col-md-6">@Html.TextBoxFor(o => o.QueryString, new { @class = "form-control" })</div>*@

        <hr />

        <div class="form-group">
            <div class="col-md-6 col-sm-offset-3">
                <div class="pull-right">
                    <a href="@Url.Action("Index", "ResourceAccess", null)" class="btn btn-white"><span class="fa fa-remove"></span>&nbsp;&nbsp;Cancel</a>
                </div>
                <button class="btn btn-primary" type="submit">Create</button>
            </div>
        </div>
    }
</div>

