﻿@using Mastercard.MarketingCenter.Cms.Models
@model ResourceAccessModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="ibox-content">

    @Html.Partial("_ErrorAlert")
    <div id="errors" class="alert alert-danger" role="alert">You are about to delete the Resource Access</div>

    @using (Html.BeginForm("Delete", "ResourceAccess", FormMethod.Post, new { @class = "form-horizontal" }))
    {
        @Html.HiddenFor(o => o.ResourceAccessId)

        <table class="table">
            <tr>
                <td>Resource Access Id</td>
                <td>@Model.ResourceAccessId</td>
            </tr>
            <tr>
                <td>Identity Id</td>
                <td>@Model.IdentityId</td>
            </tr>
            <tr>
                <td>Group Name</td>
                <td>@Model.IdentityName</td>
            </tr>
            <tr>
                <td>Area</td>
                <td>@Model.Area</td>
            </tr>
            <tr>
                <td>Controller</td>
                <td>@Model.Controller</td>
            </tr>
            <tr>
                <td>Action</td>
                <td>@Model.Action</td>
            </tr>
            <tr>
                <td>Id</td>
                <td>@Model.Id</td>
            </tr>
            <tr>
                <td>Query String</td>
                <td>@Model.QueryString</td>
            </tr>
        </table>
        <hr />
        <div class="form-group">
            <div class="col-md-6 col-md-offset-3">
                <div class="pull-right">
                    <a href="@Url.Action("Index", "ResourceAccess", null)" class="btn btn-white"><span class="fa fa-remove"></span>&nbsp;&nbsp;Cancel</a>
                </div>
                <button class="btn btn-primary" type="submit"><span class="fa fa-trash"></span>&nbsp;&nbsp;Delete</button>
            </div>
        </div>
    }
</div>