﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section head
{
    @System.Web.Optimization.Styles.Render("~/Content/plugins/datatables")
    @System.Web.Optimization.Scripts.Render("~/bundles/datatables")
    @System.Web.Optimization.Scripts.Render("~/bundles/group")
}
@section HeaderTitle
{
    Groups
}

<div class="ibox-content">
    <a href="@Url.Action("Create", "ResourceAccess")" class="btn btn-primary"><em class="fa fa-plus"></em>&nbsp;&nbsp;Add new Resource Access</a>
    <hr />
    <table class="table table-hover" id="groupsGrid">
        <thead>
            <tr>
                <th scope="col">Group Name</th>
                <th scope="col">Module</th>
                <th scope="col">Delete</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var access in Model)
            {
                <tr>
                    <td>@access.IdentityName</td>
                    <td>@access.Controller</td>
                    <td>
                        @Html.ActionLink("Delete", "Delete", "ResourceAccess", new { @id = @access.ResourceAccessId }, null)
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>