﻿@model AccessViewModel

@{
    Layout = null;
}

@System.Web.Optimization.Styles.Render("~/Content/legacy/css/jquery.flexbox.css")
@System.Web.Optimization.Styles.Render("~/Content/legacy/css/MarketingCenter.SharedControls.css")
@System.Web.Optimization.Scripts.Render("~/bundles/main")
<script src="https://unpkg.com/vue"></script>

<div class="ibox-content" style="height: 1000px;">
    <div class="center_container">
        <div class="form_container">
            <div class="orange_heading_profile">Admin Access</div>
            @if (!ViewData.ModelState.IsValid)
            {
                var errors = ViewData.ModelState.SelectMany(o => o.Value.Errors);
                <div>
                    <label class="error">
                        @foreach (var error in errors)
                        {
                            @Html.Raw(error.ErrorMessage)<br />
                        }
                    </label>
                </div>
            }
            <div style="clear: both;"></div>
            <br />
            <div class="faq_blog">
                <div class="contact_container mrt">
                    <div class="contact_heading_relative">
                        <div class="orange_heading_main">Admin Access</div>
                    </div>
                    @using (Html.BeginForm("Access", "Profile", FormMethod.Post, new { id = "profile-access", @class = "form" }))
                    {
                        @Html.AntiForgeryToken()
                        @Html.HiddenFor(model => model.UserId)
                        @Html.HiddenFor(model => model.ReturnUrl)
                        if (Model.Roles != null)
                        {
                            <div class="contact_heading_bg_relative">
                                <ul class="role_options">
                                    @foreach (var role in Model.Roles.OrderBy(r => r.DisplayOrder))
                                    {
                                        if (User.IsInRole(Constants.Roles.DevAdmin) || !role.Name.Trim().Equals(Constants.Roles.DevAdmin, StringComparison.InvariantCultureIgnoreCase))
                                        {
                                            <li>
                                                <input v-model="roleId" type="radio" value="@role.RoleId" id="Roles_RoleId_@role.RoleId" name="RoleId" @(role.RoleId == Model.RoleId ? "checked" : "") />
                                                <label>@role.Description</label>
                                                @if (role.ShowRegions)
                                                {
                                                    <div class="role_sub_options" v-show="roleId == @role.RoleId">
                                                        <ul>
                                                            @foreach (var region in role.Regions.OrderBy(r => r.Region.Name))
                                                            {
                                                                if (User.IsInRole(Constants.Roles.DevAdmin) ||
                                                                    !(role.Name.Trim().Equals(Constants.Roles.McAdmin, StringComparison.InvariantCultureIgnoreCase) || role.Name.Trim().Equals(Constants.Roles.ContentProducer, StringComparison.InvariantCultureIgnoreCase)) ||
                                                                    Model.CurrentUserRole.Regions.Any(r => r.RegionId.Trim().Equals(region.Region.IdTrimmed)))
                                                                {
                                                                    <li>
                                                                        <input v-if="roleId == @role.RoleId" type="checkbox" id="Roles_Regions_RegionId_@region.Region.IdTrimmed" name="Regions" value="@region.Region.IdTrimmed" @(role.RoleId == Model.RoleId && (Model.Regions != null && Model.Regions.Contains(region.Region.IdTrimmed)) ? "checked" : "") />
                                                                        <label>@region.Region.Name</label>
                                                                    </li>
                                                                }
                                                            }
                                                        </ul>
                                                    </div>
                                                }
                                            </li>
                                        }
                                    }
                                </ul>
                            </div>
                        }
                        <div class="role_actions">
                            <div class="left_buttons">
                                <span class="bg_btn_left bg_btn_nomar">
                                    <a id="save-button" class="submit_bg_btn" href="#" onclick="submitForm(event);" target="_self">Save</a>
                                </span>
                                <span class="bg_btn_left bg_btn_nomar">
                                    <a id="cancel-button" class="submit_bg_btn" href="@Model.ReturnUrl" target="_self">Cancel</a>
                                </span>
                                <div class="clr"></div>
                            </div>
                        </div>
                        <div class="contact_heading_bot_relative"></div>
                    }
                    <script>
                        function submitForm(event) {
                            event.preventDefault();
                            document.getElementById('profile-access').submit();
                        }

                        new Vue({
                            el: '#profile-access',
                            data: {
                                roleId: '@Model.RoleId'
                            }
                        });
                    </script>
                </div>
            </div>
        </div>
    </div>
</div>