﻿@using Mastercard.MarketingCenter.Services.Interfaces
@using System.Web.Mvc;
@model MostPopularViewModel
@{var urlService = DependencyResolver.Current.GetService<IUrlService>();}
<h2 class="component-favorites__title">
    <img src="@urlService.GetStaticImageURL("component-favorites/popular.png")" width="30" alt="">@Resources.Shared.MostPopular
</h2>
@if (Model.MostPopularItems.Any())
{
    int itemsCount = 0;
    <div class="component-favorites__body">
        <ul class="component-most-popular">
            @foreach (var mpi in Model.MostPopularItems)
            {
                itemsCount++;
                if (itemsCount <= Model.LessItemsQuantity)
                {
                    <li class="most-popular__item">
                        <div class="component-most-popular__item">
                            <a href="@mpi.ResourceUrl?trackingType=@Mastercard.MarketingCenter.Common.Infrastructure.Constants.TrackingTypes.MostPopular">
                                <figure><img src="@(mpi.MainImageUrl.IsNullOrWhiteSpace() ? Url.RandomDefaultMostPopularContentItemImageUrl("/portal/content/images/component-favorites/popular-empty.jpg") : Url.ImageUrl(mpi.MainImageUrl, 180, 120, true))" alt="@mpi.Title" /></figure>
                                <h3>
                                    @Html.RawWithSnippets(mpi.Title)
                                </h3>
                            </a>
                        </div>
                    </li>
                }
                else
                {
                    <li>
                        <div class="component-most-popular__item">
                            <h3><a href="@mpi.ResourceUrl?trackingType=@Mastercard.MarketingCenter.Common.Infrastructure.Constants.TrackingTypes.MostPopular">@Html.RawWithSnippets(mpi.Title)</a></h3>
                        </div>
                    </li>
                }
            }
        </ul>
    </div>
    <div class="component-favorites__footer">
        <a class="favorites-popular__more-link" href="#">@Resources.Shared.ShowMore</a>
        <a class="favorites-popular__less-link hide" href="#">@Resources.Shared.ShowLess</a>
    </div>
    <script>
        $(document).ready(function () {
            $('.favorites-popular__more-link').click(function (e) {
                e.preventDefault();
                var $parent = $(this).closest('.component-favorites-content');
                var mostPopularContainer = $parent.find('.component-most-popular');
                mostPopularContainer.addClass('expanded');
                IsInternetExplorer() ? mostPopularContainer.addClass('ie') : mostPopularContainer.addClass('')
                $(this).addClass('hide');
                $parent.find('.favorites-popular__less-link').removeClass('hide');
            });
            $('.favorites-popular__less-link').click(function (e) {
                e.preventDefault();
                var $parent = $(this).closest('.component-favorites-content');
                var mostPopularContainer = $parent.find('.component-most-popular');
                mostPopularContainer.removeClass('expanded');
                IsInternetExplorer() ? mostPopularContainer.removeClass('ie') : mostPopularContainer.removeClass('')
                $(this).addClass('hide');
                $parent.find('.favorites-popular__more-link').removeClass('hide');
            });
            TruncateTitles();
        });

        function TruncateTitles() {
            nodes = document.getElementsByClassName('most-popular__item')[0].getElementsByTagName('h3');
            for (var i = 0; i < nodes.length; i++) {
                var parentNode = $(".most-popular__item");
                parentNode.removeClass();
                $clamp(nodes[i], {
                    clamp: 1,
                    useNativeClamp: false
                });
                parentNode.addClass("most-popular__item");
            }
        }

        function IsInternetExplorer() {
            var ua = navigator.userAgent;

            if (ua.indexOf("MSIE ") > 0 || !!navigator.userAgent.match(/Trident.*rv\:11\./))
            {
                return true;
            }

            return false;
        }
    </script>
}
else
{
    <div class="component-favorites__body my-favorites__empty">
        <h3>@Resources.Shared.MostPopularEmptyTitle</h3>
        <p>@Resources.Shared.MostPopularEmptyDescription</p>
    </div>
}