﻿@using System.Web.Mvc;
@using Mastercard.MarketingCenter.Services.Interfaces
@model MyFavoritesViewModel
@{var urlService = DependencyResolver.Current.GetService<IUrlService>();}
<h2 class="component-favorites__title">
    <img src="@urlService.GetStaticImageURL("component-favorites/favorite.png")" width="30" alt="">@Resources.Forms.MyFavorites
</h2>
@if (Model.MyFavoritesItems.Any())
{
    <div class="component-favorites__body">
        <ul class="component-my-favorites">
            @foreach (var mfi in Model.MyFavoritesItems)
            {
                <li>
                    <div class="component-my-favorites__item">
                        <a href="@mfi.ResourceUrl?trackingType=@Mastercard.MarketingCenter.Common.Infrastructure.Constants.TrackingTypes.MyFavorites">
                            <figure><img src="@(mfi.MainImageUrl.IsNullOrWhiteSpace() ? Url.RandomDefaultMyFavoritesContentItemImageUrl("/portal/content/images/component-favorites/favorite-empty.png") : Url.ImageUrl(mfi.MainImageUrl, 120, 120))" alt="@mfi.Title" /></figure>
                            <h3>
                                @Html.RawWithSnippets(mfi.Title)
                            </h3>
                        </a>
                        <p>
                            @Html.Raw(mfi.Summary.StripHtml().TrimEllipsisWord(100))
                        </p>
                    </div>
                </li>
            }
        </ul>
    </div>
    <div class="component-favorites__footer">
        <a href="@Url.Action("MyFavorites", "Profile")">@Resources.Shared.MyFavoritesViewAll</a>
    </div>
}
else
{
    <div class="component-favorites__body my-favorites__empty">
        <img src="@urlService.GetStaticImageURL("component-favorites/favorite-none.png")" width="165" alt="">
        <h3>@Resources.Shared.MyFavoritesEmptyTitle</h3>
        <p>@Html.Raw(string.Format(Resources.Shared.MyFavoritesEmptyDescription, string.Format("<span class='notify-me-icon'>{0}&nbsp;<i class='fa fa-heart' aria-hidden='true'></i></span>", Resources.Forms.MyFavorites_Add)))</p>
        <a class="my-favorites__empty__link" href="@Url.Action("AutomaticEmailNotifications")?trackingType=@Mastercard.MarketingCenter.Common.Infrastructure.Constants.TrackingTypes.MyFavorites">@Resources.Shared.LearnMore</a>
    </div>
}