﻿@{
    Layout = "~/Views/Shared/_LayoutWithoutFooter.cshtml";
}
@using Mastercard.MarketingCenter.Services.Interfaces;
@using System.Web.Mvc;
@model AutomaticEmailNotificationsViewModel
@section Title {
    @Model.Title
}
@section sectionHead {
    @{ var urlService = DependencyResolver.Current.GetService<IUrlService>(); }
    @System.Web.Optimization.Styles.Render(urlService.GetStaticTriggerMarketingCss())
    @System.Web.Optimization.Scripts.Render(urlService.GetStaticTriggerMarketingJs())
}
<main class="page-body">
    <nav class="breadcrumbs grid-spaces-in">
        <a href="/portal" class="path " tracking-type="breadcrumb">@Resources.Shared.Home</a>
        <span>@Model.Title</span>
    </nav>
    @Html.Raw(Model.AutomaticEmailNotificationsBody)
</main>