﻿@using Mastercard.MarketingCenter.Services.Interfaces;
@using StackExchange.Profiling
@using System.Web.Mvc;
@model HomeIndexViewModel
@section Title {
    @Model.SiteName
}
@{ var profiler = MiniProfiler.Current; }
@* Hero header stripe *@
@if (!string.IsNullOrEmpty(Model.HomeBanner))
{
    @Html.Raw(Model.HomeBanner)
}
else
{
    @System.Web.Optimization.Styles.Render(DependencyResolver.Current.GetService<IUrlService>().GetStaticHomeBannerCss())
    <h1 class="hero-page-header grid-spaces-in new-black">
        <span class="mc-logo">
            <em class="icon"></em> <span>mastercard <span class="sub-title">@Model.PartialSiteName</span></span>
        </span>
    </h1>
}
<style>
    .box-icon {
        height: 93px;
    }
</style>
@using (profiler.Step("Show Optimization Dashboard"))
{
    if (Model.ShowOptimizationDashboard)
    {
        <section class="dashboard clearfix grid-spaces-in">
            <ul class="dash-options-list">
                <li class="header">
                    <span class="lbl"><a href="@Url.RouteUrl("DashboardLanding")">@Resources.Optimization.Title.ToUpperInvariant()</a></span>
                    <em class="rar-t"></em>
                    <em class="rar-b"></em>
                </li>
                <li><a tracking-type="home" href="@Url.RouteUrl("Report", new { trackingType = "home" })"><em class="dash-icon traffic"></em><span class="label">@Resources.Optimization.AssessYourConsumerPortfolio</span></a></li>
                <li><a tracking-type="home" href="@Constants.Urls.ThoughtLeadershipOverview"><em class="dash-icon idea"></em><span class="label">@Resources.Shared.ThoughtLeadership</span></a></li>
                <li><a tracking-type="home" href="@Constants.Urls.MarketingOverview"><em class="dash-icon marketing"></em><span class="label">@Resources.Optimization.MarketingResources</span></a></li>
                <li><a tracking-type="home" href="@Url.RouteUrl("Optimize", new { trackingType = "home" })"><em class="dash-icon tools"></em><span class="label">@Resources.Optimization.OptimizationResources</span></a></li>
            </ul>
        </section>
    }
}
@*ContentPreferencesMessage*@
@using (profiler.Step("Content Preferences"))
{
    @Html.Partial("ContentPreferences", Model.ContentPreferencesViewModel)
}
@*Marquee*@
@using (profiler.Step("Carousel Slides"))
{
    @Html.Partial("CarouselSlide", Model.CarouselSlides)
}
@if (!string.IsNullOrEmpty(Model.HomeSubMarqueeText))
{
    @Html.Raw(Model.HomeSubMarqueeText)
}
@*Trigger Marketing - Customized Homepage*@
@using (profiler.Step("Trigger Marketing - Customized Homepage"))
{
    @Html.Partial("TriggerMarketingCustomizedHomepage", Model)
}
@*Squares*@
@using (profiler.Step("Squares (FindAProduct)"))
{
    if (Model.FindAProductViewModel != null)
    {
        @Html.Partial("FindAProduct", Model.FindAProductViewModel)
    }
}
@*quick links section*@
@using (profiler.Step("Quick Links"))
{
    if (Model.QuickLinks.Any())
    {
        <section class="page-section boxes-section content-spaces-in">
            <h1 class="section-header">@Resources.Shared.QuickLinks</h1>
            <div class="boxes-slider m-heads row">
                @foreach (var quickLink in Model.QuickLinks)
                {
                    <div class="box col-sm-3">
                        <div class="box-icon"><img class="img-responsive" src="@Url.ImageUrl(quickLink.Image, 126, 93, false)" max-width="126" max-height="93" width="auto" height="auto" alt="" /></div>
                        <div class="box-text">
                            <h2><a href="@quickLink.Url"><strong>@Html.RawWithSnippets(quickLink.Title)</strong></a></h2>
                            <p>@Html.Raw(@quickLink.Paragraph)</p>
                        </div>
                    </div>
                }
            </div>
        </section>
    }
}