﻿@using Mastercard.MarketingCenter.Services.Interfaces
@using System.Web.Mvc;
@System.Web.Optimization.Styles.Render(DependencyResolver.Current.GetService<IUrlService>().GetStaticFavoritesCss())
@{var urlService = DependencyResolver.Current.GetService<IUrlService>();}
<div class="component-favorites-content popular">
    <h2 class="component-favorites__title">
        <img src="@urlService.GetStaticImageURL("component-favorites/popular.png")" width="48" alt="">@Resources.Shared.MostPopular
    </h2>
    <div id="most-popular-async-content" data-url="@Url.Action("GetMostPopularContent")">
        <div class="component-favorites__body component-favorites__loading">
            <img src="@urlService.GetStaticImageURL("option_03_endless_loop.gif")" alt="@Resources.Shared.Loading">
            <div>@Resources.Shared.Loading</div>
        </div>
    </div>
</div>
@System.Web.Optimization.Scripts.Render(urlService.GetStaticFavoritesJs())
<script>
    $(document).ready(function () {
        var item = $('#most-popular-async-content');
        var url = item.data("url");
        if (url && url.length > 0) {
            item.parent().load(url);
        }
    });
</script>