﻿@using Mastercard.MarketingCenter.Services.Interfaces
@using System.Web.Mvc;
@model HomeIndexViewModel
@System.Web.Optimization.Styles.Render(DependencyResolver.Current.GetService<IUrlService>().GetStaticFavoritesCss())
@{var urlService = DependencyResolver.Current.GetService<IUrlService>();}
<div class="component-favorites-content" id="my-favorites-async-content-parent" data-url="@Url.Action("GetMyFavoritesContent")">
    <h2 class="component-favorites__title">
        <img src="@urlService.GetStaticImageURL("component-favorites/favorite.png")" width="48" alt="">@Resources.Forms.MyFavorites
    </h2>
    <div id="my-favorites-async-content">
        <div class="component-favorites__body component-favorites__loading">
            <img src="@urlService.GetStaticImageURL("option_03_endless_loop.gif")" alt=">@Resources.Shared.Loading">
            <div>@Resources.Shared.Loading</div>
        </div>
    </div>
</div>
@System.Web.Optimization.Scripts.Render(urlService.GetStaticFavoritesJs())
<script>
    $(document).ready(function () {
        var item = $('#my-favorites-async-content-parent');
        var url = item.attr("data-url");
        if (url && url.length > 0) {
            item.load(url);
        }
    });
</script>