.component-favorites {
    display: flex;
    padding: 64px 0;
    margin: 0 100px;
    justify-content: space-between;
    font-family: "Accord Alternate", Arial, Helvetica, sans-serif;
    font-weight: 500;
}

    .component-favorites > .component-favorites-content {
        flex: 0 0 600px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
        width: 1px;
    }

        .component-favorites > .component-favorites-content.popular {
            flex: 0 0 600px;
        }

        .component-favorites > .component-favorites-content .component-favorites__body {
            flex-grow: 1;
            margin-bottom: 45px;
        }

        .component-favorites > .component-favorites-content .component-favorites__footer, .component-favorites > .component-favorites-content .component-favorites__footer a {
            font-family: "Accord Alternate", Arial, Helvetica, sans-serif;
            font-size: 24px;
            font-weight: 500;
            font-style: normal;
            font-stretch: normal;
            line-height: 32px;
            letter-spacing: 0.8px;
            color: #018e96;
            float: right;
            margin-right: 10px;
            margin-top: -10px;
        }

        .component-favorites > .component-favorites-content.popular .component-favorites__footer, .component-favorites > .component-favorites-content.popular .component-favorites__footer a {
            letter-spacing: normal;
            float: right;
            margin-top: -8px;
            color: #018e96;
            font-weight: 500;
            font-style: normal;
            font-family: "Accord Alternate", Arial, Helvetica, sans-serif;
        }

            .component-favorites > .component-favorites-content.popular .component-favorites__footer .favorites-popular__more-link::after,
            .component-favorites > .component-favorites-content.popular .component-favorites__footer .favorites-popular__less-link::after {
                content: '';
                display: inline-block;
                margin-left: 10px;
                width: 22px;
                height: 22px;
                vertical-align: middle;
                background: url("../Images/component-favorites/more-link.png") no-repeat center center;
                -webkit-background-size: 22px 22px;
                background-size: 22px 22px;
            }

            .component-favorites > .component-favorites-content.popular .component-favorites__footer .favorites-popular__more-link::after {
                -webkit-transform: rotate(180deg);
                -moz-transform: rotate(180deg);
                -ms-transform: rotate(180deg);
                -o-transform: rotate(180deg);
                transform: rotate(180deg);
            }

.component-my-favorites,
.component-most-popular {
    list-style: none;
    margin: 0;
    padding: 0;
}

.component-favorites__title {
    margin-bottom: 40px;
    font-family: "Accord Alternate", Arial, Helvetica, sans-serif;
    font-size: 29px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #000000;
}

    .component-favorites__title img {
        margin-right: 15px;
        vertical-align: text-top;
    }

.component-my-favorites__item {
    position: relative;
    padding: 0 0 14px 120px;
}

    .component-my-favorites__item figure {
        position: absolute;
        top: 0;
        left: 0;
        width: 100px;
        height: 100px;
        overflow: hidden;
        border-radius: 100px;
    }

        .component-my-favorites__item figure img {
            vertical-align: top;
            max-width: 100%;
        }

    .component-my-favorites__item h3 {
        margin: 0 0 16px;
    }

        .component-my-favorites__item h3, .component-my-favorites__item h3 a {
            font-family: "Accord Alternate", Arial, Helvetica, sans-serif;
            font-size: 28px;
            font-weight: 500;
            font-style: normal;
            font-stretch: normal;
            line-height: 1;
            letter-spacing: normal;
            color: #000;
        }

            .component-my-favorites__item h3, .component-my-favorites__item h3 sup {
                font-family: "Accord Alternate", Arial, Helvetica, sans-serif;
                font-weight: 500;
                min-height: 55px;
            }

    .component-my-favorites__item p {
        margin: -11px 0 0 0;
        padding-right: 50px;
        font-family: "Accord Alternate", Arial, Helvetica, sans-serif;
        font-size: 18px;
        font-weight: 500;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #5b676f;
        border-bottom: 1px solid #d0d3d4;
        min-height: 75px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

li:first-child > .component-my-favorites__item {
    padding-top: 0;
}

    li:first-child > .component-my-favorites__item figure {
        top: 0;
    }

.component-most-popular {
    padding-top: 0;
}

    .component-most-popular > li:last-child .component-most-popular__item {
        margin-bottom: 20px;
        border-bottom: 0px;
    }

    .component-most-popular > li {
        max-height: 0;
        opacity: 0;
        overflow: hidden;
        -webkit-transition: opacity 0.25s, opacity 0.25s;
        -moz-transition: opacity 0.25s, opacity 0.25s;
        -ms-transition: opacity 0.25s, opacity 0.25s;
        -o-transition: opacity 0.25s, opacity 0.25s;
        transition: opacity 0.25s, opacity 0.25s;
    }

        .component-most-popular > li.most-popular__item {
            max-height: 100%;
            opacity: 1;
        }

    .component-most-popular.expanded > li {
        max-height: 300px;
        opacity: 1;
    }

    .component-most-popular.expanded.ie .component-most-popular__item {
        padding-top: 1.2%;
        padding-bottom: 1.1%;
    }

.component-most-popular__item {
    padding-top: 1.3%;
    padding-bottom: 1.4%;
    border-bottom: 1px solid #cdd0d2;
}

    .component-most-popular__item figure {
        overflow: hidden;
        opacity: 0;
        max-height: 0;
        -webkit-transition: opacity 0.25s;
        -moz-transition: opacity 0.25s;
        -ms-transition: opacity 0.25s;
        -o-transition: opacity 0.25s;
        transition: opacity 0.25s;
    }

        .component-most-popular__item figure img {
            max-width: 100%;
            max-height: 200px;
            height: 120px;
        }

    .component-most-popular__item h3 {
        display: block;
        margin: 0;
    }

        .component-most-popular__item h3, .component-most-popular__item h3 a {
            font-family: "Accord Alternate", Arial, Helvetica, sans-serif;
            font-size: 24px;
            font-weight: 500;
            font-style: normal;
            font-stretch: normal;
            line-height: normal;
            letter-spacing: normal;
            color: #000000;
            -webkit-transition: opacity 0.25s;
            -moz-transition: opacity 0.25s;
            -ms-transition: opacity 0.25s;
            -o-transition: opacity 0.25s;
            transition: opacity 0.25s;
        }

            .component-most-popular__item h3, .component-most-popular__item h3 sup {
                font-family: "Accord Alternate", Arial, Helvetica, sans-serif;
                font-weight: 500;
            }

.component-most-popular.expanded .most-popular__item:first-child .component-most-popular__item {
    padding-top: 0;
}

.component-most-popular:not(.expanded) .most-popular__item .component-most-popular__item {
    display: flex;
    padding-top: 0;
    padding-bottom: 0;
    margin: 0 10px 28px 10px;
    border-bottom: none;
    background-color: #ffffff;
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.15);
    word-break: normal; /* IE11 hack*/
    word-break: break-word;
}

    .component-most-popular:not(.expanded) .most-popular__item .component-most-popular__item figure {
        opacity: 1;
        max-height: 200px;
        float: left;
        max-width: 180px;
    }

    .component-most-popular:not(.expanded) .most-popular__item .component-most-popular__item h3 {
        padding: 33px 28px 0px;
    }

        .component-most-popular:not(.expanded) .most-popular__item .component-most-popular__item h3, .component-most-popular:not(.expanded) .most-popular__item .component-most-popular__item h3 a {
            font-size: 28px;
            display: inline-block;
            line-height: 1.1;
            width: 400px;
        }

.my-favorites__empty {
    padding: 0 132px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #f4f4f4;
}

    .my-favorites__empty h3 {
        margin: 15px 0 15px;
        font-family: "Accord Alternate", Arial, Helvetica, sans-serif;
        font-size: 32px;
        font-weight: 500;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: center;
        color: #5b676f;
    }

    .my-favorites__empty p {
        margin: 0 0 10px;
        font-family: "Accord Alternate", Arial, Helvetica, sans-serif;
        font-size: 16px;
        font-weight: 500;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.5;
        letter-spacing: normal;
        text-align: center;
        color: #5b676f;
        width: 100%;
    }

    .my-favorites__empty .my-favorites__empty__link {
        padding: 15px 70px;
        font-family: "Accord Alternate", Arial, Helvetica, sans-serif;
        font-size: 16px;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: 0.5px;
        text-align: center;
        text-transform: uppercase;
        color: #000000;
        background-color: #ffffff;
        box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.15);
        -webkit-transition: background-color 0.25s, color 0.25s;
        -moz-transition: background-color 0.25s, color 0.25s;
        -ms-transition: background-color 0.25s, color 0.25s;
        -o-transition: background-color 0.25s, color 0.25s;
        transition: background-color 0.25s, color 0.25s;
    }

        .my-favorites__empty .my-favorites__empty__link:hover, .my-favorites__empty .my-favorites__empty__link:active {
            text-decoration: none;
            background-color: #5b6770;
            color: #fff;
        }

.component-favorites__loading {
    text-align: center;
}

    .component-favorites__loading img {
        width: 50%;
    }

@media (max-width: 1439px) {
    .component-favorites {
        max-width: 1024px;
        margin: 0 auto;
        padding: 49px 39px 64px 48px;
    }

        .component-favorites > .component-favorites-content {
            flex: 0 0 450px;
        }

            .component-favorites > .component-favorites-content.popular {
                flex: 0 0 450px;
            }

                .component-favorites > .component-favorites-content.popular .component-favorites__footer, .component-favorites > .component-favorites-content.popular .component-favorites__footer a {
                    margin-top: -4px;
                }

    .component-favorites__title {
        font-size: 32px;
        margin-bottom: 35px;
    }

    .component-most-popular__item {
        padding-bottom: 2.1%;
        padding-top: 2.1%;
    }

    .component-most-popular.expanded.ie .component-most-popular__item {
        padding-top: 2.1%;
        padding-bottom: 1.1%;
    }

    .component-most-popular > li:last-child .component-most-popular__item {
        margin-bottom: -7px;
    }

    .component-favorites > .component-favorites-content .component-favorites__footer, .component-favorites > .component-favorites-content .component-favorites__footer a {
        font-size: 20px;
    }

    .component-my-favorites__item {
        padding-bottom: 24px;
    }

        .component-my-favorites__item h3 {
            margin-bottom: 12px;
        }

            .component-my-favorites__item h3, .component-my-favorites__item h3 a {
                font-size: 24px;
                line-height: 1.33;
            }

        .component-my-favorites__item p {
            min-height: 60px;
            font-size: 16px;
            margin: 13px 0 0 0;
        }

    .component-most-popular__item h3,
    .component-most-popular__item h3 a {
        font-size: 24px;
    }

    .component-most-popular:not(.expanded) .most-popular__item .component-most-popular__item h3 {
        padding: 16px 24px 28px;
    }

        .component-most-popular:not(.expanded) .most-popular__item .component-most-popular__item h3,
        .component-most-popular:not(.expanded) .most-popular__item .component-most-popular__item h3 a {
            font-size: 24px;
            line-height: 1.33;
            width: 250px;
        }

    .my-favorites__empty {
        padding: 0 48px;
    }

        .my-favorites__empty h3 {
            font-size: 32px;
        }

        .my-favorites__empty p {
            font-size: 16px;
            line-height: 1;
        }
}

@media (max-width: 1023px) {

    .component-favorites {
        max-width: 768px;
        margin: 0 auto;
        padding: 49px 40px 64px 40px;
    }

    .component-my-favorites__item {
        padding-bottom: 22px;
        padding-left: 104px;
    }

        .component-my-favorites__item p {
            width: 270px;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
        }

    .component-favorites > .component-favorites-content {
        flex: 0 0 356px;
    }

        .component-favorites > .component-favorites-content.popular {
            flex: 0 0 300px;
        }

            .component-favorites > .component-favorites-content.popular .component-favorites__footer, .component-favorites > .component-favorites-content.popular .component-favorites__footer a {
                margin-top: -5px;
            }

    .component-favorites__title {
        font-size: 28px;
    }

    .component-most-popular__item {
        margin-bottom: 12px;
        margin-bottom: 13px;
        padding-bottom: 1.25%;
        padding-top: 1.25%;
    }

    .component-most-popular > li:last-child .component-most-popular__item {
        margin-bottom: 0px;
    }

    .component-most-popular:not(.expanded) .most-popular__item .component-most-popular__item {
        margin-bottom: 25px;
    }

        .component-most-popular:not(.expanded) .most-popular__item .component-most-popular__item h3,
        .component-most-popular:not(.expanded) .most-popular__item .component-most-popular__item h3 a {
            font-size: 20px;
            line-height: 1.2;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
            width: 90px;
            display: inline-block;
        }

    .component-favorites > .component-favorites-content .component-favorites__body {
        margin-bottom: 20px;
    }

    .component-most-popular__item h3, .component-most-popular__item h3 a {
        font-size: 20px;
        line-height: 1.2;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        width: 280px;
    }

    .my-favorites__empty {
        padding: 0 40px;
    }

        .my-favorites__empty h3 {
            font-size: 28px;
        }

        .my-favorites__empty p {
            font-size: 14px;
            line-height: 1.57;
        }

    .component-my-favorites__item figure {
        width: 80px;
        height: 80px;
    }

    .component-my-favorites__item h3, .component-my-favorites__item h3 a {
        font-size: 20px;
        line-height: 1.2;
        width: 12em;
    }
}

@media (max-width: 767px) {
    .component-favorites {
        padding: 0;
        display: block;
    }

        .component-favorites > .component-favorites-content {
            width: auto;
        }

        .component-favorites .component-favorites__title {
            margin-top: 40px;
            margin-bottom: 24px;
            padding-left: 40px;
            font-size: 24px;
        }

            .component-favorites .component-favorites__title img {
                width: 24px;
                height: 24px;
                vertical-align: middle;
                margin-bottom: 5px;
            }

        .component-favorites > .component-favorites-content .component-favorites__body {
            margin-bottom: 0;
        }

    .component-most-popular:not(.expanded) .most-popular__item .component-most-popular__item h3, .component-most-popular:not(.expanded) .most-popular__item .component-most-popular__item h3 a {
        font-size: 24px;
        line-height: 1.33;
        white-space: unset;
        text-overflow: unset;
        overflow: unset;
        width: auto;
        display: inline-block;
    }

    .component-most-popular:not(.expanded) .most-popular__item .component-most-popular__item h3 {
        padding: 12px 20px 24px;
        width: 390px;
    }

    .component-most-popular:not(.expanded) .most-popular__item .component-most-popular__item {
        margin-bottom: 24px;
    }

    .component-my-favorites {
        margin-bottom: 32px;
    }

    .component-favorites .component-my-favorites,
    .component-most-popular.expanded .component-most-popular__item {
        margin-left: 40px;
        margin-right: 40px;
    }

    .component-most-popular.expanded {
        margin-bottom: 40px;
    }

    .my-favorites__empty {
        padding: 64px 22px;
    }

        .my-favorites__empty h3 {
            margin-bottom: 16px;
            font-size: 24px;
        }

        .my-favorites__empty p {
            margin-bottom: 48px;
        }

    .component-my-favorites__item {
        padding-top: 16px;
        padding-left: 88px;
        min-height: 110px;
        margin-top: 15px;
        border-bottom: 1px solid #d0d3d4;
    }

        .component-my-favorites__item figure {
            width: 64px;
            height: 64px;
        }

        .component-my-favorites__item p {
            display: none;
        }

    .component-favorites > .component-favorites-content.popular {
        padding-bottom: 48px;
    }

    .component-favorites__footer:empty {
        display: none;
    }

    .component-favorites > .component-favorites-content .component-favorites__footer,
    .component-favorites > .component-favorites-content .component-favorites__footer a,
    .component-favorites > .component-favorites-content.popular .component-favorites__footer,
    .component-favorites > .component-favorites-content.popular .component-favorites__footer a {
        font-size: 20px;
        line-height: 1.1;
    }

        .component-favorites > .component-favorites-content .component-favorites__footer a,
        .component-favorites > .component-favorites-content.popular .component-favorites__footer a {
            display: block;
            padding: 0 40px;
        }
}
