@font-face {
    font-family: "Accord Alternate";
    src: url('../Fonts/AccordAlternate-Thin.eot');
    src: url('../Fonts/AccordAlternate-Thin.eot?#iefix') format('embedded-opentype'), url('../Fonts/AccordAlternate-Thin.woff') format('woff'), url('../Fonts/AccordAlternate-Thin.ttf') format('truetype');
    font-style: normal;
    font-weight: 100;
}

@font-face {
    font-family: "Accord Alternate";
    src: url('../Fonts/AccordAlternate-Bold.eot');
    src: url('../Fonts/AccordAlternate-Bold.eot?#iefix') format('embedded-opentype'), url('../Fonts/AccordAlternate-Bold.woff') format('woff'), url('../Fonts/AccordAlternate-Bold.ttf') format('truetype');
    font-style: normal;
    font-weight: 700;
}

@font-face {
    font-family: "Accord Alternate";
    src: url('../Fonts/AccordAlternate-Light.eot');
    src: url('../Fonts/AccordAlternate-Light.eot?#iefix') format('embedded-opentype'), url('../Fonts/AccordAlternate-Light.woff') format('woff'), url('../Fonts/AccordAlternate-Light.ttf') format('truetype');
    font-style: normal;
    font-weight: 300;
}

@font-face {
    font-family: AccordAlternateBold;
    src: url('../Fonts/AccordAlternate-Bold.eot');
    font-weight: 700;
}

@font-face {
    font-family: AccordAlternateLight;
    src: url('../Fonts/AccordAlternate-Light.eot');
    font-weight: normal;
}

@font-face {
    font-family: AccordAlternateThin;
    src: url('../Fonts/AccordAlternate-Thin.eot');
    font-weight: 100;
}
