﻿.search-dropdown-options {
    display: block;
    overflow: visible;
    z-index: 1;
    position: absolute;
    background: white;
    width: 170px;
    font-size: 18px;
}

@media (max-width: 1023px) {
    .icon-sec {
        right: 60px !important;
    }
}

@media (max-width: 1366px) {
    .search-form input {
        max-width: 120px;
    }
}

.header-search-bar .search-dropdown-options {
    display: block;
    border: 1px solid #c4c4c4;
}

.header-search-line {
    width: 165px;
    height: 31px;
    padding-left: 5px;
    font-size: 16px;
}

.search-form input {
    border-radius: 10px;
    border: 1px solid lightgrey;
}

.search-form {
    padding-top: 5px;
}

    .search-form input:focus {
        outline: none;
    }

.header-search-bar img {
    margin-top: 10px;
}

.header-search-bar {
    padding-right: 10px;
}

    .header-search-bar .fa {
        font-size: 28px;
        vertical-align: top;
        margin-top: 7px;
        color: #4d4d4d;
    }

.header-search-nav-wrapper {
    float: right;
}

.icon-sec {
    position: absolute;
    top: 0;
    right: 15px;
    bottom: 0;
    margin-top: 0px;
}

input[type=search]::-ms-clear {
    display: none;
    width: 0;
    height: 0;
}

input[type=search]::-ms-reveal {
    display: none;
    width: 0;
    height: 0;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
    display: none;
}


.header-search-bar .search-dropdown-options ul {
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 15px;
}

.header-search-bar .search-dropdown-options li {
    display: block;
    padding: 8px;
    margin-top: .25em;
    border-bottom: 1px solid #eee;
    cursor: pointer;
    overflow: hidden;
    text-overflow: ellipsis;
}

    .header-search-bar .search-dropdown-options li:hover {
        background-color: lightgrey;
    }
