/* GENERAL */

img {
    max-width: 100%
}

.screenReaderHiddenText {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
    display: none;
}

.btn {
    border-radius: 4px;
    text-transform: none;
}

.filtered-list {
    position: absolute;
    width: 100%;
    background: #fff;
    z-index: 100;
}

    .filtered-list li {
        font-weight: 300;
        cursor: default;
    }

    .filtered-list a {
        cursor: pointer;
        display: block;
        color: #211f1c;
    }

    .filtered-list li > a:hover,
    .filtered-list li > a:focus {
        background: #f6f3ef;
        border-bottom: 1px solid #d5d1c9;
        border-top: 1px solid #d5d1c9;
    }

    .filtered-list li > a > span {
        margin: 0 8px;
        display: block;
        border-bottom: 1px solid #d5d1c9;
        padding: 12px 8px;
    }

    .filtered-list li > a:hover span,
    .filtered-list li > a:focus span {
        border: 0;
    }

.form-checkbox {
    position: relative;
}

    .form-checkbox label {
        position: relative;
        display: inline-block;
        padding: 6px 10px 6px 34px;
        cursor: pointer;
    }

    .form-checkbox input[type="checkbox"] {
        overflow: hidden;
        position: absolute;
        top: 4px;
        left: -60px;
    }

    .form-checkbox label::before {
        display: block;
        content: "";
        position: absolute;
        left: 0;
        top: 50%;
        margin: -12px 0 0;
        width: 24px;
        height: 24px;
        background-image: url("../images/offer/checkbox-sprite.svg");
        background-repeat: no-repeat;
        background-size: 100%;
        background-position: 0 0;
    }

    .form-checkbox label.checked::before {
        background-position: 0 -33px;
    }

.cta-link {
    display: inline-block;
    text-decoration: none;
    height: 30px;
    width: auto;
    position: relative;
    line-height: 30px;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    color: #000;
    padding-right: 30px
}

    .cta-link:hover {
        text-decoration: none;
        color: #fd6f3a
    }

        .cta-link:hover::after {
            background: url("../images/offer/sprite-arrow.svg") right -22px no-repeat;
            background-size: 90%;
        }

    .cta-link:focus {
        color: #000;
        text-decoration: none
    }

        .cta-link:focus::after {
            background: url("../images/offer/sprite-arrow.svg") right -87px no-repeat
        }

    .cta-link::after {
        content: "";
        display: inline-block;
        position: relative;
        top: 8px;
        right: 0;
        width: 34px;
        height: 30px;
        background: url("../images/offer/sprite-arrow.svg") right 10px no-repeat;
        background-size: 90%;
    }

    .cta-link::before {
        content: "";
        display: none;
        position: relative;
        top: 8px;
        left: 0;
        right: auto;
        width: 34px;
        height: 30px;
        background: url("../images/offer/sprite-arrow-reverse.svg") left 10px no-repeat;
        background-size: 90%;
    }

    .cta-link.single-link::after {
        width: 26px;
        top: 0;
        height: 24px
    }

.cta-link-reverse {
    cursor: pointer
}

    .cta-link-reverse::before {
        content: "";
        display: inline-block;
        position: relative;
        top: 7px;
        left: 0;
        right: auto;
        width: 30px;
        height: 30px;
        background: url("../images/offer/sprite-arrow-reverse.svg") left 10px no-repeat;
        background-size: 90%;
    }

    .cta-link-reverse::after {
        display: none
    }

    .cta-link-reverse:hover::before {
        text-decoration: none;
        background: url("../images/offer/sprite-arrow-reverse.svg") left -22px no-repeat
    }

    .cta-link-reverse:focus {
        color: #000;
        text-decoration: none
    }

        .cta-link-reverse:focus::before {
            background: url("../images/offer/sprite-arrow-reverse.svg") left -87px no-repeat
        }

    .cta-link-reverse:active::before {
        text-decoration: underline;
        background: url("../images/offer/sprite-arrow-reverse.svg") left -87px no-repeat
    }

/* CALENDAR */

.calendar-wrapper {
    position: relative;
    z-index: 2;
    top: 20%;
    left: 0;
    right: 0;
    margin-top: 24px;
    background: #fff;
    width: 100%;
    overflow: hidden;
}

    .calendar-wrapper .calendar-header {
        margin-bottom: 20px;
        display: flex;
        flex-wrap: wrap;
    }

        .calendar-wrapper .calendar-header .dropdowncontainer {
            position: relative;
            margin: 0;
            width: 47%;
            font-size: 24px;
        }

            .calendar-wrapper .calendar-header .dropdowncontainer:first-child {
                margin-right: 3%;
            }

    .calendar-wrapper .screenReaderHiddenText {
        display: none;
    }

    .calendar-wrapper .calendar-header .dropdowncontainer button {
        background-color: #fff;
        height: 40px;
        font-size: 16px;
        text-align: left;
    }

.dropdowncontainer .dropdown {
    background: url("../images/offer/caret-down.svg") right 15px center no-repeat;
    background-color: rgba(0, 0, 0, 0);
    width: 100%;
    height: 40px;
    cursor: pointer;
    color: #000;
    padding: 0 36px 0 14px;
    display: block;
    line-height: inherit;
    border: 1px solid #000;
    border-radius: 3px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    outline: none;
}

    .dropdowncontainer .dropdown::placeholder {
        color: #000;
    }

    .dropdowncontainer .dropdown.active {
        background: url("../images/offer/caret-up.svg") right 15px center no-repeat;
        background-color: rgba(0, 0, 0, 0);
    }

.calendar-wrapper .dropdown-md .list-container {
    position: absolute;
    border: 1px solid #000;
    width: 100%;
    z-index: 2;
    overflow: hidden;
    display: none;
    top: 39px;
}

.calendar-wrapper .dropdownlist {
    list-style: none;
    width: 100%;
    max-height: 200px;
    overflow-y: auto;
    background: #fff;
    top: auto;
    left: 0;
    border-radius: 3px;
    z-index: 99;
    margin-bottom: 0;
    padding: 0;
}

    .calendar-wrapper .dropdownlist li {
        font-size: 24px;
        height: 40px;
        cursor: pointer;
        line-height: 40px;
        text-indent: 20px;
        white-space: nowrap;
        outline: none;
    }

.calendar-wrapper .calendar-header .dropdownlist li {
    font-size: 16px;
    cursor: pointer;
    position: relative;
    line-height: 40px;
    text-indent: 14px;
    z-index: 5;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.calendar-wrapper .dropdownlist li::after {
    content: "";
    display: block;
    position: absolute;
    z-index: 0;
    width: 98%;
    height: 41px;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    top: 0;
    left: 2%;
}

.calendar-wrapper .dropdownlist li:first-child::after {
    border-top: 0;
}

.calendar-wrapper .dropdownlist li:hover,
.dropdownlist li.active {
    background-color: #f6f3ef;
}

.calendar-wrapper .weekdays {
    display: flex;
    margin-right: 3%
}

    .calendar-wrapper .weekdays > span,
    .calendar-wrapper .weekdays abbr {
        display: inline-block;
        flex: 1;
        text-align: center;
        font-size: 18px;
        color: #141413;
        line-height: 50px;
        cursor: default;
        border-bottom: 0;
        text-decoration: none;
    }

.calendar-wrapper .calendar-view {
    display: flex;
    flex-wrap: wrap;
    max-width: 100%;
    margin-right: 3%;
    background: #fff;
}

.calendar-wrapper .date-div {
    flex: 0 0 14.28%;
    /* display: inline-block; */
    /* width: 14.1%; */
    border-bottom: 1px solid transparent;
    text-align: center;
    font-size: 18px;
    color: #141413;
}

    .calendar-wrapper .date-div span {
        display: block;
        line-height: 50px;
        outline: none;
        cursor: pointer;
    }

        .calendar-wrapper .date-div span::selection {
            background: #fff;
        }

        .calendar-wrapper .date-div span:hover {
            background: #f1efeb;
            cursor: pointer;
        }

.calendar-wrapper .disabled-date {
    color: #b4b0a9;
    pointer-events: none;
    cursor: default;
}

.calendar-wrapper .date-div.startRange,
.calendar-wrapper .date-div.endRange,
.calendar-wrapper .date-div.startRange.in-range,
.calendar-wrapper .date-div.endRange.in-range {
    border-radius: 4px;
}

    .calendar-wrapper .date-div.startRange,
    .calendar-wrapper .date-div.endRange,
    .calendar-wrapper .date-div.startRange.in-range,
    .calendar-wrapper .date-div.endRange.in-range,
    .calendar-wrapper .date-div.startRange span:hover,
    .calendar-wrapper .date-div.endRange span:hover {
        background: #d3cfc8;
        font-weight: bold;
    }

.calendar-wrapper .date-div.in-range {
    background: #f1efeb;
}

.calendar-wrapper .date-div.startRange.in-range {
    border-radius: 4px 0 0 4px;
}

.calendar-wrapper .date-div.endRange.in-range {
    border-radius: 0 4px 4px 0;
}

.calendar-wrapper .date-div .date.bold {
    font-weight: bold;
    border-radius: 4px;
}

/* GALLERY */

.gallery {
    overflow: hidden;
    padding-top: 10px;
    position: relative
}

.thumbnail-container {
    margin: 5px 27px;
    overflow: hidden
}

    .thumbnail-container.less-than-5 {
        margin-left: 0;
        margin-right: 0
    }

        .thumbnail-container.less-than-5 ul {
            margin-left: 0
        }

    .thumbnail-container ul {
        position: relative;
        margin: 0;
        padding: 0;
        max-width: 50000px;
        list-style-type: none;
        transition: all 2s;
        margin-left: 23px;
        left: 0;
        right: 0
    }

        .thumbnail-container ul li {
            display: inline-block;
            margin: 0;
            float: left
        }

            .thumbnail-container ul li img {
                margin-right: 24px;
                width: 140px;
                height: 95px;
                cursor: pointer
            }

            .thumbnail-container ul li:last-child img {
                margin-right: 0
            }

.gallery-next, .gallery-back {
    position: absolute;
    top: 45%;
    cursor: pointer
}

.gallery-back {
    left: 2px;
    opacity: .3
}

.gallery-next {
    right: 0
}

/* SECTION: LOCATION-SELECTOR */

.location-selector {
    padding: 40px 0;
}

    .location-selector .search-subtitle-dropdown,
    .location-selector .search-dropdown,
    .location-selector .location-dropdown {
        position: relative;
    }

        .location-selector .location-dropdown .chosen-container-multi .chosen-choices,
        .location-selector .location-dropdown .chosen-container-single .chosen-single {
            padding: 10px 40px 8px 32px;
            font-size: 16px;
            color: #211f1c;
            min-height: 48px;
            border-radius: 4px;
            border: 1px solid #141413;
            width: 100%;
            background: #fff;
        }

        .location-selector .location-dropdown .chosen-container-active .chosen-choices,
        .location-selector .location-dropdown .chosen-container-active .chosen-single {
            border: 1px solid #5897fb;
            -webkit-box-shadow: 0 0 5px rgba(0,0,0,.3);
            box-shadow: 0 0 5px rgba(0,0,0,.3);
        }

        .location-selector .location-dropdown .chosen-container-multi .chosen-drop,
        .location-selector .location-dropdown .chosen-container-single .chosen-drop {
            border: 1px solid #141413;
        }

            .location-selector .location-dropdown .chosen-container-multi .chosen-drop .chosen-results li,
            .location-selector .location-dropdown .chosen-container-single .chosen-drop .chosen-results li {
                font-size: 16px;
            }

        .location-selector .location-dropdown .chosen-search-input,
        .location-selector .location-dropdown .active-result {
            font-family: inherit !important;
        }

        .location-selector .location-dropdown .chosen-container-single .chosen-single div {
            width: 30px;
        }

            .location-selector .location-dropdown .chosen-container-single .chosen-single div b {
                background: url("../images/offer/caret-down.svg") no-repeat 0px 20px;
            }

        .location-selector .location-dropdown .chosen-container-active.chosen-with-drop .chosen-single div b {
            background: url("../images/offer/caret-up.svg") no-repeat 0px 20px;
        }

    .location-selector .world-icon {
        height: 30px;
        width: 30px;
        background: url(../images/offer/world.png) right no-repeat;
        background-size: 25px;
        display: inline-block;
        position: absolute;
        top: 8px;
        z-index: 1;
    }

.search-subtitle-dropdown .search-icon {
    height: 30px;
    width: 25px;
    background: url(../images/offer/sprite.svg) right -2049px no-repeat;
    display: inline-block;
    position: absolute;
    top: 7px;
}

.search-subtitle-dropdown .subtitle {
    color: #777470;
    display: inline-block;
    font-size: 12px;
    top: 28px;
    left: 32px;
    position: absolute;
}

.search-subtitle-dropdown input {
    padding: 6px 40px 6px 32px;
    font-size: 16px;
    color: #211f1c;
    height: 48px;
    border-radius: 4px;
    border: 1px solid #141413;
    width: 100%;
}

.search-subtitle-dropdown .close-icon {
    height: 30px;
    width: 25px;
    background: url(../images/offer/sprite.svg) right -2127px no-repeat;
    display: none;
    position: absolute;
    top: 9px;
    right: 14px;
    cursor: pointer;
    border: 0;
}

.search-subtitle-dropdown .filtered-list {
    list-style: none;
    padding: 0;
    border: 1px solid #000;
    border-radius: 0 0 4px 4px;
    display: none;
    border-top: 0;
}

    .search-subtitle-dropdown .filtered-list li {
        font-weight: 300;
        cursor: default;
    }

    .search-subtitle-dropdown .filtered-list a:hover {
        background: #f6f3ef;
    }

    .search-subtitle-dropdown .filtered-list a > span {
        margin: 0 8px;
        display: block;
        padding: 12px 8px;
    }

    .search-subtitle-dropdown .filtered-list a + a > span {
        border-bottom: 1px solid #d5d1c9;
    }

    .search-subtitle-dropdown .filtered-list span.bolder {
        font-weight: 700;
    }

.search-subtitle-dropdown.show-list .close-icon {
    display: block;
}

.search-subtitle-dropdown.show-list .filtered-list {
    display: block;
}

.location-selector .search-dropdown .location-icon {
    height: 30px;
    width: 25px;
    background: url(../images/offer/sprite.svg) right -2153px no-repeat;
    display: inline-block;
    position: absolute;
    top: 7px;
}

.search-dropdown input {
    padding: 12px 40px 12px 32px;
    font-size: 16px;
    color: #211f1c;
    height: 48px;
    border-radius: 4px;
    border: 1px solid #141413;
    width: 100%;
    background: url(../images/offer/caret-down.svg) right 15px center no-repeat;
}

.search-dropdown .close-icon {
    height: 30px;
    width: 25px;
    background: url(../images/offer/sprite.svg) right -2127px no-repeat;
    display: none;
    position: absolute;
    top: 9px;
    right: 14px;
    cursor: pointer;
    border: 0;
}

.search-dropdown .filtered-list {
    list-style: none;
    padding: 0;
    border: 1px solid #000;
    border-radius: 0 0 4px 4px;
    display: none;
    border-top: 0;
}

    .search-dropdown .filtered-list li.current-location > span {
        display: block;
        color: #b4b0a9;
        font-size: 12px;
        padding: 0 16px;
        cursor: default;
    }

        .search-dropdown .filtered-list li.current-location > span:first-child {
            padding-top: 7px;
        }

    .search-dropdown .filtered-list li.current-location > a > span {
        font-size: 16px;
        color: #211f1c;
        padding: 12px 16px 12px 25px;
        border-bottom: 1px solid #000;
        position: relative;
    }

        .search-dropdown .filtered-list li.current-location > a > span:before {
            content: "";
            display: inline-block;
            background: url(../images/offer/sprite.svg) -64px -2107px no-repeat;
            width: 21px;
            height: 21px;
            position: absolute;
            left: 0;
        }

    .search-dropdown .filtered-list li.current-location > a:hover,
    .search-dropdown .filtered-list li.current-location > a:focus {
        border-color: #000;
        border-top: 0;
    }

        .search-dropdown .filtered-list li.current-location > a:hover span,
        .search-dropdown .filtered-list li.current-location > a:focus span {
            border: 0;
        }

.search-dropdown.show-list .filtered-list {
    display: block;
}

.location-selector .btn {
    background: #141413;
    max-width: 100%;
    width: 100%;
    padding: 12px;
    height: 46px;
    letter-spacing: 1px;
    line-height: 22.8571px;
    font-size: 16px;
    text-transform: none;
}

    .location-selector .btn:hover {
        background: #5f5c57;
        color: #fff;
    }

#offer-filter {
    display: flex;
    flex-direction: row;
}

/* SIDEBAR */
.sidebar.filter {
    flex: 285px;
    /* height: 100vh; */
    overflow-y: auto;
    padding: 24px 0;
    padding-right: 0px;
    padding-left: 0px;
    width: 285px;
    margin-left: 0;
    overflow-x: hidden;
}

.sidebar .text-eyebrow {
    color: #141413;
    font-weight: bold;
    /* line-height: 1.8; */
    outline: none;
}

.sidebar > p {
    border-bottom: 1px solid #d5d1c9;
    padding-bottom: 16px;
    margin-bottom: 0;
}

    .sidebar > p .clear {
        float: right;
        text-transform: none;
        letter-spacing: 0;
        cursor: pointer;
        margin: 0;
    }

        .sidebar > p .clear .removeItem {
            background: url("../images/offer/sprite.svg") right -1863px no-repeat;
            margin-right: 0;
            width: 20px;
            display: inline-block;
            height: 12px;
        }

        .sidebar > p .clear.inactive {
            color: #b4b0a9;
            cursor: default;
            pointer-events: none;
        }

            .sidebar > p .clear.inactive .removeItem {
                background: url("../images/offer/sprite.svg") right -1896px no-repeat;
            }

.sidebar .acc-label {
    display: block;
    margin: 0 auto;
    cursor: pointer;
    position: relative;
    width: 100%;
    padding: 24px 35px 24px 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

    .sidebar .acc-label::after {
        background: url("../images/offer/sprite.svg") right -1956px no-repeat;
        content: "\00a0";
        position: absolute;
        right: 10px;
        width: 20px;
        height: 20px;
    }

.sidebar .acc-content {
    position: relative;
    margin: 0 auto;
    max-height: 0;
    width: 100%;
    transition: max-height .2s ease-out;
    overflow-y: auto;
}

.sidebar .acc-item {
    background: #fff;
    border-bottom: 1px solid #d5d1c9;
}

.sidebar .form-checkbox label {
    color: #211f1c;
    font-weight: normal;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

    .sidebar .form-checkbox label.calendar-input {
        padding: 0;
        margin: 0;
        color: #b4b0a9;
        font-size: 16px;
        pointer-events: none;
        cursor: default;
    }

        .sidebar .form-checkbox label.calendar-input::before {
            background: none;
        }

.sidebar .acc-content .form-checkbox:last-child {
    padding-bottom: 23px;
}

.sidebar .acc-item.active .acc-label::after {
    background: url("../images/offer/sprite.svg") right -1915px no-repeat;
    height: 12px;
}

.sidebar .acc-item.active .acc-content {
    max-height: none;
}

    .sidebar .acc-item.active .acc-content.market-applicability {
        max-height: 205px;
    }

/* RESULTS INFO */

.content {
    padding: 0 0 0 24px;
    width: calc(100% - 285px);
}

    .content .offer-infobar {
        border-bottom: 1px solid #d5d1c9;
        padding: 24px 0 16px;
        position: relative;
    }

        .content .offer-infobar .offers-info {
            margin-bottom: 0;
        }

    .content .sorting-wrapper {
        float: right;
    }

        .content .sorting-wrapper .sortBy {
            padding: 10px 0 16px 20px;
            cursor: pointer;
            outline: none;
        }

        .content .sorting-wrapper:hover .sortBy {
            background: #5b6770;
            color: #fff;
            border: 1px solid #5b6770;
        }

        .content .sorting-wrapper .sortBy .down-arrow {
            display: inline-block;
            margin-left: 8px;
            padding-left: 16px;
            height: 10px;
            width: 20px;
            background: url("../images/offer/caret-down.svg") no-repeat;
        }

        .content .sorting-wrapper .sortOptions {
            display: none;
            background: #5b6770;
            position: absolute;
            top: 100%;
            border: none;
            color: #fff;
            right: 0;
            margin-top: -1px;
            z-index: 1;
        }

            .content .sorting-wrapper .sortOptions > span {
                display: block;
                padding: 10px;
                margin: 0;
            }

            .content .sorting-wrapper .sortOptions span.selected {
                background: #333;
            }

            .content .sorting-wrapper .sortOptions span:hover {
                text-decoration: underline;
                cursor: pointer;
            }

        .content .sorting-wrapper:hover .sortOptions {
            display: block;
        }

        .content .sorting-wrapper .openFilter {
            display: none;
            cursor: pointer;
        }

    /* RESULTS */

    .content .offer-info-bar + .offer-grid {
        padding-bottom: 70px;
    }

    .content .row.grid-container {
        margin-left: -12px;
        margin-right: -12px;
    }

        .content .row.grid-container .offer-tile {
            padding: 0 12px;
            outline: none;
        }

.offer-teaser {
    overflow: hidden;
}

    .offer-teaser .no-status {
        margin-top: 26px;
        height: 22.3px;
    }

    .offer-teaser .text-eyebrow {
        letter-spacing: 1.8px;
        font-weight: bold;
        outline: none;
    }

    .offer-teaser .offer-image {
        margin-top: 10px;
    }

    .offer-teaser .offer-content {
        margin-top: 24px;
    }

    .offer-teaser .offer-tile h3 {
        font-size: 24px;
        line-height: 32px;
    }

    .offer-teaser .offer-tile p.short-desc {
        line-height: 24px;
    }

    .offer-teaser .offer-tile .inactive {
        color: #211f1c;
        margin-top: 26px;
        line-height: 24px;
        overflow: hidden;
        text-overflow: ellipsis;
        word-break: break-all;
    }

    .offer-teaser .offer-tile .cta-link::after {
        content: "";
        display: inline-block;
        position: relative;
        top: 0;
        right: 0;
        width: 26px;
        height: 24px;
        background: url("../images/offer/sprite-arrow.svg") right 10px no-repeat;
        background-size: 90%;
    }

@media (max-width: 1439px) {
    .container-guttered, footer, header, #sticky-header-nav {
        padding-left: 15px;
        padding-right: 15px;
    }
}

@media (max-width: 767px) {
    .location-selector .search-subtitle-dropdown,
    .location-selector .search-dropdown,
    .location-selector .location-dropdown {
        margin-right: 0;
        margin-bottom: 15px;
    }

    .location-selector {
        padding: 15px 0 0 0;
    }

    #offer-filter {
        flex-direction: column;
    }

    .sidebar.filter {
        flex: 1;
        width: auto;
    }

    .content {
        padding: 0;
        width: auto;
    }

    .offer-teaser .text-eyebrow:empty {
        margin-bottom: 0;
        height: auto;
    }
}

.offer-search {
    padding: 40px 0 0;
    text-align: center;
}

    .offer-search .main-title {
        font-size: 36px;
        font-weight: 300;
    }

    .offer-search .sub-title {
        font-size: 20px;
        margin-bottom: 0;
    }

.offer-detail {
    padding: 10px 0 150px 0;
}

    .offer-detail a {
        color: #000;
    }

        .offer-detail a:hover {
            color: #fd6f3a;
        }

    .offer-detail .main-title + .social-share {
        width: 16%;
        display: none;
        float: right;
        margin-top: 25px;
        position: absolute;
        right: 0;
        top: 45px;
    }

    .offer-detail .main-title {
        font-size: 32px;
    }

    .offer-detail .location-word-break {
        word-break: break-all
    }

    .offer-detail .sub-title {
        font-size: 14px;
    }

    .offer-detail .gallery-image {
        width: 100%;
        height: 485px;
    }

    .offer-detail .cta-link {
        padding-right: 0;
    }

        .offer-detail .cta-link:hover {
            color: #fd6f3a;
        }

            .offer-detail .cta-link:hover::after {
                background: url("../../../etc/designs/dxcore/gesso/images/sprite-arrow.svg") right -22px no-repeat;
                background-size: 90%;
            }

        .offer-detail .cta-link:focus {
            color: #000;
            text-decoration: none;
        }

            .offer-detail .cta-link:focus::after {
                background: url("../../../etc/designs/dxcore/gesso/images/sprite-arrow.svg") right -88px no-repeat;
            }

    .offer-detail .row {
        display: flex;
        flex-wrap: wrap;
    }

    .offer-detail h1 {
        font-size: 36px;
        font-weight: 300;
    }

    .offer-detail h2 {
        font-size: 24px;
        font-weight: 300;
    }

    .offer-detail .offer-detail-sidebar hr {
        margin-top: 15px;
        margin-bottom: 15px;
        height: 1px;
    }

    .offer-detail .gallery-caption {
        margin: 16px 0;
        font-weight: bold;
        color: #727271;
    }

    .offer-detail ul li, .content-container ul > li + li {
        margin: 24px 0;
        font-size: 16px;
    }

    .offer-detail .redemption-details {
        margin-top: 24px;
        font-weight: bold;
        text-transform: uppercase;
    }

    .offer-detail .offer-detail-sub-heading-interested {
        font-size: 23px;
    }

    .offer-detail .offer-detail-sub-heading {
        font-size: 17px;
        font-weight: bold;
    }

    .offer-detail .redemption-text {
        font-size: 36px;
    }

    .offer-detail .provided-by {
        margin-top: 8px;
        font-weight: bold;
        text-transform: uppercase;
    }

    .offer-detail .provider-copy,
    .offer-detail .provider-image {
        display: inline-block;
        vertical-align: top;
    }

    .offer-detail .provider-copy {
        margin: 0;
    }

    .offer-detail .provider-image {
        margin-right: 16px;
    }

    .offer-detail .offer-detail-redemption-price {
        font-size: 48px;
        line-height: 1;
        margin: 16px 0 0 0;
    }

    .offer-detail .offer-deal,
    .offer-detail .offer-details,
    .offer-detail .redeem-this-offer,
    .offer-detail .offer-location {
        margin: 15px 0;
    }

    .offer-detail .available-to-list,
    .offer-detail .download-review-list,
    .offer-detail .offer-information-list {
        padding: 15px;
    }

        .offer-detail .download-review-list.box,
        .offer-detail .offer-information-list.box {
            margin-top: 35px;
            background: #f8f7f5;
        }

        .offer-detail .download-review-list .btn {
            margin-top: 24px;
            color: #fff;
            width: 100%;
            border-radius: 0px;
            text-transform: uppercase;
        }

            .offer-detail .download-review-list .btn:hover {
                color: #fff;
            }

        .offer-detail .download-review-list a:hover {
            color: #000;
        }

        .offer-detail .download-review-list .mc-attach-preview {
            bottom: auto;
        }

        .offer-detail .offer-information-list + .download-review-list,
        .offer-detail .offer-information-list + .offer-information-list {
            margin-top: 0;
            border-top: 1px solid rgba(0,0,0,.1);
        }

        .offer-detail .offer-information-list .duration-from-to-bookBy strong {
            display: inline-block;
            width: 120px;
        }

        .offer-detail .offer-information-list .duration-from-to-bookBy + .offer-detail-sub-heading {
            margin-top: 16px;
        }

        .offer-detail .offer-information-list .key-tags {
            margin: 0;
            padding: 0;
        }

            .offer-detail .offer-information-list .key-tags li {
                margin: 10px 0px 0 0;
                float: none;
                width: auto;
            }

    .offer-detail .redeem-this-offer {
        margin-bottom: 0;
    }

    .offer-detail .offer-deal {
        margin-top: 0;
    }

    .offer-detail .offer-detail-content {
        margin-top: 15px;
    }

    .offer-detail .redeemOffer-text {
        padding: 10px;
        background-color: #f6f3ef;
        font-size: 18px;
        margin: 16px 0 0 0;
    }

        .offer-detail .redeemOffer-text a {
            color: #000;
        }

    .offer-detail .duration-from-to-bookBy {
        margin-top: 16px;
        line-height: 1.7;
    }

    .offer-detail .offer-location-map {
        margin-top: 16px;
    }

        .offer-detail .offer-location-map img {
            width: 100%;
            cursor: pointer;
        }

    .offer-detail .offer-location address {
        margin-top: 16px;
        line-height: 1.5;
    }

    .offer-detail .offer-location .cta-link-wrapper a {
        display: table;
    }

        .offer-detail .offer-location .cta-link-wrapper a.no-map {
            display: inline;
        }

    .offer-detail .view-more,
    .offer-detail .view-less {
        color: #000;
        cursor: pointer;
        margin-top: 40px;
    }

        .offer-detail .view-more span,
        .offer-detail .view-less span {
            margin-left: 5px;
        }

    .offer-detail .available-to-list .expand, .offer-detail .download-review-list .expand {
        display: block;
        cursor: auto;
        margin-top: 35px;
    }

        .offer-detail .available-to-list .expand span, .offer-detail .download-review-list .expand span {
            position: absolute;
            top: 40px;
            right: 0;
            font-size: 33px;
            font-weight: 100;
        }

    .offer-detail .available-to, .offer-detail .download-review {
        list-style: none;
        padding: 0;
    }

    .offer-detail .social-share {
        color: #000;
        margin-top: 22px;
    }

    .offer-detail .share-icon {
        background: url("../../../etc/designs/dxcore/gesso/images/icons/icon-share.svg") no-repeat;
        height: 40px;
        width: 43px;
        vertical-align: middle;
        display: inline-block;
        margin-right: 10px;
    }

    .offer-detail .sold-out,
    .offer-detail .expired {
        color: #a62329;
    }

    .offer-detail .days-left {
        color: #215246;
    }

    .offer-detail .coming-soon {
        color: #215246;
    }

    .offer-detail .gallery-x-outof-x {
        display: none;
    }

    .offer-detail .offer-teaser {
        padding: 30px 0;
    }

        .offer-detail .offer-teaser .sold-out,
        .offer-detail .offer-teaser .expired,
        .offer-detail .offer-teaser .coming-soon,
        .offer-detail .offer-teaser .days-left,
        .offer-detail .offer-teaser .no-status {
            margin-top: 5px;
        }

        .offer-detail .offer-teaser .row.offer-grid-inventory,
        .offer-detail .offer-teaser .row.teaser-viewmore {
            margin-left: 0;
            margin-right: 0;
        }

        .offer-detail.offer-teaser.no-style-anchor {
            text-decoration: none !important;
            color: black;
            word-break: break-word;
        }

            .offer-detail.offer-teaser.no-style-anchor:hover {
                color: black;
            }

        .offer-detail .offer-teaser .row > div {
            padding: 0;
        }

        .offer-detail .offer-teaser div.offer-tile {
            padding-right: 20px;
        }

        .offer-detail .offer-teaser .cta-link.single-link.first-grid::after {
            width: 34px;
            top: 3px;
            left: -7px;
        }

    .offer-detail .offer-wrapper {
        overflow: hidden;
    }

    .offer-detail .offer-redemption-footer .redeem-fixed span {
        margin-left: 7px;
        margin-right: 0;
    }

    .offer-detail .offer-redemption-footer .redeem-fixed:hover {
        color: #fff;
    }

    .offer-detail .status {
        margin-top: 20px;
    }

@media (min-width: 768px) {
    .offer-detail .provider-image {
        width: 135px;
    }
}

@media (max-width: 1023px) {
    .offer-detail .main-title {
        width: 75%;
    }

    .offer-detail .location-word-break {
        word-break: break-all
    }

    .offer-detail .available-to li, .offer-detail .download-review li {
        width: 50%;
        display: inline-block;
        float: left;
        margin: 30px 0 0 0;
    }

        .offer-detail .available-to li.view-more,
        .offer-detail .available-to li .view-less,
        .offer-detail .download-review li.view-more,
        .offer-detail .download-review li .view-less {
            width: 100%;
            text-align: right;
        }

    .offer-detail .gallery-image {
        height: 595px;
    }

    .offer-detail .offer-teaser div.offer-tile:nth-child(odd) {
        padding-left: 10px;
        padding-right: 0;
    }

    .offer-detail .offer-teaser div.offer-tile:nth-child(even) {
        padding-left: 0;
        padding-right: 10px;
    }

    .offer-detail .offer-teaser div.offer-tile:not(:first-child) {
        margin-top: 15px;
    }
}

@media (max-width: 1023px) {
    .offer-detail .gallery-x-outof-x {
        display: block;
        margin-bottom: 16px;
    }

    .offer-detail .gallery-image,
    .offer-detail .gallery-back,
    .offer-detail .gallery-next {
        display: none;
    }

    .offer-detail .single-gallery-image {
        display: block;
    }

    .offer-detail .thumbnail-container {
        margin: 0;
        overflow: auto;
    }

        .offer-detail .thumbnail-container.js-thumbnail-images {
            overflow: hidden;
        }

        .offer-detail .thumbnail-container ul {
            margin-left: 0;
            white-space: nowrap;
        }

            .offer-detail .thumbnail-container ul li {
                float: none;
            }

                .offer-detail .thumbnail-container ul li img {
                    width: 580px;
                    height: auto;
                }

                .offer-detail .thumbnail-container ul li:only-child {
                    width: 100%;
                }

                    .offer-detail .thumbnail-container ul li:only-child img {
                        width: 100%;
                    }
}

@media (max-width: 767px) {
    .offer-detail {
        padding: 40px 16px 150px 16px;
    }

        .offer-detail .key-tags li {
            width: 100%;
            display: block;
            margin: 16px 0;
        }

            .offer-detail .key-tags li span {
                width: 80%;
            }

        .offer-detail h1 {
            font-size: 24px;
        }

        .offer-detail h2 {
            font-size: 22px;
        }

        .offer-detail .provider-image {
            width: 135px;
        }

        .offer-detail .offer-redemption-footer .offer-redemption-footer-price {
            font-size: 28px;
        }

        .offer-detail .offer-redemption-footer > div:not(.offer-redemption-footer-price) {
            width: 136px;
        }

        .offer-detail .row {
            padding: 0;
        }

        .offer-detail .gallery-caption-info {
            display: block;
        }

        .offer-detail .redeemOffer-text a[href^="tel"] {
            display: block;
        }

        .offer-detail .provider-image img {
            width: 100%;
        }

        .offer-detail .available-to li, .offer-detail .download-review li {
            width: 100%;
        }

        .offer-detail .offer-teaser .row div.offer-tile {
            padding-left: 0;
            padding-right: 0;
        }
}

@media (max-width: 640px) {
    .offer-detail .thumbnail-container ul li img {
        width: 545px;
        height: 363px;
    }
}

@media (max-width: 568px) {
    .offer-detail .thumbnail-container ul li img {
        width: 475px;
        height: 317px;
    }
}

@media (max-width: 480px) {
    .offer-detail .thumbnail-container ul li img {
        width: 330px;
        height: 225px;
    }
}

@media (max-width: 375px) {
    .offer-detail .thumbnail-container ul li img {
        width: 275px;
        height: 185px;
    }
}

@media (max-width: 320px) {
    .offer-detail .thumbnail-container ul li img {
        width: 235px;
        height: 160px;
    }
}

@media (min-width: 1024px) {
    .available-to-list .expand span, .download-review-list .expand span {
        display: none;
    }

    .offer-redemption-footer {
        display: none;
    }

    .offer-detail-sidebar {
        width: 24.9%;
    }

    .offer-location-list .modal-dialog {
        overflow-y: hidden;
        width: 40%;
    }

    .offer-location-list.modal.main-section .btn-close {
        right: 43px;
        top: 32px;
    }
}


.key-tags {
    background: #f8f7f5;
    margin: 0;
    margin-top: 20px;
    color: #141413;
    padding: 24px 15px;
    list-style: none;
    display: table;
    width: 100%;
}

    .key-tags li {
        width: 24%;
        float: left;
        white-space: normal;
    }

        .key-tags li img {
            margin: 0;
            text-indent: -9999px;
            white-space: nowrap;
            vertical-align: middle;
            display: inline-block;
            color: transparent;
            font-size: 0;
            text-align: left;
            overflow: hidden;
        }

        .key-tags li:nth-child(4n+1) {
            clear: left
        }

        .key-tags li span {
            width: 65%;
            display: inline-block;
            vertical-align: middle;
            margin-left: 5px
        }

@media (min-width:1440px) {
    .content .row.grid-container .offer-tile:nth-child(3n+1) {
        clear: both;
    }
}

@media (min-width: 768px) and (max-width: 1439px) {
    .content .row.grid-container .offer-tile:nth-child(2n+1) {
        clear: both;
    }
}

#offer-filter.loading .content {
    position: relative;
}

    #offer-filter.loading .acc-content::after,
    #offer-filter.loading .content::after {
        content: '';
        display: block;
        position: absolute;
        background: rgba(255, 255, 255, 0.5) url(../images/option_03_endless_loop.gif) no-repeat center center;
        top: 0;
        bottom: 0;
        background-size: 48px auto;
        width: 100%;
        z-index: 1;
    }

.offer-teaser .grid-container {
    /*grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    display: grid;
    grid-column-gap: 24px;
    grid-row-gap: 24px;*/
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: stretch;
    align-content: stretch;
    margin-right: -24px;
}

    .offer-teaser .grid-container .offer-tile {
        /*position: relative;
        padding-bottom: 46px;*/
        position: relative;
        padding-bottom: 46px;
        width: calc(33.33% - 24px);
        margin-right: 24px;
        margin-bottom: 24px;
    }


.offer-teaser .offer-tile .cta-link-wrapper {
    margin-bottom: 0;
    position: absolute;
    bottom: 0;
}

@media (max-width: 1300px) and (min-width:978px) {
    .offer-teaser .grid-container .offer-tile {
        width: calc(50% - 24px);
    }
}

@media (max-width: 977px) {
    .offer-teaser .grid-container {
        margin-right: 0;
    }

        .offer-teaser .grid-container .offer-tile {
            width: 100%;
            margin-right: 0;
        }
}

.offer-slide {
    position: relative;
}

.offer-slide--container {
    overflow: hidden;
}

.offer-slide--list {
    display: flex;
    margin: 0 -12px;
    transform: translateX(0%);
    flex-flow: nowrap;
    flex-direction: row;
    -webkit-overflow-scrolling: touch;
    transition: transform 0.25s ease-in-out;
}

.offer-slide--list-item {
    flex: 0 0 25%;
    padding: 0 12px;
}

    .offer-slide--list-item h5 {
        margin-top: 15px;
        margin-bottom: 0;
    }

        .offer-slide--list-item h5 + p {
            margin-top: 10px;
        }

    .offer-slide--list-item p + p {
        margin-top: 5px;
        margin-bottom: 0;
    }

    .offer-slide--list-item p.short-desc {
        overflow: hidden;
        text-overflow: ellipsis;
        -webkit-line-clamp: 4;
        -webkit-box-orient: vertical;
        display: -webkit-box;
    }

    .offer-slide--list-item a:hover,
    .offer-slide--list-item a:focus {
        text-decoration: none;
        color: inherit;
    }

.offer-slide--dots {
    margin-top: 1em;
    margin-bottom: 1em;
    text-align: center;
}

    .offer-slide--dots .offer-slide--dots-item {
        background: #d0d3d4;
        border: 1px solid #d0d3d4;
        display: inline-block;
        width: 10px;
        height: 10px;
        border-radius: 5px;
        margin: 0 5px;
        cursor: pointer;
        transition: background 0.25s ease-in-out, border-color 0.25s ease-in-out;
    }

        .offer-slide--dots .offer-slide--dots-item.active {
            background: #ff7c00;
            border-color: #ff7c00;
        }

.offer-slide--previous-link, .offer-slide--next-link {
    position: absolute;
    top: calc(50% - 50px);
    width: 35px;
    height: 140px;
    cursor: pointer;
}

    .offer-slide--previous-link:before, .offer-slide--next-link:before {
        font-size: 120px;
        color: #d0d3d4;
        font-weight: 100;
        line-height: 100%;
    }

.offer-slide--previous-link {
    left: -50px;
}

    .offer-slide--previous-link:before {
        content: '\2039';
    }

.offer-slide--next-link {
    right: -50px;
}

    .offer-slide--next-link:before {
        content: '\203A';
    }

.offer-slide.no-arrows .offer-slide--previous-link,
.offer-slide.no-arrows .offer-slide--next-link {
    display: none;
}

@media (max-width: 1540px) {
    .offer-slide {
        overflow: hidden;
    }
}

@media (max-width: 1023px) {
    .offer-slide--list-item {
        flex: 0 0 33.33%;
        padding: 0 12px;
    }
}

@media (max-width: 737px) {
    .offer-slide--list-item {
        flex: 0 0 100%;
        padding: 0 12px;
    }
}
