﻿/*   cookies css   */
.ot-sdk-show-settings {
    right: 0;
    z-index: 1;
    position: fixed;
    bottom: 0;
}

#ot-sdk-btn.ot-sdk-show-settings,
#ot-sdk-btn.optanon-show-settings {
    color: #141413 !important;
    border: 1px solid #141413 !important;
}

    #ot-sdk-btn.ot-sdk-show-settings:hover,
    #ot-sdk-btn.optanon-show-settings:hover {
        color: #fff !important;
        background-color: #cf4500 !important;
    }
