﻿.search-dropdown-options {
    display: none;
    overflow: visible;
    z-index: 1;
    position: absolute;
    background: white;
}

.search-dropdown:hover .search-dropdown-options {
    display: block;
    border: 1px solid #c4c4c4;
    overflow: auto;
    width: 215px;
}

    .search-dropdown:hover .search-dropdown-options ul {
        list-style: none;
        padding: 0;
        margin: 0;
        font-size: 12px;
    }

    .search-dropdown:hover .search-dropdown-options li {
        display: block;
        padding: 8px;
        margin-top: .25em;
        border-bottom: 1px solid #eee;
        cursor: pointer;
    }

        .search-dropdown:hover .search-dropdown-options li:hover {
            background-color: #5b6770;
        }

    .search-dropdown:hover .search-dropdown-options .selected {
        background-color: #f99000;
    }
