/* Begin :: Doesnt copy these styles */

@font-face {
    font-family: 'FontAwesome';
    src: url(/portal/content/fonts/profile/fontawesome-webfont.eot?v=4.4.0);
    src: url(/portal/content/fonts/profile/fontawesome-webfont.eot?#iefix&v=4.4.0) format('embedded-opentype'), url(/portal/content/fonts/profile/fontawesome-webfont.woff?v=4.4.0) format('woff'), url(/portal/content/fonts/profile/fontawesome-webfont.ttf?v=4.4.0) format('truetype'), url(/portal/content/fonts/profile/fontawesome-webfont.svg?v=4.4.0#fontawesomeregular) format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Accord Alternate";
    src: url(/portal/content/fonts/profile/AccordAlternate-Thin.eot);
    src: url(/portal/content/fonts/profile/AccordAlternate-Thin.eot?#iefix) format('embedded-opentype'), url(/portal/content/fonts/profile/AccordAlternate-Thin.woff) format('woff'), url(/portal/content/fonts/profile/AccordAlternate-Thin.ttf) format('truetype');
    font-style: normal;
    font-weight: 100;
}

@font-face {
    font-family: "Accord Alternate";
    src: url(/portal/content/fonts/profile/AccordAlternate-Bold.eot);
    src: url(/portal/content/fonts/profile/AccordAlternate-Bold.eot?#iefix) format('embedded-opentype'), url(/portal/content/fonts/profile/AccordAlternate-Bold.woff) format('woff'), url(/portal/content/fonts/profile/AccordAlternate-Bold.ttf) format('truetype');
    font-style: normal;
    font-weight: 700;
}

@font-face {
    font-family: "Accord Alternate";
    src: url(/portal/content/fonts/profile/AccordAlternate-Light.eot);
    src: url(/portal/content/fonts/profile/AccordAlternate-Light.eot?#iefix) format('embedded-opentype'), url(/portal/content/fonts/profile/AccordAlternate-Light.woff) format('woff'), url(/portal/content/fonts/profile/AccordAlternate-Light.ttf) format('truetype');
    font-style: normal;
    font-weight: 300;
}

@font-face {
    font-family: AccordAlternateBold;
    src: url(/portal/content/fonts/profile/AccordAlternate-Bold.eot);
    font-weight: 700;
}

@font-face {
    font-family: AccordAlternateLight;
    src: url(/portal/content/fonts/profile/AccordAlternate-Light.eot);
    font-weight: normal;
}

@font-face {
    font-family: AccordAlternateThin;
    src: url(/portal/content/fonts/profile/AccordAlternate-Thin.eot);
    font-weight: 100;
}

/* End */

.loading {
    background: url('/portal/content/images/loading.gif') no-repeat;
    -webkit-transition: background-color 0;
    transition: background-color 0;
}

    .loading span {
        visibility: hidden;
    }

.relative {
    position: relative;
}

.clear {
    clear: both;
}

.page-mid {
    width: 50%;
}

.paddr {
    padding-right: 10px !important;
}

.paddt {
    padding-top: 50px !important;
}

.form .form-group {
    display: block;
    margin-top: 40px;
    margin-bottom: 39px;
}

.tar {
    text-align: right;
}

span.requ-mark {
    font-size: 16px;
}

.hide {
    display: none;
}

.mc-message {
    display: block;
    position: relative;
    margin-bottom: 20px;
    background: #eee;
    padding: 20px;
    font-size: 14px;
}

    .mc-message.success {
        clear: both;
        padding-left: 65px;
        background: #d8efe9;
    }

        .mc-message.success:before {
            display: block;
            position: absolute;
            left: 20px;
            top: 50%;
            margin-top: -11px;
            width: 22px;
            height: 22px;
            content: "";
            background: url(/portal/content/images/profile/suscribe-check.png) no-repeat center center;
        }

    .mc-message.error {
        color: #eb001b;
    }

/* content header */

.content-header .mc-lead {
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 20px;
}

    .content-header .mc-lead:last-of-type {
        margin-bottom: 50px;
    }

.content-container .mc-lead {
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 20px;
}

.content-container .mc-lead-big {
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 21px;
}

.content-container .mc-lead:last-of-type {
    margin-bottom: 50px;
}

/* btn */
.btn {
    -webkit-appearance: none;
    display: inline-block;
    border: none;
    background: #5b6770;
    color: #fff;
    height: 42px;
    line-height: 42px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    letter-spacing: 2px;
    padding: 0 32px;
    outline: none;
    max-width: 100%;
    vertical-align: text-bottom;
}

    .btn > .fa {
        color: inherit !important;
        margin-right: 0.5em;
    }

    .btn:hover {
        color: #fff;
        text-decoration: none;
        -webkit-box-shadow: inset 0 42px 0 0 rgba(0,0,0,0.15);
        -moz-box-shadow: inset 0 42px 0 0 rgba(0,0,0,0.15);
        box-shadow: inset 0 42px 0 0 rgba(0,0,0,0.15);
    }

    .btn:active {
        -webkit-box-shadow: inset 0 42px 0 0 rgba(0,0,0,0.3);
        -moz-box-shadow: inset 0 42px 0 0 rgba(0,0,0,0.3);
        box-shadow: inset 0 42px 0 0 rgba(0,0,0,0.3);
    }

.btn-md {
    font-size: 18px;
}

.btn.btn-xs {
    padding: 5px 10px;
    height: auto;
    font-size: 12px;
    line-height: 16px;
    font-weight: normal;
    color: #4A4A4A;
    background: #D8D8D8;
    text-transform: none;
}

    .btn.btn-xs.btn-link {
        background: none;
        text-decoration: underline;
    }


.mc-accordion-list {
    margin-bottom: 30px;
    font-size: 16px;
    font-weight: normal;
}

    .mc-accordion-list .mc-accordion-list {
        width: auto;
    }

.mc-accordion-item .mc-accordion-title {
    padding: 10px 5px 10px 0;
    line-height: 20px;
    border-bottom: 1px solid #ddd;
}

.mc-accordion-item.have-items > .mc-accordion-title {
    border-bottom: 1px solid #bbb;
    overflow: hidden;
}

.mc-accordion-item.have-items.collapsed > .mc-accordion-title {
    border-bottom-color: #ddd;
}

.mc-accordion-item.have-items > .mc-accordion-title .title-link {
    position: relative;
    padding-left: 20px;
}

    .mc-accordion-item.have-items > .mc-accordion-title .title-link::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        width: 20px;
        height: 20px;
        background: url(/portal/content/images/profile/sprites.png) no-repeat -20px 0;
        vertical-align: text-bottom;
    }

.mc-accordion-item.have-items.collapsed > .mc-accordion-title .title-link::before {
    background-position: 0 0;
}

.mc-accordion-item .mc-accordion-title .title-link {
    color: #333;
    text-decoration: none;
    max-width: 50%;
    display: inline-block;
}

    .mc-accordion-item .mc-accordion-title .title-link .folder::before {
        content: "";
        display: inline-block;
        margin-right: 5px;
        width: 20px;
        height: 20px;
        background: url(/portal/content/images/profile/sprites.png) no-repeat -40px 0;
        vertical-align: text-bottom;
    }

.mc-accordion-item .mc-accordion-title .info {
    float: right;
    max-width: 50%;
    text-align: right;
}

    .mc-accordion-item .mc-accordion-title .info .text {
        margin-left: 5px;
        font-size: 13px;
    }

    .mc-accordion-item .mc-accordion-title .info .action-link.all,
    .mc-accordion-item .mc-accordion-title .info .action-link.sub {
        margin-left: 5px;
        color: #ff7c00;
        border-bottom: 1px dashed #ff7c00;
        text-decoration: none;
        white-space: nowrap;
    }

.mc-accordion-item.subscribed > .mc-accordion-title .info .text {
    display: none;
}

.mc-accordion-item.subscribed > .mc-accordion-title .info .action-link.sub {
    overflow: hidden;
    text-indent: -9999px;
    cursor: pointer;
    border: none;
}

    .mc-accordion-item > .mc-accordion-title .info .action-link.sub.checked span,
    .mc-accordion-item.subscribed > .mc-accordion-title .info .action-link.sub span {
        display: none;
    }

    .mc-accordion-item > .mc-accordion-title .info .action-link.sub.checked::before,
    .mc-accordion-item.subscribed > .mc-accordion-title .info .action-link.sub::before {
        content: "";
        display: inline-block;
        margin-left: 5px;
        width: 20px;
        height: 20px;
        background: url(/portal/content/images/profile/sprites.png) no-repeat -60px 0;
        vertical-align: text-bottom;
    }

    .mc-accordion-item.subscribed > .mc-accordion-title .info .action-link.sub:hover::before {
        background-position: -80px 0;
    }

.mc-accordion-item.subscribed > .mc-accordion-body > .box-disabled {
    display: block;
}

.mc-accordion-item.subscribed > .mc-accordion-body .mc-accordion-body .box-disabled {
    display: none;
}

.mc-accordion-item .mc-accordion-body {
    overflow: hidden;
    padding-left: 25px;
    transition: height .3s ease-in-out;
    height: auto;
    position: relative;
}

.mc-accordion-item.collapsed > .mc-accordion-body {
    height: 0;
}


.mc-accordion-list.pages {
    border: 1px solid #ddd;
}

    .mc-accordion-list.pages .mc-accordion-item .mc-accordion-title {
        padding-left: 10px;
        position: relative;
    }

        .mc-accordion-list.pages .mc-accordion-item .mc-accordion-title .title-link {
            max-width: none;
            /* padding-right: 100px; */
            display: block;
            margin-right: 100px;
        }

        .mc-accordion-list.pages .mc-accordion-item .mc-accordion-title .info {
            position: absolute;
            top: 50%;
            right: 5px;
            margin-top: -10px;
        }

.mc-tab .tab-button-list {
    display: table;
    margin: 0 auto 20px auto;
    padding: 0;
    border: 1px solid #ccc;
}

    .mc-tab .tab-button-list > li {
        display: table-cell;
        border-left: 1px solid #ccc;
        list-style: none;
    }

        .mc-tab .tab-button-list > li:first-child {
            border-left: none;
        }

        .mc-tab .tab-button-list > li a {
            display: block;
            padding: 10px;
            width: 150px;
            font-size: 18px;
            color: #333;
            text-align: center;
            text-decoration: none;
        }

        .mc-tab .tab-button-list > li:not(.active) a:hover {
            -webkit-box-shadow: inset 0 0 0 50px #d0d3d4;
            -moz-box-shadow: inset 0 0 0 50px #d0d3d4;
            box-shadow: inset 0 0 0 50px #d0d3d4;
        }

        .mc-tab .tab-button-list > li.active {
            background: #f99000;
        }

.mc-tab .tab-content-list {
    margin: 0;
    padding: 0;
}

    .mc-tab .tab-content-list > li {
        list-style: none;
        display: none;
        transition: opacity 1s ease-out;
        opacity: 0;
    }

        .mc-tab .tab-content-list > li.active {
            display: block;
            opacity: 1;
        }
/*Mobile */
@media(max-width:1023px) {
    .page-mid {
        width: auto;
    }

    .frequency-choose .title {
        float: left;
        height: 80px;
        margin-right: 20px;
    }

    .frequency-choose .radio-inline {
        display: block;
        margin-bottom: 5px;
    }

    .mc-accordion-list {
        width: auto;
    }

    .mc-accordion-item.have-items.collapsed > .mc-accordion-title {
        border-bottom-width: 1px;
    }

    .mc-accordion-item.have-items > .mc-accordion-title {
        border-bottom-width: 2px;
    }

    .mc-accordion-item .mc-accordion-title .title-link .folder::before {
        display: none;
    }

    .mc-accordion-list .mc-accordion-item.category > .mc-accordion-body {
        padding-left: 0;
    }
}

/* STYLES FOR PROFILE */

.content-container .nav-button-list,
ul.nav-button-list {
    display: table;
    table-layout: fixed;
    margin-top: 30px;
    margin-bottom: 50px;
    padding-left: 0px;
    width: 100%;
    border-bottom: 1px solid #DBDBDB;
}

.nav-button-list li {
    display: table-cell;
    text-align: center;
}

    .nav-button-list li a {
        position: relative;
        display: inline-block;
        line-height: 40px;
        text-decoration: none;
        color: #4A4A4A;
    }

        .nav-button-list li a:hover:before,
        .nav-button-list li.active a:before {
            content: "";
            display: block;
            position: absolute;
            bottom: -4px;
            left: 0;
            right: 0;
            height: 4px;
            background: #DBDBDB;
        }

    .nav-button-list li.active a {
        font-weight: bold;
    }

        .nav-button-list li.active a:before {
            background: #F8A81D;
        }

.text-gray {
    color: #9B9B9B;
}

.mc-btn-action,
.mc-btn-action:focus {
    color: #2E2E2E;
    background: #F8A619;
    text-transform: capitalize;
}

.mc-btn-default,
.mc-btn-default:focus {
    color: #9B9B9B;
    background: #fff;
    border: 1px solid #9B9B9B;
    text-transform: capitalize;
}

.mc-choose-wrapper {
    margin-bottom: 20px;
    margin-left: -10px;
    margin-right: -10px;
}

    .mc-choose-wrapper .mc-choose-list {
        margin-bottom: 20px;
    }

        .mc-choose-wrapper .mc-choose-list.selector {
            min-height: 362px;
        }

.mc-choose-list,
.mc-action-list {
    display: table;
    width: 100%;
    border-spacing: 10px 0;
}

    .mc-choose-list .mc-choose-item,
    .mc-action-list .mc-action-item {
        display: table-cell;
        width: 30%;
        margin-right: 5%;
    }

    .mc-choose-list .mc-choose-item {
        border: 1px solid #979797;
    }

        .mc-choose-list .mc-choose-item .mc-cat-list {
            display: block;
            margin: 0;
            padding: 0;
        }

            .mc-choose-list .mc-choose-item .mc-cat-list .mc-cat-item {
                display: block;
                margin: 0;
                padding: 0;
            }

    .mc-choose-list #mc-choose-item-3.mc-choose-item .mc-cat-list .mc-cat-item.active > .mc-cat-title {
        background: none;
    }

.mc-cat-title {
    display: block;
    padding: 20px;
    cursor: pointer;
    transition: 0.15s background-color;
}

    .mc-cat-title .title-link {
        display: block;
        position: relative;
        padding-left: 30px;
        line-height: 20px;
    }

        .mc-cat-title .title-link small {
            vertical-align: top;
        }

        .mc-cat-title .title-link .subscription-link:before {
            display: block;
            position: absolute;
            left: 0;
            top: 50%;
            margin-top: -11px;
            width: 22px;
            height: 22px;
            content: "";
            background: url(/portal/content/images/profile/suscribe-uncheck.png) no-repeat center center;
        }

.have-items.children-subscribed > .mc-cat-title .title-link .subscription-link:before {
    background: url(/portal/content/images/profile/suscribe-check-children.png) no-repeat center center;
}

.subscribed > .mc-cat-title .title-link .subscription-link:before {
    background: url(/portal/content/images/profile/suscribe-check.png) no-repeat center center;
}

.have-items > .mc-cat-title .title-link:after {
    display: none;
    position: absolute;
    right: 0;
    top: 50%;
    margin-top: -11px;
    width: 22px;
    height: 22px;
    content: "";
    background: url(/portal/content/images/profile/chevron-right.png) no-repeat center center;
}

.mc-choose-list .mc-choose-item .mc-cat-list .mc-cat-item:hover > .mc-cat-title,
.mc-choose-list #mc-choose-item-3.mc-choose-item .mc-cat-list .mc-cat-item.active:hover > .mc-cat-title {
    background: #F8A619;
}

.mc-choose-list .mc-choose-item .mc-cat-list .mc-cat-item.active > .mc-cat-title {
    background: #F8A619;
}

.active.have-items > .mc-cat-title .title-link:after,
.have-items:hover > .mc-cat-title .title-link:after {
    display: block;
}

.mc-cat-body {
    display: none;
}

.mc-choose-item > .mc-cat-body {
    display: block;
}

.box-disabled {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(230, 230, 230, 0.9);
    z-index: 1;
}

    .box-disabled .text {
        display: block;
        position: absolute;
        top: 50%;
        margin-top: -12px;
        width: 100%;
        text-align: center;
        font-size: 20px;
        line-height: 24px;
        color: #999;
    }

/* favorites list */

.mc-page-list {
    border-top: 1px solid #DBDBDB;
}

.mc-page-item {
    border-bottom: 1px solid #DBDBDB;
}

    .mc-page-item .mc-page-title {
        display: block;
        padding: 20px 0;
    }

        .mc-page-item .mc-page-title .title-link {
            display: block;
            position: relative;
            padding-left: 30px;
            line-height: 20px;
        }

            .mc-page-item .mc-page-title .title-link .subscription-link:before {
                display: block;
                position: absolute;
                left: 0;
                top: 50%;
                margin-top: -11px;
                width: 22px;
                height: 22px;
                content: "";
                background: url(/portal/content/images/profile/bookmark-uncheck.png) no-repeat center center;
            }

.subscribed > .mc-page-title .title-link .subscription-link:before {
    background: url(/portal/content/images/profile/bookmark-check.png) no-repeat center center;
}

/* notification type */

.content-container ul.notification-list {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
    display: flex;
    flex-direction: row;
}

    .content-container ul.notification-list li {
        display: block;
        margin: 0 30px 0 0 !important;
        padding: 0;
        float: left;
        height: 100%;
        min-width: 150px;
        word-wrap: break-word;
    }

        .content-container ul.notification-list li label {
            display: block;
            padding: 30px 20px 20px;
            text-align: center;
            border: 1px solid #DBDBDB;
            border-radius: 8px;
            font-size: 20px;
            height: 100%;
        }

            .content-container ul.notification-list li label.active {
                border-color: #F8A81D;
                border-width: 3px;
                padding: 28px 18px 18px;
            }

            .content-container ul.notification-list li label img {
                margin-bottom: 30px;
            }

            .content-container ul.notification-list li label input {
                float: left;
                margin: 8px 5px 0 0;
            }
/* content-list */

.mc-content-customize-start {
    overflow: hidden;
    margin: 0 0 14px;
    padding: 40px 200px;
    background: #cfd3d4;
}

.dialog-text .mc-content-customize-start {
    padding: 30px;
    margin: 0;
}

.customize-start-modal.ui-dialog {
    position: fixed;
    left: 50% !important;
    margin-left: -500px !important;
}

    .customize-start-modal.ui-dialog .ui-dialog-titlebar-close::after {
        /*color: #fff2ae;*/
    }

.mc-content-customize-start img {
    float: left;
    margin: -40px 40px -40px -40px;
    width: 40%;
}

.mc-content-customize-start .mc-body {
    overflow: hidden;
    text-align: center;
}

.mc-content-customize-start h2 {
    margin-top: 0;
    margin-bottom: 20px;
    font-weight: 500;
    font-family: "Accord Alternate", Arial, Helvetica, sans-serif;
    font-size: 30px;
    color: #038e97;
}

.mc-content-customize-start h4 {
    margin-top: 0;
    margin-bottom: 20px;
    font-weight: 500;
    font-family: "Accord Alternate", Arial, Helvetica, sans-serif;
    font-size: 26px;
    color: #038e97;
}

.mc-content-customize-start p {
    margin-top: 0;
    margin-bottom: 30px;
    font-family: "Accord Alternate", Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: 300;
    color: #333333;
}

.mc-content-customize-start .btn {
    font-size: 13px;
    background: #038e97;
    height: 38px;
    line-height: 38px;
}

.mc-content-customize-start .actions {
    position: relative;
}

    .mc-content-customize-start .actions .dont-show {
        margin: 0;
        position: absolute;
        left: 0;
        top: 0;
        font-size: 15px;
        line-height: 38px;
    }

.mc-content-list {
    overflow: hidden;
    padding: 30px 0;
    margin: 0 -10px;
}

    .mc-content-list > h2 {
        font-family: "Accord Alternate", Arial, Helvetica, sans-serif;
        font-size: 30px;
        text-align: center;
    }

        .mc-content-list > h2 span {
            font-weight: bold;
            font-family: "Accord Alternate", Arial, Helvetica, sans-serif;
            color: #EE7E1F;
        }

    .mc-content-list .content-item {
        width: 33.33%;
        float: left;
    }

        .mc-content-list .content-item .content-body {
            position: relative;
            margin: 10px;
            padding: 20px 20px 60px;
            /* max-height: 250px;
		min-height: 250px; */
            border: 1px solid #B2B2B2;
        }

            .mc-content-list .content-item .content-body h2 {
                margin-top: 0;
                margin-bottom: 10px;
                font-weight: bold;
                font-family: "Accord Alternate", Arial, Helvetica, sans-serif;
                font-size: 20px;
            }

                .mc-content-list .content-item .content-body h2,
                .mc-content-list .content-item .content-body h2 a {
                    color: #4A4A4A;
                }

            .mc-content-list .content-item .content-body p {
                margin: 0 0 5px;
                font-family: "Accord Alternate", Arial, Helvetica, sans-serif;
                font-size: 14px;
            }

                .mc-content-list .content-item .content-body p.date {
                    color: #ccc;
                }

                .mc-content-list .content-item .content-body p.text {
                    /* overflow: hidden;
			text-overflow: ellipsis;
			max-width: 255ch; */
                }

            .mc-content-list .content-item .content-body ul.tag-list {
                position: absolute;
                left: 20px;
                right: 20px;
                bottom: 20px;
                margin: 0;
                padding: 0;
                list-style: none;
                overflow: hidden;
                height: 32px;
            }

                .mc-content-list .content-item .content-body ul.tag-list li:first-child {
                    margin-left: 0;
                }

                .mc-content-list .content-item .content-body ul.tag-list li {
                    float: left;
                    margin-top: 5px;
                    margin-left: 5px;
                    padding: 3px 10px;
                    color: #4A4A4A;
                    font-weight: bold;
                    text-transform: uppercase;
                    background: #E1E1E1;
                    max-width: 100%;
                    text-overflow: ellipsis;
                    overflow: hidden;
                    white-space: nowrap;
                }

                    .mc-content-list .content-item .content-body ul.tag-list li span {
                        display: block;
                        overflow: hidden;
                        text-overflow: ellipsis;
                    }

                    .mc-content-list .content-item .content-body ul.tag-list li.orange {
                        color: #fff;
                        background: #EE7E1F;
                    }

                    .mc-content-list .content-item .content-body ul.tag-list li.more {
                        width: 50px;
                        text-align: center;
                    }

.content-more-link {
    clear: both;
    text-align: center;
    padding: 30px 0 10px;
}

.mc-content-list .content-item .content-body ul.tag-list.table-format {
    display: table;
    height: 26px;
}

    .mc-content-list .content-item .content-body ul.tag-list.table-format li {
        display: table-cell;
        float: none;
        border-right: 5px solid #fff;
        line-height: 26px;
        padding-top: 0;
        padding-bottom: 0;
        vertical-align: middle;
    }

.mc-content-list .content-item.featured .content-body ul.tag-list.table-format li {
    border-right-color: #e1531d;
}

.mc-content-list .content-item .content-body ul.tag-list.table-format li.more {
    border-right: none;
}

.mc-content-list .content-item .content-body ul.tag-list li.adjust span {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
}

.mc-content-list .content-item.featured .content-body {
    /* border-width: 3px;
		border-color: #d0d3d4; */
    min-height: 247px;
    border: 0;
    border-color: #e1531d;
    background: #e1531d;
}

    .mc-content-list .content-item.featured .content-body h2 a,
    .mc-content-list .content-item.featured .content-body p {
        color: #fff;
    }

    .mc-content-list .content-item.featured .content-body ul.tag-list li.orange {
        background: #4A4A4A;
    }

.mc-content-list .content-item.have-image .content-body img {
    float: left;
    margin-right: 20px;
}

/* Mobile */

@media(max-width:1023px) {
    .nav-button-wrapper {
        overflow: hidden;
    }

    .content-container .nav-button-list, ul.nav-button-list {
        padding-left: 0;
    }

    .nav-button-list li a {
        margin: 0 10px;
        white-space: nowrap;
    }

    .mc-choose-list .mc-choose-item,
    .mc-action-list .mc-action-item {
        display: none;
        margin: 0;
        width: auto;
        border: none;
    }

        .mc-choose-list .mc-choose-item.for-mobile,
        .mc-action-list .mc-action-item.for-mobile {
            display: block;
        }

    .mc-cat-list {
        border-top: 1px solid #DBDBDB;
    }

        .mc-cat-list .mc-cat-item.have-items .mc-cat-body {
            position: relative;
        }

        .mc-cat-list .mc-cat-item.have-items.active > .mc-cat-body {
            display: block;
        }

    .mc-choose-list .mc-cat-list .mc-cat-list {
        margin-left: 30px;
        border-top: 0;
    }

    .mc-choose-list .mc-choose-item > .mc-cat-list > .mc-cat-item > .mc-cat-title {
        background: #eee;
    }

    .mc-choose-list .mc-choose-item > .mc-cat-list .mc-cat-item .mc-cat-title {
        border-top: 1px solid #DBDBDB;
    }

    .mc-choose-list .mc-choose-item > .mc-cat-list > .mc-cat-item > .mc-cat-body > .mc-cat-list,
    .mc-choose-list .mc-choose-item > .mc-cat-list .mc-cat-list > .mc-cat-item:first-child > .mc-cat-title,
    .mc-choose-list .mc-choose-item > .mc-cat-list > .mc-cat-item:first-child > .mc-cat-title {
        border-top: 0;
    }

    .mc-choose-list .mc-choose-item > .mc-cat-list .mc-cat-item .mc-cat-list {
        border-top: 1px solid #dbdbdb;
    }

    .mc-choose-list .mc-choose-item > .mc-cat-list .mc-cat-list .mc-cat-list {
        margin-left: 0;
    }

        .mc-choose-list .mc-choose-item > .mc-cat-list .mc-cat-list .mc-cat-list .mc-cat-item .mc-cat-title {
            border-top: 0;
        }

    .have-items > .mc-cat-title .title-link:after {
        display: block;
        position: absolute;
        right: 0;
        top: 50%;
        margin-top: -11px;
        width: 22px;
        height: 22px;
        content: "";
        background: url(/portal/content/images/profile/chevron-right.png) no-repeat center center;
        -ms-transform: rotate(90deg);
        -webkit-transform: rotate(90deg);
        transform: rotate(90deg);
    }

    .have-items.active > .mc-cat-title .title-link:after {
        transform: rotate(-90deg);
    }

    .mc-choose-list .mc-choose-item .mc-cat-list .mc-cat-list .mc-cat-list .mc-cat-item.active > .mc-cat-title {
        background: none;
    }

    .content-container ul.notification-list li {
        float: none;
        width: auto;
        margin: 0 0 20px !important;
    }

        .content-container ul.notification-list li label {
            position: relative;
            text-align: left;
            padding: 20px 30px;
        }

            .content-container ul.notification-list li label img {
                margin-bottom: 0;
                margin-right: 20px;
            }

            .content-container ul.notification-list li label br {
                display: none;
            }

            .content-container ul.notification-list li label input {
                display: none;
            }

            .content-container ul.notification-list li label.active {
                padding: 18px 28px;
            }

                .content-container ul.notification-list li label.active::before {
                    display: block;
                    position: absolute;
                    right: 10px;
                    top: 10px;
                    width: 22px;
                    height: 22px;
                    content: "";
                    background: url(/portal/content/images/profile/subscribe-check-orange.png) no-repeat center center;
                }

    .mc-content-customize-start {
        padding: 30px;
        text-align: center;
    }

        .mc-content-customize-start figure {
            margin: -30px -30px 30px -30px;
        }

            .mc-content-customize-start figure img {
                float: none;
                margin: 0;
                width: 100%;
            }

        .mc-content-customize-start .btn {
            display: block;
            height: 42px;
            font-size: 14px;
            line-height: 42px;
        }

        .mc-content-customize-start .actions .dont-show {
            position: relative;
            margin-top: 14px;
        }

    .mc-content-list {
        margin: 30px 0;
        padding: 0 30px;
    }

        .mc-content-list > h2 {
            margin-bottom: 30px;
        }

        .mc-content-list .content-item {
            float: none;
            width: auto;
            margin-bottom: 20px;
        }

            .mc-content-list .content-item .content-body {
                margin: 0;
                padding-bottom: 20px;
                min-height: 0 !important;
            }

            .mc-content-list .content-item.have-image .content-body img {
                width: 100%;
                height: auto;
                margin-bottom: 20px;
            }

            .mc-content-list .content-item .content-body ul.tag-list {
                position: relative;
                top: inherit;
                bottom: 0;
                left: 0;
                right: inherit;
                height: auto;
                overflow: visible;
                white-space: normal;
            }

    .customize-start-modal.ui-dialog {
        left: 0 !important;
        margin-left: 0 !important;
    }
}

.text-center {
    text-align: center;
}

.header-steps {
    display: flex;
    margin-bottom: 50px;
    min-height: 130px;
}

    .header-steps .step-item {
        position: relative;
        padding: 25px 60px;
        flex-grow: 1;
        flex-basis: 33%;
        background: #ff9a22;
        color: #fff;
        font-family: "Accord Alternate", Arial, Helvetica, sans-serif;
        font-size: 18px;
        font-weight: 300;
        line-height: 20px;
    }

        .header-steps .step-item:nth-child(1):before {
            content: '';
            display: block;
            position: absolute;
            top: 0;
            bottom: 0;
            right: -30px;
            width: 60px;
            z-index: 1;
            background: url(/portal/Content/images/automatic-email-notifications/step-separator-1.png) no-repeat center center;
            background-size: auto 100%;
        }

        .header-steps .step-item:nth-child(1) {
            padding-left: 100px;
        }

        .header-steps .step-item:nth-child(2):before {
            content: '';
            display: block;
            position: absolute;
            top: 0;
            bottom: 0;
            right: -30px;
            width: 60px;
            z-index: 1;
            background: url(/portal/Content/images/automatic-email-notifications/step-separator-2.png) no-repeat center center;
            background-size: auto 100%;
        }

        .header-steps .step-item:nth-child(2) {
            background: #ff7c19;
        }

        .header-steps .step-item:nth-child(3) {
            background: #e35112;
        }

        .header-steps .step-item:last-child {
            padding-right: 100px;
        }

        .header-steps .step-item strong {
            display: block;
            color: #fff;
            font-family: "Accord Alternate", Arial, Helvetica, sans-serif;
            font-size: 30px;
            line-height: 35px;
        }

.page-step .content-container .spaces-vertical-in {
    padding-top: 40px;
}

.page-step .content-container header h1 {
    margin-bottom: 30px;
}

.page-step .content-container .mc-lead:last-of-type {
    margin-bottom: 0;
}

.page-step .content-container.spaces-vertical-in {
    padding-bottom: 40px;
}

.page-step .content-container h4 {
    margin-top: 0;
    margin-bottom: 30px;
}

    .page-step .content-container h4 strong {
        color: #008e9a;
    }

.page-step .content-container p {
    margin-bottom: 15px;
}

.page-step .content-container hr {
    margin-top: 55px;
    margin-bottom: 50px;
}

.page-step:last-of-type {
    margin-bottom: 120px;
}

@media (max-width: 1024px) {
    .hide-mobile {
        display: none;
    }

    .header-steps {
        display: block;
        margin-bottom: 22px;
    }

        .header-steps .step-item:before {
            display: none !important;
        }

        .header-steps .step-item {
            padding: 15px 25px !important;
            font-size: 16px;
            line-height: 20px;
            letter-spacing: 0.4px;
        }

            .header-steps .step-item strong {
                font-size: 20px;
                line-height: 24px;
            }

    .page-step:last-of-type {
        margin-bottom: 70px;
    }

    .page-step .content-container .mc-lead {
        line-height: 1.4em;
    }

    .page-step .content-container.spaces-vertical-in {
        padding-top: 45px;
    }

    .page-step p img {
        width: auto;
        height: auto;
        max-width: 100%;
    }

    .page-step .content-container h4 {
        margin-bottom: 5px;
        font-size: 20px;
        line-height: 25px;
    }

        .page-step .content-container h4 strong {
            display: block;
        }

    .page-step .content-container p {
        margin-top: 0;
    }

    .page-step .content-container hr {
        margin-top: 45px;
        margin-bottom: 27px;
    }
}
