﻿@model HeaderViewModel
@using Mastercard.MarketingCenter.Services.Interfaces;
@using Mastercard.MarketingCenter.Services;
@using Mastercard.MarketingCenter.Web.Core;
@using Slam.Cms.Configuration;
@{
    Layout = null;
}
@{
    var urlService = DependencyResolver.Current.GetService<IUrlService>();
    var siteMap = (MastercardSitemap)DependencyResolver.Current.GetService<Sitemap>();
    var userContext = DependencyResolver.Current.GetService<UserContext>();
    var baseSiteUrl = (Request.Url.GetLeftPart(UriPartial.Authority).TrimEnd('/') + "/" + Request.ApplicationPath.Trim('/')).Replace("/portal", string.Empty);
    var eMarketingLoginHandshakeId = DependencyResolver.Current.GetService<ISettingsService>().GetEMarketingLoginHandshakeId(userContext.SelectedRegion);
}

<div id="header">
    <div class="mobile mobile-nav">
        <nav class="main-nav">
            <ul class="reset">
                <li class="item">
                    <span>@string.Format(Resources.Shared.WelcomeUserName, userContext.User != null ? userContext.User.FullName : Constants.EDMTokens.UserName)</span>
                </li>
                <li data-id="@siteMap.RootNode.Id" style="@siteMap.RootNode.Style">
                    <a class="item item-home @(Model.CurrentSitemapNode.Key == Constants.DefaultSitemapNodeKey ? "active" : "")" href="@baseSiteUrl/portal" tracking-type="navigation" data-title="@siteMap.RootNode.Title"><@siteMap.RootNode.Title></a>
                </li>
                @if (@Model.Languages != null && Model.Languages.Count() > 1)
                {
                    <li>
                        @if (Model.Languages.Any(l => l.Code != userContext.SelectedLanguage))
                        {
                            <div class="sub-nav check-container">
                                <ul class="reset">
                                    @foreach (var language in Model.Languages.Where(l => l.Code != userContext.SelectedLanguage))
                                    {
                                        <li><a class="item m-language-label" href='@Url.Action("ChangeLanguage", "Header", new { selectedLanguage = language.Code })'>@language.Name</a></li>
                                    }
                                </ul>
                            </div>
                        }
                    </li>
                }
                @if (Model.Regions != null && Model.Regions.Count() > 1)
                {
                    <li>
                        @if (Model.Regions.Any(r => r.IdTrimmed != userContext.SelectedRegion))
                        {
                            <div class="sub-nav check-container">
                                <ul class="reset">
                                    @foreach (var region in Model.Regions.Where(r => r.IdTrimmed != userContext.SelectedRegion))
                                    {
                                        <li><a class="item m-region-label" href='@Url.Action("ChangeRegion", "Header", new { selectedRegion = region.IdTrimmed })'>@region.Name</a></li>
                                    }
                                </ul>
                            </div>
                        }
                    </li>
                }

                @if (Model.CanChangeSegments && Model.Segmentations.Any())
                {
                    foreach (var segment in Model.Segmentations)
                    {
                        <li>
                            <label for="@segment.SegmentationId-marker" class="item m-switch-label">@segment.SegmentationName</label>
                            <label for="@segment.SegmentationId-marker" class="onoffswitch">
                                <input type="checkbox" id="@segment.SegmentationId-marker" class="m-switch-check" value="@segment.SegmentationId">
                                <span class="onoffswitch-label"></span>
                            </label>
                        </li>
                    }
                    if (Model.CanSeeNoneSegmentationButton)
                    {
                        <li>
                            <label for="@RegionConfigManager.NoneSegmentation-marker" class="item m-switch-label">@Resources.Shared.None</label>
                            <label for="@RegionConfigManager.NoneSegmentation-marker" class="onoffswitch">
                                <input type="checkbox" id="@RegionConfigManager.NoneSegmentation-marker" class="m-switch-check" value="@RegionConfigManager.NoneSegmentation">
                                <span class="onoffswitch-label"></span>
                            </label>
                        </li>

                    }
                    <li>
                        <label for="@RegionConfigManager.DefaultSegmentation-marker" class="item m-switch-label">@Resources.Shared.All</label>
                        <label for="@RegionConfigManager.DefaultSegmentation-marker" class="onoffswitch">
                            <input type="checkbox" id="@RegionConfigManager.DefaultSegmentation-marker" class="m-switch-check" value="@RegionConfigManager.DefaultSegmentation">
                            <span class="onoffswitch-label"></span>
                        </label>
                    </li>
                }

                @foreach (var node in Model.SitemapByPermissions)
                {
                    if (!node.Children.Any())
                    {
                        <li data-id="@node.Id" style="@node.Style">
                            <a class="item @(Model.CurrentSitemapNode.Key == node.Key ? " active" : "")  %>" href='@Html.GetAbsoluteOrRelativeUri(node.Url, baseSiteUrl)' @(node.Url.StartsWith("#") ? "" : "tracking-type=navigation") data-title="@node.Title">@node.Title</a>
                        </li>
                    }
                    else
                    {
                        <li data-id="@node.Id" style="@node.Style">
                            <input type="checkbox" class="check-point" id="check @node.Key">
                            <label for="check @node.Key" class="check-trigger"></label>
                            <label for="check @node.Key" class="item @(Model.CurrentSitemapNode.Key == node.Key || (Model.CurrentSitemapNode.Parent != null && Model.CurrentSitemapNode.Parent.Key == node.Key) ? " active" : "")">@node.Title</label>
                            <div class="sub-nav check-container">
                                <ul class="reset">
                                    @foreach (var subnode in node.Children)
                                    {
                                        <li data-id="@subnode.Id" style="@subnode.Style"><a class="item" href='@(baseSiteUrl + subnode.Url)' tracking-type="navigation">@subnode.Title</a></li>

                                    }
                                </ul>
                            </div>
                        </li>
                    }
                }

            </ul>
        </nav>
        <nav class="user-nav">
            <a class="item" href="@baseSiteUrl/portal/page/about-us" tracking-type="navigation">@Resources.Shared.AboutUs</a>
            <a class="item" href="@baseSiteUrl/portal/contact" tracking-type="navigation">@Resources.Shared.ContactUs</a>
            @if (Model.IsInAdminRole)
            {
                <a class="item" href="@Url.Action("RedirectToAdmin", "Admin")" tracking-type="navigation">@Resources.Shared.Admin</a>
            }
            <a class="item" href="@baseSiteUrl/portal/profile?returnUrl=@Request.Url.LocalPath" tracking-type="navigation">@Resources.Shared.Profile</a>
            @if (Model.BusinessOwnerExpirationManagementEnabled && userContext.IsMastercardUser)
            {
                <a class="item" href="/admin/businessowner" tracking-type="navigation">@Resources.Shared.BusinessOwner</a>
            }
            @if (Model.CanUseShoppingCart)
            {
                <a class="item" href="@baseSiteUrl/portal/shoppingcart" tracking-type="navigation">@Resources.Shared.ShoppingCart</a>
                <a class="item desktop-only" href="@baseSiteUrl/portal/orderhistory" tracking-type="navigation">@Resources.Shared.OrderHistory</a>
            }
            <a class="item" href="@baseSiteUrl/portal/logout" tracking-type="navigation">Logout</a>
        </nav>
        <nav class="nav-footer">
            @Html.Raw(Resources.Shared.Mastercard)
            @Html.Raw(string.Format(Resources.Shared.MastercardTermsOfUse, siteMap.GetSetting("TermsOfUse", userContext.SelectedRegion)))
            @Html.Raw(string.Format(Resources.Shared.MastercardPrivacyPolicy, siteMap.GetSetting("PrivacyNotice", userContext.SelectedRegion)))
        </nav>
    </div>

    <header class="page-header">
        <div class="utility-nav-bar clearfix grid-spaces-out">
            <nav class="faq-nav">
                <a class="item" href="@baseSiteUrl/portal/page/about-us" tracking-type="navigation">@Resources.Shared.AboutUs</a>
                <a class="item" href="@baseSiteUrl/portal/contact" tracking-type="navigation">@Resources.Shared.ContactUs</a>
            </nav>
            <nav class="user-nav">
                <span class="item active">@string.Format(Resources.Shared.WelcomeUserName, userContext.User != null ? userContext.User.FullName : Constants.EDMTokens.UserName)</span>
                <a class="item" href="@baseSiteUrl/portal/profile?returnUrl=@Request.Url.LocalPath" tracking-type="navigation">@Resources.Shared.Profile</a>
                @if (Model.IsInAdminRole)
                {
                    <a class="item" href="@Url.Action("RedirectToAdmin", "Admin")" tracking-type="navigation">@Resources.Shared.Admin</a>
                }
                <a class="item" href="@baseSiteUrl/portal/logout" tracking-type="navigation">@Resources.Shared.Logout</a>
                @if (Model.BusinessOwnerExpirationManagementEnabled && userContext.IsMastercardUser)
                {
                    <a class="item" href="/admin/businessowner" tracking-type="navigation">@Resources.Shared.BusinessOwner</a>
                }
                @if (Model.CanUseShoppingCart)
                {
                    <a class="item" href="@baseSiteUrl/portal/shoppingcart" tracking-type="navigation">@Resources.Shared.ShoppingCart</a>
                    <a class="item desktop-only" href="@baseSiteUrl/portal/orderhistory" tracking-type="navigation">@Resources.Shared.OrderHistory</a>
                }
                @if (Model.Languages != null && Model.Languages.Count() > 1)
                {
                    <div class="item language-selector">
                        <select>
                            @foreach (var language in Model.Languages)
                            {
                                <option value="@language.Code" @(userContext.SelectedLanguage == language.Code ? "selected" : "")>@language.Name</option>
                            }
                        </select>
                    </div>
                }
                @if (Model.CanChangeRegions && Model.Regions != null && Model.Regions.Count() > 1)
                {
                    <div class="item region-selector">
                        <select>
                            @foreach (var region in Model.Regions)
                            {
                                <option value="@region.IdTrimmed" @(userContext.SelectedRegion == region.IdTrimmed ? "selected" : "")>@region.Name</option>
                            }
                        </select>
                    </div>
                }
            </nav>
        </div>
        <nav class="main-nav-bar clearfix">
            <div class="header-search-nav-wrapper">
                <ul class="search-nav">
                    @if (Model.CanChangeSegments && Model.Segmentations.Any())
                    {
                        <li class="item search-selector-item">
                            <input type="checkbox" class="check-toggler" id="search-segment-selector" />
                            <label for="search-segment-selector" class="selector" data-title="@Model.SegmentationLabel">@Model.SegmentationLabel</label>
                            <nav class="sub-nav-panel">
                                <div class="inner row single-level" style="text-align: right;" id="search-segment-selector-list">
                                    @foreach (var segment in Model.Segmentations)
                                    {
                                        <a class="item @(Model.CurrentSegmentationIds.Contains(segment.SegmentationId) ? "active" : string.Empty)" href='@Url.Action("ChangeSegment", "Header", new { selectedSegment = segment.SegmentationId })'>
                                            <span data-value="@segment.SegmentationId">@segment.SegmentationName</span>
                                        </a>
                                    }
                                    @if (Model.CanSeeNoneSegmentationButton)
                                    {
                                        <a class="item @(Model.CurrentSegmentationIds.Contains(RegionConfigManager.NoneSegmentation) ? "active" : string.Empty)" href='@Url.Action("ChangeSegment", "Header", new { selectedSegment = RegionConfigManager.NoneSegmentation })'>
                                            <span data-value="@RegionConfigManager.NoneSegmentation">@Resources.Shared.None</span>
                                        </a>
                                    }
                                    <a class="item @(Model.CurrentSegmentationIds.Contains(RegionConfigManager.DefaultSegmentation) ? "active" : string.Empty)" href='@Url.Action("ChangeSegment", "Header", new { selectedSegment = RegionConfigManager.DefaultSegmentation })'>
                                        <span data-value="@RegionConfigManager.DefaultSegmentation">@Resources.Shared.All</span>
                                    </a>
                                </div>
                            </nav>
                        </li>
                    }
                    @if (Model.CanSearchContent)
                    {
                        <li>
                            <div id="search-box" class="header-search-bar">
                                <div class="search-form">
                                    <input v-on:keyup.enter="curateSearchTextAndRedirect($event)" v-model="filters.searchTerm" class="header-search-line" type="search" placeholder="@Resources.Shared.Search" />
                                    <span class="icon-sec">
                                        <a v-bind:href="fullSearchLink">
                                            <em v-if="!isLoading" class="fa fa-search"></em><img v-if="isLoading" src="@urlService.GetLoadingGifURL()" alt="" />
                                        </a>
                                    </span>
                                    <div class="search-dropdown-options" v-show="resultList.length > 0">
                                        <ul v-for="result in resultList">
                                            <a v-bind:title="result.value" v-on:click="curateSearchTextAndRedirect($event, result.value)"><li v-html="result.valueHtml"></li></a>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </li>
                    }
                    <li class="item hamburger-item mobile">
                        <span class="mobile hamburger-trigger">
                            <i></i>
                            <i></i>
                            <i></i>
                        </span>
                    </li>
                </ul>
            </div>
            <ul class="main-nav">
                <li class="item logo-item">
                    <a href="@baseSiteUrl/portal" tracking-type="navigation">
                        <img src="@urlService.GetStaticImageURL("mc-logo-1x-no-name.png")" srcset="@urlService.GetStaticImageURL("mc-logo-2x-no-name.png") 2x" width="32" height="45" alt="mastercard" />
                    </a>
                </li>
                <li data-id="@siteMap.RootNode.Id" class="item @(Model.CurrentSitemapNode.Key == Constants.DefaultSitemapNodeKey ? "active" : "")" style="@siteMap.RootNode.Style">
                    <a href="@baseSiteUrl/portal" tracking-type="navigation" data-title="@siteMap.RootNode.Title">@siteMap.RootNode.Title</a>
                </li>

                @foreach (var node in Model.SitemapByPermissions)
                {
                    if (!node.Children.Any())
                    {
                        <li data-id="@node.Id" class="item @(Model.CurrentSitemapNode.Key == node.Key ? " active" : "")" style="@node.Style">
                            <a href='@Html.GetAbsoluteOrRelativeUri(node.Url, baseSiteUrl)' @(node.Url.StartsWith("#") ? "" : "tracking-type=navigation") data-title="@node.Title">@node.Title</a>
                        </li>
                    }
                    else
                    {
                        <li data-id="@node.Id" class="item @(Model.CurrentSitemapNode.Key == node.Key || (Model.CurrentSitemapNode.Parent != null && Model.CurrentSitemapNode.Parent.Key == node.Key) ? " active" : "")" style="@node.Style">
                            <input type="checkbox" class="check-toggler" id="@node.Key-check" />
                            <label data-href="@(baseSiteUrl + node.Url)?trackingType=navigation" for="@node.Key-check" data-title="@node.Title">@node.Title</label>
                            <nav class="sub-nav-panel">
                                <div class="inner">
                                    <dl>
                                        <dt><a href='@(baseSiteUrl + node.Url)' tracking-type="navigation">@Resources.Shared.Overview</a></dt>
                                        @foreach (var subnode in node.Children)
                                        {
                                            <dd data-id="@subnode.Id" style="@subnode.Style"><a href='@(baseSiteUrl + subnode.Url)' tracking-type="navigation">@subnode.Title</a></dd>
                                        }
                                    </dl>
                                </div>
                            </nav>
                        </li>
                    }
                }

                @if (false && !Model.ProcessorLogo.IsNullOrEmpty()) //TODO: Review functionality with MMC to define what to do with this.
                {
                    <li class="item partner-item">
                        <img src="@Model.ProcessorLogo" alt="@Resources.Forms.Processor" />
                    </li>
                }
            </ul>
            <a href="@baseSiteUrl/portal" tracking-type="navigation" class="mobile main-logo">
                <img src="@urlService.GetStaticImageURL("mc-mobile-logo-1x-no-name.png")" srcset="@urlService.GetStaticImageURL("mc-mobile-logo-2x-no-name.png") 2x" width="51" height="45" alt="mastercard" />
            </a>
        </nav>
    </header>
</div>
<script>
    var baseSiteUrl = '@Request.Url.GetLeftPart(UriPartial.Authority).TrimEnd('/')' + "/" + '@Request.ApplicationPath.Trim('/')';
    @if (Model.CanSearchContent)
    {
        <text>
            $(document).ready(function () {
                initializeSearchBox('@Url.Action("GetSearchAutoComplete", "Header")', JSON.parse('@Html.Raw(Model.SegmentationIds)'), '@(userContext.User != null ? userContext.User.Issuer.SpecialAudienceAccess : string.Empty)', '@userContext.SelectedRegion', '@userContext.SelectedLanguage', '@Url.Action("Index", "Search", new { searchQuery = "" })');
            });
        </text>
    }

    @if (!string.IsNullOrWhiteSpace(eMarketingLoginHandshakeId))
    {
        <text>
            $('*[data-id="@eMarketingLoginHandshakeId"]').each(function () {
                $(this).on("click", function (e) {
                    e.preventDefault();
                    $('body').load('@Url.Action("Index", "Sso", new { region = userContext.SelectedRegion })');
                });
            });
        </text>
    }
</script>