
.asset-pages {

    .mc-form-group {
        margin: 0;
        padding-bottom: 40px;

        label {
            display: block;
            margin-bottom: 16px;
            font-size: 16px;
            color: #5b676f;

            .required {
                color: #ee0006;
            }
        }

        input[type="text"],
        input[type="date"],
        textarea {
            display: block;
            margin: 0 0 8px;
            padding: 16px 20px;
            width: 100%;
            border: solid 1px #d0d3d4;
            font-size: 16px;
            line-height: 1.75;
            color: #000;
            border-radius: 2px;
        }

        .help-text {
            opacity: 0.75;
            font-size: 14px;
            line-height: normal;
            color: #5b676f;
        }

        .note-editor {
            border: 1px solid #d0d3d4;
            padding: 16px 20px;
            min-height: 340px;
        }
    }

    .mc-row {
        display: flex;
        flex-direction: row;
        margin: 0 -12px;

        > .col {
            flex: 1;
            padding: 0 12px;

            &.form {
                flex: 0 0 680px;
                padding-right: 40px;

                .mc-form-group {
                    width: 100%;
                }
            }

            &.tiny {
                flex: 0 0 200px;
            }

            &.align-right {
                text-align: right;

                .mc-btn {
                    margin-left: 24px;

                    &:first-child {
                        margin-left: 0;
                    }
                }
            }
        }

        &.buttons {
            > .col {
                flex: 0 0 250px;

                &.align-right {
                    flex: 1;
                }
            }
        }
    }

    .browse-files {
        .browse-files--control {
            position: relative;
            display: inline-block;
            padding: 16px 32px;
            margin: 0;
            background-color: #d0d3d4;

            &::before {
                content: '';
                display: inline-block;
                width: 24px;
                height: 24px;
                background: url(./images/paper_clip_icon.png) no-repeat;
                background-size: contain;
                vertical-align: bottom;
                margin-right: 5px;
            }

            &::after {
                content: attr(data-text);
                font-size: 16px;
                font-weight: bold;
                color: #5b675f;
                text-transform: uppercase;
            }

            input {
                position: absolute;
                opacity: 0;
                top: 0;
                bottom: 0;
                left: 0;
                width: 100%;
                height: 56px;
                z-index: 1;
            }
        }

        .browse-files--list {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            list-style: none;
            margin: 30px -8px 0;
            padding: 0;

            li {
                position: relative;
                width: 340px;
                margin: 0 8px 16px;
                padding: 12px 48px 12px 55px;
                border-radius: 4px;
                border: solid 1px #d0d3d4;

                &::before {
                    content: '';
                    display: block;
                    position: absolute;
                    top: 16px;
                    left: 16px;
                    width: 24px;
                    height: 24px;
                    background: url(./images/attachment_image_icon.png) no-repeat;
                    background-size: contain;
                }

                p {
                    margin: 0 0 4px;
                    font-size: 20px;
                    font-weight: normal;
                    font-style: normal;
                    font-stretch: normal;
                    line-height: 1.6;
                    letter-spacing: normal;
                    color: #44937f;
                    text-overflow: ellipsis;
                    overflow: hidden;
                    white-space: nowrap;
                }

                small {
                    display: block;
                    opacity: 0.75;
                    font-size: 16px;
                    font-weight: normal;
                    font-style: normal;
                    font-stretch: normal;
                    line-height: 1;
                    letter-spacing: normal;
                    color: #5b676f;
                }

                a.remove-link {
                    position: absolute;
                    top: 16px;
                    right: 16px;
                }
            }
        }
    }

    .mc-asset--picture {
        vertical-align: top;
        margin-bottom: 40px;

        img {
            max-width: 100%;
        }
    }

    .mc-btn {
        display: inline-block;
        padding: 17px 25px;
        min-width: 200px;
        font-size: 16px;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: 0.5px;
        text-align: center;
        text-transform: uppercase;
        color: #000000;
        border: solid 1px #5b676f;

        &.primary {
            background: #e35107;
            color: #fff;
        }

        &.secondary {
            background: #5b676f;
            color: #fff;
        }

        &:hover {
            text-decoration: none;
        }
    }

    @media(max-width: 1024px) {
        .mc-row > .col.form {
            flex: 0 0 440px;
        }
    }

    @media(max-width: 768px) {
        .mc-comments {
            display: none;
        }

        .browse-files .browse-files--list li {
            width: 100%;
        }

        .mc-row {
            flex-direction: column;

            > .col.form {
                order: 2;
                flex: 1;
                padding-right: 12px;
            }

            > .col.right {
                order: 1;
            }

            > .col {
                width: 100%;
                flex: 1;
            }

            &.buttons {
                flex-direction: row;

                > .col:first-child {
                    flex: 0 0 200px;
                }
            }
        }
    }

    @media(max-width: 480px) {
        .mc-row {
            > .col.tiny {
                flex: 1;
            }

            &.buttons {
                display: block;

                > .col {
                    margin-bottom: 40px;

                    .mc-btn {
                        font-size: 12px;
                    }

                    &.align-right {
                        display: flex;
                        justify-content: space-between;

                        .mc-btn {
                            padding-left: 5px;
                            padding-right: 5px;
                            width: 100%;
                            min-width: 0;
                            font-size: 12px;
                        }
                    }
                }
            }
        }
    }
}



.mc-comments {
    overflow: hidden;
    background: #f4f4f4;

    h3 {
        position: relative;
        z-index: 9;
        margin: 0;
        padding: 32px 40px;
        font-size: 32px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: -0.3px;
        color: #000000;
        background-color: #f4f4f4;
        box-shadow: 0 2px 16px 0 rgba(0, 0, 0, 0.2);
    }

    .mc-comments--body {
        height: 312px;
        overflow: auto;

        &.empty {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            text-align: center;

            p {
                font-size: 25px;
                font-weight: normal;
                font-style: normal;
                font-stretch: normal;
                line-height: normal;
                letter-spacing: normal;
                text-align: center;
                color: #5b676f;
            }
        }

        .mc-comments--item {
            margin: 0;
            padding: 12px 88px 12px 92px;

            .mc-comments--author {
                display: flex;
                position: relative;
                padding: 8px 0;

                .mc-comments--avatar {
                    position: absolute;
                    top: 0;
                    left: -52px;
                    width: 40px;
                    height: 40px;
                    line-height: 40px;
                    text-align: center;
                    background: #fff;
                    border-radius: 50%;
                }

                h4 {
                    margin: 0 10px 0 0;
                    display: inline-block;
                    font-weight: bold;
                    font-size: 12px;
                    line-height: normal;
                    font-style: normal;
                    font-stretch: normal;
                    text-transform: uppercase;
                    letter-spacing: normal;
                    color: #000000;
                }

                small {
                    font-size: 12px;
                    font-weight: normal;
                    font-style: normal;
                    font-stretch: normal;
                    line-height: normal;
                    letter-spacing: normal;
                    color: #5b676f;
                }
            }

            .mc-comments--text {
                padding: 16px 20px 24px;
                font-size: 14px;
                font-weight: normal;
                font-style: normal;
                font-stretch: normal;
                line-height: 1.57;
                letter-spacing: normal;
                color: #000000;
                background: #fff;
            }

            &.me {
                .mc-comments--author {
                    flex-direction: row-reverse;

                    .mc-comments--avatar {
                        left: auto;
                        right: -48px;
                    }

                    h4 {
                        margin-left: 10px;
                        margin-right: 0;
                    }
                }
            }
        }
    }

    .mc-comments--form {
        display: flex;
        position: relative;
        z-index: 9;
        padding: 32px 40px;
        background-color: #f4f4f4;
        box-shadow: 0 -2px 16px 0 rgba(0, 0, 0, 0.2);

        input[type="text"] {
            flex: 1;
            opacity: 0.75;
            padding: 13px;
            border: 0;
            background-color: #fff;
            font-size: 16px;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            line-height: 22px;
            letter-spacing: normal;
            color: #5b676f;
        }

        a.add-link {
            flex: 0 0 100px;
            padding: 13px;
            background-color: #d0d3d4;
            font-size: 16px;
            font-weight: bold;
            font-style: normal;
            font-stretch: normal;
            line-height: 22px;
            letter-spacing: normal;
            text-align: center;
            color: #5b676f;
        }
    }
}
