.asset-pages {
    &, & * {
        font-family: "UniNeue", sans-serif;
    }

    .page-header {
        margin-bottom: 32px;

        h1 {
            display: inline-block;
            margin: 0 20px 0 0;
            padding: 0;
            font-family: "UniNeue", sans-serif;
            font-size: 48px;
            line-height: 64px;
            letter-spacing: 0.5px;
        }

        a.back-link {
            position: absolute;
            top: 50%;
            left: -32px;
            transform: translateY(-50%);
        }

        select {
            display: inline-block;
            width: 180px;
            height: 60px;
            font-family: "UniNeue", sans-serif;
            font-size: 28px;
            line-height: 64px;
            vertical-align: bottom;
            color: #000;
            text-indent: 20px;
            border: 1px solid #ccc;

            option {
                font-size: 28px;
                line-height: 28px;
            }
        }

        @media(max-width: 767px) {
            h1 {
                width: 100%;
                font-size: 24px;
                line-height: normal;
                letter-spacing: -0.3px;
            }

            select {
                margin-top: 10px;
                width: 100%;
                height: 50px;
                font-size: 20px;
                line-height: 48px;
            }
        }
    }

    .lead {
        opacity: 0.75;
        font-size: 20px;
        line-height: 1.6;
        color: #5b676f;

        @media(max-width: 767px) {
            margin: 0 0 8px;
            font-size: 14px;
            line-height: 1.57;
        }
    }

    .asset-list {
        padding: 0;
        margin: 24px 0 80px;

        .asset-list--item {
            display: flex;
            margin-top: 0;
            padding-top: 40px;
            padding-bottom: 48px;
            border-bottom: 1px solid #d0d3d4;

            &.empty {
                display: block;
                margin: 0;
                padding-top: 100px;
                border: 0;
                text-align: center;

                img {
                    vertical-align: top;
                    margin-bottom: 40px
                }

                p {
                    display: block;
                    margin: 0;
                    font-size: 32px;
                    color: #5b676f;
                }
            }

            .asset-list--item-image {
                flex: 0 0 240px;

                img {
                    max-width: 100%;
                }
            }

            .asset-list--item-body {
                flex: 1;
                padding-top: 8px;
                padding-left: 48px;
                display: flex;
                flex-wrap: wrap;

                .asset-list--item-text {
                    order: 1;
                    flex: 1;
                    margin-bottom: 30px;
                    padding-right: 40px;

                    h3 {
                        margin-bottom: 16px;

                        &, a {
                            font-size: 40px;
                            font-weight: normal;
                            color: #000;
                        }
                    }

                    p {
                        margin-top: 0;
                        margin-bottom: 0;
                        font-size: 20px;
                        line-height: 1.6;
                        color: #5b676f;
                    }
                }

                .asset-list--item-info {
                    order: 3;
                    width: 100%;
                    display: flex;
                    flex-direction: row;
                    list-style: none;
                    margin: 0;
                    padding: 0;

                    li {
                        flex: 1;
                        position: relative;
                        margin-top: 0;
                        padding-left: 30px;
                        color: #44937f;
                        font-size: 16px;
                        letter-spacing: 0.5px;
                        font-weight: bold;
                        text-transform: uppercase;

                        &::before {
                            content: '';
                            position: absolute;
                            display: block;
                            left: 0;
                            width: 24px;
                            height: 24px;
                        }

                        &.expires {
                            &::before {
                                background: url('../images/expires.jpg') no-repeat left center;
                                background-size: 24px 24px;
                            }
                        }

                        &.comments {
                            &::before {
                                background: url('../images/comments.jpg') no-repeat left center;
                                background-size: 24px 24px;
                            }
                        }

                        &.owner {
                            flex: 0 0 260px;
                            color: #5b676f;

                            &::before {
                                background: url('../images/owner.jpg') no-repeat left center;
                                background-size: 24px 24px;
                            }
                        }
                    }
                }

                .asset-list--item-buttons {
                    flex: 0 0 260px;
                    order: 2;

                    .btn {
                        display: block;
                        margin-bottom: 24px;
                        padding: 17px;
                        height: auto;
                        font-size: 16px;
                        line-height: 22px;
                        letter-spacing: 0.5px;

                        &:hover {
                            box-shadow: inset 0 55px 0 0 rgba(0,0,0,0.15);
                        }

                        &.btn-primary {
                            background: #e35107;
                        }

                        &:last-child {
                            margin-bottom: 0;
                        }
                    }
                }
            }
        }

        @media(max-width: 1439px) {
            .asset-list--item {
                padding-top: 48px;

                .asset-list--item-image {
                    flex: 0 0 200px;

                    img {
                        // width: 200px;
                    }
                }

                .asset-list--item-body {
                    padding-left: 40px;

                    .asset-list--item-info {
                        li {
                            font-size: 16px;

                            &.expires {
                                flex: 0 0 35%;
                            }

                            &.comments {
                                &::before {
                                    padding-left: 30px;
                                    content: attr(data-text);
                                    display: block;
                                }

                                span {
                                    display: none;
                                }
                            }
                        }
                    }

                    .asset-list--item-buttons {
                        flex: 0 0 200px;
                    }
                }
            }
        }

        @media(max-width: 1023px) {
            margin-top: 30px;

            .asset-list--item {
                padding-bottom: 67px;
                padding-top: 40px;

                .asset-list--item-body {
                    display: block;

                    .asset-list--item-text,
                    .asset-list--item-info,
                    .asset-list--item-buttons {
                        width: auto;
                    }

                    .asset-list--item-text {
                        margin-bottom: 50px;
                        padding-right: 0;
                    }

                    .asset-list--item-info {
                        margin-bottom: 50px;

                        li.expires,
                        li.comments {
                            flex: 1;
                        }

                        .owner {
                            display: none;
                        }
                    }

                    .asset-list--item-buttons {
                        display: flex;
                        flex-direction: row-reverse;
                        margin: 0 -12px;

                        .btn {
                            margin: 0 12px;
                            width: 50%;
                        }
                    }
                }
            }
        }

        @media(max-width: 767px) {
            padding-top: 0;
            margin-top: 0;
            margin-bottom: 48px;

            .asset-list--item {
                padding-top: 24px;
                padding-bottom: 32px;
                margin-bottom: 0;
                display: block;

                &.empty {
                    p {
                        font-size: 24px;
                    }
                }

                .asset-list--item-image {
                    margin-bottom: 20px;

                    img {
                        width: 100%;
                    }
                }

                .asset-list--item-body {
                    padding-top: 0;
                    padding-left: 0;

                    .asset-list--item-text {
                        padding-right: 0;
                        margin-bottom: 16px;

                        h3 {
                            margin-bottom: 12px;

                            &, a {
                                font-size: 24px;
                            }
                        }

                        p {
                            font-size: 15px;
                        }
                    }

                    .asset-list--item-info {
                        margin-bottom: 25px;

                        li {
                            flex: 1;
                        }

                        li.comments {
                            flex: 0 0 60px;
                        }
                    }

                    .asset-list--item-buttons {
                        a {
                            padding: 0;
                            margin-bottom: 0 !important;
                        }
                    }
                }
            }
        }
    }

    nav.pagination {
        margin-top: 0;
        padding-top: 0;
        text-align: center;

        .button {
            &.disabled {
                display: none;
            }
        }

        a {
            display: inline-block;
            margin: 0 5px;
            opacity: 0.75;
            font-size: 20px;
            line-height: 1.6;
            color: #e35107;
            font-weight: bold;

            &.active {
                color: #5b676f;
                text-decoration: underline;
            }
        }

        @media(max-width: 1439px) {
            .button {
                padding: 4px;
                width: 44px;
                text-align: center;
                color: #5b676f;
                border: 2px solid #5b676f;

                &.disabled {
                    display: inline-block;
                    color: #d0d3d4;
                    border-color: #d0d3d4;
                }
            }

            span {
                padding: 0 45px;
                text-transform: none;

                &::before {
                    content: attr(data-text);
                    font-size: 22px;
                    color: #5b676f;
                }

                a {
                    display: none;
                }
            }
        }
    }
}
