@font-face {
    font-family: 'FontAwesome';
    src: url(fonts/fontawesome-webfont.eot?v=4.4.0);
    src: url(fonts/fontawesome-webfont.eot?#iefix&v=4.4.0) format('embedded-opentype'), url(fonts/fontawesome-webfont.woff?v=4.4.0) format('woff'), url(fonts/fontawesome-webfont.ttf?v=4.4.0) format('truetype'), url(fonts/fontawesome-webfont.svg?v=4.4.0#fontawesomeregular) format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Accord Alternate";
    src: url(fonts/AccordAlternate-Thin.eot);
    src: url(fonts/AccordAlternate-Thin.eot?#iefix) format('embedded-opentype'), url(fonts/AccordAlternate-Thin.woff) format('woff'), url(fonts/AccordAlternate-Thin.ttf) format('truetype');
    font-style: normal;
    font-weight: 100;
}

@font-face {
    font-family: "Accord Alternate";
    src: url(fonts/AccordAlternate-Bold.eot);
    src: url(fonts/AccordAlternate-Bold.eot?#iefix) format('embedded-opentype'), url(fonts/AccordAlternate-Bold.woff) format('woff'), url(fonts/AccordAlternate-Bold.ttf) format('truetype');
    font-style: normal;
    font-weight: 700;
}

@font-face {
    font-family: "Accord Alternate";
    src: url(fonts/AccordAlternate-Light.eot);
    src: url(fonts/AccordAlternate-Light.eot?#iefix) format('embedded-opentype'), url(fonts/AccordAlternate-Light.woff) format('woff'), url(fonts/AccordAlternate-Light.ttf) format('truetype');
    font-style: normal;
    font-weight: 300;
}

@font-face {
    font-family: AccordAlternateBold;
    src: url(fonts/AccordAlternate-Bold.eot);
    font-weight: 700;
}

@font-face {
    font-family: AccordAlternateLight;
    src: url(fonts/AccordAlternate-Light.eot);
    font-weight: normal;
}

@font-face {
    font-family: AccordAlternateThin;
    src: url(fonts/AccordAlternate-Thin.eot);
    font-weight: 100;
}

@font-face {
    font-family: "UniNeue";
    src: url(fonts/UniNeueRegular.otf);
    font-weight: normal;
    line-height: normal;
    font-style: normal;
    font-stretch: normal;
}

/* End */


.relative {
	position: relative;
}
.clear {
	clear: both;
}
.page-mid {
	width: 50%;
}
.paddr {
	padding-right: 10px !important;
}
.paddt {
	padding-top: 50px !important;
}
.form .form-group {
	display: block;
	margin-top: 40px;
	margin-bottom: 39px;
}
.tar {
	text-align: right;
}
span.requ-mark {
	font-size: 16px;
}
.hide {
	display: none;
}
.mc-text-center {
	text-align: center;
}
