﻿div.asset-list--item-checkbox {
    margin-top: 20px;
}

.mcew-assets--results-item--checkbox {
    vertical-align: central;
}

    .mcew-assets--results-item--checkbox:hover input ~ span {
        background-color: #ccc;
    }

    /* Style the checkmark/indicator */
    .mcew-assets--results-item--checkbox .tick {
        content: "";
        position: absolute;
        width: 17px;
        height: 20px;
        border: solid white;
        border-width: 0 3px 3px 0;
        -webkit-transform: rotate(40deg);
        -ms-transform: rotate(40deg);
        transform: rotate(40deg);
        margin-left: 4px;
    }

    /* Style the checkmark/indicator */
    .mcew-assets--results-item--checkbox .line {
        content: "";
        position: absolute;
        width: 15px;
        margin-top: 0px;
        top: 33px;
        right: 20px;
        left: 27px;
        height: 15px;
        border: solid white;
        border-width: 3px 0 0 0;
    }

.asset-list-top-bar {
    border-bottom: 1px solid #d0d3d4;
    padding-bottom: 35px;
    display: block;
    font-size: 22px;
}

    .asset-list-top-bar span.outer {
        margin-right: 15px;
    }

#selectionOverlay {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background: #ffffff;
    box-shadow: 0 0 10px;
    padding: 10px;
}

    #selectionOverlay .btn-primary {
        background-color: #e35107;
    }

.assetsCounter {
    float: left;
    margin: 10px;
}

#selectionOverlay .btn {
    float: right;
    margin: 10px;
}

.selectionOverlay--checkbox {
    float: left;
    margin: 10px;
}


@media (max-width: 500px) {
    #selectionOverlay .asset-list--item-buttons {
        display: flex;
    }

    #selectionOverlay .mcew-assets--results-item--expire {
        display: flex;
    }

    #selectionOverlay .delete-multiple {
        margin: auto;
    }
}
