// styles

@import "_common";

.content-spaces-in {
	padding-left: 64px;
	padding-right: 64px;
	@media(max-width: 1023px) {
		padding-left: 40px;
		padding-right: 40px;
	}
}

@import "_asset-list";
@import "_asset-detail";

.mc-modal {
	display: none;
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: rgba(0, 0, 0, 0.75);
	z-index: 999;
	&.in {
		display: block;
	}
	.mc-modal--content {
		margin: 20px auto;
		width: 740px;
		background: #fff;
		.mc-modal--header {
			position: relative;
			padding: 80px 64px 64px;
  			background-color: #242423;
			&.small-padd-bottom {
				padding-bottom: 36px;
			}
			a.close-link {
				position: absolute;
				top: 38px;
				right: 38px;
			}
			.mc-modal--icon {
				padding-top: 40px;
				padding-bottom: 80px;
				text-align: center;
			}
			h5 {
				margin: 0 0 21px;
				padding: 0;
				font-size: 16px;
				font-weight: normal;
				font-style: normal;
				font-stretch: normal;
				line-height: normal;
				letter-spacing: 0.5px;
				text-transform: uppercase;
				color: #e35107;
			}
			h2 {
				margin: 0 0 12px;
				padding: 0;
				font-size: 40px;
				font-weight: normal;
				font-style: normal;
				font-stretch: normal;
				line-height: normal;
				letter-spacing: -0.4px;
				color: #ffffff;
			}
			p {
				margin: 0;
				padding: 0;
				font-size: 18px;
				font-weight: normal;
				font-style: normal;
				font-stretch: normal;
				line-height: normal;
				letter-spacing: normal;
				color: #d8d8d8;
			}
		}
		.mc-modal--body {
			padding: 48px 64px 80px;
			&.no-padd {
				padding: 0;
			}
			.mc-form-group {
				display: flex;
				flex-direction: row;
				label {
					flex: 0 0 150px;
					padding-bottom: 24px;
					font-size: 16px;
					font-weight: normal;
					font-style: normal;
					font-stretch: normal;
					line-height: normal;
					letter-spacing: normal;
					color: #5b676f;
				}
				.mc-field {
					flex: 1;
					margin-bottom: 24px;
					font-size: 16px;
					font-weight: normal;
					font-style: normal;
					font-stretch: normal;
					line-height: normal;
					letter-spacing: normal;
					color: #000000;
					input[type="text"] {
						width: 100%;
						padding: 12px 20px;
						font-size: 16px;
						font-weight: normal;
						font-style: normal;
						font-stretch: normal;
						line-height: normal;
						letter-spacing: normal;
						color: #000000;
						border: solid 1px #d8d8d8;
					}
				}
			}
			.mc-modal--back-link {
				padding-top: 12px;
				text-align: center;
				a {
					font-size: 20px;
					font-weight: bold;
					font-style: normal;
					font-stretch: normal;
					line-height: 1.6;
					letter-spacing: 0.6px;
					color: #5b676f;
					text-transform: uppercase;
					&:hover, &:active {
						color: #e35107;
						text-decoration: none;
					}
				}
			}
			.mc-buttons {
				padding-top: 40px;
				padding-left: 150px;
				margin: 0 -12px;
				display: flex;
				.mc-btn {
					flex: 1;
					margin: 0 12px;
					padding: 17px 0;
					display: inline-block;
  					background-color: #5b676f;
					font-size: 16px;
					font-weight: bold;
					font-style: normal;
					font-stretch: normal;
					line-height: 22px;
					letter-spacing: 0.5px;
					text-align: center;
					color: #ffffff;
					text-transform: uppercase;
					&.primary {
						background-color: #e35107;
					}
					&:hover {
						text-decoration: none;
					}
				}
			}
			.mc-comments {
				.mc-comments--body {
					height: 435px;
					padding: 16px 0;
					background: #fff;
					.mc-comments--item {
						.mc-comments--text {
							background: #f4f4f4;
							border-radius: 4px;
						}
						.mc-comments--author {
							h4 {
								font-size: 14px;
							}
							.mc-comments--avatar {
								background: #f4f4f4;
							}
						}
					}
				}
				.mc-comments--form {
					background: #fff;
					input[type="text"] {
						border: solid 1px #d8d8d8;
						border-right: none;
					}
					a.add-link {
						background: #e35107;
						color: #fff;
						&:hover, &:active {
							text-decoration: none;
						}
					}
				}
			}
		}
	}
	@media(max-width: 768px) {
		.mc-modal--content {
			width: 672px;
		}
	}
	@media(max-width: 692px) {
		.mc-modal--content {
			margin: 10px;
			width: auto;
			.mc-modal--header {
				padding: 24px 24px 40px;
				h5 {
					margin-bottom: 40px;
					font-size: 10px;
				}
				h2 {
					margin-bottom: 16px;
					font-size: 24px;
				}
				p {
					font-size: 14px;
				}
			}
			.mc-modal--body {
				padding: 33px 24px;
				.mc-form-group {
					label {
						flex: 0 0 110px;
						font-size: 12px;
					}
					.mc-field {
						font-size: 14px;
					}
					&.input {
						flex-direction: column;
						label {
							flex: 1;
							margin-bottom: 8px;
							padding: 0;
						}
					}
				}
				.mc-buttons {
					padding-top: 0;
					padding-left: 0;
					a.mc-btn {
						padding: 9px 0;
						font-size: 12px;
					}
				}
				.mc-comments {
					.mc-comments--body {
						.mc-comments--item {
							padding: 12px 40px 12px 60px;
							&.me {
								padding-left: 40px;
								padding-right: 60px;
							}
						}
					}
				}
			}
		}
	}
}
