@font-face {
    font-family: 'FontAwesome';
    src: url(/admin/Content/css/BusinessOwner/fonts/fontawesome-webfont.eot?v=4.4.0);
    src: url(/admin/Content/css/BusinessOwner/fonts/fontawesome-webfont.eot?#iefix&v=4.4.0) format("embedded-opentype"), url(/admin/Content/css/BusinessOwner/fonts/fontawesome-webfont.woff?v=4.4.0) format("woff"), url(/admin/Content/css/BusinessOwner/fonts/fontawesome-webfont.ttf?v=4.4.0) format("truetype"), url(/admin/Content/css/BusinessOwner/fonts/fontawesome-webfont.svg?v=4.4.0#fontawesomeregular) format("svg");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Accord Alternate";
    src: url(/admin/Content/css/BusinessOwner/fonts/AccordAlternate-Thin.eot);
    src: url(/admin/Content/css/BusinessOwner/fonts/AccordAlternate-Thin.eot?#iefix) format("embedded-opentype"), url(/admin/Content/css/BusinessOwner/fonts/AccordAlternate-Thin.woff) format("woff"), url(/admin/Content/css/BusinessOwner/fonts/AccordAlternate-Thin.ttf) format("truetype");
    font-style: normal;
    font-weight: 100;
}

@font-face {
    font-family: "Accord Alternate";
    src: url(/admin/Content/css/BusinessOwner/fonts/AccordAlternate-Bold.eot);
    src: url(/admin/Content/css/BusinessOwner/fonts/AccordAlternate-Bold.eot?#iefix) format("embedded-opentype"), url(/admin/Content/css/BusinessOwner/fonts/AccordAlternate-Bold.woff) format("woff"), url(/admin/Content/css/BusinessOwner/fonts/AccordAlternate-Bold.ttf) format("truetype");
    font-style: normal;
    font-weight: 700;
}

@font-face {
    font-family: "Accord Alternate";
    src: url(/admin/Content/css/BusinessOwner/fonts/AccordAlternate-Light.eot);
    src: url(/admin/Content/css/BusinessOwner/fonts/AccordAlternate-Light.eot?#iefix) format("embedded-opentype"), url(/admin/Content/css/BusinessOwner/fonts/AccordAlternate-Light.woff) format("woff"), url(/admin/Content/css/BusinessOwner/fonts/AccordAlternate-Light.ttf) format("truetype");
    font-style: normal;
    font-weight: 300;
}

@font-face {
    font-family: AccordAlternateBold;
    src: url(/admin/Content/css/BusinessOwner/fonts/AccordAlternate-Bold.eot);
    font-weight: 700;
}

@font-face {
    font-family: AccordAlternateLight;
    src: url(/admin/Content/css/BusinessOwner/fonts/AccordAlternate-Light.eot);
    font-weight: normal;
}

@font-face {
    font-family: AccordAlternateThin;
    src: url(/admin/Content/css/BusinessOwner/fonts/AccordAlternate-Thin.eot);
    font-weight: 100;
}

@font-face {
    font-family: "UniNeue";
    src: url(/admin/Content/css/BusinessOwner/fonts/UniNeueRegular.otf);
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
}

/* End */
.relative {
    position: relative;
}

.mc-spaced-row {
    margin-bottom: 25px;
}

.clear {
    clear: both;
}

.page-mid {
    width: 50%;
}

.paddr {
    padding-right: 10px !important;
}

.paddt {
    padding-top: 50px !important;
}

.form .form-control {
    background-color: inherit;
}

    .form .form-control:read-only {
        cursor: not-allowed;
        background-color: #eee;
        opacity: 1;
    }

.form .form-group {
    display: block;
    margin-top: 40px;
    margin-bottom: 39px;
}

.form .btn-group {
    margin-top: 0;
}

    .form .btn-group .btn {
        margin-right: 0;
    }

.tar {
    text-align: right;
}

span.requ-mark {
    font-size: 16px;
}

.hide {
    display: none;
}

.mc-text-center {
    text-align: center;
}

.content-spaces-in {
    padding-left: 64px;
    padding-right: 64px;
}

@media (max-width: 1023px) {
    .content-spaces-in {
        padding-left: 40px;
        padding-right: 40px;
    }
}

.page-header {
    z-index: 0;
}

.modal-dialog {
    position: relative;
}

.btn-primary {
    background: -webkit-linear-gradient(left,#ff4511,#ff8111);
    background: -o-linear-gradient(right,#ff4511,#ff8111);
    background: -moz-linear-gradient(right,#ff4511,#ff8111);
    background: linear-gradient(to right, #ff4511, #ff8111);
    background-color: #ff6c15 !important;
    border-color: #ff6c15 !important;
}

.note-editor.note-frame.fullscreen {
    background-color: white;
}

.alert-danger {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
}

.alert {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
}

.has-error .label-error {
    color: #ed5565 !important;
}

.has-error .form-control {
    border-color: #ed5565 !important;
}

.asset-pages, .asset-pages * {
    font-family: "UniNeue", sans-serif;
}

    .asset-pages .page-header {
        padding-bottom: inherit;
        margin: inherit;
        border-bottom: inherit;
        margin-bottom: 32px;
    }

        .asset-pages .page-header h1 {
            display: inline-block;
            margin: 0 20px 0 0;
            padding: 0;
            font-family: "UniNeue", sans-serif;
            font-size: 48px;
            line-height: 64px;
            letter-spacing: 0.5px;
            color: #333;
        }

        .asset-pages .page-header a.back-link {
            position: absolute;
            top: 50%;
            left: -32px;
            transform: translateY(-50%);
        }

        .asset-pages .page-header select {
            display: inline-block;
            width: 180px;
            height: 60px;
            font-family: "UniNeue", sans-serif;
            font-size: 28px;
            line-height: 64px;
            vertical-align: bottom;
            color: #000;
            text-indent: 20px;
            border: 1px solid #ccc;
        }

            .asset-pages .page-header select option {
                font-size: 28px;
                line-height: 28px;
            }

    .asset-pages .required {
        color: #333;
        font-size: 16px;
    }

    .asset-pages .col .required {
        color: #ee0006;
    }

@media (max-width: 767px) {
    .asset-pages .page-header h1 {
        width: 100%;
        font-size: 24px;
        line-height: normal;
        letter-spacing: -0.3px;
    }

    .asset-pages .page-header select {
        margin-top: 10px;
        width: 100%;
        height: 50px;
        font-size: 20px;
        line-height: 48px;
    }
}

.asset-pages .lead {
    opacity: 0.75;
    font-size: 20px;
    line-height: 1.6;
    color: #5b676f;
}

@media (max-width: 767px) {
    .asset-pages .lead {
        margin: 0 0 8px;
        font-size: 14px;
        line-height: 1.57;
    }
}

.asset-pages .asset-list {
    padding: 0;
    margin: 24px 0 80px;
}

    .asset-pages .asset-list .asset-list--item {
        display: flex;
        margin-top: 0;
        padding-top: 40px;
        padding-bottom: 48px;
        border-bottom: 1px solid #d0d3d4;
    }

        .asset-pages .asset-list .asset-list--item.empty {
            display: block;
            margin: 0;
            padding-top: 100px;
            border: 0;
            text-align: center;
        }

            .asset-pages .asset-list .asset-list--item.empty img {
                vertical-align: top;
                margin-bottom: 40px;
            }

            .asset-pages .asset-list .asset-list--item.empty p {
                display: block;
                margin: 0;
                font-size: 32px;
                color: #5b676f;
            }

        .asset-pages .asset-list .asset-list--item .asset-list--item-image {
            flex: 0 0 240px;
        }

            .asset-pages .asset-list .asset-list--item .asset-list--item-image img {
                max-width: 100%;
            }

        .asset-pages .asset-list .asset-list--item .asset-list--item-body {
            flex: 1;
            padding-top: 8px;
            padding-left: 48px;
            display: flex;
            flex-wrap: wrap;
        }

            .asset-pages .asset-list .asset-list--item .asset-list--item-body .asset-list--item-text {
                order: 1;
                flex: 1;
                margin-bottom: 30px;
                padding-right: 40px;
            }

                .asset-pages .asset-list .asset-list--item .asset-list--item-body .asset-list--item-text h3 {
                    margin-bottom: 16px;
                }

                    .asset-pages .asset-list .asset-list--item .asset-list--item-body .asset-list--item-text h3, .asset-pages .asset-list .asset-list--item .asset-list--item-body .asset-list--item-text h3 a {
                        font-size: 40px;
                        font-weight: normal;
                        color: #000;
                    }

                .asset-pages .asset-list .asset-list--item .asset-list--item-body .asset-list--item-text p {
                    margin-top: 0;
                    margin-bottom: 0;
                    font-size: 20px;
                    line-height: 1.6;
                    color: #5b676f;
                }

            .asset-pages .asset-list .asset-list--item .asset-list--item-body .asset-list--item-info {
                order: 3;
                width: 100%;
                display: flex;
                flex-direction: row;
                list-style: none;
                margin: 0;
                padding: 0;
            }

                .asset-pages .asset-list .asset-list--item .asset-list--item-body .asset-list--item-info li {
                    flex: 1;
                    position: relative;
                    margin-top: 0;
                    padding-left: 30px;
                    color: #44937f;
                    font-size: 16px;
                    letter-spacing: 0.5px;
                    font-weight: bold;
                    text-transform: uppercase;
                }

                    .asset-pages .asset-list .asset-list--item .asset-list--item-body .asset-list--item-info li::before {
                        content: '';
                        position: absolute;
                        display: block;
                        left: 0;
                        width: 24px;
                        height: 24px;
                    }

                    .asset-pages .asset-list .asset-list--item .asset-list--item-body .asset-list--item-info li.expires::before {
                        background: url("../images/expires.jpg") no-repeat left center;
                        background-size: 24px 24px;
                    }

                    .asset-pages .asset-list .asset-list--item .asset-list--item-body .asset-list--item-info li.comments::before {
                        background: url("../images/comments.jpg") no-repeat left center;
                        background-size: 24px 24px;
                    }

                    .asset-pages .asset-list .asset-list--item .asset-list--item-body .asset-list--item-info li.owner {
                        flex: 0 0 260px;
                        color: #5b676f;
                    }

                        .asset-pages .asset-list .asset-list--item .asset-list--item-body .asset-list--item-info li.owner::before {
                            background: url("../images/owner.jpg") no-repeat left center;
                            background-size: 24px 24px;
                        }

            .asset-pages .asset-list .asset-list--item .asset-list--item-body .asset-list--item-buttons {
                flex: 0 0 260px;
                order: 2;
            }

                .asset-pages .asset-list .asset-list--item .asset-list--item-body .asset-list--item-buttons .btn {
                    display: block;
                    margin-bottom: 24px;
                    padding: 17px;
                    height: auto;
                    font-size: 16px;
                    line-height: 22px;
                    letter-spacing: 0.5px;
                }

                    .asset-pages .asset-list .asset-list--item .asset-list--item-body .asset-list--item-buttons .btn:hover {
                        box-shadow: inset 0 55px 0 0 rgba(0, 0, 0, 0.15);
                    }

                    .asset-pages .asset-list .asset-list--item .asset-list--item-body .asset-list--item-buttons .btn.btn-primary {
                        background: #e35107;
                    }

                    .asset-pages .asset-list .asset-list--item .asset-list--item-body .asset-list--item-buttons .btn:last-child {
                        margin-bottom: 0;
                    }

@media (max-width: 1439px) {
    .asset-pages .asset-list .asset-list--item {
        padding-top: 48px;
    }

        .asset-pages .asset-list .asset-list--item .asset-list--item-image {
            flex: 0 0 200px;
        }

        .asset-pages .asset-list .asset-list--item .asset-list--item-body {
            padding-left: 40px;
        }

            .asset-pages .asset-list .asset-list--item .asset-list--item-body .asset-list--item-info li {
                font-size: 16px;
            }

                .asset-pages .asset-list .asset-list--item .asset-list--item-body .asset-list--item-info li.expires {
                    flex: 0 0 35%;
                }

                .asset-pages .asset-list .asset-list--item .asset-list--item-body .asset-list--item-info li.comments::before {
                    padding-left: 30px;
                    content: attr(data-text);
                    display: block;
                }

                .asset-pages .asset-list .asset-list--item .asset-list--item-body .asset-list--item-info li.comments span {
                    display: none;
                }

            .asset-pages .asset-list .asset-list--item .asset-list--item-body .asset-list--item-buttons {
                flex: 0 0 200px;
            }
}

@media (max-width: 1023px) {
    .asset-pages .asset-list {
        margin-top: 30px;
    }

        .asset-pages .asset-list .asset-list--item {
            padding-bottom: 67px;
            padding-top: 40px;
        }

            .asset-pages .asset-list .asset-list--item .asset-list--item-body {
                display: block;
            }

                .asset-pages .asset-list .asset-list--item .asset-list--item-body .asset-list--item-text,
                .asset-pages .asset-list .asset-list--item .asset-list--item-body .asset-list--item-info,
                .asset-pages .asset-list .asset-list--item .asset-list--item-body .asset-list--item-buttons {
                    width: auto;
                }

                .asset-pages .asset-list .asset-list--item .asset-list--item-body .asset-list--item-text {
                    margin-bottom: 50px;
                    padding-right: 0;
                }

                .asset-pages .asset-list .asset-list--item .asset-list--item-body .asset-list--item-info {
                    margin-bottom: 50px;
                }

                    .asset-pages .asset-list .asset-list--item .asset-list--item-body .asset-list--item-info li.expires,
                    .asset-pages .asset-list .asset-list--item .asset-list--item-body .asset-list--item-info li.comments {
                        flex: 1;
                    }

                    .asset-pages .asset-list .asset-list--item .asset-list--item-body .asset-list--item-info .owner {
                        display: none;
                    }

                .asset-pages .asset-list .asset-list--item .asset-list--item-body .asset-list--item-buttons {
                    display: flex;
                    flex-direction: row-reverse;
                    margin: 0 -12px;
                }

                    .asset-pages .asset-list .asset-list--item .asset-list--item-body .asset-list--item-buttons .btn {
                        margin: 0 12px;
                        width: 50%;
                    }
}

@media (max-width: 767px) {
    .asset-pages .asset-list {
        padding-top: 0;
        margin-top: 0;
        margin-bottom: 48px;
    }

        .asset-pages .asset-list .asset-list--item {
            padding-top: 24px;
            padding-bottom: 32px;
            margin-bottom: 0;
            display: block;
        }

            .asset-pages .asset-list .asset-list--item.empty p {
                font-size: 24px;
            }

            .asset-pages .asset-list .asset-list--item .asset-list--item-image {
                margin-bottom: 20px;
            }

                .asset-pages .asset-list .asset-list--item .asset-list--item-image img {
                    width: 100%;
                }

            .asset-pages .asset-list .asset-list--item .asset-list--item-body {
                padding-top: 0;
                padding-left: 0;
            }

                .asset-pages .asset-list .asset-list--item .asset-list--item-body .asset-list--item-text {
                    padding-right: 0;
                    margin-bottom: 16px;
                }

                    .asset-pages .asset-list .asset-list--item .asset-list--item-body .asset-list--item-text h3 {
                        margin-bottom: 12px;
                    }

                        .asset-pages .asset-list .asset-list--item .asset-list--item-body .asset-list--item-text h3, .asset-pages .asset-list .asset-list--item .asset-list--item-body .asset-list--item-text h3 a {
                            font-size: 24px;
                        }

                    .asset-pages .asset-list .asset-list--item .asset-list--item-body .asset-list--item-text p {
                        font-size: 15px;
                    }

                .asset-pages .asset-list .asset-list--item .asset-list--item-body .asset-list--item-info {
                    margin-bottom: 25px;
                }

                    .asset-pages .asset-list .asset-list--item .asset-list--item-body .asset-list--item-info li {
                        flex: 1;
                    }

                        .asset-pages .asset-list .asset-list--item .asset-list--item-body .asset-list--item-info li.comments {
                            flex: 0 0 60px;
                        }

                .asset-pages .asset-list .asset-list--item .asset-list--item-body .asset-list--item-buttons a {
                    padding: 0;
                    margin-bottom: 0 !important;
                }
}

.asset-pages nav.pagination {
    margin-top: 0;
    padding-top: 0;
    text-align: center;
}

    .asset-pages nav.pagination .button.disabled {
        display: none;
    }

    .asset-pages nav.pagination a {
        display: inline-block;
        margin: 0 5px;
        opacity: 0.75;
        font-size: 20px;
        line-height: 1.6;
        color: #e35107;
        font-weight: bold;
    }

        .asset-pages nav.pagination a.active {
            color: #5b676f;
            text-decoration: underline;
        }

@media (max-width: 1439px) {
    .asset-pages nav.pagination .button {
        padding: 4px;
        width: 44px;
        text-align: center;
        color: #5b676f;
        border: 2px solid #5b676f;
    }

        .asset-pages nav.pagination .button.disabled {
            display: inline-block;
            color: #d0d3d4;
            border-color: #d0d3d4;
        }

    .asset-pages nav.pagination span {
        padding: 0 45px;
        text-transform: none;
    }

        .asset-pages nav.pagination span::before {
            content: attr(data-text);
            font-size: 22px;
            color: #5b676f;
        }

        .asset-pages nav.pagination span a {
            display: none;
        }
}

.asset-pages .mc-form-group {
    margin: 0;
    padding-bottom: 40px;
}

    .asset-pages .mc-form-group label {
        display: block;
        margin-bottom: 16px;
        font-size: 16px;
        color: #5b676f;
        font-weight: inherit;
    }

        .asset-pages .mc-form-group label .required {
            color: #ee0006;
        }

    .asset-pages .mc-form-group input[type="text"],
    .asset-pages .mc-form-group input[type="date"],
    .asset-pages .mc-form-group textarea {
        display: block;
        margin: 0 0 8px;
        padding: 16px 20px;
        width: 100%;
        height: inherit;
        border: solid 1px #d0d3d4;
        font-size: 16px;
        line-height: 1.75;
        color: #000;
        border-radius: 2px;
    }

    .asset-pages .mc-form-group .help-text {
        opacity: 0.75;
        font-size: 14px;
        line-height: normal;
        color: #5b676f;
    }

    .asset-pages .mc-form-group .note-editor {
        border: 1px solid #d0d3d4;
        padding: 16px 20px;
        min-height: 340px;
    }

.asset-pages .mc-row > .col, .asset-pages .mc-spaced-row > .col {
    flex: 1;
    padding: 0 12px;
}

    .asset-pages .mc-row > .col.form {
        flex: 0 0 680px;
        padding-right: 40px;
    }

        .asset-pages .mc-row > .col.form .mc-form-group {
            width: 100%;
        }

    .asset-pages .mc-row > .col.tiny {
        flex: 0 0 200px;
    }

    .asset-pages .mc-row > .col.align-right {
        text-align: right;
    }

        .asset-pages .mc-row > .col.align-right .mc-btn {
            margin-left: 24px;
        }

            .asset-pages .mc-row > .col.align-right .mc-btn:first-child {
                margin-left: 0;
            }

.asset-pages .mc-row.buttons > .col {
    flex: 0 0 250px;
}

    .asset-pages .mc-row.buttons > .col.align-right {
        flex: 1;
    }

.asset-pages .browse-files .browse-files--control {
    position: relative;
    display: inline-block;
    padding: 16px 32px;
    margin: 0;
    background-color: #d0d3d4;
}

    .asset-pages .browse-files .browse-files--control::before {
        content: '';
        display: inline-block;
        width: 24px;
        height: 24px;
        background: url(./images/paper_clip_icon.png) no-repeat;
        background-size: contain;
        vertical-align: bottom;
        margin-right: 5px;
    }

    .asset-pages .browse-files .browse-files--control::after {
        content: attr(data-text);
        font-size: 16px;
        font-weight: bold;
        color: #5b675f;
        text-transform: uppercase;
    }

    .asset-pages .browse-files .browse-files--control input {
        position: absolute;
        opacity: 0;
        top: 0;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 56px;
        z-index: 1;
        cursor: pointer;
    }

.asset-pages .browse-files .browse-files--list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    list-style: none;
    margin: 30px -8px 0;
    padding: 0;
}

    .asset-pages .browse-files .browse-files--list li {
        position: relative;
        width: 340px;
        margin: 0 8px 16px;
        padding: 12px 48px 12px 55px;
        border-radius: 4px;
        border: solid 1px #d0d3d4;
    }

        .asset-pages .browse-files .browse-files--list li::before {
            content: '';
            display: block;
            position: absolute;
            top: 16px;
            left: 16px;
            width: 24px;
            height: 24px;
            background: url(./images/attachment_image_icon.png) no-repeat;
            background-size: contain;
        }

        .asset-pages .browse-files .browse-files--list li p {
            margin: 0 0 4px;
            font-size: 20px;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.6;
            letter-spacing: normal;
            color: #44937f;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
        }

        .asset-pages .browse-files .browse-files--list li small {
            display: block;
            opacity: 0.75;
            font-size: 16px;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            line-height: 1;
            letter-spacing: normal;
            color: #5b676f;
        }

        .asset-pages .browse-files .browse-files--list li a.remove-link {
            position: absolute;
            top: 16px;
            right: 16px;
        }

.asset-pages .mc-asset--picture {
    vertical-align: top;
    margin-bottom: 40px;
}

    .asset-pages .mc-asset--picture img {
        max-width: 100%;
    }

.asset-pages .mc-btn {
    display: inline-block;
    padding: 17px 25px;
    min-width: 200px;
    font-size: 16px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.5px;
    text-align: center;
    text-transform: uppercase;
    color: #000000;
    border: solid 1px #5b676f;
}

    .asset-pages .mc-btn.primary {
        background: #e35107;
        color: #fff;
    }

    .asset-pages .mc-btn.secondary {
        background: #5b676f;
        color: #fff;
    }

    .asset-pages .mc-btn:hover {
        text-decoration: none;
    }

@media (max-width: 1024px) {
    .asset-pages .mc-row > .col.form {
        flex: 0 0 440px;
    }
}

@media (max-width: 768px) {
    .asset-pages .mc-row > .col.form {
        order: 2;
        flex: 1;
        padding-right: 12px;
    }

    .asset-pages .mc-row > .col.right {
        order: 1;
    }

    .asset-pages .mc-comments {
        display: none;
    }

    .asset-pages .browse-files .browse-files--list li {
        width: 100%;
    }

    .asset-pages .mc-row {
        flex-direction: column;
    }

        .asset-pages .mc-row > .col {
            width: 100%;
            flex: 1;
        }

        .asset-pages .mc-row.buttons {
            flex-direction: row;
        }

            .asset-pages .mc-row.buttons > .col:first-child {
                flex: 0 0 200px;
            }
}

@media (max-width: 480px) {
    .asset-pages .mc-row > .col.tiny {
        flex: 1;
    }

    .asset-pages .mc-row.buttons {
        display: block;
        padding-left: 12px;
    }

        .asset-pages .mc-row.buttons > .col {
            margin-bottom: 40px;
        }

            .asset-pages .mc-row.buttons > .col .mc-btn {
                font-size: 12px;
            }

            .asset-pages .mc-row.buttons > .col.align-right {
                display: flex;
                justify-content: space-between;
            }

                .asset-pages .mc-row.buttons > .col.align-right .mc-btn {
                    padding-left: 5px;
                    padding-right: 5px;
                    width: 100%;
                    min-width: 0;
                    font-size: 12px;
                }
}

.mc-comments {
    overflow: hidden;
    background: #ffffff;
}

    .mc-comments .titles .subtitle {
        font-size: 16px;
    }

    .mc-comments .mc-comments--body.empty {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

        .mc-comments .mc-comments--body.empty p {
            font-size: 25px;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            line-height: normal;
            letter-spacing: normal;
            text-align: center;
            color: #5b676f;
        }

.mc-panel {
    display: block;
    position: relative;
    background-color: rgba(0, 0, 0, 0.75);
    z-index: 999;
}

    .mc-panel .mc-modal--body .mc-modal--header {
        position: relative;
        padding: 80px 64px 64px;
        background-color: #242423;
    }

        .mc-panel .mc-modal--body .mc-modal--header a.close-link {
            position: absolute;
            top: 38px;
            right: 38px;
        }

        .mc-panel .mc-modal--body .mc-modal--header .mc-modal--icon {
            padding-top: 40px;
            padding-bottom: 80px;
            text-align: center;
        }

        .mc-panel .mc-modal--body .mc-modal--header h2 {
            margin: 0 0 12px;
            padding: 0;
            font-size: 40px;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            line-height: normal;
            letter-spacing: -0.4px;
            color: #ffffff;
        }

    .mc-panel.asset-guide {
        background-color: white;
        box-shadow: 0 1px 16px 0 rgba(0, 0, 0, 0.1);
        margin-bottom: 20px;
        border-radius: 8px;
    }

        .mc-panel.asset-guide img {
            width: 100%;
            padding: 0 40px 32px;
        }

        .mc-panel.asset-guide .description {
            padding-top: 12px;
            font-size: 22px;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            line-height: normal;
            letter-spacing: normal;
            color: #5b676f;
        }

.asset-guide.oval {
    width: 22px;
    height: 22px;
    background-color: #4a4a4a;
    border-radius: 50%;
    text-align: center;
    float: left;
    margin-right: 10px;
}

    .asset-guide.oval span {
        font-size: 16px;
        font-weight: 500;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #ffffff;
    }

.mc-modal {
    display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.75);
    z-index: 999;
}

    .mc-modal.in {
        display: block;
    }

    .mc-modal .mc-modal--content {
        margin: 20px auto;
        width: 740px;
        background: #fff;
    }

        .mc-modal .mc-modal--content .mc-modal--header {
            position: relative;
            padding: 80px 64px 64px;
            background-color: #242423;
        }

            .mc-modal .mc-modal--content .mc-modal--header.small-padd-bottom {
                padding-bottom: 36px;
            }

            .mc-modal .mc-modal--content .mc-modal--header a.close-link {
                position: absolute;
                top: 38px;
                right: 38px;
            }

            .mc-modal .mc-modal--content .mc-modal--header .mc-modal--icon {
                padding-top: 40px;
                padding-bottom: 80px;
                text-align: center;
            }

            .mc-modal .mc-modal--content .mc-modal--header h5 {
                margin: 0 0 21px;
                padding: 0;
                font-size: 16px;
                font-weight: normal;
                font-style: normal;
                font-stretch: normal;
                line-height: normal;
                letter-spacing: 0.5px;
                text-transform: uppercase;
                color: #e35107;
            }

            .mc-modal .mc-modal--content .mc-modal--header h2 {
                margin: 0 0 12px;
                padding: 0;
                font-size: 40px;
                font-weight: normal;
                font-style: normal;
                font-stretch: normal;
                line-height: normal;
                letter-spacing: -0.4px;
                color: #ffffff;
            }

            .mc-modal .mc-modal--content .mc-modal--header p {
                margin: 0;
                padding: 0;
                font-size: 18px;
                font-weight: normal;
                font-style: normal;
                font-stretch: normal;
                line-height: normal;
                letter-spacing: normal;
                color: #d8d8d8;
            }

        .mc-modal .mc-modal--content .mc-modal--body {
            padding: 48px 64px 80px;
        }

            .mc-modal .mc-modal--content .mc-modal--body.no-padd {
                padding: 0;
            }

            .mc-modal .mc-modal--content .mc-modal--body .mc-form-group {
                display: flex;
                flex-direction: row;
            }

                .mc-modal .mc-modal--content .mc-modal--body .mc-form-group label {
                    flex: 0 0 150px;
                    padding-bottom: 24px;
                    font-size: 16px;
                    font-weight: normal;
                    font-style: normal;
                    font-stretch: normal;
                    line-height: normal;
                    letter-spacing: normal;
                    color: #5b676f;
                }

                .mc-modal .mc-modal--content .mc-modal--body .mc-form-group .mc-field {
                    flex: 1;
                    margin-bottom: 24px;
                    font-size: 16px;
                    font-weight: normal;
                    font-style: normal;
                    font-stretch: normal;
                    line-height: normal;
                    letter-spacing: normal;
                    color: #000000;
                }

                    .mc-modal .mc-modal--content .mc-modal--body .mc-form-group .mc-field input[type="text"] {
                        width: 100%;
                        padding: 12px 20px;
                        font-size: 16px;
                        font-weight: normal;
                        font-style: normal;
                        font-stretch: normal;
                        line-height: normal;
                        letter-spacing: normal;
                        color: #000000;
                        border: solid 1px #d8d8d8;
                    }

            .mc-modal .mc-modal--content .mc-modal--body .mc-modal--back-link {
                padding-top: 12px;
                text-align: center;
            }

                .mc-modal .mc-modal--content .mc-modal--body .mc-modal--back-link a {
                    font-size: 20px;
                    font-weight: bold;
                    font-style: normal;
                    font-stretch: normal;
                    line-height: 1.6;
                    letter-spacing: 0.6px;
                    color: #5b676f;
                    text-transform: uppercase;
                }

                    .mc-modal .mc-modal--content .mc-modal--body .mc-modal--back-link a:hover, .mc-modal .mc-modal--content .mc-modal--body .mc-modal--back-link a:active {
                        color: #e35107;
                        text-decoration: none;
                    }

            .mc-modal .mc-modal--content .mc-modal--body .mc-buttons {
                padding-top: 40px;
                padding-left: 150px;
                margin: 0 -12px;
                display: flex;
            }

                .mc-modal .mc-modal--content .mc-modal--body .mc-buttons .mc-btn {
                    flex: 1;
                    margin: 0 12px;
                    padding: 17px 0;
                    display: inline-block;
                    background-color: #5b676f;
                    font-size: 16px;
                    font-weight: bold;
                    font-style: normal;
                    font-stretch: normal;
                    line-height: 22px;
                    letter-spacing: 0.5px;
                    text-align: center;
                    color: #ffffff;
                    text-transform: uppercase;
                }

                    .mc-modal .mc-modal--content .mc-modal--body .mc-buttons .mc-btn.primary {
                        background-color: #e35107;
                    }

                    .mc-modal .mc-modal--content .mc-modal--body .mc-buttons .mc-btn:hover {
                        text-decoration: none;
                    }

            .mc-modal .mc-modal--content .mc-modal--body .mc-comments .mc-comments--body {
                height: 435px;
                padding: 16px 0;
                background: #fff;
            }

@media (max-width: 768px) {
    .mc-modal .mc-modal--content {
        width: 672px;
    }
}

@media (max-width: 692px) {
    .mc-modal .mc-modal--content {
        margin: 10px;
        width: auto;
    }

        .mc-modal .mc-modal--content .mc-modal--header {
            padding: 24px 24px 40px;
        }

            .mc-modal .mc-modal--content .mc-modal--header h5 {
                margin-bottom: 40px;
                font-size: 10px;
            }

            .mc-modal .mc-modal--content .mc-modal--header h2 {
                margin-bottom: 16px;
                font-size: 24px;
            }

            .mc-modal .mc-modal--content .mc-modal--header p {
                font-size: 14px;
            }

        .mc-modal .mc-modal--content .mc-modal--body {
            padding: 33px 24px;
        }

            .mc-modal .mc-modal--content .mc-modal--body .mc-form-group label {
                flex: 0 0 110px;
                font-size: 12px;
            }

            .mc-modal .mc-modal--content .mc-modal--body .mc-form-group .mc-field {
                font-size: 14px;
            }

            .mc-modal .mc-modal--content .mc-modal--body .mc-form-group.input {
                flex-direction: column;
            }

                .mc-modal .mc-modal--content .mc-modal--body .mc-form-group.input label {
                    flex: 1;
                    margin-bottom: 8px;
                    padding: 0;
                }

            .mc-modal .mc-modal--content .mc-modal--body .mc-buttons {
                padding-top: 0;
                padding-left: 0;
            }

                .mc-modal .mc-modal--content .mc-modal--body .mc-buttons a.mc-btn {
                    padding: 9px 0;
                    font-size: 12px;
                }
}
