﻿@model BulkExpirationExtensionViewModel
@{
    Layout = null;
}

@*Begin of Modal that Exposes Extend Do Not Extend Functionality*@
<div class="mc-modal" id="modalExtend">
    @Html.Partial("~/Views/Shared/_ModalSuccessError.cshtml")
    <div class="mc-modal--content main--modal">
        <div class="mc-modal--header">
            <a class="close-link" href="javascript:void(0);"><img width="32" alt="" src="/admin/Content/css/ContentComments/images/pop-up_close_icon.png"></a>
            <h5>@Resources.ExpirationModals.TitlePrefix</h5>
            <h2>@(Model.ShouldExtend ? Resources.ExpirationModals.BulkExtendDescription : Resources.ExpirationModals.DoNotExtendDescription)</h2>
            <p>@(Model.ShouldExtend ? Resources.ExpirationModals.BulkExtendAction : Resources.ExpirationModals.DoNotExtendAction)</p>
        </div>
        <div class="mc-modal--body">
            <div class="mc-form-group">
                <label for="">@Resources.ExpirationModals.BussinesOwnlerLabel</label>
                <div class="mc-field">@Model.UserFullName</div>
            </div>
            @if (Model.ShouldExtend)
            {
                <div class="mc-form-group">
                    <div class="dateDropDown">
                        <label for="">@Resources.ExpirationModals.ExtendExpirationDropDown</label>
                        @Html.DropDownList("dateChooser", new SelectListItem[] {
                            new SelectListItem { Text = "30 "+ Resources.BusinessOwnerPages.Days, Value = "30" },
                            new SelectListItem { Text = "60 "+ Resources.BusinessOwnerPages.Days, Value = "60" },
                            new SelectListItem { Text = "90 "+ Resources.BusinessOwnerPages.Days, Value = "90" },
                            new SelectListItem { Text = "120 "+ Resources.BusinessOwnerPages.Days, Value = "120" },
                            new SelectListItem { Text = "180 "+ Resources.BusinessOwnerPages.Days, Value = "180" },
                        })
                    </div>
                </div><br />
            }
            <div class="mc-form-group input">
                <label class="messageLabel" for="">@Resources.ExpirationModals.MessageLabel</label>
                <div class="mc-field">
                    <input name="message" type="text" value="@(Model.ShouldExtend?Resources.ExpirationModals.BulkExtendExample: Resources.ExpirationModals.BulkDoNotExtendExample)">
                </div>
            </div>

            <div class="mc-buttons">
                <a class="mc-btn close-link" href="javascript:void(0);">@Resources.BusinessOwnerPages.Cancel</a>
                <a class="mc-btn primary" id="ConfirmButton" href="javascript:void(0);">@Resources.ExpirationModals.ConfirmButtonCaption</a>
            </div>
        </div>
    </div>
</div>

@*End of Modals that Exposes Extend Do Not Extend Functionality*@
<script src="~/Content/js/ContentComments/Modals.js"></script>
<script>
    bulkExpirationCommentModals('#modalExtend [name=message]', '#modalExtend #ConfirmButton',
        "@Url.Action("BulkExtensionComment", "contentComment")", @Html.Raw(Json.Encode(Model.ContentItemIDs)),
        "@Model.ShouldExtend", '#modalExtend .messageLabel',"@Resources.ContentItemComments.WriteAMessageError");
</script>