﻿@model ContentCommentViewModel
@{
    Layout = null;
    var commentsSeed = ViewData["commentsSeed"];
}
<div id="commentsWidget">
    @Html.Partial("~/Views/Shared/_ModalSuccessError.cshtml")
    @*Main comments modal Start*@
    <div id="modalComments" class="mc-comments mc-panel">
        <div class="mc-modal--header small-padd-bottom titles">
            <a href="javascript:void(0);" class="close-link"><img src="@Url.Content("~/Content/css/ContentComments/images/pop-up_close_icon.png")" width="32" alt=""></a>
            <span class="title"> @Resources.ContentItemComments.CommentsTitle</span>
            <span class="mc-comments-total" v-if="totalCommentsCount>0">@string.Format(Resources.ContentItemComments.TotalComments, "{{totalCommentsCount}}")</span>
        </div>
        <div class="mc-modal--body no-padd">
            <div id="mc-comments--body--wrapper" class="mc-comments--body--wrapper" v-cloak>
                <div class="mc-comments">

                    <div class="mc-comments--body" v-bind:class="{ empty: !comments.length }">
                        <div class="mc-comments--item"
                             v-if="comments.length"
                             v-for="(comment,index) in comments"
                             v-bind:class="{ me: comment.author=='ME' }"
                             v-bind:key="index">
                            <div class="mc-comments--author">
                                <div class="mc-comments--avatar">{{comment.avatar}}</div>
                            </div>
                            <div class="mc-comments--text">
                                <div class="mc-comments-added-date">{{comment.added}}</div>
                                <div>
                                    {{comment.text}}
                                </div>
                                <div class="line-wrapper">
                                    <div class="line left"></div>
                                </div>
                            </div>
                            <br />
                        </div>
                        <div v-if="!comments.length">
                            <p><img src="/admin/Content/css/ContentComments/images/empty_state_comments_icon.png" width="128" alt=""></p>
                            <p>@Resources.ContentItemComments.EmptyCommentsMessage</p>
                        </div>
                    </div>
                    <div class="mc-comments--form">
                        <div class="mc-comments--author">
                            <div class="mc-comments--avatar">@Model.SenderUserAvatar</div>
                        </div>
                        <input @@focus="inputFocus" class="mc-comments--input" type="text" id="newComment" name="newComment" placeholder="@Resources.ContentItemComments.CommentPlaceholder" v-model="newComment" v-on:keyup.enter="addComment">
                        <a href="javascript:void(0);" class="add-link" disabled="true" v-bind:disabled="newComment.length === 0 ? true : false" v-on:click="addComment">@Resources.ContentItemComments.Add</a>
                    </div>
                    <p style="color:#ff0000;" v-if="error" class="req-mark error">{{ error }}</p>
                </div>
                @*Main comments modal End*@
            </div>
        </div>
    </div>
    <script src="~/Content/js/ContentComments/Modals.js"></script>
    <script>
        var contentCommentModalsObj;
        //this function comes from \Content\js\ContentComments\Modals.js where most of the js scoped for this is included
        $(function () {
            contentCommentModalsObj = contentCommentModals(
                "@Url.Action("GetPaged")",
                "@Url.Action("AddNew")",
                "@Model.ContentItemId",
                "",
                "@Resources.ContentItemComments.Years",
                "@Resources.ContentItemComments.Months",
                "@Resources.ContentItemComments.Days",
                "@Resources.ContentItemComments.Hours",
                "@Resources.ContentItemComments.Minutes",
                "@Model.SenderUserAvatar",
                "@Resources.ContentItemComments.WriteAMessageError",
                null,
                JSON.parse(@Html.Raw(commentsSeed??"null")),
                @Json.Encode(Model.IsNew),
                @Model.CommentsTotal,
                @Json.Encode(Model.IsAdmin));
            $('.mc-comments--body').slimScroll({
                color: '#333',
                alwaysVisible: true,
                railVisible: true,
                railColor: '#222',
                allowPageScroll: true
            });

            $(".mc-modal#modalCommentsParent").click(function () {
                $("#modalCommentsParent .mc-modal--body").html("");
                $(this).closest(".mc-modal").removeClass("in");
            });
            $(".mc-modal #modalComments").click(function (e) {
                e.stopPropagation();
            });
            if ($("#modalComments .close-link").closest(".mc-modal").length == 0) {
                $("#modalComments .close-link").remove();
            }
        });
    </script>
</div>