﻿@model Mastercard.MarketingCenter.Web.Core.Models.ContentItems.ApplicableMarketsViewModel
@{
    var AvailableInCountry = ViewData["AvailableInCountry"];
    var AvailableInCountryImage = ViewData["AvailableInCountryImage"];
}
<script>
    var ExcludedTotal=@Model.Excluded.Count();
    var ApplicableTotal=@Model.Applicable.Count();
    var regionMarkets=[@( Html.Raw(string.Join(",", Model.Applicable)))];
    var excludedRegionMarkets=[@( Html.Raw(string.Join(",", Model.Excluded)))];

    var resizeHandler= function()
    {
        if ((ApplicableTotal)==0 && '@Html.Raw(AvailableInCountry)'!='@Html.Raw(Resources.Forms.ApplicableToAllCountries)')
        {
            $(".markets-body").hide();
            return;
        }
        else {
            $(".markets-body").show();

            var finalText = "";
            if (window.innerWidth >= 800)
            {
                if (ExcludedTotal <= 7 && ExcludedTotal > 0)
                {
                    finalText ='@Html.Raw(Resources.Forms.ApplicableExcept) ' + excludedRegionMarkets.join(', ');
                }
                else if (ExcludedTotal == 0)
                {
                    finalText ='@Html.Raw(Resources.Forms.ApplicableToAllCountries)';
                }
                else
                {
                    finalText = '@Html.Raw(Resources.Forms.ApplicableTo) ' + regionMarkets.join(', ');
                }
            }
            else
            {
                if (ExcludedTotal <= 4 && ExcludedTotal > 0)
                {
                    finalText = '@Html.Raw(Resources.Forms.ApplicableExcept) ' + excludedRegionMarkets.join(', ');
                }
                else if (ExcludedTotal == 0)
                {
                    finalText = '@Html.Raw(Resources.Forms.ApplicableToAllCountries)';
                }
                else
                {
                    finalText = '@Html.Raw(Resources.Forms.ApplicableTo) ' + regionMarkets.join(', ');
                }
            }

            $(".Markets").text(finalText);

            if ($(".Markets").hasClass("clicked") && hasMaxNumberOfLines(finalText,".Markets"))
            {
                $(".showMore").show();
                return leftLines(".Markets", 2);
            }
            else if (!hasMaxNumberOfLines(finalText,".Markets"))
            {
                $(".showMore") .hide();
            }
            else {
                $(".showMore") .show();
            }
        }
    }

    function hasMaxNumberOfLines(text,identifier, maxnumber)
    {
        maxnumber = (typeof maxnumber=="undefined") ? 2 : maxnumber;
        var lineHeight=  parseInt($(identifier).css("line-height").replace("px",""));
        return  (Math.round($(identifier).height() / lineHeight)) > maxnumber ;
    }

    function leftLines(identifier, maxNumberOfLines)
    {
        var lineHeight = parseInt($(identifier).css("line-height").replace("px",""));
        var elementsRemoved = 0;
        while(Math.round($(identifier).height() / lineHeight) > maxNumberOfLines && $(identifier).text().indexOf(',') > 0)
        {
            $(identifier).text(  $(identifier).text().slice(0, $(identifier).text().lastIndexOf(',')));
            elementsRemoved++;
        }
        if (Math.round($(identifier).height() / lineHeight) > maxNumberOfLines &&  $(identifier).text().indexOf(',') < 1)
        {
            $(identifier).text($(identifier).text().slice(0, ($(identifier).text().length * maxNumberOfLines) / Math.round($(identifier).height() / lineHeight)) + "...");
        }
        return elementsRemoved;
    }

    function toggleSize(identifier) {
        if (!$(identifier).hasClass('clicked'))
        {
            $(identifier).addClass('clicked');

            $(".showMore").text('+' + resizeHandler() + ' ' + '@Html.Raw(Resources.Forms.ShowMore)');
        }
        else
        {
            $(identifier).removeClass('clicked');
            resizeHandler();
            $(".showMore").text('@Html.Raw(Resources.Forms.HideMore)')
        }
    }

    $( window ).resize(function() {
        $(".showMore").text('+' + resizeHandler() + ' ' + '@Html.Raw(Resources.Forms.ShowMore)');
    });

    $(document).ready(
        function()
        {
            $(".showMore").text('+' + resizeHandler() + ' ' + '@Html.Raw(Resources.Forms.ShowMore)');
            $(".showMore").click(function(){ toggleSize(".Markets"); });
        });
</script>
<div class="row">
    <div class="float-left">
        <img src="@Html.Raw(AvailableInCountryImage)" alt="" />
    </div>
    <div>
        <strong>&nbsp;@Html.Raw(AvailableInCountry)</strong><br />
        <span class="markets-body">
            <div style="color:dimgrey;word-wrap: break-word; overflow:hidden;" class="Markets clicked">
            </div>
            <a href="javascript:void(0)" class="showMore float-right">
                @Html.Raw(Resources.Forms.ShowMore)
            </a>
        </span>
    </div>
</div>
<br />