﻿@using Mastercard.MarketingCenter.Common.Extensions
@model AssetViewModel
@section Title {
    @Model.Title.StripHtml()
}

@section sectionHead {
    <script src="/portal/content/themes/orange/libs/jquery-ui.dialog.min.js" language=javascript type="text/javascript"></script>
}

@section Breadcrumb{
    @{
        var node = new SitemapNode() { Key = Model.ContentItemId, Title = Model.Title, Url = Model.FrontEndUrl };
    }
    @Html.Breadcrumb("tagbrowser", new List<SitemapNode>() { node }, node)

    @if (Model.EnableFavoriting)
    {
        Html.RenderAction("Subscription", "Profile", new { contentItemId = Model.ContentItemId });
    }
}

<!-- Asset -->
<header class="header-section header-first-section cold-colors content-spaces-in tac">
    <div class="inner">
        <h1>@Html.RawWithSnippets(Model.Title)</h1>
        @Html.RawWithSnippets(Model.ShortDescription)
    </div>
</header>

@Html.Partial("RegionsApplicableToClone", Model.RegionsApplicableToClone)

@Html.Partial("BackLink")

<div class="content-container content-spaces-in">
    <div class="content-text">
        <div class="row">
            <div class="col-sm-8">
                <article>
                    @Html.Action("ApplicableMarkets", "ContentDetail", new { contentITemId = Model.ContentItemId })
                    @if (Model.RelatedProgram != null)
                    {
                        <a href="@Model.RelatedProgram.AsContentItemListItem().ResourceUrl">@Model.RelatedProgram.Title</a>
                    }
                    @Html.RawWithSnippets(Model.LongDescription)
                    @if (Model.RelatedProgram != null)
                    {
                        @Html.Partial("RelatedProgramInner", new RelatedProgram() { ContentItemListItem = Model.RelatedProgram.AsContentItemListItem() })
                    }
                </article>
                <div class="col-sm-12">
                    @Html.DisplayFor(m => m.RelatedContentItemsList)
                    @{ Html.RenderAction("BrowseAllMaterialTag", "ContentDetail", new { tags = Model.BrowseAllMaterialTags }); }
                </div>
            </div>
            <aside class="col-sm-4">                
                <div class="col-sm-11 col-sm-offset-1">
                    @{ Html.RenderAction("AttachmentsAndCallToAction", "ContentDetail", new { attachments = Model.Attachments, callToAction = Model.CallToAction, mainImage = Model.MainImage, previewFiles = Model.PreviewFiles }); }
                </div>
            </aside>
        </div>
    </div>
</div>
<br />
<section class="page-section boxes-section cold-colors content-spaces-in invisible" id="related-content-boxes">
    <h1 class="section-header">@Resources.Shared.RelatedContent</h1>
    <div class="boxes-slider bigger buttoned">
        @Html.DisplayFor(m => m.InsightsCrossSellBox)
        @Html.DisplayFor(m => m.ProductsCrossSellBox)
        @Html.DisplayFor(m => m.MarketingCrossSellBox)
        @Html.DisplayFor(m => m.SolutionsCrossSellBox)
        @Html.DisplayFor(m => m.SegmentsCrossSellBox)
        @Html.DisplayFor(m => m.SafetySecurityCrossSellBox)
    </div>
</section>