﻿@using Mastercard.MarketingCenter.Common
@model AttachmentsAndCallToActionViewModel

@if (Model.Attachments.Count() > 0 || !string.IsNullOrEmpty(Model.CallToAction.StripHtml()) || !string.IsNullOrEmpty(Model.MainImage))
{
    <dl class="aside-panel reset">
        <dt>@Resources.Shared.LearnMore</dt>
        @if (!string.IsNullOrEmpty(Model.MainImage))
        {
            <dd>
                @Html.AssetMainImage(Model.MainImage, "img-responsive")
            </dd>
        }
        @if (Model.Attachments.Any())
        {
            <dd>
                <p><strong>@Resources.Shared.DownloadAndReview:</strong></p>
                <ul class="files-list reset">
                    @foreach (var attachment in Model.Attachments)
                    {
                        <li class="break-all">
                            @if (Model.PreviewFiles)
                            {
                                @Html.Partial("PreviewFile", Html.GetAttachmentPreviewFile(attachment))
                            }
                            else
                            {
                                @Html.Partial("Attachment", attachment)
                            }
                        </li>
                    }
                </ul>
            </dd>
        }
        @if (!string.IsNullOrEmpty(Model.CallToAction.StripHtml()))
        {
            <dd>
                @Html.RawWithSnippets(Model.CallToAction)
            </dd>
        }
    </dl>
}