﻿@model BrowseAllMaterialViewModel

@if (Model.Render)
{
    <div class="block-more-related-materials">
        <a href="@Model.Url">@Resources.Shared.BrowseRelatedMaterials (@Model.Count)</a>
    </div>
}