﻿@using System.Configuration
@model DownloadableAssetViewModel
@section Title {
    @Model.Title.StripHtml()
}
@section Breadcrumb{
    @{
        var node = new SitemapNode() { Key = Model.ContentItemId, Title = Model.Title, Url = Model.FrontEndUrl };
    }
    @Html.Breadcrumb("tagbrowser", new List<SitemapNode>() { node }, node)
    @if (Model.EnableFavoriting)
    {
        Html.RenderAction("Subscription", "Profile", new { contentItemId = Model.ContentItemId });
    }
}
<!-- Downloadable asset -->
<header class="header-section header-first-section cold-colors content-spaces-in tac">
    <div class="inner">
        <h1>@Html.RawWithSnippets(Model.Title)</h1>
        @Html.RawWithSnippets(Model.ShortDescription)
    </div>
</header>

@Html.Partial("RegionsApplicableToClone", Model.RegionsApplicableToClone)

@Html.Partial("BackLink")

<div class="content-container content-spaces-in">
    <div class="content-text">
        <div class="row">
            <div class="col-sm-8">
                <article>
                    @Html.Action("ApplicableMarkets", "ContentDetail", new { contentITemId = Model.ContentItemId })
                    @if (Model.RelatedProgram != null)
                    {
                        <a href="@Model.RelatedProgram.AsContentItemListItem().ResourceUrl">@Model.RelatedProgram.Title</a>
                    }
                    @Html.RawWithSnippets(Model.LongDescription)
                    <br />
                    @if (Model.RelatedProgram != null)
                    {
                        @Html.Partial("RelatedProgramInner", new RelatedProgram { ContentItemListItem = Model.RelatedProgram.AsContentItemListItem() })
                    }
                </article>
                <div class="col-sm-12">
                    @Html.DisplayFor(m => m.RelatedContentItemsList)
                    @{ Html.RenderAction("BrowseAllMaterialTag", "ContentDetail", new { tags = Model.BrowseAllMaterialTags }); }
                </div>
            </div>
            <aside class="col-sm-4">
                <div class="col-sm-11 col-sm-offset-1">
                    <dl class="aside-panel reset">
                        <dt>@Resources.Shared.LearnMore</dt>
                        <dd>
                            @if (!string.IsNullOrEmpty(Model.MainImage))
                            {
                                @Html.AssetMainImage(Model.MainImage, "img-responsive")
                            }
                        </dd>
                        @if (Model.Attachments.Any())
                        {
                            foreach (var attachment in Model.Attachments)
                            {
                                <dd class="break-all">
                                    @if (Model.PreviewFiles)
                                    {
                                        @Html.Partial("PreviewFile", Html.GetAttachmentPreviewFile(attachment))
                                    }
                                    else
                                    {
                                        @Html.Partial("Attachment", attachment)
                                    }
                                </dd>
                            }
                        }
                        <dd>
                            @if (Model.DownloadFile.DownloadableFileExists)
                            {
                                if (Model.PreviewFiles)
                                {
                                    @Html.Partial("PreviewFile", Html.GetDownloadFilePreviewFile(Model.DownloadFile))
                                }
                                else
                                {
                                    @Html.Partial("DownloadFile", Model.DownloadFile)
                                }
                            }
                            @if (Model.Tags.Any(t => t.TagID == ConfigurationManager.AppSettings["IssuerOptimization.OptimizationSolutionsTagIdentifier"]))
                            {
                                <a id="showForm" class="btn hot-colors" style="width: 80%;">@Resources.Shared.ContactMastercard</a>
                            }
                        </dd>
                        @if (!string.IsNullOrEmpty(Model.CallToAction))
                        {
                            <dd>@Html.Raw(Model.CallToAction)</dd>
                        }
                    </dl>
                </div>
            </aside>
        </div>
    </div>
</div>
<br />
<section class="page-section boxes-section cold-colors content-spaces-in invisible" id="related-content-boxes">
    <h1 class="section-header">@Resources.Shared.RelatedContent</h1>
    <div class="boxes-slider bigger buttoned">
        @Html.DisplayFor(m => m.InsightsCrossSellBox)
        @Html.DisplayFor(m => m.ProductsCrossSellBox)
        @Html.DisplayFor(m => m.MarketingCrossSellBox)
        @Html.DisplayFor(m => m.SolutionsCrossSellBox)
        @Html.DisplayFor(m => m.SegmentsCrossSellBox)
        @Html.DisplayFor(m => m.SafetySecurityCrossSellBox)
    </div>
</section>
@* lead gen *@
@Html.Action("ContactForm", "Report", new { Issuer = Model.Issuer })