﻿@using Mastercard.MarketingCenter.Common.Extensions
@model OrderableAssetViewModel
@section Title {
    @Model.Title.StripHtml()
}
@section Breadcrumb{
    @{
        var node = new SitemapNode() { Key = Model.ContentItemId, Title = Model.Title, Url = Model.FrontEndUrl };
    }
    @Html.Breadcrumb("tagbrowser", new List<SitemapNode>() { node }, node)

    @if (Model.EnableFavoriting)
    {
        Html.RenderAction("Subscription", "Profile", new { contentItemId = Model.ContentItemId });
    }
}

<!-- Orderable Asset -->
@if (Model.RelatedProgram != null)
{
    <header class="header-section header-first-section cold-colors content-spaces-in tac">
        <div class="inner">
            <h1>@Html.RawWithSnippets(Model.RelatedProgram.Title)</h1>
            @Html.RawWithSnippets(Model.RelatedProgram.ShortDescription)
            <p><a href="@Model.RelatedProgram.AsContentItemListItem().ResourceUrl"><strong>@Resources.Shared.LearnMore</strong></a></p>
        </div>
    </header>
}
<section class="header-section header-second-section content-spaces-in hottest-colors">
    <div class="row tac">
        <h2 class="col-lg-8 col-lg-offset-2">@Html.RawWithSnippets(Model.Title)<br /><span class="p3">SKU# @Model.Sku</span></h2>
        <div class="col-lg-8 col-lg-offset-2" style="font-weight: 100;">
            @Html.RawWithSnippets(Model.LongDescription)
            @if (Model.Vdp.HasValue && Model.Vdp.Value)
            {
                <h3>@Resources.ShoppingCart.VariableDataPrinting</h3>
                <p>@Resources.ShoppingCart.VariableDataPrintingDescription</p>
            }
            <input type="hidden" name="contentItemId" value="@Model.ContentItemId" />
            @if (!string.IsNullOrEmpty(Model.CallToAction) && Model.CallToAction != "<p><br></p>")
            {
                @Html.Raw(Model.CallToAction)
            }
        </div>
    </div>
</section>
@* Errors *@
@if (!string.IsNullOrEmpty(Model.ElectronicDeliveryError) || !string.IsNullOrEmpty(Model.PrintOnDemandError) || !string.IsNullOrEmpty(Model.BatchPrintError))
{
    <div class="content-container content-spaces-in spaces-vertical-in">
        <div class="row">
            <div class="col-md-10">
                <ul class="alert-warning h4 reset">
                    @if (!string.IsNullOrEmpty(Model.ElectronicDeliveryError))
                    {
                        <li>@Html.Raw(Model.ElectronicDeliveryError)</li>
                    }
                    @if (!string.IsNullOrEmpty(Model.PrintOnDemandError))
                    {
                        <li>@Html.Raw(Model.PrintOnDemandError)</li>
                    }
                    @if (!string.IsNullOrEmpty(Model.BatchPrintError))
                    {
                        <li>@Html.Raw(Model.BatchPrintError)</li>
                    }
                </ul>
            </div>
        </div>
    </div>
}
<div class="page-section slides-section">
    <div class="tiles-carousel cold">
        <section class="tiles-slider learn-more-tiles" data-slick="">
            <div style="background-color: #f4f4f4;">
                <div class="inner-text inner-half">
                    <h2>@Resources.Shared.LearnMore</h2>
                    <div class="img">@Html.AssetInBoxMainImage(Model.MainImage, "img-responsive")</div>
                    <div class="txt">
                        @if (!string.IsNullOrEmpty(Model.PDFPreview))
                        {
                            <p>@Resources.ShoppingCart.SampleCreativeDescription</p>
                            <a href="@Url.Action("LibraryDownload", "File", new { url = Model.PDFPreview })" target="_blank" class="btn">@Resources.ShoppingCart.SampleCreative</a>
                        }
                    </div>
                </div>
            </div>
        </section>
        <section>
            <ul class="x4 icon-tiles">
                @if (!string.IsNullOrEmpty(Model.ElectronicDeliveryFile) && Model.PricingSchedule.DownloadPrice.HasValue && !Model.Archived)
                {
                    <li class="cell" style="background-color: #e1e1e1;">
                        <div class="inner-text">
                            @Resources.ShoppingCart.OrderForElectronicDelivery
                        </div>
                    </li>
                    <li class="cell" style="background-color: #ebebeb;">
                        <div class="inner-text inner-act">
                            <strong>@Resources.ShoppingCart.Price: @Model.PricingSchedule.DownloadPrice.Value.ToString("C")</strong>
                            @using (Html.BeginForm("Asset", "ContentDetail", FormMethod.Post, new { name = "electronicdelivery" }))
                            {
                                <input type="hidden" name="command" value="electronicdelivery" />
                                <button data-form-name="electronicdelivery" class="btn btn-prompt" data-prompt="@Resources.ShoppingCart.CompleteCheckoutLabel">@Resources.Shared.Download</button>
                            }
                        </div>
                    </li>
                }
                @if (!string.IsNullOrEmpty(Model.PricingSchedule.PricingTable) && !Model.PricingSchedule.UnitPrice.HasValue && !Model.Archived)
                {
                    <li class="cell" style="background-color: #d7d7d7;">
                        <div class="inner-text">
                            @Resources.ShoppingCart.OrderPrintedMaterials
                            <a id="pricing-table-anchor" href="#">@Resources.ShoppingCart.ReviewPricing</a>
                        </div>
                    </li>
                    <li class="cell" style="background-color: #e1e1e1;">
                        <div class="inner-text inner-act">
                            @using (Html.BeginForm("Asset", "ContentDetail", FormMethod.Post, new { name = "printondemmand" }))
                            {
                                <strong class="qty-lbl">@Resources.ShoppingCart.QTY:&nbsp;</strong>
                                <span class="qty-control"><input class="form-control" type="number" name="quantity" maxlength="6" /></span>
                                <input type="hidden" name="command" value="printondemmand" />
                                <button data-form-name="printondemmand" class="btn btn-prompt" data-prompt="@Resources.ShoppingCart.CompleteCheckoutLabel">@Resources.ShoppingCart.AddToCart</button>
                            }
                        </div>
                    </li>
                }
                else if (Model.PricingSchedule.UnitPrice.HasValue && !string.IsNullOrEmpty(Model.PricingSchedule.UnitSize) && !Model.Archived)
                {
                    <li class="cell" style="background-color: #cccccc;">
                        <div class="inner-text">
                            @((!string.IsNullOrEmpty(Model.PricingSchedule.TableHeader)) ? Model.PricingSchedule.TableHeader : Resources.ShoppingCart.BatchPrinting)
                            <div class="inner-box">
                                <strong>@Resources.ShoppingCart.UnitSize: </strong>@Model.PricingSchedule.UnitSize<br />
                                <strong>@Resources.ShoppingCart.UnitPrice: </strong>@Model.PricingSchedule.UnitPrice.Value.ToString("C")
                            </div>
                        </div>
                    </li>
                    <li class="cell" style="background-color: #d7d7d7;">
                        <div class="inner-text">
                            @using (Html.BeginForm("Asset", "ContentDetail", FormMethod.Post, new { name = "batchprint" }))
                            {
                                <strong class="qty-lbl">@Resources.ShoppingCart.QTY:&nbsp;</strong>
                                <span class="qty-control">
                                    <input type="number" class="form-control" name="quantity" MaxLength="6" value="@Model.Quantity" />
                                </span>
                                <input type="hidden" name="command" value="batchprint" />
                                <button data-form-name="batchprint" class="btn btn-prompt" data-prompt="@Resources.ShoppingCart.CompleteCheckoutLabel">@Resources.ShoppingCart.AddToCart</button>
                            }
                        </div>
                    </li>
                }
            </ul>
        </section>
    </div>
</div>
@if (Model.RelatedProgram != null)
{
    @Html.Partial("RelatedProgram", new RelatedProgram() { ContentItemListItem = Model.RelatedProgram.AsContentItemListItem() })
}
@Html.DisplayFor(m => m.RelatedContentItemsList)
<section class="page-section boxes-section content-spaces-in invisible" id="related-content-boxes">
    <h1 class="section-header">@Resources.Shared.RelatedContent</h1>
    <div class="boxes-slider bigger buttoned">
        @Html.DisplayFor(m => m.InsightsCrossSellBox)
        @Html.DisplayFor(m => m.ProductsCrossSellBox)
        @Html.DisplayFor(m => m.MarketingCrossSellBox)
        @Html.DisplayFor(m => m.SolutionsCrossSellBox)
    </div>
</section>
@{ Html.RenderAction("PricingTable", "ContentDetail", new { pricingSchedule = Model.PricingSchedule }); }
<script type="text/javascript">
    $(function () {

        function dialogPos() {
            var $dialog = $('.ui-dialog:visible');
            $dialog.css({
                'position': ($dialog.height() < $(window).height() ? 'fixed' : 'absolute')
            });
            if ($(window).width() > 767) {
                $dialog.css({
                    'top': ($(window).height() > $dialog.height() ? '50%' : '10%'),
                    'left': '50%',
                    'marginLeft': 0 - ($dialog.width() / 2),
                    'marginTop': 0 - ($(window).height() > $dialog.height() ? ($dialog.height() / 2) : 0)
                });
            }
            else {
                $dialog.css({
                    'position': 'absolute',
                    'left': 0,
                    'marginLeft': 0
                });
            }
        }

        $("#dialog-modal").dialog({
            open: function () {
                dialogPos();
                $(window).on('resize', dialogPos);
            }
        });

        $("#pricing-table-anchor").click(function (e) {
            e.preventDefault();
            $("#dialog-modal").dialog('open');
        });

        $('[data-form-name]').on('click', function (e) {
            var $form = $('[name="' + $(this).data('form-name') + '"]'),
                url = $form.attr('action');
            if ($('.is-mobile').length) {
                $.ajax({
                    type: "POST",

                    url: url,
                    data: $form.serialize(), // serializes the form's elements.
                    success: function (data) {
                        if (window.console) console.log('form submit:', data); // show response from the php script.
                    }
                });

                e.preventDefault();
            } else {
                $form.submit();
            }
        });
    });
    $(function () {
        $(".submit").on("click", function () {
            $("form").submit();
        });

        $("input[name^='quantity']").on("keydown", function () {
            if ($(this).val().length >= parseInt($(this).attr("MaxLength"))) {
                $(this).val($(this).val().substring(0, parseInt($(this).attr("MaxLength")) - 1));
            }
        });
    }
    );
</script>