﻿@model PricingTableViewModel
@if (Model.PricingTable != null && Model.PricingTable.Items != null && Model.PricingTable.Items.Count() > 0)
{
    <script type="text/javascript">
        $(function () {
            $("#dialog-modal").dialog({
                height: 140,
                modal: true,
                autoOpen: false,
                draggable: true,
                height: 'auto',
                width: 'auto',
                resizable: false,
                width: 475,
                open: function () {
                    $('.ui-widget-overlay').css('z-index', '1001');
                }
            });
        });
    </script>
    <div id="dialog-modal" class="dialog-text hid">
        <div class="content-text dialog-text-body">
            <span class="ui-dialog-title-relative">@Model.Title</span>
            <h2>@((!string.IsNullOrEmpty(Model.TableHeader)) ? Model.TableHeader : Resources.ShoppingCart.OrderPrintOnDemand)</h2>
            <table cellpadding="0" cellspacing="0" border="0">
                <thead>
                    <tr>
                        <th scope="col" style="width: 220px;" class="first-child">@Resources.ShoppingCart.Quantity</th>
                        <th scope="col" class="last-child">@Resources.ShoppingCart.Price</th>
                    </tr>
                </thead>
                <tbody>

                    @if (Model.MinimumPrice.HasValue)
                    {
                        <tr class="odd">
                            <td>1-@(Model.PricingTable.Items[0].Quantity - 1)</td>
                            <td>$@Model.MinimumPrice.Value Minimum</td>
                        </tr>
                    }

                    @if (Model.PricingTable.Items.Count == 1)
                    {
                        <tr class="">
                            <td>@Model.PricingTable.Items[0].Quantity<text>+</text></td>
                            @if (Model.ContactPrinter)
                            {
                                <td><a href="/portal/contact?q=1">@Resources.Shared.ContactUs</a></td>
                            }
                            else
                            {
                                <td>$@Model.PricingTable.Items[0].UnitPrice @Resources.ShoppingCart.PerItem</td>
                            }
                        </tr>
                    }
                    else
                    {
                        for (int idx = 0; idx < Model.PricingTable.Items.Count; idx++)
                        {
                            <tr class="@((idx % 2 == 0) ? "" : "odd")">
                                @if (idx == Model.PricingTable.Items.Count - 1)
                                {
                                    <td>@Model.PricingTable.Items[idx].Quantity<text>+</text></td>
                                }
                                else
                                {
                                    <td>@Model.PricingTable.Items[idx].Quantity<text>-</text>@(Model.PricingTable.Items[idx + 1].Quantity - 1)</td>
                                }

                                @if ((idx == Model.PricingTable.Items.Count - 1) && Model.ContactPrinter)
                                {
                                    <td><a href="/portal/contact?q=1">@Resources.Shared.ContactUs</a></td>
                                }
                                else
                                {
                                    <td>$@Model.PricingTable.Items[idx].UnitPrice @Resources.ShoppingCart.PerItem</td>
                                }
                            </tr>
                        }
                    }
                </tbody>
            </table>
            @if (!string.IsNullOrEmpty(Model.PricingNotes))
            {
                <h3>@Resources.ShoppingCart.PricingNotes</h3>
                <p>@Html.Raw(Model.PricingNotes)</p>
            }
        </div>
    </div>
}