﻿@using CommonConstants = Mastercard.MarketingCenter.Common.Infrastructure.Constants;
@using Mastercard.MarketingCenter.Services;
@model ProgramViewModel
@section Title {
    @Model.Title.StripHtml()
}

@section Breadcrumb{
    @{
        var node = new SitemapNode() { Key = Model.ContentItemId, Title = Model.Title, Url = Model.FrontEndUrl };
    }
    @Html.Breadcrumb("tagbrowser", new List<SitemapNode>() { node }, node)

    @if (Model.EnableFavoriting)
    {
        Html.RenderAction("Subscription", "Profile", new { contentItemId = Model.ContentItemId });
    }
}

<!-- Program -->
<header class="header-section header-first-section cold-colors content-spaces-in tac">
    <div class="inner">
        <h1>@Html.RawWithSnippets(Model.Title)</h1>
        @Html.RawWithSnippets(Model.ShortDescription)
    </div>
</header>

@Html.Partial("BackLink")

<div class="content-container content-spaces-in">
    <div class="content-text">
        <div class="row">
            <div class="col-sm-8">
                <article>
                    @Html.Action("ApplicableMarkets", "ContentDetail", new { contentITemId = Model.ContentItemId })


                    @Html.RawWithSnippets(Model.LongDescription)

                    @if (Model.RelatedAssets != null && Model.RelatedAssets.Count() > 0)
                    {
                        <ul class="program-related-assets-list stripped-list reset">
                            @foreach (var item in Model.RelatedAssets)
                            {
                                <li>
                                    <a href="@item.ResourceUrl" tracking-type="related-asset">@Html.Raw(item.Title)</a>
                                </li>
                            }
                        </ul>
                    }
                </article>
                <div class="col-sm-12">
                    @Html.DisplayFor(m => m.RelatedContentItemsList)
                    @{ Html.RenderAction("BrowseAllMaterialTag", "ContentDetail", new { tags = Model.BrowseAllMaterialTags }); }
                </div>
            </div>
            <aside class="col-sm-4">
                <div class="col-sm-11 col-sm-offset-1">
                    <dl class="aside-panel reset">
                        <dt>@Resources.Shared.OfferDetails</dt>
                        <dd>
                            <figure>@Html.AssetMainImage(Model.MainImage, "img-responsive")</figure>
                            @if (Model.ShowOrderPeriods.HasValue && Model.ShowOrderPeriods.Value && User.IsInPermission(CommonConstants.Permissions.HasAlternativeExpiration))
                            {
                                if (Model.PrintedOrderPeriodStartDate.HasValue)
                                {
                                    <p>
                                        @if (string.IsNullOrEmpty(Model.PrintedOrderPeriodAlternateDisplayText))
                                        {
                                            <strong>@Resources.Shared.OrderPeriod:</strong><br />
                                        }
                                        else
                                        {
                                            <strong>@Model.PrintedOrderPeriodAlternateDisplayText</strong><br />
                                        }
                                        @if (string.IsNullOrEmpty(Model.PrintedOrderPeriodAlternateDateText))
                                        {
                                            if (Model.PrintedOrderPeriodEndDate.HasValue)
                                            {
                                                <text>@Model.PrintedOrderPeriodStartDate.Value.ToShortDateString() - @Model.PrintedOrderPeriodEndDate.Value.ToShortDateString()</text>
                                            }
                                        }
                                        else
                                        {
                                            <text>@Model.PrintedOrderPeriodAlternateDateText</text>
                                        }
                                    </p>
                                }
                                if (Model.OnlineOrderPeriodStartDate.HasValue)
                                {
                                    <p>
                                        @if (string.IsNullOrEmpty(Model.OnlineOrderPeriodAlternateDisplayText))
                                        {
                                            <strong>@Resources.Shared.OnlinePeriod:</strong><br />
                                        }
                                        else
                                        {
                                            <strong>@Model.OnlineOrderPeriodAlternateDisplayText</strong><br />
                                        }
                                        @if (string.IsNullOrEmpty(Model.OnlineOrderPeriodAlternateDateText))
                                        {
                                            if (Model.OnlineOrderPeriodEndDate.HasValue)
                                            {
                                                <text>@Model.OnlineOrderPeriodStartDate.Value.ToShortDateString() - @Model.OnlineOrderPeriodEndDate.Value.ToShortDateString()</text>
                                            }
                                        }
                                        else
                                        {
                                            <text>@Model.OnlineOrderPeriodAlternateDateText</text>
                                        }
                                    </p>
                                }
                            }
                            @if (Model.InMarketStartDate.HasValue && User.IsInPermission(CommonConstants.Permissions.HasAlternativeExpiration))
                            {
                                <p class="orange-text">
                                    @if (string.IsNullOrEmpty(Model.InMarketAlternateDisplayText))
                                    {
                                        <strong>@Resources.Shared.InMarket:</strong><br />
                                    }
                                    else
                                    {
                                        <strong>@Model.InMarketAlternateDisplayText</strong><br />
                                    }
                                    @if (string.IsNullOrEmpty(Model.InMarketAlternateDateText))
                                    {
                                        if (Model.InMarketEndDate.HasValue)
                                        {
                                            <text>@Model.InMarketStartDate.Value.ToShortDateString() - @Model.InMarketEndDate.Value.ToShortDateString()</text>
                                        }
                                    }
                                    else
                                    {
                                        <text>@Model.InMarketAlternateDateText</text>
                                    }
                                </p>
                            }
                        </dd>
                    </dl>
                    @{ Html.RenderAction("AttachmentsAndCallToAction", "ContentDetail", new { attachments = Model.Attachments, callToAction = Model.CallToAction, previewFiles = Model.PreviewFiles }); }
                </div>
            </aside>
        </div>
    </div>
</div>
<br />
<section class="page-section boxes-section cold-colors content-spaces-in invisible" id="related-content-boxes">
    <h1 class="section-header">@Resources.Shared.RelatedContent</h1>
    <div class="boxes-slider bigger buttoned">
        @Html.DisplayFor(m => m.InsightsCrossSellBox)
        @Html.DisplayFor(m => m.ProductsCrossSellBox)
        @Html.DisplayFor(m => m.MarketingCrossSellBox)
        @Html.DisplayFor(m => m.SolutionsCrossSellBox)
        @Html.DisplayFor(m => m.SegmentsCrossSellBox)
        @Html.DisplayFor(m => m.SafetySecurityCrossSellBox)
    </div>
</section>