﻿@model ContentItemCloneToRegionViewModel
<div id="RegionsApplicableToClone" class="hid dialog-text">
    <div class="dialog-text-body content-text tac" id="RegionsApplicableToClonePopoUp">
        <div id="RegionsApplicableToCloneMessage" class="form-group tac">
            @Resources.Shared.RegionsApplicableToCloneMessage
            <br />
            @Model.RegionNames
        </div>
        <br />
        <div id="RegionsApplicableToCloneLegal" class="form-group tac">
            <p>@Resources.Shared.RegionsApplicableToCloneLegal</p>
        </div>
        <br />
        <div class="form-group btn-group tac">
            <p>  @Resources.Shared.WishToContinue</p>
            <a id="DoNotClone" href="javascript:void(0);" class="btn" target="_blank" style="width: 140px; margin-right: 30px;">@Resources.Shared.No</a>
            <a id="DoClone" href="javascript:void(0);" class="btn" target="_blank" style="width: 140px;">@Resources.Shared.Yes</a>
        </div>
    </div>
</div>
<script type="text/javascript">
    function createDialogForClone(urlToRedirect) {
        $("#RegionsApplicableToClone").data("EditContentItemUrl", urlToRedirect).dialog('open');
    }

    $(function () {
        $("#RegionsApplicableToClone").dialog({
            height: 140,
            modal: true,
            autoOpen: false,
            draggable: true,
            height: 'auto',
            width: 'auto',
            resizable: false,
            width: 550,
            open: function () {
                $('.ui-widget-overlay').css('z-index', '1001');
            }
        });

        $('#RegionsApplicableToClone #DoNotClone').on('click', function (e) {
            $("#RegionsApplicableToClone").dialog('close');
            return false;
        });

        $('#RegionsApplicableToClone #DoClone').on('click', function (e) {
            window.location.href = $("#RegionsApplicableToClone").data("EditContentItemUrl");
            return false;
        });
    })
</script>