﻿@using Mastercard.MarketingCenter.Common.Extensions
@model WebinarViewModel
@section Title {
    @Model.Title.StripHtml()
}

@section Breadcrumb{
    @{
        var node = new SitemapNode() { Key = Model.ContentItemId, Title = Model.Title, Url = Model.FrontEndUrl };
    }
    @Html.Breadcrumb("tagbrowser", new List<SitemapNode>() { node }, node)

    @if (Model.EnableFavoriting)
    {
        Html.RenderAction("Subscription", "Profile", new { contentItemId = Model.ContentItemId });
    }
}

<!-- Webinar -->

<header class="header-section header-first-section cold-colors content-spaces-in tac">
    <div class="inner">
        <h1>@Html.RawWithSnippets(Model.Title)</h1>
        @Html.RawWithSnippets(Model.ShortDescription)
        @if (Model.Date.HasValue)
        {
            <p><strong>@Resources.Shared.EventDate:</strong> @Model.Date.Value.ToString("MM/dd/yyyy hh:mm tt")</p>
        }
    </div>
</header>

@Html.Partial("BackLink")

<div class="content-container content-spaces-in">
    <div class="content-text">
        <div class="row">
            <article class="col-sm-7">
                @Html.Action("ApplicableMarkets", "ContentDetail", new { contentITemId = Model.ContentItemId })
                @Html.RawWithSnippets(Model.LongDescription)
            </article>

            @if (!string.IsNullOrEmpty(Model.VideoFile))
            {
                <aside class="col-sm-4 col-sm-offset-1">
                    <dl class="aside-panel">
                        <dd>
                            @if (Model.ShowImageInsteadVideo.GetValueOrDefault() && (!string.IsNullOrEmpty(Model.StaticVideoImage)))
                            {                                            
                                <figure><img src="@Url.ImageUrl(Model.StaticVideoImage, 600, 300, false, 95)" style="width: 100%; height: auto;" alt="@Resources.Shared.Webinar"/></figure>
                                <a href="#" style="margin-top: 10px;" name="@Model.VideoFile:960:540" class="video-link btn"><em class="fa fa-play"></em>@Resources.Shared.Play</a>                                
                            }
                            else
                            {
                                <figure><img src="/portal/content/images/webinar_lg.gif" alt="@Resources.Shared.Webinar" /></figure>
                                <a href="#" style="margin-top: 10px;" name="@Model.VideoFile:960:540" class="video-link btn"><em class="fa fa-play"></em>@Resources.Shared.Play</a>
                            }
                        </dd>
                    </dl>
                </aside>
            }

            @if (!string.IsNullOrEmpty(Model.Link))
                            {
                <aside class="col-sm-4 col-sm-offset-1 float-right">
                    <dl class="aside-panel">
                        <dd>
                            <figure><img src="/portal/content/images/webinar_lg.gif" alt="@Resources.Shared.Webinar" /></figure>
                            <p><br /> <a class="btn" style="margin-top: 10px;" href="@Model.Link" target="_blank"><em class="fa fa-play"></em>@(string.IsNullOrEmpty(Model.LinkText) ? Resources.Shared.Play : Model.LinkText)</a></p>
                        </dd>
                    </dl>
                </aside>
            }
        </div>
    </div>
    @Html.DisplayFor(m => m.RelatedContentItemsList)
</div>
<br />
<section class="page-section boxes-section cold-colors content-spaces-in invisible" id="related-content-boxes">
    <h1 class="section-header">@Resources.Shared.RelatedContent</h1>
    <div class="boxes-slider bigger buttoned">
        @Html.DisplayFor(m => m.InsightsCrossSellBox)
        @Html.DisplayFor(m => m.ProductsCrossSellBox)
        @Html.DisplayFor(m => m.MarketingCrossSellBox)
        @Html.DisplayFor(m => m.SolutionsCrossSellBox)
        @Html.DisplayFor(m => m.SegmentsCrossSellBox)
        @Html.DisplayFor(m => m.SafetySecurityCrossSellBox)
    </div>
</section>