﻿@model IndexModel
@{
    ViewBag.Title = "MMC CMS Home Page";

    //checks if the users user role is able to interact with the content controller
    var hasHomeReport = DependencyResolver.Current.GetService<Mastercard.MarketingCenter.Data.MarketingCenterDbContext>()
                        .CmsRoleAccesses
                        .ToList()
                        .Where(cra => ((!string.IsNullOrEmpty(cra.RoleType) &&  Context.User.IsInRole(cra.RoleType.Trim()))
                                   && (!string.IsNullOrEmpty(cra.RoleType) && cra.Controller.Trim().Equals("Content", StringComparison.OrdinalIgnoreCase))))
                        .Any();
}
@section HeaderTitle
{
    Mastercard Admin
}
@if (hasHomeReport)
{
    @section head
    {
        @System.Web.Optimization.Styles.Render("~/Content/plugins/datatables")
        @System.Web.Optimization.Scripts.Render("~/bundles/datatables")
        @System.Web.Optimization.Scripts.Render("~/bundles/report")
    }
    <div class="ibox-content">
        @if (!Model.IsGlobalRegion)
        {
            @Html.Partial("~/Views/Report/_ClonedAssetsNewSourceUpdatesReport.cshtml")
        }

        @if (Model.BusinessOwnerExpirationManagementEnabled)
        {
            @Html.Partial("~/Views/Report/_BusinessOwnerRequestsReport.cshtml")
        }

        @Html.Partial("~/Views/Report/_ContentAboutToExpireReport.cshtml", Model.BusinessOwnerExpirationManagementEnabled)

        @if (Model.ProgramPrintOrderDateExpirationEnabled)
        {
            @Html.Partial("~/Views/Report/_ProgramPrintOrderDateExpirationReport.cshtml")
        }

        @Html.Partial("~/Views/Report/_RecentlyExpiredContentReport.cshtml")
    </div>
}