﻿<table style="width:100%; margin: 16px 0px;">
    [#each:asset]
    <tr style="margin-bottom:5px;font-size:12px;">
        <td style="color:#141413; font-family:'MarkWebPro-LightW01Regular', Century Gothic, Arial, Helvetica, sans-serif;"><a href="[#ExtendUrl]">[#AssetName]</a></td>
    </tr>
    [/#each:asset]
</table>