﻿<table style="font-size: 12px;width:100%; margin: 16px 0px;">
    [#each:asset]
    <tr style="margin-bottom:5px;">
        <td style="font-size:12px;color:#141413; font-family:'MarkWebPro-LightW01Regular', Century Gothic, Arial, Helvetica, sans-serif;"><a class="ContentTitle" href="[#ExtendUrl]">[#AssetName]</a></td>
    </tr>
    [/#each:asset]
</table>