﻿<table style="width:100%; margin: 16px 0px; text-align: center; color:#141413; font-family:'MarkWebPro-LightW01Regular', Century Gothic, Arial, Helvetica, sans-serif;">
    [#each:Content]
    <tr style="padding: 10px 0px 15px 0px;">
        <td style="text-align: left;"><a class="ContentTitle" href="[#url]">[#title]</a></td>
        <td style="text-align: center; width:50%; color:#141413; font-family:'MarkWebPro-LightW01Regular', Century Gothic, Arial, Helvetica, sans-serif;">
            <table>
                <tbody>
                    <tr>
                        <td style="font-family:'MarkWebPro-LightW01Regular', Century Gothic, Arial, Helvetica, sans-serif;">
                            <a href="[#ExtendUrl]" style="color:#141413; font-family:'MarkWebPro-LightW01Regular', Century Gothic, Arial, Helvetica, sans-serif;">extend expiration</a>
                        </td>
                        <td style="border-left: 1px solid black;"></td>
                        <td style="font-family:'MarkWebPro-LightW01Regular', Century Gothic, Arial, Helvetica, sans-serif;">
                            <a href="[#DoNotExtendUrl]" style="color:#141413; font-family:'MarkWebPro-LightW01Regular', Century Gothic, Arial, Helvetica, sans-serif;">do not extend expiration</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </td>
    </tr>
    [/#each:Content]
</table>