﻿<table style="width:100%; margin: 16px 0px;">
    [#each:Content]
    <tr style="margin-bottom:5px;">
        <td style="font-size:12px;color:#141413; font-family:'MarkWebPro-LightW01Regular', Century Gothic, Arial, Helvetica, sans-serif;"><a class="ContentTitle" href="[#url]">[#title]</a><i style="font-size:12px;color:#000000; font-family:'MarkWebPro-LightW01Regular', Century Gothic, Arial, Helvetica, sans-serif;"> (expires on [#expirationDate])</i></td>
    </tr>
    [/#each:Content]
</table>