﻿<table style="width:100%; margin: 16px 0px;">
    <tr>
        <td style="color:#141413; font-family:'MarkWebPro-LightW01Regular', Century Gothic, Arial, Helvetica, sans-serif; font-size:16px; line-height:22px;" valign="top" align="left">Programs with "Print Order Dates" expiring soon:</td>
    </tr>
    [#each:Content]
    <tr style="margin-bottom:5px;">
        <td style="font-size:12px;color:#141413; font-family:'MarkWebPro-LightW01Regular', Century Gothic, Arial, Helvetica, sans-serif;"><a class="ContentTitle" href="[#url]">[#title]</a><i style="font-size:12px;color:#000000; font-family:'MarkWebPro-LightW01Regular', Century Gothic, Arial, Helvetica, sans-serif;"> (Print Order End Date: [#expirationDate])</i></td>
    </tr>
    [/#each:Content]
</table>