<h1>Promo User Invitation</h1>
<p>Dear [#User],</p>
<p>Click on the link below to access the registration page</p>
<p><a href="[#URL]">[#URL]</a></p>
<p><a href="[#REDIRECTOR_URL]&url=http://www.awsystems.com">This is a test redirector link</a></p>
<img src="[#IMGURL]" width="1" height="1" />