﻿<p>
    <a href='[#NotificationUrl]'><span><b><span style="color: red;">[#IsNewBold]</span>[#NotificationTitleBold]</b></span><span><span style="color: red;">[#IsNew]</span>[#NotificationTitle]</span></a>
    <em><b><span style="color: gray;">[#NotificationPublishedDate]</span></b></em>
</p>