﻿<div>
    <span style='font-size: 10px;'>
        Weitere Informationen erhalten Sie durch Zugriff auf die interaktive Version dieses Dokuments unter <a href="[#FrontEndUrl]/calendar">[#FrontEndUrl]/calendar</a>.
    </span>
</div>