.mobile,
.label-tab,
.m-size {
    display: none;
}

.is-mobile .print-link,
.is-mobile .desktop-only {
    display: none !important;
}

.prompt-modal {
    min-width: 300px;
}

.is-mobile .video-preview.yt::before,
.is-mobile .tiles-carousel .slide-cell.video-preview.yt::after,
.is-mobile .video-preview.yt .cover-image {
    display: none;
}

.is-mobile .video-preview .embed-responsive {
    min-height: 100%;
}

@media (max-width: 1280px) {
    .carousel-slide h1 {
        line-height: 1;
    }

    .illustration .carousel-slide p,
    .carousel-slide p {
        width: 100%;
        margin: 25px auto 0 auto;
    }

    .image-text-section .text h2 {
        width: auto;
    }

    .main-nav-bar .item > a, .main-nav-bar .item > label {
        padding: 0 12px;
    }

        .main-nav-bar .item > label.selector {
            padding-left: 15px;
            padding-right: 25px;
        }

    .main-nav .logo-item {
        padding-right: 15px;
    }
}

@media (max-width: 1366px) {
    .main-nav-bar .item > a,
    .main-nav-bar .item > label {
        padding: 0 7px;
    }
}

@media (max-width: 1290px) {
    .main-nav-bar .item > a,
    .main-nav-bar .item > label {
        padding: 0 3px;
        font-size: 16px;
    }
}

@media (max-width: 1145px) {
    .main-nav-bar .item > a,
    .main-nav-bar .item > label {
        padding: 0 3px;
        font-size: 14px;
    }

    .main-nav-bar .item {
        font-size: 14px;
    }

    .aside-panel > dd {
        font-size: 16px;
    }
}

@media (max-width: 1080px) {
    .main-nav-bar .item > a,
    .main-nav-bar .item > label {
        padding: 0 3px;
        font-size: 12px;
    }
}

@media (min-width: 1024px) {
    .leadership-hero h1 {
        font-size: 78px;
    }
}

@media only screen and (max-device-width: 1024px) {
    .center-point.video-trigger {
        display: none;
    }

    .faqs-carousel {
        margin-bottom: 0;
    }
}

@media (max-width: 1023px) {
    .dash-options-list > .header,
    .dash-options-list .label, .dash-label {
        font-size: 22px;
    }

    .dashboard-description .dash-desc h5 {
        line-height: 1em;
    }

    .dashboard-description .dash-desc h5,
    .dashboard-description .dash-desc p {
        font-size: 16px;
    }

    .main-nav-bar .item > label.selector {
        padding-left: 15px;
        padding-right: 25px;
    }

    .tabs-nav-list .tab {
        font-size: 1.7vw;
    }

    .faq-defined .content ul {
        -webkit-column-count: 3;
        -moz-column-count: 3;
        column-count: 3;
    }

    .cell .inner-text > a {
        font-size: 17px;
    }

    .grid-spaces-out {
        margin-right: 40px;
        margin-left: 40px;
    }

    .grid-spaces-in {
        padding-right: 40px;
        padding-left: 40px;
    }

    .content-spaces-out {
        margin-right: 65px;
        margin-left: 65px;
    }

    .content-spaces-in {
        padding-right: 65px;
        padding-left: 65px;
    }

    .boxes-list .box-image,
    .boxes-slider .box-image {
        width: 132px;
        height: 132px;
        margin-left: auto;
        margin-right: auto;
    }

    .boxes-list.buttoned .box .btn,
    .boxes-slider.buttoned .box .btn {
        width: 132px;
        padding: 0;
        margin-left: -66px;
    }

    .single-message-section .inner {
        width: 60%;
    }
}

.w1024-or-more {
    display: block;
}

.w1023-or-less {
    display: none;
}

@media (max-width: 1023px) {
    .w1024-or-more {
        display: none;
    }

    .w1023-or-less {
        display: block;
    }

    .is-mobile .tiles-carousel .slide-cell.text-slide.with-more .more {
        top: 100%;
        margin-top: -50px;
    }

    .main-nav-bar .item.partner-item {
        position: absolute;
        left: 100px;
        border-left: 1px solid #ccc;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        transform: translateY(-50%);
        filter: blur(0);
        -webkit-filter: blur(0);
    }

    .results-list .result-link {
        display: none;
    }

    .sign-in-bar {
        margin-top: 0;
    }

    .main-nav,
    .utility-nav-bar,
    .main-nav-bar .item.search-selector-item {
        display: none;
    }

    .mobile {
        display: block;
    }

    .mobile-nav li {
        position: relative;
    }

    .mobile-nav .check-trigger,
    .cell .check-trigger {
        position: absolute;
        right: 16px;
        top: 7px;
        width: 24px;
        height: 24px;
        cursor: pointer;
        z-index: 3;
    }

    .cell .check-trigger {
        visibility: hidden;
        right: 20px;
        top: 50%;
        margin-top: -12px;
    }

        .mobile-nav .check-trigger > i,
        .cell .check-trigger > i {
            position: absolute;
            width: 23px;
            height: 5px;
            display: block;
            background: #464646;
            top: 9px;
        }

        .cell .check-trigger > i {
            background-color: #fff;
        }

            .mobile-nav .check-trigger > i:last-child,
            .cell .check-trigger > i:last-child {
                left: 0;
                -webkit-transform: rotate(90deg);
                -moz-transform: rotate(90deg);
                -ms-transform: rotate(90deg);
                -o-transform: rotate(90deg);
                transform: rotate(90deg);
                -webkit-transition: all 0.15s ease;
                -moz-transition: all 0.15s ease;
                -ms-transition: all 0.15s ease;
                -o-transition: all 0.15s ease;
                transition: all 0.15s ease;
            }

    .mobile-nav .sub-nav {
        background-color: rgba(0,0,0,0.25);
    }

    .check-point:checked ~ .check-trigger > i:last-child,
    .check-point:checked ~ .label .check-trigger > i:last-child {
        top: 0;
        opacity: 0;
    }

    .search-nav-wrapper {
        width: auto;
    }

    .main-nav-bar .search-item {
        width: auto;
        padding: 0 22px 0 0;
    }

        .main-nav-bar .search-item.active {
            position: absolute;
            left: 100%;
            margin-left: -60px;
        }

    .search-item.active ~ .item.hamburger-item {
        display: none;
    }

    .main-nav-bar .item > a,
    .main-nav-bar .item > label {
        padding: 0 16px;
    }

        .main-nav-bar .item > label.selector {
            padding-right: 30px;
        }

    .main-nav .logo-item {
        padding: 0 42px;
    }

        .main-nav .logo-item > a {
            padding: 0;
        }

    .icon-tiles .cell .label {
        width: 80%;
        white-space: normal;
    }

    .tiles-carousel .slide-cell .title {
        width: 80%;
        left: 10%;
        bottom: 10%;
    }

    .main-nav-bar .item {
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
    }

    .main-nav .item:last-of-type {
        border-right: none;
    }

    .icon-tiles .flyout-nav .sub-lvl > ul > li {
        padding-left: 25px;
    }

    h1, .h1 {
        font-size: 37px;
    }

    h2, .h2, .intro h1 {
        font-size: 30px;
    }

    h3, .h3 {
        font-size: 24px;
    }

    h4, .h4, .header-section {
        font-size: 20px;
    }

    .mobile-nav {
        position: fixed;
        visibility: hidden;
        left: 100%;
    }

    .mobile-nav-opened .mobile-nav {
        visibility: visible;
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 50px;
        background-color: #d0d3d4;
        overflow: auto;
    }

    .mobile-nav-opened .main-nav-bar {
        padding-right: 5px;
    }

    .mobile-nav-opened .search-nav-wrapper {
        padding: 0;
    }

    .hamburger-item {
        position: relative;
        width: 45px;
        vertical-align: middle;
        text-align: center;
    }

    .hamburger-trigger {
        display: inline-block;
        vertical-align: top;
        width: 28px;
        height: 28px;
        cursor: pointer;
    }

        .hamburger-trigger > i {
            position: relative;
            display: block;
            height: 5px;
            background: #4d4d4d;
            opacity: 1;
            left: 0;
            -webkit-transform: rotate(0deg);
            -moz-transform: rotate(0deg);
            -o-transform: rotate(0deg);
            transform: rotate(0deg);
            -webkit-transition: .25s ease-in-out;
            -moz-transition: .25s ease-in-out;
            -o-transition: .25s ease-in-out;
            transition: .25s ease-in-out;
        }

            .hamburger-trigger > i:nth-child(1) {
                top: 1px;
            }

    .mobile-nav-opened .hamburger-trigger > i:nth-child(1) {
        top: 12px;
        -webkit-transform: rotate(135deg);
        -moz-transform: rotate(135deg);
        -o-transform: rotate(135deg);
        transform: rotate(135deg);
    }

    .hamburger-trigger > i:nth-child(2) {
        top: 6px;
    }

    .mobile-nav-opened .hamburger-trigger > i:nth-child(2) {
        opacity: 0;
        left: -30px;
    }

    .hamburger-trigger > i:nth-child(3) {
        top: 11px;
    }

    .mobile-nav-opened .hamburger-trigger > i:nth-child(3) {
        top: 2px;
        -webkit-transform: rotate(-135deg);
        -moz-transform: rotate(-135deg);
        -o-transform: rotate(-135deg);
        transform: rotate(-135deg);
    }

    .mobile.main-logo {
        display: table-cell;
        height: 45px;
        vertical-align: top;
    }

        .mobile.main-logo img {
            position: relative;
            top: 0;
        }

    .mobile-nav-opened .page-wrapper {
        position: fixed;
        right: 0;
        right: 100%;
        margin-right: -50px;
    }

    .mobile-nav .main-nav,
    .mobile-nav .user-nav,
    .mobile-nav .item {
        width: auto;
        display: block;
        float: none;
        font-size: 18px;
        margin: 0;
    }

    .mobile-nav .main-nav,
    .mobile-nav .user-nav,
    .mobile-nav .nav-footer {
        overflow: hidden;
    }

    .mobile-nav .main-nav {
        background-color: #5b6770;
        color: #fff;
    }

    .mobile-nav .item.item-home {
        min-height: 45px;
        line-height: 45px;
        padding: 0 16px;
    }

    .mobile-nav .item {
        padding: 6px 16px;
        border-bottom: 1px solid rgba(255,255,255,0.5);
        color: inherit;
        cursor: pointer;
    }

        .mobile-nav .item:active {
            -webkit-box-shadow: rgba(0,0,0,0.2) 0 0 0 20px inset;
            -moz-box-shadow: rgba(0,0,0,0.2) 0 0 0 20px inset;
            box-shadow: rgba(0,0,0,0.2) 0 0 0 20px inset;
        }

        .mobile-nav .item.m-switch-label,
        .mobile-nav .item.m-language-label,
        .mobile-nav .item.m-region-label {
            position: relative;
            background: rgb(244,244,244);
            color: #000;
            border-color: #e3e5e5;
        }

            .mobile-nav .item.m-switch-label + .onoffswitch {
                position: absolute;
                right: 5px;
                top: 50%;
                -webkit-transform: translateY(-50%);
                -moz-transform: translateY(-50%);
                -ms-transform: translateY(-50%);
                -o-transform: translateY(-50%);
                transform: translateY(-50%);
            }

    .item.m-switch-label + .onoffswitch .onoffswitch-label {
        -webkit-transform: scale(0.65);
        -moz-transform: scale(0.65);
        -ms-transform: scale(0.65);
        -o-transform: scale(0.65);
        transform: scale(0.65);
    }

        .item.m-switch-label + .onoffswitch .onoffswitch-label::before {
            margin-right: -2px;
            top: 50%;
            -webkit-transform: translateY(-50%);
            -moz-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
            -o-transform: translateY(-50%);
            transform: translateY(-50%);
        }

    .mobile-nav .sub-nav .item.m-language-label:hover,
    .mobile-nav .sub-nav .item.m-region-label:hover {
        background-color: #d0d3d4;
    }

    .mobile-nav .item a {
        color: inherit;
    }

    .mobile-nav .user-nav {
        background-color: #a2aaad;
        color: #333333;
    }

    .mobile-nav .nav-footer .item {
        border-bottom: none;
    }

    .boxes-list {
        margin: 0 -16px;
    }

        .boxes-list .box {
            padding: 0 16px;
        }

        .boxes-list .box-icon {
            padding-bottom: 25px;
        }

        .boxes-list .box h2,
        .boxes-slider .box h2 {
            font-size: 18px;
        }

        .boxes-list .box p,
        .boxes-slider .box p {
            font-size: 14px;
        }

    .nav-copy .copyrights {
        float: none;
        text-align: center;
        font-size: 11px;
    }

    .page-footer .nav-footer {
        display: none;
    }

    .cell .inner-text > a {
        font-size: 16px;
    }

    .aside-panel > dd {
        font-size: 15px;
        padding: 8px 12px;
    }
    /* report */
    .report-section-state-icon {
        margin-top: 0;
    }
}

@media (max-width: 992px) {
    .tabs-nav-list .tab {
        font-size: 1.8vw;
        text-overflow: ellipsis;
        overflow: hidden;
    }

    .aside-panel,
    .aside-panel > dd {
        font-size: 14px;
    }

        .aside-panel p {
            overflow: hidden;
            text-overflow: ellipsis;
        }

    .p1 {
        font-size: 18px;
    }

    .p2 {
        font-size: 16px;
    }

    .p3 {
        font-size: 14px;
    }

    .header-second-section p {
        font-size: 18px;
    }

    .content-text aside {
        margin-bottom: 30px;
    }

    .content-text figure > img {
        border-width: 3px;
    }

    .content-text figure {
        padding-top: 22px;
    }

    .content-text figcaption .p4 {
        line-height: 1.3;
    }

    .icon-tiles .flyout-nav .main-lvl > li {
        font-size: 14px;
    }

    .image-text-section .text h2 {
        font-weight: 700;
    }

    .image-text-section .text h2,
    .sign-in-form .alert,
    .sign-in-form .form-label,
    .sign-in-form .forgot-link {
        font-size: 18px;
    }

    .single-message-section p {
        font-size: 16px;
        margin-bottom: 30px;
    }

    .sign-in-form .forgot-link {
        position: relative;
        top: 8px;
        float: left;
    }

    .sign-in-choices .choice.register {
        text-align: center;
    }

        .sign-in-choices .choice.register h1 {
            margin-left: 0;
        }

        .sign-in-choices .choice.register .btn {
            margin-left: 0;
        }

    .single-message-section .inner {
        width: auto;
    }

    .single-message-section h1 {
        margin-top: 0;
    }

    .image-text-section .inner,
    .hot-section {
        padding-top: 40px;
        padding-bottom: 40px;
    }

    .page-section p,
    .p1 {
        font-size: 18px;
    }

    .inner-half > div,
    .inner-half > .img {
        display: block;
        width: auto;
    }

    .inner-half > .img {
        margin-bottom: 15px;
    }

    .inner-half > .txt {
        padding-left: 0;
    }

        .inner-half > .txt p {
            font-size: 16px;
        }

    .inner-half .btn,
    .cell .inner-text > a {
        font-size: 14px;
    }

    .inner-text .btn {
        padding: 0 15px;
    }

    .tiles-carousel.cold > section:first-child {
        width: 38%;
    }

    .tiles-carousel.cold > section:last-child {
        width: 62%;
    }

    .boxes-list .box-image,
    .boxes-slider .box-image {
        width: auto;
        height: auto;
    }

    .boxes-list.bigger .box p,
    .boxes-slider.bigger .box p {
        font-size: 18px;
    }

    .slick-inner.slick-img-text h1 {
        font-size: 34px;
    }

    .slick-inner.slick-img-text p {
        font-size: 16px;
        line-height: 1.2;
    }

    .tabs-nav > ul > li {
        vertical-align: top;
        font-size: 15px;
        line-height: 1.1;
        padding-top: 7px;
    }

    .content-header h1 + p {
        font-size: 18px;
    }

    h2.list-section-header {
        margin-top: 44px;
    }

    .thumb,
    .thumb-more .icon {
        width: 90px;
        height: 90px;
        min-width: 90px;
        min-height: 90px;
    }

        .thumb img {
            max-width: 100%;
            height: auto;
        }

    .thumb-holder {
        width: 90%;
    }

        .thumb-holder .sign,
        .thumb-more .sign {
            font-size: 17px;
        }
}

@media (max-width: 960px) {
    .dash-icon {
        width: 70px;
        height: 70px;
        -webkit-background-size: cover;
        background-size: cover;
    }

    .dash-options-list > .header,
    .dash-options-list .label {
        font-size: 16px;
    }

    .pausing-carousel {
        max-height: 320px;
    }

    .carousel-slide {
        height: 320px;
    }

        .illustration .carousel-slide p,
        .carousel-slide p {
            font-size: 18px;
        }

    .action-btn {
        height: 36px;
        line-height: 36px;
        padding: 0 18px;
    }
}

@media (max-width: 768px) {
    .is-mobile .tiles-carousel .slide-cell.video-preview.yt .title {
        top: 0;
        width: 100%;
        left: 0;
        right: 0;
        height: 46px;
        line-height: 46px;
        background-color: #000;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .aside-panel > dd {
        font-size: 18px;
        padding: 10px 20px;
    }

    .breadcrumbs {
        position: relative;
        white-space: nowrap;
        overflow: hidden;
    }

        .breadcrumbs::after {
            display: block;
            content: '';
            position: absolute;
            right: 0;
            top: 0;
            bottom: 0;
            width: 20px;
            background: #fff;
            box-shadow: #fff 0 0 40px 20px;
        }

    .faq-defined .content ul {
        -webkit-column-count: 2;
        -moz-column-count: 2;
        column-count: 2;
    }

    .tiles-carousel .slide-cell {
        height: 480px;
    }

        .tiles-carousel .slide-cell .title {
            font-size: 37px;
        }

    .tiles-carousel.hot-tiles > section {
        position: relative;
        width: auto;
        display: block;
    }

    .center-point.tiles-center {
        position: static;
        background-color: #707070;
        color: #fff;
        padding: 5px 20px;
        display: block;
        height: auto;
        width: auto;
        border: none;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        border-radius: 0;
        margin: 0;
    }

        .center-point.tiles-center > .label {
            position: static;
            color: inherit;
        }

    .tiles-carousel.hot-tiles .x4 {
        height: auto;
    }

        .tiles-carousel.hot-tiles .x4 .cell {
            width: auto !important;
            height: auto;
            display: block;
            padding: 0;
        }

    .hot-tiles .cell .label {
        position: relative;
        top: auto;
        right: auto;
        bottom: auto;
        left: auto;
        font-size: 22px;
        padding-right: 20px;
        padding-left: 75px;
        display: block;
        width: auto;
        height: auto;
        min-height: 50px;
        line-height: 50px;
        text-align: left;
        -webkit-transform: none;
        -moz-transform: none;
        -ms-transform: none;
        -o-transform: none;
        transform: none;
    }

        .hot-tiles .cell .label:active {
            -webkit-box-shadow: rgba(0,0,0,0.25) 0 0 30px 30px inset;
            -moz-box-shadow: rgba(0,0,0,0.25) 0 0 0 30px inset;
            box-shadow: rgba(0,0,0,0.25) 0 0 0 30px inset;
        }

        .hot-tiles .cell .label img {
            position: absolute;
            width: auto;
            height: 30px;
            left: 20px;
            top: 50%;
            margin-top: -15px;
        }

    .icon-tiles .flyout-nav {
        position: relative;
    }

        .icon-tiles .flyout-nav > .inner {
            height: auto;
            display: block;
        }

    .cell .check-trigger {
        visibility: visible;
    }

    .icon-tiles .flyout-nav .main-lvl > li {
        position: relative;
        font-size: 16px;
        border-top: 1px solid rgba(0,0,0,0.15);
    }

        .icon-tiles .flyout-nav .main-lvl > li > .label,
        .icon-tiles .flyout-nav .sub-lvl ul > li > a {
            position: relative;
            display: block;
            padding: 12px 20px 12px 20px;
            height: auto;
            min-height: auto;
            line-height: normal;
            font-size: inherit;
            background-image: none;
        }

    .icon-tiles .flyout-nav .sub-lvl {
        position: static;
        opacity: 1;
        visibility: visible;
        display: none;
    }

    .check-point:checked ~ .sub-lvl,
    .check-point:checked ~ .sub-lvl > ul {
        width: auto;
        height: auto;
        display: block;
    }

    .icon-tiles .flyout-nav .main-lvl > li:hover,
    .icon-tiles .flyout-nav .main-lvl > li:focus {
        background-color: transparent;
    }

    .icon-tiles .flyout-nav .sub-lvl > ul > li {
        display: block;
        padding: 0;
        border-top: 1px solid rgba(0,0,0,0.1);
    }

    .carousel-slide,
    .tiles-carousel .slide-cell,
    .tiles-slider {
        max-height: 430px;
    }

        .tiles-slider.learn-more-tiles {
            max-height: none;
        }

    .check-point ~ .check-container-mobile {
        display: none;
    }

    .check-point:checked ~ .check-container-mobile {
        display: block;
        opacity: 1;
        visibility: visible;
    }
}

@media (max-width: 767px) {
    .mobile-visible {
        display: block !important;
    }

    .illustration .carousel-slide p,
    .carousel-slide p {
        font-size: 14px;
    }

    .tabs-nav-list {
        position: relative;
    }

        .tabs-nav-list,
        .tabs-nav-list .tab {
            display: block;
            height: auto;
            text-align: left;
            background-color: #b9baba;
        }

            .tabs-nav-list .tab {
                position: absolute;
                visibility: hidden;
                font-size: 16px;
                font-weight: bold;
                height: 32px;
                line-height: 32px;
                white-space: nowrap;
                padding: 0 45px;
                color: #fff;
            }

                .tabs-nav-list .tab .label {
                    position: absolute;
                    visibility: hidden;
                    width: 16px;
                    height: 16px;
                    right: 45px;
                    top: 50%;
                    margin-top: -8px;
                }

                    .tabs-nav-list .tab .label::before,
                    .tabs-nav-list .tab .label::after {
                        content: '';
                        display: block;
                        position: absolute;
                        background: #fff;
                    }

                    .tabs-nav-list .tab .label::after {
                        width: 16px;
                        height: 4px;
                        top: 50%;
                        -webkit-transform: translateY(-50%);
                        -moz-transform: translateY(-50%);
                        -ms-transform: translateY(-50%);
                        -o-transform: translateY(-50%);
                        transform: translateY(-50%);
                    }

                    .tabs-nav-list .tab .label::before {
                        width: 4px;
                        height: 16px;
                        left: 50%;
                        -webkit-transform: translateX(-50%);
                        -moz-transform: translateX(-50%);
                        -ms-transform: translateX(-50%);
                        -o-transform: translateX(-50%);
                        transform: translateX(-50%);
                    }

                .tabs-nav-list .tab:nth-child(even) {
                    background-color: #a2aaad;
                }

                .tabs-nav-list .tab.active {
                    position: relative;
                    visibility: visible;
                    background-color: #ff9900;
                }

                    .tabs-nav-list .tab.active .label {
                        visibility: visible;
                    }

            .tabs-nav-list.opened .tab {
                position: relative;
                visibility: visible;
            }

                .tabs-nav-list.opened .tab.active .label::before {
                    visibility: hidden;
                }

    .ui-dialog {
        width: auto !important;
        left: 0 !important;
        right: 0 !important;
        -webkit-transform: none;
        -moz-transform: none;
        -ms-transform: none;
        -o-transform: none;
        transform: none;
    }

        .ui-dialog .ui-dialog-titlebar-close {
            left: auto;
            right: 0;
        }

        .ui-dialog .jwplayer {
            margin-left: auto;
            margin-right: auto;
        }
    /*.hero-page-header {
        font-size: 0;
        padding: 0;
        margin-bottom: 0;
    }
    .hero-page-header .icon {
        visibility: hidden;
    }*/
    .hero-page-header {
        font-size: 5vw;
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .hero-header-label {
        padding-top: 70px;
    }

        .hero-header-label > .icon {
            top: 0;
            margin-top: 0;
            left: 50%;
            margin-left: -28px;
            width: 56px;
            height: 56px;
            -webkit-background-size: cover;
            background-size: cover;
        }

    .block,
    .block > .img,
    .block > .txt {
        display: block;
        width: auto;
        padding-left: 0;
        padding-right: 0;
    }

    .content-text aside {
        margin-top: 30px;
    }

    .content-halfs > .row > div {
        display: block;
    }

    .content-halfs .ill-wrap {
        width: 100vw;
        height: 50vw;
    }

    .content-halfs > .row:nth-child(even) {
        background: none;
    }

        .content-halfs > .row:nth-child(even) .brief::after {
            box-shadow: rgb(255,255,255) 0 0 110px 50px;
        }

    .block > .txt {
        font-size: 2.25vw;
    }

    .boxes-slider .box-icon {
        padding-bottom: 30px;
    }

    .blocks-line > div:first-child {
        padding-bottom: 10px;
        -webkit-box-shadow: inset 0 -10px 0 0 #fff;
        -moz-box-shadow: inset 0 -10px 0 0 #fff;
        box-shadow: inset 0 -10px 0 0 #fff;
    }

    .tabs-nav > ul > li {
        padding: 7px;
        font-size: 2.5vw;
        vertical-align: middle;
    }

    .content-header.featured p:first-child {
        font-size: 30px;
    }

    .content-header.featured p {
        font-size: 18px;
    }

    .d-size {
        display: none;
    }

    .m-size {
        display: block;
    }

    .content-spaces-out {
        margin-right: 45px;
        margin-left: 100px;
    }

    .grid-spaces-out {
        margin-right: 32px;
        margin-left: 32px;
    }

    .grid-spaces-in {
        padding-right: 32px;
        padding-left: 32px;
    }

    .thumbs-list-more .icon {
        visibility: hidden;
        position: absolute;
        z-index: -1;
    }

    .thumb-more .sign {
        display: block;
        width: auto;
    }

    .thumb-more .br {
        display: none;
    }

    .btn-md {
        font-size: 16px;
        padding: 0 18px;
    }

    .tiles-carousel > section .inner-text {
        padding-top: 30px;
        padding-bottom: 30px;
        width: 90%;
    }

    .tiles-carousel > section:first-child,
    .tiles-carousel > section:last-child,
    .tiles-carousel.cold > section:first-child,
    .tiles-carousel.cold > section:last-child {
        display: block;
        width: auto;
    }

    .tiles-carousel .x4 {
        display: block;
        width: auto;
        height: 320px;
    }

    .cell .inner-act .btn {
        margin-top: 15px;
    }

    .cell .inner-text {
        width: 86%;
        font-size: 22px;
        position: static;
        min-height: 50%;
        margin: 0 auto;
        -webkit-transform: none;
        -moz-transform: none;
        -ms-transform: none;
        -o-transform: none;
        transform: none;
    }

    .halfs, .halfs > div {
        display: block;
        width: auto;
    }

        .halfs > div {
            padding: 32px;
        }

    .inner-half {
        min-height: 0;
        height: auto;
    }

        .inner-half > div,
        .inner-half > .img {
            display: table-cell;
            width: 50%;
        }

        .inner-half > .img {
            margin-bottom: 0;
        }

        .inner-half > .txt {
            padding-left: 32px;
        }

        .inner-half > h2 {
            margin-top: 0;
        }

    .boxes-section {
        padding: 36px 0;
    }

        .boxes-section > .section-header {
            margin-bottom: 20px;
        }

    .boxes-list .box {
        display: table;
        width: 100%;
    }

        .boxes-list .box > div {
            display: table-cell;
            vertical-align: middle;
            text-align: left;
        }

    .boxes-list .box-icon {
        width: 35%;
        padding: 25px;
        min-width: 100px;
    }

    .boxes-list .box-text p {
        display: none;
    }

    .boxes-list .box::after {
        width: 100%;
        height: 1px;
        left: 0;
        right: 0;
        top: 100%;
        margin-top: 0;
    }

    .sign-in-choices .row {
        display: block;
    }

    .sign-in-form {
        margin: 0 auto;
        width: auto;
        max-width: 288px;
    }

        .sign-in-form .form-group {
            margin-bottom: 20px;
        }

    .sign-in-choices .choice.sign-in h1 {
        left: 0;
        text-align: center;
    }

    .sign-in-choices .row > .choice,
    .sign-in-choices .row > .separator,
    .columns > .column {
        display: block;
        width: 100%;
    }

    .columns > .cols-separator {
        display: none;
    }

    .columns > .column:last-of-type {
        margin-top: 39px;
    }

    .btn-group .btn {
        margin-left: 0;
        margin-right: 0;
        display: block;
        margin-bottom: 15px;
        width: 100%;
    }

    .form .btn-group.tar .btn {
        margin-left: 0;
    }

    .form-contact-us .col-sm-7 {
        padding-top: 39px;
    }

    .sign-in-choices .row > .separator .label {
        padding: 0;
    }

        .sign-in-choices .row > .separator .label::before,
        .sign-in-choices .row > .separator .label::after {
            content: '';
            position: absolute;
            background-color: #e6e6e6;
            height: 2px;
            width: 1000px;
            top: 50%;
            margin-top: -1px;
            bottom: auto;
            z-index: 0;
        }

        .sign-in-choices .row > .separator .label::before {
            left: 100%;
            right: auto;
            margin-left: 25px;
        }

        .sign-in-choices .row > .separator .label::after {
            left: auto;
            right: 100%;
            margin-right: 25px;
        }

    .sign-in-form,
    .sign-in-choices .row > .separator {
        margin-bottom: 40px;
    }

    .sign-in-choices .choice.register .btn {
        margin: 20px 0 0 0;
    }

    .sign-in-form .alert,
    .sign-in-form .form-label,
    .sign-in-form .forgot-link {
        font-size: 16px;
    }

    .image-text-section {
        text-align: center;
    }

        .image-text-section .image {
            padding-top: 0;
            padding-bottom: 20px;
            padding-right: 0;
        }

            .image-text-section .image img {
                margin: 0 auto;
            }

    .content-spaces-in {
        padding-left: 40px;
        padding-right: 40px;
    }

    h1, .h1 {
        font-size: 37px;
    }

    h2, .h2, .intro h1,
    .page-section.halfs h1 {
        font-size: 24px;
    }

    h3, .h3 {
        font-size: 20px;
    }

    .header-section {
        font-size: 16px;
    }

    .header-first-section {
        padding-top: 35px;
        padding-bottom: 35px;
    }

        .header-first-section.featured p {
            display: block;
        }

    .featured-section .carousel-slide {
        padding-top: 24px;
        padding-bottom: 24px;
    }

    .content-container > .text-header {
        padding-left: 32px;
        padding-right: 32px;
    }

    .results-list-wrap {
        position: relative;
        padding-top: 56px;
        padding-bottom: 46px;
    }

        .results-list-wrap > article,
        .results-list-wrap > div {
            position: static;
        }

        .results-list-wrap .pagination {
            position: absolute;
            left: 0;
            right: 0;
            height: 36px;
            line-height: 36px;
            background-color: #5b6770;
            color: #fff;
            padding: 0;
            text-align: center;
        }

            .results-list-wrap .pagination a {
                display: inline-block;
                vertical-align: top;
                color: inherit;
                height: inherit;
                line-height: inherit;
            }

            .results-list-wrap .pagination:first-of-type {
                top: 0;
            }

            .results-list-wrap .pagination:last-of-type {
                bottom: 0;
            }

            .results-list-wrap .pagination .arrow {
                position: absolute;
                top: 0;
            }

            .results-list-wrap .pagination .arrow-prev {
                left: 12px;
            }

            .results-list-wrap .pagination .arrow-next {
                right: 12px;
            }

        .results-list-wrap .results-list {
            margin: 0;
        }

    .pagination + ul.results-list {
        margin-top: 12px;
    }

    .featured-section {
        margin-bottom: 0;
    }

    hr + .content-body {
        margin-top: 20px;
    }

    .boxes-list .box-image {
        position: absolute;
        border: 2px solid #ddd;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
    }

    .boxes-list.bigger {
        display: block;
        width: 90%;
        margin: 0 auto;
    }

        .boxes-list.bigger .box {
            position: relative;
            min-height: 140px;
            margin-top: 32px;
        }

            .boxes-list.bigger .box > div {
                display: block;
                white-space: normal;
            }

        .boxes-list.bigger .box-text {
            vertical-align: top;
            padding-left: 160px;
        }

            .boxes-list.bigger .box-text p {
                display: block;
                font-size: 16px;
            }

        .boxes-list.bigger .box::after {
            visibility: hidden;
        }

    .tabs-panel,
    .tabs-panel-nav {
        display: none;
    }

    .label-tab {
        display: block;
        position: relative;
        font-size: 18px;
        border-top: 1px solid #ddd;
        border-bottom: 1px solid #ddd;
        padding: 12px 60px 12px 32px;
        margin-top: -1px;
        font-weight: bold;
        color: #000;
    }

        .label-tab:hover,
        .label-tab:focus {
            color: #000;
            text-decoration: none;
        }

        .label-tab::before,
        .label-tab::after {
            content: '';
            position: absolute;
            right: 32px;
            background: #464646;
        }

        .label-tab::before {
            top: 50%;
            margin-top: -2px;
            width: 24px;
            height: 5px;
        }

        .label-tab::after {
            width: 5px;
            height: 24px;
            right: 41px;
            top: 50%;
            margin-top: -12px;
            opacity: 1;
            visibility: visible;
            -webkit-transition: all 0.15s ease-in-out;
            -moz-transition: all 0.15s ease-in-out;
            -ms-transition: all 0.15s ease-in-out;
            -o-transition: all 0.15s ease-in-out;
            transition: all 0.15s ease-in-out;
        }

        .label-tab.active {
            border-bottom-color: transparent;
        }

            .label-tab.active::after {
                margin-top: -24px;
                opacity: 0;
                visibility: hidden;
            }

            .label-tab.active + .tabs-panel {
                padding: 0 0 16px 0;
                display: block;
            }

    .links-list,
    .page-section p {
        font-size: 14px;
    }

    .tabs-nav {
        padding: 0 !important;
    }

    .tabs-section > header {
        padding-top: 30px;
        padding-bottom: 30px;
    }

        .tabs-section > header p {
            font-size: 18px;
        }

            .tabs-section > header p:last-child {
                margin-bottom: 0;
            }

    .slick-inner.slick-img-text.tac,
    .slick-inner.slick-img-text.tac .text {
        text-align: center;
    }

        .slick-inner.slick-img-text.tac .image {
            margin-left: auto;
            margin-right: auto;
        }

    .slick-inner.slick-img-text .image {
        width: 120px;
    }

    .slick-inner.slick-img-text .text {
        padding-left: 0;
        padding-top: 18px;
    }

    .slick-inner.slick-img-text .image .label-tag {
        display: inline-block;
        font-size: 18px;
    }

    .slick-inner.slick-img-text .text .label-tag {
        display: none;
    }

    .slick-inner.slick-img-text h1 {
        font-size: 30px;
        font-weight: 100;
    }
    /* report */
    .report-section-state-icon {
        margin-top: -2px;
    }

    .report-summary-header {
        padding-left: 44px;
    }

    .report-item-state.find {
        font-size: 0;
        width: 22px;
        height: 22px;
    }

        .report-item-state.find:before,
        .report-item-state.find::before,
        .report-item-state.find:after,
        .report-item-state.find::after {
            content: '';
            display: block;
            position: absolute;
            background-color: #008e96;
        }

        .report-item-state.find:before,
        .report-item-state.find::before {
            left: 50%;
            margin-left: -2px;
            height: 22px;
            width: 4px;
        }

        .report-item-state.find:after,
        .report-item-state.find::after {
            top: 50%;
            margin-top: -2px;
            width: 22px;
            height: 4px;
        }

    .content-container .report-section-header + h2,
    .content-container .report-summary-list + h2 {
        margin-left: -45px;
        margin-right: -45px;
        padding-left: 89px;
        padding-right: 45px;
    }
    /* report summary header */
    .article-aside-header,
    .article-aside-header article,
    .article-aside-header aside,
    .article-aside-header.hot-colors article,
    .article-aside-header.hot-colors aside {
        display: block;
        width: 100%;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
    }

    .article-aside-header-wrap {
        padding-left: 0px;
        padding-right: 0px;
    }

    .article-aside-header article,
    .article-aside-header aside,
    .article-aside-header.hot-colors article,
    .article-aside-header.hot-colors aside {
        padding: 40px;
        margin: 0;
    }

    .sides-descrition .row,
    .sides-descrition .row > .side {
        display: block;
    }

    .panel-header {
        padding: 4vw 0;
    }

    .dashboard-description {
        margin-top: -20px;
    }

        .dashboard-description > div {
            display: block;
            width: auto;
        }

        .dashboard-description .dash-header {
            height: auto;
            padding: 20px 0;
        }

        .dashboard-description .dash-icon {
            width: 88px;
            height: 88px;
        }

        .dashboard-description .dash-header .dash-label {
            font-size: 24px;
            width: 150px;
        }

        .dashboard-description .dash-desc h5,
        .dashboard-description .dash-desc p {
            font-size: 18px;
        }

        .dashboard-description .dash-desc {
            min-height: 0;
        }

        .dashboard-description .dash-footer {
            padding-bottom: 30px;
        }

        .dashboard-description .dash-header > a {
            position: static;
            -webkit-transform: none;
            -moz-transform: none;
            -ms-transform: none;
            -o-transform: none;
            transform: none;
        }
}

@media (max-width: 600px) {
    .dashboard {
        padding: 0;
        text-align: left;
    }

    .dash-options-list {
        font-size: 0;
        margin: 0;
    }

        .dash-options-list,
        .dash-options-list > li {
            display: block;
        }

            .dash-options-list > li {
                border-color: transparent;
                border-top: 3px solid #fff;
                background: rgb(194,70,5);
                width: 100%;
                padding: 12px 24px;
                position: relative;
            }

            .dash-options-list .dash-icon {
                position: absolute;
                top: 50%;
                margin-top: -18px;
                left: 0;
                width: 32px;
                height: 32px;
                -webkit-background-size: cover;
                background-size: cover;
            }

            .dash-options-list .dash-label {
                display: block;
                height: 32px;
                line-height: 32px;
                width: auto;
                margin: 0 0 0 50px;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }

            .dash-options-list .label, .dash-label {
                font-size: 21px;
            }

            .dash-options-list > .header {
                font-size: 28px;
                font-weight: 100;
                text-align: center;
                padding: 4px 0;
                background-image: none;
            }

            .dash-options-list a, .dash-header a {
                display: block;
            }

            .dash-options-list .label {
                margin: 0;
                padding-left: 50px;
                display: block;
                width: auto;
            }

            .dash-options-list > .header:after,
            .dash-options-list > li + li:before {
                display: none;
            }

    .report-row-section-inner,
    .report-row-section-inner > section {
        display: block;
    }

    .report-article-section-inner {
        padding-right: 0;
    }

    .report-aside-section {
        margin-top: 90px;
        overflow: visible;
        margin-left: -45px;
        margin-right: -45px;
    }

    .report-aside-section-inner > .report-section-suggestions {
        font-size: 18px;
    }
}

@media (max-width: 480px) {
    .nav-footer-map {
        padding: 0 !important;
    }

        .nav-footer-map dl,
        .nav-footer-map .grid-item {
            margin: 0;
            padding: 0;
        }

            .nav-footer-map dl:nth-child(even),
            .nav-footer-map dd:nth-child(even) {
                background: rgba(255,255,255, 0.25);
            }

        .nav-footer-map dt,
        .nav-footer-map dd {
            position: relative;
            padding-top: 8px;
            padding-bottom: 8px;
            padding-right: 24px;
            padding-left: 24px;
            font-size: 14px;
            margin: 0;
        }

            .nav-footer-map dt::before,
            .nav-footer-map dt::after {
                position: absolute;
                content: '';
                width: 3px;
                height: 14px;
                top: 50%;
                margin-top: -7px;
                right: 24px;
                background: rgb(70,70,70);
            }

            .nav-footer-map dt::after {
                -webkit-transform: rotate(90deg);
                -moz-transform: rotate(90deg);
                -ms-transform: rotate(90deg);
                -o-transform: rotate(90deg);
                transform: rotate(90deg);
                -ms-filter: blur(0);
                filter: blur(0);
            }

        .nav-footer-map dd {
            display: none;
        }

        .nav-footer-map dl.opened dd {
            display: block;
        }

        .nav-footer-map dl.opened dt::before {
            display: none;
        }

    .carousel-slide {
        font-size: 12px;
    }

        .carousel-slide h1 {
            font-size: 20px;
        }

        .illustration .carousel-slide p,
        .carousel-slide p {
            margin-top: 1em;
            font-size: 12px;
        }

    .tabs-nav-list .tab {
        padding: 0 24px;
    }

        .tabs-nav-list .tab .label {
            right: 24px;
        }

    .inner-half > .img,
    .inner-half > .txt {
        display: block;
        width: auto;
        padding-left: 0;
        padding-right: 0;
    }

    .inner-half > .img {
        margin-bottom: 15px;
    }

    .faq-defined .content ul {
        -webkit-column-count: 1;
        -moz-column-count: 1;
        column-count: 1;
    }

    .slick-inner.slick-img-text h1 {
        font-size: 24px;
    }

    .tiles-carousel .slide-cell {
        height: 300px;
    }

        .tiles-carousel .slide-cell .title {
            font-size: 24px;
        }

    .thumbs-list h2 {
        font-size: 18px;
    }

    .thumb-holder .sign,
    .thumb-more .sign {
        font-size: 16px;
    }

    .header-section > p {
        width: auto;
    }

    .block > .txt {
        font-size: 14px;
    }

    h1, .h1 {
        font-size: 32px;
    }

    .content-header.featured p:first-child {
        font-size: 24px;
    }

    .content-header.featured p {
        font-size: 16px;
    }

    .boxes-slider,
    .boxes-slider .box,
    .boxes-slider .box > div {
        position: relative;
        display: block;
        width: auto;
        padding: 0;
    }

        .boxes-slider .box {
            position: relative;
            width: 70%;
            margin: 20px auto 0 auto;
            padding-bottom: 20px;
            min-height: 90px;
        }

            .boxes-slider .box:last-of-type {
                margin-bottom: 20px;
                border-bottom: none;
            }

            .boxes-slider .box > .box-icon,
            .boxes-slider .box > .box-image {
                width: 90px;
            }

            .boxes-slider .box > .box-text {
                padding: 0 0 0 110px;
                text-align: left;
            }

            .boxes-slider .box > .box-image + .box-text {
                min-height: 100px;
            }

            .boxes-slider .box > .box-text h2 {
                font-weight: 700;
            }

        .boxes-list.buttoned .box,
        .boxes-slider.buttoned .box {
            padding: 0;
            display: block;
        }

        .boxes-slider .box::after {
            display: none;
        }

        .boxes-slider .box > .box-image {
            position: absolute;
            left: 0;
            top: 6px;
            width: 90px;
            height: 90px;
            margin: 0;
        }

        .boxes-slider .box.no-thumbnail > .box-text {
            padding-left: 0;
        }

        .boxes-list.bigger .box p,
        .boxes-slider.bigger .box p {
            font-size: 16px;
        }

        .boxes-slider.buttoned .box .btn {
            position: static;
            margin-left: 0;
            margin-top: 20px;
        }

    .content-spaces-out {
        margin-right: 22px;
        margin-left: 22px;
    }

    .content-spaces-in {
        padding-right: 22px;
        padding-left: 22px;
    }

    .grid-spaces-in {
        padding-left: 18px;
        padding-right: 18px;
    }

    .grid-spaces-out {
        margin-left: 18px;
        margin-right: 18px;
    }

    .cells-list > div {
        width: auto;
        float: none;
    }

    .tabs-nav {
        margin-bottom: 20px;
    }

    .content-header h1 + p {
        margin-bottom: 2em;
    }

    h2.list-section-header {
        margin-top: 20px;
    }

    .thumbs-list-cell {
        display: block;
        width: auto;
    }

    .thumb-holder {
        display: table;
        width: 100%;
        margin-bottom: 20px;
    }

        .thumb-holder .thumb,
        .thumb-holder .sign {
            display: table-cell;
            vertical-align: top;
        }

        .thumb-holder .sign {
            padding-left: 15px;
        }

    .thumb-more {
        margin-bottom: 20px;
    }

    .boxes-section > .section-header {
        font-size: 30px;
    }

    .boxes-slider.m-heads .box {
        width: 100%;
        max-width: 320px;
        display: table;
        border-bottom: 1px solid #ccc;
    }

        .boxes-slider.m-heads .box:last-of-type {
            border-bottom: none;
        }

        .boxes-slider.m-heads .box > div {
            position: static !important;
            display: table-cell;
            vertical-align: middle;
        }

        .boxes-slider.m-heads .box > .box-text {
            padding: 0 30px;
        }

            .boxes-slider.m-heads .box > .box-text p {
                display: none;
            }

    .faqs-carousel .boxes-slider .box {
        display: block;
        min-height: auto;
        border-bottom: 1px solid #ccc;
    }

        .faqs-carousel .boxes-slider .box:last-of-type {
            margin-bottom: 0;
            border-bottom: none;
        }

    .boxes-list.bigger {
        width: 100%;
    }

        .boxes-list.bigger .box {
            min-height: 100px;
            padding: 0;
        }

        .boxes-list.bigger .box-image {
            width: 100px;
            height: 100px;
        }

        .boxes-list.bigger .box-text {
            padding-left: 120px;
        }

    .results-list-wrap > * {
        width: auto;
    }

    .categories-nav-wrap {
        display: none;
    }

    .content-container .report-section-header + h2,
    .content-container .report-summary-list + h2 {
        margin-left: -22px;
        margin-right: -22px;
        padding-left: 66px;
        padding-right: 22px;
    }


    .article-aside-header-wrap {
        padding-left: 0px !important;
        padding-right: 0px !important;
    }

    .article-aside-header article,
    .article-aside-header aside,
    .article-aside-header.hot-colors article,
    .article-aside-header.hot-colors aside {
        padding: 24px;
        margin: 0;
    }

    .header-section {
        padding-left: 24px;
        padding-right: 24px;
    }

    .dashboard {
        padding: 0;
    }
}

@media (max-width: 479px) {
    .tiles-carousel .x4 .cell:nth-child(odd) {
        width: 40%;
    }

    .tiles-carousel .x4 .cell:nth-child(even) {
        width: 60%;
    }

    .content-body.grid-spaces-out > hr {
        margin: 0 -16px;
    }

    .main-nav-bar .item.partner-item {
        left: 76px;
    }

    .content-spaces-out {
        margin-right: 24px;
        margin-left: 24px;
    }

    .content-spaces-in {
        padding-right: 24px;
        padding-left: 24px;
    }

    .grid-spaces-out {
        margin-right: 16px;
        margin-left: 16px;
    }

    .grid-spaces-in {
        padding-right: 16px;
        padding-left: 16px;
    }

    .label-tab {
        font-size: 14px;
        padding: 12px 41px 12px 16px;
    }

        .label-tab::before {
            right: 16px;
        }

        .label-tab::after {
            right: 26px;
        }

    .block > .txt {
        font-size: 12px;
    }

    .lists-set .col-xs-6 {
        width: auto;
        float: none;
    }

    .boxes-section > .section-header {
        font-size: 24px;
    }

    .boxes-slider .box {
        width: 100%;
    }

        .boxes-slider .box > .box-text h2 {
            font-size: 5.75vw;
        }

    .cell .inner-text {
        font-size: 18px;
    }

    .tiles-carousel .x4 .cell:nth-child(odd) .inner-text {
        width: 70%;
    }

    .content-container .report-section-header + h2,
    .content-container .report-summary-list + h2 {
        margin-left: -24px;
        margin-right: -24px;
        padding-left: 68px;
        padding-right: 24px;
    }

    .dashboard {
        padding: 0;
    }
}
