﻿@model ContentTypeModel

@using (Html.BeginFormGroup(o => o.Title))
{
    <div class="form-group">
        <label class="col-sm-2 control-label">Title *</label>

        <div class="col-sm-10">@Html.TextBoxFor(o => o.Title, new { @class = "form-control" })</div>
    </div>
}
