﻿@model ContentTypeModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section HeaderTitle
{
    Create new Content Type
}

<div class="ibox-content">

    @Html.Partial("_ErrorAlert")

    @using (Html.BeginForm("Create", "ContentType", FormMethod.Post, new { @class = "form-horizontal" }))
    {

        @Html.Partial("_ContentTypeForm", Model)

        <hr />

        <div class="form-group">
            <div class="col-sm-4 col-sm-offset-2">
                @Html.ActionLink("Cancel", "Index", "ContentType", null, new { @class = "btn btn-white" })
                <button class="btn btn-primary" type="submit">Create</button>
            </div>
        </div>
    }

</div>