﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section head
{
    @System.Web.Optimization.Styles.Render("~/Content/plugins/datatables")
    @System.Web.Optimization.Scripts.Render("~/bundles/datatables")
    @System.Web.Optimization.Scripts.Render("~/bundles/contenttype")
}

@section HeaderTitle
{
    Content Types
}

<div class="ibox-content">

    <a href="@Url.Action("Create", "ContentType")" class="btn btn-primary"><em class="fa fa-plus"></em>&nbsp;&nbsp;Add new item</a>
    <hr />
    <table class="table table-hover" id="contenTypesGrid">
        <thead>
            <tr>
                <th scope="col">Edit</th>
                <th scope="col">Title</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>

@section scripts
{
    <script>
        var contentType = new ContentType("@Url.Action("GetContentTypes", "ContentType")", "@Url.Action("Update", "ContentType")");
        contentType.initialize();
    </script>
}