﻿@model ContentTypeModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section head
{
    @System.Web.Optimization.Scripts.Render("~/bundles/contenttype")
}

@section HeaderTitle
{
    Update @Model.Title
}

<div class="ibox-content">

    @Html.Partial("_ErrorAlert")
    <div id="errors" class="alert alert-danger" role="alert"></div>

    @using (Html.BeginForm("Update", "ContentType", FormMethod.Post, new { @class = "form-horizontal" }))
    {
        @Html.HiddenFor(o => o.ContentTypeId)

        @Html.Partial("_ContentTypeForm", Model)

        <hr />
        
        <div class="form-group">
            <div class="col-sm-4 col-sm-offset-1">
                @Html.ActionLink("Cancel", "Index", "ContentType", null, new { @class = "btn btn-white" })
                <button class="btn btn-primary" type="submit">Update</button>
            </div>
            <div class="col-sm-1 col-sm-offset-4">
                <button id="delete" class="btn btn-primary">Delete Content Type</button>
            </div>
        </div>
    }
</div>

@section scripts
{
    <script>
        var contentTypeUpdate = new ContentTypeUpdate("@Url.Action("Delete", "ContentType", new { id = Model.ContentTypeId })", "@Url.Action("Index", "ContentType")");
        contentTypeUpdate.initialize();
    </script>
}
