﻿@{
    Layout = null;
}
@using Mastercard.MarketingCenter.Services.Interfaces;
@using Newtonsoft.Json
@using System.Web.Mvc;
@model ConsentListViewModel

@if (Model.ApprovalNeeded)
{
    <!doctype html>
    <head>
        <title></title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        @System.Web.Optimization.Styles.Render(DependencyResolver.Current.GetService<IUrlService>().GetStaticContentCss())
    </head>
    <body>
        <div class="page-wrapper">
            <nav class="main-nav-bar sign-in-bar grid-spaces-in">
                <span class="logo">
                    <img src="/portal/content/themes/orange/img/mc-logo-sign-right-1x.png"
                         srcset="/portal/content/themes/orange/img/mc-logo-sign-right-2x.png 2x" width="103" height="45" alt="mastercard" class="w1024-or-more" />
                    <img src="/portal/content/themes/orange/img/mc-mobile-logo-1x.png"
                         srcset="/portal/content/themes/orange/img/mc-mobile-logo-2x.png 2x" width="51" height="45" alt="mastercard" class="w1023-or-less" />
                </span>
            </nav>
            <style>
                .content-spaces-in .mc-lead {
                    margin-top: 0;
                    margin-bottom: 10px;
                    font-size: 20px;
                }
            </style>
            <section class="content-spaces-in" style="min-height: 500px;">
                <div class="inner">
                    <h1 class="h2">@Resources.Forms.Consent_Title</h1>
                    <p class="mc-lead">
                        @Model.ConsentLanguageText
                    </p>
                    <br />
                    <div class="form-group btn-group">
                        <div class="paddt">
                            <a id="cmdSubmit" class="btn">
                                @Resources.Shared.Submit
                            </a>
                            <a id="cancel-button" href="javascript:history.go(-1);" class="btn action-btn">
                                @Resources.Shared.Cancel
                            </a>
                        </div>
                    </div>
                </div>
            </section>
            <script>
        (function () {
            function ConsentExpiredOkHandler()
            {
                $.ajax({
                    url: '@Url.Action("AcceptedConsents", "Consent")',
                    method: "POST",
                    dataType: "json",
                    traditional: true,
                    contentType: "application/json; charset=utf-8",
                    data:
                    JSON.stringify(@Html.Raw(JsonConvert.SerializeObject(new { acceptedConsentList = Model.ConsentsForApprove })))
                })
                    .done(function () {
                        var url = new URL(window.location.href);
                        var returnUrl = url.searchParams.get("ReturnUrl");
                        if (returnUrl)
                        {
                            window.location.replace(returnUrl);
                        } else {
                            window.location.replace("/portal");
                        }
                    })
                    .fail(function (jqXHR, textStatus, errorThrown) {
                        console.log("fail");
                    })
                    .always(function ()
                    {
                        console.log("always");
                    });
            }

            $("#cmdSubmit").click(ConsentExpiredOkHandler);
        }())
            </script>
        </div>
    </body>
}