﻿@model ConsentListViewModel

<div>
    @*
        <div>
            @Model.ConsentLanguageText
        </div>
        <ul>
                @foreach (var pendingConsent in Model.ConsentFiles)
                {
                    <li>
                        @pendingConsent.UseCategoryValue
                    </li>
                }
            </ul>
            <div>
                <button id="cmdSubmit">Submit</button>
            </div>
*@
</div>