﻿@using Mastercard.MarketingCenter.Cms.Services.Services
@model CustomizationModel

@if (!string.IsNullOrEmpty(Model.OrderableAssetId))
{
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">@Html.Raw(Model.Title)</h3>
        </div>
        <div class="panel-body">
            @Html.Raw(Model.Description)
        </div>
    </div>
}

<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">Friendly Name</th>
            <th scope="col">Internal Name</th>
            <th scope="col">Instructions</th>
            <th scope="col">Field Type</th>
            <th scope="col">Off</th>
            <th scope="col">Optional</th>
            <th scope="col">Required</th>
        </tr>
    </thead>

    <tbody>
        @for (int i = 0; i < Model.Customizations.Count(); i++)
        {
            var item = Model.Customizations[i];
            <tr>
                <td>@item.FriendlyName</td>
                <td>@item.InternalName</td>
                <td>@Html.Raw(item.Instructions)</td>
                <td>@item.FieldType</td>
                <td>@Html.RadioButtonFor(o => o.Customizations[i].State, CustomizationState.Off, new { data_id = item.CustomizationOptionId, @class = "customization", data_friendlyname = item.FriendlyName }) </td>
                <td>@Html.RadioButtonFor(o => o.Customizations[i].State, CustomizationState.Optional, new { data_id = item.CustomizationOptionId, @class = "customization", data_friendlyname = item.FriendlyName }) </td>
                <td>@Html.RadioButtonFor(o => o.Customizations[i].State, CustomizationState.Required, new { data_id = item.CustomizationOptionId, @class = "customization", data_friendlyname = item.FriendlyName }) </td>
            </tr>
        }

    </tbody>
</table>