﻿<template id="market-tag">
    <div v-bind:class="[cssClass, 'checkbox']">
        <label>
            <input type='checkbox'
                   v-bind:name="name"
                   v-bind:value="value"
                   v-bind:value-label="valueLabel"
                   v-bind:data-tag-id="tagId"
                   v-bind:data-tag-group="tagGroup"
                   v-bind:checked="isChecked"
                   @@click="toggle(isChecked)" />
            {{ valueLabel }}
        </label>
    </div>
</template>
<script src="@Url.Content("~/Scripts/vue/ViewModels/Shared/EditorTemplates/_MarketTagComponent.js")"></script>