﻿@using Mastercard.MarketingCenter.Common.Infrastructure
@using Mastercard.MarketingCenter.Data
@model Mastercard.MarketingCenter.Data.Entities.FieldDefinition
@{
    var fieldName = Convert.ToString(ViewData["fieldName"]);
    var contentItemData = (IDictionary<string, object>)ViewData["contentItemData"];
    var isReadOnly = ViewData["IsReadOnly"] != null ? (bool)ViewData["IsReadOnly"] : false;
    var filename = Convert.ToString(contentItemData.GetData(fieldName));
    var uniqueId = Guid.NewGuid().ToString().Replace("-", "_"); // this is needed to uniquely identify element (e.g. on comparison page there may be multiple)
    var uploader = string.Format("{0}_obj_{1}", fieldName, uniqueId);
    var uploadCancelTriggered = string.Format("{0}_flag_{1}", fieldName, uniqueId);
    var contentItemId = Convert.ToString(contentItemData.GetData(Constants.ContentItemIdFieldName));
    var identifier = Guid.NewGuid().ToString();
    var key = (identifier + Request.Url.PathAndQuery.Replace("//", "/")).GetMD5Hash();  //as fail-safe, deduplicate slash /
    var urlObject = Url.Action("UploadChunk", "Attachment",
            new
            {
                uploadLocationSetting = Html.GetFileUploadLocationSetting(Model),
                key = key,
                identifier = identifier,
                contentItemId = contentItemId,
                fieldDefinitionName = fieldName,
                actionId = MarketingCenterDbConstants.UploadActivity.Action.Upload
            });
    var urlString = Html.Raw(urlObject);
    var maxSize = Model.GetValueFromJsonCustomSettings("MaxSize");

    var fileListId = string.Format("{0}_filelist_{1}", fieldName, uniqueId);
    var containerId = string.Format("{0}_container_{1}", fieldName, uniqueId);
    var pickFilesId = string.Format("{0}_pickfiles_{1}", fieldName, uniqueId);
    var cancelButtonId = string.Format("{0}_cancel_{1}", fieldName, uniqueId);
    var progressContainerId = string.Format("{0}_progress_container_{1}", fieldName, uniqueId);
    var progressId = string.Format("{0}_progress_{1}", fieldName, uniqueId);
    var errorId = string.Format("{0}_errorMessage_{1}", fieldName, uniqueId);
    var hiddenClass = string.Format("{0}_hdn_{1}", fieldName, uniqueId);
}
@Html.Hidden(fieldName, filename, new { @class = hiddenClass })
<div class="attachment-container">
    <div id="@fileListId"></div>
    @if (!isReadOnly)
    {
        <div id="@containerId">
            <button id="@pickFilesId" type="button" class="btn btn-primary">Select Files</button>
        </div>
        <div id="@progressContainerId" class="progress">
            <div id="@progressId" class="progress-bar progress-bar-striped active" role="progressbar" style="width:0%">
            </div>
        </div>
        <button type="button" id="@cancelButtonId" class="btn btn-danger">Cancel</button>
    }
    <div id="@errorId" class="error"></div>
</div>
<script>
    (function () {
    var @(uploadCancelTriggered) = false;

    $(document).on("click", "#@(fileListId) .delete", function () {
        var filename = $(this).data("filename");
        var filesize = $(this).data("filesize");
        var button = $(this);
        var button = $(this);
        removeFilename(filename, filesize);
        button.prev("a").remove();
        button.remove();
    });

    $("#@cancelButtonId").click(function () {
    @(uploadCancelTriggered) = true;
    });

        var @(uploader) = new plupload.Uploader(
            {
                runtimes: 'html5,html4',
                browse_button: '@pickFilesId',
                container: '@containerId',
                url: '@urlString',
                multi_selection: false,
                chunk_size: '1024kb',
                max_retries: 3,
                retry_interval: 2000,
                filters: {
                    max_file_size: @Html.Raw(string.IsNullOrEmpty(maxSize)? "'0'": "'"+maxSize+"Gb'") ,
                },
                init: {
                    PostInit: function () {
                        $("#@progressContainerId").hide();
                        $("#@cancelButtonId").hide();
                        $("#@errorId").hide();
                    },
                    FilesAdded: function (up, files) {
                        plupload.each(files, function (file) {
                            document.getElementById('@fileListId').innerHTML += '<div draggable="true" id="' + file.id + '"><a href="#" id="link_' + file.id + '">' + file.name + ' (' + plupload.formatSize(file.size) + ') <b></b></a></div>';
                        });
                    @(uploader).start();
                },
                UploadProgress: function (up, file) {
                    if (up.state === plupload.STARTED && file.percent > 0) {
                        $("#@progressContainerId").show();
                        $("#@cancelButtonId").show();
                        $("#@progressId").css("width", file.percent + "%");

                        // submit button is disabled
                        $('button[data-toggle="dropdown"], a.button, button.mc-btn, button.btn-primary').prop('disabled', true);
                    }
                },
                FileUploaded: function (up, file, response) {
                    var r = JSON.parse(response.response);
                    //response.status possible values: ok, chunkOk, error
                    if (r.status == "ok") {
                        var serverFilename = r.fileInfo.name;
                        var serverFilesize = r.fileInfo.size;
                        $("#" + file.id).append("<button type='button' alt='Remove' class='btn btn-danger btn-sm delete' data-filename='" + serverFilename + "' data-filesize='" + serverFilesize + "'><span class='fa fa-trash' aria-hidden='true'></span></button>");
                        $("#link_" + file.id).attr("href", "@Html.Raw(@Url.Action("GetFile", "Attachment", new { uploadLocationSetting = Html.GetFileUploadLocationSetting(Model) }))&file=" + encodeURIComponent(serverFilename) + "").attr("target", "_blank");
                        $("#@progressContainerId").hide();
                        $("#@cancelButtonId").hide();

                        // submit button is enabled
                        $('button[data-toggle="dropdown"], a.button, button.mc-btn, button.btn-primary').removeProp('disabled');
                        appendAttachments(serverFilename);
                        appendUploadActivity(r.activityId);
                        $("#@errorId").hide();
                    }
                    else if (r.status == "error") {
                        $("#@errorId").show();
                        $("#@errorId").text(r.message);

                        $("#@progressContainerId").hide();
                        $("#@cancelButtonId").hide();
                        $("#@containerId .moxie-shim").hide();
                    }
                    else if (r.status == "chunkOk") {
                        console.log(r);
                    }
                },
                ChunkUploaded: function (up, file, info) {
                    //console.log({ up: up, file: file, info: info });
                    $("#@errorId").hide();
                },
                BeforeChunkUpload: function (up, file, info) {
                    var canceled = @(uploadCancelTriggered);
                    if (canceled) {
                        @(uploadCancelTriggered) = false;
                        up.stop();
                        $("#@progressContainerId").hide();
                        $("#@cancelButtonId").hide();
                        $("#@containerId .moxie-shim").hide();
                        $("#" + file.id).remove();
                        up.splice(0, 1);
                        $("#@progressId").css("width", "0%");
                        // submit button is enabled
                        $('button[data-toggle="dropdown"], a.button, button.mc-btn, button.btn-primary').removeProp('disabled');
                        $("#@errorId").hide();
                    }
                },
                BeforeUpload: function (up, file) {
                    ValidateAuthenticationValidator();
                },
                Error: function (up, err) {
                    $("#@errorId").show();

                    // override default max file size to be able to show custom error message
                    var errorMessage = err.code == plupload.FILE_SIZE_ERROR ? 'File size exceeds the max limit (field max limit: ' + @maxSize + 'Gb).' : err.message;
                    $("#@errorId").text(errorMessage);

                    $("#@progressContainerId").hide();
                    $("#@cancelButtonId").hide();
                    $("#@containerId .moxie-shim").hide();
                }
            }
    });

    @(uploader).init();

    @if (Html.IsCopyOrClonePostBack(contentItemId,Context) || !string.IsNullOrEmpty(contentItemId) )
    {
        <text>
            $.getJSON("@Url.Action("GetAttachments", "Attachment",new { uploadLocationSetting = Html.GetFileUploadLocationSetting(Model) })", { contentItemId: "@contentItemId" },
            function (fileInfos) {
                </text>
                    if (contentItemData.ContainsKey(fieldName) && !string.IsNullOrEmpty((string)contentItemData[fieldName])) {
                <text>
                        var previousItems =@Html.Raw(((string)contentItemData[fieldName])); if (previousItems.length > 0) { fileInfos.attachments = previousItems.map(function (item) { return { size: 1, name: item } }); }
                </text>
                    }
                <text>
            if (fileInfos) {
                        $(fileInfos.attachments).each(function (index, fileInfo) {
                            var serverFilename = fileInfo.name;
                            var serverFilesize = fileInfo.size;
                            var div = $("<div draggable='true'>").appendTo($("#@fileListId"));
                            $("<a href=\"@Html.Raw(Url.Action("GetFile", "Attachment", new { uploadLocationSetting = Html.GetFileUploadLocationSetting(Model) }))&file=" + encodeURIComponent(serverFilename) + "\">" + serverFilename.split('/').pop() + "</a>").appendTo(div);
                            @if (!isReadOnly)
                            {
                            <text>
                            $("<button type='button' alt='Remove' class='btn btn-danger btn-sm delete' data-filename=\"" + serverFilename + "\"  data-filesize=\"" + serverFilesize + "\"><span class='fa fa-trash' aria-hidden='true'></span></button>").appendTo(div);
                            </text>
                            }
                            appendAttachments(serverFilename);
                        });
            }
            });
        </text>
    }

    function appendAttachments(filename) {
        var val = $(".@hiddenClass").val().trim();
        if (val.trim().length == 0) {
            var data = [];
            data.push(filename);
            $(".@hiddenClass").val(JSON.stringify(data));
        }
        else {
            var data = JSON.parse($(".@hiddenClass").val());
            if (data.indexOf(filename) < 0) {
                data.push(filename);
                $(".@hiddenClass").val(JSON.stringify(data));
            }
        }
        $("#@fileListId").sortable({
            update: function (event, ui) {
                var data = [];
                $("#@fileListId button").each(function (i, el) {
                    data.push($(el).data('filename'));
                });
                $(".@hiddenClass").val(JSON.stringify(data));
            }
        });
    }

    function removeFilename(filename, filesize) {
        var filenames = JSON.parse($(".@hiddenClass").val());
        removeA(filenames, filename);
        createDeleteUploadActivity(filename, @(uploader).files, filesize);
        $(".@hiddenClass").val(JSON.stringify(filenames));
    }

    function createDeleteUploadActivity(filepath, files, filesize) {
        var filename = filepath.split('/')[1];
        if (filename != undefined) {
            var fileInfo = files != null && files.length > 0 ? files.find(function (f) {
                return f.name == filename
            }) : { size: filesize && filesize != undefined ? filesize : 0 };
            $.post('/admin/File/RegisterUploadActivity', 'file=' + filepath + '&size=' + fileInfo.size + '&contentItemId=@contentItemId&fieldDefinitionName=@fieldName&action=@MarketingCenterDbConstants.UploadActivity.Action.Delete', function (response) {
                if (response.success != true) {
                    alert('An error has ocurred trying to track the deletion of an upload activity, please communicate with an administrator. EventId: ' + response.eventId + ', ActivityId: ' + response.activityId);
                }
                else {
                    appendUploadActivity(response.activityId);
                }
            });
        }
        else {
            alert('An error has ocurred trying to track the deletion of an upload activity, please communicate with an administrator.');
        }
    }

    function appendUploadActivity(uploadActivityId) {
        var val = $("#UploadActivityIds").val().trim();
        if (val.trim().length == 0) {
            var data = [];
            data.push(uploadActivityId);
            $("#UploadActivityIds").val(JSON.stringify(data));
        }
        else {
            var data = JSON.parse($("#UploadActivityIds").val());
            if (data.indexOf(uploadActivityId) < 0) {
                data.push(uploadActivityId);
                $("#UploadActivityIds").val(JSON.stringify(data));
            }
        }
    }
}())
</script>