﻿@model Mastercard.MarketingCenter.Data.Entities.FieldDefinition
@{
    var fieldName = Convert.ToString(ViewData["fieldName"]);
    var contentItemData = (IDictionary<string, object>)ViewData["contentItemData"];
    var isReadOnly = ViewData["IsReadOnly"] != null ? (bool)ViewData["IsReadOnly"] : false;
    var data = contentItemData.GetData(fieldName);
    var value = false;
    var toggleFields = Model.GetToggleFieldNames();
    var hideOnToggle = Model.HideFieldsOnToggle();
    var resetValuesOnToggle = Model.ResetFieldValuesOnToggle();
    var switchDescription = Model.GetSwitchDescription();
    if (data == null)
    {
        if (string.IsNullOrWhiteSpace(Model.DefaultValue))
        {
            value = false;
        }
        else
        {
            value = Convert.ToBoolean(Model.DefaultValue);
        }
    }
    else
    {
        var objValue = contentItemData.GetData(fieldName);
        if (objValue is string && string.IsNullOrEmpty(objValue as string))
        {
            value = false;
        }
        else
        {
            value = Convert.ToBoolean(objValue);
        }
    }
}
<div class="onoffswitch @(isReadOnly ? "disabled" : string.Empty)">
    @Html.CheckBox(fieldName, value)
    <label class="onoffswitch-label" for="@Html.ViewData.TemplateInfo.GetFullHtmlFieldId(fieldName)"></label>
</div>
<span class="onoffswitch-description">@switchDescription</span>
@if (toggleFields != null && toggleFields.Count() > 0)
{
    <script>
        $(function () {
            var switchElement = $("[id$=_@fieldName]");
            @for (int i = 0; i < toggleFields.Count(); i++) {
                <text>
                    var @("dataToggleElement" + i) = $(".form-group:has([id$=_@toggleFields.ElementAt(i)])");
                </text>
            }
            function renderOnChecked() {
            @for (int i = 0; i < toggleFields.Count(); i++) {
                //this method renders a pre defined control based upon the value of a custom setting
                <text>
                if (!(@hideOnToggle.ToString().ToLower()) === switchElement.prop('checked')) {
                    @("dataToggleElement" + i).show();
                }
                else {
                    @("dataToggleElement" + i).hide();
                </text>
                      if (resetValuesOnToggle)
                      {
                    <text>
                          @("dataToggleElement" + i).find('input,textarea,select').val('');
                    </text>
                      }
                <text>
                }
                </text>
            }
            }
            //it will be executed whenever the switch gets render or it gets moved
            switchElement.change(renderOnChecked).ready(renderOnChecked);
        })
    </script>
}