﻿@model Mastercard.MarketingCenter.Data.Entities.FieldDefinition
@{
    var fieldName = Convert.ToString(ViewData["fieldName"]);
    var contentItemData = (IDictionary<string, object>)ViewData["contentItemData"];
    var filename = Convert.ToString(contentItemData.GetData(fieldName));
    var uniqueId = Guid.NewGuid().ToString().Replace("-", "_"); // this is needed to uniquely identify element (e.g. on comparison page there may be multiple)
    var uploader = string.Format("{0}_obj_{1}", fieldName, uniqueId);
    var contentItemId = Convert.ToString(contentItemData.GetData(Constants.ContentItemIdFieldName));
    var identifier = Guid.NewGuid().ToString();
    var key = (identifier + Request.Url.PathAndQuery).GetMD5Hash();
    var urlObject = Url.Action("UploadChunk", "Attachment",
                    new
                    {
                        uploadLocationSetting = Html.GetFileUploadLocationSetting(Model),
                        key = key,
                        identifier = identifier
                    });
    var urlString = Html.Raw(urlObject);
    var maxSize = Model.GetValueFromJsonCustomSettings("MaxSize");

    var fileListId = string.Format("{0}_filelist_{1}", fieldName, uniqueId);
    var containerId = string.Format("{0}_container_{1}", fieldName, uniqueId);
    var pickFilesId = string.Format("{0}_pickfiles_{1}", fieldName, uniqueId);
    var deleteButtonId = string.Format("{0}_delete_{1}", fieldName, uniqueId);
    var progressContainerId = string.Format("{0}_progress_container_{1}", fieldName, uniqueId);
    var progressId = string.Format("{0}_progress_{1}", fieldName, uniqueId);
    var errorId = string.Format("{0}_errorMessage_{1}", fieldName, uniqueId);
    var hiddenClass = string.Format("{0}_hdn_{1}", fieldName, uniqueId);
}
@Html.Hidden(fieldName, filename, new { @class = hiddenClass })
<div id="@containerId" class="browse-files">
    <div class="browse-files--control" data-text="Browse File">
        <input id="@pickFilesId" type="button">
    </div>
</div>
<div id="@progressContainerId" class="progress">
    <div id="@progressId" class="progress-bar progress-bar-striped active" role="progressbar" style="width:0%">
    </div>
</div>
<div id="@errorId" class="error"></div>
<div id="@containerId" class="browse-files">
    <ul id="@fileListId" class="browse-files--list"></ul>
</div>
<script>
    $(document).on("click", "a.delete", function() {
        var filename = $(this).data("filename");
        var button = $(this);
        removeFilename(filename);
        button.prev("a").remove();
        button.remove();
    });

    $(".@(@hiddenClass)").change(function() {
        if ($(this).val().length > 0) {
            $("#@deleteButtonId").show();
        }
    });

    $("#@deleteButtonId").click(function() {
        $(".@(@hiddenClass)").val('');
        $("#@fileListId").empty();
        $("#@deleteButtonId").hide();
        $("#@pickFilesId").show();
    });

    var @(uploader) = new plupload.Uploader({
        runtimes: 'html5,html4',
        browse_button: '@pickFilesId',
        container: '@containerId',
        url: '@urlString',
        multi_selection: false,
        chunk_size: '8192kb',
        filters: {
            max_file_size: @Html.Raw(string.IsNullOrEmpty(maxSize)? "'0'": "'"+maxSize+"Gb'") ,
        },
        init: {
            PostInit: function() {
                $("#@progressContainerId").hide();
                $("#@errorId").hide();
            },
            FilesAdded: function (up, files) {
                plupload.each(files, function(file) {
                    document.getElementById('@fileListId').innerHTML += '<li id="' + file.id + '"><a href="#" id="link_' + file.id + '"><p>' + file.name + '</p><small>' + plupload.formatSize(file.size) + '</small></a></li>';
                });
                @(uploader).start();
            },
            UploadProgress: function(up, file) {
                if (file.percent > 0) {
                    $("#@progressContainerId").show();
                    $("#@progressId").css("width", file.percent + "%");

                    // submit button is disabled
                    $('button[data-toggle="dropdown"], a.button, button.mc-btn, button.btn-primary').prop('disabled', true);
                }
            },
            FileUploaded: function(up, file, response) {
                var r = JSON.parse(response.response);
                //response.status possible values: ok, chunkOk, error
                if (r.status == "ok") {
                    var serverFilename = r.fileInfo.name;
                    $("#" + file.id).append("<a type='button' alt='Remove' class='remove-link delete' data-filename=\"" + serverFilename + "\"><img width='16' src='@Url.Content("~/Content/css/BusinessOwner/images/delete_attachment_icon.png")' alt='Remove'></a>");
                    $("#link_" + file.id).attr("href", "@Html.Raw(@Url.Action("GetFile", "Attachment", new { uploadLocationSetting = Html.GetFileUploadLocationSetting(Model) }))&file=" + encodeURIComponent(serverFilename) + "").attr("target", "_blank");
                    $("#@progressContainerId").hide();

                    // submit button is enabled
                    $('button[data-toggle="dropdown"], a.button, button.mc-btn, button.btn-primary').removeProp('disabled');
                    appendAttachments(serverFilename);
                    $("#@errorId").hide();
                }
                else if (r.status == "error") {
                    $("#@errorId").show();
                    $("#@errorId").text(r.message);

                    $("#@progressContainerId").hide();
                    $("#@containerId .moxie-shim").hide();
                }
                else if (r.status == "chunkOk") {
                    //console.log(r);
                }
            },
            ChunkUploaded: function (up, file, info) {
                $("#@errorId").hide();
            },
            BeforeChunkUpload: function (up, file, info) {
                $("#@errorId").hide();
            },
            Error: function(up, err) {
                $("#@errorId").show();

                // override default max file size to be able to show custom error message
                var errorMessage = err.code == plupload.FILE_SIZE_ERROR ? 'File size exceeds the max limit (field max limit: ' + @maxSize + 'Gb).' : err.message;
                $("#@errorId").text(errorMessage);

                $("#@progressContainerId").hide();
                $("#@containerId .moxie-shim").hide();
            }
        }
    });

    @(uploader).init();

    @if (!string.IsNullOrEmpty(contentItemId))
     {
         @:$.getJSON("@Url.Action("GetAttachments", "Attachment",new { uploadLocationSetting = Html.GetFileUploadLocationSetting(Model) })", { contentItemId: "@contentItemId" },
        @:function (fileInfos) {
                    if (contentItemData.ContainsKey(fieldName) && !string.IsNullOrEmpty((string)contentItemData[fieldName])) {
                    @:var previousItems=@Html.Raw(((string)contentItemData[fieldName]));  if(previousItems.length>0){fileInfos.attachments=previousItems.map(function(item){return {size:1,name:item}});}
                    }
                @:if (fileInfos) {
                                            @:$(fileInfos.attachments).each(function (index, fileInfo) {
                                                    @:var serverFilename = fileInfo.name;
                                                    @:var serverFilesize = plupload.formatSize(fileInfo.size);
                                                    @:appendAttachments(serverFilename);
                                                    @:$("#@fileListId").append("<li><a href=\"@Html.Raw(Url.Action("GetFile", "Attachment" , new { uploadLocationSetting=Html.GetFileUploadLocationSetting(Model) }))&file=" + encodeURIComponent( serverFilename )+ "\" target = \"_blank\" ><p>" + serverFilename.split('/').pop() + "</p><small>" + serverFilesize + "</small></a><a type='button' alt='Remove' class='remove-link delete' data-filename=\"" + serverFilename + "\"><img width='16' src='@Url.Content("~/Content/css/BusinessOwner/images/delete_attachment_icon.png")' alt='Remove'></a></li>");
                                                @:});
                                        @:}
            @:});
        }

    function appendAttachments(filename) {
        var val = $(".@hiddenClass").val().trim();

        if (val.trim().length == 0)
        {
            var data = [];
            data.push(filename);
            $(".@hiddenClass").val(JSON.stringify(data));
        }
        else{
            var data = JSON.parse( $(".@hiddenClass").val());
            if(data.indexOf(filename) < 0) {
                data.push(filename);
                $(".@hiddenClass").val(JSON.stringify(data));
            }
        }
    }

    function removeFilename(filename) {
        var filenames = JSON.parse($(".@hiddenClass").val());
        removeA(filenames, filename);
        $(".@hiddenClass").val(JSON.stringify( filenames));
    }
</script>