﻿@using Newtonsoft.Json
@using System.Globalization
@model BusinessOwnerContentModel
<div class="mc-row">
    @Html.HiddenFor(o => o.IdFieldValue)
    @Html.HiddenFor(o => o.ContentTypeId)
    @Html.HiddenFor(o => o.ContentItemTitle)
    @Html.HiddenFor(o => o.BusinessOwnerId)
    @Html.HiddenFor(o => o.RegionId)
    @Html.Hidden("UploadActivityIds", JsonConvert.SerializeObject(Model.UploadActivityIds))
    <div class="col form">
        @using (Html.BeginBusinessOwner(MarketingCenterDbConstants.FieldNames.RegionId))
        {
            <div class="col">
                <div class="mc-form-group">
                    <label>Region:</label>
                    @if (Model.IsNewForm)
                    {
                        @Html.DropDownList(MarketingCenterDbConstants.FieldNames.RegionTitle, new SelectList(Model.AvailableRegions, "IdTrimmed", "Name", Model.RegionTitle), new { @class = "form-control" })
                    }
                    else
                    {
                        @Html.TextBox(MarketingCenterDbConstants.FieldNames.RegionTitle, Model.RegionTitle, new { @class = "form-control", @readonly = true })
                    }
                </div>
            </div>
        }
        @foreach (var fieldDef in Model.ContentTypeFieldDefinitions.Where(fd => fd.FieldDefinition.FieldTypeCode != Mastercard.MarketingCenter.Data.Entities.FieldType.Image).OrderBy(fd => fd.BusinessOwnerOrder).ThenBy(fd => fd.FieldDefinition.Name))
        {
            using (Html.BeginBusinessOwner(fieldDef.FieldDefinition.Name))
            {
                if (fieldDef.FieldDefinition.FieldTypeCode.Equals(Mastercard.MarketingCenter.Data.Entities.FieldType.Hidden, StringComparison.InvariantCultureIgnoreCase) || fieldDef.FieldDefinition.Name.Equals(MarketingCenterDbConstants.FieldNames.ContentItemId, StringComparison.InvariantCultureIgnoreCase))
                {
                    @Html.EditorFor(o => fieldDef.FieldDefinition, "Hidden", new { isNewForm = Model.IsNewForm, fieldName = fieldDef.FieldDefinition.Name, contentItemData = Model.ContentItemData, contentTypeId = Model.ContentTypeId, fieldDefinitions = Model.ContentTypeFieldDefinitions.Select(o => o.FieldDefinition) })
                }
                else
                {
                    var hasErrors = ViewData.ModelState.ContainsKey(fieldDef.FieldDefinition.Name) && ViewData.ModelState[fieldDef.FieldDefinition.Name].Errors.Any();
                    <div class="col">
                        <div class="mc-form-group">
                            @switch (fieldDef.FieldDefinition.Name)
                            {
                                case MarketingCenterDbConstants.FieldNames.Title:
                                    <text>
                                        <div class="asset-guide oval">
                                            <span>1</span>
                                        </div>
                                    </text>
                                    break;
                                case MarketingCenterDbConstants.FieldNames.ShortDescription:
                                    <text>
                                        <div class="asset-guide oval">
                                            <span>2</span>
                                        </div>
                                    </text>
                                    break;
                                case MarketingCenterDbConstants.FieldNames.LongDescription:
                                    <text>
                                        <div class="asset-guide oval">
                                            <span>3</span>
                                        </div>
                                    </text>
                                    break;
                            }
                            @if (fieldDef.FieldDefinition.FieldTypeCode.Equals(Mastercard.MarketingCenter.Data.Entities.FieldType.Attachment, StringComparison.InvariantCultureIgnoreCase))
                            {
                                <div class="asset-guide oval">
                                    <span>5</span>
                                </div>
                            }
                            <label class="@(hasErrors ? " label-error" : string.Empty)">@fieldDef.FieldDefinition.Description @Html.RenderMaxSize(fieldDef) @(fieldDef.FieldDefinition.Required && !fieldDef.FieldDefinition.Name.Equals(MarketingCenterDbConstants.FieldNames.Filename, StringComparison.InvariantCultureIgnoreCase) ? Html.Raw("<span class=\"required\">*</span>") : Html.Raw("")):</label>
                            @if (fieldDef.FieldDefinition.FieldTypeCode.Equals(Mastercard.MarketingCenter.Data.Entities.FieldType.Attachment, StringComparison.InvariantCultureIgnoreCase))
                            {
                                @Html.EditorFor(o => fieldDef.FieldDefinition, "BusinessOwnerAttachment", new { isNewForm = Model.IsNewForm, fieldName = fieldDef.FieldDefinition.Name, contentItemData = Model.ContentItemData, contentTypeId = Model.ContentTypeId, fieldDefinitions = Model.ContentTypeFieldDefinitions.Select(o => o.FieldDefinition) })
                            }
                            else
                            {
                                fieldDef.FieldDefinition.OverrideBusinessOwnerAssetTypeCustomSettings(ViewData);
                                @Html.EditorFor(
                                     o => fieldDef.FieldDefinition,
                                     o => fieldDef.FieldDefinition,
                                     new
                                     {
                                         isNewForm = Model.IsNewForm,
                                         fieldName = fieldDef.FieldDefinition.Name,
                                         contentItemData = Model.ContentItemData,
                                         contentTypeId = Model.ContentTypeId,
                                         fieldDefinitions = Model.ContentTypeFieldDefinitions.Select(o => o.FieldDefinition)
                                     })
                            }
                        </div>
                    </div>
                }
                if (fieldDef.FieldDefinition.Name.Equals(MarketingCenterDbConstants.FieldNames.Title, StringComparison.OrdinalIgnoreCase) && Model.CanExpire)
                {
                    using (Html.BeginBusinessOwner(MarketingCenterDbConstants.FieldNames.ExpirationDate))
                    {
                        var hasErrors = ViewData.ModelState.ContainsKey("ExpirationDate") && ViewData.ModelState["ExpirationDate"].Errors.Any();
                        <div class="col tiny">
                            <div class="mc-form-group">
                                <label class="@(hasErrors ? " label-error" : string.Empty)">Expiration Date@((Model.MustExpire) ? Html.Raw("<span class=\"required\">*</span>") : Html.Raw("")):</label>
                                <div class="form-inline">
                                    <div class="input-group date input-date-expiration">
                                        <span class="input-group-addon"></span>
                                        @Html.TextBox(MarketingCenterDbConstants.FieldNames.ExpirationDate, (Model.ExpirationDate.HasValue ? Model.ExpirationDate.GetValueOrDefault().ToString(Constants.DateTimeFormat, CultureInfo.InvariantCulture) : ""), new { @class = "form-control" })
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                    using (Html.BeginBusinessOwner(MarketingCenterDbConstants.FieldNames.CurrentExpirationDate))
                    {
                        @Html.TextBox(MarketingCenterDbConstants.FieldNames.CurrentExpirationDate, (Model.CurrentExpirationDate.HasValue ? Model.CurrentExpirationDate.GetValueOrDefault().ToString(Constants.DateTimeFormat, CultureInfo.InvariantCulture) : ""), new { @class = "hidden" })
                    }
                }
            }
            if (fieldDef.FieldDefinition.Name.Equals(MarketingCenterDbConstants.FieldNames.LongDescription))
            {
                <div class="mc-spaced-row">
                    <div class="col">
                        <div class="asset-guide oval">
                            <span>4</span>
                        </div>
                        @Html.Partial("BusinessOwnerImage", Model)
                    </div>
                </div>
            }
        }
        @if (!Model.ContentTypeFieldDefinitions.Any(fd => fd.FieldDefinition.Name.Equals(MarketingCenterDbConstants.FieldNames.Language, StringComparison.OrdinalIgnoreCase)))
        {
            @Html.Hidden("fieldDef.FieldDefinition.Language", Model.Language ?? Html.GetFieldDefinitionDefaultValue("Language", Model.RegionId), new { id = "fieldDef_FieldDefinition_Language" });
        }
    </div>
    <div class="col right">
        <div class="mc-comments mc-panel asset-guide">
            <div class="mc-modal--header small-padd-bottom titles">
                <span class="title">@Resources.BusinessOwnerPages.AssetGuideTitle</span>
                <span class="description">@Resources.BusinessOwnerPages.AssetGuideDescription</span>
            </div>
            <img src="@Url.Content("~/Content/css/BusinessOwner/images/asset-guide.jpg")" alt="@Resources.BusinessOwnerPages.AssetGuideTitle">
        </div>
        @Html.Action("Widget", "ContentComment", new { contentItemID = Model.IdFieldValue, backLink = "", commentsSeed = @ViewData["commentsSeed"], isNew = Model.IsNewForm, isAdmin = false })
        <script>
            $(document).ready(function () {
                modalPartial.set(".mc-modal--body", null);
                contentCommentModalsObj.setInnerAddMessageHandle(queueComment);
                $("form[name=business-owner-form] ").submit(function (e) {
                    var form = $(this);
                    for (var i in contentCommentModalsObj.messageQueue) {
                        for (var j in contentCommentModalsObj.messageQueue[i]) {
                            $("<input />").attr({ type: "hidden", name: "ContentComments[" + i + "]." + j, value: contentCommentModalsObj.messageQueue[i][j] }).appendTo(this);
                        }
                    }
                    return true;
                });
            });
            $('.mc-modal--body .close-link').click(function (e) {
                e.preventDefault();
                modalPartial.showComments();
            })
        </script>
    </div>
</div>