﻿@model Mastercard.MarketingCenter.Data.Entities.FieldDefinition
@{
    var fieldName = Convert.ToString(ViewData["fieldName"]);
    var contentItemData = (IDictionary<string, object>)ViewData["contentItemData"];
    var data = contentItemData.GetData(fieldName);

    var fieldDefinitions = (IEnumerable<Mastercard.MarketingCenter.Data.Entities.FieldDefinition>)ViewData["fieldDefinitions"];
    var idField = fieldDefinitions.FirstOrDefault(o => o.FieldType.IsIdentifierField());
    var idValue = string.Empty;
    if (idField != null)
    {
        idValue = contentItemData.ContainsKey(idField.Name) ? Convert.ToString(contentItemData[idField.Name]) : null;
    }
    var value = Convert.ToString(contentItemData.GetData(fieldName));
    var hiddenSelector = Html.ViewData.TemplateInfo.GetFullHtmlFieldId(fieldName);
    var editorModalId = string.Format("editor-{0}", fieldName);
    var ContentTypeTitle = (string)ViewData["ContentTypeTitle"];
}
@Html.Hidden(fieldName, value)
<a class="campaign-events-new" data-toggle="modal" data-target="@string.Format("#editor-{0}", fieldName)" href="#" target="_blank">Add new <span class="fa fa-plus-circle"></span></a>
<div id="campaignEventsList">
    <div class="campaign-events-header row">
        <span class="col-sm-3">Name</span>
        <span class="col-sm-3">Category</span>
        <span class="col-sm-2">Start</span>
        <span class="col-sm-2">End</span>
        <span class="col-sm-1">Edit</span>
        <span class="col-sm-1">Delete</span>
    </div>
    <div v-bind:class="['campaign-events-body row campaignEventId-'+ campaignEvent.CampaignEventId]" v-for="campaignEvent in orderedEventCampaigns" v-bind:key="campaignEvent.CampaignEventId">
        <span class="col-sm-3 name">{{campaignEvent.Title}}</span>
        <span class="col-sm-3">{{campaignEvent.CampaignCategory}}</span>
        <span class="col-sm-2">{{formatDate(campaignEvent.StartDate)}}</span>
        <span class="col-sm-2">{{formatDate(campaignEvent.EndDate)}}</span>
        <span v-on:click="edit(campaignEvent.CampaignEventId)" class="col-sm-1 fa fa-pencil"></span>
        <span v-on:click="remove(campaignEvent.CampaignEventId)" class="col-sm-1 fa fa-trash"></span>
    </div>
</div>
<div class="modal inmodal fade id-ce-@idValue" id="@editorModalId" tabindex="-1" role="dialog" aria-hidden="true" style="display: none;">
    <div id="edit-marketing-calendar-modal" class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">Campaign Event</h4>
            </div>
            <div class="ibox-content additional-margin">
                <div class="alert alert-danger" role="alert">Campaign Event already exists with the same Title on this @ContentTypeTitle.</div>
            </div>
            <div class="modal-body">
                <div id="modal-body-@editorModalId" class="row"></div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    function orderStringDate(a, b) {

        if (a != null && typeof (a) !== "undefined" && b != null && typeof (b) !== "undefined") {
            if (a.StartDate == null) {
                if (b.StartDate == null) {
                    return 0;
                }
                return 1;
            } else if (b.StartDate == null) { return -1;}
            var first = Number(/Date\((\d+)\)/ig.exec(a.StartDate)[1]);
            var second = Number(/Date\((\d+)\)/ig.exec(b.StartDate)[1]);
            return  second-first;
        }
        return 0;
    }
    var formSubmitted = window.location.href.indexOf($("#@hiddenSelector").closest('form').attr('action')) > -1;
    if (typeof Array.prototype.findIndex === 'undefined') {
        Array.prototype.findIndex = function (func) {
            return this.indexOf(
                this.filter(func)[0]
            );
        }
    }

    var campaignEventsVue = new Vue({
        el: '#campaignEventsList',
        data: {
            campaignEvents: []
        },
        computed: {
            orderedEventCampaigns: function () {
                return this.campaignEvents.sort(orderStringDate);
            }
        },
        methods: {
            formatDate: function (date) {
                return date !== '' && typeof (date) !== 'undefined' && date !== null ? moment(date).format('L') : '';
            },
            edit: function (id) {
                $.ajax({
                    url: '/admin/List/EditAsync',
                    method: 'GET',
                    data: { listId: 2012, id: id, successCallback: "OnSuccess", errorCallback: "OnError", updateTargetId: "modal-body-@editorModalId", completeCallback: "OnComplete" },
                    success: function (data) {
                        $('.modal-title', '@string.Format("#editor-{0}", fieldName)').html('Campaign Event Update');

                        $('.modal-body .row', '@string.Format("#editor-{0}", fieldName)').html(data);
                        $('.chosen-choices', '@string.Format("#editor-{0}", fieldName)').chosen({ width: "100%", allow_single_deselect: true });
                        $('.modal-body', '@string.Format("#editor-{0}", fieldName)').scrollTop(0);
                        $('.id-ce-@idValue').modal('toggle');
                        $('.input-date', '@string.Format("#editor-{0}", fieldName)').datepicker({
                            todayHighlight: true,
                            format: "mm/dd/yyyy",
                            autoclose: true
                        });

                        var dialog = $('.modal-content');
                        subscribeCloseDialog(dialog);
                        subscribeUniqueTitleValidation(dialog, id);
                    }
                });
            },
            remove: function (id) {
                campaignEventsVue.campaignEvents.splice(campaignEventsVue.campaignEvents.findIndex(function (item) {
                    return item.CampaignEventId == id;
                }), 1);
                UpdateCampaignEventsFieldValue(campaignEventsVue.campaignEvents);
            }
        },
        mounted: function () {
            var self = this;
            var programId = '@idValue';
            if (formSubmitted) {
                programId = '0'; //dummy value
            }

            $.ajax({
                url: '/admin/List/GetContentItemCampaignEvents',
                method: 'POST',
                data: { programId: programId, campaignEventIds: $("#@hiddenSelector").val() },
                success: function (data) {
                    self.campaignEvents = data;
                    UpdateCampaignEventsFieldValue(self.orderedEventCampaigns);
                }
            });
        }
    });

    function OnSuccess(response) {
        if (response && response.ItemId) {
            $.ajax({
                url: '/admin/List/GetCampaignEventById',
                method: 'POST',
                data: { campaignEventId: response.ItemId },
                success: function (data) {
                    var index = campaignEventsVue.campaignEvents.findIndex(function (item) {
                        return item.CampaignEventId == data[0].CampaignEventId;
                    })
                    if (index < 0) {
                        campaignEventsVue.campaignEvents.push(data[0]);
                        campaignEventsVue.campaignEvents = campaignEventsVue.campaignEvents.sort(orderStringDate);
                    } else {
                        campaignEventsVue.campaignEvents[index] = data[0];
                        campaignEventsVue.campaignEvents = campaignEventsVue.campaignEvents.sort(orderStringDate);
                        campaignEventsVue.$forceUpdate();
                    }
                    UpdateCampaignEventsFieldValue(campaignEventsVue.campaignEvents);
                    $('.id-ce-@idValue').modal('toggle');
                }
            });
        } else if (response && response.indexOf('<form') > -1) {
            $('.chosen-choices', '@string.Format("#editor-{0}", fieldName)').chosen({ width: "100%", allow_single_deselect: true });
            $('.input-date', '@string.Format("#editor-{0}", fieldName)').datepicker({
                todayHighlight: true,
                format: "mm/dd/yyyy",
                autoclose: true
            });

        }
    }

    function OnError(response) {
    }

    function OnComplete(response) {
        var dialog = $('.modal-content');
        subscribeCloseDialog(dialog);
    }

    function UpdateCampaignEventsFieldValue(data) {
        var val = data.map(function (i) { return i.CampaignEventId }).join(",");
        $("#@hiddenSelector").val(val);
    }

    function subscribeCloseDialog(dialog) {
        if (!dialog) {
            return;
        }

        dialog.find('.btn-white').on("click", function () {
            $('#@editorModalId').modal('hide');
            return false;
        });
    }

    function toggleCampaignEventValidation(dialog, show) {
        var validationMessage = dialog.find('.ibox-content.additional-margin');
        if (show) {
            validationMessage.show();
        }
        else {
            validationMessage.hide();
        }
    }

    function subscribeUniqueTitleValidation(dialog, currentCampaignEventId) {
        if (!dialog) {
            return;
        }

        toggleCampaignEventValidation(dialog, false);

        dialog.find('#fieldDef_FieldDefinition_Title').on("change", function () {
            // this function checks for uniqueness of a Campaign Event.Title per a Program and disables "Create" button
            var existingTitles = [];
            $('.campaign-events-body.row:not(.campaignEventId-' + currentCampaignEventId + ') > .name').each(function () {
                existingTitles.push($(this).text());
            });

            var currentTitle = $(this).val();

            // title is valid if it is not already contained in Program
            var valid = true;

            if (existingTitles) {
                $.each(existingTitles, function (index, value) {
                    if (valid && value.toLowerCase() === currentTitle.toLowerCase()) {
                        valid = false;
                        return false;
                    }
                });
            }

            var createButton = dialog.find('.btn-primary');
            if (valid) {
                createButton.removeProp('disabled');
            }
            else {
                createButton.prop('disabled', true);
            }

            toggleCampaignEventValidation(dialog, !valid);
        });
    }

    $(function () {
        $('.campaign-events-new').click(function () {
            $.ajax({
                url: '/admin/List/CreateAsync',
                method: 'GET',
                data: { id: 2012, successCallback: "OnSuccess", errorCallback: "OnError", updateTargetId: "modal-body-@editorModalId", completeCallback: "OnComplete" },
                success: function (data) {
                    $('.modal-title', '@string.Format("#editor-{0}", fieldName)').html('Create Campaign Event');
                    $('.modal-body .row', '@string.Format("#editor-{0}", fieldName)').html(data);
                    $('.chosen-choices', '@string.Format("#editor-{0}", fieldName)').chosen({ width: "100%", allow_single_deselect: true });
                    $('.input-date', '@string.Format("#editor-{0}", fieldName)').datepicker({
                        todayHighlight: true,
                        format: "mm/dd/yyyy",
                        autoclose: true
                    });
                    $('.modal-body').scrollTop(0);

                    var dialog = $('.modal-content');
                    subscribeCloseDialog(dialog);
                    subscribeUniqueTitleValidation(dialog, -1);
                }
            });
        });
    });
</script>