﻿@model Mastercard.MarketingCenter.Data.Entities.FieldDefinition
@{
    var fieldName = Convert.ToString(ViewData["fieldName"]);
    var contentItemData = (IDictionary<string, object>)ViewData["contentItemData"];
    var isReadOnly = ViewData["IsReadOnly"] != null ? (bool)ViewData["IsReadOnly"] : false;
    var options = new Dictionary<string, string>();
    if (!string.IsNullOrEmpty(Model.CustomSettings))
    {
        options = Model.CustomSettings.GetOptionsFromSettings();
    }
}
@foreach (var option in options)
{
    var isChecked = false;
    if (contentItemData.ContainsKey(fieldName))
    {
        string[] stringSeparators = new string[] { ";#" };
        var data = string.Join(";#", Convert.ToString(Convert.ToString(contentItemData[fieldName])).Split(',')).Split(stringSeparators, StringSplitOptions.RemoveEmptyEntries);
        isChecked = data.Contains(option.Value);
    }
    <div class="checkbox">
        <label>
            <input type="checkbox" @(isChecked ? "checked='checked'" : string.Empty) @(isReadOnly ? "disabled='disabled'" : string.Empty) id="@fieldName" name="@fieldName" value="@option.Value" />@option.Key
            <input type="hidden" name="@fieldName" value="@Constants.CheckboxNullValue" />
        </label>
    </div>
}