﻿@model FieldDefinition
@{
    var fieldName = Convert.ToString(ViewData["fieldName"]);
    var contentItemData = (IDictionary<string, object>)ViewData["contentItemData"];
    var fieldDefinitions = (IEnumerable<Mastercard.MarketingCenter.Data.Entities.FieldDefinition>)ViewData["fieldDefinitions"];
    var colorChoiceOptions = Enumerable.Empty<ColorChoice>();
    var fieldDefinition = fieldDefinitions.First(o => o.Name == fieldName);

    if (!string.IsNullOrEmpty(Model.CustomSettings))
    {
        colorChoiceOptions = fieldDefinition.GetColorChoiceOptions();
    }

    var data = string.Empty;
    if (!string.IsNullOrEmpty(fieldDefinition.DefaultValue))
    {
        data = fieldDefinition.DefaultValue;
    }
    if (contentItemData.ContainsKey(fieldName) && contentItemData[fieldName] != null)
    {
        data = contentItemData[fieldName].ToString();
    }
}
<link href="@Url.Content("~/Content/css/bootstrap-colorselector.css")" rel="stylesheet">
<select id="fieldDef_FieldDefinition__@fieldName" name="fieldDef.FieldDefinition._@fieldName">
    @foreach (var option in colorChoiceOptions)
    {
        <option value="@option.Value" data-color="@option.Color" @(option.Value == data ? "selected='selected'" : string.Empty)></option>
    }
</select>
<script src="@Url.Content("~/Content/js/bootstrap-colorselector.js")"></script>
<script>
    $(document).ready(function () {
        $('#fieldDef_FieldDefinition__@fieldName').colorselector();
    });
</script>