﻿@using Mastercard.MarketingCenter.Common.Infrastructure;
@using Mastercard.MarketingCenter.Services;
@using Newtonsoft.Json
@using System.Globalization
@model ContentModel

@Html.HiddenFor(o => o.ContentTypeId)
@Html.HiddenFor(o => o.UserRegion)
@Html.HiddenFor(o => o.IdFieldValue)
@Html.Hidden("UploadActivityIds", JsonConvert.SerializeObject(Model.UploadActivityIds))
<div class="row">
    <div class="col-md-offset-2 col-md-5">
        <h3 class="text-center" style="color:#ff8011;">Cloned</h3>
    </div>
    <div class="col-md-5">
        <h3 class="text-center" style="color:#ff8011;">Original</h3>
    </div>
</div>
@foreach (var fieldDef in Model.ContentTypeFieldDefinitions.OrderBy(o => o.Order).ThenBy(o => o.FieldDefinition.Name))
{
    <div class="form-group">
        @if (fieldDef.FieldDefinition.FieldTypeCode != Mastercard.MarketingCenter.Data.Entities.FieldType.Hidden)
        {
            <label class="col-md-2 control-label">@fieldDef.FieldDefinition.Description @(fieldDef.FieldDefinition.Required ? Html.Raw("<span class=\"req-mark\">*</span>") : Html.Raw(""))</label>
        }
        <div class="col-md-5 cloned">@Html.EditorFor(o => fieldDef.FieldDefinition, o => fieldDef.FieldDefinition, new { isNewForm = Model.IsNewForm, fieldName = fieldDef.FieldDefinition.Name, contentItemData = Model.ContentItemData, contentTypeId = Model.ContentTypeId, fieldDefinitions = Model.ContentTypeFieldDefinitions.Select(o => o.FieldDefinition), userRegion = Model.UserRegion })</div>
        @if (Model.OriginalContentItemDataForComparison != null)
        {
            <div class="col-md-5 original">@Html.EditorFor(o => fieldDef.FieldDefinition, o => fieldDef.FieldDefinition, new { isNewForm = Model.IsNewForm, fieldName = fieldDef.FieldDefinition.Name, contentItemData = Model.OriginalContentItemDataForComparison, contentTypeId = Model.ContentTypeId, fieldDefinitions = Model.ContentTypeFieldDefinitions.Select(o => o.FieldDefinition), userRegion = Model.UserRegion })</div>
        }
    </div>
}
@if (!Model.ContentTypeFieldDefinitions.Any(fd => fd.FieldDefinition.Name.Equals(MarketingCenterDbConstants.FieldNames.Language, StringComparison.OrdinalIgnoreCase)))
{
    @Html.Hidden("fieldDef.FieldDefinition.Language", Model.Language ?? Html.GetFieldDefinitionDefaultValue("Language", Model.UserRegion), new { id = "fieldDef_FieldDefinition_Language" });
}
@if (User.IsInPermission(Constants.Permissions.CanManageExpirationDate) && Model.CanExpire)
{
    using (Html.BeginFormGroup("ExpirationDate"))
    {
        <label class="col-md-2 control-label">
            Expiration Date @((Model.MustExpire) ? Html.Raw("<span class=\"req-mark\">*</span>") : Html.Raw(""))
        </label>
        <div class="col-md-5 cloned">
            <div class="form-inline">
                <div class="input-group date input-date">
                    <span class="input-group-addon">
                        <em class="fa fa-calendar"></em>
                    </span>
                    @Html.TextBox("ExpirationDate", (Model.ExpirationDate.HasValue ? Model.ExpirationDate.GetValueOrDefault().ToString(Constants.DateTimeFormat, CultureInfo.InvariantCulture) : ""), new { @class = "form-control" })
                </div>
            </div>
        </div>
        <div class="col-md-5 original">
            <div class="form-inline">
                <div class="input-group date">
                    <span class="input-group-addon">
                        <em class="fa fa-calendar"></em>
                    </span>
                    @Html.TextBox("OriginalExpirationDate", (Model.OriginalExpirationDate.HasValue ? Model.OriginalExpirationDate.GetValueOrDefault().ToString(Constants.DateTimeFormat, CultureInfo.InvariantCulture) : ""), new { @class = "form-control", @readonly = "true" })
                </div>
            </div>
        </div>
    }
}