﻿@using Mastercard.MarketingCenter.Common.Infrastructure;
@using Mastercard.MarketingCenter.Services;
@using Newtonsoft.Json
@using System.Globalization
@model ContentModel

@Html.HiddenFor(o => o.ContentTypeId)
@Html.HiddenFor(o => o.UserRegion)
@Html.HiddenFor(o => o.IdFieldValue)
@Html.Hidden("UploadActivityIds", JsonConvert.SerializeObject(Model.UploadActivityIds))
@{ ViewData["ContentTypeTitle"] = @Model.ContentTypeTitle; }

@foreach (var fieldDef in Model.ContentTypeFieldDefinitions.OrderBy(o => o.Order).ThenBy(o => o.FieldDefinition.Name))
{
    using (Html.BeginFormGroup(fieldDef.FieldDefinition.Name, Model.FieldsEditedByBusinessOwner.Contains(fieldDef.FieldDefinition.Name) ? "highlighted" : ""))
    {
        if (fieldDef.FieldDefinition.FieldTypeCode != Mastercard.MarketingCenter.Data.Entities.FieldType.Hidden)
        {
            <label class="col-md-3 control-label">@fieldDef.FieldDefinition.Description @(fieldDef.FieldDefinition.Required ? Html.Raw("<span class=\"req-mark\">*</span>") : Html.Raw(""))</label>
        }
        <div class="col-md-6">
            @if (Model.FieldsEditedByBusinessOwner.Contains(fieldDef.FieldDefinition.Name))
            {
                <span class="bo-edited fa fa-exclamation-triangle" title="This field was modified by the Business Owner, <b>@Model.ModifiedByUserName</b>" data-html="true" data-toggle="tooltip" data-placement="bottom"></span>
            }
            @Html.EditorFor(o => fieldDef.FieldDefinition, o => fieldDef.FieldDefinition, new { isNewForm = Model.IsNewForm, fieldName = fieldDef.FieldDefinition.Name, contentItemData = Model.ContentItemData, contentTypeId = Model.ContentTypeId, fieldDefinitions = Model.ContentTypeFieldDefinitions.Select(o => o.FieldDefinition), userRegion = Model.UserRegion, isInterregionCloning = Model.IsInterRegionCloning, interRegionCloningEnabled = fieldDef.InterRegionCloning, isReadOnly = Model.IsCrossBorderRegion && fieldDef.ReadOnlyInCrossBorderRegion, isCrossBorderRegion = Model.IsCrossBorderRegion })
        </div>
    }
}

@if (!Model.ContentTypeFieldDefinitions.Any(fd => fd.FieldDefinition.Name.Equals(MarketingCenterDbConstants.FieldNames.Language, StringComparison.OrdinalIgnoreCase)))
{
    @Html.Hidden("fieldDef.FieldDefinition.Language", Model.Language ?? Html.GetFieldDefinitionDefaultValue("Language", Model.UserRegion), new { id = "fieldDef_FieldDefinition_Language" });
}
@if (User.IsInPermission(Constants.Permissions.CanManageExpirationDate) && Model.CanExpire)
{
    using (Html.BeginFormGroup("ExpirationDate", Model.FieldsEditedByBusinessOwner.Contains("ExpirationDate") ? "highlighted" : ""))
    {
        <label class="col-md-3 control-label">
            Expiration Date @((Model.MustExpire) ? Html.Raw("<span class=\"req-mark\">*</span>") : Html.Raw(""))
        </label>
        <div class="col-md-6">
            @if (Model.FieldsEditedByBusinessOwner.Contains("ExpirationDate"))
            {
                <span class="bo-edited fa fa-exclamation-triangle" title="This field was modified by the Business Owner, <b>@Model.ModifiedByUserName</b>" data-html="true" data-toggle="tooltip" data-placement="bottom"></span>
            }
            <div class="form-inline">
                <div class="input-group date input-date">
                    <span class="input-group-addon">
                        <em class="fa fa-calendar"></em>
                    </span>
                    @Html.TextBox("ExpirationDate", (Model.ExpirationDate.HasValue ? Model.ExpirationDate.GetValueOrDefault().ToString(Constants.DateTimeFormat, CultureInfo.InvariantCulture) : ""), new { @class = "form-control" })
                </div>
            </div>
        </div>
        <br />
    }
}
