﻿@model FieldDefinition
@{
    var fieldName = Convert.ToString(ViewData["fieldName"]);
    var contentItemData = (IDictionary<string, object>)ViewData["contentItemData"];
    var fieldDefinitions = (IEnumerable<FieldDefinition>)ViewData["fieldDefinitions"];
    var idValue = string.Empty;
    var fieldValue = contentItemData.ContainsKey(fieldName) ? Convert.ToString(contentItemData[fieldName]) : null;
    var idField = fieldDefinitions.FirstOrDefault(o => o.FieldType.IsIdentifierField());
    if (idField != null)
    {
        idValue = contentItemData.ContainsKey(idField.Name) ? Convert.ToString(contentItemData[idField.Name]) : null;
    }
    var uuid = Guid.NewGuid().ToString();
    bool fieldRequired = false;
    var currentField = fieldDefinitions.FirstOrDefault(f => f.Name == fieldName);
    if (currentField != null)
    {
        fieldRequired = currentField.Required;
    }
    var isNewForm = Convert.ToBoolean(ViewData["isNewForm"]);
    var userRegion = Convert.ToString(ViewData["userRegion"]);
    var isCrossBorderRegion = Convert.ToBoolean(ViewData["isCrossBorderRegion"]);
    var modalId = string.Format("modal-{0}", fieldName);
    var allSelectId = string.Format("allselect-{0}-{1}", fieldName, uuid);
    var selectMarketsId = string.Format("selectmarkets-{0}-{1}", fieldName, uuid);
    var selectedTagsAreaId = string.Format("selected-area-{0}", fieldName);
    var selectedTagsLabelId = string.Format("selected-{0}-{1}", fieldName, idValue);
    var hiddenSelectorId = Html.ViewData.TemplateInfo.GetFullHtmlFieldId(fieldName);
    var hiddenDefaultSelectorId = Html.ViewData.TemplateInfo.GetFullHtmlFieldId(string.Format("{0}-default", fieldName));
    var tagComponentSelector = string.Format("{0}.id-{1}", Html.ViewData.TemplateInfo.GetFullHtmlFieldName(fieldName), idValue);
}
<div class="location-tag-options">
    <input type="radio" name="allSelection-@uuid" id="@allSelectId" value="All" /><label>All</label>
    <input type="radio" name="allSelection-@uuid" id="@selectMarketsId" value="SelectMarkets" data-toggle="modal" data-target="#@modalId" /><label>Select Market(s)</label>
    <div id="@selectedTagsAreaId" class="market-tag-selected-area"><span id="@selectedTagsLabelId"></span> <a href="javascript:void(0);" data-toggle="modal" data-target="#@modalId">change</a></div>
    @Html.HiddenForTagField(Model, fieldValue, idValue, false, new { @class = "id-" + @idValue })
    @Html.HiddenDefaultForCrossBorderMarketTagField(Model, idValue, userRegion, !isNewForm && isCrossBorderRegion)

    <div class="modal inmodal is-featurable id-@idValue" id="@modalId" tabindex="-1" role="dialog" aria-hidden="true" style="display: none;">
        <div class="modal-dialog">
            <div class="modal-content animated flipInY">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title">@Model.Description</h4>
                </div>
                <div class="modal-body" id="tagComponent" name="@tagComponentSelector" v-bind:data-selected-tags="selectedIds">
                    <tag-component ref="tagChildren"
                                   v-bind:items="@Html.BuildCrossBorderMarketRegionTagList(Model, fieldValue, idValue, userRegion, !isNewForm && isCrossBorderRegion)"
                                   v-show="show"
                                   v-on:update="getSelectedIds" />
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-white" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
        @Html.Partial("~/Views/Shared/EditorTemplates/_TagComponent.cshtml", tagComponentSelector)
    </div>
</div>

<script type="text/javascript">
    $(function () {
        var tagField = new TagField();
        var getTagComponentSelectedItems = function () {
            return $("#tagComponent[name='@tagComponentSelector']").find("[data-locator='@tagComponentSelector'][data-checked='true']")
                .map(function (el) {
                    var selectedTags = $("#tagComponent[name = '@tagComponentSelector']").attr("data-selected-tags").split(",");
                    if (selectedTags.indexOf($(this).data('id').toString()) >= 0) {
                        return { id: $(this).data('id'), text: $(this).text() };
                    }
                })
                .get();
        }

        var areEqualArrays = function (_arr1, _arr2) {
            if (!Array.isArray(_arr1) || !Array.isArray(_arr2) || _arr1.length !== _arr2.length) {
                return false;
            }
            var arr1 = _arr1.concat().sort();
            var arr2 = _arr2.concat().sort();
            for (var i = 0; i < arr1.length; i++) {
                if (arr1[i] !== arr2[i]) {
                    return false;
                }
            }

            return true;
        }

        var refreshHiddenSelector = function () {
            var selectedItems = getTagComponentSelectedItems();
            tagField.setSelectedItems(selectedItems, "#@selectedTagsLabelId");
            $("#@hiddenSelectorId").val(selectedItems.map(function (el) { return el.id }).join());
        };

        var refreshSelectMarketsOption = function () {
            if (areEqualArrays($("#@hiddenSelectorId").val().split(','), $("#@hiddenDefaultSelectorId").val().split(','))) {
                $('#@allSelectId').prop('checked', 'true');
                $('#@selectedTagsAreaId').hide();
            }
            else {
                $('#@selectMarketsId').prop('checked', 'true');
                $('#@selectedTagsAreaId').show();
            }
        };

        $(document).on('updateTagComponentControl', function () {
            refreshHiddenSelector();
            refreshSelectMarketsOption();
        });

        $('#@modalId')
            .on('hidden.bs.modal', function () {
                refreshHiddenSelector();
                refreshSelectMarketsOption();
            })
            .on('refresh', function () {
                refreshHiddenSelector();
                refreshSelectMarketsOption();
            });

        $('#@allSelectId').click(function () {
            $("#@hiddenSelectorId").val($("#@hiddenDefaultSelectorId").val());
            refreshSelectMarketsOption();
        });

        if (@isNewForm.ToString().ToLower() && $("#@hiddenSelectorId").val() == '') {
            $("#@hiddenSelectorId").val($("#@hiddenDefaultSelectorId").val());
        }
        else {
            refreshHiddenSelector();
        }

        refreshSelectMarketsOption();
    });
</script>