﻿@model Mastercard.MarketingCenter.Data.Entities.FieldDefinition

@{
    var fieldName = Convert.ToString(ViewData["fieldName"]);
    var contentItemData = (IDictionary<string, object>)ViewData["contentItemData"];
    var customizationModel = contentItemData.GetData(fieldName) as Mastercard.MarketingCenter.Data.Entities.CustomizationField;
    var customizable = customizationModel != null ? customizationModel.Customizable : Convert.ToBoolean(contentItemData.GetData(fieldName));
    var contentItemId = contentItemData.GetData(Constants.ContentItemIdFieldName);
}

<script>
    $(function () {

        toggleCustomization($("#@Html.ViewData.TemplateInfo.GetFullHtmlFieldId(fieldName)"));

        $(".modal-wide").on("show.bs.modal", function () {
            var height = $(window).height() - 300;
            $(this).find(".modal-body").css("max-height", height);
        });

        $.getJSON('@Url.Action("GetSelectedCustomizationOptions", "Customization", new { id = contentItemId})', function (data) {

            if (data) {
                var tableBody = $("#selectedCustomizations tbody");
                tableBody.empty();
                var reqIds = [];
                var optIds = [];

                $(data.OptionalCustomizations).each(function (index, item) {
                    tableBody.append("<tr><td>" + item.FriendlyName + "</td><td>Optional</td></tr>");
                    optIds.push(item.CustomizationOptionId);
                });

                $(data.RequiredCustomizations).each(function (index, item) {
                    tableBody.append("<tr><td>" + item.FriendlyName + "</td><td>Required</td></tr>");
                    reqIds.push(item.CustomizationOptionId);
                });

                $("@string.Format("#{0}_req_customizations", Html.ViewData.TemplateInfo.GetFullHtmlFieldId(fieldName))").val(reqIds.join());
                $("@string.Format("#{0}_opt_customizations", Html.ViewData.TemplateInfo.GetFullHtmlFieldId(fieldName))").val(optIds.join());
            }
        });

        $("#customizationModal").on('hidden.bs.modal', function (e) {
            var requiredCustomizations = $('input[class=customization][value=Required]:checked');
            var optionalCustomizations = $('input[class=customization][value=Optional]:checked');

            var tableBody = getTableBody();
            tableBody.empty();

            var reqs = [];
            requiredCustomizations.each(function () {
                reqs.push($(this).data("id"));
                tableBody.append("<tr><td>" + $(this).data("friendlyname") + "</td><td>Required</td></tr>");
            });

            var opts = [];
            optionalCustomizations.each(function () {
                opts.push($(this).data("id"));
                tableBody.append("<tr><td>" + $(this).data("friendlyname") + "</td><td>Optional</td></tr>");
            });

            $("@string.Format("#{0}_req_customizations", Html.ViewData.TemplateInfo.GetFullHtmlFieldId(fieldName))").val(reqs.join());
            $("@string.Format("#{0}_opt_customizations", Html.ViewData.TemplateInfo.GetFullHtmlFieldId(fieldName))").val(opts.join());

        });

        $("#@Html.ViewData.TemplateInfo.GetFullHtmlFieldId(fieldName)").on("click", function () {
            toggleCustomization($(this));

            if (this.checked)
                $("#customizationModal").modal("show");
        });
    });

    function toggleCustomization(checkbox) {
        if (checkbox.is(':checked')) {
            $("#show-customization-dialog").show('slow');
            $("#customizationsPanel").show('slow');
        } else {
            $("#show-customization-dialog").hide('slow');
            $("#customizationsPanel").hide('slow');
            $("@string.Format("#{0}_req_customizations", Html.ViewData.TemplateInfo.GetFullHtmlFieldId(fieldName))").val("");
            $("@string.Format("#{0}_opt_customizations", Html.ViewData.TemplateInfo.GetFullHtmlFieldId(fieldName))").val("");
            $('input[class=customization][value=Off]').each(function () {
                $(this).prop("checked", true);
            });
            getTableBody().empty();
        }
    }

    function getTableBody() {
        return $("#selectedCustomizations tbody");
    }
</script>

@Html.Hidden(fieldName + "_req_customizations")
@Html.Hidden(fieldName + "_opt_customizations")

<div class="pull-left">
    <div class="onoffswitch">
        @Html.CheckBox(fieldName, customizable)
        <label class="onoffswitch-label" for="@Html.ViewData.TemplateInfo.GetFullHtmlFieldId(fieldName)"></label>
    </div>
</div>

<div>
    <button type="button" id="show-customization-dialog" class="btn btn-white" data-toggle="modal" data-target="#customizationModal"><em class="fa fa-pencil"></em></button>
</div>

<div id="customizationsPanel" class="panel panel-default scrollable-panel">
    <div class="panel-body">
        <table id="selectedCustomizations" class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Friendly Name</th>
                    <th scope="col">Optional/Required</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</div>

<div class="modal inmodal modal-wide" id="customizationModal" tabindex="-1" role="dialog" aria-labelledby="customizationLabel">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="customizationLabel">Customization</h4>
            </div>
            <div class="modal-body">
                @Html.Action("Index", "Customization", new { id = contentItemId })
            </div>
            <div class="modal-footer">

                <div class="pull-right">
                    <button type="button" class="btn btn-white" data-dismiss="modal">&nbsp;&nbsp;Close</button>
                </div>
            </div>
        </div>
    </div>
</div>