﻿@using System.Globalization
@model Mastercard.MarketingCenter.Data.Entities.FieldDefinition

@{
    var fieldName = Convert.ToString(ViewData["fieldName"]);
    var contentItemData = (IDictionary<string, object>)ViewData["contentItemData"];
    var fieldDefinitions = (IEnumerable<FieldDefinition>)ViewData["fieldDefinitions"];
    var isReadOnly = ViewData["IsReadOnly"] != null ? (bool)ViewData["IsReadOnly"] : false;
    string date = string.Empty;
    int hour = 12;
    int minute = 0;

    // if we are updating an item
    var data = contentItemData.GetData(fieldName);
    if (data != null)
    {
        var dateTime = Convert.ToDateTime(data);
        date = dateTime.ToString("MM/dd/yyyy", CultureInfo.InvariantCulture);
        hour = dateTime.Hour;
        minute = dateTime.Minute;
    }
}

@if (!isReadOnly)
{
    <div class="form-inline">
        <div class="input-group date input-date">
            <span class="input-group-addon">
                <em class="fa fa-calendar"></em>
            </span>
            @Html.TextBox(fieldName, date, new { @class = "form-control", @autocomplete = "off" })
        </div>
    </div>
}
else
{
    <div class="form-inline">
        @Html.TextBox(fieldName, date, new { @class = "form-control", @autocomplete = "off", @disabled = "disabled" })
    </div>
}