﻿@using Mastercard.MarketingCenter.Common.Infrastructure
@using Mastercard.MarketingCenter.Data
@model Mastercard.MarketingCenter.Data.Entities.FieldDefinition
@{
    var fieldName = Convert.ToString(ViewData["fieldName"]);
    var contentItemData = (IDictionary<string, object>)ViewData["contentItemData"];
    var isReadOnly = ViewData["IsReadOnly"] != null ? (bool)ViewData["IsReadOnly"] : false;
    var filename = Convert.ToString(contentItemData.GetData(fieldName));
    var uniqueId = Guid.NewGuid().ToString().Replace("-", "_"); // this is needed to uniquely identify element (e.g. on comparison page there may be multiple)
    var uploader = string.Format("{0}_obj_{1}", fieldName, uniqueId);
    var uploadCancelTriggered = string.Format("{0}_flag_{1}", fieldName, uniqueId);
    var fieldDefinitions = (IEnumerable<Mastercard.MarketingCenter.Data.Entities.FieldDefinition>)ViewData["fieldDefinitions"];
    var fieldDefinition = fieldDefinitions.First(o => o.Name == fieldName);
    var contentItemId = Convert.ToString(contentItemData.GetData(Constants.ContentItemIdFieldName));
    var fileListId = string.Format("{0}_filelist_{1}", fieldName, uniqueId);
    var containerId = string.Format("{0}_container_{1}", fieldName, uniqueId);
    var pickFilesId = string.Format("{0}_pickfiles_{1}", fieldName, uniqueId);
    var deleteButtonId = string.Format("{0}_delete_{1}", fieldName, uniqueId);
    var cancelButtonId = string.Format("{0}_cancel_{1}", fieldName, uniqueId);
    var progressContainerId = string.Format("{0}_progress_container_{1}", fieldName, uniqueId);
    var progressId = string.Format("{0}_progress_{1}", fieldName, uniqueId);
    var errorId = string.Format("{0}_errorMessage_{1}", fieldName, uniqueId);
    var hiddenClass = string.Format("{0}_hdn_{1}", fieldName, uniqueId);

    var maxSize = Model.GetValueFromJsonCustomSettings("MaxSize");

    var identifier = Guid.NewGuid().ToString();
    var key = (identifier + Request.Url.PathAndQuery.Replace("//", "/")).GetMD5Hash();  //as fail-safe, deduplicate slash /
    var urlObject = Url.Action(
        "UploadChunk",
        "File",
        new
        {
            uploadLocationSetting = Html.GetFileUploadLocationSetting(fieldDefinition),
            key = key,
            identifier = identifier,
            contentItemId = contentItemId,
            fieldDefinitionName = fieldName,
            actionId = MarketingCenterDbConstants.UploadActivity.Action.Upload
        });

    var urlString = Html.Raw(urlObject);
}
@Html.Hidden(fieldName, filename, new { @class = hiddenClass })
<div class="download-container">
    <div id="@fileListId"></div>
    <div @(isReadOnly ? "style=display:none" : string.Empty)>
        <div id="@containerId">
            <button id="@pickFilesId" type="button" class="btn btn-primary">Select File</button>
            <button type="button" id="@deleteButtonId" class="btn btn-danger">Delete</button>
        </div>
        <div id="@progressContainerId" class="progress">
            <div id="@progressId" class="progress-bar progress-bar-striped active" role="progressbar" style="width:0%">
            </div>
        </div>
        <button type="button" id="@cancelButtonId" class="btn btn-danger">Cancel</button>
        <div id="@errorId" class="error"></div>
    </div>
</div>
<script>
    var @(uploadCancelTriggered) = false;

    $(".@(@hiddenClass)").change(function() {
        if ($(this).val().length > 0) {
            $("#@deleteButtonId").show();
        }
    });

    $("#@cancelButtonId").click(function() {
        @(uploadCancelTriggered) = true;
    });

    $("#@deleteButtonId").click(function() {
        createDeleteUploadActivity($(".@(@hiddenClass)").val(), null, $(".@(@hiddenClass)").data("filesize"));
        $(".@(@hiddenClass)").val('');
        $("#@fileListId").empty();
        $("#@deleteButtonId").hide();
        $("#@pickFilesId").show();
        $("#@containerId .moxie-shim").show();
    });

    var @(uploader) = new plupload.Uploader({
        runtimes: 'html5,html4',
        browse_button: '@pickFilesId',
        container: '@containerId',
        url: '@urlString',
        multi_selection: false,
        chunk_size: '1024kb',
        max_retries: 3,
        retry_interval: 2000,
        filters: {
            max_file_size: @Html.Raw(string.IsNullOrEmpty(maxSize)? "'0'": "'"+maxSize+"Gb'") ,
            mime_types: []
        },
        init: {
            PostInit: function() {
                document.getElementById('@fileListId').innerHTML = '';
                $("#@progressContainerId").hide();
                $("#@cancelButtonId").hide();
                $("#@errorId").hide();

                if ($(".@(@hiddenClass)").val().length > 0) {
                    var filename = $(".@(@hiddenClass)").val();
                    $.get("@Url.Action("Info", "File", new { uploadLocationSetting = Html.GetFileUploadLocationSetting(fieldDefinition)
                })", { filename: filename }, function(data) {
                        if (data.size) {
                            document.getElementById('@fileListId').innerHTML += '<div><a href="@Html.Raw(Url.Action("GetFile", "File", new { uploadLocationSetting = Html.GetFileUploadLocationSetting(fieldDefinition) }))&file=' + encodeURIComponent(filename) + '" target="_blank">' + filename.split('/').pop() + ' (' + plupload.formatSize(data.size) + ') <b></b></a></div>';
                            $(".@(@hiddenClass)").attr("data-filesize", data.size);
                        } else {
                            document.getElementById('@fileListId').innerHTML += '<div>File Not Found!</div>';
                        }
                    });
                    $("#@deleteButtonId").show();
                    $("#@pickFilesId").hide();
                    $("#@containerId .moxie-shim").hide();
                } else {
                    $("#@deleteButtonId").hide();
                }
            },

            FilesAdded: function (up, files) {
                plupload.each(files, function(file) {
                    document.getElementById('@fileListId').innerHTML += '<div id="' + file.id + '"><a href="#" id="link_' + file.id + '">' + file.name + ' (' + plupload.formatSize(file.size) + ') <b></b></a></div>';
                });
                @(uploader).start();
            },

            UploadProgress: function(up, file) {
                if (up.state === plupload.STARTED && file.percent > 0) {
                    $("#@progressContainerId").show();
                    $("#@cancelButtonId").show();
                    $("#@progressId").css("width", file.percent + "%");

                    // submit button is disabled
                    $('button[data-toggle="dropdown"], a.button, button.mc-btn, button.btn-primary').prop('disabled', true);
                }
            },

            FileUploaded: function(up, file, response) {
                var r = JSON.parse(response.response);
                //response.status possible values: ok, chunkOk, error
                if (r.status == "ok") {
                    var serverFilename = r.fileInfo.name;
                    var serverFilesize = r.fileInfo.size;
                    $("#@pickFilesId").hide();
                    $(".@(@hiddenClass)").val(serverFilename);
                    $(".@(@hiddenClass)").attr("data-filesize", serverFilesize);
                    $("#link_" + file.id).attr("href", "@Html.Raw(Url.Action("GetFile", "File", new { uploadLocationSetting = Html.GetFileUploadLocationSetting(fieldDefinition)}))&file=" + encodeURIComponent(serverFilename) + "").attr("target", "_blank");
                    $("#@progressContainerId").hide();
                    $("#@cancelButtonId").hide();

                    // submit button is enabled
                    $('button[data-toggle="dropdown"], a.button, button.mc-btn, button.btn-primary').removeProp('disabled');
                    $("#@deleteButtonId").show();
                    $("#@containerId .moxie-shim").hide();
                    appendUploadActivity(r.activityId);
                    $("#@errorId").hide();
                }
                else if (r.status == "error") {
                    $("#@errorId").show();
                    $("#@errorId").text(r.message);

                    $("#@progressContainerId").hide();
                    $("#@cancelButtonId").hide();
                    $("#@containerId .moxie-shim").hide();
                }
                else if (r.status == "chunkOk") {}
                else {}
            },
            ChunkUploaded: function (up, file, info) {
                $("#@errorId").hide();
            },
            BeforeChunkUpload: function (up, file, info) {
                var canceled = @(uploadCancelTriggered);
                if (canceled) {
                    @(uploadCancelTriggered) = false;
                    up.stop();
                    $("#@pickFilesId").hide();
                    $("#@progressContainerId").hide();
                    $("#@cancelButtonId").hide();
                    $("#@progressId").css("width", "0%");
                    up.splice(0, 1);
                    $('button[data-toggle="dropdown"], a.button, button.mc-btn, button.btn-primary').removeProp('disabled');
                    $("#@deleteButtonId").show();
                    $("#@containerId .moxie-shim").hide();
                    $("#@errorId").hide();
                    $("#@deleteButtonId").click();
                }
            },
            BeforeUpload: function (up, file) {
                ValidateAuthenticationValidator();
            },
            Error: function(up, err) {
                $("#@errorId").show();

                // override default max file size to be able to show custom error message
                var errorMessage = err.code == plupload.FILE_SIZE_ERROR ? 'File size exceeds the max limit (field max limit: ' + @maxSize + 'Gb).' : err.message;
                $("#@errorId").text(errorMessage);

                $("#@progressContainerId").hide();
                $("#@cancelButtonId").hide();
                $("#@containerId .moxie-shim").hide();
            }
        }
    });

    function createDeleteUploadActivity(filepath, files, filesize) {
        var filename = filepath.split('/')[1];
        if (filename != undefined) {
            var fileInfo = files != null && files.length > 0 ? files.find(function (f) {
                return f.name == filename
            }) : { size: filesize && filesize != undefined ? filesize : 0 };
            $.post('/admin/File/RegisterUploadActivity', 'file=' + filepath + '&size=' + fileInfo.size + '&contentItemId=@contentItemId&fieldDefinitionName=@fieldName&action=@MarketingCenterDbConstants.UploadActivity.Action.Delete', function (response) {
                if (response.success != true) {
                    alert('An error has ocurred trying to track the deletion of an upload activity, please communicate with an administrator. EventId: ' + response.eventId + ', ActivityId: ' + response.activityId);
                }
                else {
                    appendUploadActivity(response.activityId);
                }
            });
        }
        else {
            alert('An error has ocurred trying to track the deletion of an upload activity, please communicate with an administrator.');
        }
    }

    function appendUploadActivity(uploadActivityId) {
        var val = $("#UploadActivityIds").val().trim();
        if (val.trim().length == 0) {
            var data = [];
            data.push(uploadActivityId);
            $("#UploadActivityIds").val(JSON.stringify(data));
        }
        else {
            var data = JSON.parse($("#UploadActivityIds").val());
            if (data.indexOf(uploadActivityId) < 0) {
                data.push(uploadActivityId);
                $("#UploadActivityIds").val(JSON.stringify(data));
            }
        }
    }

    @(uploader).init();
</script>