﻿@model Mastercard.MarketingCenter.Data.Entities.FieldDefinition
@{
    var addSpecs = Convert.ToBoolean(ViewData["addSpecs"] ?? false);
    var fieldName = Convert.ToString(ViewData["fieldName"]);
    var contentItemData = (IDictionary<string, object>)ViewData["contentItemData"];
    var isReadOnly = ViewData["IsReadOnly"] != null ? (bool)ViewData["IsReadOnly"] : false;
    var filename = Convert.ToString(contentItemData.GetData(fieldName));
    var uniqueId = Guid.NewGuid().ToString().Replace("-", "_"); // this is needed to uniquely identify element (e.g. on comparison page there may be multiple)
    var uploader = string.Format("{0}_obj_{1}", fieldName, uniqueId);
    var fileListId = string.Format("{0}_filelist_{1}", fieldName, uniqueId);
    var containerId = string.Format("{0}_container_{1}", fieldName, uniqueId);
    var pickFilesId = string.Format("{0}_pickfiles_{1}", fieldName, uniqueId);
    var deleteButtonId = string.Format("{0}_delete_{1}", fieldName, uniqueId);
    var progressContainerId = string.Format("{0}_progress_container_{1}", fieldName, uniqueId);
    var progressId = string.Format("{0}_progress_{1}", fieldName, uniqueId);
    var hiddenClass = string.Format("{0}_hdn_{1}", fieldName, uniqueId);
}
@Html.Hidden(fieldName, filename, new { @class = hiddenClass })
<div id="@fileListId"></div>
<div @(isReadOnly ? "style=display:none" : string.Empty)>
    <div id="@containerId">
        <button id="@pickFilesId" type="button" class="btn btn-primary">Select Image</button>
        <button type="button" id="@deleteButtonId" class="btn btn-danger">Delete</button>
    </div>
    <div id="@progressContainerId" class="progress">
        <div id="@progressId" class="progress-bar progress-bar-striped active" role="progressbar" style="width:0%">
        </div>
    </div>
</div>
<script>
    $(function (){
        var addSpecs =@addSpecs.ToString().ToLower();
        function loadTitle() {
            if (addSpecs) {
                specs = "@Html.Raw(Html.RenderMaxSize(Model))";
                document.getElementById('@fileListId').innerHTML = '<div class="cms-thumb-wrap mc-form-group"><label>Image ' + specs + '@(Model.Required ? Html.Raw("<span class=\"required\">*</span>") : Html.Raw(""))</label></div>';
            }
        }
        loadTitle();
        function loadImageData(filename) {
            $.get("@Url.Action("GetFileInfo", "Image")", { filename: filename }, function (data) {
                if (data.size) {
                    var specs = "";
                    if (addSpecs) {
                        specs = "@Html.Raw(Html.RenderMaxSize(Model))";
                        document.getElementById('@fileListId').innerHTML = '<div class="cms-thumb-wrap mc-form-group"><label>Image ' + specs + '@(Model.Required ? Html.Raw("<span class=\"required\">*</span>") : Html.Raw(""))</label><img class="cms-thumb-img" src="@Html.Raw(Url.Action("GetImage", "Image", new { width = 100, height = 100}))&filename=' + encodeURIComponent(filename) + '"/><a href="' + data.url + '" target="_blank">' + 'View Full (' + plupload.formatSize(data.size) + ')' + ' <b></b></a></div>';
                    } else {
                        document.getElementById('@fileListId').innerHTML = '<div class="cms-thumb-wrap"><img class="cms-thumb-img" src="@Html.Raw(Url.Action("GetImage", "Image", new { width = 100, height = 100}))&filename=' + encodeURIComponent(filename) + '"/><a href="' + data.url + '" target="_blank">' + 'View Full (' + plupload.formatSize(data.size) + ')' + ' <b></b></a></div>';
                    }
                }
                else {
                    document.getElementById('@fileListId').innerHTML = '<div class="cms-thumb-wrap alert-danger"><img class="cms-thumb-img" src="' + data.url + '"/>' + data.name + '</div>';
                }
            });
        }
        $(".@(@hiddenClass)").change(function() {
            if ($(this).val().length > 0) {
                $("#@deleteButtonId").show();
            }
        });
        var maxFileSize = '20mb';
        var fileFormats = ["jpg", "jpeg", "png"];
        $("#@deleteButtonId").click(function() {
            $(".@(@hiddenClass)").val('');
            $("#@fileListId").empty();
            loadTitle();
            $("#@deleteButtonId").hide();
            $("#@pickFilesId").show();
            $("#@containerId .moxie-shim").show();
        });

        var @(uploader) = new plupload.Uploader({
            runtimes: 'html5,flash,silverlight,html4',
            browse_button: '@pickFilesId',
            container: '@containerId',
            url: '@Url.Action("Upload", "Image")',
            multi_selection: false,
            flash_swf_url: '@Url.Content("~/Content/js/plugins/plupload/Moxie.swf")',
            silverlight_xap_url: '@Url.Content("~/Content/js/plugins/plupload/Moxie.xap")',
            filters: {
                max_file_size: maxFileSize,
                mime_types: [
                    { title: "Image files", extensions: fileFormats.join(",") }]
            },

            init: {
                PostInit: function () {
                    $("#@progressContainerId").hide();
                    if ($(".@(@hiddenClass)").val().length > 0) {
                        var filename = $(".@(@hiddenClass)").val();
                        loadImageData(filename);

                        $("#@deleteButtonId").show();
                        $("#@pickFilesId").hide();
                        $("#@containerId .moxie-shim").hide();
                            } else {
                        $("#@deleteButtonId").hide();
                    }
                },
                FilesAdded: function(up, files) {
                    @(uploader).start();
                },
                UploadProgress: function(up, file) {
                    if (file.percent > 0) {
                        $("#@progressContainerId").show();
                        $("#@progressId").css("width", file.percent + "%");

                        // submit button is disabled
                        $('button[data-toggle="dropdown"], a.button, button.mc-btn, button.btn-primary').prop('disabled', true);
                    }
                },
                BeforeUpload: function (up, file) {
                    ValidateAuthenticationValidator();
                },
                Error: function(up, args) {
                    if (args.code == -601) {
                        var errorDiv = document.createElement("div");
                        errorDiv.className = "alert alert-danger max-file-size";
                        errorDiv.role = "alert";
                        errorDiv.innerHTML = "Wrong format please input files of the format/s " + fileFormats.join(", ");
                        $(".ibox-content").prepend(errorDiv);
                        $('html, body').animate({
                            scrollTop: $(".ibox-content .alert.alert-danger.max-file-size").offset().top
                        }, 700);
                    }
                    if(args.code==-600)
                    {
                        var errorDiv= document.createElement("div");
                        errorDiv.className="alert alert-danger max-file-size";
                        errorDiv.role="alert";
                        errorDiv.innerHTML = "The file can't exced " + maxFileSize + " in size.";
                        $(".ibox-content").prepend(errorDiv);
                        $('html, body').animate({
                            scrollTop: $(".ibox-content .alert.alert-danger.max-file-size").offset().top
                        }, 700);
                    }
                },
                FileUploaded: function(up, file, response) {
                    $("#@pickFilesId").hide();
                    var serverFilename = JSON.parse(response.response).filename;
                    $(".@(@hiddenClass)").val(serverFilename);
                    $("#" + file.id).append("<img src='@Html.Raw(Url.Action("GetImage", "Image", new { width = 100, height = 100}))&filename=" + serverFilename + "'/>");
                    $("#link_" + file.id).attr("href", "@Html.Raw(Url.Action("GetImage", "Image"))?filename=" + serverFilename + "").attr("target", "_blank");
                    $("#@progressContainerId").hide();

                    // submit button is enabled
                    $('button[data-toggle="dropdown"], a.button, button.mc-btn, button.btn-primary').removeProp('disabled');
                    $("#@deleteButtonId").show();
                    $("#@containerId .moxie-shim").hide();
                    $(".ibox-content .alert.alert-danger.max-file-size").remove();
                    loadImageData(serverFilename);
                }
            }
        });

        @(uploader).init();
    })
</script>
