﻿@model ListItemModel
@foreach (var fieldDef in Model.ListFieldDefinitions.OrderBy(o => o.Order))
{
    using (Html.BeginFormGroup(fieldDef.FieldDefinition.Name))
    {
        if (fieldDef.FieldDefinition.FieldTypeCode != Mastercard.MarketingCenter.Data.Entities.FieldType.Hidden)
        {
            <label class="col-md-3 control-label">@fieldDef.FieldDefinition.Description @(fieldDef.FieldDefinition.Required ? Html.Raw("<span class=\"req-mark\">*</span>") : Html.Raw(""))</label>
        }
        <div class="col-md-6">@Html.EditorFor(o => fieldDef.FieldDefinition, o => fieldDef.FieldDefinition, new { fieldName = fieldDef.FieldDefinition.Name, contentItemData = Model.ListItemData, fieldDefinitions = Model.ListFieldDefinitions.Select(o => o.FieldDefinition) })</div>
    }
}