﻿@model FieldDefinition
@{
    var fieldName = Convert.ToString(ViewData["fieldName"]);
    var contentItemData = (IDictionary<string, object>)ViewData["contentItemData"];
    var fieldDefinitions = (IEnumerable<FieldDefinition>)ViewData["fieldDefinitions"];
    var isReadOnly = ViewData["IsReadOnly"] != null ? (bool)ViewData["IsReadOnly"] : false;
    var idField = fieldDefinitions.FirstOrDefault(o => o.FieldType.IsIdentifierField());
    var idValue = string.Empty;
    var fieldValue = contentItemData.ContainsKey(fieldName) ? Convert.ToString(contentItemData[fieldName]) : null;
    if (idField != null)
    {
        idValue = contentItemData.ContainsKey(idField.Name) ? Convert.ToString(contentItemData[idField.Name]) : null;
    }
    var checkboxSelector = string.Format("#location-{0}.id-{1}",
        fieldName,
        idValue);

    var hiddenSelector = string.Format("#{0}.id-{1}",
        Html.ViewData.TemplateInfo.GetFullHtmlFieldId(fieldName),
        idValue);
}
<div class="location-tag-options @(isReadOnly ? "readonly" : string.Empty)">
    <button @(isReadOnly ? "style=display:none" : string.Empty) type="button" class="btn btn-white" data-toggle="modal" data-target="@string.Format("#location-{0}", fieldName)">
        <em class="fa fa-pencil"></em>
    </button>
    <span style="padding: 10px" id="selected-@fieldName-@idValue"></span>
    @Html.HiddenForLocationField(Model, fieldValue, idValue, new { @class = "id-" + @idValue })

    <div class="modal inmodal is-featurable id-@idValue" id="@string.Format("location-{0}", fieldName)" tabindex="-1" role="dialog" aria-hidden="true" style="display: none;">
        <div class="modal-dialog" id="locationTags" data-json="@Html.BuildLocationTagList(idValue)" :data-selected-locations="selectedIds">
            <div class="modal-content animated flipInY">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" v-on:click="updateShowChildren"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title">@Model.Description</h4>
                </div>
                <div class="modal-body" v-if="show">
                    <ul class="location-tag--list root">
                        <location-tag ref="locationChildren"
                                      v-for="item in items" v-bind:key="item.EventLocationId"
                                      v-bind:node="item"
                                      v-bind:index="0"
                                      v-bind:forceshowchildren="true"
                                      v-on:update="notifyUpdateFromChildren" />
                    </ul>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-white" data-dismiss="modal" v-on:click="updateShowChildren">Close</button>
                </div>
            </div>
        </div>
        @Html.Partial("~/Views/Shared/EditorTemplates/_LocationComponent.cshtml", Html.ViewData.TemplateInfo.GetFullHtmlFieldName(fieldName))
    </div>
</div>

<script>
    $(function () {
        var tagField = new TagField();
        function distinct(value, index, self) {
            return self.map(function (el) { return el.id }).indexOf(value.id) === index;
        };
        var getSelectedItems = function () {
            var items = $("@Html.Raw(checkboxSelector)").find("[data-locator='@Html.ViewData.TemplateInfo.GetFullHtmlFieldName(fieldName)'][data-checked='true']")
                .map(function (cel) {
                    var selectedLocations = $("@Html.Raw(checkboxSelector) #locationTags").attr("data-selected-locations").split(",");
                    if (selectedLocations.indexOf($(this).data('id').toString()) >= 0) {
                        return { id: $(this).data('id'), text: $(this).text() };
                    }
                })
                .get();

            return items.filter(distinct);
        }
        var selectedItems = getSelectedItems();
        var category = tagField.setSelectedItems(selectedItems, "#selected-@fieldName-@idValue");


        $("@Html.Raw(checkboxSelector)").each(function () {
            $(this).click(function () {
                var checked = $(this)[0].checked;

                $("@Html.Raw(checkboxSelector)" + "[value=" + JSON.stringify($(this).val().trim()) + "]").each(function () {
                    $(this)[0].checked = checked;
                });
            });
        });

        $('@string.Format("#location-{0}", fieldName)')
            .on('hidden.bs.modal', function () {
                var selectedItems = getSelectedItems();

                tagField.onSelectionEnd(
                    "@hiddenSelector",
                    selectedItems,
                    "#selected-@fieldName-@idValue",
                    $("[id^=location-].id-@idValue"));
            })
            .on('refresh', function () {
                var selectedItems = getSelectedItems();

                var val = selectedItems.map(function (el) { return el.id }).join();
                $("@hiddenSelector").val(val);

                tagField.setSelectedItems(
                    selectedItems,
                    "#selected-@fieldName-@idValue");
            });
        $(document).on('updateEventLocationControl', function () {
            var selectedItems = getSelectedItems();
            tagField.setSelectedItems(selectedItems, "#selected-@fieldName-@idValue");
        });
    });
</script>