﻿@model FieldDefinition
@{
    var fieldName = Convert.ToString(ViewData["fieldName"]);
    var contentItemData = (IDictionary<string, object>)ViewData["contentItemData"];
    var fieldDefinitions = (IEnumerable<FieldDefinition>)ViewData["fieldDefinitions"];
    var idField = fieldDefinitions.FirstOrDefault(o => o.FieldType.IsIdentifierField());
    var idValue = string.Empty;
    var currentField = fieldDefinitions.FirstOrDefault(f => f.Name == fieldName);
    var fieldValue = contentItemData.ContainsKey(fieldName) ? Convert.ToString(contentItemData[fieldName]) : null;
    var uuid = Guid.NewGuid().ToString();
    bool fieldRequired = false;
    if (currentField != null)
    {
        fieldRequired = currentField.Required;
    }
    if (idField != null)
    {
        idValue = contentItemData.ContainsKey(idField.Name) ? Convert.ToString(contentItemData[idField.Name]) : null;
    }
    var isNewForm = Convert.ToBoolean(ViewData["isNewForm"]);
    var userRegion = Convert.ToString(ViewData["userRegion"]);
    var checkboxSelector = string.Format("#tag-{0}.id-{1} input[type='checkbox'][class!='box-trigger']", fieldName, idValue);
}
<div class="market-tag-options">
    <input type="radio" name="allSelection-@uuid" id="allselect-@fieldName-@uuid" value="All" /><label>All</label>
    <input type="radio" name="allSelection-@uuid" id="selectmarkets-@fieldName-@uuid" value="SelectMarkets" data-toggle="modal" data-target="#tag-@fieldName" /><label>Select Market(s)</label>
    <div id="selected-area-@fieldName" class="market-tag-selected-area"><span id="selected-@fieldName-@idValue"></span> <a href="javascript:void(0);" data-toggle="modal" data-target="#tag-@fieldName">change</a></div>
    @Html.HiddenForTagField(Model, fieldValue, idValue, true, new { @class = "id-" + @idValue })
    @Html.HiddenDefaultForMarketTagField(Model, userRegion)
    <div class="modal inmodal id-@idValue" id="tag-@fieldName" tabindex="-1" role="dialog" aria-hidden="true" style="display: none;">
        <div class="modal-dialog" id="marketTags" data-json="@Html.BuildMarketRegionTagList(Model, fieldValue, idValue, userRegion)">
            <div class="modal-content animated flipInY">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title">@Model.Description</h4>
                </div>
                <div class="modal-body" v-if="show">
                    <ul class="branches-list parent-check-req">
                        <li v-for="market in markets" v-bind:key="market.tagId">
                            <market-tag v-bind:css-class="market.class"
                                        v-bind:is-checked="market.isChecked"
                                        v-bind:name="market.name"
                                        v-bind:tag-group="market.tagGroup"
                                        v-bind:tag-id="market.tagId"
                                        v-bind:value="market.value"
                                        v-bind:value-label="market.valueLabel"
                                        v-on:check="market.isChecked = $event"
                                        v-on:uncheck="market.isChecked = $event" />
                        </li>
                    </ul>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-white" @@click.prevent="toggle">{{ toggleButtonName }}</button>
                    <button type="button" class="btn btn-white" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
        @Html.Partial("~/Views/Shared/EditorTemplates/_MarketTagComponent.cshtml")
    </div>
</div>

<script>
    $(window).load(function () {
        var hideField = function () {
            $('#allselect-@fieldName-@uuid').closest('.form-group').hide();
        };

        var hideSelectMarketsModalLink = function () {
            $('#selected-area-@fieldName').hide().next().hide();
            $('#@Html.ViewData.TemplateInfo.GetFullHtmlFieldId(fieldName)').val($('#@Html.ViewData.TemplateInfo.GetFullHtmlFieldId(fieldName)' + '-default').val());
        };

        var resetSelectModalValue = function () {
            if ((@fieldRequired.ToString().ToLower())) {
                $('#@Html.ViewData.TemplateInfo.GetFullHtmlFieldId(fieldName)').val('');
            }
        };

        var hideSelectMarketsOption = function () {
            hideSelectMarketsModalLink();
            $('#selectmarkets-@fieldName-@uuid').hide().next().hide();
            $('#allselect-@fieldName-@uuid').prop('checked', 'true');
        };

        var showSelectMarketsModalLink = function () {
            $('#selected-area-@fieldName').show().next().show();
        };

        var getSelectedItems = function () {
            return $("@Html.Raw(checkboxSelector):checked")
                .map(function (cel)
                {
                    return { id: $(this).val(), text: $(this).parent().text() };
                })
                .get();
        }

        var tagField = new TagField();
        var selectedItems = getSelectedItems();
        tagField.setSelectedItems(selectedItems, "#selected-@fieldName-@idValue");

        $('#tag-@fieldName')
            .on('hidden.bs.modal', function () {
                var selectedItems = getSelectedItems();
                tagField.onSelectionEnd(
                    "#@Html.ViewData.TemplateInfo.GetFullHtmlFieldId(fieldName)" + ".id-@idValue",
                    selectedItems,
                    "#selected-@fieldName-@idValue",
                    $("[id^=tag-].id-@idValue"));
            });

        if ((@isNewForm.ToString().ToLower()) &&
            ($('#@Html.ViewData.TemplateInfo.GetFullHtmlFieldId(fieldName)').val() == '') ||
             $('#@Html.ViewData.TemplateInfo.GetFullHtmlFieldId(fieldName)').val() == $('#@Html.ViewData.TemplateInfo.GetFullHtmlFieldId(fieldName)' + '-default').val()) {
            $('#@Html.ViewData.TemplateInfo.GetFullHtmlFieldId(fieldName)').val($('#@Html.ViewData.TemplateInfo.GetFullHtmlFieldId(fieldName)' + '-default').val());
            $('#allselect-@fieldName-@uuid').prop('checked', 'true');
            hideSelectMarketsModalLink();
        }
        else if ($('#@Html.ViewData.TemplateInfo.GetFullHtmlFieldId(fieldName)').val() !== $('#@Html.ViewData.TemplateInfo.GetFullHtmlFieldId(fieldName)' + '-default').val()) {
            $('#selectmarkets-@fieldName-@uuid').prop('checked', 'true');
            showSelectMarketsModalLink();
        }
        else if ($('#@Html.ViewData.TemplateInfo.GetFullHtmlFieldId(fieldName)').val() === $('#@Html.ViewData.TemplateInfo.GetFullHtmlFieldId(fieldName)' + '-default').val()) {
            $('#allselect-@fieldName-@uuid').prop('checked', 'true');
            hideSelectMarketsModalLink();
        }

        var modalBody = $('#tag-@fieldName .modal-body').html();
        if ($.trim(modalBody) === '') {
            hideSelectMarketsOption();
            hideField();
        }

        $('#allselect-@fieldName-@uuid').click(function () {
            hideSelectMarketsModalLink();
        });
        $('#selectmarkets-@fieldName-@uuid').click(function () {
            showSelectMarketsModalLink();
            resetSelectModalValue();
        });
    });
</script>