﻿@model FieldDefinition
@{
    var fieldName = Convert.ToString(ViewData["fieldName"]);
    var contentItemData = (IDictionary<string, object>)ViewData["contentItemData"];
    var fieldDefinitions = (IEnumerable<FieldDefinition>)ViewData["fieldDefinitions"];
    var isReadOnly = ViewData["IsReadOnly"] != null ? (bool)ViewData["IsReadOnly"] : false;
    var idField = fieldDefinitions.FirstOrDefault(o => o.FieldType.IsIdentifierField());
    object idValue = null;
    if (idField != null)
    {
        idValue = contentItemData.ContainsKey(idField.Name) ? contentItemData[idField.Name] : null;
    }
    var isInterregionCloning = ViewData["IsInterregionCloning"] != null ? (bool)ViewData["IsInterregionCloning"] : false;
    var interRegionCloningEnabled = ViewData["InterRegionCloningEnabled"] != null ? (bool)ViewData["InterRegionCloningEnabled"] : false;
    var useOnlyDefaultValues = (isInterregionCloning && !interRegionCloningEnabled);
}
@Html.BuildMultipleLookupGroup(fieldName, Convert.ToString(contentItemData.GetData(fieldName)), idValue, useOnlyDefaultValues)

@if (isReadOnly)
{
    <script>
        $("#fieldDef_FieldDefinition_@fieldName").attr('disabled', true).trigger("liszt:updated");
    </script>
}