﻿@model FieldDefinition
@using Mastercard.MarketingCenter.Data.Entities.CustomSettings;
@using Mastercard.MarketingCenter.Services.Extensions
@{
    var fieldName = Convert.ToString(ViewData["fieldName"]);
    var contentItemData = (IDictionary<string, object>)ViewData["contentItemData"];
    var fieldDefinitions = (IEnumerable<FieldDefinition>)ViewData["fieldDefinitions"];
    var isReadOnly = ViewData["IsReadOnly"] != null ? (bool)ViewData["IsReadOnly"] : false;
    var idField = fieldDefinitions.FirstOrDefault(o => o.FieldType.IsIdentifierField());
    object idValue = null;
    if (idField != null)
    {
        idValue = contentItemData.ContainsKey(idField.Name) ? contentItemData[idField.Name] : null;
    }
    var isInterregionCloning = ViewData["IsInterregionCloning"] != null ? (bool)ViewData["IsInterregionCloning"] : false;
    var interRegionCloningEnabled = ViewData["InterRegionCloningEnabled"] != null ? (bool)ViewData["InterRegionCloningEnabled"] : false;
    var useOnlyDefaultValues = (isInterregionCloning && !interRegionCloningEnabled);
    var lookupSettings = Model.GetSettings<LookupSettings>();
}
@Html.BuildMultipleLookup(fieldName, Convert.ToString(contentItemData.GetData(fieldName)), idValue, useOnlyDefaultValues)

@if (isReadOnly)
{
    @Html.Hidden(fieldName, Model.GetMultipleLookupReadOnlyValues(idValue, Convert.ToString(ViewData["userRegion"])))
    <script>
        $("#fieldDef_FieldDefinition_@fieldName").attr('disabled', true).trigger("liszt:updated");
    </script>
}
else if (lookupSettings.IncludeSelectAllChoice)
{
    <script>
        if (($('#fieldDef_FieldDefinition_@fieldName > option').length - $('#fieldDef_FieldDefinition_@fieldName :selected').length) <= 1) {
            disableSelectAll();
        }
        $("#fieldDef_FieldDefinition_@fieldName").change(function (event, params) {
            if (params.selected == "[select-all]") {
                $('#fieldDef_FieldDefinition_@fieldName option').prop('selected', true);
                disableSelectAll();
            }
            else if (params.deselected) {
                $('#fieldDef_FieldDefinition_@fieldName option[value="[select-all]"]').prop('disabled', false);
                $("#fieldDef_FieldDefinition_@fieldName").trigger("chosen:updated");
            }

            if (($('#fieldDef_FieldDefinition_@fieldName > option').length - $('#fieldDef_FieldDefinition_@fieldName :selected').length) <= 1) {

                disableSelectAll();
            }
        });

        function disableSelectAll() {
            $('#fieldDef_FieldDefinition_@fieldName option[value="[select-all]"]').prop('selected', false);
            $('#fieldDef_FieldDefinition_@fieldName option[value="[select-all]"]').prop('disabled', true);
            $("#fieldDef_FieldDefinition_@fieldName").trigger("chosen:updated");
        }
    </script>
}