﻿@model Mastercard.MarketingCenter.Data.Entities.FieldDefinition
@{
    var fieldName = Convert.ToString(ViewData["fieldName"]);
    var contentItemData = (IDictionary<string, object>)ViewData["contentItemData"];
    var fieldDefinitions = (IEnumerable<FieldDefinition>)ViewData["fieldDefinitions"];
    var idField = fieldDefinitions.FirstOrDefault(o => o.FieldType.IsIdentifierField());
    object idValue = null;
    if (idField != null)
    {
        idValue = contentItemData.ContainsKey(idField.Name) ? contentItemData[idField.Name] : null;
    }
    var isNewForm = Convert.ToBoolean(ViewData["isNewForm"]);
    var userRegion = Convert.ToString(ViewData["userRegion"]);
    var value = Model.GetRegionIntValue(idValue, userRegion, isNewForm);
    var relatedTable = Model.GetRelatedTableNameRegionIntValue();
}

@Html.BuildContentItemRegionVisibilityDropDown(fieldName, value.ToString())
<script>
    document.addEventListener("DOMContentLoaded", function () {
        var dropdown = $('.region-visibility-dropdown');
        var crossBorderField = $('#fieldDef_FieldDefinition_@(relatedTable)');
        var crossBorderOptionsDisplayed = $('#fieldDef_FieldDefinition_@(fieldName)_chosen');
        crossBorderOptionsDisplayed.on('mousedown', function () {
            ShowHideRegionIntVisibilityOptions(dropdown);
        })
    });
</script>