﻿@model FieldDefinition
@{
    var fieldName = Convert.ToString(ViewData["fieldName"]);
    var contentItemData = (IDictionary<string, object>)ViewData["contentItemData"];
    var fieldDefinitions = (IEnumerable<FieldDefinition>)ViewData["fieldDefinitions"];
    var idField = fieldDefinitions.FirstOrDefault(o => o.FieldType.IsIdentifierField());
    var idValue = string.Empty;

    if (idField != null)
    {
        idValue = contentItemData.ContainsKey(idField.Name) ? Convert.ToString(contentItemData[idField.Name]) : null;
    }
}
@Html.BuildSearchLanguagesTagDropDown(fieldName, idValue, ((string)(((IDictionary<string, object>)ViewData["contentItemData"]).GetData(fieldName)) )   ) 

<script>
    var hiddenLangField = $("#fieldDef_FieldDefinition_@fieldName" + "[type='hidden']");
    if (hiddenLangField && hiddenLangField.length > 0) {
        hiddenLangField.parent().parent().hide();
    }
</script>