﻿@model Mastercard.MarketingCenter.Data.Entities.FieldDefinition
@{
    var fieldName = Convert.ToString(ViewData["fieldName"]);
    var contentItemData = (IDictionary<string, object>)ViewData["contentItemData"];
    var isReadOnly = ViewData["IsReadOnly"] != null ? (bool)ViewData["IsReadOnly"] : false;
    var filename = Convert.ToString(contentItemData.GetData(fieldName));
    var uniqueId = Guid.NewGuid().ToString().Replace("-", "_"); // this is needed to uniquely identify element (e.g. on comparison page there may be multiple)
    var uploader = string.Format("{0}_obj_{1}", fieldName, uniqueId);
    var uploadCancelTriggered = string.Format("{0}_flag_{1}", fieldName, uniqueId);
    var contentItemId = Convert.ToString(contentItemData.GetData(Constants.ContentItemIdFieldName));
    var identifier = Guid.NewGuid().ToString();
    var key = (identifier + Request.Url.PathAndQuery.Replace("//", "/")).GetMD5Hash();  //as fail-safe, deduplicate slash /
    var maxItems = Model.GetValueFromJsonCustomSettings("MaxItems");

    var fileListId = string.Format("{0}_filelist_{1}", fieldName, uniqueId);
    var containerId = string.Format("{0}_container_{1}", fieldName, uniqueId);
    var pickFilesId = string.Format("{0}_pickfiles_{1}", fieldName, uniqueId);
    var deleteButtonId = string.Format("{0}_delete_{1}", fieldName, uniqueId);
    var cancelButtonId = string.Format("{0}_cancel_{1}", fieldName, uniqueId);
    var progressContainerId = string.Format("{0}_progress_container_{1}", fieldName, uniqueId);
    var progressId = string.Format("{0}_progress_{1}", fieldName, uniqueId);
    var errorId = string.Format("{0}_errorMessage_{1}", fieldName, uniqueId);
    var hiddenClass = string.Format("{0}_hdn_{1}", fieldName, uniqueId);
}
@Html.Hidden(fieldName, filename, new { @class = hiddenClass })
<div class="attachment-container">
    <div id="@fileListId"></div>
    @if (!isReadOnly)
    {
        <div id="@containerId">
            <button id="@pickFilesId" type="button" class="btn btn-primary">Select Files</button>
        </div>
        <div id="@progressContainerId" class="progress">
            <div id="@progressId" class="progress-bar progress-bar-striped active" role="progressbar" style="width:0%">
            </div>
        </div>
        <button type="button" id="@cancelButtonId" class="btn btn-danger">Cancel</button>
    }
    <div id="@errorId" class="error"></div>
</div>
<script>
    (function() {
        var @(uploadCancelTriggered) = false;

        $(document).on("click", "#@(fileListId) .delete", function () {
            var filename = $(this).data("filename");
            var button = $(this);
            removeFilename(filename);
            button.parent().remove();
            checkIfMaxFiles();
        });

        $(".@(@hiddenClass)").change(function () {
            if ($(this).val().length > 0) {
                $("#@deleteButtonId").show();
            }
        });

        $("#@cancelButtonId").click(function () {
        @(uploadCancelTriggered) = true;
        });

        $("#@deleteButtonId").click(function () {
            $(".@(@hiddenClass)").val('');
            $("#@fileListId").empty();
            $("#@deleteButtonId").hide();
            $("#@pickFilesId").show();
        });
        var fileFormats = ["jpg", "jpeg", "png", "bmp", "gif"];

        var @(uploader) = new plupload.Uploader({
            runtimes: 'html5,html4',
            browse_button: '@pickFilesId',
            container: '@containerId',
            url: '@Url.Action("Upload", "Image")',
            multi_selection: false,
            chunk_size: '1024kb',
            max_retries: 3,
            retry_interval: 2000,
            filters: {
                max_file_size: "20mb",
                mime_types: [
                    { title: "Image files", extensions: fileFormats.join(",") }]
            },
            init: {
                PostInit: function () {
                    $("#@progressContainerId").hide();
                    $("#@cancelButtonId").hide();
                    $("#@errorId").hide();
                },
                FilesAdded: function (up, files) {
                    @(uploader).start();
                },
                UploadProgress: function (up, file) {
                    if (file.percent > 0) {
                        $("#@progressContainerId").show();
                        $("#@progressId").css("width", file.percent + "%");

                        // submit button is disabled
                        $('button[data-toggle="dropdown"], a.button, button.mc-btn, button.btn-primary').prop('disabled', true);
                    }
                },
                FileUploaded: function (up, file, response) {
                    var r = JSON.parse(response.response);
                    var serverFilename = r.filename;
                    document.getElementById('@fileListId').innerHTML += '<div draggable="true" id="' + file.id + '"><img class="cms-thumb-img" src="@Html.Raw(Url.Action("GetImage", "Image", new { width = 100, height = 100 }))&filename=' + encodeURIComponent(serverFilename) + '"/><a href="#" id="link_' + file.id + '"><b></b></a></div>';

                    $("#" + file.id).append("<button type='button' alt='Remove' class='btn btn-danger btn-sm delete' data-filename='" + serverFilename + "'><span class='fa fa-trash' aria-hidden='true'></span></button>");
                    $("#link_" + file.id).attr("href", "@Html.Raw(Url.Action("GetImage", "Image", new { width = 100, height = 100 }))&file=" + encodeURIComponent(serverFilename) + "").attr("target", "_blank");
                    $("#@progressContainerId").hide();
                    $("#@cancelButtonId").hide();

                    // submit button is enabled
                    $('button[data-toggle="dropdown"], a.button, button.mc-btn, button.btn-primary').removeProp('disabled');
                    appendAttachments(serverFilename);
                    checkIfMaxFiles(up);
                    $("#@errorId").hide();
                },
                ChunkUploaded: function (up, file, info) {
                    //console.log({ up: up, file: file, info: info });
                    $("#@errorId").hide();
                },
                BeforeChunkUpload: function (up, file, info) {
                    var canceled = @(uploadCancelTriggered);
                    if (canceled) {
                        @(uploadCancelTriggered) = false;
                        up.stop();
                        $("#@progressContainerId").hide();
                        $("#@cancelButtonId").hide();
                        $("#@containerId .moxie-shim").hide();
                        $("#" + file.id).remove();
                        up.splice(0, 1);
                        $("#@progressId").css("width", "0%");
                        // submit button is enabled
                        $('button[data-toggle="dropdown"], a.button, button.mc-btn, button.btn-primary').removeProp('disabled');
                        $("#@errorId").hide();
                    }
                },
                Error: function (up, err) {
                    $("#@errorId").show();

                    // override default max file size to be able to show custom error message
                    var errorMessage = err.code == plupload.FILE_SIZE_ERROR ? 'File size exceeds the max limit (field max limit: 20mb).' : err.message;
                    $("#@errorId").text(errorMessage);

                    $("#@progressContainerId").hide();
                    $("#@cancelButtonId").hide();
                    $("#@containerId .moxie-shim").hide();
                }
            }
        });

    @(uploader).init();

    @if (Html.IsCopyOrClonePostBack(contentItemId, Context) || !string.IsNullOrEmpty(contentItemId))
    {
        <text>
            $.getJSON("@Html.Raw(Url.Action("GetSecondaryImages", "SecondaryImage", new { uploadLocationSetting = Html.GetFileUploadLocationSetting(Model) }))", { contentItemId: "@contentItemId" },
            function (fileInfos) {
                </text>
        if (contentItemData.ContainsKey(fieldName) && !string.IsNullOrEmpty((string)contentItemData[fieldName])) {
                <text>
                var previousItems =@Html.Raw(((string)contentItemData[fieldName])); if (previousItems.length > 0) { fileInfos.attachments = previousItems.map(function (item) { return { size: 1, name: item } }); }
                </text>
        }
                <text>
                if (fileInfos) {
                    var imgFromServer = 1;
                        $(fileInfos.attachments).each(function (index, fileInfo) {
                            var serverFilename = fileInfo.name;
                            var imageUrl = '@Html.Raw(Url.Action("GetImage", "Image", new { width = 100, height = 100 }))&filename=' + encodeURIComponent(serverFilename);
                            document.getElementById('@fileListId').innerHTML += '<div draggable="true" id="FixedId' + imgFromServer + '"><img class="cms-thumb-img" src="' + imageUrl + '"/></div>';
                            @if (!isReadOnly)
                            {
                            <text>
                                $("#FixedId" + imgFromServer).append("<button type='button' alt='Remove' class='btn btn-danger btn-sm delete' data-filename='" + serverFilename + "'><span class='fa fa-trash' aria-hidden='true'></span></button>");
                            </text>
                            }
                            appendAttachments(serverFilename);
                            imgFromServer = imgFromServer + 1;
                        });
                    checkIfMaxFiles();
            }
            });
        </text>
    }
        function checkIfMaxFiles() {
            if ($(".@hiddenClass").val().split(",").length >= 3) {
                $("#@pickFilesId").prop('disabled', true);
                $("#@pickFilesId").next().children().prop('disabled', true);
            }
            else {
                $("#@pickFilesId").prop('disabled', false);
                $("#@pickFilesId").next().children().prop('disabled', false);;
            }
        }
        function appendAttachments(filename) {

            var val = $(".@hiddenClass").val().trim();
            if (val.trim().length == 0) {
                var data = [];
                data.push(filename);
                $(".@hiddenClass").val(JSON.stringify(data));
            }
            else {
                var data = JSON.parse($(".@hiddenClass").val());
                if (data.indexOf(filename) < 0) {
                    data.push(filename);
                    $(".@hiddenClass").val(JSON.stringify(data));
                }
            }
            @if (!isReadOnly)
            {
                <text>
                    $("#@fileListId").sortable({
                        update: function () {
                            var data = [];
                            $("#@fileListId button").each(function (i, el) {
                                data.push($(el).data('filename'));
                            });
                            $(".@hiddenClass").val(JSON.stringify(data));
                        }
                    });
                </text>
            }
        }

        function removeFilename(filename) {
            var filenames = JSON.parse($(".@hiddenClass").val());
            removeA(filenames, filename);
            $(".@hiddenClass").val(JSON.stringify(filenames));
        }
    }())
</script>
