﻿@model Mastercard.MarketingCenter.Data.Entities.FieldDefinition
@using Mastercard.MarketingCenter.Services.Extensions
@{
    var fieldName = Convert.ToString(ViewData["fieldName"]);
    var contentItemData = (IDictionary<string, object>)ViewData["contentItemData"];
    var isReadOnly = ViewData["IsReadOnly"] != null ? (bool)ViewData["IsReadOnly"] : false;
    var settings = Model.GetSettings<SingleLineTextSettings>();
}
@if (!isReadOnly)
{
    @Html.TextBox(fieldName, contentItemData.GetData(fieldName), new { @class = "form-control" })
}
else
{
    @Html.TextBox(fieldName, contentItemData.GetData(fieldName), new { @class = "form-control", @disabled = "disabled" })
}

@if (!string.IsNullOrEmpty(settings.HelpText))
{
    <p class="help-block">@settings.HelpText</p>
}