﻿@model FieldDefinition
@{
    var fieldName = Convert.ToString(ViewData["fieldName"]);
    var contentItemData = (IDictionary<string, object>)ViewData["contentItemData"];
    var fieldDefinitions = (IEnumerable<FieldDefinition>)ViewData["fieldDefinitions"];
    var idField = fieldDefinitions.FirstOrDefault(o => o.FieldType.IsIdentifierField());
    var idValue = string.Empty;
    var fieldValue = contentItemData.ContainsKey(fieldName) ? Convert.ToString(contentItemData[fieldName]) : null;
    if (idField != null)
    {
        idValue = contentItemData.ContainsKey(idField.Name) ? Convert.ToString(contentItemData[idField.Name]) : null;
    }
    var isInterregionCloning = ViewData["IsInterregionCloning"] != null ? (bool)ViewData["IsInterregionCloning"] : false;
    var interRegionCloningEnabled = ViewData["InterRegionCloningEnabled"] != null ? (bool)ViewData["InterRegionCloningEnabled"] : false;
    var renderOnInterRegionClone = !(isInterregionCloning && !interRegionCloningEnabled);
    @* This Means if this view is being used in an Inter Region Cloning and this field has InterRegion Cloning Enabled , or if this is not being used on an InterRegion Cloning then the the specific parts related to regional cloning or non cloning operations will be enabled*@

    //var checkboxSelector = string.Format("#tag-{0}.id-{1} input[type='checkbox']", fieldName, idValue);
    // [class!='box-trigger']
    var checkboxSelector = string.Format("#tag-{0}.id-{1} input[type='checkbox'][name='{2}']",
        fieldName,
        idValue,
        Html.ViewData.TemplateInfo.GetFullHtmlFieldName(fieldName));

    var hiddenSelector = string.Format("#{0}.id-{1}",
        Html.ViewData.TemplateInfo.GetFullHtmlFieldId(fieldName),
        idValue);
}

<div class="col-md-6">
    <button type="button" class="btn btn-white" data-toggle="modal" data-target="@string.Format("#tag-{0}", fieldName)">
        <em class="fa fa-pencil"></em>
    </button>
    <span style="padding: 10px" id="selected-@fieldName-@idValue"></span>
    @Html.HiddenForTagField(Model, fieldValue, idValue, renderOnInterRegionClone, new { @class = "id-" + @idValue })

    <div class="modal inmodal is-featurable id-@idValue" id="@string.Format("tag-{0}", fieldName)" tabindex="-1" role="dialog" aria-hidden="true" style="display: none;">
        <div class="modal-dialog">
            <div class="modal-content animated flipInY">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title">@Model.Description</h4>
                </div>
                <div class="modal-body">
                    @Html.BuildTagTree(Model, fieldValue, idValue, renderOnInterRegionClone)
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-white" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(function () {
        var tagField = new TagField();
        var getSelectedItems = function () {
            return $("@Html.Raw(checkboxSelector):checked")
                .map(function (cel) {
                    return { id: $(this).val(), text: $(this).parent().text() };
                })
                .get();
        }
        var selectedItems = getSelectedItems();
        var category = tagField.setSelectedItems(selectedItems, "#selected-@fieldName-@idValue");


        $("@Html.Raw(checkboxSelector)").each(function () {
            $(this).click(function () {
                var checked = $(this)[0].checked;

                $("@Html.Raw(checkboxSelector)" + "[value=" + JSON.stringify($(this).val().trim()) + "]").each(function () {
                    $(this)[0].checked = checked;
                });
            });
        });

        $('@string.Format("#tag-{0}", fieldName)')
            .on('hidden.bs.modal', function () {
                var selectedItems = getSelectedItems();

                tagField.onSelectionEnd(
                    "@hiddenSelector",
                    selectedItems,
                    "#selected-@fieldName-@idValue",
                    $("[id^=tag-].id-@idValue"));
            })
            .on('refresh', function () {
                var selectedItems = getSelectedItems();

                var val = selectedItems.map(function (el) { return el.id }).join();
                $("@hiddenSelector").val(val);

                tagField.setSelectedItems(
                    selectedItems,
                    "#selected-@fieldName-@idValue");
            });
    });
</script>