﻿@model FieldDefinition
@{
    var fieldName = Convert.ToString(ViewData["fieldName"]);
    var contentItemData = (IDictionary<string, object>)ViewData["contentItemData"];
    var fieldDefinitions = (IEnumerable<FieldDefinition>)ViewData["fieldDefinitions"];
    var languages = Model.GetAvailableLanguages();
    var tableName = Model.GetTableName();
    var currentFieldDef = fieldDefinitions.FirstOrDefault(f => f.Name == fieldName);
    var subFieldDefintions = Model.GetTranslatedFieldDefinitions(currentFieldDef.Required);
    var idField = fieldDefinitions.FirstOrDefault(o => o.FieldType.IsIdentifierField());
    var idValue = string.Empty;
    if (idField != null)
    {
        idValue = contentItemData.ContainsKey(idField.Name) ? Convert.ToString(contentItemData[idField.Name]) : null;
    }
}
<input type="hidden" name="@fieldName" id="@fieldName" />
<div id="translations-container-@fieldName" class="translations-container">
    <label id="default-value-@fieldName" class="default-translations-value"></label>
    <div class="language-selector">
        @foreach (var language in languages)
        {
            <a id="@language.Code-@fieldName" data-code="@language.Code" href="javascript:void(0);" style="@((!((languages.First().Code == language.Code) && (ViewData.ModelState.ContainsKey(fieldName))) && !ViewData.ModelState.ContainsKey(fieldName + "_" + language.Code))? "" : "color:#fe0202;")">@language.Name</a>
        }
    </div>

    @foreach (var language in languages)
    {
        <div id="@language.Code-container-@fieldName" style="display:none;" class="language-container">
            @foreach (var fieldDef in subFieldDefintions)
            {
                <div class="form-group @( ( !((languages.First().Code == language.Code) && (ViewData.ModelState.ContainsKey(fieldName)) ) && !ViewData.ModelState.ContainsKey(fieldName+"_"+language.Code) && !ViewData.ModelState.ContainsKey(fieldName+"_"+fieldDef.Name+"_"+language.Code))? "no-errors" : "has-error")">
                    <label>@fieldDef.Description @(fieldDef.Required && languages.First().Code == language.Code ? Html.Raw("<span class=\"req-mark\">*</span>") : Html.Raw(""))</label>
                    @Html.EditorForTranslatedField(o => fieldDef, fieldDef.FieldTypeCode, fieldDef.Name, idField != null ? idField.Name : null, idValue, language.Code, subFieldDefintions, tableName, (contentItemData.ContainsKey(fieldName)) ? contentItemData[fieldName].ToString() : null)
                </div>
            }
        </div>
    }
</div>
<script>
    $(function () {
        $('.language-selector a:first').attr('class', 'active');
        var setDefaultLabel = function () {
            $('#default-value-@fieldName').html($('#translations-container-@fieldName input:first').val());
        }

        $('.language-selector a').click(function () {
            $('.language-container').hide();
            $('#' + $(this).data('code') + '-container-@fieldName').show();
            $('.language-selector a').removeClass('active');
            $('#' + $(this).data('code') + '-@fieldName').attr('class', 'active');
            return true;
        });
        $('.language-container:first').show();
        var setFieldValue = function () {
            var values = {};
            $('.language-container textarea, .language-container input[type="text"]').each(function () {
                var id = $(this).attr('id');
                var containerId = $(this).closest('.language-container').attr('id');
                var code = containerId.substring(0, containerId.indexOf('-'));
                if (typeof (id) !== 'undefined' && ($(this).val() !== '' || code == 'en')) {
                    var field = id.substring(id.lastIndexOf('_') + 1);

                    if (!values[code])
                        values[code] = { LanguageCode: code };

                    values[code][field] = $(this).val();
                }
            });

            $('#@fieldName').val($('<div/>').text(JSON.stringify(values)).html());
        };

        $('.language-container textarea, .language-container input').on('propertychange input', function (e) {
            if (e.type !== 'propertychange' || (e.type === 'propertychange' && e.originalEvent.propertyName === 'value')) {
                setFieldValue();
                setDefaultLabel();
            }
        });
        $('.language-container .note-editable').on('blur', function () { setFieldValue(); })
        setFieldValue();
        setDefaultLabel();
    });
</script>