﻿@model Mastercard.MarketingCenter.Data.Entities.FieldDefinition
@{
    var fieldName = Convert.ToString(ViewData["fieldName"]);
    var contentItemData = (IDictionary<string, object>)ViewData["contentItemData"];
    var contentItemId = Convert.ToString(contentItemData.GetData(Constants.ContentItemIdFieldName));

    var isNewForm = Convert.ToBoolean(ViewData["isNewForm"]);
    var isNew = isNewForm;
    var isNotificationChecked = isNewForm;
    var isFeaturedChecked = false;
    var triggerMarketingReasons = string.Empty;

    if (!ViewData.ModelState.IsValid)
    {
        var triggerMarketingInfo = Mastercard.MarketingCenter.Cms.Services.Services.ContentService.GetTriggerMarketingValues(Convert.ToString(contentItemData.GetData(fieldName)));
        if (triggerMarketingInfo != null)
        {
            isNotificationChecked = triggerMarketingInfo.Notify;
            isFeaturedChecked = triggerMarketingInfo.Featured;
            triggerMarketingReasons = triggerMarketingInfo.Reasons;
            isNew = triggerMarketingInfo.IsNew;
        }
    }
    else
    {
        var triggerMarketingServices = DependencyResolver.Current.GetService<Mastercard.MarketingCenter.Cms.Services.Services.TriggerMarketingServices>();
        var triggerMarketingInfo = triggerMarketingServices.GetTriggerMarketing(contentItemId).FirstOrDefault();
        if (triggerMarketingInfo != null)
        {
            isNotificationChecked = triggerMarketingInfo.Notify;
            isFeaturedChecked = triggerMarketingInfo.Featured;
            triggerMarketingReasons = triggerMarketingInfo.Reasons;
            isNew = triggerMarketingInfo.IsNew;
        }
    }
}
<div class="trigger-marketing">
    <input type="hidden" id="@(fieldName)_new" name="@fieldName" value=";#@(isNew ? Mastercard.MarketingCenter.Common.Infrastructure.Constants.IsNewValue : "");#" />
    <div class="checkbox">
        <label>
            <input type="checkbox" @(isNotificationChecked ? "checked='checked'" : string.Empty) id="@(fieldName)_notify" name="@fieldName" value=";#@(Mastercard.MarketingCenter.Common.Infrastructure.Constants.TriggerMarketingNotificationsValue);#" />@Mastercard.MarketingCenter.Common.Infrastructure.Constants.TriggerMarketingNotificationsValue
        </label>
    </div>
    <div class="checkbox">
        <label>
            <input type="checkbox" @(isFeaturedChecked ? "checked='checked'" : string.Empty) id="@(fieldName)_featured" name="@fieldName" value=";#@(Mastercard.MarketingCenter.Common.Infrastructure.Constants.ShowAsFeaturedLinkValue);#" />@Mastercard.MarketingCenter.Common.Infrastructure.Constants.ShowAsFeaturedLinkValue
        </label>
    </div>
    <div class="checkbox textarea">
        @Html.TextArea("txtReasons", triggerMarketingReasons, 2, 35, new { @class = "form-control", @maxlength = "255", @placeholder = "Enter here what are the reasons for triggering a marketing notification..." })
        <input type="hidden" id="@(fieldName)_reasons" name="@fieldName" value=";#@(triggerMarketingReasons);#" />
    </div>
    <script>
        $(document).ready(function () {
            if ($("#@(fieldName)_notify").is(':checked')) {
                $("#fieldDef_FieldDefinition_txtReasons").show();
                $("#@(fieldName)_featured").removeAttr("disabled");
            }
            else {
                $("#fieldDef_FieldDefinition_txtReasons").hide();
                $("#fieldDef_FieldDefinition_txtReasons").val('');
                $("#@(fieldName)_reasons").attr("value", ";#;#");
                $("#@(fieldName)_featured").removeAttr("checked");
                $("#@(fieldName)_featured").attr("disabled", true);
            }

            var originalTriggerMarketing = $(".original .trigger-marketing");
            if (originalTriggerMarketing.length) {
                originalTriggerMarketing.hide();
            }
            var clonedTriggerMarketing = $(".cloned .trigger-marketing");
            if (clonedTriggerMarketing.length) {
                clonedTriggerMarketing.parent().parent().hide();
                clonedTriggerMarketing.appendTo(".btn-group.dropup");
            }
            var triggerMarketing = $(".trigger-marketing");
            if (triggerMarketing.length && !clonedTriggerMarketing.length && !originalTriggerMarketing.length) {
                triggerMarketing.parent().parent().hide();
                triggerMarketing.appendTo(".btn-group.dropup");
            }
        });

        $(document).on("click", "#@(fieldName)_notify", function () {
            if ($(this).is(':checked')) {
                $("#fieldDef_FieldDefinition_txtReasons").show();
                $("#@(fieldName)_featured").removeAttr("disabled");
            }
            else {
                $("#fieldDef_FieldDefinition_txtReasons").hide();
                $("#fieldDef_FieldDefinition_txtReasons").val('');
                $("#@(fieldName)_reasons").attr("value", ";#;#");
                $("#@(fieldName)_featured").removeAttr("checked");
                $("#@(fieldName)_featured").attr("disabled", true);
            }
        });

        $(document).on("keyup keypress", "#fieldDef_FieldDefinition_txtReasons", function () {
            $("#@(fieldName)_reasons").attr("value", ";#" + this.value + ";#");
        });
    </script>
</div>