﻿@model Mastercard.MarketingCenter.Data.Entities.FieldDefinition
@{
    var fieldName = Convert.ToString(ViewData["fieldName"]);
    var contentItemData = (IDictionary<string, object>)ViewData["contentItemData"];
    VanityUrlSettings settings;
    var url = string.Empty;
    var value = Convert.ToString(contentItemData.GetData(fieldName));

    if (string.IsNullOrEmpty(value))
    {
        settings = Html.GetVanityUrlSettings(Model);
        url = settings.UrlPath.TrimEnd('/') + "/";
    }
    else
    {
        var str = Convert.ToString(contentItemData.GetData(fieldName));
        value = value.Substring(value.LastIndexOf('/') + 1, value.Length - 1 - value.LastIndexOf('/'));
        url = str.Replace(value, string.Empty);
    }
}
<div class="input-group">
    <div class="input-group-addon">@url</div>
    @Html.Hidden(fieldName + "_url", url)
    @Html.TextBox(fieldName, value, new { @class = "form-control" })
</div>