﻿@using Mastercard.MarketingCenter.Services.Interfaces;
@using CommonConstants = Mastercard.MarketingCenter.Common.Infrastructure.Constants;
@model Mastercard.MarketingCenter.Web.Core.Models.Search.SearchModel
@section Title {
    @Resources.Forms.Search_Title
}
@{
    var urlService = DependencyResolver.Current.GetService<IUrlService>();
    ViewBag.Title = "Index";
}


@System.Web.Optimization.Styles.Render(DependencyResolver.Current.GetService<IUrlService>().GetStaticSearchCss())
@System.Web.Optimization.Scripts.Render(DependencyResolver.Current.GetService<IUrlService>().GetStaticSearchJs())

<script>
    $(document).ready(function () {
        Vue.prototype.createdDaysAgo = "@Resources.Shared.CreatedDaysAgo";
        Vue.prototype.updatedDaysAgo = "@Resources.Shared.UpdatedDaysAgo";
        initializeSearchResults('@Url.Action("GetSearchResults", "Search")', @Model.ResultsCount);
    });

</script>
<div id="search-results">
    <div class="page-section carousel-section slides-section featured-section" id="divFeaturedSearchResults">
        <template>
            <div v-if="model_featured_result.length">
                <div class="carousel pausing-carousel cold-colors">
                    <div ID="repFeaturedSearchResults">
                        <section class="carousel-slide cold-colors" v-for="featuredResult in model_featured_result">
                            <div class="slick-inner slick-img-text tac content-spaces-in">
                                <div class="row">
                                    <div class="col-sm-3 image" id="imageTerm" visible="False">
                                        <a :href="featuredResult.Url">
                                            <span class="thumb">
                                                <img :src="featuredResult.Image" ID="Image" CssClass="img-responsive" alt="" />
                                            </span>
                                        </a>
                                    </div>
                                    <div class="col-sm-8 text">
                                        <span class="label-tag">featured</span>
                                        <h1>
                                            <a :href="featuredResult.Url">{{ featuredResult.Title }}</a>
                                        </h1>
                                        <p>
                                            {{ featuredResult.Copy }}
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
        </template>
    </div>

    <div class="content-container results-list-wrap search-results-content">
        <header class="content-header content-spaces-out">
            <h1 class="h2">@Resources.Forms.Search_Title</h1>
            <p class="p3 search-stat">
                {{ searchCount }} @Html.Raw(string.Format(Resources.Forms.SearchResultsCount, Model.SearchQuery))
            </p>
            <div id="search-dropdown" class="search-dropdown" defaultSortDisplay="@Resources.Shared.Relevance">
                <div id="searchTitle" style="display:none">{{ filters.searchQuery }}</div>
                <div class="search-dropdown-selected">
                    <strong v-show="filters.sortBy==='@CommonConstants.SearchOrderOption.Relevance'">@Resources.Shared.SortBy @Resources.Shared.Relevance</strong>
                    <strong v-show="filters.sortBy==='@CommonConstants.SearchOrderOption.Visits'">@Resources.Shared.SortBy @Resources.Shared.Visits</strong>
                    <strong v-show="filters.sortBy==='@CommonConstants.SearchOrderOption.RecentlyUpdatedDate'">@Resources.Shared.SortBy @Resources.Shared.RecentlyUpdatedDate</strong>
                    <em class="fa fa-angle-down"></em>
                </div>
                <div class="search-dropdown-options">
                    <ul>
                        <li v-bind:class="{ 'selected': filters.sortBy==='@CommonConstants.SearchOrderOption.Relevance' }" v-on:click="updateSortBy('@CommonConstants.SearchOrderOption.Relevance', '@CommonConstants.OfferOrderDirection.Ascendant')">@Resources.Shared.Relevance</li>
                        <li v-bind:class="{ 'selected': filters.sortBy==='@CommonConstants.SearchOrderOption.Visits' }" v-on:click="updateSortBy('@CommonConstants.SearchOrderOption.Visits', '@CommonConstants.OfferOrderDirection.Ascendant')">@Resources.Shared.Visits</li>
                        <li v-bind:class="{ 'selected': filters.sortBy==='@CommonConstants.SearchOrderOption.RecentlyUpdatedDate' }" v-on:click="updateSortBy('@CommonConstants.SearchOrderOption.RecentlyUpdatedDate', '@CommonConstants.OfferOrderDirection.Ascendant')">@Resources.Shared.RecentlyUpdatedDate</li>
                    </ul>
                </div>
            </div>
        </header>
        <hr />
        <div v-if="model_result.length">
            <div class="content-body content-spaces-out">
                <div class="row">
                    <div class="col-sm-12">
                        <ul class="results-list reset">
                            <li v-for="result in model_result">
                                <a class="result-name" v-bind:href="result.DisplayUrl" @@click="postback($event, result.DisplayUrl)">{{ result.Title }}</a>
                                <div class="meta">
                                    <template>
                                        <span v-if="result.New" id="spanStatus" class="status new" data-toggle="tooltip" data-placement="bottom" title :data-original-title="formatString(createdDaysAgo, result.DaysSinceCreated)">New</span>
                                        <span v-if="result.Updated && !result.New" id="spanStatus" class="status updated" data-toggle="tooltip" data-placement="bottom" title :data-original-title="formatString(updatedDaysAgo, result.DaysSinceUpdated)">Updated</span>
                                        <span v-if="!result.New && !result.Updated" id="spanStatus"></span>
                                    </template>
                                </div>
                                <div class="result-desc" v-html="result.Description"></div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="content-body content-spaces-out" v-if="isLoading" style="text-align:center"><img src="@urlService.GetLoadingGifURL()" alt="" /></div>
        </div>
    </div>
</div>